Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

chore: update to package.json
  packages/svelte-intlayer/package.json
Due: prettier --write

chore: update to test svelte application
  eslint.config.mjs
  examples/vite-svelte-app/src/App.svelte
  examples/vite-svelte-app/src/Content.svelte
  package.json
  packages/svelte-intlayer/src/routes/+page.svelte
  pnpm-lock.yaml
Due: prettier --write

fix: updated svelte docs
  examples/vite-svelte-app/src/App.svelte
Due: none

fix: resolve version conflict in package.json
  packages/svelte-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(svelte-intlayer): update ESLint and TypeScript configurations for improved compatibility
  packages/svelte-intlayer/eslint.config.js
  packages/svelte-intlayer/src/lib/utils/getIntLayer.ts
  packages/svelte-intlayer/tsconfig.json
Due: prettier --write, eslint --fix --cache

fix(design-system): restore HTML parsing in MarkdownProcessor for improved rendering
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: prettier --write, eslint --fix --cache

fix(design-system): restore ring in button
  packages/@intlayer/design-system/src/components/Button/Button.tsx
Due: prettier --write, eslint --fix --cache

feat(docs): add comparison images and new summaries for i18n options in Next.js
  docs/assets/i18next-next-intl-intlayer.png
  docs/blog/de/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en-GB/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/es/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/fr/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/it/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ja/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ko/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/pt/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/tr/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/zh/next-i18next_vs_next-intl_vs_intlayer.md
  packages/@intlayer/chokidar/src/writeConfiguration/index.ts
Due: prettier --write, eslint --fix --cache

refactor(docs): update i18n structure and middleware examples for Next.js integration
  docs/blog/ar/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/de/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en-GB/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en/intlayer_with_next-i18next.mdx
  docs/blog/en/intlayer_with_next-intl.mdx
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/es/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/fr/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/it/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ja/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ko/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/pt/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ru/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/zh/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

doc: standardize header levels for middleware section across i18n documentation
  docs/blog/ar/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en/intlayer_with_next-i18next.mdx
  docs/blog/en/intlayer_with_next-intl.mdx
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

doc: add note on optimizing bundle size with intlayer configuration in i18next vs next-intl comparison
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

fix(website): restore .env.template file for environment variable configuration in the website
  apps/website/.env.template
Due: none

style(website): standardize comment formatting in .env.template for clarity
  apps/website/.env.template
Due: none

feat(nextjs-15-app): fix build by adding missing translation
  examples/nextjs-15-app/src/components/homeContent.content.ts
Due: prettier --write, eslint --fix --cache

feat(config): add bundleJSFile function for building JavaScript files and enhance configuration retrieval with plugins support
  packages/@intlayer/config/src/bundleJSFile.ts
Due: prettier --write, eslint --fix --cache

feat(design-system): enhance useSearchDoc hook to enable query based on input length
  packages/@intlayer/design-system/src/hooks/reactQuery.ts
Due: prettier --write, eslint --fix --cache

refactor(config): streamline alias resolution in webpack and metro configurations
  packages/angular-intlayer/src/webpack/mergeConfig.ts
  packages/react-native-intlayer/src/configMetroIntlayer.ts
  packages/react-scripts-intlayer/src/intlayerCracoPlugin.ts
Due: prettier --write, eslint --fix --cache

feat(config): add getConfigurationAndFilePath function and enhance configuration exports
  packages/@intlayer/config/src/configFile/getConfiguration.ts
  packages/@intlayer/config/src/index.ts
Due: prettier --write, eslint --fix --cache

feat(config): add support for custom plugins configuration in build settings
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/types/config.ts
Due: prettier --write, eslint --fix --cache

refactor(config): restore configuration writing and write it at first in prepareIntlayer
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
  packages/@intlayer/chokidar/src/writeConfiguration/index.ts
Due: prettier --write, eslint --fix --cache

refactor(dependencies): update package references and streamline peer dependencies in configuration
  apps/website/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/chokidar/src/writeContentDeclaration/test.content.test.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/transformJSFile.test.ts
  packages/@intlayer/config/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

refactor(website): fix pricing data fetching
  apps/website/src/app/[locale]/(landing)/pricing/page.tsx
Due: prettier --write, eslint --fix --cache

refactor(design-system): move getCapitals function to Avatar component and remove unused capitalize utility
  packages/@intlayer/design-system/src/components/Avatar/index.tsx
  packages/@intlayer/design-system/src/utils/capitalize.ts
  packages/@intlayer/design-system/src/utils/isEmpty.ts
Due: prettier --write, eslint --fix --cache

refactor(config): update alias formatter in Metro configuration to return raw value
  packages/react-native-intlayer/src/configMetroIntlayer.ts
Due: prettier --write, eslint --fix --cache

refactor(react-native-intlayer): upgrade Expo version to 54.0.12 across multiple packages and update related dependencies in package.json files
  examples/react-native-app/package.json
  packages/lynx-intlayer/package.json
  packages/react-native-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(core): add polyfills for Intl.DisplayNames and related functionalities in development environment
  packages/@intlayer/core/src/utils/intl.ts
Due: prettier --write, eslint --fix --cache

refactor(react-native-intlayer): update Expo and metro-resolver version constraints, enhance Metro configuration handling
  packages/react-native-intlayer/package.json
  packages/react-native-intlayer/src/configMetroIntlayer.ts
Due: prettier --write, eslint --fix --cache

refactor(design-system): restore breadcrumb component style
  apps/website/src/components/DocPage/DocBreadCrumb.tsx
  packages/@intlayer/design-system/src/components/Breadcrumb/index.tsx
Due: prettier --write, eslint --fix --cache

refactor(next-intlayer): update locale detection and resolution types, add getLocaleFromHeaders utility
  packages/@intlayer/core/src/localization/localeDetector.ts
  packages/@intlayer/core/src/localization/localeResolver.ts
  packages/next-intlayer/src/server/getLocaleFromHeaders.ts
  packages/next-intlayer/src/server/index.ts
Due: prettier --write, eslint --fix --cache

doc: add documentation for `getLocale` function in Server Actions for Next.js integration
  docs/docs/en/intlayer_with_nextjs_14.md
  docs/docs/en/intlayer_with_nextjs_15.md
Due: prettier --write

feat(next-intlayer): rename getLocaleFromHeader into getLocale function
  packages/next-intlayer/src/server/getLocale.ts
Due: prettier --write, eslint --fix --cache

fix(next-intlayer): update export to use getLocale function instead of getLocaleFromHeaders
  packages/next-intlayer/src/server/index.ts
Due: prettier --write, eslint --fix --cache

chore: bump version to 6.1.6-canary.0 across all packages
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

doc: enhance documentation for `getLocale` function with detailed cascading locale detection strategy
  docs/docs/en/intlayer_with_nextjs_14.md
  docs/docs/en/intlayer_with_nextjs_15.md
  packages/next-intlayer/src/server/getLocale.ts
Due: prettier --write, eslint --fix --cache

Fix avatar padding in Navbar and ProfileDropDown
  apps/website/src/components/Navbar/index.tsx
  apps/website/src/components/ProfileDropdown/ProfileDropDown/index.tsx
Due: prettier --write, eslint --fix --cache

feat(react-native-intlayer): add IntlayerProvider component and update documentation for React Native integration
  docs/docs/en/intlayer_with_react_native+expo.md
  packages/react-native-intlayer/package.json
  packages/react-native-intlayer/src/intlayerProvider.tsx
  packages/react-native-intlayer/tsconfig.json
  packages/react-native-intlayer/tsconfig.types.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

feat(astro-react-app): add new Astro example with Tailwind CSS integration and related configurations
  apps/backend/Dockerfile
  apps/website/Dockerfile
  examples/astro-react-app/.gitignore
  examples/astro-react-app/README.md
  examples/astro-react-app/astro.config.mjs
  examples/astro-react-app/package.json
  examples/astro-react-app/public/favicon.svg
  examples/astro-react-app/src/components/Button.astro
  examples/astro-react-app/src/layouts/main.astro
  examples/astro-react-app/src/pages/index.astro
  examples/astro-react-app/src/pages/markdown-page.md
  examples/astro-react-app/src/styles/global.css
  examples/astro-react-app/tsconfig.json
  packages/@intlayer/design-system/Dockerfile
  packages/astro-intlayer/.npmignore
  packages/astro-intlayer/.prettierignore
  packages/astro-intlayer/README.md
  packages/astro-intlayer/eslint.config.mjs
  packages/astro-intlayer/package.json
  packages/astro-intlayer/src/index.ts
  packages/astro-intlayer/tsconfig.json
  packages/astro-intlayer/tsconfig.types.json
  packages/astro-intlayer/tsup.config.ts
  packages/astro-intlayer/vitest.config.ts
  pnpm-lock.yaml
  scripts/package-build-order.mjs
Due: prettier --write, eslint --fix --cache

refactor(blog): swap descriptions for next-i18next and next-intl, enhance clarity on TypeScript support and routing capabilities
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix --cache: any of: *.{js,jsx,ts,tsx}
