Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

refactor(docs): clarify installation instructions for intlayer-cli package in FAQ
  docs/ar/intlayer_cli.md
  docs/ar/packages/intlayer-cli/index.md
  docs/de/intlayer_cli.md
  docs/de/packages/intlayer-cli/index.md
  docs/en-GB/intlayer_cli.md
  docs/en-GB/packages/intlayer-cli/index.md
  docs/en/frequent_questions/intlayer_command_undefined.md
  docs/en/intlayer_cli.md
  docs/en/packages/intlayer-cli/index.md
  docs/es/intlayer_cli.md
  docs/es/packages/intlayer-cli/index.md
  docs/fr/intlayer_cli.md
  docs/fr/packages/intlayer-cli/index.md
  docs/hi/intlayer_cli.md
  docs/hi/packages/intlayer-cli/index.md
  docs/it/intlayer_cli.md
  docs/it/packages/intlayer-cli/index.md
  docs/ja/intlayer_cli.md
  docs/ja/packages/intlayer-cli/index.md
  docs/ko/intlayer_cli.md
  docs/ko/packages/intlayer-cli/index.md
  docs/pt/intlayer_cli.md
  docs/pt/packages/intlayer-cli/index.md
  docs/ru/intlayer_cli.md
  docs/ru/packages/intlayer-cli/index.md
  docs/zh/intlayer_cli.md
  docs/zh/packages/intlayer-cli/index.md
  packages/intlayer-cli/README.md
Due: prettier --write

refactor(cli): update intlayer CLI manual to include new commands and options for enhanced functionality
  packages/@intlayer/cli/man/intlayer.1
Due: none

refactor(config): replace appLogger with getAppLogger
  packages/@intlayer/chokidar/src/checkDictionaryChanges.ts
  packages/@intlayer/chokidar/src/chokidar/watcher.ts
  packages/@intlayer/chokidar/src/fetchDistantDictionaries.ts
  packages/@intlayer/chokidar/src/listGitFiles.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadDictionaries.ts
  packages/@intlayer/chokidar/src/mergeDictionaries.ts
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/formatCode.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeJSFile.ts
  packages/@intlayer/cli/src/config.ts
  packages/@intlayer/cli/src/fill.ts
  packages/@intlayer/cli/src/listContentDeclaration.ts
  packages/@intlayer/cli/src/pull.ts
  packages/@intlayer/cli/src/push.ts
  packages/@intlayer/cli/src/pushConfig.ts
  packages/@intlayer/config/package.json
  packages/@intlayer/config/src/appLoggerClient.ts
  packages/@intlayer/config/src/appLoggerServer.ts
  packages/@intlayer/config/src/client.ts
  packages/@intlayer/config/src/configFile/getConfiguration.ts
  packages/@intlayer/config/src/configFile/searchConfigurationFile.ts
  packages/@intlayer/config/src/index.ts
  packages/@intlayer/config/src/logger.ts
  packages/@intlayer/core/src/transpiler/file/file.ts
  packages/@intlayer/webpack/src/webpack.config.ts
  packages/express-intlayer/src/index.ts
  packages/react-scripts-intlayer/src/cli/react-scripts-intlayer.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

refactor(cli): enhance CLI options handling and logging functionality
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/config/src/logger.ts
Due: prettier --write, eslint --fix --cache

refactor(cli): simplify logging in fill function by removing options from log message
  packages/@intlayer/cli/src/fill.ts
Due: prettier --write, eslint --fix --cache

refactor(docs): remove manual page reference from CLI documentation across multiple languages
  docs/ar/intlayer_cli.md
  docs/de/intlayer_cli.md
  docs/en/intlayer_cli.md
  docs/es/intlayer_cli.md
  docs/fr/intlayer_cli.md
  docs/hi/intlayer_cli.md
  docs/it/intlayer_cli.md
  docs/ja/intlayer_cli.md
  docs/ko/intlayer_cli.md
  docs/pt/intlayer_cli.md
  docs/ru/intlayer_cli.md
  docs/zh/intlayer_cli.md
Due: prettier --write

refactor(docs): remove the intlayer manual page as part of documentation cleanup
  packages/@intlayer/cli/man/intlayer.1
Due: none

refactor(docs): update CLI help command examples for clarity and consistency
  docs/en/intlayer_cli.md
Due: prettier --write

feat(backend): add timestamp to messages in ChatBot and related components
  apps/backend/src/controllers/ai.controller.ts
  apps/backend/src/utils/AI/askDocQuestion/askDocQuestion.ts
  apps/website/src/components/ChatBot/MessagesList.tsx
  apps/website/src/components/ChatBot/index.tsx
Due: prettier --write, eslint --fix --cache

chore: update all package versions from 5.5.0-canary.0 to 5.5.0
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

refactor(docs): update locale files to use Spanish content and filenames
  docs/ar/dictionary/per_locale_file.md
  docs/de/dictionary/per_locale_file.md
  docs/en/dictionary/per_locale_file.md
  docs/es/dictionary/per_locale_file.md
  docs/fr/dictionary/per_locale_file.md
  docs/hi/dictionary/per_locale_file.md
  docs/it/dictionary/per_locale_file.md
  docs/ja/dictionary/per_locale_file.md
  docs/ko/dictionary/per_locale_file.md
  docs/pt/dictionary/per_locale_file.md
  docs/ru/dictionary/per_locale_file.md
  docs/zh/dictionary/per_locale_file.md
Due: prettier --write

refactor(docs): remove content file monitoring and dictionary interpretation sections from how_works_intlayer documentation
  docs/en-GB/how_works_intlayer.md
  docs/en/how_works_intlayer.md
Due: prettier --write

feat(docs): add per-locale content declaration files in multiple languages
  apps/website/src/Routes.ts
  apps/website/src/components/DocPage/docData.ts
  docs/ar/per_locale_file.md
  docs/de/per_locale_file.md
  docs/en-GB/per_locale_file.md
  docs/en/per_locale_file.md
  docs/es/per_locale_file.md
  docs/fr/per_locale_file.md
  docs/hi/per_locale_file.md
  docs/index.cjs
  docs/it/per_locale_file.md
  docs/ja/per_locale_file.md
  docs/ko/per_locale_file.md
  docs/pt/per_locale_file.md
  docs/ru/per_locale_file.md
  docs/zh/per_locale_file.md
Due: prettier --write, eslint --fix --cache

fix(website): consolidate discussionId regeneration
  apps/website/src/components/ChatBot/index.tsx
Due: prettier --write, eslint --fix --cache

feat(backend): add condition to persist discussion based on user message length
  apps/backend/src/controllers/ai.controller.ts
Due: prettier --write, eslint --fix --cache

refactor(docs): remove unused import statements from autoFill documentation across multiple languages
  docs/ar/autoFill.md
  docs/de/autoFill.md
  docs/en/autoFill.md
  docs/es/autoFill.md
  docs/fr/autoFill.md
  docs/hi/autoFill.md
  docs/it/autoFill.md
  docs/ja/autoFill.md
  docs/ko/autoFill.md
  docs/pt/autoFill.md
  docs/ru/autoFill.md
  docs/zh/autoFill.md
Due: prettier --write

refactor(docs): update content descriptions and examples in multiple languages for clarity and consistency
  docs/ar/interest_of_intlayer.md
  docs/de/interest_of_intlayer.md
  docs/en/interest_of_intlayer.md
  docs/es/interest_of_intlayer.md
  docs/fr/interest_of_intlayer.md
  docs/hi/interest_of_intlayer.md
  docs/it/interest_of_intlayer.md
  docs/ja/interest_of_intlayer.md
  docs/ko/interest_of_intlayer.md
  docs/pt/interest_of_intlayer.md
  docs/ru/interest_of_intlayer.md
  docs/zh/interest_of_intlayer.md
Due: prettier --write

feat(chokidar): add optional dictionariesKeys parameter to filter dictionary paths in createDictionaryEntryPoint
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_main/createDictionaryEntryPoint.ts
Due: prettier --write, eslint --fix --cache

feat(vite-react-app): enhance configuration to test bundle result
  examples/vite-react-app/intlayer.config.ts
  examples/vite-react-app/tsconfig.json
  examples/vite-react-app/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

core: update esbuild-fix-imports-plugin
  apps/backend/package.json
  pnpm-lock.yaml
  utils/tsup-config/package.json
Due: prettier --write

chore: fix framer-motion to version 12.12.2 across multiple packages
  apps/website/package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(fill): make sourceLocale optional in FillOptions type
  packages/@intlayer/cli/src/fill.ts
Due: prettier --write, eslint --fix --cache

fix(fill): throw error when AI options or API key are not provided
  packages/@intlayer/cli/src/fill.ts
Due: prettier --write, eslint --fix --cache

feat(next-15-app): implement language switcher component with search functionality and integrate into layout
  examples/nextjs-15-app/package.json
  examples/nextjs-15-app/src/app/[locale]/layout.tsx
  examples/nextjs-15-app/src/app/[locale]/page.tsx
  examples/nextjs-15-app/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  examples/nextjs-15-app/src/components/LocaleSwitcher/localeSwitcher.content.ts
  examples/nextjs-15-app/src/components/LocaleSwitcher/useLocaleSearch.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

fix(website): add 'use client' directive to fix AnimatePresenceProvider
  apps/website/package.json
  apps/website/src/providers/AnimatePresenceProvider.tsx
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/client/src/components/AnimatePresenceProvider.tsx
  packages/intlayer-editor/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

feat(next-15-app): add Link component for enhanced navigation with localization support
  examples/nextjs-15-app/src/components/Link/Link.tsx
  examples/nextjs-15-app/src/components/LocaleSwitcher/LocaleSwitcher.tsx
Due: prettier --write, eslint --fix --cache

fix(website): enable console removal in production builds
  apps/website/next.config.mjs
Due: none

feat(script-dev-package): implement debounced file change handling for build commands
  scripts/script-dev-package-command.mjs
Due: none

fix(next-intlayer): add prefetch request detection into middleware
  packages/next-intlayer/src/middleware/intlayerMiddleware.ts
Due: prettier --write, eslint --fix --cache

chore: bump version to 5.5.1 for all packages
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

chore(vite-intlayer): implement Babel dependencies and add automatic transformation for useIntlayer calls
  examples/react-native-app/package.json
  examples/vite-react-app/src/App.tsx
  packages/@intlayer/babel/.npmignore
  packages/@intlayer/babel/.prettierignore
  packages/@intlayer/babel/README.md
  packages/@intlayer/babel/eslint.config.mjs
  packages/@intlayer/babel/package.json
  packages/@intlayer/babel/src/babel-plugin-intlayer.ts
  packages/@intlayer/babel/src/index.ts
  packages/@intlayer/babel/tsconfig.json
  packages/@intlayer/babel/tsconfig.types.json
  packages/@intlayer/babel/tsup.config.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_main/createDictionaryEntryPoint.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_main/generateDictionaryListContent.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_main/index.ts
  packages/react-intlayer/src/client/useDictionary.ts
  packages/vite-intlayer/README.md
  packages/vite-intlayer/src/index.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
  pnpm-lock.yaml
  scripts/package-build-order.mjs
Due: prettier --write, eslint --fix --cache

refactor(next-intlayer): remove console logs and prefetch request handling from middleware
  packages/next-intlayer/src/middleware/intlayerMiddleware.ts
Due: prettier --write, eslint --fix --cache

chore: bump version to 5.5.2 for all packages
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

feat(website): implement search functionality for documentation and blog with backend integration
  apps/backend/src/controllers/search.controller.ts
  apps/backend/src/export.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/search.routes.ts
  apps/backend/src/utils/AI/askDocQuestion/askDocQuestion.ts
  apps/website/src/app/[locale]/(landing)/blog/search/page.tsx
  apps/website/src/components/BlogPage/BlogNavList.tsx
  apps/website/src/components/BlogPage/Search/SearchTrigger.tsx
  apps/website/src/components/BlogPage/Search/SearchView.tsx
  apps/website/src/components/BlogPage/Search/searchTrigger.content.ts
  apps/website/src/components/BlogPage/Search/searchView.content.ts
  apps/website/src/components/BlogPage/blogData.ts
  apps/website/src/components/DocPage/Search/SearchView.tsx
  apps/website/src/components/DocPage/Search/searchTrigger.content.ts
  apps/website/src/components/DocPage/Search/searchView.content.ts
  packages/@intlayer/api/src/getIntlayerAPI/index.ts
  packages/@intlayer/api/src/getIntlayerAPI/search.ts
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
  packages/@intlayer/design-system/src/hooks/useAsync/useAsync.ts
Due: prettier --write, eslint --fix --cache

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix --cache: any of: *.{js,jsx,ts,tsx}
