Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --cache"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore(mcp): remove mcp-proxy from package.json scripts and dependencies
  packages/@intlayer/mcp/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(mcp): simplify tool schema definitions by inlining schemas in server.tool calls
  packages/@intlayer/mcp/src/index.ts
Due: prettier --write, eslint --fix --cache

feat(design-system): add CopyCode component and related content for code copying functionality
  packages/@intlayer/design-system/src/components/IDE/Code.tsx
  packages/@intlayer/design-system/src/components/IDE/CopyCode.tsx
  packages/@intlayer/design-system/src/components/IDE/code.content.ts
  packages/@intlayer/design-system/src/components/IDE/copyCode.content.ts
Due: prettier --write, eslint --fix --cache

feat(docs): add YouTube iframe to Intlayer documentation across multiple languages
  docs/docs/ar/intlayer_with_vite+react.md
  docs/docs/de/intlayer_with_vite+react.md
  docs/docs/en-GB/intlayer_with_vite+react.md
  docs/docs/en/intlayer_with_vite+react.md
  docs/docs/es/intlayer_with_vite+react.md
  docs/docs/fr/intlayer_with_vite+react.md
  docs/docs/hi/intlayer_with_vite+react.md
  docs/docs/it/intlayer_with_vite+react.md
  docs/docs/ja/intlayer_with_vite+react.md
  docs/docs/ko/intlayer_with_vite+react.md
  docs/docs/pt/intlayer_with_vite+react.md
  docs/docs/ru/intlayer_with_vite+react.md
  docs/docs/zh/intlayer_with_vite+react.md
Due: prettier --write

fix(design-system): set isFocusable prop to false on popover
  packages/@intlayer/design-system/src/components/Popover/index.tsx
Due: prettier --write, eslint --fix --cache

feat(mcp): implement SSE and stdio server transports, add CLI tools for dictionary management
  .cursor/mcp.json
  .vscode/mcp.json
  packages/@intlayer/mcp/.env.template
  packages/@intlayer/mcp/package.json
  packages/@intlayer/mcp/src/client/index.ts
  packages/@intlayer/mcp/src/index.ts
  packages/@intlayer/mcp/src/server/server.ts
  packages/@intlayer/mcp/src/server/sse.ts
  packages/@intlayer/mcp/src/server/stdio.ts
  packages/@intlayer/mcp/src/tools/cli.ts
  packages/@intlayer/mcp/src/tools/docs.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

chore(assets): update frameworks image to reflect recent design changes
  docs/assets/frameworks.png
Due: none

fix(design-system): update import for useDictionary to client-side usage in CopyCode component
  packages/@intlayer/design-system/src/components/IDE/CopyCode.tsx
Due: prettier --write, eslint --fix --cache

doc(readme): update cross-frameworks support section to include Nuxt
  README.md
Due: prettier --write

feat(nextjs): add transpilePackages option for @intlayer/design-system
  examples/nextjs-15-app/next.config.ts
Due: prettier --write, eslint --fix --cache

fix(docs): update YouTube iframe source to use embed link in multiple language documentation
  docs/docs/ar/intlayer_with_vite+react.md
  docs/docs/de/intlayer_with_vite+react.md
  docs/docs/en-GB/intlayer_with_vite+react.md
  docs/docs/en/intlayer_with_vite+react.md
  docs/docs/es/intlayer_with_vite+react.md
  docs/docs/fr/intlayer_with_vite+react.md
  docs/docs/hi/intlayer_with_vite+react.md
  docs/docs/it/intlayer_with_vite+react.md
  docs/docs/ja/intlayer_with_vite+react.md
  docs/docs/ko/intlayer_with_vite+react.md
  docs/docs/pt/intlayer_with_vite+react.md
  docs/docs/ru/intlayer_with_vite+react.md
  docs/docs/zh/intlayer_with_vite+react.md
Due: prettier --write

chore(nextjs): add @intlayer/design-system to transpilePackages in website config
  apps/website/next.config.mjs
  examples/nextjs-15-app/next.config.ts
Due: prettier --write, eslint --fix --cache

feat(docs): add ApplicationTemplateMessage and YoutubeVideoMessage components with multilingual support
  apps/website/src/components/DocPage/ApplicationTemplateMessage/GithubLogo.tsx
  apps/website/src/components/DocPage/ApplicationTemplateMessage/index.content.ts
  apps/website/src/components/DocPage/ApplicationTemplateMessage/index.tsx
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
  apps/website/src/components/DocPage/YoutubeVideoMessage/YoutubeLogo.tsx
  apps/website/src/components/DocPage/YoutubeVideoMessage/index.content.ts
  apps/website/src/components/DocPage/YoutubeVideoMessage/index.tsx
Due: prettier --write, eslint --fix --cache

refactor(docs): replace fragment with header element in DocHeader component for improved semantics
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
Due: prettier --write, eslint --fix --cache

fix(website): update TranslatedContentMessage to use relativeUrl for correct page linking
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
Due: prettier --write, eslint --fix --cache

fix(website): update ContributionMessage link to use direct GitHub URL for editing
  apps/website/src/components/DocPage/ContributionMessage/index.tsx
Due: prettier --write, eslint --fix --cache

refactor(website): remove link components from ApplicationTemplateMessage and YoutubeVideoMessage for cleaner presentation
  apps/website/src/components/DocPage/ApplicationTemplateMessage/index.content.ts
  apps/website/src/components/DocPage/ApplicationTemplateMessage/index.tsx
  apps/website/src/components/DocPage/YoutubeVideoMessage/index.content.ts
  apps/website/src/components/DocPage/YoutubeVideoMessage/index.tsx
Due: prettier --write, eslint --fix --cache

refactor(website): wrap header in fragment for improved structure in DocHeader component
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
Due: prettier --write, eslint --fix --cache

fix(website): fix label ApplicationTemplateMessage and YoutubeVideoMessage
  apps/website/src/components/DocPage/ApplicationTemplateMessage/index.content.ts
  apps/website/src/components/DocPage/ApplicationTemplateMessage/index.tsx
  apps/website/src/components/DocPage/YoutubeVideoMessage/index.content.ts
  apps/website/src/components/DocPage/YoutubeVideoMessage/index.tsx
Due: prettier --write, eslint --fix --cache

doc: add youtubeVideo metadata to documentation files for multilingual support
  docs/docs/ar/intlayer_CMS.md
  docs/docs/ar/intlayer_visual_editor.md
  docs/docs/ar/intlayer_with_vite+react.md
  docs/docs/de/intlayer_CMS.md
  docs/docs/de/intlayer_visual_editor.md
  docs/docs/de/intlayer_with_vite+react.md
  docs/docs/en-GB/intlayer_CMS.md
  docs/docs/en-GB/intlayer_visual_editor.md
  docs/docs/en-GB/intlayer_with_vite+react.md
  docs/docs/en/intlayer_CMS.md
  docs/docs/en/intlayer_visual_editor.md
  docs/docs/en/intlayer_with_vite+react.md
  docs/docs/es/intlayer_CMS.md
  docs/docs/es/intlayer_visual_editor.md
  docs/docs/es/intlayer_with_vite+react.md
  docs/docs/fr/intlayer_CMS.md
  docs/docs/fr/intlayer_visual_editor.md
  docs/docs/fr/intlayer_with_vite+react.md
  docs/docs/hi/intlayer_CMS.md
  docs/docs/hi/intlayer_visual_editor.md
  docs/docs/hi/intlayer_with_vite+react.md
  docs/docs/it/intlayer_CMS.md
  docs/docs/it/intlayer_visual_editor.md
  docs/docs/it/intlayer_with_vite+react.md
  docs/docs/ja/intlayer_CMS.md
  docs/docs/ja/intlayer_visual_editor.md
  docs/docs/ja/intlayer_with_vite+react.md
  docs/docs/ko/intlayer_CMS.md
  docs/docs/ko/intlayer_visual_editor.md
  docs/docs/ko/intlayer_with_vite+react.md
  docs/docs/pt/intlayer_CMS.md
  docs/docs/pt/intlayer_visual_editor.md
  docs/docs/pt/intlayer_with_vite+react.md
  docs/docs/ru/intlayer_CMS.md
  docs/docs/ru/intlayer_visual_editor.md
  docs/docs/ru/intlayer_with_vite+react.md
  docs/docs/zh/intlayer_CMS.md
  docs/docs/zh/intlayer_visual_editor.md
  docs/docs/zh/intlayer_with_vite+react.md
Due: prettier --write

refactor(website): simplify ApplicationTemplateMessage URL handling and reorganize DocHeader layout for clarity
  apps/website/src/components/DocPage/ApplicationTemplateMessage/index.tsx
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
Due: prettier --write, eslint --fix --cache

refactor(website): adjust xAlign property in ContributionMessage, remove from MCPMessage and SummarizeAI for consistent alignment
  apps/website/src/components/DocPage/ContributionMessage/index.tsx
  apps/website/src/components/DocPage/MCPMessage/index.tsx
  apps/website/src/components/DocPage/SummarizeAI/SummarizeAI.tsx
Due: prettier --write, eslint --fix --cache

refactor(website): reposition TranslatedContentMessage in DocHeader for improved layout consistency
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
  apps/website/src/components/DocPage/TranslatedContentMessage/index.tsx
Due: prettier --write, eslint --fix --cache

feat(config): add Bengali language support into locales
  packages/@intlayer/config/src/types/locales.ts
Due: prettier --write, eslint --fix --cache

feat(mcp): enhance server and client setup with SSE support and configuration updates
  packages/@intlayer/mcp/.env.template
  packages/@intlayer/mcp/package.json
  packages/@intlayer/mcp/src/client/client.ts
  packages/@intlayer/mcp/src/client/sse.ts
  packages/@intlayer/mcp/src/server/server.ts
  packages/@intlayer/mcp/src/server/sse.ts
  packages/@intlayer/mcp/src/server/stdio.ts
Due: prettier --write, eslint --fix --cache

feat(server): add health check endpoint to SSE server for improved monitoring
  packages/@intlayer/mcp/src/server/sse.ts
Due: prettier --write, eslint --fix --cache

refactor(server): change sendMessages function declaration to arrow function syntax for consistency
  packages/@intlayer/mcp/src/server/sse.ts
Due: prettier --write, eslint --fix --cache

chore(mcp): update default command to start SSE instead of HTTP in Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

chore(docker): update MCP Docker command to use port 3000 for consistency with other services
  package.json
Due: prettier --write

refactor(website): update titles in MCPMessage and SummarizeAI components for clarity and consistency
  apps/website/src/components/DocPage/MCPMessage/index.content.ts
  apps/website/src/components/DocPage/SummarizeAI/summarizeAI.content.ts
Due: prettier --write, eslint --fix --cache

refactor(cli): update command options for dictionary management and improve line change detection in review process
  docs/tools/translate.ts
  packages/@intlayer/chokidar/src/listGitFiles.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/reviewDoc.ts
  packages/@intlayer/cli/src/utils/chunkInference.ts
Due: prettier --write, eslint --fix --cache

doc(cli, mcp): update documentation for CLI command parameters and MCP server
  docs/docs/ar/intlayer_cli.md
  docs/docs/ar/mcp_server.md
  docs/docs/de/intlayer_cli.md
  docs/docs/de/mcp_server.md
  docs/docs/en-GB/intlayer_cli.md
  docs/docs/en-GB/mcp_server.md
  docs/docs/en/intlayer_cli.md
  docs/docs/en/mcp_server.md
  docs/docs/es/intlayer_cli.md
  docs/docs/es/mcp_server.md
  docs/docs/fr/intlayer_cli.md
  docs/docs/fr/mcp_server.md
  docs/docs/hi/intlayer_cli.md
  docs/docs/hi/mcp_server.md
  docs/docs/it/intlayer_cli.md
  docs/docs/it/mcp_server.md
  docs/docs/ja/intlayer_cli.md
  docs/docs/ja/mcp_server.md
  docs/docs/ko/intlayer_cli.md
  docs/docs/ko/mcp_server.md
  docs/docs/pt/intlayer_cli.md
  docs/docs/pt/mcp_server.md
  docs/docs/ru/intlayer_cli.md
  docs/docs/ru/mcp_server.md
  docs/docs/zh/intlayer_cli.md
  docs/docs/zh/mcp_server.md
Due: prettier --write

refactor(cli): disable git line detection in reviewDoc to prevent file format issues
  packages/@intlayer/cli/src/reviewDoc.ts
Due: prettier --write, eslint --fix --cache

fix(docs): correct code block formatting in Italian and Russian CLI documentation
  docs/docs/ar/intlayer_cli.md
  docs/docs/de/intlayer_cli.md
  docs/docs/en-GB/intlayer_cli.md
  docs/docs/en/intlayer_cli.md
  docs/docs/es/intlayer_cli.md
  docs/docs/fr/intlayer_cli.md
  docs/docs/hi/intlayer_cli.md
  docs/docs/it/intlayer_cli.md
  docs/docs/ja/intlayer_cli.md
  docs/docs/ko/intlayer_cli.md
  docs/docs/pt/intlayer_cli.md
  docs/docs/ru/intlayer_cli.md
  docs/docs/zh/intlayer_cli.md
Due: prettier --write

fix(docs): standardize code block formatting across multiple language documentation files
  docs/docs/ar/intlayer_with_nextjs_15.md
  docs/docs/ar/intlayer_with_vite+vue.md
  docs/docs/ar/mcp_server.md
  docs/docs/de/intlayer_with_nextjs_15.md
  docs/docs/de/intlayer_with_vite+vue.md
  docs/docs/de/mcp_server.md
  docs/docs/en-GB/intlayer_with_nextjs_15.md
  docs/docs/en-GB/intlayer_with_vite+vue.md
  docs/docs/en-GB/mcp_server.md
  docs/docs/en/intlayer_with_nextjs_15.md
  docs/docs/en/intlayer_with_vite+vue.md
  docs/docs/en/mcp_server.md
  docs/docs/es/intlayer_with_nextjs_15.md
  docs/docs/es/intlayer_with_vite+vue.md
  docs/docs/es/mcp_server.md
  docs/docs/fr/intlayer_with_nextjs_15.md
  docs/docs/fr/intlayer_with_vite+vue.md
  docs/docs/fr/mcp_server.md
  docs/docs/hi/intlayer_with_nextjs_15.md
  docs/docs/hi/intlayer_with_vite+vue.md
  docs/docs/hi/mcp_server.md
  docs/docs/it/intlayer_with_nextjs_15.md
  docs/docs/it/intlayer_with_vite+vue.md
  docs/docs/it/mcp_server.md
  docs/docs/ja/intlayer_with_nextjs_15.md
  docs/docs/ja/intlayer_with_vite+vue.md
  docs/docs/ja/mcp_server.md
  docs/docs/ko/intlayer_with_nextjs_15.md
  docs/docs/ko/intlayer_with_vite+vue.md
  docs/docs/ko/mcp_server.md
  docs/docs/pt/intlayer_with_nextjs_15.md
  docs/docs/pt/intlayer_with_vite+vue.md
  docs/docs/pt/mcp_server.md
  docs/docs/ru/intlayer_with_nextjs_15.md
  docs/docs/ru/intlayer_with_vite+vue.md
  docs/docs/ru/mcp_server.md
  docs/docs/zh/intlayer_with_nextjs_15.md
  docs/docs/zh/intlayer_with_vite+vue.md
  docs/docs/zh/mcp_server.md
Due: prettier --write
