Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --cache"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(docs): rewrite documentation for clarity and structure
  README.md
Due: prettier --write

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

fix(docs): add new tutos
  README.md
Due: prettier --write

fix(docs): change cover image
  README.md
Due: prettier --write

fix(next-intlayer): resolve plugin path dynamically for SWC plugin configuration
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

chore(website): update build scripts to use turbopack for improved performance
  apps/website/package.json
Due: prettier --write

fix(next-intlayer): enhance resolvePluginPath function with debugging output
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

fix(next-intlayer): add return type annotation to resolvePluginPath function
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

refactor(cli): remove eventsource dependency from api package and add IntlayerEventListener to cli package
  packages/@intlayer/api/package.json
  packages/@intlayer/api/src/distantDictionary/index.ts
  packages/@intlayer/api/src/getIntlayerAPI/ai.ts
  packages/@intlayer/api/src/getIntlayerAPI/dictionary.ts
  packages/@intlayer/api/src/getIntlayerAPI/newsletter.ts
  packages/@intlayer/api/src/getIntlayerAPI/organization.ts
  packages/@intlayer/api/src/getIntlayerAPI/project.ts
  packages/@intlayer/api/src/getIntlayerAPI/search.ts
  packages/@intlayer/api/src/getIntlayerAPI/stripe.ts
  packages/@intlayer/api/src/getIntlayerAPI/tag.ts
  packages/@intlayer/api/src/getIntlayerAPI/user.ts
  packages/@intlayer/api/src/index.ts
  packages/@intlayer/cli/package.json
  packages/@intlayer/cli/src/IntlayerEventListener.ts
  packages/@intlayer/cli/src/liveSync.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

fix(profiledropdown): remove padding class from trigger component
  apps/website/src/components/ProfileDropdown/ProfileDropDown/index.tsx
Due: prettier --write, eslint --fix --cache

feat(website): add Astro and Lynx logos, update logo dimensions and styles, and enhance action button layout
  apps/website/src/components/BackgroundLayout/index.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/Astro.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/Lynx.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/Nextjs.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/available-techno-section.content.ts
  apps/website/src/components/LandingPage/LandingSection/ActionButtons.tsx
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: prettier --write, eslint --fix --cache

feat: implementing the react library in svelte
  examples/vite-svelte-app/package.json
  examples/vite-svelte-app/src/App.svelte
  examples/vite-svelte-app/src/test.svelte
  package.json
  packages/svelte-intlayer_test/.gitignore
  packages/svelte-intlayer_test/.npmrc
  packages/svelte-intlayer_test/README.md
  packages/svelte-intlayer_test/package.json
  packages/svelte-intlayer_test/src/app.d.ts
  packages/svelte-intlayer_test/src/app.html
  packages/svelte-intlayer_test/src/lib/client/context.svelte.ts
  packages/svelte-intlayer_test/src/lib/client/provider.svelte
  packages/svelte-intlayer_test/src/lib/index.ts
  packages/svelte-intlayer_test/src/lib/utils/getIntLayer.d.ts
  packages/svelte-intlayer_test/src/lib/utils/getIntLayer.ts
  packages/svelte-intlayer_test/src/routes/+page.svelte
  packages/svelte-intlayer_test/static/favicon.svg
  packages/svelte-intlayer_test/svelte.config.js
  packages/svelte-intlayer_test/tsconfig.json
  packages/svelte-intlayer_test/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

refactor(eslint): update ESLint configuration for Svelte and TypeScript support; add lint script to package.json
  eslint.config.mjs
  packages/svelte-intlayer_test/eslint.config.js
  packages/svelte-intlayer_test/package.json
Due: prettier --write, eslint --fix --cache

feat: implement intlayer into nestjs app
  examples/nest-app/.gitignore
  examples/nest-app/.prettierrc
  examples/nest-app/GUIDE.md
  examples/nest-app/README.md
  examples/nest-app/eslint.config.mjs
  examples/nest-app/intlayer.config.ts
  examples/nest-app/nest-cli.json
  examples/nest-app/package.json
  examples/nest-app/src/app.content.ts
  examples/nest-app/src/app.controller.spec.ts
  examples/nest-app/src/app.controller.ts
  examples/nest-app/src/app.module.ts
  examples/nest-app/src/app.service.ts
  examples/nest-app/src/main.ts
  examples/nest-app/test/app.e2e-spec.ts
  examples/nest-app/test/jest-e2e.json
  examples/nest-app/tsconfig.build.json
  examples/nest-app/tsconfig.json
Due: prettier --write, eslint --fix --cache

fix: add .intlayer to .gitignore for Intlayer configuration
  examples/nest-app/.gitignore
Due: none

feat(docs): add NestJS documentation and update translations
  apps/website/src/components/DocPage/docData.content.ts
  docs/docs/ar/intlayer_with_nestjs.md
  docs/docs/de/intlayer_with_nestjs.md
  docs/docs/en-GB/intlayer_with_nestjs.md
  docs/docs/en/intlayer_with_nestjs.md
  docs/docs/es/intlayer_with_nestjs.md
  docs/docs/fr/intlayer_with_nestjs.md
  docs/docs/hi/intlayer_with_nestjs.md
  docs/docs/it/intlayer_with_nestjs.md
  docs/docs/ja/intlayer_with_nestjs.md
  docs/docs/ko/intlayer_with_nestjs.md
  docs/docs/pt/intlayer_with_nestjs.md
  docs/docs/ru/intlayer_with_nestjs.md
  docs/docs/zh/intlayer_with_nestjs.md
  docs/src/generated/docs.entry.ts
  docs/tools/translate.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

chore(nest-app): add prebuild script for Intlayer build process
  examples/nest-app/package.json
Due: prettier --write

refactor(nextjs-15-app): disable liveSync and restructure next.config.ts for improved configuration handling
  examples/nextjs-15-app/intlayer.config.ts
  examples/nextjs-15-app/next.config.ts
Due: prettier --write, eslint --fix --cache

feat: add useDictionary and useIntLayer hooks; refactor context management and utility functions
  packages/svelte-intlayer_test/src/lib/client/context.svelte.ts
  packages/svelte-intlayer_test/src/lib/client/useDictionary.svelte.ts
  packages/svelte-intlayer_test/src/lib/client/useIntLayer.svelte.ts
  packages/svelte-intlayer_test/src/lib/index.ts
  packages/svelte-intlayer_test/src/lib/utils/constants.ts
  packages/svelte-intlayer_test/src/lib/utils/getDictionary.ts
  packages/svelte-intlayer_test/src/lib/utils/getIntLayer.d.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

feat(docs): add RAG-powered documentation assistant article with implementation details and benefits
  docs/blog/ar/rag_powered_documentation_assistant.md
  docs/blog/de/rag_powered_documentation_assistant.md
  docs/blog/en-GB/rag_powered_documentation_assistant.md
  docs/blog/en/rag_powered_documentation_assistant.md
  docs/blog/es/rag_powered_documentation_assistant.md
  docs/blog/fr/rag_powered_documentation_assistant.md
  docs/blog/hi/rag_powered_documentation_assistant.md
  docs/blog/it/rag_powered_documentation_assistant.md
  docs/blog/ja/rag_powered_documentation_assistant.md
  docs/blog/ko/rag_powered_documentation_assistant.md
  docs/blog/pt/rag_powered_documentation_assistant.md
  docs/blog/ru/rag_powered_documentation_assistant.md
  docs/blog/zh/rag_powered_documentation_assistant.md
  docs/docs/en/CI_CD.md
Due: prettier --write

feat(docs): add RAG pipeline diagram to documentation articles
  docs/assets/rag_flow.svg
  docs/blog/en-GB/rag_powered_documentation_assistant.md
  docs/blog/en/rag_powered_documentation_assistant.md
  docs/blog/es/rag_powered_documentation_assistant.md
  docs/blog/fr/rag_powered_documentation_assistant.md
  docs/blog/hi/rag_powered_documentation_assistant.md
  docs/blog/it/rag_powered_documentation_assistant.md
  docs/blog/ja/rag_powered_documentation_assistant.md
  docs/blog/ko/rag_powered_documentation_assistant.md
  docs/blog/pt/rag_powered_documentation_assistant.md
  docs/blog/ru/rag_powered_documentation_assistant.md
  docs/blog/zh/rag_powered_documentation_assistant.md
Due: prettier --write

feat(website): update landing section content for improved messaging and localization support
  apps/website/src/components/LandingPage/LandingSection/landing-section.content.ts
Due: prettier --write, eslint --fix --cache

feat(website): enhance landing section content with updated messaging for AI translation and improved internationalization descriptions
  apps/website/src/components/LandingPage/LandingSection/landing-section.content.ts
Due: prettier --write, eslint --fix --cache

feat(website): implement infinite scrolling for technology logos in landing section and enhance logo routing structure
  apps/website/src/app/globals.css
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: prettier --write, eslint --fix --cache

feat(website): add Tanstack and NestJS logos, update routing for new technologies, and enhance logo display in landing section
  apps/website/src/Routes.ts
  apps/website/src/components/LandingPage/AvailableTechnoSection/Express.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/NestJS.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/Nextjs.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/Tanstack.tsx
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: prettier --write, eslint --fix --cache

feat(website): refactor landing section by extracting technology logos into a separate component and streamline imports
  apps/website/src/components/LandingPage/LandingSection/TechLogos.tsx
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: prettier --write, eslint --fix --cache

fix(website): update SVG attributes to camelCase for consistency in Lynx logo component
  apps/website/src/components/LandingPage/AvailableTechnoSection/Lynx.tsx
Due: prettier --write, eslint --fix --cache

refactor(website): replace Button with Link component in SearchView for improved navigation and code consistency
  apps/website/src/components/DocPage/Search/SearchView.tsx
Due: prettier --write, eslint --fix --cache

fix(website): update onClickLink prop to onClick in SearchView for consistency in event handling
  apps/website/src/components/DocPage/Search/SearchView.tsx
Due: prettier --write, eslint --fix --cache

refactor(website): simplify landing section animations by replacing custom BlurInText component with motion elements directly
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: prettier --write, eslint --fix --cache

chore: integrate Turbo for build and task management, update scripts and dependencies
  .gitignore
  CONTRIBUTING.md
  apps/website/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/src/components/IDE/tobot.html
  packages/intlayer-editor/package.json
  packages/react-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/vue-intlayer/package.json
  pnpm-lock.yaml
  scripts/package-build-order.mjs
  scripts/script-changed-package-command.mjs
  scripts/script-package-command.mjs
  turbo.json
Due: prettier --write

chore: update .dockerignore to include .turbo directory for improved build management
  .dockerignore
Due: none

chore: update build and test scripts in package.json to include specific directories for improved task management
  package.json
Due: prettier --write

chore: streamline contributing guidelines by clarifying package installation instructions and removing outdated examples
  CONTRIBUTING.md
Due: prettier --write

chore: update package.json scripts to use double asterisks for improved directory matching in build, clean, and test commands
  package.json
Due: prettier --write

chore: update Dockerfiles to use Turbo for building specific packages, enhancing build efficiency
  apps/backend/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

chore: update Dockerfiles to use npx for Turbo commands, ensuring consistency across packages
  apps/backend/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none
