Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

chore: add wget installation to Dockerfiles for various applications
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

refactor: add baseURL to backend authentication
  apps/backend/src/utils/auth/getAuth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(backend): remove unused Redis environment variables
  apps/backend/.env.template
Due: none

feat(docs): update configuration files to use nextjsRewrite for locale-specific URL rewriting
  docs/docs/ar/configuration.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/uk/configuration.md
  docs/docs/vi/configuration.md
  docs/docs/zh/configuration.md
Due: prettier --write

refactor(app): restore dictionary list logic
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): update translation dashboard content and logic
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.content.ts
  apps/app/src/components/Dashboard/TranslateDashboard/index.content.ts
  apps/app/src/components/Dashboard/TranslateDashboard/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): fix dictionary list logic
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryModals.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryTable.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryToolbar.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.content.ts
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/useDictionaryDashboard.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): enhance table row keyboard navigation and toolbar UI
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryModals.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryTable.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryToolbar.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.content.ts
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/useDictionaryDashboard.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): add column visibility selection and refactor the filter button into a popover
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryToolbar.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/FiltersModal.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.tsx
  packages/@intlayer/design-system/src/components/Input/Checkbox.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): implement debounced scroll position persistence and optimize dictionary updates and node processing with memoization to prevent unnecessary re-renders
  apps/app/src/components/Dashboard/TranslateDashboard/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: remove healthcheck in dockerfile to fix build fail
  apps/app/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

refactor: change import LanguageBackground
  packages/@intlayer/design-system/src/components/LanguageBackground/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: fix build
  apps/app/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

feat: update compiler
  .agents/skills/intlayer-config/references/concept_configuration.md
  bun.lock
  docs/docs/ar/configuration.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/uk/configuration.md
  docs/docs/vi/configuration.md
  docs/docs/zh/configuration.md
  docs/tools/review.ts
  package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/babel/src/babel-plugin-intlayer-extract.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-extract.ts
  packages/@intlayer/babel/src/getExtractPluginOptions.ts
  packages/@intlayer/babel/src/test-babel-error.ts
  packages/@intlayer/babel/src/test-merge.ts
  packages/@intlayer/babel/src/test-preserve.ts
  packages/@intlayer/babel/vitest.config.ts
  packages/@intlayer/chokidar/src/watcher.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeJSFile.ts
  packages/@intlayer/config/package.json
  packages/@intlayer/types/src/config.ts
  packages/next-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(chokidar): reexport missing exports
  packages/@intlayer/chokidar/src/cli.ts
  packages/@intlayer/chokidar/src/getContentDeclarationFileTemplate/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: fix compiler enabled state from babel plugin
  packages/@intlayer/babel/src/babel-plugin-intlayer-extract.ts
  packages/@intlayer/babel/src/getExtractPluginOptions.ts
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(babel): review key generation and temp file generation
  bun.lock
  docs/docs/en/configuration.md
  packages/@intlayer/babel/package.json
  packages/@intlayer/babel/src/babel-plugin-intlayer-extract.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-extract.ts
  packages/@intlayer/babel/src/getExtractPluginOptions.ts
  packages/@intlayer/chokidar/src/transformFiles/transformFiles.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeJSFile.ts
  packages/@intlayer/chokidar/src/writeFileIfChanged.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/defaultValues/compiler.ts
  packages/@intlayer/config/src/defaultValues/system.ts
  packages/@intlayer/config/src/utils/cacheDisk.ts
  packages/@intlayer/core/src/utils/generateKey.test.ts
  packages/@intlayer/core/src/utils/generateKey.ts
  packages/@intlayer/core/src/utils/index.ts
  packages/@intlayer/svelte-compiler/package.json
  packages/@intlayer/svelte-compiler/src/svelte-intlayer-extract.ts
  packages/@intlayer/types/src/config.ts
  packages/@intlayer/vue-compiler/package.json
  packages/@intlayer/vue-compiler/src/vue-intlayer-extract.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/IntlayerCompilerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: add doc Intlayer with Next.js compiler
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_compiler.json
  apps/website/src/components/DocPage/docData.content.ts
  docs/docs/ar/intlayer_with_nextjs_compiler.md
  docs/docs/de/intlayer_with_nextjs_compiler.md
  docs/docs/en-GB/intlayer_with_nextjs_compiler.md
  docs/docs/en/intlayer_with_nextjs_compiler.md
  docs/docs/es/intlayer_with_nextjs_compiler.md
  docs/docs/fr/intlayer_with_nextjs_compiler.md
  docs/docs/hi/intlayer_with_nextjs_compiler.md
  docs/docs/id/intlayer_with_nextjs_compiler.md
  docs/docs/it/intlayer_with_nextjs_compiler.md
  docs/docs/ja/intlayer_with_nextjs_compiler.md
  docs/docs/ko/intlayer_with_nextjs_compiler.md
  docs/docs/pl/intlayer_with_nextjs_compiler.md
  docs/docs/pt/intlayer_with_nextjs_compiler.md
  docs/docs/ru/intlayer_with_nextjs_compiler.md
  docs/docs/tr/intlayer_with_nextjs_compiler.md
  docs/docs/uk/intlayer_with_nextjs_compiler.md
  docs/docs/vi/intlayer_with_nextjs_compiler.md
  docs/docs/zh/intlayer_with_nextjs_compiler.md
  docs/src/generated/docs.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add Vite+React compiler documentation
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_compiler.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+react_compiler.json
  apps/website/src/components/DocPage/docData.content.ts
  docs/docs/ar/intlayer_with_nextjs_compiler.md
  docs/docs/ar/intlayer_with_vite+react_compiler.md
  docs/docs/de/intlayer_with_nextjs_compiler.md
  docs/docs/de/intlayer_with_vite+react_compiler.md
  docs/docs/en-GB/intlayer_with_nextjs_compiler.md
  docs/docs/en-GB/intlayer_with_vite+react_compiler.md
  docs/docs/en/intlayer_with_nextjs_compiler.md
  docs/docs/en/intlayer_with_vite+react_compiler.md
  docs/docs/es/intlayer_with_nextjs_compiler.md
  docs/docs/es/intlayer_with_vite+react_compiler.md
  docs/docs/fr/intlayer_with_nextjs_compiler.md
  docs/docs/fr/intlayer_with_vite+react_compiler.md
  docs/docs/hi/intlayer_with_nextjs_compiler.md
  docs/docs/hi/intlayer_with_vite+react_compiler.md
  docs/docs/id/intlayer_with_nextjs_compiler.md
  docs/docs/id/intlayer_with_vite+react_compiler.md
  docs/docs/it/intlayer_with_nextjs_compiler.md
  docs/docs/it/intlayer_with_vite+react_compiler.md
  docs/docs/ja/intlayer_with_nextjs_compiler.md
  docs/docs/ja/intlayer_with_vite+react_compiler.md
  docs/docs/ko/intlayer_with_nextjs_compiler.md
  docs/docs/ko/intlayer_with_vite+react_compiler.md
  docs/docs/pl/intlayer_with_nextjs_compiler.md
  docs/docs/pl/intlayer_with_vite+react_compiler.md
  docs/docs/pt/intlayer_with_nextjs_compiler.md
  docs/docs/pt/intlayer_with_vite+react_compiler.md
  docs/docs/ru/intlayer_with_nextjs_compiler.md
  docs/docs/ru/intlayer_with_vite+react_compiler.md
  docs/docs/tr/intlayer_with_nextjs_compiler.md
  docs/docs/tr/intlayer_with_vite+react_compiler.md
  docs/docs/uk/intlayer_with_nextjs_compiler.md
  docs/docs/uk/intlayer_with_vite+react_compiler.md
  docs/docs/vi/intlayer_with_nextjs_compiler.md
  docs/docs/vi/intlayer_with_vite+react_compiler.md
  docs/docs/zh/intlayer_with_nextjs_compiler.md
  docs/docs/zh/intlayer_with_vite+react_compiler.md
  docs/src/generated/docs.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: refactor docs remove babel part
  docs/docs/ar/intlayer_with_nextjs_compiler.md
  docs/docs/ar/intlayer_with_vite+react_compiler.md
  docs/docs/de/intlayer_with_nextjs_compiler.md
  docs/docs/de/intlayer_with_vite+react_compiler.md
  docs/docs/en-GB/intlayer_with_nextjs_compiler.md
  docs/docs/en-GB/intlayer_with_vite+react_compiler.md
  docs/docs/en/intlayer_with_nextjs_compiler.md
  docs/docs/en/intlayer_with_vite+react_compiler.md
  docs/docs/es/intlayer_with_nextjs_compiler.md
  docs/docs/es/intlayer_with_vite+react_compiler.md
  docs/docs/fr/intlayer_with_nextjs_compiler.md
  docs/docs/fr/intlayer_with_vite+react_compiler.md
  docs/docs/hi/intlayer_with_nextjs_compiler.md
  docs/docs/hi/intlayer_with_vite+react_compiler.md
  docs/docs/id/intlayer_with_nextjs_compiler.md
  docs/docs/id/intlayer_with_vite+react_compiler.md
  docs/docs/it/intlayer_with_nextjs_compiler.md
  docs/docs/it/intlayer_with_vite+react_compiler.md
  docs/docs/ja/intlayer_with_nextjs_compiler.md
  docs/docs/ja/intlayer_with_vite+react_compiler.md
  docs/docs/ko/intlayer_with_nextjs_compiler.md
  docs/docs/ko/intlayer_with_vite+react_compiler.md
  docs/docs/pl/intlayer_with_nextjs_compiler.md
  docs/docs/pl/intlayer_with_vite+react_compiler.md
  docs/docs/pt/intlayer_with_nextjs_compiler.md
  docs/docs/pt/intlayer_with_vite+react_compiler.md
  docs/docs/ru/intlayer_with_nextjs_compiler.md
  docs/docs/ru/intlayer_with_vite+react_compiler.md
  docs/docs/tr/intlayer_with_nextjs_compiler.md
  docs/docs/tr/intlayer_with_vite+react_compiler.md
  docs/docs/uk/intlayer_with_nextjs_compiler.md
  docs/docs/uk/intlayer_with_vite+react_compiler.md
  docs/docs/vi/intlayer_with_nextjs_compiler.md
  docs/docs/vi/intlayer_with_vite+react_compiler.md
  docs/docs/zh/intlayer_with_nextjs_compiler.md
  docs/docs/zh/intlayer_with_vite+react_compiler.md
Due: prettier --write

fix(design-system): ensure label fallback to value in Tab component
  packages/@intlayer/design-system/src/components/Tab/Tab.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(doc): fix doc compiler
  docs/docs/ar/intlayer_with_nextjs_compiler.md
  docs/docs/de/intlayer_with_nextjs_compiler.md
  docs/docs/en-GB/intlayer_with_nextjs_compiler.md
  docs/docs/en/intlayer_with_nextjs_compiler.md
  docs/docs/en/intlayer_with_vite+react_compiler.md
  docs/docs/es/intlayer_with_nextjs_compiler.md
  docs/docs/fr/intlayer_with_nextjs_compiler.md
  docs/docs/hi/intlayer_with_nextjs_compiler.md
  docs/docs/id/intlayer_with_nextjs_compiler.md
  docs/docs/it/intlayer_with_nextjs_compiler.md
  docs/docs/ja/intlayer_with_nextjs_compiler.md
  docs/docs/ko/intlayer_with_nextjs_compiler.md
  docs/docs/pl/intlayer_with_nextjs_compiler.md
  docs/docs/pt/intlayer_with_nextjs_compiler.md
  docs/docs/ru/intlayer_with_nextjs_compiler.md
  docs/docs/tr/intlayer_with_nextjs_compiler.md
  docs/docs/uk/intlayer_with_nextjs_compiler.md
  docs/docs/vi/intlayer_with_nextjs_compiler.md
  docs/docs/zh/intlayer_with_nextjs_compiler.md
Due: prettier --write

fix(docs): update file extension in documentation examples from .tsx to .json
  docs/docs/ar/intlayer_with_vite+react_compiler.md
  docs/docs/de/intlayer_with_vite+react_compiler.md
  docs/docs/en-GB/intlayer_with_vite+react_compiler.md
  docs/docs/en/intlayer_with_vite+react_compiler.md
  docs/docs/es/intlayer_with_vite+react_compiler.md
  docs/docs/fr/intlayer_with_vite+react_compiler.md
  docs/docs/hi/intlayer_with_vite+react_compiler.md
  docs/docs/id/intlayer_with_vite+react_compiler.md
  docs/docs/it/intlayer_with_vite+react_compiler.md
  docs/docs/ja/intlayer_with_vite+react_compiler.md
  docs/docs/ko/intlayer_with_vite+react_compiler.md
  docs/docs/pl/intlayer_with_vite+react_compiler.md
  docs/docs/pt/intlayer_with_vite+react_compiler.md
  docs/docs/ru/intlayer_with_vite+react_compiler.md
  docs/docs/tr/intlayer_with_vite+react_compiler.md
  docs/docs/uk/intlayer_with_vite+react_compiler.md
  docs/docs/vi/intlayer_with_vite+react_compiler.md
  docs/docs/zh/intlayer_with_vite+react_compiler.md
Due: prettier --write

docs: add complete tutorial links for Vite+React and Next.js in multiple languages
  docs/docs/ar/compiler.md
  docs/docs/de/compiler.md
  docs/docs/en-GB/compiler.md
  docs/docs/en/compiler.md
  docs/docs/es/compiler.md
  docs/docs/fr/compiler.md
  docs/docs/hi/compiler.md
  docs/docs/id/compiler.md
  docs/docs/it/compiler.md
  docs/docs/ja/compiler.md
  docs/docs/ko/compiler.md
  docs/docs/pl/compiler.md
  docs/docs/pt/compiler.md
  docs/docs/ru/compiler.md
  docs/docs/tr/compiler.md
  docs/docs/uk/compiler.md
  docs/docs/vi/compiler.md
  docs/docs/zh/compiler.md
Due: prettier --write

docs: add tabs in compiler doc
  docs/docs/ar/compiler.md
  docs/docs/de/compiler.md
  docs/docs/en-GB/compiler.md
  docs/docs/en/compiler.md
  docs/docs/es/compiler.md
  docs/docs/fr/compiler.md
  docs/docs/hi/compiler.md
  docs/docs/id/compiler.md
  docs/docs/it/compiler.md
  docs/docs/ja/compiler.md
  docs/docs/ko/compiler.md
  docs/docs/pl/compiler.md
  docs/docs/pt/compiler.md
  docs/docs/ru/compiler.md
  docs/docs/tr/compiler.md
  docs/docs/uk/compiler.md
  docs/docs/vi/compiler.md
  docs/docs/zh/compiler.md
Due: prettier --write

docs: fix link in docs for compiler
  docs/docs/ar/intlayer_with_nextjs_compiler.md
  docs/docs/ar/intlayer_with_vite+react_compiler.md
  docs/docs/de/intlayer_with_nextjs_compiler.md
  docs/docs/de/intlayer_with_vite+react_compiler.md
  docs/docs/en-GB/intlayer_with_nextjs_compiler.md
  docs/docs/en-GB/intlayer_with_vite+react_compiler.md
  docs/docs/en/intlayer_with_nextjs_compiler.md
  docs/docs/en/intlayer_with_vite+react_compiler.md
  docs/docs/es/intlayer_with_nextjs_compiler.md
  docs/docs/es/intlayer_with_vite+react_compiler.md
  docs/docs/fr/intlayer_with_nextjs_compiler.md
  docs/docs/fr/intlayer_with_vite+react_compiler.md
  docs/docs/hi/intlayer_with_nextjs_compiler.md
  docs/docs/hi/intlayer_with_vite+react_compiler.md
  docs/docs/id/intlayer_with_nextjs_compiler.md
  docs/docs/id/intlayer_with_vite+react_compiler.md
  docs/docs/it/intlayer_with_nextjs_compiler.md
  docs/docs/it/intlayer_with_vite+react_compiler.md
  docs/docs/ja/intlayer_with_nextjs_compiler.md
  docs/docs/ja/intlayer_with_vite+react_compiler.md
  docs/docs/ko/intlayer_with_nextjs_compiler.md
  docs/docs/ko/intlayer_with_vite+react_compiler.md
  docs/docs/pl/intlayer_with_nextjs_compiler.md
  docs/docs/pl/intlayer_with_vite+react_compiler.md
  docs/docs/pt/intlayer_with_nextjs_compiler.md
  docs/docs/pt/intlayer_with_vite+react_compiler.md
  docs/docs/ru/intlayer_with_nextjs_compiler.md
  docs/docs/ru/intlayer_with_vite+react_compiler.md
  docs/docs/tr/intlayer_with_nextjs_compiler.md
  docs/docs/tr/intlayer_with_vite+react_compiler.md
  docs/docs/uk/intlayer_with_nextjs_compiler.md
  docs/docs/uk/intlayer_with_vite+react_compiler.md
  docs/docs/vi/intlayer_with_nextjs_compiler.md
  docs/docs/vi/intlayer_with_vite+react_compiler.md
  docs/docs/zh/intlayer_with_nextjs_compiler.md
  docs/docs/zh/intlayer_with_vite+react_compiler.md
Due: prettier --write

docs: update compiler documentation links for multiple languages
  docs/docs/en-GB/intlayer_with_vite+react_compiler.md
  docs/docs/hi/intlayer_with_vite+react_compiler.md
  docs/docs/id/intlayer_with_vite+react_compiler.md
  docs/docs/it/intlayer_with_vite+react_compiler.md
  docs/docs/pl/intlayer_with_vite+react_compiler.md
  docs/docs/pt/intlayer_with_vite+react_compiler.md
  docs/docs/tr/intlayer_with_vite+react_compiler.md
  docs/docs/uk/intlayer_with_vite+react_compiler.md
  docs/docs/vi/intlayer_with_vite+react_compiler.md
Due: prettier --write

feat: enable component caching in Next.js config and enhance layout components with Suspense for improved loading performance
  apps/website/next.config.ts
  apps/website/src/app/[locale]/(docs)/layout.tsx
  apps/website/src/app/[locale]/(landing)/[...not-found]/page.tsx
  apps/website/src/app/[locale]/(landing)/layout.tsx
  packages/@intlayer/babel/src/babel-plugin-intlayer-optimize.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-optimize.ts
  packages/@intlayer/design-system/src/components/Breadcrumb/index.tsx
  packages/@intlayer/swc/src/lib.rs
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): implement caching for contributors API to enhance performance
  apps/website/src/app/[locale]/(landing)/contributors/contributors.api.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): implement caching for blog and document routes to improve performance
  apps/website/src/app/[locale]/(docs)/blog/raw/[...slugs]/route.ts
  apps/website/src/app/[locale]/(docs)/doc/raw/[...slugs]/route.ts
  apps/website/src/app/[locale]/(docs)/frequent-questions/raw/[...slugs]/route.ts
  apps/website/src/app/[locale]/(landing)/contributors/contributors.api.ts
  apps/website/src/app/sitemap.ts
  apps/website/src/components/CMSLandingPage/index.tsx
  apps/website/src/components/TMSLandingPage/index.tsx
  apps/website/src/components/TranslationLandingPage/index.tsx
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): restore nextjs cacheComponents directive
  apps/website/next.config.ts
  apps/website/src/app/[locale]/(docs)/blog/raw/[...slugs]/route.ts
  apps/website/src/app/[locale]/(docs)/doc/raw/[...slugs]/route.ts
  apps/website/src/app/[locale]/(docs)/frequent-questions/raw/[...slugs]/route.ts
  apps/website/src/app/[locale]/(landing)/contributors/contributors.api.ts
  apps/website/src/app/sitemap.ts
  apps/website/src/components/LandingPage/FeaturesSection/VisualEditorSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: rework link in compiler doc
  docs/docs/ar/compiler.md
  docs/docs/de/compiler.md
  docs/docs/en-GB/compiler.md
  docs/docs/en/compiler.md
  docs/docs/es/compiler.md
  docs/docs/fr/compiler.md
  docs/docs/hi/compiler.md
  docs/docs/id/compiler.md
  docs/docs/it/compiler.md
  docs/docs/ja/compiler.md
  docs/docs/ko/compiler.md
  docs/docs/pl/compiler.md
  docs/docs/pt/compiler.md
  docs/docs/ru/compiler.md
  docs/docs/tr/compiler.md
  docs/docs/uk/compiler.md
  docs/docs/vi/compiler.md
  docs/docs/zh/compiler.md
Due: prettier --write

feat(types): add MALAGASY_MADAGASCAR locale
  packages/@intlayer/types/src/locales.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): add compiler skill
  packages/@intlayer/chokidar/src/installSkills/index.ts
  packages/@intlayer/chokidar/src/installSkills/skills/compiler.md
  packages/@intlayer/cli/src/initSkills.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(core): update setCookieString parameter for clarity
  packages/@intlayer/core/src/localization/getBrowserLocale.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
