Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

chore(backend): update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_remix_3.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/introduction.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/astro-intlayer/exports.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/astro-intlayer/useIntlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/astro-intlayer/useLocale.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/remix-intlayer/Intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/remix-intlayer/exports.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/remix-intlayer/useLocale.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/readme.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(remix-intlayer): add plugins and dictionary handling for internationalization
  packages/remix-intlayer/src/plugins.test.ts
  packages/remix-intlayer/src/plugins.ts
  packages/remix-intlayer/src/useDictionary.ts
  packages/remix-intlayer/src/useIntlayer.ts
  packages/remix-intlayer/src/useLocale.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(trust-packages): enhance npm command execution with output capturing and web authentication support
  scripts/trust-packages.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(vite-intlayer): add web proxy handler for astro and integrate with existing proxy middleware
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro.json
  apps/backend/src/utils/AI/askDocQuestion/indexMarkdownFiles.ts
  bun.lock
  docs/docs/en/intlayer_with_astro.md
  examples/angular-22-app/package.json
  examples/tanstack-start-app/package.json
  packages/@intlayer/babel/src/transformers.ts
  packages/@intlayer/cli/src/liveSync.ts
  packages/@intlayer/core/src/localization/index.ts
  packages/@intlayer/core/src/localization/proxyMode.test.ts
  packages/@intlayer/core/src/localization/proxyMode.ts
  packages/astro-intlayer/package.json
  packages/astro-intlayer/src/client/localeRedirect.test.ts
  packages/astro-intlayer/src/client/localeRedirect.ts
  packages/astro-intlayer/src/hooks.test.ts
  packages/astro-intlayer/src/index.test.ts
  packages/astro-intlayer/src/integration.ts
  packages/astro-intlayer/src/middleware.ts
  packages/vite-intlayer/package.json
  packages/vite-intlayer/src/intlayerNitroHandler.ts
  packages/vite-intlayer/src/intlayerProxyHandler.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.test.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
  packages/vite-intlayer/src/intlayerWebProxyHandler.test.ts
  packages/vite-intlayer/src/intlayerWebProxyHandler.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(angular-intlayer): ensure dictionaries are prepared before tree-shaking in production builds
  packages/angular-intlayer/src/esbuild/plugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(swc): update version to 9.5.6 and add sync script for crate manifest
  .github/workflows/publish.yaml
  packages/@intlayer/swc/Cargo.lock
  packages/@intlayer/swc/Cargo.toml
  scripts/sync-crate-version.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(swc): update plugin
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

chore(website): add new domains to disavow list
  apps/website/public/disavow.txt
Due: none

fix(backend): remove roadmap documentation entries from generated docs entry
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/self_hosting.json
  docs/src/generated/docs.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add Remix and Astro integration guides for markdown dictionary
  docs/docs/ar/dictionary/html.md
  docs/docs/ar/dictionary/markdown.md
  docs/docs/de/dictionary/html.md
  docs/docs/de/dictionary/markdown.md
  docs/docs/en-GB/dictionary/html.md
  docs/docs/en-GB/dictionary/markdown.md
  docs/docs/en/dictionary/html.md
  docs/docs/en/dictionary/markdown.md
  docs/docs/es/dictionary/html.md
  docs/docs/es/dictionary/markdown.md
  docs/docs/fr/dictionary/html.md
  docs/docs/fr/dictionary/markdown.md
  docs/docs/hi/dictionary/html.md
  docs/docs/hi/dictionary/markdown.md
  docs/docs/id/dictionary/html.md
  docs/docs/id/dictionary/markdown.md
  docs/docs/it/dictionary/html.md
  docs/docs/it/dictionary/markdown.md
  docs/docs/ja/dictionary/html.md
  docs/docs/ja/dictionary/markdown.md
  docs/docs/ko/dictionary/html.md
  docs/docs/ko/dictionary/markdown.md
  docs/docs/pl/dictionary/html.md
  docs/docs/pl/dictionary/markdown.md
  docs/docs/pt/dictionary/html.md
  docs/docs/pt/dictionary/markdown.md
  docs/docs/ru/dictionary/html.md
  docs/docs/ru/dictionary/markdown.md
  docs/docs/tr/dictionary/html.md
  docs/docs/tr/dictionary/markdown.md
  docs/docs/uk/dictionary/html.md
  docs/docs/uk/dictionary/markdown.md
  docs/docs/vi/dictionary/html.md
  docs/docs/vi/dictionary/markdown.md
  docs/docs/zh/dictionary/html.md
  docs/docs/zh/dictionary/markdown.md
Due: prettier --write

feat(app): fix CLI account auth selection and session management
  apps/app/src/components/Auth/CliLogin/CliAccountSelector.tsx
  apps/app/src/components/Auth/CliLogin/CliLoginFlow.content.ts
  apps/app/src/components/Auth/CliLogin/CliLoginFlow.tsx
  apps/app/src/components/Auth/SignIn/index.tsx
  apps/app/src/components/Auth/TotpForm/BackupCodeTab.tsx
  apps/app/src/components/Auth/TotpForm/TotpForm.tsx
  apps/app/src/components/Dashboard/DashboardSidebar/AccountSwitcher/index.tsx
  apps/app/src/hooks/useDeviceSessions.ts
  apps/app/src/hooks/useNavigateToRedirectUrl.test.ts
  apps/app/src/hooks/useNavigateToRedirectUrl.ts
  packages/@intlayer/design-system/src/api/hooks/auth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update package dependencies across multiple packages
  apps/app/package.json
  apps/backend/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  examples/tanstack-start-app/package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/mcp/package.json
  packages/intlayer-editor/package.json
  packages/lit-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/vue-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(app): add script to resolve self-host container image names and update workflow to use it
  .github/scripts/resolve-selfhost-images.sh
  .github/workflows/selfhost-container-release.yaml
  apps/app/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): skip session and setup-status fetches during prerender
  apps/app/src/utils/auth.tsx
  apps/app/src/utils/selfHosted.ts
  apps/app/src/utils/setupStatus.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add Docker Compose support for self-hosting Intlayer
  .github/scripts/resolve-selfhost-images.sh
  .github/workflows/selfhost-container-release.yaml
  apps/app/Dockerfile
  apps/backend/.env.template
  apps/backend/src/services/email.service.test.ts
  apps/backend/src/services/email.service.tsx
  apps/backend/src/utils/mongoDB/connectDB.ts
  apps/backend/src/utils/mongoDB/getMongoDBUri.test.ts
  apps/backend/src/utils/mongoDB/getMongoDBUri.ts
  apps/website/public/install.sh
  docker/selfhost/.env.template
  docker/selfhost/Dockerfile
  docker/selfhost/README.md
  docker/selfhost/docker-compose.build.yml
  docker/selfhost/docker-compose.yml
  docs/docs/en/cli/init.md
  docs/docs/en/self_hosting.md
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/index.ts
  packages/@intlayer/cli/src/init.ts
  packages/@intlayer/cli/src/initInfra.test.ts
  packages/@intlayer/cli/src/initInfra.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: update self-hosting setup and environment configurations
  .github/workflows/selfhost-container-release.yaml
  apps/app/vite.config.ts
  apps/website/public/install.ps1
  apps/website/public/install.sh
  docker/selfhost/.env.template
  docker/selfhost/Dockerfile
  docker/selfhost/README.md
  docker/selfhost/docker-compose.yml
  docs/docs/ar/self_hosting.md
  docs/docs/de/self_hosting.md
  docs/docs/en-GB/self_hosting.md
  docs/docs/en/cli/init.md
  docs/docs/en/self_hosting.md
  docs/docs/es/self_hosting.md
  docs/docs/fr/self_hosting.md
  docs/docs/hi/self_hosting.md
  docs/docs/id/self_hosting.md
  docs/docs/it/self_hosting.md
  docs/docs/ja/self_hosting.md
  docs/docs/ko/self_hosting.md
  docs/docs/pl/self_hosting.md
  docs/docs/pt/self_hosting.md
  docs/docs/ru/self_hosting.md
  docs/docs/tr/self_hosting.md
  docs/docs/uk/self_hosting.md
  docs/docs/vi/self_hosting.md
  docs/docs/zh/self_hosting.md
  packages/@intlayer/api/src/fetcher.ts
  packages/@intlayer/api/src/resolveInternalBackendUrl.test.ts
  packages/@intlayer/api/src/resolveInternalBackendUrl.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/initInfra.ts
  packages/@intlayer/design-system/src/routes.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: update image names and configurations for self-hosting setup
  .github/scripts/resolve-selfhost-images.sh
  .github/workflows/selfhost-container-release.yaml
  apps/app/vite.config.ts
  apps/website/public/install.ps1
  apps/website/public/install.sh
  docker/selfhost/Dockerfile
  docker/selfhost/README.md
  docker/selfhost/docker-compose.yml
  docs/docs/en/self_hosting.md
  packages/@intlayer/design-system/src/routes.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add interactive configuration and custom domain support to self-hosting installers and documentation
  apps/backend/src/index.ts
  apps/backend/src/routes/ai.routes.ts
  apps/backend/src/utils/AI/askDocQuestion/askDocQuestion.ts
  apps/backend/src/utils/isSelfHosted.ts
  apps/website/public/install.ps1
  apps/website/public/install.sh
  docker/selfhost/.env.template
  docker/selfhost/Dockerfile
  docker/selfhost/README.md
  docker/selfhost/docker-compose.build.yml
  docker/selfhost/docker-compose.yml
  docs/docs/en/cli/infra.md
  docs/docs/en/self_hosting.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: enhance next-intl vs intlayer blog post with interactive components and update disavow list
  apps/website/public/disavow.txt
Due: none

fix: update benchmark tables in multiple language blogs for consistency
  apps/app/package.json
  apps/backend/package.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/i18next_vs_intlayer-i18next.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/i18next_vs_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/lingui_vs_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/next-intl_vs_intlayer-next-intl.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/next-intl_vs_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/vue-i18n_vs_intlayer-vue-i18n.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/vue-i18n_vs_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/benchmark/nextjs.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/benchmark/solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/benchmark/svelte.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/benchmark/tanstack.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/benchmark/vue.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/index.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/infra.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/init.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/html.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/markdown.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/self_hosting.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  docs/blog/it/i18next_vs_intlayer-i18next.md
  docs/blog/ja/i18next_vs_intlayer-i18next.md
  docs/blog/pl/i18next_vs_intlayer-i18next.md
  docs/blog/ru/i18next_vs_intlayer-i18next.md
  docs/blog/tr/vue-i18n_vs_intlayer-vue-i18n.md
  docs/blog/uk/i18next_vs_intlayer-i18next.md
  docs/blog/vi/i18next_vs_intlayer-i18next.md
  docs/blog/zh/i18next_vs_intlayer-i18next.md
  examples/tanstack-start-app/package.json
  package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/lsp/package.json
  packages/intlayer-editor/package.json
  packages/vue-intlayer/src/devtools/index.test.ts
  packages/vue-intlayer/src/devtools/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(chore-extension): add .gitignore to ignore .git
  packages/@intlayer/chrome-extension/.gitignore
Due: none

fix(chrome-extension): update documentation comment and refactor list rendering
  packages/@intlayer/chrome-extension/src/popup/components/TechnologyList.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chrome-extension): add Firefox support and build instructions for reviewers
  packages/@intlayer/chrome-extension/README.md
  packages/@intlayer/chrome-extension/SOURCE_CODE_REVIEW.md
  packages/@intlayer/chrome-extension/package.json
  packages/@intlayer/chrome-extension/public/manifest.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(chrome-extension): update Chrome extension documentation to include Firefox support
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/chrome_extension.json
  apps/website/src/components/DocPage/docData.content.ts
  docs/docs/ar/chrome_extension.md
  docs/docs/de/chrome_extension.md
  docs/docs/en-GB/chrome_extension.md
  docs/docs/en/chrome_extension.md
  docs/docs/es/chrome_extension.md
  docs/docs/fr/chrome_extension.md
  docs/docs/hi/chrome_extension.md
  docs/docs/id/chrome_extension.md
  docs/docs/it/chrome_extension.md
  docs/docs/ja/chrome_extension.md
  docs/docs/ko/chrome_extension.md
  docs/docs/pl/chrome_extension.md
  docs/docs/pt/chrome_extension.md
  docs/docs/ru/chrome_extension.md
  docs/docs/tr/chrome_extension.md
  docs/docs/uk/chrome_extension.md
  docs/docs/vi/chrome_extension.md
  docs/docs/zh/chrome_extension.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website): update blog data content
  apps/website/src/components/BlogPage/blogData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update vue-i18n vs intlayer blog posts with locale directory tree and updated star history chart
  docs/blog/ar/vue-i18n_vs_intlayer.md
  docs/blog/de/vue-i18n_vs_intlayer.md
  docs/blog/en-GB/vue-i18n_vs_intlayer.md
  docs/blog/en/vue-i18n_vs_intlayer.md
  docs/blog/es/vue-i18n_vs_intlayer.md
  docs/blog/fr/vue-i18n_vs_intlayer.md
  docs/blog/hi/vue-i18n_vs_intlayer.md
  docs/blog/id/vue-i18n_vs_intlayer.md
  docs/blog/it/vue-i18n_vs_intlayer.md
  docs/blog/ja/vue-i18n_vs_intlayer.md
  docs/blog/ko/vue-i18n_vs_intlayer.md
  docs/blog/pl/vue-i18n_vs_intlayer.md
  docs/blog/pt/vue-i18n_vs_intlayer.md
  docs/blog/ru/vue-i18n_vs_intlayer.md
  docs/blog/tr/vue-i18n_vs_intlayer.md
  docs/blog/uk/vue-i18n_vs_intlayer.md
  docs/blog/vi/vue-i18n_vs_intlayer.md
  docs/blog/zh/vue-i18n_vs_intlayer.md
Due: prettier --write
