Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

fix(terminal): update terminal input path to include application directory
  packages/@intlayer/design-system/src/components/Terminal/Terminal.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(vite-intlayer): update isEnabled logic to handle undefined optimize value correctly
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): update Select component in compiler feature section
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/Visual.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(vue-intlayer): improve locale handling and add JSON serialization to renderIntlayerNode
  packages/vue-intlayer/src/client/useDictionary.ts
  packages/vue-intlayer/src/client/useDictionaryAsync.ts
  packages/vue-intlayer/src/client/useIntlayer.ts
  packages/vue-intlayer/src/renderIntlayerNode.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(vue-intlayer): enhance dictionary handling with MaybeRefOrGetter and optimize reactivity
  packages/vue-intlayer/src/client/useDictionary.ts
  packages/vue-intlayer/src/client/useDictionaryAsync.ts
  packages/vue-intlayer/src/client/useIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(vue-intlayer): implement dynamic mode
  examples/vite-vue-app/intlayer.config.ts
  examples/vite-vue-app/src/App.vue
  examples/vite-vue-app/vite.config.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
  packages/vue-intlayer/src/client/useDictionaryDynamic.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(markdown): SSR-safe adapter; revert ambient types; restore tsconfigs; fix root package.json; remove emotion; scope markdown export to dist
  package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: change pendingChanges to const and improve readability in runBuild function
  scripts/script-dev-package-command.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(svelte-intlayer): enhance dynamic dictionary loading with improved reactivity and loading state management
  examples/vite-svelte-app/intlayer.config.ts
  packages/svelte-intlayer/src/client/useDictionaryDynamic.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(vite-intlayer): restrict processing to .vue files for async component compilation
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(vite-intlayer): add conditional application of babel plugin based on build environment and import mode
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(docs): add step to retrieve locale in server actions across multiple languages
  docs/docs/ar/intlayer_with_tanstack.md
  docs/docs/de/intlayer_with_tanstack.md
  docs/docs/en-GB/intlayer_with_tanstack.md
  docs/docs/en/intlayer_with_tanstack.md
  docs/docs/es/intlayer_with_tanstack.md
  docs/docs/fr/intlayer_with_tanstack.md
  docs/docs/hi/intlayer_with_tanstack.md
  docs/docs/id/intlayer_with_tanstack.md
  docs/docs/it/intlayer_with_tanstack.md
  docs/docs/ja/intlayer_with_tanstack.md
  docs/docs/ko/intlayer_with_tanstack.md
  docs/docs/pl/intlayer_with_tanstack.md
  docs/docs/pt/intlayer_with_tanstack.md
  docs/docs/ru/intlayer_with_tanstack.md
  docs/docs/tr/intlayer_with_tanstack.md
  docs/docs/vi/intlayer_with_tanstack.md
  docs/docs/zh/intlayer_with_tanstack.md
  examples/tanstack-start-app/src/routes/{-$locale}/index.tsx
  packages/@intlayer/core/src/index.ts
  packages/@intlayer/core/src/localization/getLocale.ts
  packages/@intlayer/core/src/utils/getCookie.ts
  packages/@intlayer/core/src/utils/localeStorage.ts
  packages/intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update React and Next.js versions across multiple packages to 19.2.1 and 16.0.7 respectively, along with minor dependency updates
  apps/backend/package.json
  apps/website/package.json
  bun.lock
  examples/astro-react-app/package.json
  examples/next-15-next-intl-app/package.json
  examples/nextjs-15-app/package.json
  examples/react-app/package.json
  examples/react-router-app/package.json
  examples/tanstack-start-app/package.json
  examples/vite-react-app/package.json
  package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): update motion import to use create method
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(vue-intlayer): return app instance from installIntlayer function
  packages/vue-intlayer/src/client/installIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(docs): simplify ordered list markup in localization guidance across multiple languages
  docs/docs/ar/intlayer_with_vite+vue.md
  docs/docs/de/intlayer_with_vite+vue.md
  docs/docs/en-GB/intlayer_with_vite+vue.md
  docs/docs/en/intlayer_with_vite+vue.md
  docs/docs/es/intlayer_with_vite+vue.md
  docs/docs/fr/intlayer_with_vite+vue.md
  docs/docs/hi/intlayer_with_vite+vue.md
  docs/docs/id/intlayer_with_vite+vue.md
  docs/docs/it/intlayer_with_vite+vue.md
  docs/docs/ja/intlayer_with_vite+vue.md
  docs/docs/ko/intlayer_with_vite+vue.md
  docs/docs/pl/intlayer_with_vite+vue.md
  docs/docs/pt/intlayer_with_vite+vue.md
  docs/docs/ru/intlayer_with_vite+vue.md
  docs/docs/tr/intlayer_with_vite+vue.md
  docs/docs/vi/intlayer_with_vite+vue.md
  docs/docs/zh/intlayer_with_vite+vue.md
Due: prettier --write

fix(config): ensure default configuration is used when no configuration file is found
  packages/@intlayer/config/src/configFile/getConfiguration.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(cli): remove unnecessary console logging for translation results
  packages/@intlayer/cli/src/fill/translateDictionary.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: update compiler logic
  bun.lock
  examples/next-15-next-intl-app/package.json
  examples/nextjs-15-app/package.json
  examples/vite-react-app/compiler/comp-test.content.json
  examples/vite-react-app/intlayer.config.ts
  examples/vite-react-app/src/test.content.ts
  examples/vite-svelte-app/compiler/comp-app.content.json
  examples/vite-svelte-app/compiler/comp-test.content.json
  examples/vite-svelte-app/compiler/comp-test2.content.json
  examples/vite-svelte-app/intlayer.config.ts
  examples/vite-svelte-app/src/test.content.ts
  examples/vite-vue-app/compiler/comp-test.content.json
  examples/vite-vue-app/compiler/comp-test2.content.json
  examples/vite-vue-app/intlayer.config.ts
  package.json
  packages/@intlayer/babel/src/babel-plugin-intlayer-extract.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/utils/buildFilesList.ts
  packages/@intlayer/chokidar/src/utils/getFormatFromExtension.ts
  packages/@intlayer/svelte-compiler/src/SvelteIntlayerCompiler.ts
  packages/@intlayer/svelte-compiler/src/svelte-intlayer-extract.ts
  packages/@intlayer/vue-compiler/src/VueIntlayerCompiler.ts
  packages/@intlayer/vue-compiler/src/vue-intlayer-extract.ts
  packages/vite-intlayer/src/IntlayerCompilerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(docs): add video and code tabs for Intlayer setup guides in multiple languages
  docs/docs/ar/intlayer_with_tanstack.md
  docs/docs/ar/intlayer_with_vite+vue.md
  docs/docs/de/intlayer_with_tanstack.md
  docs/docs/de/intlayer_with_vite+vue.md
  docs/docs/en-GB/intlayer_with_tanstack.md
  docs/docs/en-GB/intlayer_with_vite+vue.md
  docs/docs/en/intlayer_with_tanstack.md
  docs/docs/en/intlayer_with_vite+vue.md
  docs/docs/es/intlayer_with_tanstack.md
  docs/docs/es/intlayer_with_vite+vue.md
  docs/docs/fr/intlayer_with_tanstack.md
  docs/docs/fr/intlayer_with_vite+vue.md
  docs/docs/hi/intlayer_with_tanstack.md
  docs/docs/hi/intlayer_with_vite+vue.md
  docs/docs/id/intlayer_with_tanstack.md
  docs/docs/id/intlayer_with_vite+vue.md
  docs/docs/it/intlayer_with_tanstack.md
  docs/docs/it/intlayer_with_vite+vue.md
  docs/docs/ja/intlayer_with_tanstack.md
  docs/docs/ja/intlayer_with_vite+vue.md
  docs/docs/ko/intlayer_with_tanstack.md
  docs/docs/ko/intlayer_with_vite+vue.md
  docs/docs/pl/intlayer_with_tanstack.md
  docs/docs/pl/intlayer_with_vite+vue.md
  docs/docs/pt/intlayer_with_tanstack.md
  docs/docs/pt/intlayer_with_vite+vue.md
  docs/docs/ru/intlayer_with_tanstack.md
  docs/docs/ru/intlayer_with_vite+vue.md
  docs/docs/tr/intlayer_with_tanstack.md
  docs/docs/tr/intlayer_with_vite+vue.md
  docs/docs/vi/intlayer_with_tanstack.md
  docs/docs/vi/intlayer_with_vite+vue.md
  docs/docs/zh/intlayer_with_tanstack.md
  docs/docs/zh/intlayer_with_vite+vue.md
Due: prettier --write

chore: replace deepmerge with defu across all packages for improved object merging
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+vue.json
  apps/website/package.json
  bun.lock
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/chokidar/src/loadDictionaries/getIntlayerBundle.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/transformJSFile.test.ts
  packages/@intlayer/config/package.json
  packages/@intlayer/config/src/configFile/getConfiguration.ts
  packages/@intlayer/core/package.json
  packages/@intlayer/core/src/interpreter/getTranslation.ts
  packages/@intlayer/core/src/localization/getMultilingualUrls.test.ts
  packages/angular-intlayer/package.json
  packages/angular-intlayer/src/webpack/mergeConfig.ts
  packages/next-intlayer/package.json
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: add 'examples/**' to ignored files in watcher configuration
  scripts/script-dev-package-command.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(nuxt-intlayer): fix watcher and replace intlayerMiddleware with intlayerProxy
  packages/nuxt-intlayer/src/module.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: update LocaleSwitcher and RouterLink components to use Vue Router for localized navigation
  docs/docs/en/intlayer_with_nuxt.md
  docs/docs/en/intlayer_with_vite+vue.md
  examples/nuxt-3-app/components/Links.vue
  examples/nuxt-3-app/components/LocaleSwitcher.vue
  examples/nuxt-3-app/components/RouterLink.vue
  examples/vite-vue-app/src/components/Links.vue
  examples/vite-vue-app/src/components/LocaleSwitcher.vue
  examples/vite-vue-app/src/components/RouterLink.vue
  packages/vue-intlayer/src/editor/ContentSelectorWrapper.vue
  packages/vue-intlayer/src/editor/EditedContentRenderer.vue
  packages/vue-intlayer/src/editor/EditorSelectorRenderer.vue
Due: prettier --write

review completed in the tsconfig.json
  package.json
  packages/vue-intlayer/tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: streamline locale handling and improve getLocale functionality across multiple files
  docs/docs/ar/intlayer_with_tanstack.md
  docs/docs/en-GB/intlayer_with_tanstack.md
  docs/docs/en/intlayer_with_tanstack.md
  docs/docs/hi/intlayer_with_tanstack.md
  docs/docs/id/intlayer_with_tanstack.md
  docs/docs/ja/intlayer_with_tanstack.md
  docs/docs/ko/intlayer_with_tanstack.md
  docs/docs/pl/intlayer_with_tanstack.md
  docs/docs/tr/intlayer_with_tanstack.md
  docs/docs/vi/intlayer_with_tanstack.md
  docs/docs/zh/intlayer_with_tanstack.md
  examples/tanstack-start-app/src/routes/__root.tsx
  examples/tanstack-start-app/src/routes/{-$locale}/index.tsx
  examples/tanstack-start-app/src/routes/{-$locale}/route.tsx
  examples/tanstack-start-app/src/utils/getLocale.ts
  packages/@intlayer/core/src/localization/getLocale.ts
  packages/@intlayer/core/src/localization/localeDetector.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(docs): update creation date for React Router v7 i18n guide in multiple languages
  docs/docs/de/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/en/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/es/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/fr/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/it/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/ja/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/pl/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/ru/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/tr/intlayer_with_react_router_v7_fs_routes.md
Due: prettier --write

feat(docs): add new embeddings JSON file for React Router v7 Intlayer integration
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_react_router_v7_fs_routes.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(docs): add YouTube video link to Intlayer with TanStack documentation in multiple languages
  docs/docs/ar/intlayer_with_tanstack.md
  docs/docs/de/intlayer_with_tanstack.md
  docs/docs/en-GB/intlayer_with_tanstack.md
  docs/docs/en/intlayer_with_tanstack.md
  docs/docs/es/intlayer_with_tanstack.md
  docs/docs/fr/intlayer_with_tanstack.md
  docs/docs/hi/intlayer_with_tanstack.md
  docs/docs/id/intlayer_with_tanstack.md
  docs/docs/it/intlayer_with_tanstack.md
  docs/docs/ja/intlayer_with_tanstack.md
  docs/docs/ko/intlayer_with_tanstack.md
  docs/docs/pl/intlayer_with_tanstack.md
  docs/docs/pt/intlayer_with_tanstack.md
  docs/docs/ru/intlayer_with_tanstack.md
  docs/docs/tr/intlayer_with_tanstack.md
  docs/docs/vi/intlayer_with_tanstack.md
  docs/docs/zh/intlayer_with_tanstack.md
Due: prettier --write

fix(docs): update iframe titles to use 'File-System Routes' instead of 'fs-routes' across multiple language documentation files
  docs/docs/ar/intlayer_with_react_router_v7.md
  docs/docs/ar/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/de/intlayer_with_react_router_v7.md
  docs/docs/de/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/en-GB/intlayer_with_react_router_v7.md
  docs/docs/en-GB/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/en/intlayer_with_react_router_v7.md
  docs/docs/en/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/es/intlayer_with_react_router_v7.md
  docs/docs/es/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/fr/intlayer_with_react_router_v7.md
  docs/docs/fr/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/hi/intlayer_with_react_router_v7.md
  docs/docs/hi/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/id/intlayer_with_react_router_v7.md
  docs/docs/id/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/it/intlayer_with_react_router_v7.md
  docs/docs/it/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/ja/intlayer_with_react_router_v7.md
  docs/docs/ja/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/ko/intlayer_with_react_router_v7.md
  docs/docs/ko/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/pl/intlayer_with_react_router_v7.md
  docs/docs/pl/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/pt/intlayer_with_react_router_v7.md
  docs/docs/ru/intlayer_with_react_router_v7.md
  docs/docs/ru/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/tr/intlayer_with_react_router_v7.md
  docs/docs/tr/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/vi/intlayer_with_react_router_v7.md
  docs/docs/vi/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/zh/intlayer_with_react_router_v7.md
  docs/docs/zh/intlayer_with_react_router_v7_fs_routes.md
Due: prettier --write

fix(docs): update slugs to 'react-router-v7-fs-routes' in multiple language documentation files
  docs/docs/ar/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/de/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/en-GB/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/en/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/es/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/fr/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/hi/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/id/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/it/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/ja/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/ko/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/pl/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/ru/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/tr/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/vi/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/zh/intlayer_with_react_router_v7_fs_routes.md
Due: prettier --write
