Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

refactor: decouple AI SDK access check from CLI core by moving to aiClient and updating package dependencies
  packages/@intlayer/cli/package.json
  packages/@intlayer/cli/src/fill/fill.ts
  packages/@intlayer/cli/src/reviewDoc/reviewDoc.ts
  packages/@intlayer/cli/src/translateDoc/translateDoc.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: include .intlayer TypeScript files in tsconfig for better type checking
  examples/angular-19-app/tsconfig.app.json
  examples/angular-19-app/tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: remove bin entry from package.json in svelte-compiler and vue-compiler
  packages/@intlayer/svelte-compiler/package.json
  packages/@intlayer/vue-compiler/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump version to 8.7.12 in svelte-compiler package.json
  bun.lock
  packages/@intlayer/svelte-compiler/package.json
  packages/@intlayer/vue-compiler/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(app): expand i18n benchmark with support for Vue, Solid, and Svelte frameworks and update SwitchSelector to support vertical orientation
  apps/website/src/components/I18nBenchmark/LibCard.tsx
  apps/website/src/components/I18nBenchmark/benchmarkData.ts
  apps/website/src/components/I18nBenchmark/constants.tsx
  apps/website/src/components/I18nBenchmark/index.content.ts
  apps/website/src/components/I18nBenchmark/index.tsx
  apps/website/src/components/I18nBenchmark/logo/fluent-vue.png
  apps/website/src/components/I18nBenchmark/logo/solid-primitive.png
  apps/website/src/components/I18nBenchmark/logo/svelte-i18n.png
  apps/website/src/components/I18nBenchmark/logo/vue-i18n.png
  apps/website/src/components/I18nBenchmark/useBenchmarkMetrics.ts
  packages/@intlayer/design-system/src/components/SwitchSelector/index.tsx
  packages/@intlayer/design-system/src/hooks/useItemSelector.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: remove tree-shaking constants in favor of direct process.env lookups across plugins
  bun.lock
  examples/angular-19-app/package.json
  examples/vite-solid-app/src/App.tsx
  examples/vite-solid-app/tsconfig.tsbuildinfo
  packages/@intlayer/core/src/interpreter/getContent/plugins.ts
  packages/@intlayer/core/src/localization/getLocalizedUrl.ts
  packages/@intlayer/core/src/localization/getPrefix.ts
  packages/@intlayer/editor/src/components/ContentSelectorWrapper.ts
  packages/adonis-intlayer/src/index.ts
  packages/angular-intlayer/src/editor/useEditor.ts
  packages/angular-intlayer/src/plugins.ts
  packages/hono-intlayer/src/index.ts
  packages/lit-intlayer/src/editor/useEditor.ts
  packages/lit-intlayer/src/plugins.ts
  packages/next-intlayer/src/client/useLocale.ts
  packages/next-intlayer/src/proxy/intlayerProxy.ts
  packages/preact-intlayer/src/editor/ContentSelector.tsx
  packages/preact-intlayer/src/editor/useEditor.tsx
  packages/preact-intlayer/src/plugins.tsx
  packages/react-intlayer/src/editor/ContentSelector.tsx
  packages/react-intlayer/src/editor/useEditor.tsx
  packages/react-intlayer/src/markdown/processor.tsx
  packages/react-intlayer/src/plugins.tsx
  packages/solid-intlayer/src/client/IntlayerProvider.tsx
  packages/solid-intlayer/src/editor/ContentSelector.tsx
  packages/solid-intlayer/src/editor/useEditor.tsx
  packages/solid-intlayer/src/plugins.tsx
  packages/svelte-intlayer/src/editor/useEditor.ts
  packages/svelte-intlayer/src/plugins.ts
  packages/vanilla-intlayer/src/editor/useEditor.ts
  packages/vanilla-intlayer/src/plugins.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
  packages/vue-intlayer/src/client/installIntlayer.ts
  packages/vue-intlayer/src/editor/ContentSelector.vue
  packages/vue-intlayer/src/editor/useEditor.ts
  packages/vue-intlayer/src/plugins.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(design-system): optimize useItemSelector state updates using useLayoutEffect and conditional checks
  packages/@intlayer/design-system/src/hooks/useItemSelector.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): fix switch selector
  apps/doc/src/components/I18nBenchmark/index.tsx
  apps/website/src/components/I18nBenchmark/index.tsx
  packages/@intlayer/design-system/src/components/SwitchSelector/SwitchSelector.tsx
  packages/@intlayer/design-system/src/components/SwitchSelector/VerticalSwitchSelector.tsx
  packages/@intlayer/design-system/src/components/SwitchSelector/index.tsx
  packages/@intlayer/design-system/src/components/SwitchSelector/useSwitchSelector.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): update Checkbox styling and explicit color variants for consistent UI behavior
  packages/@intlayer/design-system/src/components/Input/Checkbox.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style: update padding in VerticalSwitchSelector to p-1
  packages/@intlayer/design-system/src/components/SwitchSelector/VerticalSwitchSelector.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add benchmark documentation and embeddings for Solid, Svelte, and Vue
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/benchmark/solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/benchmark/svelte.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/benchmark/vue.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/readme.json
  apps/website/src/utils/markdown.ts
  docs/src/generated/docs.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add Vue, Solid, and Svelte benchmark documentation entries
  apps/doc/src/components/DocPage/docData.content.ts
  apps/website/src/components/DocPage/docData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: update links from intlayer.org to intlayer.cn in documentation
  docs/docs/zh/readme.md
Due: prettier --write

fix: remove duplicate benchmark report links for Vue, Solid, and Svelte
  docs/docs/en/benchmark/index.md
Due: prettier --write

refactor: implement sliding session refresh, extend OAuth2 token lifetimes, and replace translation UI buttons with SwitchSelectors
  apps/backend/src/controllers/oAuth2.controller.ts
  apps/backend/src/index.ts
  apps/backend/src/middlewares/oAuth2.middleware.ts
  apps/backend/src/schemas/oAuth2.schema.ts
  apps/backend/src/services/oAuth2.service.ts
  apps/backend/src/utils/auth/getAuth.ts
  apps/backend/src/utils/oAuth2.ts
  packages/@intlayer/design-system/src/hooks/useAuth/useSession.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: update dependecies
  apps/app/package.json
  apps/backend/package.json
  apps/doc/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  examples/analog-app/package.json
  examples/tanstack-start-app/package.json
  examples/vite-react-app/package.json
  package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/types/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(app): replace button groups with SwitchSelectors in TranslationStatusAside component
  apps/app/src/components/TranslationStatusAside/TranslationStatusAside.tsx
  apps/app/src/routes/{-$locale}/_dashboard/index.tsx
  apps/app/src/utils/auth.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): skip empty dictionary content and log errors in translateDictionaries
  apps/backend/src/controllers/translation.controller.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): add color property to Checkbox components in DictionaryListDashboard and SSOSettings
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.tsx
  apps/app/src/components/Dashboard/OrganizationForm/SSO/SSOSettings.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): drop old indexes during MongoDB connection
  apps/backend/src/utils/mongoDB/connectDB.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(core): add support for Preact and Solid node types and improve camelCase-to-env-var formatting
  packages/@intlayer/config/src/envVars/envVars.ts
  packages/@intlayer/config/src/utils/getUsedNodeTypes.ts
  packages/@intlayer/types/src/nodeType.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): update Code components to accept ReactNode, configure TanStack dependencies in Vite, and support external QueryClient in ReactQueryProvider
  apps/app/src/router.tsx
  apps/app/src/routes/__root.tsx
  apps/app/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): update ReactQueryProvider to support dependency injection and allow ReactNode children in code components
  packages/@intlayer/design-system/src/components/IDE/Code.tsx
  packages/@intlayer/design-system/src/components/IDE/CodeBlockClient.tsx
  packages/@intlayer/design-system/src/components/IDE/CodeBlockHighlight.tsx
  packages/@intlayer/design-system/src/components/IDE/CodeBlockShiki.tsx
  packages/@intlayer/design-system/src/providers/ReactQueryProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): update translation status content definitions for component accessibility
  apps/app/src/components/TranslationStatusAside/translationStatusAside.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): replace fragment syntax with Fragment component and assign explicit keys in OrganizationSkeleton
  apps/app/src/components/Dashboard/OrganizationForm/OrganizationSkeleton.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): move Editor component to route level and memoize to preserve state during navigation
  apps/app/src/components/Dashboard/Editor/index.tsx
  apps/app/src/routes/__root.tsx
  apps/app/src/routes/{-$locale}/_dashboard/_editor/_content/editor.tsx
  apps/app/src/routes/{-$locale}/_dashboard/_editor/_content/route.tsx
  apps/app/src/routes/{-$locale}/_other/route.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): introduce locale layout for hot data loading and clean up route tree structure
  apps/app/src/components/TranslationStatusAside/TranslationStatusAside.tsx
  apps/app/src/hooks/useHotDataLoading.tsx
  apps/app/src/routeTree.gen.ts
  apps/app/src/routes/{-$locale}/_dashboard/route.tsx
  apps/app/src/routes/{-$locale}/route.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): add pagination and sorting parameters to tags and dictionaries data fetching hooks
  apps/app/src/hooks/useHotDataLoading.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): remove unused Loader component and improve type safety for tag response data access
  apps/app/src/components/Dashboard/TagForm/TagList.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: implement automatic Cloudflare cache purging during the build process across all applications
  apps/app/Dockerfile
  apps/app/package.json
  apps/app/scripts/purge-cloudflare-cache.ts
  apps/backend/package.json
  apps/doc/.env.template
  apps/doc/Dockerfile
  apps/doc/package.json
  apps/doc/scripts/purge-cloudflare-cache.ts
  apps/showcase/Dockerfile
  apps/showcase/package.json
  apps/showcase/scripts/purge-cloudflare-cache.ts
  apps/website/.env.template
  apps/website/Dockerfile
  apps/website/package.json
  apps/website/scripts/purge-cloudflare-cache.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: filter framework-specific node types from unused logic warnings in server and build plugins
  packages/lynx-intlayer/src/plugin/pluginIntlayerLynx.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

perf(app): update dashboard sidebar link preload strategy from viewport to intent
  apps/app/src/components/Dashboard/DashboardSidebar/DashboardSidebar.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): add success toast notification when translation fill is already up to date
  apps/app/src/components/TranslationStatusAside/TranslationStatusAside.tsx
  apps/app/src/components/TranslationStatusAside/translationStatusAside.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): implement React Query cache persistence using local storage in ReactQueryProvider
  bun.lock
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/src/providers/ReactQueryProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(showcase): add loading skeleton to MoreProjects and update ProjectCard preload strategy to intent
  apps/showcase/src/components/ProjectCard.tsx
  apps/showcase/src/components/ProjectFocus/MoreProjects.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
