Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

style(website): update form button submit
  packages/@intlayer/design-system/src/components/Auth/ChangePasswordForm/ChangePasswordForm.tsx
  packages/@intlayer/design-system/src/components/Auth/ResetPasswordForm/ResetPasswordForm.tsx
  packages/@intlayer/design-system/src/components/Auth/SignInForm/SignInForm.tsx
  packages/@intlayer/design-system/src/components/Auth/SignUpForm/SignUpForm.tsx
Due: prettier --write, eslint --fix --cache

style(design-system): update warning color light mode
  packages/@intlayer/design-system/tailwind.config.js
Due: prettier --write, eslint --fix --cache

fix(website): add stripe CSP connect-src
  apps/website/next.config.mjs
Due: none

fix(design-system): fix useGetSubscription url and name
  apps/website/src/components/OnboardPage/PaymentStep/PaymentStepForm.tsx
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
  packages/@intlayer/design-system/src/libs/intlayer-api/stripe.ts
Due: prettier --write, eslint --fix --cache

fix(backend): Add cache-control as allowed header
  apps/backend/src/index.ts
Due: prettier --write, eslint --fix --cache

fix(website): add github CSP
  apps/website/next.config.mjs
Due: none

fix(website): add Access-Control-Allow-Origin header
  apps/backend/src/index.ts
Due: prettier --write, eslint --fix --cache

fix(website): fix import useGetSubscription in PaymentStepForm
  apps/website/src/components/OnboardPage/PaymentStep/PaymentStepForm.tsx
Due: prettier --write, eslint --fix --cache

fix(website): update SetupOrganizationStepForm
  apps/website/src/components/OnboardPage/SetUpOrganizationStep/SetUpOrganizationStepForm.tsx
Due: prettier --write, eslint --fix --cache

fix(website): fix get back useStep
  apps/website/src/components/OnboardPage/useStep.ts
Due: prettier --write, eslint --fix --cache

feat(website): implement use persistance store
  apps/website/src/components/OnboardPage/steps.ts
  apps/website/src/components/OnboardPage/useStep.ts
  packages/@intlayer/design-system/src/hooks/index.ts
  packages/@intlayer/design-system/src/hooks/usePersistedStore.ts
Due: prettier --write, eslint --fix --cache

fix(website): fix github connect-src CSP
  apps/website/next.config.mjs
Due: none

style(website): fix system next-theme
  apps/website/src/components/BackgroundLayout/index.tsx
  apps/website/src/components/CodeRender/index.tsx
  apps/website/src/components/DemoPage/AsideImage.tsx
  apps/website/src/components/DocPage/DocumentationRender.tsx
  apps/website/src/components/IDE/index.tsx
  apps/website/src/components/ThemeSwitcherDropDown/DesktopThemeSwitcher.tsx
  apps/website/src/components/ThemeSwitcherDropDown/MobileThemeSwitcher.tsx
  apps/website/src/components/ThemeSwitcherDropDown/SwitchThemeSwitcher.tsx
Due: prettier --write, eslint --fix --cache

refactor(website): optimize useGetDictionary in ContentDashboard
  apps/website/src/components/Dashboard/ContentDashboard/index.tsx
Due: prettier --write, eslint --fix --cache

fix(website): fix github content image src
  apps/website/next.config.mjs
Due: none

security(backend): protect redirect url on auth
  apps/backend/src/controllers/sessionAuth.controller.ts
  apps/backend/src/utils/errors/errorCodes.ts
Due: prettier --write, eslint --fix --cache

fix(react-app-example): restore eslint 8
  examples/react-app/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(website): fix connection to data url
  apps/website/next.config.mjs
Due: none

doc(core): update README.md
  README.md
  packages/intlayer-editor/README.md
Due: prettier --write

core: add changeset
  .changeset/happy-poems-stare.md
Due: prettier --write

core: update packages version
  apps/backend/package.json
  docs/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
Due: prettier --write

fix(vite): fix process in getPlatform
  packages/@intlayer/config/src/envVariables/detectPlatform.ts
Due: prettier --write, eslint --fix --cache

core: update packages
  .changeset/tricky-kids-sell.md
  apps/backend/package.json
  docs/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
Due: prettier --write

feat(webpack): remove unused dependencies
  packages/@intlayer/webpack/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(intlayer-editor): make fetch distant dictionaries work on server side
  packages/@intlayer/chokidar/src/fetchDistantDictionaries.ts
  packages/@intlayer/chokidar/src/fetchDistantDictionaryKeys.ts
  packages/@intlayer/design-system/src/libs/intlayer-api/auth.ts
  packages/@intlayer/design-system/src/libs/intlayer-api/dictionary.ts
  packages/@intlayer/design-system/src/libs/intlayer-api/index.ts
  packages/@intlayer/design-system/src/libs/intlayer-api/organization.ts
  packages/@intlayer/design-system/src/libs/intlayer-api/project.ts
  packages/@intlayer/design-system/src/libs/intlayer-api/stripe.ts
  packages/@intlayer/design-system/src/libs/intlayer-api/user.ts
  packages/react-intlayer/src/vite/intlayerPlugin.ts
Due: prettier --write, eslint --fix --cache

core: publish new version
  .changeset/pink-years-hide.md
  apps/backend/package.json
  docs/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
Due: prettier --write

feat(intlayer-editor): reexport design system styles
  docs/docs/intlayer_editor_en.md
  docs/docs/intlayer_editor_es.md
  docs/docs/intlayer_editor_fr.md
  packages/intlayer-editor/package.json
  packages/intlayer-editor/src/styles/css.ts
  packages/intlayer-editor/src/styles/tailwind.ts
Due: prettier --write, eslint --fix --cache

fix(website): fix data: script-src-elem csp
  apps/website/next.config.mjs
Due: none

feat(core): update subscription system
  apps/backend/src/controllers/stripe.controller.ts
  apps/backend/src/index.ts
  apps/backend/src/middlewares/request.middleware.ts
  apps/backend/src/routes/stripe.routes.ts
  apps/backend/src/schemas/plans.schema.ts
  apps/backend/src/services/organization.service.ts
  apps/backend/src/services/subscription.service.ts
  apps/backend/src/types/plan.types.ts
  apps/backend/src/utils/errors/errorCodes.ts
  apps/backend/src/utils/plan.ts
  apps/backend/src/webhooks/stripe.webhook.ts
  apps/website/next.config.mjs
  apps/website/src/components/Dashboard/OrganizationForm/OrganizationList.tsx
  apps/website/src/components/Dashboard/OrganizationForm/Plan/PlanDetails.tsx
  apps/website/src/components/Dashboard/OrganizationForm/Plan/plan.content.ts
  apps/website/src/components/OnboardPage/DefinePasswordStep/DefinePasswordStepForm.tsx
  apps/website/src/components/OnboardPage/PaymentStep/PaymentStepForm.tsx
  apps/website/src/components/OnboardPage/PaymentStep/index.content.ts
  apps/website/src/components/OnboardPage/SetUpOrganizationStep/SetUpOrganizationStepForm.tsx
  apps/website/src/components/OnboardPage/SetUpOrganizationStep/index.content.ts
  apps/website/src/components/PricingPage/PricingCarousel.tsx
  apps/website/src/components/PricingPage/data.content.ts
  packages/@intlayer/design-system/src/components/Auth/ChangePasswordForm/ChangePasswordForm.tsx
  packages/@intlayer/design-system/src/components/Tag/index.tsx
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
  packages/@intlayer/design-system/src/hooks/useAsync/useAsync.ts
  packages/@intlayer/design-system/src/hooks/usePersistedStore.ts
  packages/@intlayer/design-system/src/libs/intlayer-api/stripe.ts
Due: prettier --write, eslint --fix --cache

fix(chokidar): fix watcher detecting new files
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/chokidar/src/chokidar/watcher.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_main/createDictionaryList.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

refactor(core): replace glob by fast-glob
  package.json
  packages/@intlayer/chokidar/src/cleanOutputDir.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_type/createModuleAugmentation.ts
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/vite.config.ts
  packages/@intlayer/webpack/package.json
  packages/@intlayer/webpack/src/getEntries.ts
  pnpm-lock.yaml
  scripts/dev-pick.mjs
Due: prettier --write, eslint --fix --cache

feat(chokidar): update logging system
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/chokidar/src/chokidar/watcher.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadDictionaries.ts
  packages/@intlayer/chokidar/src/log.ts
  packages/@intlayer/chokidar/src/utils.ts
  packages/intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

core: update package version
  .changeset/gorgeous-starfishes-walk.md
  apps/backend/package.json
  docs/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
Due: prettier --write

doc(core): add hooks doc
  apps/website/src/Routes.ts
  apps/website/src/components/DocPage/DocNavList.tsx
  apps/website/src/components/DocPage/docData.ts
  docs/DocsKeys.d.ts
  docs/docs/hooks/next-intlayer/useDictionary_en.md
  docs/docs/hooks/next-intlayer/useDictionary_es.md
  docs/docs/hooks/next-intlayer/useDictionary_fr.md
  docs/docs/hooks/next-intlayer/useIntlayer_en.md
  docs/docs/hooks/next-intlayer/useIntlayer_es.md
  docs/docs/hooks/next-intlayer/useIntlayer_fr.md
  docs/docs/hooks/next-intlayer/useLocale_en.md
  docs/docs/hooks/next-intlayer/useLocale_es.md
  docs/docs/hooks/next-intlayer/useLocale_fr.md
  docs/docs/hooks/react-intlayer/useDictionary_en.md
  docs/docs/hooks/react-intlayer/useDictionary_es.md
  docs/docs/hooks/react-intlayer/useDictionary_fr.md
  docs/docs/hooks/react-intlayer/useIntlayer_en.md
  docs/docs/hooks/react-intlayer/useIntlayer_es.md
  docs/docs/hooks/react-intlayer/useIntlayer_fr.md
  docs/docs/hooks/react-intlayer/useLocale_en.md
  docs/docs/hooks/react-intlayer/useLocale_es.md
  docs/docs/hooks/react-intlayer/useLocale_fr.md
  docs/index.cjs
  docs/index.d.ts
  packages/@intlayer/design-system/src/components/index.ts
Due: prettier --write, eslint --fix --cache

feat(webpage): add edition suggestion button to documentation
  apps/website/src/app/[locale]/(landing)/(not-editable)/doc/[[...doc]]/index.content.ts
  apps/website/src/app/[locale]/(landing)/(not-editable)/doc/[[...doc]]/page.tsx
  packages/@intlayer/design-system/src/components/Container/index.tsx
Due: prettier --write, eslint --fix --cache

fix(design-system): Fix DictionaryEditor
  packages/@intlayer/design-system/src/components/DictionaryEditor/DictionaryEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/index.tsx
  packages/@intlayer/design-system/src/components/EditableField/EditableFieldLayout.tsx
  packages/@intlayer/design-system/src/components/EditableField/EditableFieldTextArea.tsx
Due: prettier --write, eslint --fix --cache

feat(design-system): Add reset node change button DictionaryFieldEditor
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/DictionaryEditor/useEditedContentStore.ts
  packages/@intlayer/design-system/src/components/DictionaryEditor/validDictionaryChangeButtons.content.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/EditorView/EditorView.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/SaveForm/SaveForm.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/SaveForm/saveForm.content.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/editorView.content.ts
Due: prettier --write, eslint --fix --cache

feat(design-system): implement JSON editor DictionaryFieldEditor
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/ContentEditor/ContentEditorTextArea.tsx
  packages/@intlayer/design-system/src/components/DictionaryEditor/useEditedContentStore.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryFieldEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/JSONEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/NodeEditor.tsx
Due: prettier --write, eslint --fix --cache

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix --cache: any of: *.{js,jsx,ts,tsx}
