Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

refactor(website): remove unused CMSLandingPage and TMSLandingPage components for improved code cleanliness and maintainability
  apps/website/src/components/CMSLandingPage/AnimatedDiv.tsx
  apps/website/src/components/CMSLandingPage/ComingSoonSection.tsx
  apps/website/src/components/CMSLandingPage/ContentDeliverySection.tsx
  apps/website/src/components/CMSLandingPage/FeaturesSection.tsx
  apps/website/src/components/CMSLandingPage/FinalCTASection.tsx
  apps/website/src/components/CMSLandingPage/HeroSection.tsx
  apps/website/src/components/CMSLandingPage/IntegrationSection.tsx
  apps/website/src/components/CMSLandingPage/ValuePropsSection.tsx
  apps/website/src/components/CMSLandingPage/cms-landing.content.ts
  apps/website/src/components/CMSLandingPage/coming-soon.content.ts
  apps/website/src/components/CMSLandingPage/content-delivery.content.ts
  apps/website/src/components/CMSLandingPage/features.content.ts
  apps/website/src/components/CMSLandingPage/final-cta.content.ts
  apps/website/src/components/CMSLandingPage/hero.content.ts
  apps/website/src/components/CMSLandingPage/index.tsx
  apps/website/src/components/LandingPage/ProductsSection/AIABTestingSection/ai-ab-testing-section.content.ts
  apps/website/src/components/LandingPage/ProductsSection/AIABTestingSection/index.tsx
  apps/website/src/components/TMSLandingPage/ComparisonSection.tsx
  apps/website/src/components/TMSLandingPage/FeaturesSection.tsx
  apps/website/src/components/TMSLandingPage/FinalCTASection.tsx
  apps/website/src/components/TMSLandingPage/HeroSection.tsx
  apps/website/src/components/TMSLandingPage/PainPointsSection.tsx
  apps/website/src/components/TMSLandingPage/comparison-section.content.ts
  apps/website/src/components/TMSLandingPage/features-section.content.ts
  apps/website/src/components/TMSLandingPage/final-cta-section.content.ts
  apps/website/src/components/TMSLandingPage/hero-section.content.ts
  apps/website/src/components/TMSLandingPage/pain-points-section.content.ts
  apps/website/src/components/TMSLandingPage/tms-landing.content.ts
  packages/@intlayer/design-system/src/components/Form/FormItem.tsx
  packages/@intlayer/design-system/src/components/Form/layout/FormLabelLayout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add CMS and TMS landing page content and images for enhanced user experience
  apps/website/src/components/CMSLandingPage/CMS_screenshot.png
  apps/website/src/components/CMSLandingPage/HeroSection.tsx
  apps/website/src/components/CMSLandingPage/integration.content.ts
  apps/website/src/components/CMSLandingPage/value-props.content.ts
  apps/website/src/components/TMSLandingPage/HeroSection.tsx
  apps/website/src/components/TMSLandingPage/TMS_screenshot.png
  apps/website/src/components/TMSLandingPage/hero-section.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add British English translations and update TMS landing page key for consistency
  apps/website/src/components/CMSLandingPage/coming-soon.content.ts
  apps/website/src/components/CMSLandingPage/content-delivery.content.ts
  apps/website/src/components/CMSLandingPage/features.content.ts
  apps/website/src/components/CMSLandingPage/final-cta.content.ts
  apps/website/src/components/CMSLandingPage/hero.content.ts
  apps/website/src/components/CMSLandingPage/integration.content.ts
  apps/website/src/components/CMSLandingPage/value-props.content.ts
  apps/website/src/components/LandingPage/LandingSection/landing-section.content.ts
  apps/website/src/components/TMSLandingPage/FeaturesSection.tsx
  apps/website/src/components/TMSLandingPage/features-section.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): enhance listDictionaries function to support dynamic ignore patterns and deduplicate results for improved file handling
  apps/website/intlayer.config.ts
  packages/@intlayer/chokidar/src/listDictionariesPath.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(core): enhance dictionary not found logging with colorized key for better visibility
  packages/@intlayer/core/src/interpreter/getIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(swc): update comments for clarity and consistency in lib.rs
  packages/@intlayer/swc/src/lib.rs
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

refactor(config): update contentDir path resolution logic for improved module handling and directory detection
  apps/website/intlayer.config.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(config): restore backendURL assignment and update domain variable in auth configuration for consistency
  apps/app/intlayer.config.ts
  apps/backend/src/utils/auth/getAuth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(config): remove producthunt.com from secureHeaders for updated domain management
  apps/app/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): add unique IDs to input fields in project, access key, and tag forms for improved accessibility
  apps/app/src/components/Auth/PasskeyManagement/AddPasskeyModal.tsx
  apps/app/src/components/Dashboard/OrganizationForm/OrganizationCreationForm.tsx
  apps/app/src/components/Dashboard/OrganizationForm/OrganizationEditionForm.tsx
  apps/app/src/components/Dashboard/ProfileForm/ProfileForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/AccessKey/AccessKeyCreationForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/ProjectCreationForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/ProjectEditionForm.tsx
  apps/app/src/components/Dashboard/TagForm/TagCreationForm.tsx
  apps/app/src/components/Dashboard/TagForm/TagEditionForm.tsx
  apps/app/src/components/Dashboard/UserForm/UserEditForm.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(config): disable autocomplete for AI API key input in ConfigEditionForm to enhance security
  apps/app/src/components/Dashboard/ProjectForm/Config/ConfigEditionForm.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(modal): enhance modal component with scrollable content support and improve layout for better usability
  apps/app/src/components/Dashboard/ProjectForm/AccessKey/AccessKeyForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/Config/ConfigEditionForm.tsx
  packages/@intlayer/design-system/src/components/Modal/Modal.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(workflows): remove deprecated Vercel deployment workflow for template app
  .github/workflows/deploy_template_app.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(github): remove unused GitHub repository link content and streamline GitHub connection handling
  apps/app/src/components/Dashboard/ProjectForm/GithubRepository/index.tsx
  apps/app/src/components/Dashboard/ProjectForm/GithubRepository/useGithubRepository.ts
  apps/app/src/components/Dashboard/ProjectForm/githubRepositoryLink.content.ts
  apps/backend/src/services/github.service.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): add GitHub repository details in ProjectCard
  apps/app/src/components/Dashboard/ProjectForm/ProjectCard.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(docker): exclude apps/website from app Dockerfile and vice versa
  apps/app/Dockerfile
  apps/website/Dockerfile
Due: none

refactor(app): update ProjectCard to use unified repository structure
  apps/app/src/components/Dashboard/ProjectForm/ProjectCard.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(auth): improve login button components with conditional class handling and streamline visibility logic
  apps/app/src/components/Auth/AlternativeLoginMethods.tsx
  apps/app/src/components/Auth/ExternalsLoginButtons/ExternalsLoginButtons.tsx
  apps/app/src/components/Auth/MagicLinkButton/MagicLinkButton.tsx
  apps/app/src/components/Auth/SSOButton/SSOButton.tsx
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/index.tsx
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/useRepositoryLink.ts
  apps/backend/src/controllers/github.controller.ts
  apps/backend/src/utils/auth/getAuth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): update beta tag translations for consistency and clarity
  apps/website/src/components/LandingPage/ProductsSection/AIABTestingSection/ai-ab-testing-section.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(backend): update dependencies for @fastify/cookie, @fastify/cors, and mongoose to latest versions
  apps/backend/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(docs): update documentation URLs and add new environment routes for Next.js and Vite
  apps/website/src/Routes.ts
  packages/@intlayer/chokidar/src/init/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(docs): update star history chart links in multiple language documentation files
  docs/docs/en/interest_of_intlayer.md
Due: prettier --write

feat(docs): add login instructions for Intlayer CMS in multiple languages
  docs/docs/ar/intlayer_CMS.md
  docs/docs/de/intlayer_CMS.md
  docs/docs/en-GB/intlayer_CMS.md
  docs/docs/en/intlayer_CMS.md
  docs/docs/es/intlayer_CMS.md
  docs/docs/fr/intlayer_CMS.md
  docs/docs/hi/intlayer_CMS.md
  docs/docs/id/intlayer_CMS.md
  docs/docs/it/intlayer_CMS.md
  docs/docs/ja/intlayer_CMS.md
  docs/docs/ko/intlayer_CMS.md
  docs/docs/pl/intlayer_CMS.md
  docs/docs/pt/intlayer_CMS.md
  docs/docs/ru/intlayer_CMS.md
  docs/docs/tr/intlayer_CMS.md
  docs/docs/vi/intlayer_CMS.md
  docs/docs/zh/intlayer_CMS.md
Due: prettier --write

feat(app): implement build settings management with CI configuration and webhook support in ProjectForm
  apps/app/src/components/Dashboard/OrganizationForm/Members/MembersForm.tsx
  apps/app/src/components/Dashboard/OrganizationForm/OrganizationForm.tsx
  apps/app/src/components/Dashboard/ProfileForm/ProfileForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/AccessKey/AccessKeyForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/BuildSettings.tsx
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/CIWorkflowModal.tsx
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/CI_BITBUCKET_TEMPLATE.yaml
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/CI_GITHUB_TEMPLATE.yaml
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/CI_GITLAB_TEMPLATE.yaml
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/WebhookModal.tsx
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/buildSettings.content.ts
  apps/app/src/components/Dashboard/ProjectForm/ProjectForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/index.tsx
  apps/backend/src/controllers/dictionary.controller.ts
  apps/backend/src/controllers/project.controller.ts
  apps/backend/src/routes/project.routes.ts
  apps/backend/src/schemas/project.schema.ts
  apps/backend/src/services/bitbucket.service.ts
  apps/backend/src/services/ci.service.ts
  apps/backend/src/services/github.service.ts
  apps/backend/src/services/gitlab.service.ts
  apps/backend/src/services/webhook.service.ts
  apps/backend/src/types/project.types.ts
  packages/@intlayer/api/src/getIntlayerAPI/project.ts
  packages/@intlayer/api/src/types.ts
  packages/@intlayer/design-system/src/components/Container/index.tsx
  packages/@intlayer/design-system/src/components/Link/Link.tsx
  packages/@intlayer/design-system/src/hooks/reactQuery.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): update robots and sitemap configurations to improve URL management and accessibility
  apps/app/src/app/robots.ts
  apps/app/src/app/sitemap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(deps): add error management and update ai access using ollama
  bun.lock
  packages/@intlayer/ai/src/aiSdk.ts
  packages/@intlayer/cli/package.json
  packages/@intlayer/cli/src/translateDoc.ts
  packages/@intlayer/cli/src/utils/checkAccess.ts
  packages/@intlayer/cli/src/utils/setupAI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(chokidar): add Ukrainian locale support and update documentation for multilingual content extraction
  packages/@intlayer/chokidar/src/loadDictionaries/loadDictionaries.ts
  plugins/sync-json-plugin/src/syncJSON.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(sync-json-plugin): enhance output formatting by including dictionary format in syncJSON function
  plugins/sync-json-plugin/src/syncJSON.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(docker): exclude 'apps/app' from Dockerfile COPY instructions in design-system and mcp packages
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

chore(deps): add 'defu' dependency and clean up webpack configuration in intlayer packages
  bun.lock
  examples/react-app/intlayer.config.ts
  examples/react-app/package.json
  examples/react-app/src/Router.tsx
  examples/react-app/src/index.tsx
  examples/react-app/src/reportWebVitals.ts
  packages/intlayer-cli/package.json
  packages/react-scripts-intlayer/package.json
  packages/react-scripts-intlayer/src/craco.config.ts
  packages/react-scripts-intlayer/src/intlayerCracoPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(deps): update 'react-router-dom' to version 7.12.0 in multiple examples and packages
  bun.lock
  examples/react-app/package.json
  examples/react-router-app/package.json
  examples/react-router-fs-app/package.json
  examples/vite-react-app/package.json
  package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(react-script-intlayer): remove esm output
  packages/react-scripts-intlayer/tsdown.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(translate-doc): add translation validation to ensure structural integrity and URL accuracy
  apps/app/intlayer.config.ts
  docs/docs/uk/compiler.md
  docs/docs/uk/component_i18n.md
  docs/docs/uk/intlayer_with_nextjs_14.md
  docs/docs/uk/intlayer_with_nextjs_15.md
  docs/docs/uk/intlayer_with_nextjs_16.md
  docs/docs/uk/packages/intlayer/getConfiguration.md
  docs/docs/uk/vs_code_extension.md
  docs/intlayer.config.ts
  docs/src/generated/blog.entry.ts
  docs/src/generated/docs.entry.ts
  docs/src/generated/frequentQuestions.entry.ts
  docs/src/generated/legal.entry.ts
  docs/tools/translate.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/index.ts
  packages/@intlayer/cli/src/reviewDoc/reviewDoc.ts
  packages/@intlayer/cli/src/reviewDoc/reviewDocBlockAware.ts
  packages/@intlayer/cli/src/translateDoc.ts
  packages/@intlayer/cli/src/translateDoc/index.ts
  packages/@intlayer/cli/src/translateDoc/translateDoc.ts
  packages/@intlayer/cli/src/translateDoc/translateFile.ts
  packages/@intlayer/cli/src/translateDoc/types.ts
  packages/@intlayer/cli/src/translateDoc/validation.ts
  packages/@intlayer/cli/src/translation-alignment/index.ts
  packages/@intlayer/cli/src/translation-alignment/planActions.ts
  packages/@intlayer/cli/src/translation-alignment/segmentDocument.ts
  packages/@intlayer/config/src/logger.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(build): switch from tsx to bun for script execution and enhance asset copying in tsdown configuration
  apps/backend/package.json
  apps/backend/src/index.ts
  apps/backend/src/utils/AI/askDocQuestion/askDocQuestion.ts
  apps/backend/src/utils/AI/auditDictionary/index.ts
  apps/backend/src/utils/AI/auditDictionaryField/index.ts
  apps/backend/src/utils/AI/auditTag/index.ts
  apps/backend/src/utils/AI/autocomplete/index.ts
  apps/backend/tsdown.config.ts
  apps/backend/types/tsdown.d.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): add suppressHydrationWarning to ContributorAvatar for improved hydration handling
  apps/website/src/components/LandingPage/ContributorSection/ContributorCloud.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
