Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

fix: add useLocale hook (closes #114)
  examples/vite-svelte-app/src/App.svelte
  examples/vite-svelte-app/src/hooks/useLocale.ts
Due: prettier --write, eslint --fix --cache

fix(website): update Discord link to the new invite URL
  apps/website/src/Routes.ts
Due: prettier --write, eslint --fix --cache

fix(design-system): mobile navbar breakpoint updated to lg
  packages/@intlayer/design-system/src/components/Navbar/DesktopNavbar.tsx
  packages/@intlayer/design-system/src/components/Navbar/index.tsx
Due: prettier --write, eslint --fix --cache

doc: add interoperability section for `intlayer` with various i18n libraries in blog and documentation
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en/react-i18next_vs_react-intl_vs_intlayer.md
  docs/blog/en/vue-i18n_vs_intlayer.md
  docs/docs/en/interest_of_intlayer.md
Due: prettier --write

doc: update ecosystem/community section in i18n comparison articles for accuracy
  docs/blog/en-GB/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

chore: update package versions from 5.8.0-canary.0 to 5.8.0 across all packages
  apps/backend/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/webpack/package.json
  packages/intlayer-cli/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
Due: prettier --write

feat(locales): add missing locale mappings
  packages/@intlayer/config/src/types/locales.ts
Due: prettier --write, eslint --fix --cache

doc: enhance formatters documentation with new Intl utilities and Vue support across multiple languages
  docs/docs/ar/formatters.md
  docs/docs/de/formatters.md
  docs/docs/en-GB/formatters.md
  docs/docs/es/formatters.md
  docs/docs/fr/formatters.md
  docs/docs/hi/formatters.md
  docs/docs/it/formatters.md
  docs/docs/ja/formatters.md
  docs/docs/ko/formatters.md
  docs/docs/pt/formatters.md
  docs/docs/ru/formatters.md
  docs/docs/zh/formatters.md
Due: prettier --write

refactor: enhance useDictionary and useIntlayer hooks for improved reactivity and locale handling
  packages/vue-intlayer/src/client/useDictionary.ts
  packages/vue-intlayer/src/client/useIntlayer.ts
Due: prettier --write, eslint --fix --cache

doc: enhance formatters documentation with additional Intl utilities and Vue support
  docs/docs/ar/formatters.md
  docs/docs/de/formatters.md
  docs/docs/en-GB/formatters.md
  docs/docs/en/formatters.md
  docs/docs/es/formatters.md
  docs/docs/fr/formatters.md
  docs/docs/hi/formatters.md
  docs/docs/it/formatters.md
  docs/docs/ja/formatters.md
  docs/docs/ko/formatters.md
  docs/docs/pt/formatters.md
  docs/docs/ru/formatters.md
  docs/docs/zh/formatters.md
Due: prettier --write

refactor: remove unnecessary `.value` from formatting hooks for cleaner code
  packages/vue-intlayer/src/format/useCompact.ts
  packages/vue-intlayer/src/format/useCurrency.ts
  packages/vue-intlayer/src/format/useDate.ts
  packages/vue-intlayer/src/format/useList.ts
  packages/vue-intlayer/src/format/useNumber.ts
  packages/vue-intlayer/src/format/usePercentage.ts
  packages/vue-intlayer/src/format/useRelativeTime.ts
  packages/vue-intlayer/src/format/useUnit.ts
Due: prettier --write, eslint --fix --cache

feat(preact-intlayer): add new formatting hooks for compact, currency, date, list, number, percentage, relative time, and unit with locale support
  packages/preact-intlayer/package.json
  packages/preact-intlayer/src/client/format/index.ts
  packages/preact-intlayer/src/client/format/useCompact.ts
  packages/preact-intlayer/src/client/format/useCurrency.ts
  packages/preact-intlayer/src/client/format/useDate.ts
  packages/preact-intlayer/src/client/format/useList.ts
  packages/preact-intlayer/src/client/format/useNumber.ts
  packages/preact-intlayer/src/client/format/usePercentage.ts
  packages/preact-intlayer/src/client/format/useRelativeTime.ts
  packages/preact-intlayer/src/client/format/useUnit.ts
Due: prettier --write, eslint --fix --cache

doc: update formatters documentation to clarify usage in Preact and Next.js applications
  docs/docs/en/formatters.md
Due: prettier --write

chore: update lucide-react version to 0.541.0 across multiple packages
  apps/website/package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(app): correct useLocale hook usage and reactive content
  examples/vite-svelte-app/src/App.svelte
Due: none

refactor(svelte-example): restore changes
  examples/vite-svelte-app/src/App.svelte
  examples/vite-svelte-app/src/hooks/useLocale.ts
Due: prettier --write, eslint --fix --cache

feat(vite-intlayer): exclude dictionary from bundle when enable hot reload
  examples/vite-react-app/intlayer.config.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: prettier --write, eslint --fix --cache

fix(vite-react-app): enable skipLibCheck in tsconfig to fix build
  examples/vite-react-app/tsconfig.json
Due: prettier --write

fix(vite-intlayer): simplify return value for isIntlayerGenerated check
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: prettier --write, eslint --fix --cache

fix(chokidar): fix type generation that replace invalid content
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_type/createType.ts
Due: prettier --write, eslint --fix --cache

fix(vite-intlayer): remove problematic cleanOutputDir import
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: prettier --write, eslint --fix --cache

refactor(vite-intlayer): remove hotReload configuration logic from intlayerPlugin
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: prettier --write, eslint --fix --cache

fix(vite-react-app): update contentDir in intlayer.config to point to the current directory
  examples/vite-react-app/intlayer.config.ts
Due: prettier --write, eslint --fix --cache

fix(design-system): update storybook control properties to allow undefined values for better flexibility
  packages/@intlayer/design-system/src/components/Button/button.stories.tsx
  packages/@intlayer/design-system/src/components/Input/checkbox.stories.tsx
  packages/@intlayer/design-system/src/components/Input/input.stories.tsx
  packages/@intlayer/design-system/src/components/Input/inputPassword.stories.tsx
  packages/@intlayer/design-system/src/components/Loader/loader.stories.tsx
  packages/@intlayer/design-system/src/components/Modal/modal.stories.tsx
  packages/@intlayer/design-system/src/components/Popover/popover.stories.tsx
Due: prettier --write, eslint --fix --cache

chore(design-system): add workspace dependency for intlayer in package.json
  packages/@intlayer/design-system/package.json
Due: prettier --write

chore(design-system): clean up .prettierignore by removing redundant .intlayer entry
  packages/@intlayer/design-system/.prettierignore
Due: none

feat(design-system): add initial internationalization configuration with supported locales
  packages/@intlayer/design-system/intlayer.config.ts
Due: prettier --write, eslint --fix --cache

fix(design-system): update default values in storybook stories to undefined for boolean controls
  packages/@intlayer/design-system/src/components/Button/button.stories.tsx
  packages/@intlayer/design-system/src/components/Input/checkbox.stories.tsx
  packages/@intlayer/design-system/src/components/Input/input.stories.tsx
  packages/@intlayer/design-system/src/components/Input/inputPassword.stories.tsx
  packages/@intlayer/design-system/src/components/Loader/loader.stories.tsx
  packages/@intlayer/design-system/src/components/Modal/modal.stories.tsx
Due: prettier --write, eslint --fix --cache

refactor(design-system): replace useDictionary with useIntlayer in components and update content configurations
  apps/website/intlayer.config.ts
  packages/@intlayer/design-system/src/components/Breadcrumb/index.tsx
  packages/@intlayer/design-system/src/components/CopyButton/CopyButton.content.ts
  packages/@intlayer/design-system/src/components/CopyButton/index.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/ContentEditorView/TextEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryCreationForm/DictionaryCreationForm.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryCreationForm/useDictionaryFormSchema.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryDetails/DictionaryDetailsForm.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryDetails/useDictionaryDetailsSchema.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryFieldEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/NavigationView/NavigationViewNode.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/NodeTypeSelector.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/SaveForm/SaveForm.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/StructureView/StructureView.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/StructureView/structureView.content.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/VersionSwitcherDropDown/VersionSwitcher.tsx
  packages/@intlayer/design-system/src/components/IDE/CopyCode.tsx
  packages/@intlayer/design-system/src/components/LocaleSwitcherContentDropDown/LocaleSwitcherContent.tsx
  packages/@intlayer/design-system/src/components/LocaleSwitcherDropDown/LocaleSwitcher.tsx
  packages/@intlayer/design-system/src/components/Table/Table.tsx
  packages/@intlayer/design-system/tsconfig.json
  packages/intlayer-editor/intlayer.config.ts
Due: prettier --write, eslint --fix --cache

fix(design-system): update EditableFieldInput story controls to allow undefined default values
  packages/@intlayer/design-system/src/components/EditableField/editableFieldInput.stories.tsx
Due: prettier --write, eslint --fix --cache

feat(design-system): expand collapse component created
  packages/@intlayer/design-system/src/components/ExpandCollapse/ExpandCollapse.tsx
  packages/@intlayer/design-system/src/components/ExpandCollapse/index.tsx
  packages/@intlayer/design-system/src/components/IDE/Code.tsx
  packages/@intlayer/design-system/src/components/IDE/code.content.ts
Due: prettier --write, eslint --fix --cache

feat(design-system): code show hide content replaced with cond function
  packages/@intlayer/design-system/src/components/ExpandCollapse/ExpandCollapse.tsx
  packages/@intlayer/design-system/src/components/IDE/Code.tsx
  packages/@intlayer/design-system/src/components/IDE/code.content.ts
Due: prettier --write, eslint --fix --cache

fix(design-system): vertical scrollbar removed from code snippets
  packages/@intlayer/design-system/src/components/IDE/Code.tsx
Due: prettier --write, eslint --fix --cache

refactor(design-system): review ExpandCollapse component and integrate into Code and Table components
  packages/@intlayer/design-system/src/components/ExpandCollapse/ExpandCollapse.tsx
  packages/@intlayer/design-system/src/components/ExpandCollapse/expandCollapse.content.ts
  packages/@intlayer/design-system/src/components/IDE/Code.tsx
  packages/@intlayer/design-system/src/components/IDE/code.content.ts
  packages/@intlayer/design-system/src/components/Table/Table.tsx
  packages/@intlayer/design-system/src/components/Table/table.content.ts
  packages/@intlayer/design-system/src/components/index.ts
Due: prettier --write, eslint --fix --cache

feat(design-system): is rollable props added for code component
  packages/@intlayer/design-system/src/components/IDE/Code.tsx
Due: prettier --write, eslint --fix --cache

feat(design-system): add ExpandCollapse component stories for Storybook
  packages/@intlayer/design-system/src/components/ExpandCollapse/ExpandCollapse.stories.tsx
Due: prettier --write, eslint --fix --cache

doc: add section on GitHub stars to highlight project popularity and community trust
  docs/docs/en/interest_of_intlayer.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix --cache: any of: *.{js,jsx,ts,tsx}
