Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

feat(design-system): update table
  docs/docs/ar/configuration.md
  docs/docs/bn/configuration.md
  docs/docs/cs/configuration.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/nl/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/uk/configuration.md
  docs/docs/ur/configuration.md
  docs/docs/vi/configuration.md
  docs/docs/zh/configuration.md
  packages/@intlayer/core/src/markdown/compiler.ts
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
  packages/@intlayer/design-system/src/components/Table/Table.tsx
  packages/react-intlayer/src/markdown/processor.test.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(design-system): update Table
  packages/@intlayer/design-system/src/components/Table/Table.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): update init script
  packages/@intlayer/chokidar/src/init/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar): read dictionaries from disk to avoid require.cache leak
  packages/@intlayer/chokidar/src/build.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/buildIntlayerDictionary.ts
  packages/@intlayer/chokidar/src/cleanRemovedContentDeclaration.ts
  packages/@intlayer/chokidar/src/utils/readDictionariesFromDisk.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): clean load content declaration
  packages/@intlayer/chokidar/src/loadDictionaries/loadContentDeclaration.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update dependencies
  apps/app/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  examples/tanstack-start-app/package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(core): update type transpiler
  packages/@intlayer/core/src/transpiler/condition/condition.ts
  packages/@intlayer/core/src/transpiler/enumeration/enumeration.ts
  packages/@intlayer/core/src/transpiler/gender/gender.ts
  packages/@intlayer/core/src/transpiler/translation/translation.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(solid-intlayer): fix typescript types
  bun.lock
  examples/vite-solid-app/package.json
  examples/vite-solid-app/tsconfig.tsbuildinfo
  packages/solid-intlayer/package.json
  packages/solid-intlayer/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(preact-app): fix build
  examples/vite-preact-app/package.json
  examples/vite-preact-app/tsconfig.tsbuildinfo
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(solid-intlayer): make markdown import dynamic
  packages/solid-intlayer/src/markdown/compiler.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(vite-intlayer): fix proxy redirection
  examples/vite-react-app/vite.config.ts
  examples/vite-solid-app/src/App.tsx
  examples/vite-solid-app/vite.config.ts
  examples/vite-vue-app/vite.config.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(backend): update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_svelte_kit.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+lit.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+preact.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+solid.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(vite-intlayer): add import mode details in build optimization log
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: optimize and fix package plugins
  examples/vite-lit-app/src/my-element.ts
  examples/vite-preact-app/src/app.tsx
  examples/vite-svelte-app/src/App.svelte
  examples/vite-vanilla-app/src/locale-switcher.ts
  examples/vite-vanilla-app/src/main.ts
  examples/vite-vue-app/src/App.vue
  examples/vite-vue-app/src/components/helloWorld/HelloWorld.vue
  packages/@intlayer/core/src/transpiler/markdown/getMarkdownMetadata.ts
  packages/angular-intlayer/src/plugins.ts
  packages/lit-intlayer/src/markdown/runtime.ts
  packages/lit-intlayer/src/plugins.ts
  packages/preact-intlayer/src/markdown/index.ts
  packages/preact-intlayer/src/plugins.tsx
  packages/react-intlayer/src/html/index.ts
  packages/react-intlayer/src/markdown/index.ts
  packages/react-intlayer/src/plugins.tsx
  packages/solid-intlayer/package.json
  packages/solid-intlayer/src/markdown/MarkdownProvider.tsx
  packages/solid-intlayer/src/markdown/MarkdownRenderer.tsx
  packages/solid-intlayer/src/markdown/compiler.tsx
  packages/solid-intlayer/src/plugins.tsx
  packages/svelte-intlayer/src/markdown/index.ts
  packages/svelte-intlayer/src/plugins.ts
  packages/vanilla-intlayer/src/client/installIntlayer.ts
  packages/vanilla-intlayer/src/client/useDictionaryDynamic.ts
  packages/vanilla-intlayer/src/plugins.ts
  packages/vue-intlayer/src/client/useDictionary.ts
  packages/vue-intlayer/src/editor/ContentSelector.vue
  packages/vue-intlayer/src/markdown/MarkdownRenderer.ts
  packages/vue-intlayer/src/plugins.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(mcp): import chokidar
  bun.lock
  packages/@intlayer/mcp/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: fix import html and markdown
  .agents/skills/intlayer-content/references/concept_content_html.md
  docs/docs/ar/dictionary/html.md
  packages/@intlayer/design-system/src/components/HTMLRender/HTMLRender.tsx
  packages/next-intlayer/src/index.ts
  packages/react-intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(showcase): fix dep
  apps/app/package.json
  apps/showcase/package.json
  bun.lock
  examples/tanstack-start-app/package.json
  packages/@intlayer/design-system/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update packages
  bun.lock
  examples/vite-svelte-app/package.json
  examples/vite-vanilla-app/package.json
  packages/svelte-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(webpack): make config arg optional webpack plugin
  packages/@intlayer/webpack/src/webpack-plugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): implement baidu autopush suscriber
  apps/app/next.config.ts
  apps/app/src/components/BaiduAutoPush/BaiduAutoPushSubscriber.tsx
  apps/app/src/components/BaiduAutoPush/useBaiduAutoPush.ts
  apps/app/src/providers/AppProviders.tsx
  apps/showcase/src/components/BaiduAutoPush/BaiduAutoPushSubscriber.tsx
  apps/showcase/src/components/BaiduAutoPush/useBaiduAutoPush.ts
  apps/showcase/src/routes/__root.tsx
  apps/showcase/vite.config.ts
  apps/website/next.config.ts
  apps/website/src/components/BaiduAutoPush/BaiduAutoPushSubscriber.tsx
  apps/website/src/components/BaiduAutoPush/useBaiduAutoPush.ts
  apps/website/src/providers/AppProviders.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(vanilla-intlayer): implement editor
  packages/lit-intlayer/src/client/installIntlayer.ts
  packages/lit-intlayer/src/editor/useEditor.ts
  packages/lit-intlayer/src/plugins.ts
  packages/vanilla-intlayer/src/client/installIntlayer.ts
  packages/vanilla-intlayer/src/editor/useEditor.ts
  packages/vanilla-intlayer/src/plugins.ts
  packages/vue-intlayer/src/client/installIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: clarify compiler behavior
  .agents/skills/intlayer-config/references/concept_configuration.md
  docs/docs/en-GB/compiler.md
  docs/docs/en-GB/configuration.md
  docs/docs/en-GB/intlayer_with_vite+lit.md
  docs/docs/en-GB/intlayer_with_vite+vanilla.md
  docs/docs/en/compiler.md
  docs/docs/en/configuration.md
  docs/docs/en/intlayer_with_nextjs_16.md
  docs/docs/en/intlayer_with_nextjs_compiler.md
  docs/docs/en/intlayer_with_react_router_v7.md
  docs/docs/en/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/en/intlayer_with_svelte_kit.md
  docs/docs/en/intlayer_with_tanstack.md
  docs/docs/en/intlayer_with_vite+lit.md
  docs/docs/en/intlayer_with_vite+preact.md
  docs/docs/en/intlayer_with_vite+react.md
  docs/docs/en/intlayer_with_vite+react_compiler.md
  docs/docs/en/intlayer_with_vite+solid.md
  docs/docs/en/intlayer_with_vite+svelte.md
  docs/docs/en/intlayer_with_vite+vanilla.md
  docs/docs/en/intlayer_with_vite+vue.md
  packages/@intlayer/chokidar/src/initConfig/templates/cjs.txt
  packages/@intlayer/chokidar/src/initConfig/templates/mjs.txt
  packages/@intlayer/chokidar/src/initConfig/templates/ts.txt
Due: prettier --write

chore(backend): update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_16.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_compiler.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+react.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+svelte.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add visualiser to all vite apps
  apps/showcase/vite.config.ts
  examples/analog-app/vite.config.ts
  examples/react-router-app/vite.config.ts
  examples/react-router-fs-app/vite.config.ts
  examples/tanstack-start-app/vite.config.ts
  examples/vite-lit-app/vite.config.ts
  examples/vite-solid-app/vite.config.ts
  examples/vite-vanilla-app/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(config): optimize client config
  packages/@intlayer/chokidar/src/loadDictionaries/getIntlayerBundle.ts
  packages/@intlayer/chokidar/src/writeConfiguration/generateConfigurationContent.ts
  packages/@intlayer/chokidar/src/writeConfiguration/index.ts
  packages/@intlayer/config/package.json
  packages/@intlayer/config/src/built.browser.ts
  packages/@intlayer/config/src/client.ts
  packages/@intlayer/config/src/configFile/buildBrowserConfiguration.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/utils/alias.ts
  packages/react-intlayer/src/plugins.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: update analog project example
  docs/docs/ar/intlayer_with_analog.md
  docs/docs/de/intlayer_with_analog.md
  docs/docs/en-GB/intlayer_with_analog.md
  docs/docs/en/intlayer_with_analog.md
  docs/docs/es/intlayer_with_analog.md
  docs/docs/fr/intlayer_with_analog.md
  docs/docs/hi/intlayer_with_analog.md
  docs/docs/id/intlayer_with_analog.md
  docs/docs/it/intlayer_with_analog.md
  docs/docs/ja/intlayer_with_analog.md
  docs/docs/ko/intlayer_with_analog.md
  docs/docs/pl/intlayer_with_analog.md
  docs/docs/pt/intlayer_with_analog.md
  docs/docs/ru/intlayer_with_analog.md
  docs/docs/tr/intlayer_with_analog.md
  docs/docs/uk/intlayer_with_analog.md
  docs/docs/vi/intlayer_with_analog.md
  docs/docs/zh/intlayer_with_analog.md
Due: prettier --write

feat: reuse isEnabled in frameworks plugins
  packages/@intlayer/editor/src/isEnabled.ts
  packages/angular-intlayer/src/plugins.ts
  packages/lit-intlayer/src/plugins.ts
  packages/preact-intlayer/src/plugins.tsx
  packages/react-intlayer/src/plugins.tsx
  packages/solid-intlayer/src/plugins.tsx
  packages/svelte-intlayer/src/plugins.ts
  packages/vanilla-intlayer/src/plugins.ts
  packages/vue-intlayer/src/plugins.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: remove style from analog doc
  .agents/skills/intlayer-angular/references/environment_angular.md
  docs/docs/ar/intlayer_with_analog.md
  docs/docs/ar/intlayer_with_angular.md
  docs/docs/de/intlayer_with_analog.md
  docs/docs/de/intlayer_with_angular.md
  docs/docs/en-GB/intlayer_with_analog.md
  docs/docs/en-GB/intlayer_with_angular.md
  docs/docs/en/intlayer_with_analog.md
  docs/docs/en/intlayer_with_angular.md
  docs/docs/es/intlayer_with_analog.md
  docs/docs/es/intlayer_with_angular.md
  docs/docs/fr/intlayer_with_analog.md
  docs/docs/fr/intlayer_with_angular.md
  docs/docs/hi/intlayer_with_analog.md
  docs/docs/hi/intlayer_with_angular.md
  docs/docs/id/intlayer_with_analog.md
  docs/docs/id/intlayer_with_angular.md
  docs/docs/it/intlayer_with_analog.md
  docs/docs/it/intlayer_with_angular.md
  docs/docs/ja/intlayer_with_analog.md
  docs/docs/ja/intlayer_with_angular.md
  docs/docs/ko/intlayer_with_analog.md
  docs/docs/ko/intlayer_with_angular.md
  docs/docs/pl/intlayer_with_analog.md
  docs/docs/pl/intlayer_with_angular.md
  docs/docs/pt/intlayer_with_analog.md
  docs/docs/pt/intlayer_with_angular.md
  docs/docs/ru/intlayer_with_analog.md
  docs/docs/ru/intlayer_with_angular.md
  docs/docs/tr/intlayer_with_analog.md
  docs/docs/tr/intlayer_with_angular.md
  docs/docs/uk/intlayer_with_analog.md
  docs/docs/uk/intlayer_with_angular.md
  docs/docs/vi/intlayer_with_analog.md
  docs/docs/vi/intlayer_with_angular.md
  docs/docs/zh/intlayer_with_analog.md
  docs/docs/zh/intlayer_with_angular.md
Due: prettier --write

fix(docs): fix formatting markdown react part
  docs/docs/en/dictionary/markdown.md
Due: prettier --write

feat: add application template in vite+ and analog docs
  docs/docs/ar/intlayer_with_analog.md
  docs/docs/ar/intlayer_with_vite+lit.md
  docs/docs/bn/intlayer_with_vite+lit.md
  docs/docs/cs/intlayer_with_vite+lit.md
  docs/docs/de/intlayer_with_analog.md
  docs/docs/de/intlayer_with_vite+lit.md
  docs/docs/en-GB/intlayer_with_analog.md
  docs/docs/en-GB/intlayer_with_vite+lit.md
  docs/docs/en/intlayer_with_analog.md
  docs/docs/en/intlayer_with_vite+lit.md
  docs/docs/es/intlayer_with_analog.md
  docs/docs/es/intlayer_with_vite+lit.md
  docs/docs/fr/intlayer_with_analog.md
  docs/docs/fr/intlayer_with_vite+lit.md
  docs/docs/hi/intlayer_with_analog.md
  docs/docs/hi/intlayer_with_vite+lit.md
  docs/docs/id/intlayer_with_analog.md
  docs/docs/id/intlayer_with_vite+lit.md
  docs/docs/it/intlayer_with_analog.md
  docs/docs/it/intlayer_with_vite+lit.md
  docs/docs/ja/intlayer_with_analog.md
  docs/docs/ja/intlayer_with_vite+lit.md
  docs/docs/ko/intlayer_with_analog.md
  docs/docs/ko/intlayer_with_vite+lit.md
  docs/docs/nl/intlayer_with_vite+lit.md
  docs/docs/pl/intlayer_with_analog.md
  docs/docs/pl/intlayer_with_vite+lit.md
  docs/docs/pt/intlayer_with_analog.md
  docs/docs/pt/intlayer_with_vite+lit.md
  docs/docs/ru/intlayer_with_analog.md
  docs/docs/ru/intlayer_with_vite+lit.md
  docs/docs/tr/intlayer_with_analog.md
  docs/docs/tr/intlayer_with_vite+lit.md
  docs/docs/uk/intlayer_with_analog.md
  docs/docs/uk/intlayer_with_vite+lit.md
  docs/docs/ur/intlayer_with_vite+lit.md
  docs/docs/vi/intlayer_with_analog.md
  docs/docs/vi/intlayer_with_vite+lit.md
  docs/docs/zh/intlayer_with_analog.md
  docs/docs/zh/intlayer_with_vite+lit.md
Due: prettier --write

refactor: implement useLocale in useBaiduAutoPush
  apps/app/src/components/BaiduAutoPush/useBaiduAutoPush.ts
  apps/showcase/src/components/BaiduAutoPush/useBaiduAutoPush.ts
  apps/website/src/components/BaiduAutoPush/useBaiduAutoPush.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
