Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

style(design-system): update text doc edition suggestion
  apps/website/src/app/[locale]/(landing)/(not-editable)/doc/[[...doc]]/page.tsx
Due: prettier --write, eslint --fix --cache

feat(website): add structured data
  apps/website/src/app/[locale]/(landing)/(not-editable)/page.tsx
  apps/website/src/app/[locale]/(landing)/(not-editable)/pricing/page.tsx
  apps/website/src/components/PricingPage/PricingColumn.tsx
  apps/website/src/structuredData/BreadcrumbsHeader.tsx
  apps/website/src/structuredData/ProductHeader.tsx
  apps/website/src/structuredData/SoftwareApplication.tsx
  apps/website/src/structuredData/WebsiteHeader.tsx
  apps/website/tsconfig.json
  docs/docs/intlayer_with_nextjs_en.md
  docs/docs/intlayer_with_nextjs_es.md
  docs/docs/intlayer_with_nextjs_fr.md
  examples/nextjs-14-app/src/app/[locale]/demo-usage-components/page.tsx
  examples/nextjs-14-app/src/app/[locale]/page.tsx
  examples/nextjs-14-app/tsconfig.json
  packages/@intlayer/design-system/src/components/Breadcrumb/index.tsx
  packages/next-intlayer/README.md
Due: prettier --write, eslint --fix --cache

feat(core): rename Vite+React to Vite and React everywhere
  README.md
  apps/website/src/components/DocPage/docData.ts
  apps/website/src/components/Footer/footer.content.ts
  docs/docs/content_declaration/get_started_en.md
  docs/docs/content_declaration/get_started_es.md
  docs/docs/content_declaration/get_started_fr.md
  docs/docs/introduction_en.md
  docs/docs/introduction_es.md
  docs/docs/introduction_fr.md
Due: prettier --write, eslint --fix --cache

feat(website): update favicon
  apps/website/public/assets/android-chrome-192x192.png
  apps/website/public/assets/android-chrome-512x512.png
  apps/website/public/assets/apple-touch-icon.png
  apps/website/public/assets/favicon-16x16.png
  apps/website/public/assets/favicon-32x32.png
  apps/website/public/assets/favicon.ico
Due: none

fix(doc): fix next-intlayer usIntlayer doc section title
  apps/website/src/components/DocPage/docData.ts
Due: prettier --write, eslint --fix --cache

fix(website): fix build
  apps/website/src/app/[locale]/(landing)/(not-editable)/page.tsx
Due: prettier --write, eslint --fix --cache

feat(website): implement searchbar doc
  apps/website/package.json
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/(landing)/(not-editable)/doc/search/layout.tsx
  apps/website/src/app/[locale]/(landing)/(not-editable)/doc/search/page.tsx
  apps/website/src/components/DocPage/DocNavList.tsx
  apps/website/src/components/DocPage/DocNavTitles.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
  apps/website/src/components/DocPage/docData.ts
  apps/website/src/components/Search/SearchTrigger.tsx
  apps/website/src/components/Search/SearchView.tsx
  apps/website/src/components/Search/searchTrigger.content.ts
  apps/website/src/components/Search/searchView.content.ts
  apps/website/src/structuredData/WebsiteHeader.tsx
  packages/@intlayer/design-system/src/components/Breadcrumb/index.tsx
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/Modal/Modal.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

feat(website): update favicon
  apps/website/package.json
  apps/website/public/assets/android-chrome-192x192.png
  apps/website/public/assets/android-chrome-512x512.png
  apps/website/public/assets/apple-touch-icon.png
  apps/website/public/assets/favicon-16x16.png
  apps/website/public/assets/favicon-32x32.png
  apps/website/public/assets/favicon.ico
  packages/@intlayer/design-system/src/components/Logo/logo_circle_wite.svg
Due: prettier --write

fix(website): fix content landing page
  apps/website/src/components/LandingPage/LandingSection/landing-section.content.ts
Due: prettier --write, eslint --fix --cache

fix(core): update packages version
  apps/backend/package.json
  apps/website/package.json
  examples/cli/package.json
  examples/express-app/package.json
  examples/nextjs-14-app/package.json
  examples/nextjs-15-app/package.json
  examples/react-app/package.json
  examples/vite-app/package.json
  package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/vite.config.ts
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  pnpm-lock.yaml
  scripts/dev-pick.mjs
  utils/eslint-config/package.json
  utils/ts-config-types/package.json
  utils/ts-config/package.json
  utils/tsup-config/package.json
Due: prettier --write, eslint --fix --cache

fix(core): change order export type in package.json
  docs/package.json
  packages/@intlayer/design-system/package.json
Due: prettier --write

core: update pnpm version
  .github/workflows/build_and_test.yaml
  .github/workflows/release.yaml
  package.json
Due: prettier --write

core: fix Can't resolve '@intlayer/dictionaries-entry'
  packages/@intlayer/design-system/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(website): fix build import of head
  apps/website/src/structuredData/ProductHeader.tsx
  apps/website/src/structuredData/SoftwareApplication.tsx
  apps/website/src/structuredData/WebsiteHeader.tsx
Due: prettier --write, eslint --fix --cache

feat(apps): update stripe pricing
  apps/backend/.env.template
  apps/backend/src/utils/plan.ts
  apps/website/.env.template
  apps/website/src/components/PricingPage/data.content.ts
  apps/website/src/structuredData/ProductHeader.tsx
Due: prettier --write, eslint --fix --cache

fix(core): update pnpm lock
  pnpm-lock.yaml
Due: prettier --write

fix(design-system): fix getEditedContentValue useEditedContentStore
  packages/@intlayer/design-system/src/components/DictionaryEditor/useEditedContentStore.ts
Due: prettier --write, eslint --fix --cache

fix(website): wrap DocumentationSearchPage with Suspense
  apps/website/src/app/[locale]/(landing)/(not-editable)/doc/search/page.tsx
Due: prettier --write, eslint --fix --cache

feat(website): add doc header structured data
  apps/website/src/app/[locale]/(landing)/(not-editable)/doc/[[...doc]]/page.tsx
  apps/website/src/app/sitemap.ts
  apps/website/src/components/DocPage/docData.ts
  apps/website/src/structuredData/DocHeader.tsx
  apps/website/src/structuredData/ProductHeader.tsx
  apps/website/src/structuredData/SoftwareApplication.tsx
  apps/website/src/structuredData/WebsiteHeader.tsx
Due: prettier --write, eslint --fix --cache

fix(website): replace structured data import of Head to Stript
  apps/website/src/structuredData/BreadcrumbsHeader.tsx
  apps/website/src/structuredData/DocHeader.tsx
  apps/website/src/structuredData/ProductHeader.tsx
  apps/website/src/structuredData/SoftwareApplication.tsx
  apps/website/src/structuredData/WebsiteHeader.tsx
Due: prettier --write, eslint --fix --cache

feat(website): update SEO
  apps/website/src/app/[locale]/metadata.ts
  apps/website/src/components/LandingPage/LandingSection/landing-section.content.ts
Due: prettier --write, eslint --fix --cache

feat(website): add CommonQuestions section
  apps/website/src/components/LandingPage/CommonQuestionsSection/CommonQuestions.tsx
  apps/website/src/components/LandingPage/CommonQuestionsSection/commonQuestions.content.ts
  apps/website/src/components/LandingPage/index.tsx
Due: prettier --write, eslint --fix --cache

core: update packages
  apps/backend/package.json
  apps/website/package.json
  examples/cli/package.json
  examples/express-app/package.json
  examples/nextjs-14-app/package.json
  examples/nextjs-15-app/package.json
  examples/vite-app/package.json
  package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  pnpm-lock.yaml
  utils/tsup-config/package.json
Due: prettier --write

fix(chokidar): fix chokidar
  packages/@intlayer/chokidar/src/chokidar/watcher.ts
  packages/react-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

feat(website): update common questions
  apps/website/src/components/LandingPage/CommonQuestionsSection/CommonQuestions.tsx
  apps/website/src/components/LandingPage/CommonQuestionsSection/commonQuestions.content.ts
  apps/website/src/components/LandingPage/index.tsx
Due: prettier --write, eslint --fix --cache

fix(chokidar): fix error fetch distant dictionary
  packages/@intlayer/chokidar/src/chokidar/watcher.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadDictionaries.ts
Due: prettier --write, eslint --fix --cache

doc: add doc t function express-intlayer, next-intlayer and react-intlayer
  apps/website/src/Routes.ts
  apps/website/src/components/DocPage/docData.ts
  docs/docs/packages/express-intlayer/t_en.md
  docs/docs/packages/express-intlayer/t_es.md
  docs/docs/packages/express-intlayer/t_fr.md
  docs/docs/packages/next-intlayer/t_en.md
  docs/docs/packages/next-intlayer/t_es.md
  docs/docs/packages/next-intlayer/t_fr.md
  docs/docs/packages/next-intlayer/useDictionary_en.md
  docs/docs/packages/next-intlayer/useDictionary_es.md
  docs/docs/packages/next-intlayer/useDictionary_fr.md
  docs/docs/packages/next-intlayer/useIntlayer_en.md
  docs/docs/packages/next-intlayer/useIntlayer_es.md
  docs/docs/packages/next-intlayer/useIntlayer_fr.md
  docs/docs/packages/next-intlayer/useLocale_en.md
  docs/docs/packages/next-intlayer/useLocale_es.md
  docs/docs/packages/next-intlayer/useLocale_fr.md
  docs/docs/packages/react-intlayer/t_en.md
  docs/docs/packages/react-intlayer/t_es.md
  docs/docs/packages/react-intlayer/t_fr.md
  docs/docs/packages/react-intlayer/useDictionary_en.md
  docs/docs/packages/react-intlayer/useDictionary_es.md
  docs/docs/packages/react-intlayer/useDictionary_fr.md
  docs/docs/packages/react-intlayer/useIntlayer_en.md
  docs/docs/packages/react-intlayer/useIntlayer_es.md
  docs/docs/packages/react-intlayer/useIntlayer_fr.md
  docs/docs/packages/react-intlayer/useLocale_en.md
  docs/docs/packages/react-intlayer/useLocale_es.md
  docs/docs/packages/react-intlayer/useLocale_fr.md
  docs/index.cjs
  docs/index.d.ts
Due: prettier --write, eslint --fix --cache

fix(design-system): export tailwind.config.ts
  packages/@intlayer/design-system/package.json
Due: prettier --write

fix(react-intlayer): fix rerender ContentSelectorContext
  packages/react-intlayer/src/editor/ContentSelectorConnector.tsx
Due: prettier --write, eslint --fix --cache

core: patch intlayer editor
  .changeset/few-dancers-crash.md
  apps/backend/package.json
  docs/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
Due: prettier --write

fix(editor): fix styling
  apps/website/tailwind.config.ts
  docs/docs/intlayer_editor_en.md
  docs/docs/intlayer_editor_es.md
  docs/docs/intlayer_editor_fr.md
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
  packages/intlayer-editor/src/styles/css.ts
  packages/intlayer-editor/src/styles/style.css
  packages/react-intlayer/src/editor/ContentSelectorConnector.tsx
Due: prettier --write, eslint --fix --cache

core: update packages
  .changeset/beige-jokes-think.md
  apps/backend/package.json
  docs/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
Due: prettier --write

doc(intlayer-editor): add example import in css file
  docs/docs/intlayer_editor_en.md
  docs/docs/intlayer_editor_es.md
  docs/docs/intlayer_editor_fr.md
Due: prettier --write

SEO(website): optimize title and meta
  apps/website/src/app/[locale]/metadata.ts
Due: prettier --write, eslint --fix --cache

style(design-system): update button and input size on mobile
  apps/website/src/components/LandingPage/CommonQuestionsSection/CommonQuestions.tsx
  apps/website/src/components/LandingPage/LandingSection/ActionButtons.tsx
  apps/website/src/components/Navbar/index.tsx
  packages/@intlayer/design-system/src/components/Auth/SignInForm/SignInForm.tsx
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/Input/Input.tsx
  packages/@intlayer/design-system/src/components/Link/Link.tsx
Due: prettier --write, eslint --fix --cache

feat(website): add common questions "What is internationalization (i18n)?"
  apps/website/src/components/LandingPage/CommonQuestionsSection/CommonQuestions.tsx
  apps/website/src/components/LandingPage/CommonQuestionsSection/commonQuestions.content.ts
Due: prettier --write, eslint --fix --cache

SEO(website): Update doc page title and description
  apps/website/src/components/DocPage/docData.ts
Due: prettier --write, eslint --fix --cache

SEO(website): fix alternates metadata
  apps/website/src/app/[locale]/(dashboard)/dashboard/[...not-found]/metadata.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/metadata.ts
  apps/website/src/app/[locale]/(landing)/(editable)/demo/metadata.ts
  apps/website/src/app/[locale]/(landing)/(not-editable)/[...not-found]/metadata.ts
  apps/website/src/app/[locale]/(landing)/(not-editable)/auth/(authenticated)/password/change/metadata.ts
  apps/website/src/app/[locale]/(landing)/(not-editable)/auth/(not-authenticated)/login/metadata.ts
  apps/website/src/app/[locale]/(landing)/(not-editable)/auth/(not-authenticated)/register/metadata.ts
  apps/website/src/app/[locale]/(landing)/(not-editable)/auth/password/reset/metadata.ts
  apps/website/src/app/[locale]/(landing)/(not-editable)/doc/[[...doc]]/layout.tsx
  apps/website/src/app/[locale]/(landing)/(not-editable)/doc/search/layout.tsx
  apps/website/src/app/[locale]/(landing)/(not-editable)/onboarding/[[...details]]/metadata.ts
  apps/website/src/app/[locale]/(landing)/(not-editable)/pricing/metadata.ts
  apps/website/src/app/[locale]/(landing)/(not-editable)/privacy_notice/metadata.ts
  apps/website/src/app/[locale]/(landing)/(not-editable)/terms_of_service/metadata.ts
  apps/website/src/app/[locale]/metadata.ts
  apps/website/src/app/sitemap.ts
Due: prettier --write, eslint --fix --cache

SEO(website): fix sitemap and robots
  apps/website/.env.template
  apps/website/intlayer.config.ts
  apps/website/public/robots.txt
  apps/website/public/sitemap.xml
  apps/website/src/app/[locale]/robots.ts
Due: prettier --write, eslint --fix --cache

SEO(website): Fix structured data CommonQuestions
  apps/website/src/components/LandingPage/CommonQuestionsSection/CommonQuestions.tsx
Due: prettier --write, eslint --fix --cache

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix --cache: any of: *.{js,jsx,ts,tsx}
