Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

feat(website): remove ip detection for StatupFrame
  apps/website/src/app/[locale]/(landing)/layout.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

feat(preact-intlayer): add '@intlayer/editor' dependency to Preact Intlayer package
  packages/preact-intlayer/package.json
Due: prettier --write

fix(react-intlayer): simplify cache implementation in useLoadDynamic by removing fallback function
  packages/react-intlayer/src/server/useLoadDynamic.ts
Due: prettier --write, eslint --fix --cache

refactor(website): remove StatupFrame component from LandingLayout for simplification
  apps/website/src/app/[locale]/(landing)/layout.tsx
Due: prettier --write, eslint --fix --cache

chore(tsconfig): add JSX support for Solid in tsconfig files across examples and packages
  examples/vite-solid-app/tsconfig.json
  packages/solid-intlayer/tsconfig.json
  packages/solid-intlayer/tsconfig.types.json
Due: prettier --write

feat(preact-intlayer): enhance Preact example with i18n support
  apps/website/src/components/LandingPage/AvailableTechnoSection/index.tsx
  docs/ar/intlayer_with_vite+preact.md
  docs/de/intlayer_with_vite+preact.md
  docs/en-GB/intlayer_with_vite+preact.md
  docs/en/intlayer_with_vite+preact.md
  docs/es/intlayer_with_vite+preact.md
  docs/fr/intlayer_with_vite+preact.md
  docs/hi/intlayer_with_vite+preact.md
  docs/it/intlayer_with_vite+preact.md
  docs/ja/intlayer_with_vite+preact.md
  docs/ko/intlayer_with_vite+preact.md
  docs/pt/intlayer_with_vite+preact.md
  docs/ru/intlayer_with_vite+preact.md
  docs/zh/intlayer_with_vite+preact.md
  examples/vite-preact-app/intlayer.config.ts
  examples/vite-preact-app/package.json
  examples/vite-preact-app/src/Router.tsx
  examples/vite-preact-app/src/app.content.ts
  examples/vite-preact-app/src/app.content.tsx
  examples/vite-preact-app/src/app.css
  examples/vite-preact-app/src/app.tsx
  examples/vite-preact-app/src/components/LocaleSwitcher.content.ts
  examples/vite-preact-app/src/components/LocaleSwitcher.tsx
  examples/vite-preact-app/src/components/LocalizedLink.tsx
  examples/vite-preact-app/src/hooks/useI18nHTMLAttributes.tsx
  examples/vite-preact-app/src/main.tsx
  examples/vite-preact-app/tsconfig.json
  examples/vite-preact-app/tsconfig.tsbuildinfo
  examples/vite-preact-app/vite.config.ts
  examples/vite-react-app/tailwind.config.js
  packages/preact-intlayer/src/IntlayerNode.tsx
  packages/preact-intlayer/src/client/IntlayerProvider.tsx
  packages/preact-intlayer/src/editor/IntlayerEditorProvider.tsx
  packages/preact-intlayer/src/editor/useCrossFrameState.tsx
  packages/preact-intlayer/src/plugins.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

refactor(dictionaries): resote dictionary entryies as require cjs
  packages/@intlayer/dictionaries-entry/src/index.ts
  packages/@intlayer/dynamic-dictionaries-entry/src/index.ts
  packages/@intlayer/unmerged-dictionaries-entry/src/index.ts
  packages/intlayer-editor/server/src/controllers/configuration.controller.ts
  packages/intlayer-editor/server/src/controllers/dictionary.controller.ts
Due: prettier --write, eslint --fix --cache

feat: add js-cookie dependency to Preact, Solid, and Svelte Intlayer packages
  package.json
  packages/preact-intlayer/package.json
  packages/preact-intlayer/src/getIntlayer.ts
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

refactor(dictionaries-entries): remove unnecessary logging
  packages/@intlayer/dictionaries-entry/src/index.ts
Due: prettier --write, eslint --fix --cache

docs: update how Intlayer works documentation
  docs/ar/how_works_intlayer.md
  docs/de/how_works_intlayer.md
  docs/en-GB/how_works_intlayer.md
  docs/en/how_works_intlayer.md
  docs/es/how_works_intlayer.md
  docs/fr/how_works_intlayer.md
  docs/hi/how_works_intlayer.md
  docs/it/how_works_intlayer.md
  docs/ja/how_works_intlayer.md
  docs/ko/how_works_intlayer.md
  docs/pt/how_works_intlayer.md
  docs/ru/how_works_intlayer.md
  docs/zh/how_works_intlayer.md
Due: prettier --write

fix(dictionary): ensure key is converted to string for dynamic loading in useDictionaryDynamic
  packages/preact-intlayer/src/client/useDictionaryDynamic.ts
  packages/preact-intlayer/src/client/useIntlayer.ts
  packages/react-intlayer/src/client/useDictionaryDynamic.ts
  packages/react-intlayer/src/server/useDictionaryDynamic.ts
Due: prettier --write, eslint --fix --cache

chore: bump version to 5.5.6 for all Intlayer packages
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

fix(react-intlayer): update import statements to use React directly for caching and dictionary retrieval
  packages/react-intlayer/src/server/useLoadDynamic.ts
Due: prettier --write, eslint --fix --cache

chore: bump version to 5.5.7 for all Intlayer packages
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

feat(preact-app): enable dynamic imports and add visualizer plugin for build stats
  examples/vite-preact-app/intlayer.config.ts
  examples/vite-preact-app/src/app.tsx
  examples/vite-preact-app/vite.config.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer.ts
Due: prettier --write, eslint --fix --cache

chore(preact-app): remove tsconfig.tsbuildinfo file
  examples/vite-preact-app/tsconfig.tsbuildinfo
Due: none

refactor(website): review doc section order in nav pannel
  apps/website/src/components/DocPage/docData.content.ts
  apps/website/src/components/DocPage/docData.ts
Due: prettier --write, eslint --fix --cache

feat(backend): add newsletter subscription and management routes and controller
  apps/backend/src/controllers/newsletter.controller.ts
  apps/backend/src/export.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/ai.routes.ts
  apps/backend/src/routes/dictionary.routes.ts
  apps/backend/src/routes/eventListener.routes.ts
  apps/backend/src/routes/newsletter.routes.ts
  apps/backend/src/routes/organization.routes.ts
  apps/backend/src/routes/project.routes.ts
  apps/backend/src/routes/search.routes.ts
  apps/backend/src/routes/sessionAuth.routes.ts
  apps/backend/src/routes/stripe.routes.ts
  apps/backend/src/routes/tags.routes.ts
  apps/backend/src/routes/user.routes.ts
  apps/backend/src/schemas/user.schema.ts
  apps/backend/src/types/user.types.ts
  apps/website/src/app/[locale]/(landing)/layout.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
  apps/website/src/components/EmailRegistrationToast/index.content.tsx
  apps/website/src/components/EmailRegistrationToast/index.tsx
  apps/website/src/components/EmailRegistrationToast/useEmailSchema.ts
  packages/@intlayer/api/src/getIntlayerAPI/index.ts
  packages/@intlayer/api/src/getIntlayerAPI/newsletter.ts
  packages/@intlayer/api/src/types.ts
  packages/@intlayer/design-system/src/components/Auth/SignInForm/SignInForm.tsx
  packages/@intlayer/design-system/src/components/Auth/SignInForm/useSignInSchema.ts
  packages/@intlayer/design-system/src/components/Auth/SignUpForm/SignUpForm.tsx
  packages/@intlayer/design-system/src/components/Form/FormBase.tsx
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
Due: prettier --write, eslint --fix --cache

fix(website): remove opacity from PreactLogo in AvailableTechnoSection
  apps/website/src/components/LandingPage/AvailableTechnoSection/index.tsx
Due: prettier --write, eslint --fix --cache

feat(website): update translation titles to include (i18n)
  apps/website/src/components/DocPage/docDataContent/environment/angular.content.ts
  apps/website/src/components/DocPage/docDataContent/environment/createReactApp.content.ts
  apps/website/src/components/DocPage/docDataContent/environment/express.content.ts
  apps/website/src/components/DocPage/docDataContent/environment/lynxAndReact.content.ts
  apps/website/src/components/DocPage/docDataContent/environment/nextjs.content.ts
  apps/website/src/components/DocPage/docDataContent/environment/nextjs14.content.ts
  apps/website/src/components/DocPage/docDataContent/environment/pageRouter.content.ts
  apps/website/src/components/DocPage/docDataContent/environment/reactNative.content.ts
  apps/website/src/components/DocPage/docDataContent/environment/viteAndPreact.content.ts
  apps/website/src/components/DocPage/docDataContent/environment/viteAndReact.content.ts
  apps/website/src/components/DocPage/docDataContent/environment/viteAndSolid.content.ts
  apps/website/src/components/DocPage/docDataContent/environment/viteAndSvelte.content.ts
  apps/website/src/components/DocPage/docDataContent/environment/viteAndVue.content.ts
Due: prettier --write, eslint --fix --cache

fix(backend): increase maximum relevant chunks for AI context from 8 to 25 and add debug logging for AI messages
  apps/backend/src/utils/AI/askDocQuestion/askDocQuestion.ts
Due: prettier --write, eslint --fix --cache

fix(backend): reorder chunks and reduce maximum relevant chunks for 25 to 20
  apps/backend/src/utils/AI/askDocQuestion/askDocQuestion.ts
Due: prettier --write, eslint --fix --cache

fix(website): update ChatBot to include all stored prompts in new messages
  apps/website/src/components/ChatBot/index.tsx
Due: prettier --write, eslint --fix --cache

fix(website): update update zod to v4
  apps/website/package.json
  apps/website/src/components/ChatBot/useFormSectionSchema.ts
  apps/website/src/components/Dashboard/OrganizationForm/Members/useMembersFormSchema.ts
  apps/website/src/components/Dashboard/OrganizationForm/Members/useNewMembersFormSchema.ts
  apps/website/src/components/Dashboard/OrganizationForm/useOrganizationFormSchema.ts
  apps/website/src/components/Dashboard/ProfileForm/useProfileFormSchema.ts
  apps/website/src/components/Dashboard/ProjectForm/AccessKey/AccessKeyFormSchema.ts
  apps/website/src/components/Dashboard/ProjectForm/AccessKey/useAccessKeyCreationFormSchema.ts
  apps/website/src/components/Dashboard/ProjectForm/Members/useMembersFormSchema.ts
  apps/website/src/components/Dashboard/ProjectForm/useProjectFormSchema.ts
  apps/website/src/components/Dashboard/TagForm/useTagFormSchema.ts
  apps/website/src/components/EmailRegistrationToast/useEmailSchema.ts
  apps/website/src/components/OnboardPage/DefinePasswordStep/useDefinePasswordSchema.ts
  apps/website/src/components/OnboardPage/RegisterStep/useRegisterSchema.ts
  apps/website/src/components/OnboardPage/SetUpOrganizationStep/useSetUpOrganizationSchema.ts
  apps/website/src/components/OnboardPage/VerifyEmailStep/VerifyEmailSchema.ts
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/src/components/Auth/ChangePasswordForm/useChangePasswordSchema.ts
  packages/@intlayer/design-system/src/components/Auth/DefineNewPasswordForm/useDefineNewPasswordSchema.ts
  packages/@intlayer/design-system/src/components/Auth/ResetPasswordForm/useResetPasswordSchema.ts
  packages/@intlayer/design-system/src/components/Auth/SignInForm/useSignInSchema.ts
  packages/@intlayer/design-system/src/components/Auth/SignUpForm/useSignUpSchema.ts
  packages/@intlayer/design-system/src/components/Auth/VerifyEmailForm/VerifyEmailSchema.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryCreationForm/useDictionaryFormSchema.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryDetails/useDictionaryDetailsSchema.ts
  packages/@intlayer/design-system/src/components/Form/FormBase.tsx
  packages/@intlayer/design-system/src/components/Form/elements/FormElementWrapper.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

fix(website): add error code formatting for improved toast notifications
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
Due: prettier --write, eslint --fix --cache

fix(docs): remove WIP status from preact-intlayer section across multiple language documentation files
  docs/ar/how_works_intlayer.md
  docs/de/how_works_intlayer.md
  docs/en-GB/how_works_intlayer.md
  docs/en/how_works_intlayer.md
  docs/es/how_works_intlayer.md
  docs/fr/how_works_intlayer.md
  docs/hi/how_works_intlayer.md
  docs/it/how_works_intlayer.md
  docs/ja/how_works_intlayer.md
  docs/ko/how_works_intlayer.md
  docs/pt/how_works_intlayer.md
  docs/ru/how_works_intlayer.md
  docs/zh/how_works_intlayer.md
Due: prettier --write

fix(backend): update autocomplete logic and prompt instructions for AI assistant
  apps/backend/src/utils/AI/autocomplete/PROMPT.md
  apps/backend/src/utils/AI/autocomplete/index.ts
Due: prettier --write, eslint --fix --cache

fix(docs): remove automatic TypeScript types mention from interest_of_intlayer documentation
  docs/en/interest_of_intlayer.md
Due: prettier --write

fix(backend): update AI model references to use 'chatgpt-4o-latest' and refine query filtering in askDocQuestion
  apps/backend/src/utils/AI/aiSdk.ts
  apps/backend/src/utils/AI/askDocQuestion/PROMPT.md
  apps/backend/src/utils/AI/askDocQuestion/askDocQuestion.ts
Due: prettier --write, eslint --fix --cache

feat(mcp): add new package for Intlayer MCP server with build, fill, push, and pull functionalities; update dependencies and configurations
  package.json
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/config/src/getSandboxContext.ts
  packages/@intlayer/config/src/index.ts
  packages/@intlayer/config/src/loadExternalFile.ts
  packages/@intlayer/config/src/utils/ESMxCJSHelpers.ts
  packages/@intlayer/design-system/package.json
  packages/@intlayer/mcp/.npmignore
  packages/@intlayer/mcp/.prettierignore
  packages/@intlayer/mcp/CHANGELOG.md
  packages/@intlayer/mcp/README.md
  packages/@intlayer/mcp/eslint.config.mjs
  packages/@intlayer/mcp/package.json
  packages/@intlayer/mcp/src/index.ts
  packages/@intlayer/mcp/tsconfig.json
  packages/@intlayer/mcp/tsconfig.types.json
  packages/@intlayer/mcp/tsup.config.ts
  pnpm-lock.yaml
  scripts/package-build-order.mjs
Due: prettier --write, eslint --fix --cache

fix(docs): update terminology from 'dictionaries' to 'content declaration files' in Intlayer documentation
  docs/en-GB/how_works_intlayer.md
  docs/en/how_works_intlayer.md
Due: prettier --write

fix(docs): update Intlayer MCP server documentation for clarity and consistency across multiple languages; enhance VS Code setup instructions
  CONTRIBUTING.md
  docs/ar/mcp_server.md
  docs/de/mcp_server.md
  docs/en-GB/mcp_server.md
  docs/en/mcp_server.md
  docs/es/mcp_server.md
  docs/fr/mcp_server.md
  docs/hi/mcp_server.md
  docs/it/mcp_server.md
  docs/ja/mcp_server.md
  docs/ko/mcp_server.md
  docs/pt/mcp_server.md
  docs/ru/mcp_server.md
  docs/zh/mcp_server.md
Due: prettier --write

fix(docs): simplify MCP server titles in multiple languages for consistency and clarity
  apps/website/src/components/DocPage/docData.content.ts
Due: prettier --write, eslint --fix --cache

feat(docs): add MCP server integration details across multiple languages to enhance IDE automation and content management workflows
  docs/ar/interest_of_intlayer.md
  docs/de/interest_of_intlayer.md
  docs/en-GB/interest_of_intlayer.md
  docs/en/interest_of_intlayer.md
  docs/es/interest_of_intlayer.md
  docs/fr/interest_of_intlayer.md
  docs/hi/interest_of_intlayer.md
  docs/it/interest_of_intlayer.md
  docs/ja/interest_of_intlayer.md
  docs/ko/interest_of_intlayer.md
  docs/pt/interest_of_intlayer.md
  docs/ru/interest_of_intlayer.md
  docs/zh/interest_of_intlayer.md
Due: prettier --write

fix(docs): add confidentiality note regarding AI prompt rules and redirect users to Intlayer GitHub repository
  apps/backend/src/utils/AI/askDocQuestion/PROMPT.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix --cache: any of: *.{js,jsx,ts,tsx}
