Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

feat(docs): add new FAQ entry for using arrays as content declarations
  docs/en/frequent_questions/array_as_content_declaration.md
  docs/index.cjs
Due: prettier --write

doc: restore revious CMS doc in hi
  docs/hi/intlayer_CMS.md
Due: prettier --write

feat(svelte-intlayer): update svelte bundling package
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/svelte-intlayer/tsup.config.ts
  packages/svelte-intlayer/vite.config.mts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

refactor(docs): remove packages section from documentation content and related imports
  apps/website/src/components/DocPage/docData.content.ts
  apps/website/src/components/DocPage/docData.ts
Due: prettier --write, eslint --fix --cache

doc: fix intlayer_with_vite+vue doc formatting
  docs/ar/intlayer_with_vite+vue.md
  docs/fr/intlayer_with_vite+vue.md
  docs/it/intlayer_with_vite+vue.md
  docs/pt/intlayer_with_vite+vue.md
  docs/ru/intlayer_with_vite+vue.md
Due: prettier --write

docs: add layout tag expected error in nextjs docs
  docs/ar/intlayer_with_nextjs_14.md
  docs/ar/intlayer_with_nextjs_15.md
  docs/de/intlayer_with_nextjs_14.md
  docs/de/intlayer_with_nextjs_15.md
  docs/en-GB/intlayer_with_nextjs_14.md
  docs/en-GB/intlayer_with_nextjs_15.md
  docs/en/intlayer_with_nextjs_14.md
  docs/en/intlayer_with_nextjs_15.md
  docs/es/intlayer_with_nextjs_14.md
  docs/es/intlayer_with_nextjs_15.md
  docs/fr/intlayer_with_nextjs_14.md
  docs/fr/intlayer_with_nextjs_15.md
  docs/hi/intlayer_with_nextjs_14.md
  docs/hi/intlayer_with_nextjs_15.md
  docs/it/intlayer_with_nextjs_14.md
  docs/it/intlayer_with_nextjs_15.md
  docs/ja/intlayer_with_nextjs_14.md
  docs/ja/intlayer_with_nextjs_15.md
  docs/ko/intlayer_with_nextjs_14.md
  docs/ko/intlayer_with_nextjs_15.md
  docs/pt/intlayer_with_nextjs_14.md
  docs/pt/intlayer_with_nextjs_15.md
  docs/ru/intlayer_with_nextjs_14.md
  docs/ru/intlayer_with_nextjs_15.md
  docs/zh/intlayer_with_nextjs_14.md
  docs/zh/intlayer_with_nextjs_15.md
Due: prettier --write

Logos icon animation
  apps/website/src/components/LandingPage/AvailableTechnoSection/index.tsx
Due: prettier --write, eslint --fix --cache

remove borders & fix responsive
  apps/website/src/components/LandingPage/AvailableTechnoSection/index.tsx
Due: prettier --write, eslint --fix --cache

feat(svelte-intlayer): rename Vite configuration file
  packages/svelte-intlayer/vite.config.ts
Due: prettier --write, eslint --fix --cache

feat(docs): add new FAQ entries
  docs/en/frequent_questions/customized_locale_list.md
  docs/en/frequent_questions/translated_path_url.md
  docs/index.cjs
Due: prettier --write

fix(svelte-intlayer): update Vite config to use Svelte instead of Vue and adjust extensions
  packages/svelte-intlayer/package.json
  packages/svelte-intlayer/vite.config.ts
Due: prettier --write, eslint --fix --cache

Fix the ratio changing when the icons move
  README.md
  apps/website/src/components/LandingPage/AvailableTechnoSection/index.tsx
  docs/assets/server_component.png
  docs/assets/static_rendering.png
  docs/assets/url_routing.png
  docs/assets/visual_editor.png
Due: prettier --write, eslint --fix --cache

feat(intlayer): add scroll animation to landing page tech section
  apps/website/src/components/LandingPage/AvailableTechnoSection/index.tsx
Due: prettier --write, eslint --fix --cache

feat(intlayer):landingpage-techSection-Animation
  apps/website/src/components/LandingPage/AvailableTechnoSection/index.tsx
Due: prettier --write, eslint --fix --cache

feat(website): rework animation AvailableTechnoSection
  apps/website/src/components/LandingPage/AvailableTechnoSection/available-techno-section.content.ts
  apps/website/src/components/LandingPage/AvailableTechnoSection/index.tsx
  packages/@intlayer/design-system/src/hooks/index.ts
  packages/@intlayer/design-system/src/hooks/useScreenWidth.ts
Due: prettier --write, eslint --fix --cache

feat(website): rework animation AvailableTechnoSection to remove scale on mobile
  apps/website/src/app/globals.css
  apps/website/src/components/LandingPage/AvailableTechnoSection/available-techno-section.content.ts
  apps/website/src/components/LandingPage/AvailableTechnoSection/index.tsx
Due: prettier --write, eslint --fix --cache

docs(CONTRIBUTING): update setup instructions and reorganize development mode section
  CONTRIBUTING.md
Due: prettier --write

docs(CONTRIBUTING): remove checkmark from example installation instruction
  CONTRIBUTING.md
Due: prettier --write

feat(website): update blog content
  apps/website/src/components/BlogPage/blogData.ts
  apps/website/src/components/BlogPage/blogDataContent/SEO.content.ts
  apps/website/src/components/BlogPage/blogDataContent/SEO.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/CMS/drupal.content.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/CMS/drupal.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/CMS/wix.content.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/CMS/wix.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/CMS/wordpress.content.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/CMS/wordpress.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/frameworks/angular.content.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/frameworks/angular.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/frameworks/flutter.content.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/frameworks/flutter.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/frameworks/react-native.content.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/frameworks/react-native.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/frameworks/react.content.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/frameworks/react.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/frameworks/svelte.content.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/frameworks/svelte.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/frameworks/vue.content.ts
  apps/website/src/components/BlogPage/blogDataContent/i18n_technologies/frameworks/vue.ts
  apps/website/src/components/BlogPage/blogDataContent/index.content.ts
  apps/website/src/components/BlogPage/blogDataContent/index.ts
  apps/website/src/components/BlogPage/blogDataContent/nextI18next.content.ts
  apps/website/src/components/BlogPage/blogDataContent/nextI18next.ts
  apps/website/src/components/BlogPage/blogDataContent/nextI18nextVSnextIntlVSIntlayer.content.ts
  apps/website/src/components/BlogPage/blogDataContent/nextI18nextVSnextIntlVSIntlayer.ts
  apps/website/src/components/BlogPage/blogDataContent/nextIntl.content.ts
  apps/website/src/components/BlogPage/blogDataContent/nextIntl.ts
  apps/website/src/components/BlogPage/blogDataContent/reactI18next.ts
  apps/website/src/components/BlogPage/blogDataContent/reactI18nextVSreactIntlVSIntlayer.content.ts
  apps/website/src/components/BlogPage/blogDataContent/reactI18nextVSreactIntlVSIntlayer.ts
  apps/website/src/components/BlogPage/blogDataContent/reactIntl.content.ts
  apps/website/src/components/BlogPage/blogDataContent/reactIntl.ts
  apps/website/src/components/BlogPage/blogDataContent/reacti18next.content.ts
  apps/website/src/components/BlogPage/blogDataContent/whatIsI18n.content.ts
  apps/website/src/components/BlogPage/blogDataContent/whatIsI18n.ts
  apps/website/src/components/BlogPage/types.ts
Due: prettier --write, eslint --fix --cache

fix(website): convert date fields to Date objects in blog and documentation pages
  apps/website/src/app/[locale]/(landing)/blog/[[...blog]]/page.tsx
  apps/website/src/app/[locale]/(landing)/doc/[[...doc]]/page.tsx
Due: prettier --write, eslint --fix --cache

fix(website): correct URL path for per locale file in documentation
  apps/website/src/Routes.ts
Due: prettier --write, eslint --fix --cache

feat(core): add localeRecord function to localeMapper and export it
  packages/@intlayer/core/src/localization/index.ts
  packages/@intlayer/core/src/localization/localeMapper.ts
  packages/intlayer/src/index.ts
Due: prettier --write, eslint --fix --cache

refactor(docs, blog): use localeRecord for dynamic markdown imports
  blog/index.cjs
  docs/index.cjs
Due: none

feat(core): add documentation for localeRecord function in localeMapper
  packages/@intlayer/core/src/localization/localeMapper.ts
Due: prettier --write, eslint --fix --cache

refactor(doc): remove useless defaultLocale from localeRecord function in blog and docs
  blog/index.cjs
  docs/index.cjs
Due: none

chore(deps): add @intlayer/core as a dependency in blog and docs package.json
  blog/package.json
  docs/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(core): fix build order
  scripts/package-build-order.mjs
Due: none

refactor(docs): streamline frequentQuestions structure for async handling
  docs/src/blog.ts
  docs/src/doc.ts
  docs/src/frequentQuestions.ts
Due: prettier --write, eslint --fix --cache

feat(docs): update translate script and refactor file reading logic
  docs/package.json
  docs/src/PROMPT.md
  docs/src/blog.ts
  docs/src/common.ts
  docs/src/doc.ts
  docs/src/frequentQuestions.ts
  docs/src/fs.ts
  docs/src/translate.ts
Due: prettier --write, eslint --fix --cache

fix(docs): correct prompt formatting in translate script for chunk translation
  docs/src/translate.ts
Due: prettier --write, eslint --fix --cache

feat(docs): add review and translate functionality with prompts for auditing translations
  docs/package.json
  docs/src/REVIEW_PROMPT.md
  docs/src/TRANSLATE_PROMPT.md
  docs/src/common.ts
  docs/src/review.ts
  docs/src/utils.ts
Due: prettier --write, eslint --fix --cache

fix(docs): start reviewing french doc
  docs/docs/fr/CI_CD.md
  docs/docs/fr/autoFill.md
  docs/docs/fr/configuration.md
  docs/docs/fr/header.md
  docs/docs/fr/how_works_intlayer.md
  docs/docs/fr/index.md
  docs/docs/fr/intlayer_CMS.md
  docs/docs/fr/intlayer_cli.md
  docs/docs/fr/intlayer_visual_editor.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix --cache: any of: *.{js,jsx,ts,tsx}
