Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add sandbox prop
  packages/@intlayer/design-system/src/components/Browser/Browser.tsx
  packages/@intlayer/design-system/src/components/Browser/browser.stories.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: remove unused routing configuration and streamline locale handling in express-intlayer
  packages/express-intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(react-native-intlayer): update configMetroIntlayer to use synchronous function and improve documentation with usage notes
  docs/docs/en/intlayer_with_react_native+expo.md
  packages/@intlayer/core/src/localization/getMultilingualUrls.ts
  packages/react-native-intlayer/src/configMetroIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: update locale handling in intlayerProxy and getLocale to utilize client configuration and improve storage retrieval methods
  packages/next-intlayer/src/proxy/intlayerProxy.ts
  packages/next-intlayer/src/server/getLocale.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: replace intlayerMiddleware with intlayerProxy in Vite configuration files across multiple examples
  examples/react-router-app/vite.config.ts
  examples/vite-preact-app/vite.config.ts
  examples/vite-react-app/vite.config.ts
  examples/vite-solid-app/vite.config.ts
  examples/vite-svelte-app/vite.config.ts
  examples/vite-vue-app/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: adjust ScrollWell component styling for improved layout and spacing
  apps/website/src/components/DocPage/ScrollWell.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): async server component
  apps/website/src/app/[locale]/(landing)/contributors/metadata.content.ts
  apps/website/src/app/[locale]/(landing)/contributors/metadata.ts
  apps/website/src/app/[locale]/(landing)/contributors/page.tsx
  apps/website/src/components/Contributors/ContributorsList.tsx
  apps/website/src/globals.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): remove bots
  apps/website/src/app/[locale]/(landing)/contributors/metadata.content.ts
  apps/website/src/app/[locale]/(landing)/contributors/metadata.ts
  apps/website/src/app/[locale]/(landing)/contributors/page.tsx
  apps/website/src/components/Contributors/ContributorsList.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: remove autofill
  packages/@intlayer/design-system/src/components/Browser/Browser.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): use useIntLayer and IntLayerServerProvider for the heading
  apps/website/src/app/[locale]/(landing)/contributors/page.content.ts
  apps/website/src/app/[locale]/(landing)/contributors/page.tsx
  apps/website/src/components/Contributors/ContributorsList.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: enhance intlayer configuration with editor settings and logging options, update RightDrawer component for improved state management
  examples/vite-react-app/intlayer.config.ts
  packages/@intlayer/config/src/logger.ts
  packages/@intlayer/design-system/src/components/RightDrawer/RightDrawer.tsx
  packages/intlayer-editor/client/src/index.css
  packages/intlayer-editor/client/vite.config.ts
  packages/intlayer-editor/server/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update documentation and examples for routing configuration changes in LocaleRouter component
  apps/website/src/app/[locale]/(landing)/contributors/page.tsx
  docs/docs/en/intlayer_with_vite+preact.md
  examples/vite-preact-app/package.json
  examples/vite-preact-app/src/Router.tsx
  examples/vite-vue-app/package.json
  packages/@intlayer/core/src/dictionaryManipulator/getContentNodeByKeyPath.test.ts
  packages/@intlayer/core/src/dictionaryManipulator/getContentNodeByKeyPath.ts
  packages/@intlayer/editor-react/src/EditedContentContext.tsx
  packages/angular-intlayer/src/editor/dictionariesRecord.ts
  packages/preact-intlayer/src/editor/ContentSelectorWrapper.tsx
  packages/preact-intlayer/src/editor/EditedContentContext.tsx
  packages/react-intlayer/src/editor/ContentSelectorWrapper.tsx
  packages/react-intlayer/src/plugins.tsx
  packages/solid-intlayer/src/editor/ContentSelectorWrapper.tsx
  packages/solid-intlayer/src/editor/contexts/EditedContentContext.tsx
  packages/vue-intlayer/src/client/installIntlayer.ts
  packages/vue-intlayer/src/editor/ContentSelectorWrapper.vue
  packages/vue-intlayer/src/editor/dictionariesRecord.ts
  packages/vue-intlayer/src/editor/editedContent.ts
  packages/vue-intlayer/src/editor/installIntlayerEditor.ts
  packages/vue-intlayer/src/editor/useEditor.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: restructure ContributorsList component to utilize useIntlayer for dynamic labels and improve layout
  apps/website/src/app/[locale]/(landing)/contributors/page.tsx
  apps/website/src/components/Contributors/ContributorsList.tsx
  apps/website/src/components/Contributors/contributorsList.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: integrate unmerged dictionaries functionality and enhance dictionary management in editor components
  apps/website/src/components/Dashboard/Editor/DictionaryEditionDrawer/DictionaryEditionDrawer.tsx
  apps/website/src/components/Dashboard/Editor/DictionaryEditionDrawer/useDictionaryEditionDrawer.ts
  apps/website/src/components/Dashboard/Editor/DictionaryListDrawer/DictionaryListDrawer.tsx
  apps/website/src/components/Dashboard/Editor/DictionaryLoaderDashboard.tsx
  apps/website/src/components/Dashboard/Editor/DictionaryLoaderPlayground.tsx
  bun.lock
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/NestedObjectWrapper.tsx
  packages/@intlayer/design-system/src/components/Tag/index.tsx
  packages/@intlayer/editor-react/src/useFocusUnmergedDictionary.tsx
  packages/intlayer-editor/client/src/components/Editor/DictionaryEditionDrawer/DictionaryEditionDrawer.tsx
  packages/intlayer-editor/client/src/components/Editor/DictionaryListDrawer/DictionaryListDrawer.tsx
  packages/intlayer-editor/client/src/components/Editor/EditorLayout.tsx
  packages/intlayer-editor/package.json
  packages/preact-intlayer/package.json
  packages/preact-intlayer/src/editor/IntlayerEditorProvider.tsx
  packages/react-intlayer/package.json
  packages/react-intlayer/src/editor/IntlayerEditorProvider.tsx
  packages/solid-intlayer/package.json
  packages/solid-intlayer/src/editor/IntlayerEditorProvider.tsx
  packages/vue-intlayer/package.json
  packages/vue-intlayer/src/editor/dictionariesRecord.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add Contributors page to sitemap with monthly update frequency and multilingual support
  apps/website/src/app/sitemap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: update security headers to include GitHubusercontent domains and refactor ContributorsList component for improved link styling
  apps/website/next.config.ts
  apps/website/src/components/Contributors/ContributorsList.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: enhance path handling in build configuration by introducing optionalJoinBaseDir function and improve logging in prepareIntlayer
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/design-system/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update blog posts for Intlayer with next-intl and react-i18next to reflect new syncJSON plugin integration and update timestamps
  docs/blog/en/intlayer_with_next-intl.md
  docs/blog/en/intlayer_with_react-i18next.md
Due: prettier --write

refactor: remove console log from prepareIntlayer function to clean up output
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: streamline file exclusion logic by replacing hardcoded ignore patterns with dynamic configuration
  packages/@intlayer/chokidar/src/listDictionariesPath.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add Contributors link to footer and enhance Common Questions section with new integration query and response
  apps/website/src/components/Footer/footer.content.ts
  apps/website/src/components/LandingPage/CommonQuestionsSection/commonQuestions.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(mcp): update loadServer function to accept options object for improved parameter handling
  packages/@intlayer/mcp/src/server/server.ts
  packages/@intlayer/mcp/src/server/sse.ts
  packages/@intlayer/mcp/src/server/stdio.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump version to 7.0.3 for all packages in the Intlayer monorepo
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/types/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/astro-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
  plugins/sync-json-plugin/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add detectFormatCommand export to chokidar and remove unused logStack import from getPackageJsonPath
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/config/src/utils/getPackageJsonPath.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(docs): enhance path resolution in generated entry files to support both CJS and ESM environments
  docs/src/generated/blog.entry.ts
  docs/src/generated/docs.entry.ts
  docs/src/generated/frequentQuestions.entry.ts
  docs/src/generated/legal.entry.ts
  docs/tools/generateEntry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

doc: update release notes for v7 in multiple languages, removing outdated configuration mapping examples and migration sections
  docs/docs/de/releases/v7.md
  docs/docs/es/releases/v7.md
  docs/docs/fr/intlayer_with_nextjs_16.md
  docs/docs/fr/releases/v7.md
  docs/docs/hi/intlayer_with_nextjs_16.md
  docs/docs/id/releases/v7.md
  docs/docs/it/releases/v7.md
  docs/docs/ja/intlayer_with_nextjs_16.md
  docs/docs/ja/releases/v7.md
  docs/docs/ko/releases/v7.md
Due: prettier --write

refactor(docs): improve base directory resolution in generated entry files for better compatibility with various environments
  docs/src/generated/blog.entry.ts
  docs/src/generated/docs.entry.ts
  docs/src/generated/frequentQuestions.entry.ts
  docs/src/generated/legal.entry.ts
  docs/tools/generateEntry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(docs): correct code block formatting in Japanese and Portuguese documentation for consistency and clarity
  docs/docs/pt/intlayer_with_nextjs_16.md
Due: prettier --write

fix(docs): update code block formatting in Japanese and Portuguese documentation for improved clarity
  docs/docs/ja/intlayer_with_nextjs_16.md
  docs/docs/pt/intlayer_with_nextjs_16.md
Due: prettier --write

fix(docs): correct code block formatting in Japanese and Portuguese documentation for consistency and clarity
  docs/docs/ja/intlayer_with_nextjs_16.md
  docs/docs/pt/intlayer_with_nextjs_16.md
Due: prettier --write

refactor(blog): replace BlogRender component with DocumentationRender for improved content rendering
  apps/website/src/app/[locale]/(docs)/blog/[[...slugs]]/page.tsx
  apps/website/src/components/BlogPage/BlogRender.tsx
  docs/blog/en/intlayer_with_i18next.md
  docs/blog/en/intlayer_with_next-i18next.md
  docs/blog/en/intlayer_with_next-intl.md
  docs/blog/en/intlayer_with_react-i18next.md
  docs/blog/en/intlayer_with_react-intl.md
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
  docs/docs/en/CI_CD.md
  docs/docs/en/configuration.md
  docs/docs/en/formatters.md
  docs/docs/en/how_works_intlayer.md
  docs/docs/en/intlayer_CMS.md
  docs/docs/en/intlayer_cli.md
  docs/docs/en/intlayer_with_nextjs_14.md
  docs/docs/en/intlayer_with_nextjs_15.md
  docs/docs/en/intlayer_with_nextjs_16.md
  docs/docs/en/intlayer_with_nextjs_page_router.md
  docs/docs/en/intlayer_with_nuxt.md
  docs/docs/en/intlayer_with_react_native+expo.md
  docs/docs/en/intlayer_with_react_router_v7.md
  docs/docs/en/intlayer_with_tanstack.md
  docs/docs/en/intlayer_with_vite+preact.md
  docs/docs/en/intlayer_with_vite+react.md
  docs/docs/en/intlayer_with_vite+solid.md
  docs/docs/en/intlayer_with_vite+svelte.md
  docs/docs/en/intlayer_with_vite+vue.md
  docs/docs/en/roadmap.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(chokidar): update parallel process execution
  bun.lock
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/chokidar/src/utils/runParallel.ts
  packages/@intlayer/chokidar/src/utils/runParallel/bootstrap.ts
  packages/@intlayer/chokidar/src/utils/runParallel/index.ts
  packages/@intlayer/chokidar/src/utils/runParallel/runTask.ts
  packages/@intlayer/chokidar/src/utils/runParallel/spawnPosix.ts
  packages/@intlayer/chokidar/src/utils/runParallel/spawnWin32.ts
  packages/@intlayer/cli/src/build.ts
  packages/@intlayer/cli/src/liveSync.ts
  packages/@intlayer/cli/src/watch.ts
  packages/intlayer-editor/bin/intlayer-editor.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(chokidar): implement process management utilities for parallel execution
  packages/@intlayer/chokidar/src/utils/runParallel/bin.ts
  packages/@intlayer/chokidar/src/utils/runParallel/pidTree.ts
  packages/@intlayer/chokidar/src/utils/runParallel/ps.ts
  packages/@intlayer/chokidar/src/utils/runParallel/runTask.ts
  packages/@intlayer/chokidar/src/utils/runParallel/spawnPosix.ts
  packages/@intlayer/chokidar/src/utils/runParallel/wmic.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: remove pidtree dependency from chokidar package and bun.lock
  bun.lock
  packages/@intlayer/chokidar/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(docs): add support for markdown file types in metadata generation for blog and doc layouts
  apps/website/src/app/[locale]/(docs)/blog/[[...slugs]]/layout.tsx
  apps/website/src/app/[locale]/(docs)/doc/[[...slugs]]/layout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
