Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(examples): set "skipLibCheck": true,
  examples/adonis-app/tsconfig.json
  examples/angular-app/tsconfig.json
  examples/nest-app/tsconfig.json
  examples/next-15-next-intl-app/tsconfig.json
  examples/next-no-lolale-path/tsconfig.json
  examples/nextjs-14-app/tsconfig.json
  examples/nextjs-15-app/tsconfig.json
  examples/react-router-app/tsconfig.json
  examples/react-router-fs-app/tsconfig.json
  examples/tanstack-start-app/tsconfig.json
  examples/vite-preact-app/intlayer.config.ts
  examples/vite-preact-app/tsconfig.json
  examples/vite-preact-app/tsconfig.tsbuildinfo
  examples/vite-solid-app/tsconfig.json
  examples/vite-svelte-app/tsconfig.node.json
  examples/vite-vue-app/tsconfig.node.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: fix types error
  examples/vite-preact-app/tsconfig.tsbuildinfo
  packages/@intlayer/core/src/formatters/list.ts
  packages/@intlayer/core/src/utils/intl.ts
  packages/@intlayer/types/src/config.ts
  packages/@intlayer/types/src/module_augmentation.ts
  packages/angular-intlayer/src/client/useIntl.ts
  packages/preact-intlayer/src/client/format/useIntl.ts
  packages/react-intlayer/src/client/format/useIntl.ts
  packages/react-intlayer/src/server/format/useIntl.ts
  packages/solid-intlayer/src/client/format/useIntl.ts
  packages/svelte-intlayer/src/client/useIntl.ts
  packages/vue-intlayer/src/format/useIntl.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: update package.json sideEffects and tsdown configurations for optimization
  packages/@intlayer/design-system/tsdown.config.ts
  packages/@intlayer/editor/package.json
  packages/next-intlayer/tsdown.config.ts
  packages/react-intlayer/tsdown.config.ts
  utils/tsdown-config/tsdown-config.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(chokidar): restore routing in client config
  packages/@intlayer/chokidar/src/writeConfiguration/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update package version
  apps/app/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  examples/tanstack-start-app/package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(react-intlayer): biome
  packages/react-intlayer/src/client/useDictionaryAsync.ts
  packages/react-intlayer/src/client/useDictionaryDynamic.ts
  packages/react-intlayer/src/client/useI18n.ts
  packages/react-intlayer/src/client/useIntlayer.ts
  packages/react-intlayer/src/server/useDictionary.ts
  packages/react-intlayer/src/server/useDictionaryAsync.ts
  packages/react-intlayer/src/server/useDictionaryDynamic.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): fix key error navbar
  apps/app/src/components/Navbar/index.tsx
  apps/showcase/src/components/Navbar/index.tsx
  apps/website/src/components/Navbar/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: optimize editor bundle and update vite merge config logic
  packages/angular-intlayer/src/editor/useEditor.ts
  packages/angular-intlayer/src/plugins.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/preact-intlayer/src/editor/ContentSelector.tsx
  packages/preact-intlayer/src/editor/useEditor.tsx
  packages/preact-intlayer/src/plugins.tsx
  packages/react-intlayer/src/client/useRewriteURL.ts
  packages/react-intlayer/src/editor/useEditor.tsx
  packages/react-intlayer/src/markdown/MarkdownMetadataRendererInternal.tsx
  packages/react-intlayer/src/markdown/MarkdownRendererPlugin.tsx
  packages/react-intlayer/src/plugins.tsx
  packages/solid-intlayer/src/editor/useEditor.tsx
  packages/solid-intlayer/src/plugins.tsx
  packages/svelte-intlayer/src/editor/useEditor.ts
  packages/svelte-intlayer/src/plugins.ts
  packages/vite-intlayer/src/index.ts
  packages/vite-intlayer/src/intlayerEditorPlugin.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
  packages/vue-intlayer/src/editor/useEditor.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): create one react query instance by webhook
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/BuildSettings.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(fastify-intlayer): reuse fastify logger
  packages/@intlayer/core/src/interpreter/getTranslation.ts
  packages/fastify-intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(hono-intlayer): rename context
  packages/hono-intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(config): remove watchedFilesPattern, watchedFilesPatternWithPath and outputFilesPatternWithPath patterns from config
  .agents/skills/intlayer-config/references/concept_configuration.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/it/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/chokidar/src/listDictionariesPath.ts
  packages/@intlayer/chokidar/src/utils/buildComponentFilesList.ts
  packages/@intlayer/chokidar/src/watcher.ts
  packages/@intlayer/cli/src/extract.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/configFile/configurationSchema.ts
  packages/@intlayer/types/src/config.ts
  packages/@intlayer/webpack/src/getEntries.ts
  packages/@intlayer/webpack/src/webpack.config.ts
  packages/react-native-intlayer/src/configMetroIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(cli): remove duplicate format path function
  packages/@intlayer/cli/src/extract.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(config): add caching in searchConfigurationFile
  packages/@intlayer/config/src/configFile/searchConfigurationFile.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(config): add a way to pass esbuild instance for vscode extension fix
  packages/@intlayer/config/src/configFile/getConfiguration.ts
  packages/@intlayer/config/src/loadExternalFile/loadExternalFile.ts
  packages/@intlayer/config/src/loadExternalFile/transpileTSToCJS.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(config): rework colors for bundle optimization
  packages/@intlayer/ai/src/aiSdk.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-extract.ts
  packages/@intlayer/babel/src/extractContent/extractContent.ts
  packages/@intlayer/babel/src/extractContent/utils/extractDictionaryInfo.ts
  packages/@intlayer/babel/src/getExtractPluginOptions.ts
  packages/@intlayer/chokidar/src/filterInvalidDictionaries.ts
  packages/@intlayer/chokidar/src/init/index.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadDictionaries.ts
  packages/@intlayer/chokidar/src/loadDictionaries/log.ts
  packages/@intlayer/chokidar/src/logConfigDetails.ts
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
  packages/@intlayer/chokidar/src/utils/formatter.ts
  packages/@intlayer/cli/src/auth/login.ts
  packages/@intlayer/cli/src/extract.ts
  packages/@intlayer/cli/src/fill/fill.ts
  packages/@intlayer/cli/src/fill/listTranslationsTasks.ts
  packages/@intlayer/cli/src/fill/translateDictionary.ts
  packages/@intlayer/cli/src/pull.ts
  packages/@intlayer/cli/src/push/pullLog.ts
  packages/@intlayer/cli/src/push/push.ts
  packages/@intlayer/cli/src/pushLog.ts
  packages/@intlayer/cli/src/reviewDoc/reviewDoc.ts
  packages/@intlayer/cli/src/reviewDoc/reviewDocBlockAware.ts
  packages/@intlayer/cli/src/test/test.ts
  packages/@intlayer/cli/src/translateDoc/translateDoc.ts
  packages/@intlayer/cli/src/translateDoc/translateFile.ts
  packages/@intlayer/cli/src/utils/checkAccess.ts
  packages/@intlayer/cli/src/utils/setupAI.ts
  packages/@intlayer/config/package.json
  packages/@intlayer/config/src/colors.ts
  packages/@intlayer/config/src/defaultValues/log.ts
  packages/@intlayer/config/src/logger.ts
  packages/@intlayer/config/src/utils/logStack.ts
  packages/intlayer-editor/server/src/index.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/IntlayerCompilerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(config): rework defaultValues for bundle optimization
  packages/@intlayer/babel/src/extractContent/utils/extractDictionaryKey.ts
  packages/@intlayer/babel/src/getExtractPluginOptions.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/config/package.json
  packages/@intlayer/config/src/client.ts
  packages/@intlayer/config/src/defaultValues/index.ts
  packages/@intlayer/config/src/node.ts
  packages/@intlayer/core/src/getStorageAttributes.ts
  packages/@intlayer/core/src/localization/getLocale.ts
  packages/@intlayer/core/src/localization/getLocaleFromPath.ts
  packages/@intlayer/core/src/localization/getLocalizedUrl.ts
  packages/@intlayer/core/src/localization/getMultilingualUrls.ts
  packages/@intlayer/core/src/localization/getPrefix.ts
  packages/@intlayer/core/src/localization/localeMapper.ts
  packages/@intlayer/core/src/localization/validatePrefix.ts
  packages/@intlayer/design-system/src/libs/auth.ts
  packages/@intlayer/svelte-compiler/src/svelte-intlayer-extract.ts
  packages/@intlayer/vue-compiler/src/vue-intlayer-extract.ts
  packages/next-intlayer/src/proxy/intlayerProxy.ts
  packages/next-intlayer/src/server/getLocale.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(chokidar): fix isCachedConfigurationUpToDate
  packages/@intlayer/chokidar/src/writeConfiguration/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): optmize unmerged and fetch dic generation for bundle
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/buildIntlayerDictionary.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeDynamicDictionary.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeFetchDictionary.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeMergedDictionary.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeRemoteDictionary.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/getBuiltDynamicDictionariesPath.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/getBuiltFetchDictionariesPath.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(next-intlayer): fix nextjs 14 and 15 build
  bun.lock
  examples/nextjs-15-app/intlayer.config.ts
  examples/nextjs-15-app/next.config.ts
  examples/nextjs-15-app/package.json
  examples/nextjs-15-app/src/app/[locale]/tests/page.tsx
  examples/vite-preact-app/package.json
  package.json
  packages/@intlayer/config/src/loadExternalFile/loadExternalFile.ts
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: fix intlayer live command using with arg
  .agents/skills/intlayer-remote-content/references/concept_cms.md
  docs/docs/ar/intlayer_CMS.md
  docs/docs/ar/releases/v6.md
  docs/docs/de/intlayer_CMS.md
  docs/docs/de/releases/v6.md
  docs/docs/en-GB/intlayer_CMS.md
  docs/docs/en-GB/releases/v6.md
  docs/docs/en/intlayer_CMS.md
  docs/docs/es/intlayer_CMS.md
  docs/docs/es/releases/v6.md
  docs/docs/fr/intlayer_CMS.md
  docs/docs/fr/releases/v6.md
  docs/docs/hi/intlayer_CMS.md
  docs/docs/hi/releases/v6.md
  docs/docs/id/intlayer_CMS.md
  docs/docs/it/intlayer_CMS.md
  docs/docs/it/releases/v6.md
  docs/docs/ja/intlayer_CMS.md
  docs/docs/ja/releases/v6.md
  docs/docs/ko/intlayer_CMS.md
  docs/docs/ko/releases/v6.md
  docs/docs/pl/intlayer_CMS.md
  docs/docs/pt/intlayer_CMS.md
  docs/docs/pt/releases/v6.md
  docs/docs/ru/intlayer_CMS.md
  docs/docs/ru/releases/v6.md
  docs/docs/tr/intlayer_CMS.md
  docs/docs/tr/releases/v6.md
  docs/docs/uk/intlayer_CMS.md
  docs/docs/vi/intlayer_CMS.md
  docs/docs/zh/intlayer_CMS.md
  docs/docs/zh/releases/v6.md
  examples/nextjs-15-app/package.json
  examples/vite-react-app/package.json
  packages/@intlayer/cli/src/cli.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(next-intlayer): restore LocalPromiseParams type to fix nextjs 15 build
  packages/next-intlayer/src/types/NextPage.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(vite-intlayer): fix dyn import of dic
  bun.lock
  examples/vite-preact-app/intlayer.config.ts
  examples/vite-preact-app/package.json
  examples/vite-preact-app/src/components/LocalizedLink.tsx
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeDynamicDictionary.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeFetchDictionary.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: remove forward ref in localizedLink
  examples/vite-preact-app/src/components/LocalizedLink.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(core): fix jsdoc in formatters
  packages/@intlayer/core/src/formatters/compact.ts
  packages/@intlayer/core/src/formatters/currency.ts
  packages/@intlayer/core/src/formatters/date.ts
  packages/@intlayer/core/src/formatters/number.ts
  packages/@intlayer/core/src/formatters/percentage.ts
  packages/@intlayer/core/src/formatters/relativeTime.ts
  packages/@intlayer/core/src/formatters/units.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: restore tsdown config for tree shaking
  utils/tsdown-config/tsdown-config.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(core): optimize localization bundle
  packages/@intlayer/core/src/localization/getHTMLTextDir.ts
  packages/@intlayer/core/src/localization/getLocaleFromPath.ts
  packages/@intlayer/core/src/localization/getLocalizedUrl.ts
  packages/@intlayer/core/src/localization/getMultilingualUrls.ts
  packages/@intlayer/core/src/localization/getPrefix.ts
  packages/@intlayer/core/src/localization/localeMapper.ts
  packages/@intlayer/core/src/localization/rewriteUtils.ts
  packages/@intlayer/core/src/localization/validatePrefix.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar): fix build crash vite & next
  packages/@intlayer/chokidar/src/writeConfiguration/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: fix tests
  packages/@intlayer/babel/src/babel-plugin-intlayer-extract.test.ts
  packages/@intlayer/babel/src/extractContent/extractContent.test.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/transformJSONFile.ts
  packages/@intlayer/cli/src/cli.test.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/configFile/configurationSchema.ts
  packages/@intlayer/config/src/configFile/validation.test.ts
  packages/adonis-intlayer/src/index.test.ts
  packages/angular-intlayer/src/getDictionary.ts
  packages/angular-intlayer/src/renderIntlayerNode.test.ts
  packages/preact-intlayer/src/IntlayerNode.test.tsx
  packages/react-intlayer/src/IntlayerNode.test.tsx
  packages/react-intlayer/src/getDictionary.test.ts
  packages/react-intlayer/vitest.config.ts
  packages/solid-intlayer/src/IntlayerNode.test.tsx
  packages/svelte-intlayer/src/renderIntlayerNode.test.ts
  packages/vue-intlayer/src/renderIntlayerNode.test.ts
  packages/vue-intlayer/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: install dep
  bun.lock
Due: none

refactor(core): optimize getTranslation for bundle
  packages/@intlayer/core/src/interpreter/getTranslation.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(design-system): update CodeBlickShiki
  packages/@intlayer/design-system/src/components/IDE/CodeBlockShiki.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): fix build
  apps/backend/src/services/translationWorker.service.ts
  apps/backend/src/utils/AI/auditDictionary/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(backend): change provider using anthropic
  packages/@intlayer/ai/src/aiSdk.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
