Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --cache"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore: bump version to 5.3.10 across all packages
  .changeset/brave-toes-cover.md
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/vite-intlayer/package.json
Due: prettier --write

fix(DictionaryEditor): reorder type imports and correct JSX syntax in InsertionWrapper
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/InsertionWrapper.tsx
Due: prettier --write, eslint --fix --cache

fix(docs): remove unused title variable in multiple language documentation for Intlayer with Next.js
  docs/ar/intlayer_with_nextjs_15.md
  docs/de/intlayer_with_nextjs_15.md
  docs/en-GB/intlayer_with_nextjs_15.md
  docs/en/intlayer_with_nextjs_15.md
  docs/es/intlayer_with_nextjs_15.md
  docs/fr/intlayer_with_nextjs_15.md
  docs/hi/intlayer_with_nextjs_15.md
  docs/it/intlayer_with_nextjs_15.md
  docs/ja/intlayer_with_nextjs_15.md
  docs/ko/intlayer_with_nextjs_15.md
  docs/pt/intlayer_with_nextjs_15.md
  docs/ru/intlayer_with_nextjs_15.md
  docs/zh/intlayer_with_nextjs_15.md
Due: prettier --write

fix(docs): remove redundant React import reminders from multiple language documentation for Intlayer with Vite and React
  docs/ar/intlayer_with_vite+react.md
  docs/de/intlayer_with_vite+react.md
  docs/en-GB/intlayer_with_vite+react.md
  docs/en/intlayer_with_vite+react.md
  docs/es/intlayer_with_vite+react.md
  docs/fr/intlayer_with_vite+react.md
  docs/hi/intlayer_with_vite+react.md
  docs/it/intlayer_with_vite+react.md
  docs/ja/intlayer_with_vite+react.md
  docs/ko/intlayer_with_vite+react.md
  docs/pt/intlayer_with_vite+react.md
  docs/ru/intlayer_with_vite+react.md
  docs/zh/intlayer_with_vite+react.md
Due: prettier --write

style(design-system): add space markdown doc
  packages/@intlayer/design-system/src/components/Headers/index.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/index.tsx
Due: prettier --write, eslint --fix --cache

feat(docs): add javaScriptContent field to Content interface in get_started.md
  docs/en/dictionary/get_started.md
Due: prettier --write

fix(server): reorder and organize imports in index.ts for better readability
  packages/intlayer-editor/server/src/index.ts
Due: prettier --write, eslint --fix --cache

fix(design-system): update isAuthenticated logic to check for user session
  packages/@intlayer/design-system/src/components/Auth/useAuth/index.tsx
Due: prettier --write, eslint --fix --cache

chore: bump version to 5.3.11 for all packages
  .changeset/good-cooks-travel.md
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/vite-intlayer/package.json
Due: prettier --write

fix(design-system): reorder imports and simplify getOAuth2AccessToken call in useOAuth2 hook
  packages/@intlayer/design-system/src/components/Auth/useAuth/useOAuth2.ts
Due: prettier --write, eslint --fix --cache

fix(react-intlayer): transform updated content in MarkdownRenderer if content is not string
  packages/@intlayer/core/src/interpreter/getContent/getContent.ts
  packages/react-intlayer/src/editor/useEditedContentRenderer.tsx
  packages/react-intlayer/src/markdown/MarkdownRenderer.tsx
Due: prettier --write, eslint --fix --cache

fix(design-system): update NodeWrapper to use getContentNodeByKeyPath for edited content
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/index.tsx
Due: prettier --write, eslint --fix --cache

fix(core): use structuredClone for content in getDefaultNode function
  packages/@intlayer/core/src/dictionaryManipulator/getDefaultNode.ts
Due: prettier --write, eslint --fix --cache

fix(docs): remove closing remarks from English, Spanish, and French documentation
  docs/en/index.md
  docs/es/index.md
  docs/es/introduction.md
  docs/fr/index.md
  docs/fr/introduction.md
Due: prettier --write

fix(docs): update LocaleSwitcher to include locale in useLocale hook across multiple documentation files
  blog/en-GB/internationalization_and_SEO.md
  blog/en/internationalization_and_SEO.md
  docs/ar/intlayer_with_create_react_app.md
  docs/ar/intlayer_with_vite+react.md
  docs/de/intlayer_with_create_react_app.md
  docs/de/intlayer_with_vite+react.md
  docs/en-GB/intlayer_with_create_react_app.md
  docs/en-GB/intlayer_with_vite+react.md
  docs/en/intlayer_with_create_react_app.md
  docs/en/intlayer_with_vite+react.md
  docs/es/intlayer_with_create_react_app.md
  docs/es/intlayer_with_vite+react.md
  docs/fr/intlayer_with_create_react_app.md
  docs/fr/intlayer_with_vite+react.md
  docs/hi/intlayer_with_create_react_app.md
  docs/hi/intlayer_with_vite+react.md
  docs/it/intlayer_with_vite+react.md
  docs/ja/intlayer_with_create_react_app.md
  docs/ja/intlayer_with_vite+react.md
  docs/ko/intlayer_with_create_react_app.md
  docs/ko/intlayer_with_vite+react.md
  docs/pt/intlayer_with_create_react_app.md
  docs/pt/intlayer_with_vite+react.md
  docs/ru/intlayer_with_create_react_app.md
  docs/ru/intlayer_with_vite+react.md
  docs/zh/intlayer_with_create_react_app.md
  docs/zh/intlayer_with_vite+react.md
Due: prettier --write

fix(docs): remove closing remarks from English documentation in introduction files
  docs/en-GB/introduction.md
  docs/en/introduction.md
Due: prettier --write

feat(website): update demo video
  apps/website/src/components/LandingPage/DemoSection/DemoYoutube/index.tsx
Due: prettier --write, eslint --fix --cache

docs: fix t function doc
  docs/ar/packages/next-intlayer/t.md
  docs/de/packages/next-intlayer/t.md
  docs/en-GB/packages/next-intlayer/t.md
  docs/en/packages/next-intlayer/t.md
  docs/es/packages/next-intlayer/t.md
  docs/fr/packages/next-intlayer/t.md
  docs/hi/packages/next-intlayer/t.md
  docs/it/packages/next-intlayer/t.md
  docs/ja/packages/next-intlayer/t.md
  docs/ko/packages/next-intlayer/t.md
  docs/pt/packages/next-intlayer/t.md
  docs/ru/packages/next-intlayer/t.md
  docs/zh/packages/next-intlayer/t.md
Due: prettier --write

core(vue-intlayer): prepare package
  packages/vue-intlayer/.npmignore
  packages/vue-intlayer/.prettierignore
  packages/vue-intlayer/README.md
  packages/vue-intlayer/eslint.config.mjs
  packages/vue-intlayer/package.json
  packages/vue-intlayer/src/index.ts
  packages/vue-intlayer/tsconfig.json
  packages/vue-intlayer/tsconfig.types.json
  packages/vue-intlayer/tsup.config.ts
Due: prettier --write, eslint --fix --cache

core(svelte-intlayer): prepare package
  packages/svelte-intlayer/.npmignore
  packages/svelte-intlayer/.prettierignore
  packages/svelte-intlayer/README.md
  packages/svelte-intlayer/eslint.config.mjs
  packages/svelte-intlayer/package.json
  packages/svelte-intlayer/src/index.ts
  packages/svelte-intlayer/tsconfig.json
  packages/svelte-intlayer/tsconfig.types.json
  packages/svelte-intlayer/tsup.config.ts
Due: prettier --write, eslint --fix --cache

doc:(vue-intlayer): update readme
  packages/vue-intlayer/README.md
Due: prettier --write

core: update lock file
  pnpm-lock.yaml
Due: prettier --write

docs: update YouTube tutorial link in README
  README.md
Due: prettier --write

feat(website): integrate Facebook Pixel and restructure Google Analytics components
  apps/website/.env.template
  apps/website/src/components/Metrics/FacebookPixel/index.tsx
  apps/website/src/components/Metrics/GoogleAnalytics/index.tsx
  apps/website/src/providers/AppProviders.tsx
Due: prettier --write, eslint --fix --cache

feat(website): upgrade Next.js to 15.3.0 and replace Google Analytics with Google Tag Manager
  apps/website/.env.template
  apps/website/package.json
  apps/website/src/components/Metrics/FacebookPixel/index.tsx
  apps/website/src/components/Metrics/GoogleAnalytics/index.tsx
  apps/website/src/providers/AppProviders.tsx
  examples/nextjs-15-app/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

fix(website): update scriptSrcElem in secureHeaders for enhanced security and compatibility with external services
  apps/website/next.config.mjs
Due: none

feat(next-intlayer): add version comparison utility and integrate deepmerge for configuration management
  packages/next-intlayer/package.json
  packages/next-intlayer/src/server/compareVersion.ts
  packages/next-intlayer/src/server/getNextVertion.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

chore: update esbuild to version 0.25.2 across multiple packages
  apps/website/package.json
  packages/@intlayer/config/package.json
  pnpm-lock.yaml
  utils/tsup-config/package.json
Due: prettier --write

refactor(next-intlayer): simplify turbo and turbopack configuration handling
  packages/next-intlayer/src/server/compareVersion.ts
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

docs: update techno roadmap doc
  docs/de/roadmap.md
  docs/en-GB/roadmap.md
  docs/en/roadmap.md
  docs/es/roadmap.md
  docs/fr/roadmap.md
  docs/hi/roadmap.md
  docs/it/roadmap.md
  docs/ko/roadmap.md
  docs/pt/roadmap.md
  docs/ru/roadmap.md
Due: prettier --write

fix(next-intlayer): restore alias configuration.json for @intlayer/config/built
  apps/website/intlayer.config.ts
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

fix(website): fix doc urlRenamer
  apps/website/src/utils/markdown.ts
Due: prettier --write, eslint --fix --cache

fix(website): fix Icon cannot be used as a JSX component
  apps/website/package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(next-intlayer): replace incorect import or intlayer in next-intlayer by @intlayer/core
  packages/next-intlayer/src/client/useLocalePageRouter.ts
Due: prettier --write, eslint --fix --cache

feat(vue-example): add blank vue template
  examples/vue-app/.gitignore
  examples/vue-app/.vscode/extensions.json
  examples/vue-app/README.md
  examples/vue-app/index.html
  examples/vue-app/package.json
  examples/vue-app/public/vite.svg
  examples/vue-app/src/App.vue
  examples/vue-app/src/assets/vue.svg
  examples/vue-app/src/components/HelloWorld.vue
  examples/vue-app/src/main.js
  examples/vue-app/src/style.css
  examples/vue-app/vite.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

doc: fix double h1 in roadmap doc
  docs/ar/roadmap.md
  docs/de/roadmap.md
  docs/en-GB/roadmap.md
  docs/en/roadmap.md
  docs/es/roadmap.md
  docs/fr/roadmap.md
  docs/hi/roadmap.md
  docs/it/roadmap.md
  docs/ja/roadmap.md
  docs/ko/roadmap.md
  docs/pt/roadmap.md
  docs/ru/roadmap.md
  docs/zh/roadmap.md
Due: prettier --write

doc: fix anchors
  docs/en-GB/packages/next-intlayer/useIntlayerAsync.md
  docs/en/packages/next-intlayer/useDictionary.md
  docs/en/packages/next-intlayer/useIntlayerAsync.md
  docs/en/packages/react-intlayer/useDictionary.md
  docs/en/packages/react-intlayer/useIntlayer.md
Due: prettier --write
