Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(design-system): add support for currency, rating, and review count fields to SoftwareApplication JSON-LD generator
  packages/@intlayer/design-system/src/structured-data/buildSoftwareApplicationJsonLd.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(apps): centralize SEO URL generation with absolute path helpers and consistent hreflang implementation
  apps/showcase/src/routes/{-$locale}/index.tsx
  apps/showcase/src/routes/{-$locale}/project.$projectId.tsx
  apps/showcase/src/routes/{-$locale}/submit.tsx
  apps/showcase/src/utils/seo.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add publish script to lsp package configuration
  packages/@intlayer/lsp/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(next-intlayer): implement strict locale segment prefix checking to prevent path matching collisions
  packages/next-intlayer/src/proxy/intlayerProxy.test.ts
  packages/next-intlayer/src/proxy/intlayerProxy.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.test.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: consolidate domain-related logic into a shared utility and improve absolute URL generation for SSR
  packages/@intlayer/core/src/localization/domainUtils.test.ts
  packages/@intlayer/core/src/localization/domainUtils.ts
  packages/@intlayer/core/src/localization/getLocalizedUrl.test.ts
  packages/@intlayer/core/src/localization/getLocalizedUrl.ts
  packages/@intlayer/core/src/localization/getPrefix.ts
  packages/@intlayer/core/src/localization/index.ts
  packages/next-intlayer/src/proxy/intlayerProxy.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: uncomment and enable locale-to-domain mapping configuration in intlayer.config.ts
  apps/app/intlayer.config.ts
  apps/showcase/intlayer.config.ts
  apps/website/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): explicitly define return type for session tools helper function
  apps/backend/src/utils/AI/chat/sessionTools.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(backend): export Tool from ai package and update session tools to use custom Tool type
  apps/backend/src/utils/AI/chat/sessionTools.ts
  packages/@intlayer/ai/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: comment out domain routing configuration across all applications
  apps/app/intlayer.config.ts
  apps/showcase/intlayer.config.ts
  apps/website/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: upgrade solid-js to 1.9.14 and update build configuration
  bun.lock
  examples/tanstack-start-solid-app/package.json
  examples/vite-solid-app/package.json
  packages/@intlayer/babel/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(app): update event for email verification
  apps/app/src/components/Auth/VerifyEmail/VerifyEmailForm.tsx
  apps/app/src/components/Dashboard/OrganizationForm/Members/RemoveMemberModal.tsx
  apps/app/src/components/Dashboard/ProjectForm/Members/MembersKeyForm.tsx
  apps/backend/src/controllers/eventListener.controller.ts
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/utils/serverSentEvents.test.ts
  apps/backend/src/utils/serverSentEvents.ts
  packages/@intlayer/design-system/src/api/hooks/organization.ts
  packages/@intlayer/design-system/src/api/hooks/project.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): update member ID comparison logic in project controller
  apps/app/src/components/Dashboard/OrganizationForm/Members/RemoveMemberModal.tsx
  apps/backend/src/controllers/project.controller.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(docs): improve clarity in self-hosting instructions for Intlayer v9
  docs/docs/en-GB/releases/v9.md
  docs/docs/en-GB/self_hosting.md
  docs/docs/en/releases/v9.md
  docs/docs/en/self_hosting.md
Due: prettier --write

fix(website): add new domains to disavow list
  apps/website/public/disavow.txt
Due: none

refactor(cli): update init script
  bun.lock
  packages/@intlayer/cli/src/init.ts
  packages/@intlayer/engine/package.json
  packages/@intlayer/engine/src/init/cms.ts
  packages/@intlayer/engine/src/init/frameworkSetup/nextAppRouter/detect.ts
  packages/@intlayer/engine/src/init/frameworkSetup/nextAppRouter/restructure.ts
  packages/@intlayer/engine/src/init/frameworkSetup/nextAppRouter/transforms.ts
  packages/@intlayer/engine/src/init/frameworkSetup/tanstackStart/transforms.ts
  packages/@intlayer/engine/src/init/index.ts
  packages/@intlayer/engine/src/init/utils/astImports.test.ts
  packages/@intlayer/engine/src/init/utils/configManipulation.test.ts
  packages/@intlayer/engine/src/init/utils/configManipulation.ts
  packages/@intlayer/engine/src/init/utils/index.ts
  packages/@intlayer/engine/src/init/utils/version.ts
  packages/@intlayer/engine/src/initConfig/index.ts
  packages/@intlayer/engine/src/utils/recastBabelParser.ts
  packages/@intlayer/engine/src/writeContentDeclaration/transformJSFile.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(app): add app installation instructions and download button to the UI
  apps/app/src/components/AppInstallModal/AppDownloadButton.tsx
  apps/app/src/components/AppInstallModal/AppInstallModal.content.ts
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/releases/v9.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/self_hosting.json
  packages/@intlayer/design-system/src/routes.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update disavow list and bump nodemailer and webpack dependencies
  apps/website/public/disavow.txt
Due: none

feat: review tree-shaking env var for unused node types in bundling process
  bun.lock
  packages/@intlayer/cli/src/bundle.ts
  packages/angular-intlayer/src/esbuild/plugin.ts
  packages/lynx-intlayer/src/plugin/pluginIntlayerLynx.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): mention self hosting on cms description
  apps/website-tanstack/src/components/LandingPage/ProductsSection/TMSSection/tms-section.content.ts
  apps/website-tanstack/src/components/TMSLandingPage/hero-section.content.ts
  apps/website-tanstack/src/routes/{-$locale}/tms-metadata.content.ts
  apps/website/src/app/[locale]/(landing)/tms/metadata.content.ts
  apps/website/src/components/LandingPage/ProductsSection/TMSSection/tms-section.content.ts
  apps/website/src/components/TMSLandingPage/hero-section.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(engine): optimize content loading
  packages/@intlayer/cli/src/watch.ts
  packages/@intlayer/config/src/loadEnvFile.test.ts
  packages/@intlayer/config/src/loadEnvFile.ts
  packages/@intlayer/config/src/loadExternalFile/loadExternalFile.ts
  packages/@intlayer/config/src/loadExternalFile/parseFileContent.ts
  packages/@intlayer/config/src/loadExternalFile/transpileTSToCJS.test.ts
  packages/@intlayer/config/src/loadExternalFile/transpileTSToCJS.ts
  packages/@intlayer/engine/src/createType/createModuleAugmentation.ts
  packages/@intlayer/engine/src/createType/createType.ts
  packages/@intlayer/engine/src/loadDictionaries/loadContentDeclaration.ts
  packages/@intlayer/engine/src/utils/runParallel/index.ts
  packages/@intlayer/engine/src/watcher.ts
  packages/@intlayer/engine/src/writeFileIfChanged.test.ts
  packages/@intlayer/engine/src/writeFileIfChanged.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(sync-plugin): rework file adapter and sync plugin architecture
  packages/@intlayer/engine/package.json
  packages/@intlayer/engine/src/prepareIntlayer.ts
  packages/@intlayer/engine/src/syncPluginKit/createFileAdapter.ts
  packages/@intlayer/engine/src/syncPluginKit/createSyncPlugin.ts
  packages/@intlayer/engine/src/syncPluginKit/extractKeyAndLocaleFromPath.test.ts
  packages/@intlayer/engine/src/syncPluginKit/extractKeyAndLocaleFromPath.ts
  packages/@intlayer/engine/src/syncPluginKit/filePathPatternHelpers.ts
  packages/@intlayer/engine/src/syncPluginKit/index.ts
  packages/@intlayer/engine/src/syncPluginKit/syncPluginKit.test.ts
  packages/@intlayer/engine/src/syncPluginKit/types.ts
  plugins/sync-json-plugin/src/index.ts
  plugins/sync-json-plugin/src/jsonCodec.ts
  plugins/sync-json-plugin/src/loadJSON.ts
  plugins/sync-json-plugin/src/syncJSON.ts
  plugins/sync-po-plugin/src/index.ts
  plugins/sync-po-plugin/src/loadPO.ts
  plugins/sync-po-plugin/src/poFormat.ts
  plugins/sync-po-plugin/src/syncPO.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(cli): optimize startup performance by lazily loading heavy dependencies and build modules across CLI and integration packages
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/engine/package.json
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(website): update disavow
  apps/website/public/disavow.txt
Due: none

feat(react-scripts-intlayer): proceed preparation of .intlayer before build
  bun.lock
  examples/react-app/src/react-app-env.d.ts
  packages/@intlayer/webpack/src/webpack-plugin.ts
  packages/react-scripts-intlayer/package.json
  packages/react-scripts-intlayer/src/cli/react-scripts-intlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(next-intlayer): prevent infinite redirect loops by stripping trailing slashes from locale-prefixed routes using getInternalPath
  packages/next-intlayer/src/proxy/intlayerProxy.test.ts
  packages/next-intlayer/src/proxy/intlayerProxy.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.test.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(backend): review affiliation system
  apps/backend/src/controllers/stripe.controller.ts
  apps/backend/src/services/affiliate.service.ts
  apps/backend/src/webhooks/stripe.webhook.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): review reviewer marketplace logic
  apps/app/src/components/ReviewerDashboardPage/ReviewerMissionList.tsx
  apps/app/src/components/ReviewerDashboardPage/ReviewerMissionPage/ReviewerChat.tsx
  apps/app/src/components/ReviewerDashboardPage/ReviewerOnboarding.tsx
  apps/app/src/components/ReviewerDashboardPage/ReviewerProfileCard.tsx
  apps/app/src/components/ReviewerDashboardPage/index.tsx
  apps/app/src/components/ReviewerDashboardPage/reviewerDashboardPage.content.ts
  apps/app/src/components/ReviewerDashboardPage/reviewerOnboarding.content.ts
  apps/app/src/components/ReviewerMarketplacePage/ReviewerFilters.tsx
  apps/app/src/components/ReviewerMarketplacePage/reviewerFilters.content.ts
  apps/app/src/components/ReviewerProfilePage/BookingModal.tsx
  apps/app/src/components/ReviewerProfilePage/ContactChat.tsx
  apps/app/src/components/ReviewerProfilePage/bookingModal.content.ts
  apps/backend/src/controllers/reviewer.controller.ts
  apps/backend/src/schemas/reviewer.schema.ts
  apps/backend/src/services/reviewer.service.ts
  apps/backend/src/services/reviewerMessage.service.ts
  apps/backend/src/services/reviewerMission.service.test.ts
  apps/backend/src/services/reviewerMission.service.ts
  apps/backend/src/types/reviewer.types.ts
  apps/backend/src/utils/errors/errorCodes.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(i18next): implement dictionary fallback logic and add tests for resolveTranslation
  compat/i18next/src/createInstance.test.ts
  compat/i18next/src/resolveTranslation.test.ts
  compat/i18next/src/resolveTranslation.ts
  packages/@intlayer/engine/src/init/utils/configManipulation.test.ts
  packages/@intlayer/engine/src/init/utils/configManipulation.ts
  packages/@intlayer/engine/src/init/utils/packageManager.test.ts
  packages/@intlayer/engine/src/init/utils/packageManager.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(engine): update init script
  packages/@intlayer/engine/src/init/index.ts
  packages/@intlayer/engine/src/init/utils/configManipulation.test.ts
  packages/@intlayer/engine/src/init/utils/configManipulation.ts
  packages/@intlayer/engine/src/init/utils/githubActions.test.ts
  packages/@intlayer/engine/src/init/utils/githubActions.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(docs): update login links in CLI documentation to point to correct paths
  .agents/skills/intlayer-astro/references/concept_cli.md
  .agents/skills/intlayer-cli/references/concept_cli.md
  docs/docs/ar/cli/index.md
  docs/docs/bn/cli/index.md
  docs/docs/cs/cli/index.md
  docs/docs/de/cli/index.md
  docs/docs/en-GB/cli/index.md
  docs/docs/en/cli/index.md
  docs/docs/es/cli/index.md
  docs/docs/fr/cli/index.md
  docs/docs/hi/cli/index.md
  docs/docs/id/cli/index.md
  docs/docs/it/cli/index.md
  docs/docs/ja/cli/index.md
  docs/docs/ko/cli/index.md
  docs/docs/nl/cli/index.md
  docs/docs/pl/cli/index.md
  docs/docs/pt/cli/index.md
  docs/docs/ru/cli/index.md
  docs/docs/tr/cli/index.md
  docs/docs/uk/cli/index.md
  docs/docs/ur/cli/index.md
  docs/docs/vi/cli/index.md
  docs/docs/zh/cli/index.md
Due: prettier --write

chore(website): update disavow list
  apps/website/public/disavow.txt
Due: none

fix(ai): fix error export Tool
  packages/@intlayer/ai/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
