Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

core(website): remove doc nested_id
  apps/website/src/components/DocPage/docData.ts
  docs/docs/content_declaration/nested_id_en.md
  docs/docs/content_declaration/nested_id_es.md
  docs/docs/content_declaration/nested_id_fr.md
  docs/index.cjs
  docs/index.d.ts
  packages/@intlayer/chokidar/src/chokidar/watcher.ts
Due: prettier --write, eslint --fix --cache

fix(doc): fix intlayer_with_i18next link
  README.md
  docs/docs/introduction_en.md
  docs/docs/introduction_es.md
  docs/docs/introduction_fr.md
Due: prettier --write

refactor(design-system): update vite.config
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/vite.config.ts
Due: prettier --write, eslint --fix --cache

feat(chokidar): load distant dictionaries during build
  apps/backend/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/chokidar/src/chokidar/watcher.ts
  packages/@intlayer/chokidar/src/fetchDistantDictionaries.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/loadDistantDictionaries.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/index.ts
  packages/@intlayer/cli/src/build.ts
  packages/@intlayer/cli/src/index.ts
  packages/@intlayer/cli/src/pull.ts
  packages/@intlayer/cli/src/push.ts
  packages/@intlayer/cli/tsconfig.json
  packages/next-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

feat(backend): add update members route
  apps/backend/src/controllers/organization.controller.ts
  apps/backend/src/controllers/project.controller.ts
  apps/backend/src/middlewares/sessionAuth.middleware.ts
  apps/backend/src/routes/organization.routes.ts
  apps/backend/src/routes/project.routes.ts
  apps/backend/src/schemas/organization.schema.ts
  apps/backend/src/schemas/project.schema.ts
  apps/backend/src/services/project.service.ts
  apps/backend/src/services/user.service.ts
  apps/backend/src/types/organization.types.ts
  apps/backend/src/types/project.types.ts
  apps/backend/src/utils/validation/validateOrganization.ts
  apps/backend/src/utils/validation/validateProject.ts
  packages/@intlayer/design-system/src/libs/intlayer-api/organization.ts
  packages/@intlayer/design-system/src/libs/intlayer-api/project.ts
Due: prettier --write, eslint --fix --cache

feat(chokidar): fix loadDistantDictionaries
  packages/@intlayer/chokidar/src/loadDistantDictionaries.ts
Due: prettier --write, eslint --fix --cache

feat(website): update dashboard
  apps/backend/src/controllers/organization.controller.ts
  apps/backend/src/middlewares/admin.middleware.ts
  apps/backend/src/middlewares/sessionAuth.middleware.ts
  apps/backend/src/routes/organization.routes.ts
  apps/backend/src/types/organization.types.ts
  apps/backend/src/types/project.types.ts
  apps/website/src/components/Dashboard/OrganizationForm/Members/MembersKeyForm.tsx
  apps/website/src/components/Dashboard/OrganizationForm/Members/NewMembersFormSchema.ts
  apps/website/src/components/Dashboard/OrganizationForm/Members/membersForm.content.ts
  apps/website/src/components/Dashboard/ProjectForm/Members/MembersKeyForm.tsx
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
  packages/@intlayer/design-system/src/libs/intlayer-api/organization.ts
Due: prettier --write, eslint --fix --cache

feat(backend): setup email
  apps/backend/.env.template
  apps/backend/export.ts
  apps/backend/package.json
  apps/backend/src/controllers/organization.controller.ts
  apps/backend/src/controllers/sessionAuth.controller.ts
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/emails/InviteUserEmail.tsx
  apps/backend/src/emails/PasswordChangeConfirmation.tsx
  apps/backend/src/emails/ResetUserPassword.tsx
  apps/backend/src/emails/ValidateUserEmail.tsx
  apps/backend/src/emails/Welcome.tsx
  apps/backend/src/emails/index.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/dictionary.routes.ts
  apps/backend/src/routes/organization.routes.ts
  apps/backend/src/routes/project.routes.ts
  apps/backend/src/routes/sessionAuth.routes.ts
  apps/backend/src/routes/user.routes.ts
  apps/backend/src/services/email.service.tsx
  apps/backend/src/types/Routes.ts
  apps/backend/tsconfig.json
  apps/backend/tsconfig.package.json
  apps/backend/tsup.config.ts
  apps/website/package.json
  apps/website/src/components/Dashboard/OrganizationForm/Members/MembersKeyForm.tsx
  packages/@intlayer/core/src/types/dictionary.ts
  packages/@intlayer/design-system/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

fix(website): fix build
  apps/website/next.config.mjs
Due: none

fix(core): fix TSUP imports using plugins
  apps/backend/export.ts
  apps/backend/package.json
  apps/backend/src/export.ts
  apps/backend/src/index.ts
  apps/backend/tsconfig.json
  apps/backend/tsconfig.package.json
  apps/backend/tsup.config.ts
  apps/website/next.config.mjs
  utils/ts-config/fixAliasPlugin.mjs
  utils/ts-config/fixExtensionsPlugin.mjs
  utils/ts-config/fixFolderImportsPlugin.mjs
  utils/ts-config/forceEsmExtensionsPlugin.mjs
  utils/ts-config/tsup-config.mjs
Due: prettier --write, eslint --fix --cache

refactor(core): use esbuild-fix-imports-plugin
  apps/backend/package.json
  pnpm-lock.yaml
  utils/ts-config/package.json
  utils/ts-config/tsup-config.mjs
Due: prettier --write

fix(website): make backend external
  apps/website/next.config.mjs
Due: none

feat(core): update esbuild-fix-imports-plugin
  apps/backend/package.json
  pnpm-lock.yaml
  utils/ts-config/package.json
Due: prettier --write

feat(core): update tsup version
  package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/react-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write

core(root): update nextjs
  apps/website/package.json
  examples/nextjs-app/package.json
  package.json
  packages/next-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(tsup): use local fixAliasPlugin
  utils/ts-config/fixAliasPlugin.mjs
  utils/ts-config/fixImportPlugin.mjs
  utils/ts-config/tsup-config.mjs
Due: none

fix(website): fix build
  apps/backend/package.json
  apps/website/package.json
  examples/nextjs-app/package.json
  package.json
  packages/next-intlayer/package.json
  pnpm-lock.yaml
  utils/ts-config/package.json
  utils/ts-config/tsup-config.mjs
Due: prettier --write

fix(website): fix build
  apps/backend/package.json
  apps/backend/src/controllers/dictionary.controller.ts
  apps/backend/src/controllers/organization.controller.ts
  apps/backend/src/controllers/project.controller.ts
  apps/backend/src/controllers/projectAccessKey.controller.ts
  apps/backend/src/controllers/sessionAuth.controller.ts
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/index.ts
  apps/backend/src/middlewares/oAuth2.middleware.ts
  apps/backend/src/middlewares/request.middleware.ts
  apps/backend/src/services/dictionary.service.ts
  apps/backend/src/services/email.service.tsx
  apps/backend/src/services/organization.service.ts
  apps/backend/src/services/project.service.ts
  apps/backend/src/services/projectAccessKey.service.ts
  apps/backend/src/services/sessionAuth.service.ts
  apps/backend/src/services/user.service.ts
  apps/backend/src/utils/accessControl.ts
  apps/backend/src/utils/mongoDB/connectDB.ts
  apps/backend/tsconfig.json
  pnpm-lock.yaml
  utils/ts-config/package.json
  utils/ts-config/tsup-config.mjs
Due: prettier --write, eslint --fix --cache

fix(website): fix build
  apps/backend/package.json
  apps/backend/src/controllers/dictionary.controller.ts
  apps/backend/src/controllers/organization.controller.ts
  apps/backend/src/controllers/project.controller.ts
  apps/backend/src/controllers/projectAccessKey.controller.ts
  apps/backend/src/controllers/sessionAuth.controller.ts
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/index.ts
  apps/backend/src/middlewares/oAuth2.middleware.ts
  apps/backend/src/middlewares/request.middleware.ts
  apps/backend/src/services/dictionary.service.ts
  apps/backend/src/services/email.service.tsx
  apps/backend/src/services/organization.service.ts
  apps/backend/src/services/project.service.ts
  apps/backend/src/services/projectAccessKey.service.ts
  apps/backend/src/services/sessionAuth.service.ts
  apps/backend/src/services/user.service.ts
  apps/backend/src/utils/accessControl.ts
  apps/backend/src/utils/mongoDB/connectDB.ts
  apps/backend/tsconfig.json
  pnpm-lock.yaml
  utils/ts-config/fixAliasPlugin.mjs
  utils/ts-config/package.json
  utils/ts-config/tsup-config.mjs
Due: prettier --write, eslint --fix --cache

refactor: rework useAsync hook
  packages/@intlayer/design-system/src/components/Auth/AuthProvider/index.tsx
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
  packages/@intlayer/design-system/src/hooks/useAsync/useAsync.ts
  packages/@intlayer/design-system/src/hooks/useAsync/useAsyncCacheStore.ts
  packages/@intlayer/design-system/src/hooks/useAsync/useAsyncStateStore.ts
Due: prettier --write, eslint --fix --cache

fix(backend): fix relative routes routes url to absolute
  apps/backend/src/emails/InviteUserEmail.tsx
  apps/backend/src/emails/PasswordChangeConfirmation.tsx
  apps/backend/src/emails/ResetUserPassword.tsx
  apps/backend/src/emails/ValidateUserEmail.tsx
  apps/backend/src/emails/Welcome.tsx
  apps/backend/src/routes/dictionary.routes.ts
  apps/backend/src/routes/organization.routes.ts
  apps/backend/src/routes/project.routes.ts
  apps/backend/src/routes/sessionAuth.routes.ts
  apps/backend/src/routes/user.routes.ts
Due: prettier --write, eslint --fix --cache

style(website): fix style DocPageLayout
  apps/website/src/components/DocPage/DocPageLayout.tsx
Due: prettier --write, eslint --fix --cache

fix(website): fix react errors
  apps/website/src/components/DocPage/DocNavTitles.tsx
  apps/website/src/components/Navbar/navbar.content.ts
  packages/@intlayer/design-system/src/components/Headers/index.tsx
Due: prettier --write, eslint --fix --cache

style(website): change Button Icon style
  apps/website/src/components/Dashboard/OrganizationForm/Members/MembersKeyForm.tsx
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryFieldEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/EditorView/EditorView.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/EditorView/TextEditor.tsx
Due: prettier --write, eslint --fix --cache

style(website): update dashboard container
  apps/website/src/components/Dashboard/OrganizationForm/OrganizationForm.tsx
  apps/website/src/components/Dashboard/ProfileForm/ProfileForm.tsx
Due: prettier --write, eslint --fix --cache

remove console
  apps/website/next.config.mjs
Due: none

fix(website): restore node 14.1.1
  apps/website/package.json
  examples/nextjs-app/package.json
  package.json
  packages/next-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(website): disable sw
  apps/website/.env.template
  apps/website/next.config.mjs
Due: none

fix(website): fix AuthenticationBarrier
  apps/website/src/app/[locale]/(dashboard)/layout.tsx
  apps/website/src/app/[locale]/(landing)/(not-editable)/auth/(authenticated)/layout.tsx
  apps/website/src/app/[locale]/(landing)/(not-editable)/auth/(not-authenticated)/layout.tsx
  apps/website/src/components/Auth/AuthenticationBarrier/AuthenticationBarrier.tsx
  apps/website/src/components/Auth/AuthenticationBarrier/AuthenticationBarrierClient.tsx
  apps/website/src/components/Auth/AuthenticationBarrier/AuthenticationBarrierServer.tsx
  apps/website/src/components/Auth/SignInForm/index.tsx
  apps/website/src/components/Auth/SignUpForm/index.tsx
  apps/website/src/components/Dashboard/DashboardNavbar/OrganizationDropdown.tsx
  apps/website/src/components/Dashboard/DashboardNavbar/ProjectDropdown.tsx
  apps/website/src/components/Dashboard/OrganizationForm/Members/MembersKeyForm.tsx
  apps/website/src/components/Dashboard/OrganizationForm/OrganizationCreationForm.tsx
  apps/website/src/components/Dashboard/OrganizationForm/OrganizationEditionForm.tsx
  apps/website/src/components/Dashboard/OrganizationForm/OrganizationList.tsx
  apps/website/src/components/Dashboard/ProfileForm/ProfileForm.tsx
  apps/website/src/components/Dashboard/ProjectForm/Members/MembersKeyForm.tsx
  apps/website/src/components/Dashboard/ProjectForm/ProjectCreationForm.tsx
  apps/website/src/components/Dashboard/ProjectForm/ProjectEditionForm.tsx
  apps/website/src/components/Dashboard/ProjectForm/ProjectList.tsx
  packages/@intlayer/design-system/src/components/Auth/AuthModal/index.tsx
  packages/@intlayer/design-system/src/components/Auth/AuthProvider/index.tsx
  packages/@intlayer/design-system/src/components/Auth/AuthProvider/useSession.ts
  packages/@intlayer/design-system/src/components/Auth/AuthenticationBarrier/AuthenticationBarrierClient.tsx
  packages/@intlayer/design-system/src/components/Auth/AuthenticationBarrier/AuthenticationBarrierServer.tsx
  packages/@intlayer/design-system/src/components/Auth/useUser/index.ts
  packages/@intlayer/design-system/src/hooks/useAsync/useAsync.ts
  packages/@intlayer/design-system/src/hooks/useAsync/useAsyncStateStore.ts
Due: prettier --write, eslint --fix --cache

feat(core): update tsup plugin
  apps/backend/package.json
  apps/backend/tsconfig.json
  package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  pnpm-lock.yaml
  utils/ts-config/fixAliasPlugin.mjs
  utils/ts-config/package.json
  utils/ts-config/tsup-config.mjs
Due: prettier --write

fix(backend): fix updateProjectMembers controller
  apps/backend/src/controllers/project.controller.ts
Due: prettier --write, eslint --fix --cache

fix(website): fix api revalidation after session change
  apps/backend/src/middlewares/sessionAuth.middleware.ts
  apps/backend/src/services/sessionAuth.service.ts
  packages/@intlayer/design-system/src/components/Auth/AuthProvider/index.tsx
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
  packages/@intlayer/design-system/src/hooks/useAsync/useAsync.ts
Due: prettier --write, eslint --fix --cache

feat(design-system): implement autofetch useAsync
  apps/website/src/components/Dashboard/DashboardNavbar/OrganizationDropdown.tsx
  apps/website/src/components/Dashboard/DashboardNavbar/ProjectDropdown.tsx
  apps/website/src/components/Dashboard/DictionaryListDashboard/DictionaryCreationForm.tsx
  apps/website/src/components/Dashboard/OrganizationForm/OrganizationForm.tsx
  apps/website/src/components/Dashboard/ProjectForm/ProjectForm.tsx
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
  packages/@intlayer/design-system/src/hooks/useAsync/useAsync.ts
  packages/@intlayer/design-system/src/hooks/useAsync/useAsyncStateStore.ts
  packages/@intlayer/design-system/src/hooks/useGetAllDictionaries.tsx
Due: prettier --write, eslint --fix --cache

feat(design-system): implement different storage for different args into useAsync hook request
  packages/@intlayer/design-system/src/hooks/useAsync/useAsync.ts
  packages/@intlayer/design-system/src/hooks/useAsync/useAsyncStateStore.ts
Due: prettier --write, eslint --fix --cache

feat(express-intlayer): implement express-intlayer package
  apps/backend/package.json
  packages/@intlayer/core/src/index.ts
  packages/@intlayer/core/src/localeDetector.ts
  packages/express-intlayer/.npmignore
  packages/express-intlayer/.prettierignore
  packages/express-intlayer/CHANGELOG.md
  packages/express-intlayer/README.md
  packages/express-intlayer/eslint.config.mjs
  packages/express-intlayer/package.json
  packages/express-intlayer/src/index.ts
  packages/express-intlayer/tsconfig.json
  packages/express-intlayer/tsup.config.ts
  packages/next-intlayer/package.json
  packages/next-intlayer/src/middleware/localeDetector.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

fix(backend): change InviteUserEmail email previewText
  apps/backend/src/emails/InviteUserEmail.tsx
Due: prettier --write, eslint --fix --cache

fix(core): use concurrently for dev mode package
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix --cache: any of: *.{js,jsx,ts,tsx}
