Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: fix react app doc
  docs/docs/intlayer_with_create_react_app_en.md
  docs/docs/intlayer_with_create_react_app_es.md
  docs/docs/intlayer_with_create_react_app_fr.md
Due: prettier --write

fix: add module as external vite plugin
  packages/react-intlayer/src/vite/intlayerPlugin.ts
Due: prettier --write, eslint --fix

chore: remove main from package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/intlayer-cli/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
Due: prettier --write

fix: client size import module package
  packages/react-intlayer/src/client/ContentEditionLayout.tsx
  packages/react-intlayer/src/renderIntlayerEditor.tsx
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/nasty-brooms-happen.md
Due: prettier --write

refactor(react-intlayer): restore mix plugin import
  packages/react-intlayer/src/client/ContentEditionLayout.tsx
  packages/react-intlayer/src/renderIntlayerEditor.tsx
Due: prettier --write, eslint --fix

fix: fix react-app tsconfig.json
  examples/react-app/tsconfig.json
Due: prettier --write

chore: update packages lock
  pnpm-lock.yaml
Due: prettier --write

chore(react-intlayer): fix conditional import vite
  .changeset/olive-coats-lie.md
  packages/intlayer-editor/src/client/renderContentEditor.tsx
  packages/react-intlayer/src/client/ContentEditionLayout.tsx
  packages/react-intlayer/src/renderIntlayerEditor.tsx
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/cool-needles-doubt.md
Due: prettier --write

fix(react-intlayer): restore createRequire
  packages/react-intlayer/src/client/ContentEditionLayout.tsx
  packages/react-intlayer/src/renderIntlayerEditor.tsx
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/nine-meals-invent.md
Due: prettier --write

fix: include intlayer-editor as dependency of react-intlayer
  examples/nextjs-app/intlayer.config.ts
  examples/react-app/intlayer.config.ts
  examples/vite-app/intlayer.config.ts
  packages/@intlayer/config/src/defaultValues/editor.ts
  packages/react-intlayer/package.json
  packages/react-intlayer/src/client/ContentEditionLayout.tsx
  packages/react-intlayer/src/client/IntlayerProvider.tsx
  packages/react-intlayer/src/renderIntlayerEditor.tsx
  packages/react-intlayer/src/useIntlayerBase.ts
Due: prettier --write, eslint --fix

chore: update lockfile
  pnpm-lock.yaml
Due: prettier --write

chore: fix react-intlayer dependencie
  .changeset/thin-mugs-peel.md
  packages/react-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write

Create FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

feat: add privacy_notice + terms_of_service
  LICENSE
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/privacy_notice/metadata.ts
  apps/website/src/app/[locale]/privacy_notice/page.tsx
  apps/website/src/app/[locale]/terms_of_service/metadata.ts
  apps/website/src/app/[locale]/terms_of_service/page.tsx
  docs/docs/privacy_notice_en.md
  docs/docs/privacy_notice_es.md
  docs/docs/privacy_notice_fr.md
  docs/docs/terms_of_service_en.md
  docs/docs/terms_of_service_es.md
  docs/docs/terms_of_service_fr.md
  docs/index.cjs
  docs/index.d.ts
Due: prettier --write, eslint --fix

style(website): add max-width pricacy_notice & terms_of_service
  apps/website/src/app/[locale]/privacy_notice/page.tsx
  apps/website/src/app/[locale]/terms_of_service/page.tsx
Due: prettier --write, eslint --fix

style(design-system): increase gap footer
  packages/@intlayer/design-system/src/components/Footer/index.tsx
Due: prettier --write, eslint --fix

style(design-system): reduce text size footer
  packages/@intlayer/design-system/src/components/Footer/index.tsx
Due: prettier --write, eslint --fix

feat(website): update footer links
  apps/website/src/components/Footer/footer.content.ts
Due: prettier --write, eslint --fix

fix(website): fix website errors
  apps/website/package.json
  apps/website/public/sw.js
  apps/website/public/workbox-01fd22c6.js
  apps/website/src/app/[locale]/metadata.ts
  apps/website/src/providers/AppProviders.tsx
  apps/website/src/providers/NextAuthProvider.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(website): fix website errors
  apps/website/package.json
  apps/website/public/sw.js
  apps/website/public/workbox-01fd22c6.js
  apps/website/src/app/[locale]/metadata.ts
  apps/website/src/app/[locale]/privacy_notice/page.tsx
  apps/website/src/app/[locale]/terms_of_service/page.tsx
  apps/website/src/app/manifest.ts
  apps/website/src/middleware.ts
  apps/website/src/providers/AppProviders.tsx
  apps/website/src/providers/NextAuthProvider.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(website): config sitemap
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/sitemap.ts
  apps/website/src/components/Footer/footer.content.ts
Due: prettier --write, eslint --fix

chore(website): add types next-pwa
  apps/website/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(website): update numbers landing page
  apps/website/src/components/LandingPage/WhyToChoseIntlayerSection/index.tsx
Due: prettier --write, eslint --fix

fix(webpage): restore footer links
  apps/website/src/components/Footer/footer.content.ts
Due: prettier --write, eslint --fix

feat(website): try adding sw
  apps/website/public/service-worker.js
  apps/website/public/sw.js
  apps/website/src/middleware.ts
Due: prettier --write, eslint --fix

fix(design-system): fix dynamic tw components
  packages/@intlayer/design-system/src/components/Navbar/MobileNavbar.tsx
  packages/@intlayer/design-system/src/components/ThemeSwitcherDropDown/MobileThemeSwitcher.tsx
Due: prettier --write, eslint --fix

style(website): align text button left DocPageLayout
  apps/website/src/components/DocPage/DocPageLayout.tsx
Due: prettier --write, eslint --fix

feat(website): optimise animation bundle
  apps/website/src/components/DemoPage/AnimatedDiv.tsx
  apps/website/src/components/DemoPage/AnimatedTitle.tsx
  apps/website/src/components/DemoPage/index.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/index.tsx
  apps/website/src/components/LandingPage/LandingSection/AnimatedDescription.tsx
  apps/website/src/components/LandingPage/LandingSection/AnimatedTitle.tsx
  apps/website/src/components/LandingPage/WhyToChoseIntlayerSection/AnimatedDiv.tsx
  apps/website/src/components/LandingPage/WhyToChoseIntlayerSection/index.tsx
  apps/website/src/providers/AnimatePresenceProvider.tsx
  packages/@intlayer/design-system/src/components/Footer/index.tsx
  packages/@intlayer/design-system/src/components/Modal/index.tsx
  packages/@intlayer/design-system/src/components/Navbar/MobileNavbar.tsx
Due: prettier --write, eslint --fix

feat(website): optimize page dynamic loading
  apps/website/src/app/[locale]/doc/concept/configuration/page.tsx
  apps/website/src/app/[locale]/doc/concept/content_declaration/declaration_watching/page.tsx
  apps/website/src/app/[locale]/doc/concept/content_declaration/declare_your_content/page.tsx
  apps/website/src/app/[locale]/doc/concept/content_declaration/enumeration/page.tsx
  apps/website/src/app/[locale]/doc/concept/content_declaration/function_fetching/page.tsx
  apps/website/src/app/[locale]/doc/concept/content_declaration/translation/page.tsx
  apps/website/src/app/[locale]/doc/concept/how_works_intlayer/page.tsx
  apps/website/src/app/[locale]/doc/concept/interest_of_intlayer/page.tsx
  apps/website/src/app/[locale]/doc/concept/intlayer_editor/page.tsx
  apps/website/src/app/[locale]/doc/concept/intlayer_with_i18n/page.tsx
  apps/website/src/app/[locale]/doc/environment/intlayer_with_create_react_app/page.tsx
  apps/website/src/app/[locale]/doc/environment/intlayer_with_nextjs/page.tsx
  apps/website/src/app/[locale]/doc/environment/intlayer_with_vite_and_react/page.tsx
  apps/website/src/app/[locale]/doc/get_started/page.tsx
  apps/website/src/app/[locale]/doc/page.tsx
  apps/website/src/app/[locale]/privacy_notice/page.tsx
  apps/website/src/app/[locale]/terms_of_service/page.tsx
  apps/website/src/components/LandingPage/index.tsx
  packages/@intlayer/design-system/src/components/Loader/index.tsx
  packages/@intlayer/design-system/src/components/index.ts
Due: prettier --write, eslint --fix

style(website): update website doc layout
  apps/website/src/components/DocPage/DocPageLayout.tsx
  apps/website/src/layouts/PageContentLayout.tsx
  apps/website/src/layouts/RootHTMLLayout.tsx
Due: prettier --write, eslint --fix

perf(website): make markdown image load lazy for performance
  packages/@intlayer/design-system/src/components/MarkDownRender/index.tsx
Due: prettier --write, eslint --fix

style(website): fix IDE contrast
  packages/@intlayer/design-system/src/components/IDE/CodeRender.tsx
  packages/@intlayer/design-system/src/components/IDE/IDE.tsx
  packages/@intlayer/design-system/tailwind.config.ts
Due: prettier --write, eslint --fix

fix(@intlayer/chokidar): fix update of type definition
  packages/@intlayer/chokidar/src/chokidar/watcher.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_type/createType.ts
Due: prettier --write, eslint --fix

feat(website): update action-button link landing page
  apps/website/src/components/LandingPage/LandingSection/ActionButtons.tsx
  apps/website/src/components/LandingPage/LandingSection/action-button.content.ts
Due: prettier --write, eslint --fix

feat(webpage): replace get_started page by intro
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/doc/get_started/metadata.ts
  apps/website/src/app/[locale]/doc/get_started/page.tsx
  apps/website/src/app/[locale]/doc/page.tsx
  apps/website/src/app/[locale]/sitemap.ts
  apps/website/src/components/DocPage/doc-page.content.ts
  apps/website/src/components/Footer/footer.content.ts
  apps/website/src/components/LandingPage/LandingSection/action-button.content.ts
Due: prettier --write, eslint --fix

fix(website): remove duplicate sitemap
  apps/website/src/app/[locale]/sitemap.ts
Due: prettier --write, eslint --fix

docs(website): update dependency graph
  docs/assets/packages_dependency_graph.svg
  docs/assets/packages_dependency_graph.txt
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
