Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

refactor(react-intlayer): clean up unused props and improve key handling in runtime
  packages/@intlayer/core/src/markdown/constants.ts
  packages/@intlayer/design-system/src/components/Status/index.tsx
  packages/react-intlayer/src/markdown/runtime.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(engine): add delayed artifact removal and comprehensive tests for cleanRemovedContentDeclaration
  packages/@intlayer/engine/src/cleanRemovedContentDeclaration.test.ts
  packages/@intlayer/engine/src/cleanRemovedContentDeclaration.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(backend): update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/history_of_i18n.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/how_to_pick_react_i18n_library.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/how_to_pick_solid_i18n_library.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/how_to_pick_svelte_i18n_library.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/how_to_pick_vue_i18n_library.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/is_i18next_outdated.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/is_next-intl_outdated.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/is_vue-i18n_outdated.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/list_i18n_technologies/frameworks/react-router.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/next-i18next_vs_next-intl_vs_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/per-component_vs_centralized_i18n.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/react-i18next_vs_react-intl_vs_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/bundle_optimization.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/interest_of_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_CMS.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_adonisjs.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_analog.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_angular_19.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_angular_21.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_lit.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_preact.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_react.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_svelte.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_vanilla.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_vue.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_create_react_app.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_express.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_hono.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nestjs.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_14.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_15.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_16.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_page_router.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+preact.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+react.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+vue.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/introduction.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/readme.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): replace hardcoded locale with defaultLocale for improved consistency
  apps/app/src/components/LocaleSwitcher/useLocaleSearch.ts
  apps/showcase/src/components/LocaleSwitcher/useLocaleSearch.ts
  apps/website/src/components/LandingPage/BentoFeaturesSection/CompilerSection/Visual.tsx
  apps/website/src/components/LandingPage/BentoFeaturesSection/CompilerSection/index.tsx
  apps/website/src/components/LandingPage/BentoFeaturesSection/RedesignedFeatures.tsx
  apps/website/src/components/LocaleSwitcher/useLocaleSearch.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): update minimum width in LocaleSwitcher component for improved layout
  apps/app/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/showcase/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/website/src/components/LocaleSwitcher/LocaleSwitcher.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(engine): enhance insertion handling for markdown and HTML content using autoDecorateContent
  packages/@intlayer/engine/src/utils/autoDecorateContent.test.ts
  packages/@intlayer/engine/src/utils/autoDecorateContent.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(example): remove git submodule for nextjs-16 app
  examples/nextjs-16-app/.gitignore
  examples/nextjs-16-app/app/[locale]/about/page.content.ts
  examples/nextjs-16-app/app/[locale]/about/page.tsx
  examples/nextjs-16-app/app/[locale]/layout.tsx
  examples/nextjs-16-app/app/[locale]/metadata.content.ts
  examples/nextjs-16-app/app/[locale]/page.content.ts
  examples/nextjs-16-app/app/[locale]/page.tsx
  examples/nextjs-16-app/app/[locale]/products/[productId]/details/page.content.ts
  examples/nextjs-16-app/app/[locale]/products/[productId]/details/page.tsx
  examples/nextjs-16-app/app/favicon.ico
  examples/nextjs-16-app/app/globals.css
  examples/nextjs-16-app/compiler/comp-page.content.json
  examples/nextjs-16-app/compiler/comp-runtime.content.json
  examples/nextjs-16-app/components/ClientComponentExample.tsx
  examples/nextjs-16-app/components/IsomorphicComponentExample.tsx
  examples/nextjs-16-app/components/IsomorphicServerExample.tsx
  examples/nextjs-16-app/components/LocaleSwitcher/LocaleSwitcher.tsx
  examples/nextjs-16-app/components/LocaleSwitcher/localeSwitcher.content.ts
  examples/nextjs-16-app/components/LocaleSwitcher/useLocaleSearch.ts
  examples/nextjs-16-app/components/ServerComponentExample.tsx
  examples/nextjs-16-app/components/SignIn.tsx
  examples/nextjs-16-app/components/client-component-example.content.ts
  examples/nextjs-16-app/components/server-component-example.content.ts
  examples/nextjs-16-app/components/test.content.json5
  examples/nextjs-16-app/eslint.config.mjs
  examples/nextjs-16-app/intlayer.config.ts
  examples/nextjs-16-app/next-env.d.ts
  examples/nextjs-16-app/next.config.ts
  examples/nextjs-16-app/package.json
  examples/nextjs-16-app/postcss.config.mjs
  examples/nextjs-16-app/proxy.ts
  examples/nextjs-16-app/public/file.svg
  examples/nextjs-16-app/public/globe.svg
  examples/nextjs-16-app/public/next.svg
  examples/nextjs-16-app/public/vercel.svg
  examples/nextjs-16-app/public/window.svg
  examples/nextjs-16-app/tailwind.config.ts
  examples/nextjs-16-app/tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(swc): pin rust toolchain to version 1.89.0 for Wasm plugin compatibility
  .github/workflows/publish.yaml
  packages/@intlayer/swc/rust-toolchain.toml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update dependencies
  apps/app/package.json
  apps/backend/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  compat/vue-i18n/package.json
  examples/analog-app/package.json
  examples/angular-22-app/package.json
  examples/compat-next-i18next/package.json
  examples/compat-next-intl/package.json
  examples/next-no-lolale-path/package.json
  examples/nextjs-16-app/package.json
  examples/nuxt-4-app/package.json
  examples/tanstack-start-app/package.json
  examples/vite-vue-app/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/mcp/package.json
  packages/intlayer-editor/package.json
  packages/solid-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(vue-intlayer): refactor devtools plugin registration to use typed function signature
  packages/vue-intlayer/src/devtools/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: enhance command output handling and add OIDC diagnostics
  scripts/publish-package.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add script to register GitHub Actions workflow as trusted publisher for npm packages
  scripts/trust-packages.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

build: update MinIO download URLs to GitHub releases and add check skip directive
  docker/selfhost/Dockerfile
Due: none

ci: add version check script and update release workflows to trigger only on package.json version changes
  .github/scripts/check-version-change.sh
  .github/workflows/publish.yaml
  .github/workflows/selfhost-container-release.yaml
  .github/workflows/tauri-app-release.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(vue-intlayer): make selector and locale optional properties in useDictionary and useIntlayer
  packages/vue-intlayer/src/client/useDictionary.ts
  packages/vue-intlayer/src/client/useIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(backend): update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_visual_editor.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_preact.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_react.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_svelte.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_vanilla.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_vue.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_14.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_15.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_16.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_react_router_v7.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_tanstack+solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_tanstack.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+preact.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+react.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+solid.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update i18n selection blog posts with multi-locale code examples
  docs/blog/ar/how_to_pick_react_i18n_library.md
  docs/blog/ar/how_to_pick_solid_i18n_library.md
  docs/blog/de/how_to_pick_react_i18n_library.md
  docs/blog/de/how_to_pick_solid_i18n_library.md
  docs/blog/en-GB/how_to_pick_react_i18n_library.md
  docs/blog/en-GB/how_to_pick_solid_i18n_library.md
  docs/blog/en/how_to_pick_react_i18n_library.md
  docs/blog/en/how_to_pick_solid_i18n_library.md
  docs/blog/es/how_to_pick_react_i18n_library.md
  docs/blog/es/how_to_pick_solid_i18n_library.md
  docs/blog/fr/how_to_pick_react_i18n_library.md
  docs/blog/fr/how_to_pick_solid_i18n_library.md
  docs/blog/hi/how_to_pick_react_i18n_library.md
  docs/blog/hi/how_to_pick_solid_i18n_library.md
  docs/blog/id/how_to_pick_react_i18n_library.md
  docs/blog/id/how_to_pick_solid_i18n_library.md
  docs/blog/it/how_to_pick_react_i18n_library.md
  docs/blog/it/how_to_pick_solid_i18n_library.md
  docs/blog/ja/how_to_pick_react_i18n_library.md
  docs/blog/ja/how_to_pick_solid_i18n_library.md
  docs/blog/ko/how_to_pick_react_i18n_library.md
  docs/blog/ko/how_to_pick_solid_i18n_library.md
  docs/blog/pl/how_to_pick_react_i18n_library.md
  docs/blog/pl/how_to_pick_solid_i18n_library.md
  docs/blog/pt/how_to_pick_react_i18n_library.md
  docs/blog/pt/how_to_pick_solid_i18n_library.md
  docs/blog/ru/how_to_pick_react_i18n_library.md
  docs/blog/ru/how_to_pick_solid_i18n_library.md
  docs/blog/tr/how_to_pick_react_i18n_library.md
  docs/blog/tr/how_to_pick_solid_i18n_library.md
  docs/blog/uk/how_to_pick_react_i18n_library.md
  docs/blog/uk/how_to_pick_solid_i18n_library.md
  docs/blog/vi/how_to_pick_react_i18n_library.md
  docs/blog/vi/how_to_pick_solid_i18n_library.md
  docs/blog/zh/how_to_pick_react_i18n_library.md
  docs/blog/zh/how_to_pick_solid_i18n_library.md
Due: prettier --write

refactor(website): update hero section titles to reflect intelligent i18n
  apps/website/src/components/LandingPage/HeroSection/hero-section.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: remove WIP status from solid-intlayer and angular-intlayer sections across multiple language documents
  .agents/skills/intlayer-usage/references/concept_how-works-intlayer.md
  docs/docs/de/how_works_intlayer.md
  docs/docs/en-GB/how_works_intlayer.md
  docs/docs/en/how_works_intlayer.md
  docs/docs/es/how_works_intlayer.md
  docs/docs/fr/how_works_intlayer.md
  docs/docs/id/how_works_intlayer.md
  docs/docs/it/how_works_intlayer.md
  docs/docs/pl/how_works_intlayer.md
  docs/docs/pt/how_works_intlayer.md
  docs/docs/tr/how_works_intlayer.md
  docs/docs/uk/how_works_intlayer.md
Due: prettier --write

docs: remove lynx-intlayer documentation section from how_works_intlayer.md
  docs/docs/ar/how_works_intlayer.md
  docs/docs/de/how_works_intlayer.md
  docs/docs/en-GB/how_works_intlayer.md
  docs/docs/en/how_works_intlayer.md
  docs/docs/es/how_works_intlayer.md
  docs/docs/fr/how_works_intlayer.md
  docs/docs/hi/how_works_intlayer.md
  docs/docs/id/how_works_intlayer.md
  docs/docs/it/how_works_intlayer.md
  docs/docs/ja/how_works_intlayer.md
  docs/docs/ko/how_works_intlayer.md
  docs/docs/pl/how_works_intlayer.md
  docs/docs/pt/how_works_intlayer.md
  docs/docs/ru/how_works_intlayer.md
  docs/docs/tr/how_works_intlayer.md
  docs/docs/uk/how_works_intlayer.md
  docs/docs/vi/how_works_intlayer.md
  docs/docs/zh/how_works_intlayer.md
Due: prettier --write

docs: categorize supported frameworks in how_works_intlayer documentation using tabs and add new entries
  docs/docs/ar/how_works_intlayer.md
  docs/docs/de/how_works_intlayer.md
  docs/docs/en-GB/how_works_intlayer.md
  docs/docs/en/how_works_intlayer.md
  docs/docs/es/how_works_intlayer.md
  docs/docs/fr/how_works_intlayer.md
  docs/docs/hi/how_works_intlayer.md
  docs/docs/id/how_works_intlayer.md
  docs/docs/it/how_works_intlayer.md
  docs/docs/ja/how_works_intlayer.md
  docs/docs/ko/how_works_intlayer.md
  docs/docs/pl/how_works_intlayer.md
  docs/docs/pt/how_works_intlayer.md
  docs/docs/ru/how_works_intlayer.md
  docs/docs/tr/how_works_intlayer.md
  docs/docs/uk/how_works_intlayer.md
  docs/docs/vi/how_works_intlayer.md
  docs/docs/zh/how_works_intlayer.md
Due: prettier --write

fix(vue-intlayer): resolve remaining type errors in async and dynamic dictionary hooks
  packages/vue-intlayer/src/client/useDictionaryAsync.ts
  packages/vue-intlayer/src/client/useDictionaryDynamic.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: build the macOS Tauri app unsigned when Apple signing secrets are missing
  .github/workflows/tauri-app-release.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update how_works_intlayer documentation with new packages and tools
  docs/docs/ar/how_works_intlayer.md
  docs/docs/de/how_works_intlayer.md
  docs/docs/en-GB/how_works_intlayer.md
  docs/docs/en/how_works_intlayer.md
  docs/docs/es/how_works_intlayer.md
  docs/docs/fr/how_works_intlayer.md
  docs/docs/hi/how_works_intlayer.md
  docs/docs/id/how_works_intlayer.md
  docs/docs/it/how_works_intlayer.md
  docs/docs/ja/how_works_intlayer.md
  docs/docs/ko/how_works_intlayer.md
  docs/docs/pl/how_works_intlayer.md
  docs/docs/pt/how_works_intlayer.md
  docs/docs/ru/how_works_intlayer.md
  docs/docs/tr/how_works_intlayer.md
  docs/docs/uk/how_works_intlayer.md
  docs/docs/vi/how_works_intlayer.md
  docs/docs/zh/how_works_intlayer.md
Due: prettier --write

chore(website): add new domains to disavow list
  apps/website/public/disavow.txt
Due: none

chore: update dependencies across packages
  apps/app/package.json
  apps/backend/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

ci: add preflight validation for macOS signing certificate in Tauri release workflow
  .github/workflows/tauri-app-release.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: add retries and deduplication for concurrent asset copying and correct Linux AppImage GPG signing
  .github/workflows/tauri-app-release.yaml
  utils/tsdown-config/asset-plugin.mjs
  utils/tsdown-config/tsdown-config.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(vite-intlayer): normalize Nitro handler path for Windows compatibility in vite-intlayer
  packages/vite-intlayer/src/intlayerProxyPlugin.test.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: update i18n terminology to colocated
  apps/website/src/components/BlogPage/blogData.content.ts
  apps/website/src/routes/{-$locale}/landing-metadata.content.ts
  apps/website/src/routes/{-$locale}/metadata.content.ts
  apps/website/src/utils/generateOgImage.test.ts
  apps/website/src/utils/generateOgImage.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: dynamically inject Windows certificate thumbprint into Tauri config for release
  .github/workflows/tauri-app-release.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: use separate temporary config for Windows certificate thumbprint to prevent signing failures
  .github/workflows/tauri-app-release.yaml
  apps/app/src-tauri/tauri.windows.conf.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): prevent overflow in AnalyzerSiteResults image container
  apps/app/src/components/ScannerPage/Analyzer/Results/AnalyzerSiteResults.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerSiteResults.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): add new domains to disavow list
  apps/website/public/disavow.txt
Due: none
