Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

refactor(website): remove Vite entry from blog data content
  apps/website/src/components/BlogPage/blogData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(engine): migrate native TypeScript error collection to use the async unstable API
  packages/@intlayer/engine/src/loadDictionaries/logTypeScriptErrors.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): update analytics url list with page metadata
  apps/app/src/components/Dashboard/DashboardOverview/DashboardAudience.tsx
  apps/backend/src/controllers/analytics.controller.ts
  apps/backend/src/routes/analytics.routes.ts
  apps/backend/src/services/analytics.service.test.ts
  apps/backend/src/services/analytics.service.ts
  apps/backend/src/types/analytics.types.ts
  packages/@intlayer/api/src/getIntlayerAPI/analytics.ts
  packages/@intlayer/design-system/src/api/hooks/analytics.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(vite-intlayer): implement content watcher lock for Vite dev server
  packages/vite-intlayer/src/intlayerPlugin.ts
  packages/vite-intlayer/src/startContentWatcher.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(solid-intlayer): enhance locale switching to maintain content during transitions
  packages/solid-intlayer/src/client/IntlayerProvider.tsx
  packages/solid-intlayer/src/client/useLoadDynamic.integration.test.tsx
  packages/svelte-intlayer/src/client/useDictionaryDynamic.test.ts
  packages/svelte-intlayer/src/client/useDictionaryDynamic.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: enhance release approval process in publish workflow
  .github/workflows/publish.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add I18nBenchmark component to benchmark documentation across multiple languages
  docs/docs/ar/benchmark/index.md
  docs/docs/de/benchmark/index.md
  docs/docs/en-GB/benchmark/index.md
  docs/docs/en/benchmark/index.md
  docs/docs/es/benchmark/index.md
  docs/docs/fr/benchmark/index.md
  docs/docs/hi/benchmark/index.md
  docs/docs/id/benchmark/index.md
  docs/docs/it/benchmark/index.md
  docs/docs/ja/benchmark/index.md
  docs/docs/ko/benchmark/index.md
  docs/docs/pl/benchmark/index.md
  docs/docs/pt/benchmark/index.md
  docs/docs/ru/benchmark/index.md
  docs/docs/tr/benchmark/index.md
  docs/docs/uk/benchmark/index.md
  docs/docs/vi/benchmark/index.md
  docs/docs/zh/benchmark/index.md
Due: prettier --write

feat(chrome-extension): update scanner page link to use dynamic URL generation
  packages/@intlayer/chrome-extension/src/popup/App.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update CLI scan documentation
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/scan.json
  docs/docs/ar/cli/scan.md
  docs/docs/bn/cli/scan.md
  docs/docs/cs/cli/scan.md
  docs/docs/de/cli/scan.md
  docs/docs/en-GB/cli/scan.md
  docs/docs/es/cli/scan.md
  docs/docs/fr/cli/scan.md
  docs/docs/hi/cli/scan.md
  docs/docs/id/cli/scan.md
  docs/docs/it/cli/scan.md
  docs/docs/ja/cli/scan.md
  docs/docs/ko/cli/scan.md
  docs/docs/nl/cli/scan.md
  docs/docs/pl/cli/scan.md
  docs/docs/pt/cli/scan.md
  docs/docs/ru/cli/scan.md
  docs/docs/tr/cli/scan.md
  docs/docs/uk/cli/scan.md
  docs/docs/ur/cli/scan.md
  docs/docs/vi/cli/scan.md
  docs/docs/zh/cli/scan.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(react-intlayer): restructure IntlayerNode type definitions across packages
  packages/angular-intlayer/src/plugins.ts
  packages/angular-intlayer/src/renderIntlayerNode.ts
  packages/lit-intlayer/src/renderIntlayerNode.ts
  packages/preact-intlayer/src/IntlayerNode.tsx
  packages/react-intlayer/src/IntlayerNode.tsx
  packages/solid-intlayer/src/IntlayerNode.tsx
  packages/svelte-intlayer/src/renderIntlayerNode.ts
  packages/vanilla-intlayer/src/renderIntlayerNode.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): enhance hero section with typewriter title animation and localized titles
  apps/website/src/components/LandingPage/HeroSection/TypewriterTitle.tsx
  apps/website/src/components/LandingPage/HeroSection/hero-section.content.ts
  apps/website/src/components/LandingPage/HeroSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(backend): update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/i18n_using_next-i18next.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/i18n_using_next-intl.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/i18n_using_nextjs_lingui.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/i18n_using_tanstack-start_lingui.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/i18n_using_tanstack-start_paraglide.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/i18n_using_tanstack-start_use-intl.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/i18next_vs_intlayer-i18next.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/i18next_vs_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/icu_message_format.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/is_i18next_outdated.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/is_intlayer_lighter_than_paraglide.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/is_next-intl_outdated.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/is_vue-i18n_outdated.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/lingui_vs_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/next-i18next_vs_next-intl_vs_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/next-intl_vs_intlayer-next-intl.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/next-intl_vs_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/react-i18next_vs_react-intl_vs_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/vue-i18n_vs_intlayer-vue-i18n.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/vue-i18n_vs_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/vue-i18n_vs_intlayer_benchmark.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/what_is_internationalization.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): load TechLink sources asynchronously using React Query and Suspense
  apps/website/src/components/DocPage/TechLink/TechLink.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update packages dependencies
  apps/app/package.json
  apps/backend/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  examples/tanstack-start-app/package.json
  examples/tanstack-start-solid-app/package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(types): remove model generation script and update aiModels types
  bun.lock
  packages/@intlayer/ai/package.json
  packages/@intlayer/ai/scripts/generateAiModelTypes.ts
  packages/@intlayer/types/package.json
  packages/@intlayer/types/src/aiModels.test-d.ts
  packages/@intlayer/types/src/aiModels.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(website): update disavow.txt with additional domains
  apps/website/public/disavow.txt
Due: none

refactor(design-system): remove unused export for ReactQueryDevtools
  packages/@intlayer/design-system/src/providers/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add LinkPreviewCard component for external link previews
  apps/website/src/components/DocPage/DocumentationRender.tsx
  apps/website/src/components/DocPage/LinkPreviewCard/LinkPreviewCard.tsx
  apps/website/src/components/DocPage/LinkPreviewCard/index.ts
  apps/website/src/components/DocPage/TechLink/TechLink.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(apps): update scanner
  apps/app/src/components/ScannerPage/Analyzer/Results/AnalyzerPageResults.tsx
  apps/app/src/components/ScannerPage/Analyzer/Results/CachedResultNotice.tsx
  apps/app/src/components/ScannerPage/Analyzer/Results/analyzerResults.content.ts
  apps/showcase/src/components/Scanner/Analyzer/Results/AnalyzerPageResults.tsx
  apps/showcase/src/components/Scanner/Analyzer/Results/CachedResultNotice.tsx
  apps/showcase/src/components/Scanner/Analyzer/Results/analyzerResults.content.ts
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerPageResults.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/CachedResultNotice.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/LocalizedPagesSection.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/analyzerResults.content.ts
  apps/website/src/serverFunctions/linkPreview.ts
  apps/website/src/utils/getNodeText.test.tsx
  apps/website/src/utils/getNodeText.ts
  apps/website/src/utils/linkPreview.test.ts
  apps/website/src/utils/linkPreview.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update prepublish scripts and add new packages to build order
  compat/ngx-translate/package.json
  compat/nuxtjs-i18n/package.json
  compat/svelte-i18n/package.json
  scripts/package-build-order.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: update introduction documentation and AI embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/analytics.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/markdown.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_solid_start.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/introduction.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/lsp.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/intlayer/getIntlayerAsync.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/next-intlayer/exports.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/vite-intlayer/intlayerProxy.json
  docs/docs/ar/introduction.md
  docs/docs/bn/introduction.md
  docs/docs/cs/introduction.md
  docs/docs/de/introduction.md
  docs/docs/en-GB/introduction.md
  docs/docs/en/introduction.md
  docs/docs/es/introduction.md
  docs/docs/fr/introduction.md
  docs/docs/hi/introduction.md
  docs/docs/id/introduction.md
  docs/docs/it/introduction.md
  docs/docs/ja/introduction.md
  docs/docs/ko/introduction.md
  docs/docs/nl/introduction.md
  docs/docs/pl/introduction.md
  docs/docs/pt/introduction.md
  docs/docs/ru/introduction.md
  docs/docs/tr/introduction.md
  docs/docs/uk/introduction.md
  docs/docs/ur/introduction.md
  docs/docs/vi/introduction.md
  docs/docs/zh-TW/introduction.md
  docs/docs/zh/introduction.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): update thumbnail class for better aspect ratio
  apps/website/src/components/DocPage/LinkPreviewCard/LinkPreviewCard.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): enhance URL renaming logic for Astro documentation links
  apps/website/src/utils/markdown.test.ts
  apps/website/src/utils/markdown.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: exclude apps/vscode-extension from Dockerfiles
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/showcase/Dockerfile
  apps/website/Dockerfile
  docker/selfhost/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none
