Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

reactor: Remove MCP Toplist badge from README
  README.md
Due: prettier --write

docs: add missing documentation for select content feature
  docs/docs/ar/dictionary/content_file.md
  docs/docs/ar/dictionary/select.md
  docs/docs/en-GB/dictionary/content_file.md
  docs/docs/en-GB/dictionary/select.md
  docs/docs/hi/dictionary/content_file.md
  docs/docs/hi/dictionary/select.md
  docs/docs/id/dictionary/content_file.md
  docs/docs/id/dictionary/select.md
  docs/docs/it/dictionary/content_file.md
  docs/docs/it/dictionary/select.md
  docs/docs/ja/dictionary/content_file.md
  docs/docs/ja/dictionary/select.md
  docs/docs/ko/dictionary/content_file.md
  docs/docs/ko/dictionary/select.md
  docs/docs/pl/dictionary/content_file.md
  docs/docs/pl/dictionary/select.md
  docs/docs/pt/dictionary/content_file.md
  docs/docs/pt/dictionary/select.md
  docs/docs/ru/dictionary/content_file.md
  docs/docs/ru/dictionary/select.md
  docs/docs/tr/dictionary/content_file.md
  docs/docs/tr/dictionary/select.md
  docs/docs/uk/dictionary/content_file.md
  docs/docs/uk/dictionary/select.md
  docs/docs/vi/dictionary/content_file.md
  docs/docs/vi/dictionary/select.md
  docs/docs/zh/dictionary/content_file.md
  docs/docs/zh/dictionary/select.md
Due: prettier --write

feat(app): add 'Select' in documentation navbar
  apps/website-tanstack/src/components/DocPage/docData.content.ts
  apps/website/src/components/DocPage/docData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(showcase): refactor site URL handling to use centralized SITE_URL constant
  apps/showcase/src/lib/site.ts
  apps/showcase/src/routes/sitemap[.]xml.ts
  apps/showcase/src/utils/seo.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): replace 'next/script' with native 'script' tag and enhance buildWebsiteJsonLd with RSS feed properties
  apps/showcase/src/routes/{-$locale}/index.tsx
  apps/showcase/src/routes/{-$locale}/project.$projectId.tsx
  apps/website/src/structuredData/FAQPageHeader.tsx
  apps/website/src/structuredData/ProductHeader.tsx
  apps/website/src/structuredData/ScannerSoftwareApplicationHeader.tsx
  apps/website/src/structuredData/TMSProductHeader.tsx
  apps/website/src/structuredData/TranslateProductHeader.tsx
  apps/website/src/structuredData/TranslateSoftwareApplicationHeader.tsx
  packages/@intlayer/design-system/src/structured-data/buildWebsiteJsonLd.ts
  packages/@intlayer/design-system/src/structured-data/structuredData.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): remove js and css extensions from cache-control headers to prevent CDN caching of missing assets
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update disavow list
  apps/website/public/disavow.txt
Due: none

fix(engine): normalize dictionary relative paths in module augmentation to ensure cross-platform compatibility
  packages/@intlayer/engine/src/createType/createModuleAugmentation.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update disavow list with additional spam domains
  apps/website/public/disavow.txt
Due: none

refactor(app): fix pricing carousel
  apps/app/src/components/PricingPage/PricingCarousel.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update packages dependencies
  apps/app/package.json
  apps/backend/package.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dynamic_dictionaries/variants.json
  apps/showcase/package.json
  apps/website-tanstack/package.json
  apps/website/package.json
  bun.lock
  compat/lingui/package.json
  compat/next-i18next/package.json
  compat/next-intl/package.json
  compat/react-i18next/package.json
  compat/react-intl/package.json
  compat/use-intl/package.json
  examples/astro-react-app/package.json
  examples/compat-next-i18next/package.json
  examples/compat-next-intl/package.json
  examples/next-15-next-intl-app/package.json
  examples/next-no-lolale-path/package.json
  examples/nextjs-15-app/package.json
  examples/react-app/package.json
  examples/react-router-app/package.json
  examples/react-router-fs-app/package.json
  examples/tanstack-start-app/package.json
  examples/vite-react-app/package.json
  package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/chrome-extension/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/engine/package.json
  packages/@intlayer/lsp/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/webpack/package.json
  packages/intlayer-editor/package.json
  packages/next-intlayer/package.json
  packages/solid-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update vue and nuxt dependencies to latest versions
  bun.lock
  examples/nuxt-4-app/package.json
  examples/vite-vue-app/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): fix build
  apps/website/src/app/feed.xml/route.ts
  packages/@intlayer/design-system/src/structured-data/buildCreativeWorkJsonLd.ts
  packages/@intlayer/design-system/src/structured-data/structuredData.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(cli): improve error handling for package installation and MCP server configuration
  packages/@intlayer/cli/src/initBuildOptimization.ts
  packages/@intlayer/cli/src/initCompiler.ts
  packages/@intlayer/cli/src/initMCP.ts
  packages/@intlayer/cli/src/initSkills.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: downgrade next and eslint-config-next to version 16.2.12 in package.json files
  apps/website/package.json
  bun.lock
  examples/compat-next-i18next/package.json
  examples/compat-next-intl/package.json
  examples/next-no-lolale-path/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: apps/website/package.json to reduce vulnerabilities
  apps/website/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(baidu-push): add timeout for sitemap fetch and improve error handling
  apps/website/scripts/baidu-push.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(backend): implement code changes to enhance functionality and improve performance
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dynamic_dictionaries/variants.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: update webpack and webpack-dev-server peer dependencies to allow wider version compatibility and add duplicate webpack detection
  packages/@intlayer/webpack/package.json
  packages/next-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/react-scripts-intlayer/src/cli/react-scripts-intlayer.ts
  packages/react-scripts-intlayer/src/findDuplicateWebpackPaths.test.ts
  packages/react-scripts-intlayer/src/findDuplicateWebpackPaths.ts
  packages/react-scripts-intlayer/src/intlayerCracoPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): add doubleclick.net to secure headers for improved tracking protection
  apps/website-tanstack/vite.config.ts
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update package dependencies
  apps/app/package.json
  apps/backend/package.json
  apps/showcase/package.json
  apps/website-tanstack/package.json
  apps/website/package.json
  bun.lock
  compat/lingui/package.json
  compat/next-i18next/package.json
  compat/next-intl/package.json
  compat/react-i18next/package.json
  compat/react-intl/package.json
  compat/use-intl/package.json
  examples/astro-react-app/package.json
  examples/compat-next-intl/package.json
  examples/next-15-next-intl-app/package.json
  examples/next-no-lolale-path/package.json
  examples/nextjs-15-app/package.json
  examples/react-app/package.json
  examples/react-router-app/package.json
  examples/react-router-fs-app/package.json
  examples/tanstack-start-app/package.json
  examples/vite-react-app/package.json
  package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/chrome-extension/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/mcp/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): update FocusDictionaryContext to use CrossFrameStateAction for setFocusedContent
  apps/website/src/app/404/page.tsx
  apps/website/src/app/[locale]/(landing)/[...not-found]/page.tsx
  apps/website/src/app/[locale]/not-found.tsx
  apps/website/src/components/NotFoundPage/index.tsx
  packages/@intlayer/editor-react/src/FocusDictionaryContext.tsx
  packages/@intlayer/editor/src/core/CrossFrameStateManager.test.ts
  packages/@intlayer/editor/src/core/CrossFrameStateManager.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): add new domains to disavow list for improved SEO management
  apps/website/public/disavow.txt
Due: none

chore: update package dependencies version
  apps/app/package.json
  apps/showcase/package.json
  apps/website-tanstack/package.json
  apps/website/package.json
  bun.lock
  compat-comming/i18n-js/package.json
  compat-comming/next-translate/package.json
  compat-comming/ngx-translate/package.json
  compat-comming/nuxtjs-i18n/package.json
  compat-comming/polyglot/package.json
  compat-comming/svelte-i18n/package.json
  compat-comming/transloco/package.json
  compat/i18next/package.json
  compat/lingui/package.json
  compat/react-i18next/package.json
  compat/react-intl/package.json
  compat/use-intl/package.json
  compat/vue-i18n/package.json
  examples/analog-app/package.json
  examples/angular-22-app/package.json
  examples/nextjs-14-app/package.json
  examples/nextjs-15-app/package.json
  examples/react-app/package.json
  examples/react-router-app/package.json
  examples/react-router-fs-app/package.json
  examples/tanstack-start-app/package.json
  examples/tanstack-start-solid-app/package.json
  examples/vite-lit-app/package.json
  examples/vite-preact-app/package.json
  examples/vite-react-app/package.json
  examples/vite-solid-app/package.json
  examples/vite-svelte-app/package.json
  examples/vite-vue-app/package.json
  packages/@intlayer/chrome-extension/package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
  packages/lit-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vue-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website-tanstack): update @tanstack/start-static-server-functions version and enable middleware in server functions
  apps/website-tanstack/package.json
  apps/website-tanstack/src/serverFunctions/blog.ts
  apps/website-tanstack/src/serverFunctions/docs.ts
  apps/website-tanstack/src/serverFunctions/faq.ts
  apps/website-tanstack/src/serverFunctions/legal.ts
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website-tanstack): add Nitro middleware for serving static server function payloads
  apps/website-tanstack/server/middleware/2.staticServerFnCache.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website-tanstack): update default preload settings for improved performance and enable middleware for loadNavData function
  apps/website-tanstack/src/router.tsx
  apps/website-tanstack/src/serverFunctions/docs.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: init Solid Start documentation and example app
  apps/website-tanstack/src/components/DocPage/docData.content.ts
  apps/website/src/components/DocPage/docData.content.ts
  bun.lock
  docs/docs/en/intlayer_with_solid_start.md
  docs/src/generated/docs.entry.ts
  examples/solid-start-app/.gitignore
  examples/solid-start-app/package.json
  examples/solid-start-app/public/favicon.ico
  examples/solid-start-app/src/app.css
  examples/solid-start-app/src/app.tsx
  examples/solid-start-app/src/components/Counter.css
  examples/solid-start-app/src/components/Counter.tsx
  examples/solid-start-app/src/entry-client.tsx
  examples/solid-start-app/src/entry-server.tsx
  examples/solid-start-app/src/global.d.ts
  examples/solid-start-app/src/routes/[...404].tsx
  examples/solid-start-app/src/routes/about.tsx
  examples/solid-start-app/src/routes/index.tsx
  examples/solid-start-app/tsconfig.json
  examples/solid-start-app/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: add git instruction in claude.md
  CLAUDE.md
Due: prettier --write
