Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --cache"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

refactor(backend): simplify authentication middleware, enhance CORS configuration, and improve session handling
  apps/backend/src/controllers/ai.controller.ts
  apps/backend/src/controllers/dictionary.controller.ts
  apps/backend/src/controllers/eventListener.controller.ts
  apps/backend/src/controllers/newsletter.controller.ts
  apps/backend/src/controllers/organization.controller.ts
  apps/backend/src/controllers/project.controller.ts
  apps/backend/src/controllers/projectAccessKey.controller.ts
  apps/backend/src/controllers/search.controller.ts
  apps/backend/src/controllers/stripe.controller.ts
  apps/backend/src/controllers/tag.controller.ts
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/index.ts
  apps/backend/src/middlewares/oAuth2.middleware.ts
  apps/backend/src/middlewares/request.middleware.ts
  apps/backend/src/middlewares/sessionAuth.middleware.ts
  apps/backend/src/policy.ts
  apps/backend/src/services/oAuth2.service.ts
  apps/backend/src/services/projectAccessKey.service.ts
  apps/backend/src/types/oAuth2.types.ts
  apps/backend/src/types/project.types.ts
  apps/backend/src/types/session.types.ts
  apps/backend/src/utils/AI/aiSdk.ts
  apps/backend/src/utils/accessControl.ts
  apps/backend/src/utils/auth/getAuth.ts
  apps/backend/src/utils/cors.ts
  apps/backend/src/utils/errors/errorCodes.ts
  apps/backend/src/utils/filtersAndPagination/getProjectFiltersAndPagination.ts
  apps/backend/src/utils/filtersAndPagination/getUserFiltersAndPagination.ts
  apps/backend/src/utils/mapper/organization.ts
  apps/backend/src/utils/mapper/project.ts
  apps/backend/src/utils/mapper/tag.ts
  apps/backend/src/utils/mapper/user.ts
  apps/backend/src/utils/permissions.test.ts
  apps/backend/src/utils/permissions.ts
  apps/backend/src/utils/rateLimiter.ts
  apps/backend/types/express.d.ts
  apps/backend/types/oAuth2.d.ts
Due: prettier --write, eslint --fix --cache

feat(design-system): implement AI-powered Tab autocompletion in AutocompleteTextArea
  apps/backend/src/controllers/ai.controller.ts
  apps/backend/src/utils/AI/autocomplete/PROMPT.md
  apps/backend/src/utils/AI/autocomplete/index.ts
  packages/@intlayer/api/src/types.ts
  packages/@intlayer/design-system/src/components/TextArea/AutocompleteTextArea.tsx
Due: prettier --write, eslint --fix --cache

feat(backend): implement role-based access control across controllers, enhancing permission checks for various resources
  apps/backend/src/controllers/dictionary.controller.ts
  apps/backend/src/controllers/newsletter.controller.ts
  apps/backend/src/controllers/organization.controller.ts
  apps/backend/src/controllers/project.controller.ts
  apps/backend/src/controllers/projectAccessKey.controller.ts
  apps/backend/src/controllers/tag.controller.ts
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/utils/auth/getAuth.ts
  apps/backend/src/utils/errors/errorCodes.ts
  apps/backend/src/utils/mergeFunctionTypes.ts
  apps/backend/src/utils/permissions.test.ts
  apps/backend/src/utils/permissions.ts
Due: prettier --write, eslint --fix --cache

refactor(backend): consolidate express type imports across controllers for improved consistency
  apps/backend/src/controllers/ai.controller.ts
  apps/backend/src/controllers/dictionary.controller.ts
  apps/backend/src/controllers/newsletter.controller.ts
  apps/backend/src/controllers/organization.controller.ts
  apps/backend/src/controllers/project.controller.ts
  apps/backend/src/controllers/projectAccessKey.controller.ts
  apps/backend/src/controllers/stripe.controller.ts
  apps/backend/src/controllers/tag.controller.ts
Due: prettier --write, eslint --fix --cache

feat(backend): add computeEffectivePermission function to streamline permission calculation in session handling
  apps/backend/src/utils/auth/getAuth.ts
  apps/backend/src/utils/permissions.ts
Due: prettier --write, eslint --fix --cache

refactor(backend): update route handlers to use 'as any' for improved type compatibility across various route files
  apps/backend/src/routes/ai.routes.ts
  apps/backend/src/routes/dictionary.routes.ts
  apps/backend/src/routes/eventListener.routes.ts
  apps/backend/src/routes/newsletter.routes.ts
  apps/backend/src/routes/organization.routes.ts
  apps/backend/src/routes/project.routes.ts
  apps/backend/src/routes/search.routes.ts
  apps/backend/src/routes/stripe.routes.ts
  apps/backend/src/routes/tags.routes.ts
  apps/backend/src/routes/user.routes.ts
  apps/backend/types/express.d.ts
Due: prettier --write, eslint --fix --cache

refactor(backend): enhance permission checks in user controller and update filter queries to use _id for consistency
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/services/user.service.ts
  apps/backend/src/utils/filtersAndPagination/getDictionaryFiltersAndPagination.ts
  apps/backend/src/utils/filtersAndPagination/getOrganizationFiltersAndPagination.ts
  apps/backend/src/utils/filtersAndPagination/getTagFiltersAndPagination.ts
  apps/backend/src/utils/filtersAndPagination/getUserFiltersAndPagination.ts
  apps/backend/src/utils/mapper/organization.ts
  apps/backend/src/utils/permissions.ts
  apps/website/src/components/Dashboard/OrganizationForm/Members/MembersForm.tsx
  apps/website/src/components/Dashboard/ProjectForm/Members/MembersKeyForm.tsx
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
  packages/@intlayer/design-system/src/hooks/useAuth/index.ts
  packages/@intlayer/design-system/src/hooks/useAuth/useOAuth2.ts
  packages/@intlayer/design-system/src/hooks/useAuth/useSession.ts
Due: prettier --write, eslint --fix --cache

refactor(backend): improve permission checks in newsletter controller by utilizing user IDs for access validation
  apps/backend/src/controllers/newsletter.controller.ts
Due: prettier --write, eslint --fix --cache

feat(backend): add account linking configuration to authentication utility, enabling trusted provider linking
  apps/backend/src/utils/auth/getAuth.ts
Due: prettier --write, eslint --fix --cache

chore: update better-auth dependency to version 1.3.3 in backend and API packages
  apps/backend/package.json
  packages/@intlayer/api/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update next dependency to version 15.4.3 in website and nextjs-15-app packages
  apps/website/package.json
  examples/nextjs-15-app/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(website): fix incorect import after formatting
  apps/website/src/components/Auth/DefineNewPasswordForm/index.tsx
  apps/website/src/components/Dashboard/ContentDashboard/ConfigurationProvider.tsx
  apps/website/src/components/OnboardPage/ConfirmationsStep/ConfirmationsStep.tsx
  apps/website/src/components/OnboardPage/DefinePasswordStep/DefinePasswordStepForm.tsx
  apps/website/src/components/OnboardPage/PaymentStep/PaymentStepForm.tsx
  apps/website/src/components/OnboardPage/RegisterStep/RegisterStepForm.tsx
  apps/website/src/components/OnboardPage/SetUpOrganizationStep/SetUpOrganizationStepForm.tsx
  apps/website/src/components/OnboardPage/VerifyEmailStep/VerifyEmailStepForm.tsx
  apps/website/src/components/PricingPage/PricingCarousel.tsx
Due: prettier --write, eslint --fix --cache

feat(website): enable editor configuration in intlayer settings
  apps/website/intlayer.config.ts
Due: prettier --write, eslint --fix --cache

feat(website): add isEnabled flag to access validation for conditional redirection
  apps/website/src/components/Auth/AuthenticationBarrier/AuthenticationBarrier.tsx
  apps/website/src/components/Auth/AuthenticationBarrier/AuthenticationBarrierClient.tsx
  apps/website/src/components/Auth/AuthenticationBarrier/AuthenticationBarrierServer.tsx
  apps/website/src/components/Auth/AuthenticationBarrier/accessValidation.ts
Due: prettier --write, eslint --fix --cache

feat(intlayer): implement single preparation call for Intlayer during server startup
  examples/nextjs-15-app/package.json
  packages/next-intlayer/src/server/runOnce.ts
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

refactor(chokidar): reorganize utility functions into separate files and update imports
  packages/@intlayer/chokidar/src/getContentDeclarationFileTemplate/getContentDeclarationFileTemplate.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadDictionaries.ts
  packages/@intlayer/chokidar/src/log.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_main/generateDictionaryListContent.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_type/createModuleAugmentation.ts
  packages/@intlayer/chokidar/src/utils/getFileHash.ts
  packages/@intlayer/chokidar/src/utils/kebabCaseToCamelCase.ts
  packages/@intlayer/chokidar/src/utils/runOnce.ts
  packages/@intlayer/chokidar/src/utils/sortAlphabetically.ts
Due: prettier --write, eslint --fix --cache

fix(next-intlayer): correct import of runOnce from chokidar in withIntlayer.ts
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

fix(chokidar): update cache duration comment in runOnce utility for clarity
  packages/@intlayer/chokidar/src/utils/runOnce.ts
Due: prettier --write, eslint --fix --cache

feat: add useDictionaryAsync hook for dynamic dictionary loading across multiple frameworks
  packages/angular-intlayer/src/client/useDictionaryAsync.ts
  packages/preact-intlayer/src/client/useDictionaryAsync.ts
  packages/react-intlayer/src/client/useDictionaryAsync.ts
  packages/react-intlayer/src/server/useDictionaryAsync.ts
  packages/solid-intlayer/src/client/useDictionaryAsync.ts
  packages/svelte-intlayer/src/client/useDictionaryAsync.ts
  packages/vue-intlayer/src/client/useDictionaryAsync.ts
Due: prettier --write, eslint --fix --cache

feat(core): introduce gender handling functionality
  examples/vite-react-app/src/App.tsx
  examples/vite-react-app/src/app.content.tsx
  examples/vite-vue-app/src/components/example2.content.ts
  packages/@intlayer/core/src/interpreter/getContent/plugins.ts
  packages/@intlayer/core/src/interpreter/getGender.ts
  packages/@intlayer/core/src/transpiler/gender/gender.ts
  packages/@intlayer/core/src/transpiler/gender/index.ts
  packages/@intlayer/core/src/transpiler/index.ts
  packages/@intlayer/core/src/types/keyPath.ts
  packages/@intlayer/core/src/types/nodeType.ts
  packages/intlayer/src/index.ts
Due: prettier --write, eslint --fix --cache

feat(i18n): added Yoruba language support
  app.content.tsx
  apps/website/intlayer.config.ts
  apps/website/next.config.ts
  apps/website/tsconfig.json
  apps/website/types/next-intlayer.d.ts
  apps/website/types/next-secure-headers.d.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
Due: prettier --write, eslint --fix --cache

refactor(config): replace activateDynamicImport with importMode
  docs/docs/ar/configuration.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/zh/configuration.md
  examples/vite-vue-app/intlayer.config.ts
  examples/vite-vue-app/src/components/example2.content.ts
  packages/@intlayer/api/src/getIntlayerAPI/index.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/configFile/loadConfigurationFile.ts
  packages/@intlayer/config/src/defaultValues/build.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/next.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/react_app.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/undefined_platform.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/vite.ts
  packages/@intlayer/config/src/envVariables/getConfiguration.ts
  packages/@intlayer/config/src/loadExternalFile.ts
  packages/@intlayer/config/src/types/config.ts
  packages/@intlayer/core/src/types/dictionary.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: prettier --write, eslint --fix --cache

feat(api): integrate OAuth functionality by replacing auth API references with OAuth API in various modules
  packages/@intlayer/api/src/IntlayerEventListener.ts
  packages/@intlayer/api/src/distantDictionary/fetchDistantDictionaries.ts
  packages/@intlayer/api/src/distantDictionary/fetchDistantDictionary.ts
  packages/@intlayer/api/src/getIntlayerAPI/auth.ts
  packages/@intlayer/api/src/getIntlayerAPI/index.ts
  packages/@intlayer/api/src/getIntlayerAPI/oAuth.ts
  packages/@intlayer/api/src/index.ts
  packages/@intlayer/chokidar/src/fetchDistantDictionaries.ts
  packages/@intlayer/chokidar/src/fetchDistantDictionaryKeys.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/i18next_dictionary/buildI18nextDictionary.ts
  packages/@intlayer/cli/src/fill.ts
  packages/@intlayer/cli/src/pull.ts
  packages/@intlayer/cli/src/push.ts
  packages/@intlayer/cli/src/pushConfig.ts
  packages/@intlayer/cli/src/reviewDoc.ts
  packages/@intlayer/cli/src/translateDoc.ts
Due: prettier --write, eslint --fix --cache

feat: add useDictionaryAsync hook to multiple framework exports for enhanced dictionary loading
  packages/angular-intlayer/src/client/index.ts
  packages/next-intlayer/src/index.ts
  packages/preact-intlayer/src/client/index.ts
  packages/preact-intlayer/src/index.ts
  packages/react-intlayer/src/client/index.ts
  packages/react-intlayer/src/index.ts
  packages/react-intlayer/src/server/index.ts
  packages/solid-intlayer/src/client/index.ts
  packages/solid-intlayer/src/index.ts
  packages/svelte-intlayer/src/client/index.ts
  packages/vue-intlayer/src/client/index.ts
Due: prettier --write, eslint --fix --cache

feat(i18n): added Yoruba and Turkish languages support
  apps/website/intlayer.config.ts
Due: prettier --write, eslint --fix --cache

feat(config): add new language support for Burmese, Khmer, Lao, Yoruba, Amharic, and Nepali
  packages/@intlayer/config/src/types/locales.ts
Due: prettier --write, eslint --fix --cache

refactor(website): remove Yoruba and Turkish languages, update dynamic import configuration
  apps/website/intlayer.config.ts
Due: prettier --write, eslint --fix --cache

fix(core): add missing comment for module augmentation in dictionary type definitions
  packages/@intlayer/core/src/types/dictionary.ts
Due: prettier --write, eslint --fix --cache

feat(schema): add genderContent definition to schema for gender node representation
  apps/website/public/schema.json
  packages/@intlayer/core/src/types/dictionary.ts
Due: prettier --write, eslint --fix --cache

chore(deps): update better-auth to version 1.3.4 and nanostores to version 0.7.1 in package.json and pnpm-lock.yaml
  apps/backend/package.json
  package.json
  packages/@intlayer/api/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(website): update access validation to explicitly check for false value of isEnabled
  apps/website/src/components/Auth/AuthenticationBarrier/accessValidation.ts
Due: prettier --write, eslint --fix --cache

fix: update dynamic import configuration option from `activateDynamicImport` to `importMode = "dynamic"`
  docs/docs/ar/how_works_intlayer.md
  docs/docs/de/how_works_intlayer.md
  docs/docs/en-GB/how_works_intlayer.md
  docs/docs/en/how_works_intlayer.md
  docs/docs/es/how_works_intlayer.md
  docs/docs/fr/how_works_intlayer.md
  docs/docs/hi/how_works_intlayer.md
  docs/docs/it/how_works_intlayer.md
  docs/docs/ja/how_works_intlayer.md
  docs/docs/ko/how_works_intlayer.md
  docs/docs/pt/how_works_intlayer.md
  docs/docs/ru/how_works_intlayer.md
  docs/docs/zh/how_works_intlayer.md
  examples/nextjs-15-app/intlayer.config.ts
  examples/vite-preact-app/intlayer.config.ts
  examples/vite-react-app/intlayer.config.ts
Due: prettier --write, eslint --fix --cache

fix(docs): clarify default contentDir change from `['src']` to `['.']` in configuration documentation
  docs/docs/en/configuration.md
Due: prettier --write

fix(config): enhance requiredLocales fallback to include custom locales in buildConfigurationFields
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
Due: prettier --write, eslint --fix --cache

refactor(config): update build configuration to use `importMode` instead of `activateDynamicImport` and adjust related logic for async and dynamic imports
  examples/vite-vue-app/intlayer.config.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer.ts
  packages/@intlayer/chokidar/src/utils/runOnce.ts
  packages/@intlayer/swc/src/lib.rs
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: prettier --write, eslint --fix --cache

chore: bump version to 5.7.0 across all packages
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

fix(nuxt-intlayer): pass configuration to IntlayerPrunePlugin in viteConfig plugins
  packages/nuxt-intlayer/src/module.ts
Due: prettier --write, eslint --fix --cache

chore: update intlayer_swc_plugin.wasm binary file
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

chore: bump version to 5.7.2-canary.0 across all packages and update better-auth dependency
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): add nanostores override to package.json files in backend and @intlayer/api
  apps/backend/package.json
  packages/@intlayer/api/package.json
  pnpm-lock.yaml
Due: prettier --write
