Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

fix(backend): handle invoice_payment.paid event correctly and add error handling for affiliate payouts
  apps/backend/src/services/affiliate.service.ts
  apps/backend/src/webhooks/stripe.webhook.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update dependencies
  apps/app/package.json
  apps/backend/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  examples/tanstack-start-app/package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/mcp/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(app): add affiliate invitations management and integrate into admin page
  apps/app/src/components/Auth/AuthenticationBarrier/AuthenticationBarrierClient.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminAffiliates/AffiliatesAdminPage.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminAffiliates/affiliatesAdminPage.content.ts
  apps/app/src/routes/{-$locale}/_other/route.tsx
  apps/backend/src/controllers/stripe.controller.ts
  apps/backend/src/routes/stripe.routes.ts
  apps/backend/src/services/affiliate.service.ts
  packages/@intlayer/api/src/getIntlayerAPI/stripe.ts
  packages/@intlayer/design-system/src/hooks/reactQuery.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): fix demo
  apps/backend/.env.template
  apps/backend/src/controllers/demo.controller.ts
  apps/backend/src/schemas/user.schema.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): fix affiliate rerender loop
  apps/app/src/components/Dashboard/AdminPage/AdminAffiliates/AffiliatesAdminPage.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): clean up and simplify route tree generation imports
  apps/app/src/components/AffiliatePage/affiliateOnboarding.content.ts
  apps/app/src/components/AffiliatePage/sendInvitationForm.content.ts
  apps/app/src/components/Dashboard/AdminPage/AdminAffiliates/affiliateAdminDetailPage.content.ts
  apps/app/src/components/Dashboard/AdminPage/AdminAffiliates/affiliatesAdminPage.content.ts
  apps/app/src/components/Dashboard/AdminPage/AdminPromoCodes/promoCodes.content.ts
  apps/app/src/components/Dashboard/DashboardSidebar/dashboardSidebar.content.ts
  apps/app/src/components/Dashboard/UserForm/UserEditForm/index.content.ts
  apps/app/src/components/ReviewerDashboardPage/ReviewerMissionPage/reviewerMissionPage.content.ts
  apps/app/src/components/ReviewerDashboardPage/reviewerDashboardPage.content.ts
  apps/app/src/components/ReviewerDashboardPage/reviewerMissionList.content.ts
  apps/app/src/components/ReviewerDashboardPage/reviewerOnboarding.content.ts
  apps/app/src/components/ReviewerDashboardPage/reviewerProfileCard.content.ts
  apps/app/src/components/ReviewerMarketplacePage/reviewerFilters.content.ts
  apps/app/src/components/ReviewerMarketplacePage/reviewerMarketplacePage.content.ts
  apps/app/src/components/ReviewerProfilePage/bookingModal.content.ts
  apps/app/src/components/ReviewerProfilePage/reviewerProfilePage.content.ts
  apps/app/src/routeTree.gen.ts
  packages/@intlayer/design-system/src/api/useIntlayerAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): add pending invitations list section to admin affiliates page
  apps/app/src/components/Dashboard/AdminPage/AdminAffiliates/AffiliatesAdminPage.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminAffiliates/affiliatesAdminPage.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): remove redundant .value access from affiliate table content fields
  apps/app/src/components/Dashboard/AdminPage/AdminAffiliates/AffiliatesAdminPage.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(backend): configure affiliate payout schedule to anchor on the first day of the month
  apps/backend/src/services/affiliate.service.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add documentation for Angular 21 with Nx
  docs/docs/ar/intlayer_with_angular_21.md
  docs/docs/bn/intlayer_with_angular_21.md
  docs/docs/cs/intlayer_with_angular_21.md
  docs/docs/de/intlayer_with_angular_21.md
  docs/docs/en-GB/intlayer_with_angular_21.md
  docs/docs/en/intlayer_with_angular_21.md
  docs/docs/es/intlayer_with_angular_21.md
  docs/docs/fr/intlayer_with_angular_21.md
  docs/docs/hi/intlayer_with_angular_21.md
  docs/docs/id/intlayer_with_angular_21.md
  docs/docs/it/intlayer_with_angular_21.md
  docs/docs/ja/intlayer_with_angular_21.md
  docs/docs/ko/intlayer_with_angular_21.md
  docs/docs/nl/intlayer_with_angular_21.md
  docs/docs/pl/intlayer_with_angular_21.md
  docs/docs/pt/intlayer_with_angular_21.md
  docs/docs/ru/intlayer_with_angular_21.md
  docs/docs/tr/intlayer_with_angular_21.md
  docs/docs/uk/intlayer_with_angular_21.md
  docs/docs/ur/intlayer_with_angular_21.md
  docs/docs/vi/intlayer_with_angular_21.md
  docs/docs/zh-TW/intlayer_with_angular_21.md
  docs/docs/zh/intlayer_with_angular_21.md
Due: prettier --write

refactor(chokidar): await module augmentation and ensure sequential type and entry point updates to prevent build races
  packages/@intlayer/chokidar/src/handleAdditionalContentDeclarationFile.ts
  packages/@intlayer/chokidar/src/handleContentDeclarationFileChange.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(backend): update Angular documentation embedding chunks and hashes
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_angular_21.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump turbo from 2.9.14 to 2.9.15
  package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update turbo to version 2.9.15
  bun.lock
Due: none

style(app): make sticky containers responsive by applying md breakpoint prefix
  apps/app/src/components/Dashboard/OrganizationForm/OrganizationForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/ProjectForm.tsx
  apps/app/src/components/Dashboard/UserForm/UserEditForm/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update dockerfiles
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/showcase/Dockerfile
  apps/website-astro/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

refactor: update application layout and container configurations
  apps/website-astro/Dockerfile
  apps/website/Dockerfile
Due: none

refactor(apps): update LocaleSwitcher labels to use getLocaleName
  apps/app/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/app/src/components/LocaleSwitcher/LocaleSwitcherBig.tsx
  apps/showcase/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/website-astro/.astro/types.d.ts
  apps/website-astro/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/website/src/components/LocaleSwitcher/LocaleSwitcher.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website-astro): implement View Transitions for documentation pages with persistent island state management
  apps/website-astro/.astro/types.d.ts
  apps/website-astro/src/components/islands/DocPageIsland.tsx
  apps/website-astro/src/layouts/BaseLayout.astro
  apps/website-astro/src/pages/[...locale]/doc/[...slugs].astro
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(next-intlayer): update NextLayoutIntlayer prop type signature and add Next.js documentation export
  packages/next-intlayer/src/types/NextPage.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): fix prerendering
  apps/website/src/components/DocPage/AsideNavigation/AsideNavigation.tsx
  apps/website/src/components/DocPage/DocNavList.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): remove unused test-meta content file
  apps/website/src/test-meta.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): add FAQPage structured data and update CreativeWorkHeader to support flexible schema types
  apps/website/src/app/[locale]/(docs)/blog/[[...slugs]]/page.tsx
  apps/website/src/app/[locale]/(docs)/doc/[[...slugs]]/page.tsx
  apps/website/src/app/[locale]/(docs)/frequent-questions/page.tsx
  apps/website/src/app/[locale]/(docs)/privacy-notice/page.tsx
  apps/website/src/app/[locale]/(docs)/terms-of-service/page.tsx
  apps/website/src/structuredData/CreativeWorkHeader.tsx
  apps/website/src/structuredData/FAQPageHeader.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): fix incorrect breadcrums header
  apps/website/src/structuredData/BreadcrumbsHeader.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chore): fix circular dependency regarding localeStorageOptions
  packages/@intlayer/core/src/localization/getBrowserLocale.tsx
  packages/@intlayer/core/src/localization/index.ts
  packages/@intlayer/core/src/utils/localeStorage.ts
  packages/angular-intlayer/src/client/useLocaleStorage.ts
  packages/lit-intlayer/src/client/useLocaleStorage.ts
  packages/preact-intlayer/src/client/useLocaleStorage.ts
  packages/react-intlayer/src/client/useLocaleStorage.ts
  packages/solid-intlayer/src/client/useLocaleStorage.ts
  packages/svelte-intlayer/src/client/useLocaleStorage.ts
  packages/vanilla-intlayer/src/client/useLocaleStorage.ts
  packages/vue-intlayer/src/client/useLocaleStorage.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(api): make intlayerConfig optional and fallback to default config for editorURL in getEditorAPI
  packages/@intlayer/api/src/getIntlayerAPI/ai.ts
  packages/@intlayer/api/src/getIntlayerAPI/audit.ts
  packages/@intlayer/api/src/getIntlayerAPI/bitbucket.ts
  packages/@intlayer/api/src/getIntlayerAPI/dictionary.ts
  packages/@intlayer/api/src/getIntlayerAPI/editor.ts
  packages/@intlayer/api/src/getIntlayerAPI/github.ts
  packages/@intlayer/api/src/getIntlayerAPI/gitlab.ts
  packages/@intlayer/api/src/getIntlayerAPI/index.ts
  packages/@intlayer/api/src/getIntlayerAPI/newsletter.ts
  packages/@intlayer/api/src/getIntlayerAPI/oAuth.ts
  packages/@intlayer/api/src/getIntlayerAPI/organization.ts
  packages/@intlayer/api/src/getIntlayerAPI/project.ts
  packages/@intlayer/api/src/getIntlayerAPI/reviewer.ts
  packages/@intlayer/api/src/getIntlayerAPI/search.ts
  packages/@intlayer/api/src/getIntlayerAPI/showcaseProject.ts
  packages/@intlayer/api/src/getIntlayerAPI/stripe.ts
  packages/@intlayer/api/src/getIntlayerAPI/tag.ts
  packages/@intlayer/api/src/getIntlayerAPI/translate.ts
  packages/@intlayer/api/src/getIntlayerAPI/user.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): add responsive panel overlay styles to dashboard and include better-i18n documentation file
  apps/app/src/routes/{-$locale}/_dashboard/route.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update packages dependencies
  apps/app/package.json
  apps/backend/package.json
  apps/showcase/package.json
  apps/website/package.json
  apps/website/package_mock.json
  bun.lock
  examples/tanstack-start-app/package.json
  examples/tanstack-start-solid-app/package.json
  package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/mcp/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: fix lint errors
  apps/app/astro-intlayer-doc.html
  apps/app/astro-intlayer-doc1.html
  apps/app/src/components/ReviewerMarketplacePage/reviewerCard.content.ts
  apps/app/src/routes/{-$locale}/_dashboard/_editor/_content/tags.index.tsx
  apps/app/src/routes/{-$locale}/_dashboard/dashboardMetadata.content.ts
  apps/app/src/routes/{-$locale}/_other/auth/demo.tsx
  apps/app/src/routes/{-$locale}/_other/find-reviewer/index.tsx
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/emails/MissionRequestedReviewerEmail.tsx
  apps/backend/src/emails/ReviewerApprovedEmail.tsx
  apps/backend/src/emails/ReviewerContactEmail.tsx
  apps/backend/src/index.ts
  apps/backend/src/routes/reviewer.routes.ts
  apps/backend/src/schemas/reviewer.schema.ts
  apps/backend/src/services/reviewer.service.ts
  apps/backend/src/services/reviewer/pictureUpload.service.ts
  apps/backend/src/services/translationWorker.test.ts
  apps/backend/src/services/user/avatarUpload.service.ts
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/benchmark/nextjs.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/benchmark/solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/benchmark/svelte.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/benchmark/tanstack.json
  apps/backend/src/utils/AI/translateDictionaryDB.test.ts
  apps/website/src/structuredData/BreadcrumbsHeader.tsx
  apps/website/src/structuredData/FAQPageHeader.tsx
  examples/angular-21-app/src/styles.css
  packages/@intlayer/design-system/tailwind.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): update structured data
  apps/app/src/structuredData/BreadcrumbsHeader.tsx
  apps/app/src/structuredData/CreativeWorkHeader.tsx
  apps/app/src/structuredData/WebsiteHeader.tsx
  apps/app/src/structuredData/productHeader.content.ts
  apps/app/src/structuredData/softwareApplication.content.ts
  apps/app/src/structuredData/website.content.ts
  apps/showcase/src/routeTree.gen.ts
  apps/showcase/src/structuredData/BreadcrumbsHeader.tsx
  apps/showcase/src/structuredData/CreativeWorkHeader.tsx
  apps/showcase/src/structuredData/ProductHeader.tsx
  apps/showcase/src/structuredData/WebsiteHeader.tsx
  apps/showcase/src/structuredData/productHeader.content.ts
  apps/showcase/src/structuredData/softwareApplication.content.ts
  apps/showcase/src/structuredData/website.content.ts
  apps/website/src/app/[locale]/(landing)/cms/page.tsx
  apps/website/src/app/[locale]/(landing)/page.tsx
  apps/website/src/app/[locale]/(landing)/tms/page.tsx
  apps/website/src/structuredData/ProductHeader.tsx
  apps/website/src/structuredData/TMSProductHeader.tsx
  apps/website/src/utils/stripe.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): enhance next.config with additional package optimizations and strict CSS chunking; add network analysis script
  apps/website/next.config.ts
  apps/website/src/app/[locale]/(playground)/playground/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(react-intlayer): add tanstack-intent to package keywords
  packages/react-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write
