Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --cache"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(design-system): remove position variants from Button component
  packages/@intlayer/design-system/src/components/Button/Button.tsx
Due: prettier --write, eslint --fix --cache

fix(website): update subscription system
  apps/backend/src/controllers/stripe.controller.ts
  apps/website/src/components/Dashboard/OrganizationForm/Plan/PlanDetails.tsx
  apps/website/src/components/Dashboard/OrganizationForm/Plan/plan.content.ts
Due: prettier --write, eslint --fix --cache

feat(website): add RemoveMemberModal component and update related hooks
  apps/website/src/components/Dashboard/OrganizationForm/Members/MembersForm.tsx
  apps/website/src/components/Dashboard/OrganizationForm/Members/RemoveMemberModal.tsx
  apps/website/src/components/Dashboard/OrganizationForm/Members/removeMemberModal.content.tsx
  apps/website/src/components/Dashboard/OrganizationForm/OrganizationForm.tsx
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
Due: prettier --write, eslint --fix --cache

feat(backend): add email notifications for subscription payment success and cancellation
  apps/backend/src/controllers/stripe.controller.ts
  apps/backend/src/emails/SubscriptionPaymentCancellation.tsx
  apps/backend/src/emails/SubscriptionPaymentError.tsx
  apps/backend/src/emails/SubscriptionPaymentSuccess.tsx
  apps/backend/src/webhooks/stripe.webhook.ts
Due: prettier --write, eslint --fix --cache

feat(website): add invalid payment request message to PaymentStepForm
  apps/website/src/components/OnboardPage/PaymentStep/PaymentStepForm.tsx
  apps/website/src/components/OnboardPage/PaymentStep/index.content.ts
Due: prettier --write, eslint --fix --cache

fix(design-system): make onLogin prop optional in ExternalsLoginButtons
  packages/@intlayer/design-system/src/components/Auth/ExternalsLoginButtons/ExternalsLoginButtons.tsx
Due: prettier --write, eslint --fix --cache

feat(backend): add email notifications for subscription cancellation
  apps/backend/src/webhooks/stripe.webhook.ts
Due: prettier --write, eslint --fix --cache

fix(backend): correct email sender address in email service
  apps/backend/src/services/email.service.tsx
Due: prettier --write, eslint --fix --cache

feat(config): add OpenAI API configuration options and update related components
  apps/backend/package.json
  apps/backend/src/controllers/ai.controller.ts
  apps/backend/src/utils/AI/auditDictionary/index.ts
  apps/backend/src/utils/AI/auditDictionaryField/index.ts
  apps/backend/src/utils/AI/auditDictionaryMetadata/index.ts
  apps/backend/src/utils/AI/autocomplete/index.ts
  apps/backend/src/utils/auditTag/index.ts
  apps/backend/src/utils/errors/errorCodes.ts
  examples/vite-app/intlayer.config.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/defaultValues/editor.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/next.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/react_app.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/undefined_platform.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/vite.ts
  packages/@intlayer/config/src/envVariables/getConfiguration.ts
  packages/@intlayer/config/src/types/config.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/ContentEditorView/TextEditor.tsx
  packages/@intlayer/design-system/src/components/TextArea/AutocompleteTextArea.tsx
Due: prettier --write, eslint --fix --cache

chore: update tailwindcss to version 4.0.8 across multiple packages
  apps/website/package.json
  examples/nextjs-14-app/package.json
  examples/nextjs-15-app/package.json
  examples/vite-app/package.json
  packages/intlayer-editor/package.json
Due: prettier --write

style(website): make Shiki background transparent
  apps/website/src/app/shiki.css
Due: none

chore(eslint): comment out Tailwind CSS plugin in ESLint configuration because of tailwind v4 incompatibility
  utils/eslint-config/config/tailwind.mjs
Due: none

fix(design-system): adjust line height for better text visibility in AutocompleteTextArea
  packages/@intlayer/design-system/src/components/TextArea/AutocompleteTextArea.tsx
Due: prettier --write, eslint --fix --cache

style(website): change background property to background-color for Shiki component
  apps/website/src/app/shiki.css
Due: none

chore(eslint): replace lodash with deepmerge and remove Tailwind CSS plugin
  pnpm-lock.yaml
  utils/eslint-config/config/tailwind.mjs
  utils/eslint-config/eslint.config.mjs
  utils/eslint-config/package.json
Due: prettier --write

style(website): reduce drop shadow intensity and adjust height for FeaturesSection
  apps/website/src/components/LandingPage/FeaturesSection/index.tsx
Due: prettier --write, eslint --fix --cache

style(design-system): update input border colors for improved accessibility
  packages/@intlayer/design-system/src/tailwind.css
Due: none

style(design-system): add cursor pointer to button variants for better user interaction
  packages/@intlayer/design-system/src/components/Button/Button.tsx
Due: prettier --write, eslint --fix --cache

style(website): enhance dark mode support for DemoPage and PricingColumn components
  apps/website/src/components/DemoPage/index.tsx
  apps/website/src/components/PricingPage/PricingColumn.tsx
  packages/@intlayer/design-system/src/components/Container/index.tsx
Due: prettier --write, eslint --fix --cache

style(website): fix positioning PricingCarousel
  apps/website/src/components/PricingPage/PricingCarousel.tsx
Due: prettier --write, eslint --fix --cache

style(design-system): wrap link children in a span for consistent styling
  apps/website/src/components/Link/Link.tsx
  packages/@intlayer/design-system/src/components/Link/Link.tsx
Due: prettier --write, eslint --fix --cache

fix(website): fix shiki code styling
  apps/website/src/app/globals.css
  apps/website/src/app/layout.tsx
  apps/website/src/app/shiki.css
  packages/@intlayer/design-system/src/components/IDE/CodeBlockClient.tsx
  packages/@intlayer/design-system/src/components/IDE/CodeBlockServer.tsx
Due: prettier --write, eslint --fix --cache

style(website): improve layout responsiveness in CommonQuestionsSection and enhance text wrapping in Link component
  apps/website/src/components/LandingPage/CommonQuestionsSection/CommonQuestions.tsx
  packages/@intlayer/design-system/src/components/Link/Link.tsx
Due: prettier --write, eslint --fix --cache

style(design-system): remove text-wrap from Link component variants for improved consistency
  packages/@intlayer/design-system/src/components/Link/Link.tsx
Due: prettier --write, eslint --fix --cache

style(website): adjust vertical positioning of FeaturesCarousel section for improved layout
  apps/website/src/components/LandingPage/FeaturesSection/index.tsx
Due: prettier --write, eslint --fix --cache

style(design-system): simplify Link component rendering for button variant
  apps/website/src/components/Link/Link.tsx
  packages/@intlayer/design-system/src/components/Link/Link.tsx
Due: prettier --write, eslint --fix --cache

style(website): adjust width of columns in CommonQuestionsSection for better layout
  apps/website/src/components/LandingPage/CommonQuestionsSection/CommonQuestions.tsx
Due: prettier --write, eslint --fix --cache

style(website): remove unnecessary BackgroundLayout wrapper from Blog and Doc layouts
  apps/website/src/app/[locale]/(landing)/blog/search/layout.tsx
  apps/website/src/app/[locale]/(landing)/doc/search/layout.tsx
Due: prettier --write, eslint --fix --cache

fix(website): ensure inputRef is defined before checking value in SearchView components
  apps/website/src/components/BlogPage/Search/SearchView.tsx
  apps/website/src/components/DocPage/Search/SearchView.tsx
Due: prettier --write, eslint --fix --cache

style(website): update ChatBumble component to use contrasting text color for better readability
  apps/website/src/components/ChatBot/ChatBumble.tsx
Due: prettier --write, eslint --fix --cache

feat(website): add logos for Angular, VueJS, and NuxtJS; update available tech section content
  apps/website/src/components/LandingPage/AvailableTechnoSection/Angular.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/Nuxt.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/Vuejs.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/available-techno-section.content.ts
  apps/website/src/components/LandingPage/AvailableTechnoSection/index.tsx
Due: prettier --write, eslint --fix --cache

fix(website): update security headers to allow 'unsafe-inline' styles for development
  apps/website/next.config.mjs
Due: none

feat(website): update landing section content for internationalization and content management
  apps/website/src/components/LandingPage/LandingSection/landing-section.content.ts
Due: prettier --write, eslint --fix --cache

feat(payment): add promo code support in subscription creation and update payment details display
  apps/backend/src/controllers/stripe.controller.ts
  apps/backend/src/routes/stripe.routes.ts
  apps/backend/src/services/dictionary.service.ts
  apps/backend/src/services/subscription.service.ts
  apps/website/src/app/[locale]/(landing)/pricing/page.tsx
  apps/website/src/components/LandingPage/FeaturesSection/MultilingualSection/index.tsx
  apps/website/src/components/OnboardPage/PaymentStep/PaymentStepForm.tsx
  apps/website/src/components/OnboardPage/formatOnboardUrl.ts
  apps/website/src/components/OnboardPage/useStep.ts
  apps/website/src/components/PricingPage/PricingCarousel.tsx
  apps/website/src/components/PricingPage/PricingColumn.tsx
  apps/website/src/components/PricingPage/data.content.ts
  apps/website/src/components/PricingPage/index.tsx
  packages/@intlayer/api/src/getIntlayerAPI/stripe.ts
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
Due: prettier --write, eslint --fix --cache
