Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

feat(app): enhance SSR header handling with allowed request headers
  apps/app/src/utils/auth.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(blog): add "Is Intlayer lighter than Paraglide?" article with multilingual support
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/is_intlayer_lighter_than_paraglide.json
  apps/website/src/components/BlogPage/blogData.content.ts
  docs/blog/ar/is_intlayer_lighter_than_paraglide.md
  docs/blog/de/is_intlayer_lighter_than_paraglide.md
  docs/blog/en-GB/is_intlayer_lighter_than_paraglide.md
  docs/blog/en/is_intlayer_lighter_than_paraglide.md
  docs/blog/es/is_intlayer_lighter_than_paraglide.md
  docs/blog/fr/is_intlayer_lighter_than_paraglide.md
  docs/blog/hi/is_intlayer_lighter_than_paraglide.md
  docs/blog/id/is_intlayer_lighter_than_paraglide.md
  docs/blog/it/is_intlayer_lighter_than_paraglide.md
  docs/blog/ja/is_intlayer_lighter_than_paraglide.md
  docs/blog/ko/is_intlayer_lighter_than_paraglide.md
  docs/blog/pl/is_intlayer_lighter_than_paraglide.md
  docs/blog/pt/is_intlayer_lighter_than_paraglide.md
  docs/blog/ru/is_intlayer_lighter_than_paraglide.md
  docs/blog/tr/is_intlayer_lighter_than_paraglide.md
  docs/blog/uk/is_intlayer_lighter_than_paraglide.md
  docs/blog/vi/is_intlayer_lighter_than_paraglide.md
  docs/blog/zh/is_intlayer_lighter_than_paraglide.md
  docs/src/generated/blog.entry.ts
  src/generated/blog.entry.ts
  src/generated/docs.entry.ts
  src/generated/frequentQuestions.entry.ts
  src/generated/legal.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(next-intl): add logging for compiler status and streamline reporting
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(engine): add WebMCP availability information to dev-tools documentation
  .claude/skills/intlayer-dev-tools/SKILL.md
  packages/@intlayer/engine/src/installSkills/skills/dev-tools.md
Due: prettier --write

chore: update packages dependencies
  apps/app/package.json
  apps/backend/package.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/agent_skills.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  examples/tanstack-start-app/package.json
  examples/tanstack-start-solid-app/package.json
  examples/vite-solid-app/package.json
  package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/mcp/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: update svelte benchmark documentation and embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/benchmark/svelte.json
  docs/docs/ar/benchmark/svelte.md
  docs/docs/de/benchmark/svelte.md
  docs/docs/en-GB/benchmark/svelte.md
  docs/docs/en/benchmark/svelte.md
  docs/docs/es/benchmark/svelte.md
  docs/docs/fr/benchmark/svelte.md
  docs/docs/hi/benchmark/svelte.md
  docs/docs/id/benchmark/svelte.md
  docs/docs/it/benchmark/svelte.md
  docs/docs/ja/benchmark/svelte.md
  docs/docs/ko/benchmark/svelte.md
  docs/docs/pl/benchmark/svelte.md
  docs/docs/pt/benchmark/svelte.md
  docs/docs/ru/benchmark/svelte.md
  docs/docs/tr/benchmark/svelte.md
  docs/docs/uk/benchmark/svelte.md
  docs/docs/vi/benchmark/svelte.md
  docs/docs/zh/benchmark/svelte.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(engine): move i18n compat packages to devDependencies when replaced by Intlayer packages
  packages/@intlayer/engine/src/init/index.ts
  packages/@intlayer/engine/src/init/utils/packageManager.test.ts
  packages/@intlayer/engine/src/init/utils/packageManager.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(core): remove isInsertedSelector helper and inline its logic
  packages/@intlayer/core/src/interpreter/getContent/plugins.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(core): add pluralPlugin to default content interpreter plugins
  packages/@intlayer/core/src/interpreter/getContent/getContent.ts
  packages/@intlayer/core/src/interpreter/getDictionary.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: improve package publishing reliability with retries and registry pre-checks
  .github/workflows/publish.yaml
  package.json
  scripts/publish-package.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: exclude @intlayer/chrome-extension from selfhost docker build
  docker/selfhost/Dockerfile
Due: none

style(chrome-extension): update popup max-height to use tailwind spacing
  packages/@intlayer/chrome-extension/src/popup/App.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add spam domains to disavow list
  apps/website/public/disavow.txt
Due: none

chore: update default OG title and metadata to Advanced i18n
  apps/website/src/routes/{-$locale}/landing-metadata.content.ts
  apps/website/src/routes/{-$locale}/metadata.content.ts
  apps/website/src/utils/generateOgImage.test.ts
  apps/website/src/utils/generateOgImage.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): update blog navigation to use NavAccordion and improve search and layout styling
  apps/website/src/components/BlogPage/BlogNavList.tsx
  apps/website/src/components/BlogPage/BlogPageLayout.tsx
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
  apps/website/src/components/DocPage/DocNavList.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
  apps/website/src/components/DocPage/DocumentationRender.tsx
  apps/website/src/components/DocPage/Search/SearchTrigger.tsx
  apps/website/src/components/DocPage/Search/SearchView.tsx
  apps/website/src/components/DocPage/docNavList.content.ts
  packages/@intlayer/design-system/src/components/Accordion/Accordion.tsx
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/Link/Link.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): modularize doc page layout components and add configurable popover alignment for documentation messages
  apps/website/src/components/BlogPage/BlogNavList.tsx
  apps/website/src/components/BlogPage/BlogPageLayout.tsx
  apps/website/src/components/DocPage/ApplicationShowcaseMessage/index.tsx
  apps/website/src/components/DocPage/ApplicationTemplateMessage/index.tsx
  apps/website/src/components/DocPage/ContributionMessage/index.tsx
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
  apps/website/src/components/DocPage/DocNavList.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
  apps/website/src/components/DocPage/DocPageLayoutShell.tsx
  apps/website/src/components/DocPage/FrameworkFilter/filterSectionByFramework.test.ts
  apps/website/src/components/DocPage/FrameworkFilter/filterSectionByFramework.ts
  apps/website/src/components/DocPage/FrameworkFilter/index.tsx
  apps/website/src/components/DocPage/History/index.tsx
  apps/website/src/components/DocPage/MCPMessage/index.tsx
  apps/website/src/components/DocPage/NavDrawer.tsx
  apps/website/src/components/DocPage/NavListContent.tsx
  apps/website/src/components/DocPage/NavSectionItem.tsx
  apps/website/src/components/DocPage/Search/SearchTrigger.tsx
  apps/website/src/components/DocPage/Search/SearchView.tsx
  apps/website/src/components/DocPage/SummarizeAI/SummarizeAI.tsx
  apps/website/src/components/DocPage/TranslatedContentMessage/index.tsx
  apps/website/src/components/DocPage/YoutubeVideoMessage/index.tsx
  apps/website/src/components/DocPage/docData.content.ts
  packages/@intlayer/design-system/src/components/Accordion/Accordion.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): support unicode characters in markdown slugification and use element references for active headings
  apps/website/src/components/DocPage/NavTitles/NavTitles.tsx
  apps/website/src/components/DocPage/ScrollWell.tsx
  apps/website/src/components/DocPage/TOCProgressBar/TOCProgressBar.tsx
  packages/@intlayer/core/src/markdown/compiler.test.ts
  packages/@intlayer/core/src/markdown/compiler.ts
  packages/@intlayer/core/src/markdown/utils.test.ts
  packages/@intlayer/core/src/markdown/utils.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): add smooth scrolling and scroll padding to doc page layout shell
  apps/website/src/components/DocPage/DocPageLayoutShell.tsx
  apps/website/src/components/TableOfContents/TableOfContents.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: add GitHub Actions workflow to deploy website to China VPS
  .github/workflows/deploy-website-china.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: add GitHub Actions workflow to publish browser extensions for Chrome and Firefox
  .github/workflows/deploy-chrome-extension.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: improve server process management and environment configuration in China deployment workflow
  .github/workflows/deploy-website-china.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: configure China deployment environment and restrict website locales
  .github/workflows/deploy-website-china.yaml
  apps/website/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: use subshell and absolute path for extension zipping
  .github/workflows/deploy-chrome-extension.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style: update flex items alignment to center in DocHeader
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add navigation to NavSectionItem accordion and export usePathname
  apps/app/src/hooks/useLocalizedNavigate.test.ts
  apps/app/src/hooks/useLocalizedNavigate.ts
  apps/website/src/components/DocPage/NavSectionItem.tsx
  apps/website/src/components/DocPage/navSectionItem.test.tsx
  apps/website/src/components/Link/Link.tsx
  apps/website/src/hooks/useLocalizedNavigate.test.ts
  apps/website/src/hooks/useLocalizedNavigate.ts
  packages/preact-intlayer/src/index.ts
  packages/react-intlayer/src/index.ts
  packages/solid-intlayer/src/index.ts
  packages/vue-intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add filtering rule to keep default and single subsection at top level
  apps/website/src/components/DocPage/FrameworkFilter/filterSectionByFramework.test.ts
  apps/website/src/components/DocPage/FrameworkFilter/filterSectionByFramework.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): promote subsections to top level for single shown categories without default content
  apps/website/src/components/DocPage/FrameworkFilter/filterSectionByFramework.test.ts
  apps/website/src/components/DocPage/FrameworkFilter/filterSectionByFramework.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): replace second item in framework filter when selecting a third
  apps/website/src/components/DocPage/FrameworkFilter/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(design-system): add TechLink component and update documentation links
  packages/@intlayer/design-system/src/components/Tab/Tab.test.tsx
  packages/@intlayer/design-system/src/components/Tab/Tab.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add framer-motion animations to titles in ScrollWell
  apps/website/src/components/DocPage/ScrollWell.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): increase left margin in ScrollWell component
  apps/website/src/components/DocPage/ScrollWell.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): improve layout and text wrapping in ScrollWell and TechLink components
  apps/website/src/components/DocPage/ScrollWell.tsx
  apps/website/src/components/DocPage/TechLink/TechLink.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
