Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

feat(chokidar): add cleanRemovedContentDeclaration function to manage outdated dictionaries
  packages/@intlayer/chokidar/src/cleanRemovedContentDeclaration.ts
  packages/@intlayer/chokidar/src/handleContentDeclarationFileChange.ts
  packages/@intlayer/chokidar/src/handleUnlinkedContentDeclarationFile.ts
  packages/@intlayer/types/src/module_augmentation.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(ai): add support for OLLAMA provider in AI SDK and update configuration types
  packages/@intlayer/ai/src/aiSdk.ts
  packages/@intlayer/types/src/config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(ai): update @intlayer/ai version to 7.5.2-canary.1, add zod dependency, and enhance AI SDK with OLLAMA provider support
  bun.lock
  examples/vite-react-app/intlayer.config.ts
  examples/vite-react-app/package.json
  packages/@intlayer/ai/src/aiSdk.ts
  packages/@intlayer/ai/src/auditDictionaryMetadata/EXAMPLE_REQUEST.md
  packages/@intlayer/ai/src/auditDictionaryMetadata/EXAMPLE_RESPONSE.md
  packages/@intlayer/ai/src/auditDictionaryMetadata/PROMPT.md
  packages/@intlayer/ai/src/auditDictionaryMetadata/index.ts
  packages/@intlayer/ai/src/translateJSON/PROMPT.md
  packages/@intlayer/ai/src/translateJSON/index.ts
  packages/@intlayer/cli/src/fill/listTranslationsTasks.ts
  packages/@intlayer/cli/src/fill/translateDictionary.ts
  packages/@intlayer/cli/src/utils/setupAI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(ai): enhance type definitions for translateJSON options and results to support generic types
  apps/backend/src/controllers/ai.controller.ts
  apps/backend/src/utils/AI/translateJSON/index.ts
  packages/@intlayer/ai/src/translateJSON/index.ts
  packages/@intlayer/chokidar/src/filterInvalidDictionaries.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(types): simplify DictionaryRegistry type definition and improve content fallback handling
  packages/@intlayer/types/src/module_augmentation.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update lucide-react to version 0.562.0 and react-hook-form to version 7.69.0 across multiple packages
  apps/website/package.json
  bun.lock
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ai): add zod dependency to @intlayer/ai package
  bun.lock
  packages/@intlayer/ai/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: add OLLAMA provider option to configuration documentation in multiple languages
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/vi/configuration.md
Due: prettier --write

refactor(website): remove pending state handling and loader from ProjectForm component
  apps/website/src/components/Dashboard/ProjectForm/ProjectForm.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): add padding to the editor container in the organization dashboard page
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/editor/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): rename Dashboard_Content route to Dashboard_Dictionaries and update related references
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/content/[dictionaryKey]/page.content.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/content/[dictionaryKey]/page.tsx
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/content/metadata.content.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/content/metadata.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/content/page.content.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/content/page.tsx
  apps/website/src/app/[locale]/(dashboard)/dashboard/pageContent.tsx
  apps/website/src/app/[locale]/(dashboard)/dashboardNavbar.content.ts
  apps/website/src/app/[locale]/(dashboard)/layout.tsx
  apps/website/src/components/Dashboard/ContentDashboard/index.tsx
  apps/website/src/components/Dashboard/DashboardSidebar/DashboardSidebar.tsx
  apps/website/src/components/Dashboard/DictionaryListDashboard/index.tsx
  apps/website/src/components/Dashboard/TagForm/TagsDictionariesList.tsx
  packages/@intlayer/core/src/localization/getLocaleFromPath.ts
  packages/@intlayer/core/src/localization/getPathWithoutLocale.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): move editor and dictionary in dedicated layout
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/editor/metadata.content.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/editor/metadata.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/editor/page.content.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/editor/page.tsx
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/layout.tsx
  packages/@intlayer/design-system/src/components/Tab/Tab.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): update dashboard editor layout and content structure
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/editor/page.content.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/editor/page.tsx
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/layout.content.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/layout.tsx
  apps/website/src/app/[locale]/(dashboard)/dashboardNavbar.content.ts
  packages/@intlayer/design-system/src/components/TabSelector/TabSelector.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): enhance item selection logic in DictionaryListDashboard and TagList components
  apps/website/src/components/Dashboard/DictionaryListDashboard/index.tsx
  apps/website/src/components/Dashboard/TagForm/TagList.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): optimize dictionary handling by deferring removals and excluding outdated keys
  bun.lock
  packages/@intlayer/chokidar/src/cleanRemovedContentDeclaration.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/createDictionaryEntryPoint.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/getBuiltDictionariesPath.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/getBuiltDynamicDictionariesPath.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/getBuiltFetchDictionariesPath.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/getBuiltRemoteDictionariesPath.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/getBuiltUnmergedDictionariesPath.ts
  packages/@intlayer/chokidar/src/handleContentDeclarationFileChange.ts
  packages/@intlayer/chokidar/src/handleContentDeclarationFileMoved.ts
  packages/@intlayer/chokidar/src/handleUnlinkedContentDeclarationFile.ts
  packages/@intlayer/chokidar/src/watcher.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): remove unnecessary flex properties from ProjectList component layout
  apps/website/src/components/Dashboard/ProjectForm/ProjectList.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): integrate Browser component in IframeController and enhance URL validation in Browser
  apps/website/src/components/Dashboard/Editor/ApplicationNotRunningView/ApplicationNotRunningView.tsx
  apps/website/src/components/Dashboard/Editor/IframeController.tsx
  packages/@intlayer/design-system/src/components/Browser/Browser.content.ts
  packages/@intlayer/design-system/src/components/Browser/Browser.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(swc): align plugin with next 16.1 swc ABI and rebuild wasm
  packages/@intlayer/swc/Cargo.lock
  packages/@intlayer/swc/Cargo.toml
  packages/@intlayer/swc/src/lib.rs
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

chore(swc): update dependencies and versions in Cargo.lock and Cargo.toml, enhance compatibility with swc_core 53+, and improve string handling in lib.rs
  packages/@intlayer/swc/Cargo.lock
  packages/@intlayer/swc/Cargo.toml
  packages/@intlayer/swc/src/lib.rs
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

feat(swc): enhance debug logging in transform function for better traceability and error handling
  packages/@intlayer/swc/src/lib.rs
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

fix(swc): improve purge handling
  packages/@intlayer/swc/src/lib.rs
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

refactor(website): replace getDictionary with getIntlayer for metadata generation across various components
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/editor/metadata.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/editor/metadatax.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/tags/metadata.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/[...not-found]/metadata.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/organization/metadata.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/profile/metadata.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/projects/metadata.ts
  apps/website/src/app/[locale]/(docs)/blog/search/metadata.ts
  apps/website/src/app/[locale]/(docs)/doc/chat/metadata.ts
  apps/website/src/app/[locale]/(docs)/doc/search/metadata.ts
  apps/website/src/app/[locale]/(landing)/[...not-found]/metadata.ts
  apps/website/src/app/[locale]/(landing)/auth/(authenticated)/password/change/metadata.ts
  apps/website/src/app/[locale]/(landing)/auth/(not-authenticated)/register/metadata.ts
  apps/website/src/app/[locale]/(landing)/auth/password/ask-reset/metadata.ts
  apps/website/src/app/[locale]/(landing)/auth/password/reset/metadata.ts
  apps/website/src/app/[locale]/(landing)/contributors/metadata.ts
  apps/website/src/app/[locale]/(landing)/demo/metadata.ts
  apps/website/src/app/[locale]/(landing)/onboarding/[[...details]]/metadata.ts
  apps/website/src/app/[locale]/(landing)/pricing/metadata.ts
  apps/website/src/app/[locale]/(playground)/playground/metadata.ts
  apps/website/src/app/[locale]/metadata.ts
  apps/website/src/components/Auth/CliLogin/CliLoginFlow.content.ts
  docs/blog/tr/intlayer_with_react-intl.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(swc): update intlayer-swc-plugin version to 7.5.6 and regenerate WASM binary
  packages/@intlayer/swc/Cargo.lock
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

refactor(website): adjust flex properties in Browser component for improved layout consistency
  packages/@intlayer/design-system/src/components/Browser/Browser.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add tool annotations for improved LLM tool understanding
  packages/@intlayer/mcp/src/tools/cli.ts
  packages/@intlayer/mcp/src/tools/docs.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update .gitignore to include workbox source maps and remove obsolete workbox map file
  apps/website/.gitignore
  apps/website/public/workbox-dba00f51.js.map
Due: none

refactor(website): improve comments and logic clarity in Browser component for better maintainability
  apps/website/src/components/Dashboard/Editor/IframeController.tsx
  packages/@intlayer/design-system/src/components/Browser/Browser.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update package versions in bun.lock and package.json for @biomejs/biome, @next/third-parties, and next to latest releases
  apps/website/package.json
  bun.lock
  package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(design-system): update aria attributes in OTP components for improved accessibility
  packages/@intlayer/design-system/src/components/Form/elements/OTPElement.tsx
  packages/@intlayer/design-system/src/components/Input/OTPInput.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update package versions in bun.lock and package.json for next and related dependencies to 16.1.1
  apps/website/src/components/Link/Link.tsx
  apps/website/src/components/Navbar/index.tsx
  bun.lock
  package.json
  packages/@intlayer/design-system/src/components/Link/Link.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(backend): remove required constraint from domain field in organization schema
  apps/backend/src/schemas/organization.schema.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add manifest.json for PWA support with app details and icons
  apps/website/public/manifest.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): rearrange AuthenticationBarrier and DashboardLayoutContent for improved structure
  apps/website/src/app/[locale]/(dashboard)/layout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
