Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

feat(app): grant admin role access to organization and project settings management
  apps/app/src/components/Dashboard/OrganizationForm/DeleteOrganizationModal.tsx
  apps/app/src/components/Dashboard/OrganizationForm/Members/MembersForm.tsx
  apps/app/src/components/Dashboard/OrganizationForm/OrganizationEditionForm.tsx
  apps/app/src/components/Dashboard/OrganizationForm/OrganizationForm.tsx
  apps/app/src/components/Dashboard/OrganizationForm/Plan/PlanDetails.tsx
  apps/app/src/components/Dashboard/OrganizationForm/SSO/SSOSettings.tsx
  apps/app/src/components/Dashboard/ProjectForm/AutoFillSettings/AutoFillSettings.tsx
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/BuildSettings.tsx
  apps/app/src/components/Dashboard/ProjectForm/Config/ConfigDetails.tsx
  apps/app/src/components/Dashboard/ProjectForm/Config/ConfigEditionForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/Environments/EnvironmentsForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/Members/MembersKeyForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/OpenRouter/OpenRouterSettings.tsx
  apps/app/src/components/Dashboard/ProjectForm/ProjectEditionForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/ProjectForm.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): update navigation link transitions
  apps/website-tanstack/src/components/DocPage/NavTitles/NavTitles.tsx
  apps/website/src/components/DocPage/NavTitles/NavTitles.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): update author data
  apps/website-tanstack/intlayer.config.ts
  apps/website-tanstack/src/components/DocPage/DocBreadCrumb.tsx
  apps/website-tanstack/src/components/DocPage/DocHeader/DocHeader.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/blog/$.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/doc/$.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/frequent-questions/$.tsx
  apps/website-tanstack/src/serverFunctions/blog.ts
  apps/website-tanstack/src/serverFunctions/docs.ts
  apps/website-tanstack/src/serverFunctions/faq.ts
  apps/website/src/app/[locale]/(docs)/blog/[...slugs]/page.tsx
  apps/website/src/app/[locale]/(docs)/doc/[[...slugs]]/page.tsx
  apps/website/src/components/BlogPage/RelatedPosts.tsx
  apps/website/src/components/BlogPage/blogData.ts
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
  apps/website/src/components/DocPage/docData.ts
  docs/src/authors.ts
  docs/src/generated/docs.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): fix build by removing temp doc not pushed
  docs/src/generated/docs.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): remove unused google tag manager
  apps/website-tanstack/.env.template
  apps/website/.env.template
  apps/website/Dockerfile
  apps/website/src/providers/AppProviders.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): implement dynamic dictionary support, enhance library hooks, and update documentation embeddings
  apps/website-tanstack/src/components/DocPage/DocHeader/DocHeader.tsx
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(apps): reimplement google tag auth
  apps/app/src/layouts/RootHTMLLayout.tsx
  apps/app/vite.config.ts
  apps/showcase/src/routes/__root.tsx
  apps/showcase/vite.config.ts
  apps/website-tanstack/src/layouts/RootHTMLLayout.tsx
  apps/website-tanstack/vite.config.ts
  apps/website/next.config.ts
  apps/website/src/layouts/RootHTMLLayout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update disavow
  apps/website/public/disavow.txt
Due: none

fix(website): fix service worker
  apps/app/.env.template
  apps/website-tanstack/.env.template
  apps/website-tanstack/Dockerfile
  apps/website-tanstack/src/components/ServiceWorker/useServiceWorker.ts
  apps/website/.env.template
  apps/website/Dockerfile
  apps/website/src/components/ServiceWorker/useServiceWorker.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update docker build script
  scripts/docker-build-website.sh
Due: none

refactor(website): optimize service workers
  apps/app/scripts/generate-sw.ts
  apps/website-tanstack/scripts/generate-sw.ts
  apps/website/scripts/generate-sw.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(backend): review project access edition
  apps/backend/src/controllers/project.controller.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): fix ts config and add borders search inputs
  apps/website-tanstack/src/routes/{-$locale}/_docs/blog/index.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/doc/search.tsx
  apps/website-tanstack/tsconfig.json
  apps/website/src/app/[locale]/(docs)/blog/(search)/page.tsx
  apps/website/src/app/[locale]/(docs)/doc/search/page.tsx
  apps/website/tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): restore cors whitelist for dev
  apps/backend/src/utils/cors.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update disavow list
  apps/website/public/disavow.txt
Due: none

feat(website): update doc sidebar
  apps/website-tanstack/src/components/BlogPage/BlogPageLayout.tsx
  apps/website-tanstack/src/components/DocPage/DocPageLayout.tsx
  apps/website-tanstack/src/components/DocPage/NavTitles/NavTitles.tsx
  apps/website-tanstack/src/components/DocPage/TOCProgressBar/TOCProgressBar.tsx
  apps/website-tanstack/src/components/DocPage/docData.content.ts
  apps/website-tanstack/src/globals.css
  apps/website/src/components/BlogPage/BlogPageLayout.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
  apps/website/src/components/DocPage/NavTitles/NavTitles.tsx
  apps/website/src/components/DocPage/TOCProgressBar/TOCProgressBar.tsx
  apps/website/src/components/DocPage/docData.content.ts
  apps/website/src/globals.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): fix subsection doc
  apps/website-tanstack/src/components/DocPage/docData.content.ts
  apps/website/src/components/DocPage/docData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add compatibility documentation embeddings and update knowledge base registry
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/index.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/scan.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/i18n-js.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/i18next.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/index.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/lingui.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/next-i18next.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/next-intl.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/next-translate.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/ngx-translate.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/nuxtjs-i18n.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/polyglot.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/react-i18next.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/react-intl.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/svelte-i18n.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/transloco.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/vue-i18n.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dynamic_dictionaries/collections.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dynamic_dictionaries/dynamic_content.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dynamic_dictionaries/index.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dynamic_dictionaries/variants.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/migration_from_i18next_to_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/migration_from_next-i18next_to_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/migration_from_next-intl_to_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/migration_from_nuxtjs_i18n_to_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/migration_from_react-i18next_to_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/migration_from_vue-i18n_to_intlayer.json
  apps/website-tanstack/src/components/DocPage/docData.content.ts
  apps/website/src/components/DocPage/docData.content.ts
  docs/src/generated/docs.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: rename compat slug and key to compatibility across documentation and website content
  apps/website-tanstack/src/components/DocPage/docData.content.ts
  apps/website/src/components/DocPage/docData.content.ts
  docs/docs/en/compat/i18n-js.md
  docs/docs/en/compat/i18next.md
  docs/docs/en/compat/index.md
  docs/docs/en/compat/lingui.md
  docs/docs/en/compat/next-i18next.md
  docs/docs/en/compat/next-intl.md
  docs/docs/en/compat/next-translate.md
  docs/docs/en/compat/ngx-translate.md
  docs/docs/en/compat/nuxtjs-i18n.md
  docs/docs/en/compat/polyglot.md
  docs/docs/en/compat/react-i18next.md
  docs/docs/en/compat/react-intl.md
  docs/docs/en/compat/svelte-i18n.md
  docs/docs/en/compat/transloco.md
  docs/docs/en/compat/vue-i18n.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(website): update disavow list and add null check for absolute file path in prune plugin
  apps/website/public/disavow.txt
Due: none

fix(vite-intlayer): add null check for absoluteFilePath in intlayerPrunePlugin transform
  packages/vite-intlayer/src/intlayerMinifyPlugin.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style: add dotted border to blog comment section containers
  apps/website-tanstack/src/components/BlogPage/BlogCommentSection.tsx
  apps/website/src/components/BlogPage/BlogCommentSection.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): comment out compatibility documentation and update dynamic dictionary translations
  apps/website-tanstack/src/components/DocPage/docData.content.ts
  apps/website/src/components/DocPage/docData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(app): list missing pages in sitemap
  apps/app/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): update document review
  packages/@intlayer/chokidar/src/docReview/reviewReport.ts
  packages/@intlayer/chokidar/src/docReview/segmentDocument.ts
  packages/@intlayer/cli/src/reviewDoc/reviewDoc.ts
  packages/@intlayer/cli/src/reviewDoc/reviewDocLog.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add v9 release documentation section to docData content
  apps/website-tanstack/src/components/DocPage/docData.content.ts
  apps/website/src/components/DocPage/docData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): remove PostYourStartup badge from not-found page
  apps/website/src/app/[locale]/(landing)/[...not-found]/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): update StructureView container border radius
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/StructureView/StructureView.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): optimize doc review pipeline by processing blocks bottom-up and applying deletions incrementally
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/condition.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/enumeration.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/file.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/gender.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/nesting.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/plurial.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/translation.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/releases/v8.json
  apps/website/public/disavow.txt
  docs/docs/ar/intlayer_with_vite+react.md
  docs/docs/de/intlayer_with_vite+react.md
  docs/docs/it/intlayer_with_vite+react.md
  docs/docs/ja/intlayer_with_vite+react.md
  docs/docs/ko/intlayer_with_vite+react.md
  docs/docs/ru/intlayer_with_vite+react.md
  docs/docs/zh/intlayer_with_vite+react.md
  docs/tools/review.ts
  packages/@intlayer/chokidar/src/docReview/docReview.test.ts
  packages/@intlayer/chokidar/src/docReview/pipeline.ts
  packages/@intlayer/chokidar/src/docReview/rebuildDocument.ts
  packages/@intlayer/chokidar/src/docReview/reviewReport.ts
  packages/@intlayer/chokidar/src/docReview/segmentDocument.ts
  packages/@intlayer/cli/src/reviewDoc/reviewDoc.ts
  packages/@intlayer/cli/src/reviewDoc/reviewDocBlockAware.ts
  packages/@intlayer/cli/src/reviewDoc/reviewDocLog.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryDetails/DictionaryDetailsForm.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write
