Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

feat(docs): add NestJS documentation and update translations
  apps/website/src/components/DocPage/docData.content.ts
  docs/docs/ar/intlayer_with_nestjs.md
  docs/docs/de/intlayer_with_nestjs.md
  docs/docs/en-GB/intlayer_with_nestjs.md
  docs/docs/en/intlayer_with_nestjs.md
  docs/docs/es/intlayer_with_nestjs.md
  docs/docs/fr/intlayer_with_nestjs.md
  docs/docs/hi/intlayer_with_nestjs.md
  docs/docs/it/intlayer_with_nestjs.md
  docs/docs/ja/intlayer_with_nestjs.md
  docs/docs/ko/intlayer_with_nestjs.md
  docs/docs/pt/intlayer_with_nestjs.md
  docs/docs/ru/intlayer_with_nestjs.md
  docs/docs/zh/intlayer_with_nestjs.md
  docs/src/generated/docs.entry.ts
  docs/tools/translate.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

fix: add .intlayer to .gitignore for Intlayer configuration
  examples/nest-app/.gitignore
Due: none

chore(nest-app): add prebuild script for Intlayer build process
  examples/nest-app/package.json
Due: prettier --write

feat(docs): add RAG-powered documentation assistant article with implementation details and benefits
  docs/blog/ar/rag_powered_documentation_assistant.md
  docs/blog/de/rag_powered_documentation_assistant.md
  docs/blog/en-GB/rag_powered_documentation_assistant.md
  docs/blog/en/rag_powered_documentation_assistant.md
  docs/blog/es/rag_powered_documentation_assistant.md
  docs/blog/fr/rag_powered_documentation_assistant.md
  docs/blog/hi/rag_powered_documentation_assistant.md
  docs/blog/it/rag_powered_documentation_assistant.md
  docs/blog/ja/rag_powered_documentation_assistant.md
  docs/blog/ko/rag_powered_documentation_assistant.md
  docs/blog/pt/rag_powered_documentation_assistant.md
  docs/blog/ru/rag_powered_documentation_assistant.md
  docs/blog/zh/rag_powered_documentation_assistant.md
  docs/docs/en/CI_CD.md
Due: prettier --write

refactor(nextjs-15-app): disable liveSync and restructure next.config.ts for improved configuration handling
  examples/nextjs-15-app/intlayer.config.ts
  examples/nextjs-15-app/next.config.ts
Due: prettier --write, eslint --fix --cache

feat(docs): add RAG pipeline diagram to documentation articles
  docs/assets/rag_flow.svg
  docs/blog/en-GB/rag_powered_documentation_assistant.md
  docs/blog/en/rag_powered_documentation_assistant.md
  docs/blog/es/rag_powered_documentation_assistant.md
  docs/blog/fr/rag_powered_documentation_assistant.md
  docs/blog/hi/rag_powered_documentation_assistant.md
  docs/blog/it/rag_powered_documentation_assistant.md
  docs/blog/ja/rag_powered_documentation_assistant.md
  docs/blog/ko/rag_powered_documentation_assistant.md
  docs/blog/pt/rag_powered_documentation_assistant.md
  docs/blog/ru/rag_powered_documentation_assistant.md
  docs/blog/zh/rag_powered_documentation_assistant.md
Due: prettier --write

feat(website): update landing section with new action buttons and animations, add support for new content structure
  apps/website/src/Routes.ts
  apps/website/src/components/BackgroundLayout/index.tsx
  apps/website/src/components/LandingPage/LandingSection/ActionButtons.tsx
  apps/website/src/components/LandingPage/LandingSection/AnimatedDescription.tsx
  apps/website/src/components/LandingPage/LandingSection/BlurInText.tsx
  apps/website/src/components/LandingPage/LandingSection/action-button.content.ts
  apps/website/src/components/LandingPage/LandingSection/index.tsx
  apps/website/src/components/LandingPage/LandingSection/landing-section.content.ts
Due: prettier --write, eslint --fix --cache

feat(website): conditionally display "What's New" section based on SHOW_WHATS_NEW flag
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: prettier --write, eslint --fix --cache

feat(website): update landing section content for improved messaging and localization support
  apps/website/src/components/LandingPage/LandingSection/landing-section.content.ts
Due: prettier --write, eslint --fix --cache

feat(website): add Astro and Lynx logos, update logo dimensions and styles, and enhance action button layout
  apps/website/src/components/BackgroundLayout/index.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/Astro.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/Lynx.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/Nextjs.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/available-techno-section.content.ts
  apps/website/src/components/LandingPage/LandingSection/ActionButtons.tsx
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: prettier --write, eslint --fix --cache

feat(website): enhance landing section content with updated messaging for AI translation and improved internationalization descriptions
  apps/website/src/components/LandingPage/LandingSection/landing-section.content.ts
Due: prettier --write, eslint --fix --cache

feat(website): add Tanstack and NestJS logos, update routing for new technologies, and enhance logo display in landing section
  apps/website/src/Routes.ts
  apps/website/src/components/LandingPage/AvailableTechnoSection/Express.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/NestJS.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/Nextjs.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/Tanstack.tsx
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: prettier --write, eslint --fix --cache

feat(website): refactor landing section by extracting technology logos into a separate component and streamline imports
  apps/website/src/components/LandingPage/LandingSection/TechLogos.tsx
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: prettier --write, eslint --fix --cache

feat(website): implement infinite scrolling for technology logos in landing section and enhance logo routing structure
  apps/website/src/app/globals.css
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: prettier --write, eslint --fix --cache

fix(website): update SVG attributes to camelCase for consistency in Lynx logo component
  apps/website/src/components/LandingPage/AvailableTechnoSection/Lynx.tsx
Due: prettier --write, eslint --fix --cache

chore: update .dockerignore to include .turbo directory for improved build management
  .dockerignore
Due: none

refactor(website): replace Button with Link component in SearchView for improved navigation and code consistency
  apps/website/src/components/DocPage/Search/SearchView.tsx
Due: prettier --write, eslint --fix --cache

refactor(website): simplify landing section animations by replacing custom BlurInText component with motion elements directly
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: prettier --write, eslint --fix --cache

chore: streamline contributing guidelines by clarifying package installation instructions and removing outdated examples
  CONTRIBUTING.md
Due: prettier --write

chore: integrate Turbo for build and task management, update scripts and dependencies
  .gitignore
  CONTRIBUTING.md
  apps/website/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/src/components/IDE/tobot.html
  packages/intlayer-editor/package.json
  packages/react-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/vue-intlayer/package.json
  pnpm-lock.yaml
  scripts/package-build-order.mjs
  scripts/script-changed-package-command.mjs
  scripts/script-package-command.mjs
  turbo.json
Due: prettier --write

fix(website): update onClickLink prop to onClick in SearchView for consistency in event handling
  apps/website/src/components/DocPage/Search/SearchView.tsx
Due: prettier --write, eslint --fix --cache

chore: update build and test scripts in package.json to include specific directories for improved task management
  package.json
Due: prettier --write

chore: update CI workflows to use pnpm build:ci for consistent build process
  .github/workflows/build_and_test.yaml
  .github/workflows/release.yaml
Due: prettier --write

chore: update Dockerfiles to use npx for Turbo commands, ensuring consistency across packages
  apps/backend/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

chore: remove obsolete tobot.html file as it contained outdated links
  packages/@intlayer/design-system/src/components/IDE/tobot.html
Due: none

chore: update package.json scripts to use double asterisks for improved directory matching in build, clean, and test commands
  package.json
Due: prettier --write

chore: update build and clean scripts in package.json and improve contributing guidelines for Turbo commands
  CONTRIBUTING.md
  package.json
Due: prettier --write

chore: update pnpm-lock.yaml and package.json to include new workspace dependencies for backend and editor
  packages/@intlayer/api/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: enhance contributing guidelines by updating build instructions and clarifying usage of Turbo for package management
  CONTRIBUTING.md
Due: prettier --write

chore: update Dockerfiles to use Turbo for building specific packages, enhancing build efficiency
  apps/backend/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

chore: update pnpm-lock.yaml to add '@next/bundle-analyzer' dependency and remove obsolete entries
  pnpm-lock.yaml
Due: prettier --write

fix: prevent unnecessary processing in intlayerLiveSyncPlugin when liveSync is disabled
  packages/vite-intlayer/src/intlayerLiveSyncPlugin.ts
Due: prettier --write, eslint --fix --cache

feat: add package build order configuration for improved build management
  scripts/package-build-order.mjs
Due: none

chore(nextjs-15-example): change bundle-analyzer
  examples/nextjs-15-app/next.config.ts
  examples/nextjs-15-app/package.json
Due: prettier --write, eslint --fix --cache

fix(docs): add Turkish language link to README for improved accessibility
  README.md
Due: prettier --write

doc: update README.md
  README.md
Due: prettier --write

refactor: update README files across multiple languages to improve formatting and content consistency
  docs/docs/ar/readme.md
  docs/docs/de/readme.md
  docs/docs/en-GB/readme.md
  docs/docs/en/readme.md
  docs/docs/es/readme.md
  docs/docs/fr/readme.md
  docs/docs/hi/readme.md
  docs/docs/it/readme.md
  docs/docs/ja/readme.md
  docs/docs/ko/readme.md
  docs/docs/pt/readme.md
  docs/docs/ru/readme.md
  docs/docs/tr/readme.md
  docs/docs/zh/readme.md
  docs/tools/translate.ts
Due: prettier --write, eslint --fix --cache

fix: streamline badge links in README.md for improved readability
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix --cache: any of: *.{js,jsx,ts,tsx}
