Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

feat(design-system): add navigation button labels and refactor Browser component for improved usability
  packages/@intlayer/design-system/src/components/Browser/Browser.content.ts
  packages/@intlayer/design-system/src/components/Browser/Browser.tsx
  packages/@intlayer/design-system/src/components/Input/Input.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): comment out TypeScript file deletion in Dockerfile to retain source files for debugging
  apps/website/Dockerfile
Due: none

feat(website): update dashboard routes and add content dictionary page with metadata handling
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/dictionary/[dictionaryKey]/page.tsx
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/dictionary/metadata.content.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/dictionary/metadata.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/dictionary/page.tsx
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/layout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): comment out unused redirects and rewrites in next.config.ts for future reference
  bun.lock
  packages/@intlayer/mcp/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(design-system): update styles in Browser and Input components for consistency and improved appearance
  apps/website/src/components/Dashboard/Editor/ChekingApplicationStatutView/ChekingApplicationStatutView.tsx
  packages/@intlayer/design-system/src/components/Browser/Browser.tsx
  packages/@intlayer/design-system/src/components/Input/Input.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): simplify Browser component styles and adjust Input component size variants for better consistency
  packages/@intlayer/design-system/src/components/Browser/Browser.tsx
  packages/@intlayer/design-system/src/components/Input/Input.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): adjust Browser component background color for improved visual consistency
  packages/@intlayer/design-system/src/components/Browser/Browser.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): update LocaleSwitcher component styles for improved layout consistency
  apps/website/src/components/LocaleSwitcher/LocaleSwitcher.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): update LandingSection component to correct isExternalLink prop and adjust className order for better readability
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): update development and start scripts in package.json to use bun for consistency
  apps/website/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(design-system): add new locale flags and update existing imports for improved language support
  packages/@intlayer/design-system/src/components/Flags/Flag.tsx
  packages/@intlayer/design-system/src/components/Flags/flags.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add translate dashboard and integrate with existing dashboard structure
  apps/website/package.json
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/editor/page.tsx
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/layout.content.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/layout.tsx
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/translate/metadata.content.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/translate/metadata.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/translate/page.tsx
  apps/website/src/app/[locale]/(dashboard)/dashboardNavbar.content.ts
  apps/website/src/app/[locale]/(dashboard)/layout.tsx
  apps/website/src/components/Dashboard/DashboardSidebar/DashboardSidebar.tsx
  apps/website/src/components/Dashboard/DashboardSidebar/dashboardSidebar.content.ts
  apps/website/src/components/Dashboard/TranslateDashboard/index.content.ts
  apps/website/src/components/Dashboard/TranslateDashboard/index.tsx
  apps/website/src/utils/flattenDictionary.ts
  bun.lock
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/index.ts
  packages/@intlayer/design-system/src/components/Flags/Flag.tsx
  packages/@intlayer/design-system/src/components/Flags/flags.ts
  packages/@intlayer/design-system/src/components/Input/SearchInput.tsx
  packages/@intlayer/design-system/src/components/LocaleSwitcherContentDropDown/LocaleSwitcherContent.tsx
  packages/@intlayer/design-system/src/hooks/reactQuery.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website): add "No dictionaries found" message support in TranslateDashboard
  apps/website/src/components/Dashboard/TranslateDashboard/index.content.ts
  apps/website/src/components/Dashboard/TranslateDashboard/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): enhance TranslateDashboard to display dictionary keys for new entries
  apps/website/src/components/Dashboard/TranslateDashboard/SaveAllButton.tsx
  apps/website/src/components/Dashboard/TranslateDashboard/index.content.ts
  apps/website/src/components/Dashboard/TranslateDashboard/index.tsx
  packages/@intlayer/design-system/src/components/Breadcrumb/index.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/KeyPathBreadcrumb.tsx
  packages/@intlayer/design-system/src/components/DropDown/index.tsx
  packages/@intlayer/design-system/src/components/TextArea/AutocompleteTextArea.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(dictionary): normalize input handling for pushDictionaries to support both single and double-wrapped dictionary formats
  apps/backend/src/controllers/dictionary.controller.ts
  packages/@intlayer/design-system/src/hooks/reactQuery.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(configuration): add 'ollama' as a supported AI provider in configuration documentation
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
Due: prettier --write

refactor(routes): restructure routing layout by replacing locale-specific layout files with a unified root layout component
  docs/docs/de/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/en/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/es/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/fr/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/it/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/ja/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/pl/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/pt/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/ru/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/tr/intlayer_with_react_router_v7_fs_routes.md
  examples/react-router-fs-app/app/root.tsx
  examples/react-router-fs-app/app/routes/($locale)._layout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(dependencies): update esbuild to version 0.27.2 in @intlayer/config package for improved performance
  bun.lock
  packages/@intlayer/config/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(dependencies): update react-router and related packages to version 7.11.0 and @tanstack packages to version 1.143.x for improved compatibility and performance
  bun.lock
  examples/react-router-app/package.json
  examples/react-router-fs-app/package.json
  examples/tanstack-start-app/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(react-router-fs): update layout component to use locale from URL path and simplify structure by removing direct locale prop passing
  docs/docs/de/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/en/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/es/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/fr/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/it/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/ja/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/pl/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/pt/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/ru/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/tr/intlayer_with_react_router_v7_fs_routes.md
  examples/react-router-fs-app/app/root.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(core): update getLocaleFromPath import for DefaultValues to use client configuration for improved locale handling
  packages/@intlayer/core/src/localization/getLocaleFromPath.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(nuxt-intlayer): enable intlayer proxy
  packages/nuxt-intlayer/src/module.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(dependencies): update postcss-preset-env to version 10.6.0 and react-router-dom to version 7.11.0 in react and vite-react examples for improved compatibility
  bun.lock
  examples/react-app/package.json
  examples/vite-react-app/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(core): modify nestedPlugin to accept locale parameter for improved localization handling in content transformation
  packages/@intlayer/core/src/interpreter/getContent/getContent.ts
  packages/@intlayer/core/src/interpreter/getContent/plugins.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): simpremove any in transformFiles
  packages/@intlayer/chokidar/src/transformFiles/transformFiles.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(core): optimize cache key generation and constructor wrapping in Intl utilities for improved performance and memory management
  packages/@intlayer/core/src/utils/intl.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): adjust neutral button styling and enhance fade variant with additional ring effects for improved visual feedback
  packages/@intlayer/design-system/src/components/Button/Button.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): implement flattenDictionary utility and enhance translation management with new addTranslation button
  apps/website/src/components/Dashboard/TranslateDashboard/flattenDictionary.ts
  apps/website/src/components/Dashboard/TranslateDashboard/index.content.ts
  apps/website/src/components/Dashboard/TranslateDashboard/index.tsx
  apps/website/src/utils/flattenDictionary.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/ContentEditorView/TextEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/KeyPathBreadcrumb.tsx
  packages/@intlayer/design-system/src/components/LocaleSwitcherContentDropDown/LocaleSwitcherContent.tsx
  packages/@intlayer/design-system/src/hooks/usePersistedStore.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): rename dictionary path variables for clarity and streamline type generation process
  packages/@intlayer/chokidar/src/createType/createType.ts
  packages/@intlayer/chokidar/src/handleAdditionalContentDeclarationFile.ts
  packages/@intlayer/chokidar/src/handleContentDeclarationFileChange.ts
  packages/@intlayer/chokidar/src/handleUnlinkedContentDeclarationFile.ts
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(backend): update AI embeddings JSON files for improved data structure and consistency
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_react_router_v7.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_react_router_v7_fs_routes.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): enhance DictionaryEditionDrawer and DictionaryListDrawer components with improved structure and functionality, including updated modal handling and new SaveForm integration
  apps/website/src/components/Dashboard/Editor/DictionaryEditionDrawer/DictionaryEditionDrawer.tsx
  apps/website/src/components/Dashboard/Editor/DictionaryListDrawer/DictionaryListDrawer.tsx
  examples/vite-react-app/compiler/comp-test.content.json
  examples/vite-react-app/src/Test.tsx
  packages/@intlayer/design-system/src/components/DictionaryEditor/DictionaryEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/ContentEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryFieldEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/SaveForm/SaveForm.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/index.ts
  packages/@intlayer/design-system/src/components/KeyboardShortcut/KeyboardShortcut.tsx
  packages/@intlayer/design-system/src/components/Modal/Modal.tsx
  packages/@intlayer/design-system/src/components/RightDrawer/RightDrawer.tsx
  packages/@intlayer/design-system/src/components/RightDrawer/rightDrawer.content.ts
  packages/intlayer-editor/client/src/components/Editor/DictionaryEditionDrawer/DictionaryEditionDrawer.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(dashboard): restructure WarmupClient component and update layout import path; adjust roundedSize in DictionaryListDashboard and TagList components for consistency
  apps/website/src/app/[locale]/(dashboard)/WarmupClient.tsx
  apps/website/src/app/[locale]/(dashboard)/layout.tsx
  apps/website/src/components/Dashboard/DictionaryListDashboard/index.tsx
  apps/website/src/components/Dashboard/TagForm/TagList.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/ContentEditorView/TextEditor.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(dashboard): integrate DictionaryLoaderDashboard into TranslateDashboardPage and enhance TranslateDashboard with edited content handling
  apps/website/src/app/[locale]/(dashboard)/dashboard/(editor)/(content)/translate/page.tsx
  apps/website/src/components/Dashboard/TranslateDashboard/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): update intlayer configuration to prioritize local dictionary strategy, enable client ID and secret, and switch AI provider API key to OpenAI
  apps/website/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(dashboard): simplify dictionary handling in TranslateRow component by directly using the dictionary prop
  apps/website/src/components/Dashboard/TranslateDashboard/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
