Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --cache"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

refactor(cli): enhance logging in fill function with dictionary presets and improved formatting
  apps/website/src/components/Auth/ChangePassword/index.content.ts
  apps/website/src/components/ChatBot/fileReference.content.ts
  apps/website/src/components/ChatBot/formSection.content.ts
  packages/@intlayer/cli/src/fill/index.ts
Due: prettier --write, eslint --fix --cache

refactor(cli): consolidate access checks into a new utility for improved authentication handling
  packages/@intlayer/cli/src/fill/index.ts
  packages/@intlayer/cli/src/pull.ts
  packages/@intlayer/cli/src/push.ts
  packages/@intlayer/cli/src/pushConfig.ts
  packages/@intlayer/cli/src/reviewDoc.ts
  packages/@intlayer/cli/src/translateDoc.ts
  packages/@intlayer/cli/src/utils/checkAIAccess.ts
  packages/@intlayer/cli/src/utils/checkAccess.ts
Due: prettier --write, eslint --fix --cache

chore: update all package versions to 6.0.1
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

refactor(chokidar): enhance dictionary file generation by adding function name support
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_main/createDictionaryEntryPoint.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_main/generateDictionaryListContent.ts
Due: prettier --write, eslint --fix --cache

refactor(chokidar): improve error handling and logging in dictionary loading process
  packages/@intlayer/chokidar/src/loadDictionaries/loadDictionaries.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadRemoteDictionaries.ts
  packages/@intlayer/chokidar/src/loadDictionaries/log.ts
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
  packages/@intlayer/chokidar/src/utils/extractErrorMessage.test.ts
  packages/@intlayer/chokidar/src/utils/extractErrorMessage.ts
Due: prettier --write, eslint --fix --cache

test: fix tests
  docs/vitest.config.ts
  examples/nextjs-15-app/src/components/homeContent.content.ts
  packages/@intlayer/chokidar/src/mergeDictionaries.test.ts
  packages/@intlayer/cli/src/cli.test.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/config/src/retryManager.test.ts
  packages/@intlayer/design-system/src/components/Button/button.test.tsx
  packages/@intlayer/design-system/src/components/Link/link.test.tsx
  packages/@intlayer/design-system/test/setup.ts
Due: prettier --write, eslint --fix --cache

feat: add multipleMiddlewares helper and update docs
  apps/website/src/middleware.ts
  apps/website/tsconfig.json
  docs/docs/en/intlayer_with_nextjs_14.md
  docs/docs/en/intlayer_with_nextjs_15.md
  packages/next-intlayer/src/middleware/index.ts
  packages/next-intlayer/src/middleware/multipleMiddlewares.ts
  packages/next-intlayer/tsconfig.json
Due: prettier --write, eslint --fix --cache

doc: update intlayer documentation to include multipleMiddlewares
  apps/website/tsconfig.json
  docs/docs/en/intlayer_with_nextjs_14.md
  docs/docs/en/intlayer_with_nextjs_15.md
  packages/next-intlayer/tsconfig.json
Due: prettier --write

refactor(docs): update imports
  docs/package.json
  docs/src/blog.ts
  docs/src/common.ts
  docs/src/generated/blog.entry.ts
  docs/src/generated/docs.entry.ts
  docs/src/generated/frequentQuestions.entry.ts
  docs/src/generated/legal.entry.ts
  docs/tools/generateEntry.ts
  docs/tools/review.ts
  docs/tools/translate.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

refactor(middleware): update exports and improve type imports
  packages/next-intlayer/src/middleware/index.ts
Due: prettier --write, eslint --fix --cache

fix(docs): include locales in localeList generation for improved file reading
  docs/intlayer.config.ts
  docs/tools/generateEntry.ts
Due: prettier --write, eslint --fix --cache

fix(next-intlayer): conditionally prune config based on build command
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

fix(website): add 'shiki' to transpilePackages for improved compatibility
  apps/website/next.config.mjs
Due: none

chore: update to package.json and readme
  packages/svelte-intlayer/.npmrc
  packages/svelte-intlayer/README.md
  packages/svelte-intlayer/package.json
  packages/svelte-intlayer/src/routes/+page.svelte
  packages/svelte-intlayer/static/favicon.svg
Due: prettier --write

chore: update to package.json
  packages/svelte-intlayer/package.json
  packages/svelte-intlayer/src/routes/+page.svelte
Due: prettier --write

chore(docker): add new Docker build and start scripts for backend, MCP, and website
  apps/backend/package.json
  apps/website/package.json
  package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/mcp/package.json
Due: prettier --write

chore(docker): update website build command to use new script and add docker build script
  package.json
  scripts/docker-build-website.sh
Due: prettier --write

refactor(docs): enhance file reading logic with existence checks for localized documents
  docs/src/generated/blog.entry.ts
  docs/src/generated/docs.entry.ts
  docs/src/generated/frequentQuestions.entry.ts
  docs/src/generated/legal.entry.ts
  docs/tools/generateEntry.ts
Due: prettier --write, eslint --fix --cache

refactor(docs): streamline locale file reading logic across multiple entries
  docs/src/generated/blog.entry.ts
  docs/src/generated/docs.entry.ts
  docs/src/generated/frequentQuestions.entry.ts
  docs/src/generated/legal.entry.ts
  docs/tools/generateEntry.ts
Due: prettier --write, eslint --fix --cache

refactor(cli): enhance error handling and authentication logic in proxy and CLI utilities
  packages/@intlayer/api/src/proxy.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/loadDictionaries/log.ts
  packages/@intlayer/chokidar/src/utils/extractErrorMessage.ts
  packages/@intlayer/cli/src/index.ts
  packages/@intlayer/cli/src/reviewDoc.ts
  packages/@intlayer/cli/src/translateDoc.ts
  packages/@intlayer/cli/src/utils/checkAccess.ts
  packages/@intlayer/cli/src/utils/chunkInference.ts
Due: prettier --write, eslint --fix --cache

chore(docs): update .env.template and adjust file imports for consistency across generated entries
  docs/.env.template
  docs/src/generated/blog.entry.ts
  docs/src/generated/docs.entry.ts
  docs/src/generated/frequentQuestions.entry.ts
  docs/src/generated/legal.entry.ts
  docs/tools/translate.ts
  packages/@intlayer/cli/src/reviewDoc.ts
  packages/@intlayer/cli/src/translateDoc.ts
  packages/@intlayer/config/src/logger.ts
Due: prettier --write, eslint --fix --cache

chore(docker): update docker build script to rewrite localhost references for compatibility with macOS/Windows
  scripts/docker-build-website.sh
Due: none

chore: update to test svelte application
  eslint.config.mjs
  examples/vite-svelte-app/src/App.svelte
  examples/vite-svelte-app/src/Content.svelte
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(docs): add live sync flow and logic diagrams, update CMS documentation for live sync features
  docs/assets/live_sync_flow_scema.svg
  docs/assets/live_sync_flow_scema.txt
  docs/assets/live_sync_logic_schema.svg
  docs/assets/live_sync_logic_schema.txt
  docs/docs/ar/intlayer_CMS.md
  docs/docs/de/intlayer_CMS.md
  docs/docs/en-GB/intlayer_CMS.md
  docs/docs/en/configuration.md
  docs/docs/en/intlayer_CMS.md
  docs/docs/en/intlayer_cli.md
  docs/docs/en/intlayer_visual_editor.md
  docs/docs/es/intlayer_CMS.md
  docs/docs/fr/intlayer_CMS.md
  docs/docs/hi/intlayer_CMS.md
  docs/docs/it/intlayer_CMS.md
  docs/docs/ja/intlayer_CMS.md
  docs/docs/ko/intlayer_CMS.md
  docs/docs/pt/intlayer_CMS.md
  docs/docs/ru/intlayer_CMS.md
  docs/docs/tr/intlayer_CMS.md
  docs/docs/tr/intlayer_with_nextjs_page_router.md
  docs/docs/tr/intlayer_with_tanstack.md
  docs/docs/zh/intlayer_CMS.md
Due: prettier --write

refactor(cli): simplify prefix formatting in review and translate document functions
  packages/@intlayer/cli/src/index.ts
  packages/@intlayer/cli/src/reviewDoc.ts
  packages/@intlayer/cli/src/translateDoc.ts
Due: prettier --write, eslint --fix --cache

feat(docs): implement outdated documentation detection and reporting tool
  docs/.env.template
  docs/tools/outdatedDocs.test.ts
  docs/tools/outdatedDocs.ts
  docs/tools/slugConsistancy.ts
Due: prettier --write, eslint --fix --cache

feat(website): add new release route and enable "What's New" feature on landing page
  apps/website/src/Routes.ts
  apps/website/src/components/LandingPage/LandingSection/index.tsx
  apps/website/src/components/LandingPage/LandingSection/landing-section.content.ts
Due: prettier --write, eslint --fix --cache

doc: update v6 documentation to include new auto-fill command and enhance content file references
  docs/docs/en/releases/v6.md
Due: prettier --write

doc: update live sync flow diagrams and clarify optimization settings in configuration
  docs/docs/en/intlayer_CMS.md
Due: prettier --write

feat(config): add getExtension utility and update dictionary entry points to use dynamic file extensions
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_main/createDictionaryEntryPoint.ts
  packages/@intlayer/chokidar/src/utils/getExtention.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/config/src/alias.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/defaultValues/build.ts
  packages/@intlayer/config/src/index.ts
  packages/@intlayer/config/src/types/config.ts
  packages/@intlayer/config/src/utils/clearModuleCache.ts
  packages/@intlayer/config/src/utils/getExtension.ts
  packages/@intlayer/dictionaries-entry/src/index.ts
  packages/@intlayer/dynamic-dictionaries-entry/src/index.ts
  packages/@intlayer/fetch-dictionaries-entry/src/index.ts
  packages/@intlayer/remote-dictionaries-entry/src/index.ts
  packages/@intlayer/unmerged-dictionaries-entry/src/index.ts
Due: prettier --write, eslint --fix --cache

doc: update content declaration format links in multiple language roadmaps
  docs/docs/ar/roadmap.md
  docs/docs/de/roadmap.md
  docs/docs/en-GB/roadmap.md
  docs/docs/en/configuration.md
  docs/docs/en/intlayer_cli.md
  docs/docs/en/roadmap.md
  docs/docs/es/roadmap.md
  docs/docs/fr/roadmap.md
  docs/docs/hi/roadmap.md
  docs/docs/it/roadmap.md
  docs/docs/ja/roadmap.md
  docs/docs/ko/roadmap.md
  docs/docs/pt/roadmap.md
  docs/docs/ru/roadmap.md
  docs/docs/tr/roadmap.md
  docs/docs/zh/roadmap.md
Due: prettier --write

chore(cli): remove deprecated example files and configuration for CLI
  examples/cli/.gitignore
  examples/cli/package.json
  examples/cli/src/1_available_format/javascript.content.js
  examples/cli/src/1_available_format/json.content.json
  examples/cli/src/1_available_format/typescript.content.ts
  examples/cli/src/2_content_in_subpath/here/example/of/far/subpath/index.content.ts
  examples/cli/src/3_identic_file_names/index.content.json
  examples/cli/src/3_identic_file_names/index.content.ts
  examples/cli/src/4_inccorect_files/index.content.unknow_language
  examples/cli/src/4_inccorect_files/index.wrong_extension.ts
  examples/cli/src/5_nested_id/index.content.ts
  examples/cli/src/6_function_execution/async_function.content.ts
  examples/cli/src/6_function_execution/function.content.ts
  examples/cli/src/7_translation/custom_content.content.ts
  examples/cli/src/7_translation/multiple_locales.content.ts
  examples/cli/src/7_translation/react_content.content.tsx
  examples/cli/src/7_translation/react_fragment_content.content.tsx
  examples/cli/src/8_enumeration/enumeration.content.ts
  examples/cli/tsconfig.json
Due: prettier --write, eslint --fix --cache

chore: update package versions to 6.0.2-canary.0 across all modules
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/vite.config.ts
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

chore: update package versions to 6.0.2 across all modules
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

test(cli): mock getExtension function in CLI tests
  packages/@intlayer/cli/src/cli.test.ts
Due: prettier --write, eslint --fix --cache

doc: add global configuration section for auto-fill feature in documentation
  docs/docs/en/autoFill.md
  docs/docs/en/releases/v6.md
Due: prettier --write

doc: clarify auto-fill configuration behavior in documentation
  docs/docs/en/autoFill.md
  docs/docs/en/releases/v6.md
Due: prettier --write
