Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(design-system): enhance theme configuration and color resolution logic
  apps/website-tanstack/src/components/BackgroundLayout/index.tsx
  apps/website-tanstack/src/components/LandingPage/HeroSection/index.tsx
  apps/website/src/components/BackgroundLayout/index.tsx
  packages/@intlayer/design-system/src/components/Pattern/GridDistortionPattern.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update disavow list
  apps/website/public/disavow.txt
Due: none

refactor(apps): improve BackgroundLayout
  apps/app/src/components/BackgroundLayout/index.tsx
  apps/showcase/src/components/BackgroundLayout/index.tsx
  apps/website-tanstack/src/components/BackgroundLayout/index.tsx
  apps/website/src/components/BackgroundLayout/index.tsx
  packages/@intlayer/design-system/src/components/LanguageBackground/LanguageBackground.tsx
  packages/@intlayer/design-system/src/hooks/useIsMounted.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): update package manager detection and CLI initialization logic
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/plugins/sync-json.json
  bun.lock
  packages/@intlayer/chokidar/src/init/index.ts
  packages/@intlayer/chokidar/src/init/utils/packageManager.test.ts
  packages/@intlayer/chokidar/src/init/utils/packageManager.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/init.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(next-intl): implement request-scoped locale caching to enable dynamic rendering compatibility with next-intl
  compat/next-intl/src/client/NextIntlClientProvider.tsx
  compat/next-intl/src/server/getLocale.ts
  compat/next-intl/src/server/requestLocale.test.ts
  compat/next-intl/src/server/requestLocaleCache.ts
  compat/next-intl/src/server/setRequestLocale.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs(compat): update and standardize internationalized documentation and blog posts across multiple locales
  compat/i18next/package.json
  compat/i18next/tsdown.config.ts
  compat/lingui/package.json
  compat/lingui/tsdown.config.ts
  compat/next-i18next/package.json
  compat/next-i18next/tsdown.config.ts
  compat/next-intl/package.json
  compat/next-intl/tsdown.config.ts
  compat/react-i18next/package.json
  compat/react-i18next/tsdown.config.ts
  compat/react-intl/package.json
  compat/react-intl/tsdown.config.ts
  compat/use-intl/package.json
  compat/use-intl/tsdown.config.ts
  compat/vue-i18n/package.json
  compat/vue-i18n/tsdown.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(chokidar): add splitKeys option to syncJSON config to support next-intl/use-intl namespace model
  packages/@intlayer/chokidar/src/init/index.ts
  packages/@intlayer/chokidar/src/init/utils/configManipulation.test.ts
  packages/@intlayer/chokidar/src/init/utils/configManipulation.ts
  packages/@intlayer/chokidar/src/init/utils/packageManager.test.ts
  packages/@intlayer/chokidar/src/init/utils/packageManager.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: improve Russian translations
  apps/app/src/components/Auth/MagicLinkButton/magicLinkButton.content.ts
  apps/app/src/components/ChatBot/formSection.content.ts
  apps/website/src/app/[locale]/(docs)/doc/chat/page.content.ts
  apps/website/src/components/ChatBot/formSection.content.ts
  apps/website/src/components/DocPage/ContributionMessage/index.content.ts
  apps/website/src/components/DocPage/History/docHistory.content.ts
  apps/website/src/components/DocPage/MCPMessage/index.content.ts
  apps/website/src/components/DocPage/SummarizeAI/summarizeAI.content.ts
  apps/website/src/components/DocPage/docNavList.content.ts
  apps/website/src/components/Navbar/navbar.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): implement framework-specific initialization adapters for init script
  compat/next-intl/src/client/NextIntlClientProvider.tsx
  packages/@intlayer/chokidar/src/init/frameworkSetup/index.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/nextAppRouter/adapter.test.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/nextAppRouter/detect.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/nextAppRouter/index.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/nextAppRouter/restructure.test.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/nextAppRouter/restructure.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/nextAppRouter/templates.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/nextAppRouter/transforms.test.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/nextAppRouter/transforms.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/tanstackStart/adapter.test.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/tanstackStart/detect.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/tanstackStart/index.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/tanstackStart/restructure.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/tanstackStart/templates.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/tanstackStart/transforms.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/types.ts
  packages/@intlayer/chokidar/src/init/index.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/init.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): update doc sidebar to include packages outputs
  apps/website-tanstack/src/components/DocPage/docData.content.ts
  apps/website/src/components/DocPage/docData.content.ts
  docs/src/generated/docs.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(backend): update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/angular-intlayer/exports.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/angular-intlayer/usePathname.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/next-intlayer/usePathname.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/preact-intlayer/usePathname.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/react-intlayer/usePathname.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/solid-intlayer/usePathname.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/svelte-intlayer/usePathname.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/vue-intlayer/usePathname.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): improve text truncation and container sizing in I18nBenchmark components
  apps/website-tanstack/src/components/I18nBenchmark/LibCard.tsx
  apps/website-tanstack/src/components/I18nBenchmark/index.tsx
  apps/website/src/components/I18nBenchmark/LibCard.tsx
  apps/website/src/components/I18nBenchmark/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): clean up imports in markdown components and update code block styling
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/MarkdownWrapper.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update disavow
  apps/website/public/disavow.txt
Due: none

feat(website): sort benchmark libraries by popularity and improve grid layout responsiveness with flexbox
  apps/website-tanstack/src/components/I18nBenchmark/LibCard.tsx
  apps/website-tanstack/src/components/I18nBenchmark/index.tsx
  apps/website/src/components/I18nBenchmark/LibCard.tsx
  apps/website/src/components/I18nBenchmark/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: replace clsx and tailwind-merge with cnfast utility in design system
  bun.lock
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/src/utils/cn.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: examples/nuxt-4-app/package.json to reduce vulnerabilities
  examples/nuxt-4-app/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

style(website): update CTASection text color classes for improved contrast and consistency
  apps/website-tanstack/src/components/TranslationLandingPage/CTASection.tsx
  apps/website/src/components/TranslationLandingPage/CTASection.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: upgrade hono to 4.12.27 and @hono/node-server to 2.0.6
  bun.lock
  examples/hono-app/package.json
  packages/hono-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(chokidar): remove wrong CLI link in skills
  packages/@intlayer/chokidar/src/installSkills/skills/cli.md
Due: prettier --write

fix(compat): fix cjs output for nextjs compat
  compat/next-i18next/package.json
  compat/next-i18next/tsdown.config.ts
  compat/next-intl/package.json
  compat/next-intl/tsdown.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(cli): update init script
  packages/@intlayer/chokidar/src/cli.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/nextAppRouter/transforms.test.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/nextAppRouter/transforms.ts
  packages/@intlayer/chokidar/src/init/index.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/init.ts
  packages/@intlayer/cli/src/initBuildOptimization.ts
  packages/@intlayer/cli/src/initCompiler.ts
  packages/@intlayer/cli/src/initMCP.ts
  packages/@intlayer/cli/src/initSkills.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(chokidar): update init script
  packages/@intlayer/chokidar/src/cli.ts
  packages/@intlayer/chokidar/src/init/index.ts
  packages/@intlayer/chokidar/src/init/utils/index.ts
  packages/@intlayer/chokidar/src/init/utils/nextCompilerBabel.test.ts
  packages/@intlayer/chokidar/src/init/utils/nextCompilerBabel.ts
  packages/@intlayer/cli/src/init.ts
  packages/@intlayer/cli/src/initBuildOptimization.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(chokidar): update disavow list
  apps/website/public/disavow.txt
Due: none

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
