Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

feat(chokidar): rename compiler folder in transformFiles
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/transformFiles/extractDictionaryKey.ts
  packages/@intlayer/chokidar/src/transformFiles/extractIntlayer.test.ts
  packages/@intlayer/chokidar/src/transformFiles/index.ts
  packages/@intlayer/chokidar/src/transformFiles/transformFiles.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): enhance import handling in transformFiles and update detectFormatCommand to use baseDir
  packages/@intlayer/chokidar/src/transformFiles/transformFiles.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/detectFormatCommand.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar): handle errors in format command execution within transformFiles
  packages/@intlayer/chokidar/src/transformFiles/transformFiles.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(readme): add Bounties badge to README for visibility
  README.md
Due: prettier --write

feat(chokidar): add listDictionariesWithStats function and update imports in prepareIntlayer
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/listDictionariesPath.ts
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(vite-react-app): comment out contentDir in intlayer.config.ts to prevent unintended directory usage
  examples/vite-react-app/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar): handle potential errors when retrieving sentinel stats in prepareIntlayer
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): remove unnecessary blank line in prepareIntlayer function
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): update dependencies and add new Svelte and Vue test components
  bun.lock
  examples/vite-svelte-app/src/Test.svelte
  examples/vite-svelte-app/src/Test2.svelte
  examples/vite-vue-app/src/Test.vue
  examples/vite-vue-app/src/Test2.vue
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
  packages/@intlayer/chokidar/src/transformFiles/transformFiles.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(chokidar): introduce Svelte and Vue transformers for string extraction and update dependencies
  bun.lock
  packages/@intlayer/chokidar/src/transformFiles/transformFiles.ts
  plugins/svelte-transformer/.npmignore
  plugins/svelte-transformer/README.md
  plugins/svelte-transformer/package.json
  plugins/svelte-transformer/src/index.ts
  plugins/svelte-transformer/tsconfig.json
  plugins/svelte-transformer/tsconfig.types.json
  plugins/svelte-transformer/tsdown.config.ts
  plugins/svelte-transformer/vitest.config.ts
  plugins/vue-transformer/.npmignore
  plugins/vue-transformer/README.md
  plugins/vue-transformer/package.json
  plugins/vue-transformer/src/index.ts
  plugins/vue-transformer/tsconfig.json
  plugins/vue-transformer/tsconfig.types.json
  plugins/vue-transformer/tsdown.config.ts
  plugins/vue-transformer/vitest.config.ts
  scripts/package-build-order.mjs
  utils/tsdown-config/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(chokidar): enhance component processing with save options for React, Vue, and Svelte transformers
  docs/docs/en/cli/index.md
  packages/@intlayer/chokidar/src/transformFiles/transformFiles.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/transform.ts
  plugins/svelte-transformer/src/index.ts
  plugins/vue-transformer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(blog): add new article on Compiler vs. Declarative i18n, discussing architectural trade-offs and best practices for internationalization in web applications
  docs/blog/en/compiler_vs_declarative_i18n.md
Due: prettier --write

feat(docs): add multilingual support for new CLI documentation files, enhancing accessibility across various languages
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/compiler_vs_declarative_i18n.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/build.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/configuration.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/debug.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/doc-review.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/doc-translate.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/editor.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/fill.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/index.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/list.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/live.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/pull.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/push.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/sdk.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/test.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/transform.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/version.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/watch.json
  docs/src/generated/blog.entry.ts
  docs/src/generated/docs.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update Dockerfiles to exclude 'plugins' directory from build context
  apps/backend/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/design-system/Dockerfile
Due: none

feat(docs): add sub-sections to CLI documentation for improved organization and navigation
  apps/website/src/components/DocPage/docData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(docs): remove 'intl' from .gitignore examples across multiple language documentation files
  docs/blog/ar/intlayer_with_next-i18next.md
  docs/blog/ar/intlayer_with_vue-i18n.md
  docs/blog/de/intlayer_with_next-i18next.md
  docs/blog/de/intlayer_with_vue-i18n.md
  docs/blog/en-GB/intlayer_with_next-i18next.md
  docs/blog/en-GB/intlayer_with_vue-i18n.md
  docs/blog/en/intlayer_with_next-i18next.md
  docs/blog/en/intlayer_with_vue-i18n.md
  docs/blog/es/intlayer_with_next-i18next.md
  docs/blog/es/intlayer_with_vue-i18n.md
  docs/blog/fr/intlayer_with_next-i18next.md
  docs/blog/fr/intlayer_with_vue-i18n.md
  docs/blog/hi/intlayer_with_next-i18next.md
  docs/blog/hi/intlayer_with_vue-i18n.md
  docs/blog/id/intlayer_with_next-i18next.md
  docs/blog/id/intlayer_with_vue-i18n.md
  docs/blog/it/intlayer_with_next-i18next.md
  docs/blog/it/intlayer_with_vue-i18n.md
  docs/blog/ja/intlayer_with_next-i18next.md
  docs/blog/ja/intlayer_with_vue-i18n.md
  docs/blog/ko/intlayer_with_next-i18next.md
  docs/blog/ko/intlayer_with_vue-i18n.md
  docs/blog/pl/intlayer_with_next-i18next.md
  docs/blog/pl/intlayer_with_vue-i18n.md
  docs/blog/pt/intlayer_with_next-i18next.md
  docs/blog/pt/intlayer_with_vue-i18n.md
  docs/blog/ru/intlayer_with_next-i18next.md
  docs/blog/ru/intlayer_with_vue-i18n.md
  docs/blog/tr/intlayer_with_next-i18next.md
  docs/blog/tr/intlayer_with_vue-i18n.md
  docs/blog/vi/intlayer_with_next-i18next.md
  docs/blog/vi/intlayer_with_vue-i18n.md
  docs/blog/zh/intlayer_with_next-i18next.md
  docs/blog/zh/intlayer_with_vue-i18n.md
Due: prettier --write

feat(docs): enhance autofill documentation with detailed command modes and behavior explanations
  docs/docs/en/autoFill.md
  packages/@intlayer/cli/src/fill/fill.ts
  packages/@intlayer/cli/src/fill/formatFillData.ts
  packages/@intlayer/cli/src/fill/listTranslationsTasks.ts
  packages/@intlayer/cli/src/fill/translateDictionary.ts
  packages/@intlayer/cli/src/fill/writeFill.ts
  packages/@intlayer/cli/src/test/index.ts
  packages/@intlayer/cli/src/test/listMissingTranslations.ts
  packages/@intlayer/cli/src/test/test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update publish scripts in package.json files to include public access for canary and latest tags across multiple packages
  apps/backend/package.json
  docs/package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/types/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/astro-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: correct grammatical error in setupAI.ts documentation regarding Intlayer server dependency
  packages/@intlayer/cli/src/utils/setupAI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(ai): add reasoning effort type and refactor AI model selection logic
  packages/@intlayer/ai/src/aiSdk.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/utils/setupAI.ts
  packages/@intlayer/types/src/config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): remove ai package exclusion from Dockerfile to streamline image build
  apps/website/Dockerfile
Due: none

docs(configuration): add note on passing additional parameters to AI model for enhanced context
  docs/docs/en/configuration.md
Due: prettier --write

chore: update prepublish and publish scripts in package.json files to improve README handling and add public access for canary and latest tags across multiple plugins
  package.json
  plugins/svelte-transformer/package.json
  plugins/sync-json-plugin/package.json
  plugins/vue-transformer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(docs): add "Extract Content" feature to VS Code extension documentation across multiple languages
  docs/docs/ar/vs_code_extension.md
  docs/docs/de/vs_code_extension.md
  docs/docs/en-GB/vs_code_extension.md
  docs/docs/en/vs_code_extension.md
  docs/docs/es/vs_code_extension.md
  docs/docs/fr/vs_code_extension.md
  docs/docs/hi/vs_code_extension.md
  docs/docs/id/vs_code_extension.md
  docs/docs/it/vs_code_extension.md
  docs/docs/ja/vs_code_extension.md
  docs/docs/ko/vs_code_extension.md
  docs/docs/pl/vs_code_extension.md
  docs/docs/pt/vs_code_extension.md
  docs/docs/ru/vs_code_extension.md
  docs/docs/tr/vs_code_extension.md
  docs/docs/vi/vs_code_extension.md
  docs/docs/zh/vs_code_extension.md
Due: prettier --write

fix(chokidar): remove error handling for non-ENOENT errors in writeFileWithDirectories function
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(docs): add bundle optimization documentation in multiple languages and update related files
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/bundle_optimization.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/vs_code_extension.json
  apps/website/src/components/DocPage/docData.content.ts
  docs/docs/ar/bundle_optimization.md
  docs/docs/de/bundle_optimization.md
  docs/docs/en-GB/bundle_optimization.md
  docs/docs/en/bundle_optimization.md
  docs/docs/en/configuration.md
  docs/docs/es/bundle_optimization.md
  docs/docs/fr/bundle_optimization.md
  docs/docs/hi/bundle_optimization.md
  docs/docs/id/bundle_optimization.md
  docs/docs/it/bundle_optimization.md
  docs/docs/ja/bundle_optimization.md
  docs/docs/ko/bundle_optimization.md
  docs/docs/pl/bundle_optimization.md
  docs/docs/pt/bundle_optimization.md
  docs/docs/ru/bundle_optimization.md
  docs/docs/tr/bundle_optimization.md
  docs/docs/vi/bundle_optimization.md
  docs/docs/zh/bundle_optimization.md
  docs/src/generated/docs.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(docs): add Table of Contents to bundle optimization and how it works documentation in multiple languages
  docs/docs/ar/bundle_optimization.md
  docs/docs/de/bundle_optimization.md
  docs/docs/de/how_works_intlayer.md
  docs/docs/en-GB/bundle_optimization.md
  docs/docs/en-GB/how_works_intlayer.md
  docs/docs/en/bundle_optimization.md
  docs/docs/en/how_works_intlayer.md
  docs/docs/es/bundle_optimization.md
  docs/docs/es/how_works_intlayer.md
  docs/docs/fr/bundle_optimization.md
  docs/docs/fr/how_works_intlayer.md
  docs/docs/hi/bundle_optimization.md
  docs/docs/id/bundle_optimization.md
  docs/docs/id/how_works_intlayer.md
  docs/docs/it/bundle_optimization.md
  docs/docs/it/how_works_intlayer.md
  docs/docs/ja/bundle_optimization.md
  docs/docs/ko/bundle_optimization.md
  docs/docs/pl/bundle_optimization.md
  docs/docs/pl/how_works_intlayer.md
  docs/docs/pt/bundle_optimization.md
  docs/docs/pt/how_works_intlayer.md
  docs/docs/ru/bundle_optimization.md
  docs/docs/tr/bundle_optimization.md
  docs/docs/tr/how_works_intlayer.md
  docs/docs/vi/bundle_optimization.md
  docs/docs/zh/bundle_optimization.md
Due: prettier --write

feat(next-intlayer): enhance logging for SWC plugin availability check with installation recommendation
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(docs): standardize table formatting for bundle optimization options across multiple languages
  docs/docs/ar/bundle_optimization.md
  docs/docs/de/bundle_optimization.md
  docs/docs/en-GB/bundle_optimization.md
  docs/docs/en/bundle_optimization.md
  docs/docs/es/bundle_optimization.md
  docs/docs/fr/bundle_optimization.md
  docs/docs/hi/bundle_optimization.md
  docs/docs/id/bundle_optimization.md
  docs/docs/it/bundle_optimization.md
  docs/docs/ja/bundle_optimization.md
  docs/docs/ko/bundle_optimization.md
  docs/docs/pl/bundle_optimization.md
  docs/docs/pt/bundle_optimization.md
  docs/docs/ru/bundle_optimization.md
  docs/docs/tr/bundle_optimization.md
  docs/docs/vi/bundle_optimization.md
  docs/docs/zh/bundle_optimization.md
Due: prettier --write

fix(cli): fix fill script for json-sync
  bun.lock
  examples/json-sync/intlayer.config.ts
  examples/json-sync/locales/en/about.json
  examples/json-sync/locales/en/common.json
  examples/json-sync/locales/en/home.json
  examples/json-sync/locales/es/about.json
  examples/json-sync/locales/es/common.json
  examples/json-sync/locales/es/home.json
  examples/json-sync/package.json
  examples/json-sync/src/app/[locale]/(home)/layout.tsx
  examples/json-sync/src/app/[locale]/(home)/page.tsx
  examples/json-sync/src/app/[locale]/about/layout.tsx
  examples/json-sync/src/app/[locale]/about/page.tsx
  examples/json-sync/src/app/[locale]/layout.tsx
  examples/json-sync/src/app/favicon.ico
  examples/json-sync/src/app/globals.css
  examples/json-sync/src/app/layout.tsx
  examples/json-sync/src/app/robots.ts
  examples/json-sync/src/app/sitemap.ts
  examples/json-sync/src/components/ClientComponent.tsx
  examples/json-sync/src/components/LocaleSwitcher.tsx
  examples/json-sync/src/components/ServerComponent.tsx
  examples/json-sync/src/i18n.ts
  examples/json-sync/src/proxy.ts
  examples/json-sync/tsconfig.json
  examples/vite-react-app/intlayer.config.ts
  packages/@intlayer/cli/src/fill/formatAutoFilledFilePath.ts
  packages/@intlayer/cli/src/fill/listTranslationsTasks.ts
  packages/@intlayer/cli/src/fill/translateDictionary.ts
  packages/@intlayer/cli/src/fill/writeFill.ts
  packages/@intlayer/core/src/deepTransformPlugins/getMissingLocalesContent.test.ts
  packages/@intlayer/core/src/deepTransformPlugins/getMissingLocalesContent.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(docs): move bundle optimization documentation to a new location while preserving multilingual support
  apps/website/src/components/DocPage/docData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(docs): update dynamic dictionary import paths in bundle optimization documentation for multilingual support
  docs/docs/ar/bundle_optimization.md
  docs/docs/de/bundle_optimization.md
  docs/docs/en-GB/bundle_optimization.md
  docs/docs/en/bundle_optimization.md
  docs/docs/es/bundle_optimization.md
  docs/docs/fr/bundle_optimization.md
  docs/docs/hi/bundle_optimization.md
  docs/docs/id/bundle_optimization.md
  docs/docs/it/bundle_optimization.md
  docs/docs/ja/bundle_optimization.md
  docs/docs/ko/bundle_optimization.md
  docs/docs/pl/bundle_optimization.md
  docs/docs/pt/bundle_optimization.md
  docs/docs/ru/bundle_optimization.md
  docs/docs/tr/bundle_optimization.md
  docs/docs/vi/bundle_optimization.md
  docs/docs/zh/bundle_optimization.md
Due: prettier --write
