Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(docs): update application template link and version history in intlayer_with_analog.md
  bun.lock
  docs/.!33440!.DS_Store
  docs/docs/ar/intlayer_with_analog.md
  docs/docs/de/intlayer_with_analog.md
  docs/docs/en-GB/intlayer_with_analog.md
  docs/docs/es/intlayer_with_analog.md
  docs/docs/fr/intlayer_with_analog.md
  docs/docs/hi/intlayer_with_analog.md
  docs/docs/id/intlayer_with_analog.md
  docs/docs/it/intlayer_with_analog.md
  docs/docs/ja/intlayer_with_analog.md
  docs/docs/ko/intlayer_with_analog.md
  docs/docs/pl/intlayer_with_analog.md
  docs/docs/pt/intlayer_with_analog.md
  docs/docs/ru/intlayer_with_analog.md
  docs/docs/tr/intlayer_with_analog.md
  docs/docs/uk/intlayer_with_analog.md
  docs/docs/vi/intlayer_with_analog.md
  docs/docs/zh/intlayer_with_analog.md
Due: prettier --write

fix(docs): fix angular.json set up angular
  docs/docs/ar/intlayer_with_angular.md
  docs/docs/de/intlayer_with_angular.md
  docs/docs/en-GB/intlayer_with_angular.md
  docs/docs/en/intlayer_with_angular.md
  docs/docs/es/intlayer_with_angular.md
  docs/docs/fr/intlayer_with_angular.md
  docs/docs/hi/intlayer_with_angular.md
  docs/docs/id/intlayer_with_angular.md
  docs/docs/it/intlayer_with_angular.md
  docs/docs/ja/intlayer_with_angular.md
  docs/docs/ko/intlayer_with_angular.md
  docs/docs/pl/intlayer_with_angular.md
  docs/docs/pt/intlayer_with_angular.md
  docs/docs/ru/intlayer_with_angular.md
  docs/docs/tr/intlayer_with_angular.md
  docs/docs/uk/intlayer_with_angular.md
  docs/docs/vi/intlayer_with_angular.md
  docs/docs/zh/intlayer_with_angular.md
Due: prettier --write

fix(config): improve getAlias function to handle format defaults more robustly
  packages/@intlayer/config/src/alias.ts
  packages/@intlayer/config/src/defaultValues/build.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(angular-intlayer): add support for import attributes syntax in Babel configuration and update dependencies
  bun.lock
  packages/angular-intlayer/package.json
  packages/angular-intlayer/src/webpack/mergeConfig.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(angular-intlayer): bump version to 8.0.6 in package.json and bun.lock
  bun.lock
  packages/angular-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(docs): add custom Webpack builder configuration for Angular serve command across multiple language documentation
  docs/docs/ar/intlayer_with_angular.md
  docs/docs/en-GB/intlayer_with_angular.md
  docs/docs/en/intlayer_with_angular.md
  docs/docs/hi/intlayer_with_angular.md
  docs/docs/id/intlayer_with_angular.md
  docs/docs/it/intlayer_with_angular.md
  docs/docs/ja/intlayer_with_angular.md
  docs/docs/ko/intlayer_with_angular.md
  docs/docs/pl/intlayer_with_angular.md
  docs/docs/pt/intlayer_with_angular.md
  docs/docs/ru/intlayer_with_angular.md
  docs/docs/tr/intlayer_with_angular.md
  docs/docs/uk/intlayer_with_angular.md
  docs/docs/vi/intlayer_with_angular.md
  docs/docs/zh/intlayer_with_angular.md
Due: prettier --write

refactor(markdown): streamline IntlayerMarkdownProvider component by removing unused props and enhancing Link component integration
  apps/app/src/providers/IntlayerMarkdownProvider.tsx
  apps/website/src/providers/IntlayerMarkdownProvider.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(angular-intlayer): update Babel dependencies to latest versions in package.json and bun.lock
  bun.lock
  packages/angular-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(core): enhance ICU and i18next formatters to support HTML content transformation
  packages/@intlayer/core/src/messageFormat/ICU.test.ts
  packages/@intlayer/core/src/messageFormat/ICU.ts
  packages/@intlayer/core/src/messageFormat/i18next.test.ts
  packages/@intlayer/core/src/messageFormat/i18next.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): implement configuration updates for Vite and Next.js, and add utility functions for config manipulation
  packages/@intlayer/chokidar/src/init/index.ts
  packages/@intlayer/chokidar/src/init/utils/configManipulation.test.ts
  packages/@intlayer/chokidar/src/init/utils/configManipulation.ts
  packages/@intlayer/chokidar/src/init/utils/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar): correct expected output for autoDecorateContent and update import statement in transformJSFile tests
  packages/@intlayer/chokidar/src/utils/autoDecorateContent.test.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/transformJSFile.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update dependencies in package.json for mongodb, mongoose, openai, and resend
  apps/backend/package.json
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update @biomejs/biome, turbo, and vite-tsconfig-paths dependencies to latest versions in package.json files
  bun.lock
  package.json
  packages/@intlayer/design-system/package.json
  packages/react-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): update link label formatting and adjust text size for better readability
  apps/website/src/components/DocPage/NavTitles/NavTitles.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): adjust text size in ScrollWell component for improved readability
  apps/website/src/components/DocPage/ScrollWell.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): increase header z-index and adjust text sizes for improved layout consistency
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
  apps/website/src/components/DocPage/NavTitles/NavTitles.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(docs): fix slug consistency
  docs/docs/de/intlayer_with_analog.md
  docs/docs/es/intlayer_with_analog.md
  docs/docs/fr/intlayer_with_analog.md
Due: prettier --write

fix(website): update CodeBlock component to use resolved theme for dark mode styling in TranslationLandingPage sections
  apps/website/src/components/TranslationLandingPage/CTASection.tsx
  apps/website/src/components/TranslationLandingPage/CommandsSection.tsx
  apps/website/src/components/TranslationLandingPage/HeroSection.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update AI provider versions and add Google AI Studio support in documentation
  bun.lock
  docs/docs/ar/configuration.md
  docs/docs/de/cli/extract.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/uk/configuration.md
  docs/docs/vi/configuration.md
  docs/docs/zh/configuration.md
  docs/intlayer.config.ts
  packages/@intlayer/ai/package.json
  packages/@intlayer/ai/src/aiSdk.ts
  packages/@intlayer/types/src/config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: add global configuration instructions for per-locale files in multiple languages
  docs/docs/ar/per_locale_file.md
  docs/docs/de/per_locale_file.md
  docs/docs/en-GB/per_locale_file.md
  docs/docs/es/per_locale_file.md
  docs/docs/fr/per_locale_file.md
  docs/docs/hi/per_locale_file.md
  docs/docs/id/per_locale_file.md
  docs/docs/it/per_locale_file.md
  docs/docs/ja/per_locale_file.md
  docs/docs/ko/per_locale_file.md
  docs/docs/pl/per_locale_file.md
  docs/docs/pt/per_locale_file.md
  docs/docs/ru/per_locale_file.md
  docs/docs/tr/per_locale_file.md
  docs/docs/vi/per_locale_file.md
  docs/docs/zh/per_locale_file.md
  examples/vite-preact-app/src/app.content.tsx
  examples/vite-react-app/src/app.content.tsx
  examples/vite-svelte-app/src/app.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): adjust alignment of buttons in ChatBot FormSection for improved layout
  apps/app/src/components/ChatBot/FormSection.tsx
  apps/website/src/components/ChatBot/FormSection.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(backend): add createDemoDictionaries function and integrate demo data creation in project addition
  apps/backend/src/controllers/project.controller.ts
  apps/backend/src/services/dictionary.service.ts
  apps/backend/src/utils/demoDictionaries.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(docs): add 'agent-skills' documentation and update existing language files with comprehensive setup guides
  apps/website/src/components/DocPage/docData.content.ts
  docs/docs/ar/agent_skills.md
  docs/docs/de/agent_skills.md
  docs/docs/en-GB/agent_skills.md
  docs/docs/en/agent_skills.md
  docs/docs/es/agent_skills.md
  docs/docs/fr/agent_skills.md
  docs/docs/hi/agent_skills.md
  docs/docs/id/agent_skills.md
  docs/docs/it/agent_skills.md
  docs/docs/ja/agent_skills.md
  docs/docs/ko/agent_skills.md
  docs/docs/pl/agent_skills.md
  docs/docs/pt/agent_skills.md
  docs/docs/ru/agent_skills.md
  docs/docs/tr/agent_skills.md
  docs/docs/uk/agent_skills.md
  docs/docs/vi/agent_skills.md
  docs/docs/zh/agent_skills.md
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/installSkills/LICENCE.md
  packages/@intlayer/chokidar/src/installSkills/index.ts
  packages/@intlayer/cli/src/init.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(docs): enhance slug handling in document metadata retrieval for improved matching
  packages/@intlayer/chokidar/src/installSkills/skills/angular.md
  packages/@intlayer/chokidar/src/installSkills/skills/astro.md
  packages/@intlayer/chokidar/src/installSkills/skills/cli.md
  packages/@intlayer/chokidar/src/installSkills/skills/next_js.md
  packages/@intlayer/chokidar/src/installSkills/skills/react.md
  packages/@intlayer/chokidar/src/installSkills/skills/svelte.md
  packages/@intlayer/chokidar/src/installSkills/skills/vue.md
Due: prettier --write

fix(docs): correct configuration file paths in agent skills documentation across multiple languages
  docs/docs/ar/agent_skills.md
  docs/docs/de/agent_skills.md
  docs/docs/en-GB/agent_skills.md
  docs/docs/en/agent_skills.md
  docs/docs/es/agent_skills.md
  docs/docs/fr/agent_skills.md
  docs/docs/hi/agent_skills.md
  docs/docs/id/agent_skills.md
  docs/docs/it/agent_skills.md
  docs/docs/ja/agent_skills.md
  docs/docs/ko/agent_skills.md
  docs/docs/pl/agent_skills.md
  docs/docs/pt/agent_skills.md
  docs/docs/ru/agent_skills.md
  docs/docs/tr/agent_skills.md
  docs/docs/uk/agent_skills.md
  docs/docs/vi/agent_skills.md
  docs/docs/zh/agent_skills.md
Due: prettier --write

fix(docs): update configuration file paths in agent skills documentation for consistency across all languages
  docs/docs/ar/agent_skills.md
  docs/docs/de/agent_skills.md
  docs/docs/en-GB/agent_skills.md
  docs/docs/en/agent_skills.md
  docs/docs/es/agent_skills.md
  docs/docs/fr/agent_skills.md
  docs/docs/hi/agent_skills.md
  docs/docs/id/agent_skills.md
  docs/docs/it/agent_skills.md
  docs/docs/ja/agent_skills.md
  docs/docs/ko/agent_skills.md
  docs/docs/pl/agent_skills.md
  docs/docs/pt/agent_skills.md
  docs/docs/ru/agent_skills.md
  docs/docs/tr/agent_skills.md
  docs/docs/uk/agent_skills.md
  docs/docs/vi/agent_skills.md
  docs/docs/zh/agent_skills.md
Due: prettier --write

feat: add support for 'Trae' platform in skill installation and initialization processes
  packages/@intlayer/chokidar/src/installSkills/index.ts
  packages/@intlayer/cli/src/init.ts
  packages/@intlayer/mcp/src/tools/installSkills.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(docs): remove outdated links from React and Svelte skill documentation
  packages/@intlayer/chokidar/src/installSkills/skills/react.md
  packages/@intlayer/chokidar/src/installSkills/skills/svelte.md
Due: prettier --write

feat: add support for Preact and Solid skills in installation and initialization processes
  packages/@intlayer/chokidar/src/installSkills/index.ts
  packages/@intlayer/chokidar/src/installSkills/skills/preact.md
  packages/@intlayer/chokidar/src/installSkills/skills/react.md
  packages/@intlayer/chokidar/src/installSkills/skills/solid.md
  packages/@intlayer/cli/src/init.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add more platforms to agent skills installation
  packages/@intlayer/chokidar/src/installSkills/index.ts
  packages/@intlayer/cli/src/init.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: update platform detection and installation process with new options and dependencies
  bun.lock
  examples/vite-react-app/src/App.tsx
  packages/@intlayer/cli/package.json
  packages/@intlayer/cli/src/init.ts
  packages/@intlayer/mcp/src/tools/installSkills.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(docs): add Vercel Skill SDK installation instructions to agent skills documentation in multiple languages
  docs/docs/ar/agent_skills.md
  docs/docs/de/agent_skills.md
  docs/docs/en-GB/agent_skills.md
  docs/docs/en/agent_skills.md
  docs/docs/es/agent_skills.md
  docs/docs/fr/agent_skills.md
  docs/docs/hi/agent_skills.md
  docs/docs/id/agent_skills.md
  docs/docs/it/agent_skills.md
  docs/docs/ja/agent_skills.md
  docs/docs/ko/agent_skills.md
  docs/docs/pl/agent_skills.md
  docs/docs/pt/agent_skills.md
  docs/docs/ru/agent_skills.md
  docs/docs/tr/agent_skills.md
  docs/docs/uk/agent_skills.md
  docs/docs/vi/agent_skills.md
  docs/docs/zh/agent_skills.md
Due: prettier --write

feat(docs): rename skill documentation to include 'Intlayer' prefix for consistency across all platforms
  packages/@intlayer/chokidar/src/installSkills/skills/angular.md
  packages/@intlayer/chokidar/src/installSkills/skills/astro.md
  packages/@intlayer/chokidar/src/installSkills/skills/cli.md
  packages/@intlayer/chokidar/src/installSkills/skills/config.md
  packages/@intlayer/chokidar/src/installSkills/skills/content.md
  packages/@intlayer/chokidar/src/installSkills/skills/next_js.md
  packages/@intlayer/chokidar/src/installSkills/skills/preact.md
  packages/@intlayer/chokidar/src/installSkills/skills/react.md
  packages/@intlayer/chokidar/src/installSkills/skills/remote_content.md
  packages/@intlayer/chokidar/src/installSkills/skills/solid.md
  packages/@intlayer/chokidar/src/installSkills/skills/svelte.md
  packages/@intlayer/chokidar/src/installSkills/skills/usage.md
  packages/@intlayer/chokidar/src/installSkills/skills/vue.md
Due: prettier --write

feat(docs): enhance skill documentation with detailed descriptions and metadata for improved clarity and consistency across platforms
  packages/@intlayer/chokidar/src/installSkills/index.ts
  packages/@intlayer/chokidar/src/installSkills/skills/angular.md
  packages/@intlayer/chokidar/src/installSkills/skills/astro.md
  packages/@intlayer/chokidar/src/installSkills/skills/cli.md
  packages/@intlayer/chokidar/src/installSkills/skills/config.md
  packages/@intlayer/chokidar/src/installSkills/skills/content.md
  packages/@intlayer/chokidar/src/installSkills/skills/next_js.md
  packages/@intlayer/chokidar/src/installSkills/skills/preact.md
  packages/@intlayer/chokidar/src/installSkills/skills/react.md
  packages/@intlayer/chokidar/src/installSkills/skills/remote_content.md
  packages/@intlayer/chokidar/src/installSkills/skills/solid.md
  packages/@intlayer/chokidar/src/installSkills/skills/svelte.md
  packages/@intlayer/chokidar/src/installSkills/skills/usage.md
  packages/@intlayer/chokidar/src/installSkills/skills/vue.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
