Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

fix(design-system): increase focus-visible ring size from 2 to 3 for improved accessibility
  packages/@intlayer/design-system/src/components/Button/Button.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(config): add additional headers for i18n-seo-scanner and dashboard routes to enhance routing flexibility
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(config): streamline header configuration for i18n-seo-scanner and dashboard routes to improve routing clarity
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): add storageKey to NextThemesProvider for improved iframe compatibility
  apps/website/src/providers/ThemeProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(backend): update Dockerfile to use node:22-alpine as base image and install bun globally; adjust healthcheck parameters for improved reliability
  apps/backend/Dockerfile
Due: none

feat(i18n): add English (GB) translations for localization analysis and contributors list; enhance browser component with Vietnamese translations
  apps/website/src/app/[locale]/(audit)/i18n-seo-scanner/page.content.ts
  apps/website/src/components/Contributors/contributorsList.content.ts
  apps/website/src/components/Dashboard/Editor/DictionaryLoaderPlayground.tsx
  apps/website/src/components/ScannerPage/localizationAnalyzer.content.ts
  packages/@intlayer/design-system/src/components/Browser/Browser.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(cli): enhance translateDictionary with error handling and success notifications; introduce abort mechanism and limit consecutive errors
  packages/@intlayer/cli/src/fill/translateDictionary.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(dependencies): update bun.lock to reflect changes in package versions and configurations, including @angular-devkit and @babel packages for improved compatibility and performance
  bun.lock
Due: none

chore(dependencies): update vite version to 7.2.2 across all examples and packages for improved performance and compatibility
  bun.lock
  examples/react-router-app/package.json
  examples/vite-preact-app/package.json
  examples/vite-react-app/package.json
  examples/vite-solid-app/package.json
  examples/vite-svelte-app/package.json
  examples/vite-vue-app/package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vue-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(editor): fix theme issue editor
  apps/website/src/components/Dashboard/Editor/IframeController.tsx
  packages/intlayer-editor/client/src/components/Editor/IframeController.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(auth): introduce MagicLinkSignInInput type for improved type safety in signInMagicLink method
  packages/@intlayer/design-system/src/libs/auth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(auth): resolve type inference issues in signInMagicLink method by adjusting input type and return type
  packages/@intlayer/design-system/src/libs/auth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar): comment out checkVersionsConsistency call in prepareIntlayer due to compatibility issues with Next and Webpack
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): bump version to 7.1.7 across all packages for consistency and improvements
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/types/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/astro-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
  plugins/sync-json-plugin/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(config): simplify package imports by changing from an object to an array for improved readability and maintainability
  packages/@intlayer/config/src/utils/checkVersionsConsistency.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(docs): remove intlayerProxy import and update comments for clarity across multiple language files
  docs/docs/ar/intlayer_with_tanstack.md
  docs/docs/de/intlayer_with_tanstack.md
  docs/docs/en-GB/intlayer_with_tanstack.md
  docs/docs/en/intlayer_with_tanstack.md
  docs/docs/es/intlayer_with_tanstack.md
  docs/docs/fr/intlayer_with_tanstack.md
  docs/docs/hi/intlayer_with_tanstack.md
  docs/docs/id/intlayer_with_tanstack.md
  docs/docs/it/intlayer_with_tanstack.md
  docs/docs/ja/intlayer_with_tanstack.md
  docs/docs/ko/intlayer_with_tanstack.md
  docs/docs/pl/intlayer_with_tanstack.md
  docs/docs/pt/intlayer_with_tanstack.md
  docs/docs/ru/intlayer_with_tanstack.md
  docs/docs/tr/intlayer_with_tanstack.md
  docs/docs/vi/intlayer_with_tanstack.md
  docs/docs/zh/intlayer_with_tanstack.md
Due: prettier --write

refactor(backend): update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_tanstack.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(dependencies): update vitest version to 4.0.10 and bump package versions across multiple packages for consistency and improvements
  apps/backend/package.json
  bun.lock
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/types/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/astro-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
  plugins/sync-json-plugin/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(vite-svelte-app): add locale switcher component and update TypeScript configurations for improved internationalization support
  examples/vite-svelte-app/package.json
  examples/vite-svelte-app/src/App.svelte
  examples/vite-svelte-app/src/lib/LocaleSwitcher.svelte
  examples/vite-svelte-app/tsconfig.app.json
  examples/vite-svelte-app/tsconfig.json
  examples/vite-svelte-app/tsconfig.node.json
  examples/vite-vue-app/tsconfig.app.json
  packages/svelte-intlayer/src/client/useIntlayer.ts
  packages/svelte-intlayer/src/client/useLocale.ts
  packages/svelte-intlayer/src/plugins.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(docs): update documentation for Vite and Svelte integration, including new demo code and localization examples
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+svelte.json
  docs/docs/en/intlayer_with_vite+svelte.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(docs): update Vite and Svelte integration examples to use Svelte plugin and add localized content for "Hello World" in multiple languages
  docs/docs/ar/intlayer_with_vite+svelte.md
  docs/docs/de/intlayer_with_vite+svelte.md
  docs/docs/en-GB/intlayer_with_vite+svelte.md
  docs/docs/es/intlayer_with_vite+svelte.md
  docs/docs/fr/intlayer_with_vite+svelte.md
  docs/docs/hi/intlayer_with_vite+svelte.md
  docs/docs/id/intlayer_with_vite+svelte.md
  docs/docs/it/intlayer_with_vite+svelte.md
  docs/docs/ja/intlayer_with_vite+svelte.md
  docs/docs/ko/intlayer_with_vite+svelte.md
  docs/docs/pl/intlayer_with_vite+svelte.md
  docs/docs/pt/intlayer_with_vite+svelte.md
  docs/docs/ru/intlayer_with_vite+svelte.md
  docs/docs/tr/intlayer_with_vite+svelte.md
  docs/docs/vi/intlayer_with_vite+svelte.md
  docs/docs/zh/intlayer_with_vite+svelte.md
Due: prettier --write

fix(svelte-intlayer): change return type to Readable for better reactivity in locale updates
  packages/svelte-intlayer/src/client/useIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar): simplify error handling in runOnce by removing specific error checks
  packages/@intlayer/chokidar/src/utils/runOnce.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(svelte-intlayer): add Intlayer editor components and enhance locale management with new hooks and utilities
  bun.lock
  examples/vite-svelte-app/src/App.svelte
  examples/vite-svelte-app/src/app.content.ts
  examples/vite-svelte-app/src/lib/LocaleSwitcher.svelte
  examples/vite-svelte-app/vite.config.ts
  examples/vite-vue-app/src/components/LocaleSwitcher.vue
  packages/@intlayer/config/src/utils/camelCaseToSentence.ts
  packages/angular-intlayer/src/editor/useCrossFrameMessageListener.ts
  packages/svelte-intlayer/package.json
  packages/svelte-intlayer/src/IntlayerNodeWrapper.svelte
  packages/svelte-intlayer/src/client/IntlayerProvider.svelte
  packages/svelte-intlayer/src/client/intlayerContext.ts
  packages/svelte-intlayer/src/client/useDictionaryDynamic.ts
  packages/svelte-intlayer/src/client/useLocale.ts
  packages/svelte-intlayer/src/client/useLocaleStorage.ts
  packages/svelte-intlayer/src/editor/ContentSelector.svelte
  packages/svelte-intlayer/src/editor/ContentSelectorWrapper.svelte
  packages/svelte-intlayer/src/editor/communicator.ts
  packages/svelte-intlayer/src/editor/dictionariesRecord.ts
  packages/svelte-intlayer/src/editor/editorEnabled.ts
  packages/svelte-intlayer/src/editor/focusDictionary.ts
  packages/svelte-intlayer/src/editor/index.ts
  packages/svelte-intlayer/src/editor/useCrossFrameMessageListener.ts
  packages/svelte-intlayer/src/editor/useCrossFrameState.ts
  packages/svelte-intlayer/src/editor/useEditor.ts
  packages/svelte-intlayer/src/editor/useIframeClickInterceptor.ts
  packages/svelte-intlayer/src/index.ts
  packages/svelte-intlayer/src/plugins.ts
  packages/svelte-intlayer/src/renderIntlayerNode.ts
  packages/vue-intlayer/src/editor/ContentSelectorWrapper.vue
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(svelte-intlayer): implement markdown support with new components and context management for enhanced content rendering
  examples/vite-svelte-app/src/App.svelte
  examples/vite-svelte-app/src/app.content.ts
  packages/svelte-intlayer/src/index.ts
  packages/svelte-intlayer/src/markdown/MarkdownMetadataRenderer.svelte
  packages/svelte-intlayer/src/markdown/MarkdownMetadataWithSelector.svelte
  packages/svelte-intlayer/src/markdown/MarkdownProvider.svelte
  packages/svelte-intlayer/src/markdown/MarkdownRenderer.svelte
  packages/svelte-intlayer/src/markdown/MarkdownWithSelector.svelte
  packages/svelte-intlayer/src/markdown/context.ts
  packages/svelte-intlayer/src/markdown/index.ts
  packages/svelte-intlayer/src/plugins.ts
  packages/svelte-intlayer/src/renderIntlayerNode.ts
  packages/svelte-intlayer/src/setIntlayerMarkdown.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs(doc): add optional steps for rendering Markdown and setting up the Intlayer editor/CMS
  docs/docs/en/intlayer_with_vite+svelte.md
Due: prettier --write

docs(intlayer): enhance documentation with optional steps for localized routing and locale switching in Svelte applications
  docs/docs/en/intlayer_with_vite+svelte.md
Due: prettier --write

refactor(intlayer): update embedding data structure for improved performance and compatibility with Svelte applications
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+svelte.json
  packages/svelte-intlayer/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(svelte-intlayer): update dependencies and configuration for Svelte integration, add new Svelte configuration file, and remove obsolete Vite configuration
  .gitignore
  bun.lock
  package.json
  packages/svelte-intlayer/package.json
  packages/svelte-intlayer/svelte.config.js
  packages/svelte-intlayer/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(svelte-intlayer): update package to make it work on multiple svete version
  packages/svelte-intlayer/package.json
  packages/svelte-intlayer/src/client/intlayerStore.ts
  packages/svelte-intlayer/src/markdown/MarkdownMetadataRenderer.svelte
  packages/svelte-intlayer/src/markdown/MarkdownRenderer.svelte
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(vue-intlayer): fix editor
  bun.lock
  examples/vite-vue-app/src/App.vue
  examples/vite-vue-app/src/routes.ts
  packages/vue-intlayer/src/editor/ContentSelectorWrapper.vue
  packages/vue-intlayer/src/editor/communicator.ts
  packages/vue-intlayer/src/editor/createSharedComposable.ts
  packages/vue-intlayer/src/editor/editorEnabled.ts
  packages/vue-intlayer/src/editor/index.ts
  packages/vue-intlayer/src/editor/installIntlayerEditor.ts
  packages/vue-intlayer/src/editor/useCrossFrameMessageListener.ts
  packages/vue-intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump version to 7.1.9 across all packages
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/types/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/astro-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
  plugins/sync-json-plugin/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump version to 7.1.9 for all packages in bun.lock
  bun.lock
Due: none

docs: update svelte doc translation
  docs/docs/ar/intlayer_with_vite+svelte.md
  docs/docs/de/intlayer_with_vite+svelte.md
  docs/docs/en-GB/intlayer_with_vite+svelte.md
  docs/docs/en/intlayer_with_vite+svelte.md
  docs/docs/es/intlayer_with_vite+svelte.md
  docs/docs/fr/intlayer_with_vite+svelte.md
  docs/docs/hi/intlayer_with_vite+svelte.md
  docs/docs/id/intlayer_with_vite+svelte.md
  docs/docs/it/intlayer_with_vite+svelte.md
  docs/docs/ja/intlayer_with_vite+svelte.md
  docs/docs/ko/intlayer_with_vite+svelte.md
  docs/docs/pl/intlayer_with_vite+svelte.md
  docs/docs/pt/intlayer_with_vite+svelte.md
  docs/docs/ru/intlayer_with_vite+svelte.md
  docs/docs/tr/intlayer_with_vite+svelte.md
  docs/docs/vi/intlayer_with_vite+svelte.md
  docs/docs/zh/intlayer_with_vite+svelte.md
Due: prettier --write

refactor(backend): update aiSdk default models for AI providers
  apps/backend/src/utils/AI/aiSdk.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update dependencies to latest versions in package.json and bun.lock
  apps/backend/package.json
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write
