Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

refactor(fonts): replace Figtree with Inter font across multiple components and styles for consistency
  apps/website/src/app/[locale]/(audit)/layout.tsx
  apps/website/src/app/[locale]/(dashboard)/layout.tsx
  apps/website/src/app/[locale]/(docs)/layout.tsx
  apps/website/src/app/[locale]/(landing)/layout.tsx
  apps/website/src/app/[locale]/(playground)/layout.tsx
  apps/website/src/components/OnboardPage/PaymentStep/PaymentStepForm.tsx
  apps/website/src/layouts/RootHTMLLayout.tsx
  packages/@intlayer/cli/src/auth/login.ts
  packages/@intlayer/design-system/tailwind.css
  packages/intlayer-editor/client/src/index.css
  packages/intlayer-editor/client/src/main.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add experimental package import optimization for @intlayer/design-system
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add proxy for Ahrefs analytics script with enhanced caching control
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): update DemoYoutube component to use Intlayer for content and reduce image caching duration
  apps/website/next.config.ts
  apps/website/src/components/LandingPage/DemoSection/DemoYoutube/index.content.ts
  apps/website/src/components/LandingPage/DemoSection/DemoYoutube/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): simplify YouTube embed URL in DemoYoutube component by removing unnecessary origin parameter
  apps/website/src/components/LandingPage/DemoSection/DemoYoutube/index.content.ts
  apps/website/src/components/LandingPage/DemoSection/DemoYoutube/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(cli): implement graceful shutdown for Intlayer watcher with signal handling and process cleanup
  packages/@intlayer/cli/src/watch.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): remove unused YouTube image host configurations from Next.js config
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): integrate @next/bundle-analyzer for bundle analysis in Next.js configuration
  apps/website/src/assets/google.svg
  apps/website/src/components/DemoPage/assets/dark-screenshot.png
  apps/website/src/components/DemoPage/assets/light-screenshot.png
Due: none

feat(intlayer): export locales and defaultLocale from configuration for internationalization support
  packages/intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): update YouTube embed URL in DemoYoutube component to remove autoplay and controls parameters
  apps/website/src/components/LandingPage/DemoSection/DemoYoutube/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(localization): mark Hebrew locales as RTL in getHTMLTextDir
  packages/@intlayer/core/src/localization/getHTMLTextDir.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(core): replace console.warn with throw new Error for unsupported Intl.DisplayNames in development
  packages/@intlayer/core/src/utils/intl.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(core): enhance getHTMLTextDir function to support additional Arabic dialects and other RTL languages
  packages/@intlayer/core/src/localization/getHTMLTextDir.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(core): update error handling for unsupported Intl.DisplayNames to use console.warn before throwing an error
  packages/@intlayer/core/src/utils/intl.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(docs): add polyfills for React Native and older environments in getLocaleName documentation
  docs/docs/ar/packages/intlayer/getLocaleName.md
  docs/docs/de/packages/intlayer/getLocaleName.md
  docs/docs/en-GB/packages/intlayer/getLocaleName.md
  docs/docs/en/packages/intlayer/getLocaleName.md
  docs/docs/es/packages/intlayer/getLocaleName.md
  docs/docs/fr/packages/intlayer/getLocaleName.md
  docs/docs/hi/packages/intlayer/getLocaleName.md
  docs/docs/id/packages/intlayer/getLocaleName.md
  docs/docs/it/packages/intlayer/getLocaleName.md
  docs/docs/ja/packages/intlayer/getLocaleName.md
  docs/docs/ko/packages/intlayer/getLocaleName.md
  docs/docs/pl/packages/intlayer/getLocaleName.md
  docs/docs/pt/packages/intlayer/getLocaleName.md
  docs/docs/ru/packages/intlayer/getLocaleName.md
  docs/docs/tr/packages/intlayer/getLocaleName.md
  docs/docs/vi/packages/intlayer/getLocaleName.md
  docs/docs/zh/packages/intlayer/getLocaleName.md
  packages/@intlayer/core/src/utils/intl.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(docs): update meta title and description to use raw values in intlayer_with_nuxt documentation across multiple languages
  docs/docs/ar/intlayer_with_nuxt.md
  docs/docs/de/intlayer_with_nuxt.md
  docs/docs/en-GB/intlayer_with_nuxt.md
  docs/docs/en/intlayer_with_nuxt.md
  docs/docs/es/intlayer_with_nuxt.md
  docs/docs/fr/intlayer_with_nuxt.md
  docs/docs/hi/intlayer_with_nuxt.md
  docs/docs/id/intlayer_with_nuxt.md
  docs/docs/it/intlayer_with_nuxt.md
  docs/docs/ja/intlayer_with_nuxt.md
  docs/docs/ko/intlayer_with_nuxt.md
  docs/docs/pl/intlayer_with_nuxt.md
  docs/docs/pt/intlayer_with_nuxt.md
  docs/docs/ru/intlayer_with_nuxt.md
  docs/docs/tr/intlayer_with_nuxt.md
  docs/docs/vi/intlayer_with_nuxt.md
  docs/docs/zh/intlayer_with_nuxt.md
  examples/nuxt-4-app/pages/index.vue
Due: prettier --write

docs: update feature descriptions and images in README and docs/README for improved clarity and consistency
  README.md
  docs/README.md
Due: prettier --write

refactor(admin): replace AdminSidebar with AdminTabBar for improved navigation structure and add localized content for admin panel
  apps/website/src/app/[locale]/(dashboard)/(admin)/layout.tsx
  apps/website/src/components/AdminSidebar/AdminSidebar.tsx
  apps/website/src/components/AdminSidebar/index.ts
  apps/website/src/components/AdminTabBar/AdminTabBar.tsx
  apps/website/src/components/AdminTabBar/adminTabBar.content.ts
  apps/website/src/components/AdminTabBar/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): restructure layout for improved organization and readability in the user edit form
  apps/website/src/components/AdminTabBar/AdminTabBar.tsx
  apps/website/src/components/Dashboard/AdminPage/AdminDiscussions/DiscussionAdminDetail.tsx
  apps/website/src/components/Dashboard/UserForm/UserEditForm.tsx
  packages/@intlayer/design-system/src/components/Command/index.tsx
  packages/@intlayer/design-system/src/components/Form/FormBase.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(backend): configure passkey options with rpID and rpName for enhanced security in authentication
  apps/backend/src/utils/auth/getAuth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(auth): update rpID environment variable to DOMAIN for passkey configuration in authentication
  apps/backend/src/utils/auth/getAuth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Add OpenAI provider options to AI SDK
  packages/@intlayer/ai/src/aiSdk.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Refactor AI options to include baseURL directly
  packages/@intlayer/ai/src/aiSdk.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(core): remove React-specific logic and fix node typing
  bun.lock
  examples/next-15-next-intl-app/next-env.d.ts
  package.json
  packages/@intlayer/core/src/dictionaryManipulator/getNodeType.ts
  packages/@intlayer/core/src/dictionaryManipulator/removeContentNodeByKeyPath.ts
  packages/@intlayer/core/src/dictionaryManipulator/renameContentNodeByKeyPath.ts
  packages/@intlayer/core/src/index.ts
  packages/@intlayer/core/src/interpreter/getTranslation.ts
  packages/@intlayer/core/src/markdown/index.ts
  packages/@intlayer/core/src/markdown/processor.ts
  packages/@intlayer/core/src/markdown/types.ts
  packages/@intlayer/core/src/utils/isValidReactElement.ts
  packages/@intlayer/design-system/src/components/MarkDownRender/processor.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website): remove error raising when fail passkey autofill
  apps/website/src/components/Auth/PassKeyButton/PassKeyButton.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(auth): update container rounded size to 3xl for login, registration, and two-factor authentication pages
  apps/website/src/app/[locale]/(landing)/auth/(not-authenticated)/2fa/page.tsx
  apps/website/src/app/[locale]/(landing)/auth/(not-authenticated)/login/page.tsx
  apps/website/src/app/[locale]/(landing)/auth/(not-authenticated)/register/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(auth): implement SSO configuration retrieval and login functionality for organizations
  apps/backend/src/controllers/organization.controller.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/organization.routes.ts
  apps/backend/src/utils/auth/getAuth.ts
  apps/website/src/components/Auth/PassKeyButton/passkeyButton.content.ts
  apps/website/src/components/Auth/SSOButton/SSOButton.tsx
  apps/website/src/components/Auth/SSOButton/index.ts
  apps/website/src/components/Auth/SSOButton/ssoButton.content.ts
  apps/website/src/components/Auth/SignIn/SignInForm/SignInForm.tsx
  apps/website/src/components/Dashboard/OrganizationForm/DeleteOrganizationModal.tsx
  apps/website/src/components/Dashboard/OrganizationForm/OrganizationEditionForm.tsx
  apps/website/src/components/Dashboard/OrganizationForm/SSO/SSOSettings.tsx
  apps/website/src/components/Dashboard/OrganizationForm/SSO/ssoSettings.content.ts
  packages/@intlayer/api/src/getIntlayerAPI/organization.ts
  packages/@intlayer/api/src/types.ts
  packages/@intlayer/design-system/src/hooks/reactQuery.ts
  packages/@intlayer/design-system/src/hooks/usePersistedStore.ts
  packages/@intlayer/design-system/src/libs/auth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(ai): standardize spacing for baseURL property and streamline its usage in AI provider functions
  packages/@intlayer/ai/src/aiSdk.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): enhance content file naming by incorporating configurable file extensions
  packages/@intlayer/chokidar/src/transformFiles/transformFiles.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(auth): streamline SSO configuration management by removing legacy structures and updating related components
  apps/backend/src/controllers/organization.controller.ts
  apps/backend/src/schemas/organization.schema.ts
  apps/backend/src/types/organization.types.ts
  apps/backend/src/utils/mongoDB/connectDB.ts
  apps/website/src/components/Auth/SSOButton/SSOButton.tsx
  apps/website/src/components/Auth/SSOButton/ssoButton.content.ts
  apps/website/src/components/Dashboard/OrganizationForm/SSO/SSOSettings.tsx
  packages/@intlayer/design-system/src/components/SwitchSelector/index.tsx
  packages/@intlayer/design-system/src/hooks/reactQuery.ts
  packages/@intlayer/design-system/src/libs/auth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(auth): add Microsoft authentication support by including client ID and secret in configuration
  apps/backend/.env.template
  apps/backend/src/utils/auth/getAuth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update Next.js and related dependencies to version 16.1.0
  apps/website/package.json
  bun.lock
  package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(configuration): add baseURL property to configuration documentation across multiple languages
  docs/docs/ar/configuration.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/vi/configuration.md
  docs/docs/zh/configuration.md
Due: prettier --write

refactor(backend): remove unused SSO configuration route from organization routes
  apps/backend/src/routes/organization.routes.ts
  packages/@intlayer/api/src/getIntlayerAPI/organization.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(api): remove unused SSO configuration types from organization API
  packages/@intlayer/api/src/getIntlayerAPI/organization.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs(configuration): enhance application context and baseURL documentation with examples and notes
  docs/docs/en/configuration.md
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(chokidar): implement handling for empty content files and enhance content declaration writing
  packages/@intlayer/chokidar/src/watcher.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeJSFile.ts
  packages/@intlayer/config/src/loadExternalFile/loadExternalFile.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
