Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(engine): update alias resolution to handle relative paths correctly
  packages/@intlayer/engine/src/init/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): implement markdown negotiation and rewriting logic for .md URLs
  apps/website/server/markdownRewrite.test.ts
  apps/website/server/markdownRewrite.ts
  apps/website/server/middleware/0.mdAcceptRewrite.ts
  apps/website/server/middleware/0.mdRawRewrite.ts
  packages/@intlayer/engine/src/installSkills/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(backend): update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/i18n_using_next-i18next.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/i18n_using_next-intl.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_adonisjs.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_elysia.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_express.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_fastify.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_hono.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nestjs.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/elysia-intlayer/exports.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/elysia-intlayer/intlayer.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(api): implement short-lived ingest tokens for analytics events and protect api packages from being pushed on client
  apps/backend/src/controllers/analytics.controller.ts
  apps/backend/src/controllers/publicDictionary.controller.ts
  apps/backend/src/controllers/publicToken.controller.ts
  apps/backend/src/export.ts
  apps/backend/src/index.ts
  apps/backend/src/middlewares/oAuth2.middleware.ts
  apps/backend/src/routes/analytics.routes.ts
  apps/backend/src/routes/public.routes.ts
  apps/backend/src/services/analytics.service.ts
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/analytics.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/index.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/login.json
  apps/backend/src/utils/crypto/publicBrowserToken.test.ts
  apps/backend/src/utils/crypto/publicBrowserToken.ts
  docs/docs/en/analytics.md
  docs/docs/en/cli/index.md
  docs/docs/en/cli/login.md
  packages/@intlayer/analytics/src/core/AnalyticsClient.ts
  packages/@intlayer/analytics/src/core/publicToken.test.ts
  packages/@intlayer/analytics/src/core/publicToken.ts
  packages/@intlayer/analytics/src/core/transport.ts
  packages/@intlayer/analytics/src/core/types.ts
  packages/@intlayer/api/package.json
  packages/@intlayer/api/src/cms/createAuthManager.ts
  packages/@intlayer/api/src/public/createPublicClient.test.ts
  packages/@intlayer/api/src/public/createPublicClient.ts
  packages/@intlayer/api/src/public/index.ts
  packages/@intlayer/config/package.json
  packages/@intlayer/config/src/configFile/buildBrowserConfiguration.ts
  packages/@intlayer/config/src/secrets.browser.ts
  packages/@intlayer/config/src/secrets.test.ts
  packages/@intlayer/config/src/secrets.ts
  packages/@intlayer/design-system/src/api/useAuth/useOAuth2.ts
  packages/@intlayer/design-system/src/api/useIntlayerAPI.ts
  packages/@intlayer/engine/src/writeConfiguration/generateConfigurationContent.test.ts
  packages/@intlayer/engine/src/writeConfiguration/generateConfigurationContent.ts
  packages/@intlayer/mcp/src/tools/api.ts
  packages/next-intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): remove Intlayer CI/CD workflow configuration
  github/workflows/intlayer-ci.yml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: documentation table improvement / added footer status badge
  apps/website-tanstack/src/components/DocPage/DocPageLayout.tsx
  apps/website-tanstack/src/components/LandingPage/index.tsx
  packages/@intlayer/design-system/src/components/Badge/index.tsx
  packages/@intlayer/design-system/src/components/Browser/Browser.tsx
  packages/@intlayer/design-system/src/components/Carousel/index.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/ContentEditorView/TextEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryFieldEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/SaveForm/SaveForm.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/StructureView/StructureView.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/VersionSwitcherDropDown/VersionSwitcher.tsx
  packages/@intlayer/design-system/src/components/Footer/index.tsx
  packages/@intlayer/design-system/src/components/IDE/Code.tsx
  packages/@intlayer/design-system/src/components/IDE/FileList.tsx
  packages/@intlayer/design-system/src/components/Input/Checkbox.tsx
  packages/@intlayer/design-system/src/components/Link/Link.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownIframe.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
  packages/@intlayer/design-system/src/components/Modal/Modal.tsx
  packages/@intlayer/design-system/src/components/Navbar/DesktopNavbar.tsx
  packages/@intlayer/design-system/src/components/RightDrawer/RightDrawer.tsx
  packages/@intlayer/design-system/src/components/Table/SmartTable.tsx
  packages/@intlayer/design-system/src/components/Table/Table.tsx
  packages/@intlayer/design-system/src/components/Terminal/Terminal.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: remove intlayerProxy usage across configurations
  apps/app/vite.config.ts
  apps/showcase/vite.config.ts
  apps/website/vite.config.ts
  examples/react-router-app/vite.config.ts
  examples/react-router-fs-app/vite.config.ts
  examples/tanstack-start-app/vite.config.ts
  examples/tanstack-start-solid-app/vite.config.ts
  examples/vite-lit-app/vite.config.ts
  examples/vite-react-app/vite.config.ts
  examples/vite-solid-app/vite.config.ts
  examples/vite-vanilla-app/vite.config.ts
  examples/vite-vue-app/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): restore staticFunctionMiddleware in server functions for blog, docs, faq, and stripe
  apps/website/src/serverFunctions/blog.ts
  apps/website/src/serverFunctions/docs.ts
  apps/website/src/serverFunctions/faq.ts
  apps/website/src/utils/stripe.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

perf(core): improve dictionary transformation caching and memoization for improved performance
  packages/@intlayer/core/src/interpreter/dictionaryTransformCache.ts
  packages/@intlayer/core/src/interpreter/getDictionary.test.ts
  packages/@intlayer/core/src/interpreter/getDictionary.ts
  packages/@intlayer/core/src/interpreter/getDictionaryAsync.ts
  packages/@intlayer/core/src/interpreter/getIntlayer.ts
  packages/@intlayer/core/src/interpreter/index.ts
  packages/preact-intlayer/src/IntlayerNode.test.tsx
  packages/react-intlayer/src/IntlayerNode.test.tsx
  packages/react-intlayer/src/client/dictionaryMemo.test.tsx
  packages/solid-intlayer/src/client/useDictionary.ts
  packages/solid-intlayer/src/client/useLoadDynamic.test.ts
  packages/solid-intlayer/src/client/useLoadDynamic.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: simplify tanstack meta doc
  docs/docs/ar/intlayer_with_tanstack+solid.md
  docs/docs/ar/intlayer_with_tanstack.md
  docs/docs/de/intlayer_with_tanstack+solid.md
  docs/docs/de/intlayer_with_tanstack.md
  docs/docs/en-GB/intlayer_with_tanstack+solid.md
  docs/docs/en-GB/intlayer_with_tanstack.md
  docs/docs/en/intlayer_with_tanstack+solid.md
  docs/docs/en/intlayer_with_tanstack.md
  docs/docs/es/intlayer_with_tanstack+solid.md
  docs/docs/es/intlayer_with_tanstack.md
  docs/docs/fr/intlayer_with_tanstack+solid.md
  docs/docs/fr/intlayer_with_tanstack.md
  docs/docs/hi/intlayer_with_tanstack+solid.md
  docs/docs/hi/intlayer_with_tanstack.md
  docs/docs/id/intlayer_with_tanstack+solid.md
  docs/docs/id/intlayer_with_tanstack.md
  docs/docs/it/intlayer_with_tanstack+solid.md
  docs/docs/it/intlayer_with_tanstack.md
  docs/docs/ja/intlayer_with_tanstack+solid.md
  docs/docs/ja/intlayer_with_tanstack.md
  docs/docs/ko/intlayer_with_tanstack+solid.md
  docs/docs/ko/intlayer_with_tanstack.md
  docs/docs/pl/intlayer_with_tanstack+solid.md
  docs/docs/pl/intlayer_with_tanstack.md
  docs/docs/pt/intlayer_with_tanstack+solid.md
  docs/docs/pt/intlayer_with_tanstack.md
  docs/docs/ru/intlayer_with_tanstack+solid.md
  docs/docs/ru/intlayer_with_tanstack.md
  docs/docs/tr/intlayer_with_tanstack+solid.md
  docs/docs/tr/intlayer_with_tanstack.md
  docs/docs/uk/intlayer_with_tanstack+solid.md
  docs/docs/uk/intlayer_with_tanstack.md
  docs/docs/vi/intlayer_with_tanstack+solid.md
  docs/docs/vi/intlayer_with_tanstack.md
  docs/docs/zh/intlayer_with_tanstack+solid.md
  docs/docs/zh/intlayer_with_tanstack.md
Due: prettier --write

docs: update CLAUDE.md for conciseness
  CLAUDE.md
  docs/CLAUDE.md
Due: prettier --write

fix(website): restore filter function in Vite config because of bug
  apps/website/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): streamline structured data retrieval and improve server function integration
  apps/app/src/routes/__root.tsx
  apps/app/src/routes/{-$locale}/$.tsx
  apps/app/src/routes/{-$locale}/404.tsx
  apps/app/src/routes/{-$locale}/_dashboard/index.tsx
  apps/app/src/routes/{-$locale}/init.tsx
  apps/app/src/utils/auth.tsx
  apps/app/src/utils/structuredData.ts
  apps/website/scripts/compress-static.ts
  apps/website/src/components/DocPage/DocumentationRender.tsx
  apps/website/src/routes/{-$locale}/_docs/blog/$.tsx
  apps/website/src/routes/{-$locale}/_docs/doc/$.tsx
  apps/website/src/routes/{-$locale}/_docs/doc/chat.tsx
  apps/website/src/routes/{-$locale}/_docs/doc/search.tsx
  apps/website/src/routes/{-$locale}/_docs/frequent-questions/$.tsx
  apps/website/src/routes/{-$locale}/_docs/frequent-questions/index.tsx
  apps/website/src/routes/{-$locale}/_docs/privacy-notice.tsx
  apps/website/src/routes/{-$locale}/_docs/terms-of-service.tsx
  apps/website/src/routes/{-$locale}/_playground/playground.tsx
  apps/website/src/routes/{-$locale}/cms.tsx
  apps/website/src/routes/{-$locale}/contributors.tsx
  apps/website/src/routes/{-$locale}/demo.tsx
  apps/website/src/routes/{-$locale}/i18n-seo-scanner.tsx
  apps/website/src/routes/{-$locale}/index.tsx
  apps/website/src/routes/{-$locale}/tms.tsx
  apps/website/src/routes/{-$locale}/translate.tsx
  apps/website/src/utils/structuredData.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update disavow list
  apps/website/public/disavow.txt
Due: none

chore: update @types/node to version 26.3.0 across multiple packages
  bun.lock
  packages/adonis-intlayer/package.json
  packages/astro-intlayer/package.json
  packages/elysia-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vanilla-intlayer/package.json
  packages/vite-intlayer/package.json
  utils/tsdown-config/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(docs): remove outdated instructions and clarify locale handling in Next.js 15 guide
  docs/docs/fr/intlayer_with_nextjs_15.md
Due: prettier --write

chore: update next-intlayer version to 9.4.0
  bun.lock
  packages/next-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(docs): update deprecation messages for IntlayerClientProvider and IntlayerServerProvider
  packages/next-intlayer/src/client/IntlayerClientProvider.tsx
  packages/next-intlayer/src/server/IntlayerServerProvider.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add framework support for packages section in doc side bar
  apps/website/src/components/DocPage/docData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(design-system): fix link variants
  packages/@intlayer/design-system/src/components/Link/Link.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): update navbar styling
  packages/@intlayer/design-system/src/components/Navbar/DesktopNavbar.tsx
  packages/@intlayer/design-system/styles/themes.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): tweak website styles
  apps/website-tanstack/src/components/BlogPage/template.html
  apps/website-tanstack/src/components/CMSLandingPage/ContentDeliverySection.tsx
  apps/website-tanstack/src/components/ChatBot/ChatBumble.tsx
  apps/website-tanstack/src/components/I18nBenchmark/index.tsx
  apps/website-tanstack/src/components/LandingPage/FeaturesSection/VisualEditorSection/index.tsx
  apps/website-tanstack/src/components/LandingPage/HeroSection/index.tsx
  apps/website-tanstack/src/components/LandingPage/index.tsx
  apps/website-tanstack/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/website-tanstack/src/components/ScannerPage/Analyzer/Form/AnalyzerForm.tsx
  apps/website-tanstack/src/components/ScannerPage/Analyzer/Results/AnalyzerSiteResults.tsx
  apps/website-tanstack/src/components/ScannerPage/RecursiveAuditResults.tsx
  apps/website-tanstack/src/components/ScannerPage/UrlDiscoveryList.tsx
  apps/website-tanstack/src/components/TMSLandingPage/FeaturesSection.tsx
  apps/website-tanstack/src/components/TMSLandingPage/PainPointsSection.tsx
  apps/website-tanstack/src/components/TranslationLandingPage/HeroSection.tsx
  apps/website-tanstack/src/routes/{-$locale}/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): add light rays effect and improve hero section
  apps/website-tanstack/package.json
  apps/website-tanstack/src/components/LandingPage/HeroSection/index.tsx
  apps/website-tanstack/src/components/LightRays.tsx
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(website): clean up website sections
  apps/website-tanstack/src/components/I18nBenchmark/index.tsx
  apps/website-tanstack/src/components/LandingPage/HeroSection/index.tsx
  apps/website-tanstack/src/components/LandingPage/I18nBenchmarkSection/index.tsx
  apps/website-tanstack/src/components/LandingPage/WhyToChoseIntlayerSection/index.tsx
  apps/website-tanstack/src/components/LandingPage/index.tsx
  packages/@intlayer/design-system/src/components/LanguageBackground/LanguageSection.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): main landing switcher
  apps/website-tanstack/src/components/LandingSwitcher.tsx
  apps/website-tanstack/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/website-tanstack/src/routes/{-$locale}/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): redesign FAQ component
  apps/website-tanstack/src/components/LandingPage/CommonQuestionsSection/CommonQuestions.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): improve structured data
  apps/website-tanstack/src/components/LandingPage/CommonQuestionsSection/CommonQuestions.tsx
  apps/website-tanstack/src/components/LandingPage/ProductsSection/index.tsx
  apps/website-tanstack/src/components/LandingPage/WhyToChoseIntlayerSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
