Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

docs: add step into i18next next-intl blogs posts
  docs/blog/ar/i18n_using_next-i18next.md
  docs/blog/ar/i18n_using_next-intl.md
  docs/blog/de/i18n_using_next-i18next.md
  docs/blog/de/i18n_using_next-intl.md
  docs/blog/en-GB/i18n_using_next-i18next.md
  docs/blog/en-GB/i18n_using_next-intl.md
  docs/blog/en/i18n_using_next-i18next.md
  docs/blog/en/i18n_using_next-intl.md
  docs/blog/es/i18n_using_next-i18next.md
  docs/blog/es/i18n_using_next-intl.md
  docs/blog/fr/i18n_using_next-i18next.md
  docs/blog/fr/i18n_using_next-intl.md
  docs/blog/hi/i18n_using_next-i18next.md
  docs/blog/hi/i18n_using_next-intl.md
  docs/blog/id/i18n_using_next-i18next.md
  docs/blog/id/i18n_using_next-intl.md
  docs/blog/it/i18n_using_next-i18next.md
  docs/blog/it/i18n_using_next-intl.md
  docs/blog/ja/i18n_using_next-i18next.md
  docs/blog/ja/i18n_using_next-intl.md
  docs/blog/ko/i18n_using_next-i18next.md
  docs/blog/ko/i18n_using_next-intl.md
  docs/blog/pl/i18n_using_next-i18next.md
  docs/blog/pl/i18n_using_next-intl.md
  docs/blog/pt/i18n_using_next-i18next.md
  docs/blog/pt/i18n_using_next-intl.md
  docs/blog/ru/i18n_using_next-i18next.md
  docs/blog/ru/i18n_using_next-intl.md
  docs/blog/tr/i18n_using_next-i18next.md
  docs/blog/tr/i18n_using_next-intl.md
  docs/blog/uk/i18n_using_next-i18next.md
  docs/blog/uk/i18n_using_next-intl.md
  docs/blog/vi/i18n_using_next-i18next.md
  docs/blog/vi/i18n_using_next-intl.md
  docs/blog/zh/i18n_using_next-i18next.md
  docs/blog/zh/i18n_using_next-intl.md
Due: prettier --write

refactor: clear style, add icons in dashboard, fix design-syste subpackages
  apps/app/src/components/Auth/CliLogin/CliLoginFlow.tsx
  apps/app/src/components/Dashboard/DashboardNavbar/DashboardNavbar.tsx
  apps/app/src/components/Dashboard/OrganizationForm/Members/MembersForm.tsx
  apps/app/src/components/Dashboard/OrganizationForm/OrganizationEditionForm.tsx
  apps/app/src/components/Dashboard/OrganizationForm/Plan/PlanDetails.tsx
  apps/app/src/components/Dashboard/OrganizationForm/SSO/SSOSettings.tsx
  apps/app/src/components/Dashboard/ProfileForm/ConnectedAccounts.tsx
  apps/app/src/components/Dashboard/ProfileForm/ProfileForm.tsx
  apps/app/src/components/Dashboard/ProfileForm/index.ts
  apps/app/src/components/Dashboard/ProjectForm/AccessKey/AccessKeyCreationForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/AccessKey/AccessKeyForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/AutoFillSettings/AutoFillSettings.tsx
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/BuildSettings.tsx
  apps/app/src/components/Dashboard/ProjectForm/Config/ConfigDetails.tsx
  apps/app/src/components/Dashboard/ProjectForm/Members/MembersKeyForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/ProjectEditionForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/ProjectForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/index.tsx
  apps/app/src/components/Dashboard/UserForm/UserDeleteAction.tsx
  apps/app/src/components/OnboardPage/PaymentStep/PaymentStepForm.tsx
  apps/app/src/components/ReviewerDashboardPage/ReviewerOnboarding.tsx
  apps/website-tanstack/src/components/LandingPage/index.tsx
  apps/website-tanstack/src/components/TranslationLandingPage/index.tsx
  apps/website/src/components/LandingPage/LandingSection/index.tsx
  apps/website/src/components/LandingPage/index.tsx
  apps/website/src/components/TranslationLandingPage/index.tsx
  examples/tanstack-start-solid-app/src/components/Header.tsx
  examples/tanstack-start-solid-app/src/components/LocaleSwitcher.tsx
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/src/components/CopyButton/copybutton.stories.tsx
  packages/@intlayer/design-system/src/components/Headers/headers.stories.tsx
  packages/@intlayer/design-system/src/components/HeightResizer/heightresizer.stories.tsx
  packages/@intlayer/design-system/src/components/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(dashboard): implement env management in app
  apps/app/src/components/Dashboard/DashboardNavbar/EnvironmentDropdown.tsx
  apps/app/src/components/Dashboard/DashboardNavbar/index.content.ts
  apps/app/src/components/Dashboard/DashboardSidebar/DashboardSidebar.tsx
  apps/app/src/components/Dashboard/DashboardSidebar/ReviewerMarketplaceBanner.tsx
  apps/app/src/components/Dashboard/DashboardSidebar/dashboardSidebar.content.ts
  apps/app/src/components/Dashboard/ProjectForm/Environments/EnvironmentsForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/Environments/environmentsForm.content.ts
  apps/backend/src/controllers/environment.controller.ts
  apps/backend/src/controllers/project.controller.ts
  apps/backend/src/export.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/environment.routes.ts
  apps/backend/src/routes/paramsSchemas.ts
  apps/backend/src/schemas/dictionary.schema.ts
  apps/backend/src/schemas/project.schema.ts
  apps/backend/src/schemas/session.schema.ts
  apps/backend/src/services/environment.service.ts
  apps/backend/src/services/project.service.ts
  apps/backend/src/services/session.service.ts
  apps/backend/src/types/dictionary.types.ts
  apps/backend/src/types/project.types.ts
  apps/backend/src/types/session.types.ts
  apps/backend/src/utils/auth/getAuth.ts
  apps/backend/src/utils/errors/errorCodes.ts
  apps/backend/src/utils/filtersAndPagination/getDictionaryFiltersAndPagination.ts
  apps/backend/src/utils/mapper/project.ts
  apps/backend/src/utils/mapper/session.ts
  packages/@intlayer/api/src/getIntlayerAPI/project.ts
  packages/@intlayer/cli/src/pull.ts
  packages/@intlayer/cli/src/push/push.ts
  packages/@intlayer/cli/src/pushConfig.ts
  packages/@intlayer/cli/src/utils/selectCmsEnvironment.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/design-system/src/api/hooks/project.ts
  packages/@intlayer/design-system/src/components/Input/Radio.tsx
  packages/@intlayer/design-system/src/components/Input/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(lsp): implement content field lookup for JSON and Oxc-parsed content files
  bun.lock
  packages/@intlayer/chokidar/src/utils/buildComponentFilesList.ts
  packages/@intlayer/config/src/defaultValues/build.ts
  packages/@intlayer/config/src/defaultValues/content.ts
  packages/@intlayer/lsp/package.json
  packages/@intlayer/lsp/src/findFieldInFile.test.ts
  packages/@intlayer/lsp/src/findFieldInFile.ts
  packages/@intlayer/lsp/src/findKeyAtOffset.ts
  packages/@intlayer/lsp/src/findKeyInContentFile.test.ts
  packages/@intlayer/lsp/src/findKeyInContentFile.ts
  packages/@intlayer/lsp/src/findUsageFieldAtOffset.test.ts
  packages/@intlayer/lsp/src/findUsageFieldAtOffset.ts
  packages/@intlayer/lsp/src/index.test.ts
  packages/@intlayer/lsp/src/index.ts
  packages/@intlayer/lsp/src/oxcUtils.ts
  packages/@intlayer/lsp/src/utils.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: add CLAUDE.md architecture documentation
  CLAUDE.md
  apps/app/CLAUDE.md
  apps/backend/CLAUDE.md
  bun.lock
  packages/@intlayer/api/CLAUDE.md
  packages/@intlayer/core/CLAUDE.md
  packages/@intlayer/design-system/CLAUDE.md
  packages/intlayer/CLAUDE.md
Due: prettier --write

refactor(design-system): allow string type for step number and update layout styling for step connector lines
  packages/@intlayer/design-system/src/components/Steps/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): update JSON-LD structured data property and escape characters to prevent injection vulnerabilities
  apps/app/src/structuredData/CreativeWorkHeader.tsx
  apps/showcase/src/structuredData/CreativeWorkHeader.tsx
  apps/website-tanstack/src/structuredData/CreativeWorkHeader.tsx
  apps/website/src/structuredData/CreativeWorkHeader.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: replace chokidar by parcel watcher
  bun.lock
  package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/chokidar/src/watcher.ts
  scripts/script-dev-package-command.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(app): fix tyepscript errors
  apps/app/src/components/Dashboard/Editor/ApplicationNotRunningView/ApplicationNotRunningView.tsx
  apps/app/src/components/Dashboard/Editor/ApplicationNotRunningView/applicationNotRunningView.content.ts
  apps/backend/src/services/ci.service.ts
  apps/backend/src/services/projectAccessKey.service.ts
  apps/backend/src/utils/auth/getAuth.ts
  apps/website-tanstack/src/components/Dashboard/Editor/ApplicationNotRunningView/ApplicationNotRunningView.tsx
  apps/website-tanstack/src/components/Dashboard/Editor/ApplicationNotRunningView/applicationNotRunningView.content.ts
  apps/website/src/components/Dashboard/Editor/ApplicationNotRunningView/ApplicationNotRunningView.tsx
  apps/website/src/components/Dashboard/Editor/ApplicationNotRunningView/applicationNotRunningView.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: optimize Docker image exclusions
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/showcase/Dockerfile
  apps/website-tanstack/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
  scripts/package-build-order.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update LSP integration details in multiple language documentation for VS Code extension
  docs/docs/ar/lsp.md
  docs/docs/de/lsp.md
  docs/docs/en-GB/lsp.md
  docs/docs/en/lsp.md
  docs/docs/es/lsp.md
  docs/docs/fr/lsp.md
  docs/docs/hi/lsp.md
  docs/docs/id/lsp.md
  docs/docs/it/lsp.md
  docs/docs/ja/lsp.md
  docs/docs/ko/lsp.md
  docs/docs/pl/lsp.md
  docs/docs/pt/lsp.md
  docs/docs/ru/lsp.md
  docs/docs/tr/lsp.md
  docs/docs/uk/lsp.md
  docs/docs/vi/lsp.md
  docs/docs/zh/lsp.md
Due: prettier --write

refactor(website): reorganize documentation structure under dev tool section
  apps/website-tanstack/src/components/DocPage/docData.content.ts
  apps/website/src/components/DocPage/docData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(ldp): upgrade vscode-languageserver to v10, delegate definition navigation to extension, and streamline cache invalidation
  bun.lock
  packages/@intlayer/lsp/package.json
  packages/@intlayer/lsp/src/findFieldInFile.ts
  packages/@intlayer/lsp/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(backend): update chunk embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/lsp.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar): fix watcher unsubscription
  packages/@intlayer/chokidar/src/watcher.ts
  packages/@intlayer/cli/src/watch.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(babel): improve null safety and runtime stability by adding optional chaining and checks across babel plugins and utility functions
  packages/@intlayer/babel/src/babel-plugin-intlayer-field-rename.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-optimize.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-usage-analyzer.ts
  packages/@intlayer/babel/src/extractContent/babelProcessor.ts
  packages/@intlayer/babel/src/extractContent/contentWriter.ts
  packages/@intlayer/babel/src/extractContent/processTsxFile.ts
  packages/@intlayer/babel/src/extractContent/utils/detectPackageName.ts
  packages/@intlayer/babel/src/extractContent/utils/extractDictionaryInfo.ts
  packages/@intlayer/babel/src/extractContent/utils/resolveDictionaryKey.ts
  packages/@intlayer/babel/src/extractScriptBlocks.test.ts
  packages/@intlayer/babel/src/extractScriptBlocks.ts
  packages/@intlayer/babel/src/transformers.ts
  packages/@intlayer/lsp/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: remove exclusion of packages/@intlayer/mcp from application Dockerfiles
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/showcase/Dockerfile
  apps/website-tanstack/Dockerfile
  apps/website/Dockerfile
Due: none

feat(lsp): implement LSP diagnostics, completion providers, and hover support for Intlayer dictionaries
  packages/@intlayer/lsp/src/dictionaryUtils.ts
  packages/@intlayer/lsp/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(app): clean style LocaleSwitcher
  apps/app/src/components/LocaleSwitcher/LocaleSwitcher.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(backend): update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_adonisjs.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_analog.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_angular_19.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_angular_21.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_lit.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_preact.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_react.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_svelte.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_vanilla.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_vue.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_create_react_app.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_express.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_fastify.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_hono.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nestjs.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_14.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_15.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_16.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_no_locale_path.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nuxt.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_react_router_v7.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_react_router_v7_fs_routes.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_tanstack+solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_tanstack.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vanilla.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+lit.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+preact.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+react.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+svelte.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+vanilla.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+vue.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website-tanstack): extract and consolidate sitemap and prerender route logic into a centralized utility file
  apps/website-tanstack/src/routes/sitemap[.]xml.ts
  apps/website-tanstack/src/siteRoutes.ts
  apps/website-tanstack/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(design-system): fix tanstack prerendering
  packages/@intlayer/design-system/src/providers/ReactQueryProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): enable prerendering in vite configuration
  apps/app/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website-tanstack): implement template literal type narrowing for localization utilities and add user avatars to members form
  apps/website-tanstack/src/routes/{-$locale}/_docs/frequent-questions/$.tsx
  apps/website-tanstack/src/serverFunctions/faq.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): update dashboard sidebar UI components
  apps/app/src/components/Dashboard/DashboardSidebar/DashboardSidebar.tsx
  apps/app/src/components/Dashboard/DashboardSidebar/dashboardSidebar.content.ts
  apps/app/src/components/Dashboard/ProjectForm/Members/MembersKeyForm.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chore): implement template-literal typing for localized URLs and expose routing configuration to module augmentation
  packages/@intlayer/chokidar/src/createType/createModuleAugmentation.ts
  packages/@intlayer/core/src/localization/getLocaleLang.ts
  packages/@intlayer/core/src/localization/getLocalizedUrl.ts
  packages/@intlayer/core/src/localization/getPathWithoutLocale.ts
  packages/@intlayer/core/src/localization/getPrefix.ts
  packages/@intlayer/design-system/src/libs/auth.ts
  packages/@intlayer/types/src/module_augmentation.ts
  packages/intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(app): update dashboard footer
  apps/app/src/components/Dashboard/DashboardFooter/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(app): update dashboard submit button mt
  apps/app/src/components/Auth/AskResetPassword/AskResetPasswordForm/AskResetPasswordForm.tsx
  apps/app/src/components/Auth/DefinePassword/DefinePasswordForm/DefinePasswordForm.tsx
  apps/app/src/components/Auth/SignIn/SignInForm/SignInForm.tsx
  apps/app/src/components/Auth/SignUp/SignUpForm/SignUpForm.tsx
  apps/app/src/components/Dashboard/OrganizationForm/OrganizationCreationForm.tsx
  apps/app/src/components/Dashboard/OrganizationForm/OrganizationEditionForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/ProjectCreationForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/ProjectEditionForm.tsx
  apps/app/src/components/Dashboard/TagForm/TagCreationForm.tsx
  apps/app/src/components/Dashboard/UserForm/UserEditForm/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(api): isolate environment api
  apps/app/src/components/Dashboard/DashboardNavbar/EnvironmentDropdown.tsx
  apps/backend/.env.template
  packages/@intlayer/api/package.json
  packages/@intlayer/api/src/getIntlayerAPI/environment.ts
  packages/@intlayer/api/src/getIntlayerAPI/index.ts
  packages/@intlayer/api/src/getIntlayerAPI/project.ts
  packages/@intlayer/api/src/index.ts
  packages/@intlayer/design-system/src/api/hooks/environment.ts
  packages/@intlayer/design-system/src/api/hooks/project.ts
  packages/@intlayer/lsp/.env.template
  packages/@intlayer/mcp/.env.template
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(design-system): add Form go to next on enter press
  packages/@intlayer/design-system/src/components/Form/FormBase.tsx
  packages/@intlayer/design-system/src/components/Form/elements/SwitchSelectorElement.tsx
  packages/@intlayer/design-system/src/components/SwitchSelector/SwitchSelector.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
