Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

refactor(app): fix sso setting form
  apps/app/src/components/Dashboard/OrganizationForm/SSO/SSOSettings.tsx
  apps/app/src/components/Dashboard/OrganizationForm/SSO/ssoSettings.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(design-system): fix useIntlayerAPi
  packages/@intlayer/design-system/src/api/index.ts
  packages/@intlayer/design-system/src/api/useIntlayerAPI.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(mcp): add environment management in mcp
  packages/@intlayer/mcp/src/tools/api.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): fix minification of tag-dashboard-page
  apps/app/src/routes/{-$locale}/_dashboard/_editor/_content/route.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update claude.md
  CLAUDE.md
Due: prettier --write

fix(app): disable prerendering to make the build pass
  apps/app/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(core): add maxAge cookie storage attribute
  docs/docs/en/configuration.md
  packages/@intlayer/config/src/configFile/configurationSchema.ts
  packages/@intlayer/config/src/utils/getStorageAttributes.test.ts
  packages/@intlayer/config/src/utils/getStorageAttributes.ts
  packages/@intlayer/core/src/utils/localeStorage.ts
  packages/@intlayer/types/src/config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(app): remove unused content in .content
  apps/app/src/components/Dashboard/DashboardSidebar/dashboardSidebar.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(vite-intlayer): update vite proxy
  packages/nuxt-intlayer/src/runtime/intlayer-middleware.ts
  packages/vite-intlayer/src/intlayerNitroHandler.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(compat): update compat packages
  compat/i18next/src/createInstance.test.ts
  compat/i18next/src/createInstance.ts
  compat/i18next/src/index.ts
  compat/next-i18next/src/appWithTranslation.tsx
  compat/next-i18next/src/index.ts
  compat/next-i18next/src/serverSideTranslations.ts
  compat/next-intl/src/client/NextIntlClientProvider.tsx
  compat/next-intl/src/client/helpers.tsx
  compat/next-intl/src/client/index.ts
  compat/next-intl/src/client/useTranslations.ts
  compat/next-intl/src/routing.test.ts
  compat/next-intl/src/routing.ts
  compat/next-intl/src/server/getMessages.ts
  compat/next-intl/src/server/getTranslations.ts
  compat/react-i18next/package.json
  compat/react-i18next/src/I18nextProvider.tsx
  compat/react-i18next/src/Trans.tsx
  compat/react-i18next/src/helpers.tsx
  compat/react-i18next/src/index.ts
  compat/react-i18next/src/useTranslation.ts
  compat/react-i18next/src/withTranslation.tsx
  compat/vue-i18n/src/createI18n.test.ts
  compat/vue-i18n/src/createI18n.ts
  compat/vue-i18n/src/createInstance.ts
  compat/vue-i18n/src/index.ts
  examples/next-15-next-intl-app/tsconfig.json
  examples/next-i18next-template/intlayer.config.ts
  examples/next-i18next-template/next.config.ts
  examples/next-i18next-template/src/app/[locale]/(home)/page.tsx
  examples/next-i18next-template/src/app/[locale]/about/page.tsx
  examples/next-i18next-template/src/app/[locale]/layout.tsx
  examples/next-i18next-template/src/app/i18n/server.ts
  examples/next-i18next-template/src/components/ClientComponent.tsx
  examples/next-i18next-template/src/components/I18nProvider.tsx
  examples/next-i18next-template/tsconfig.json
  packages/nuxt-intlayer/src/runtime/intlayer-middleware.ts
  scripts/package-build-order.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: update configuration documentation and associated embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/configuration.json
  docs/docs/ar/configuration.md
  docs/docs/bn/configuration.md
  docs/docs/cs/configuration.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/nl/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/uk/configuration.md
  docs/docs/ur/configuration.md
  docs/docs/vi/configuration.md
  docs/docs/zh/configuration.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(vite-intlayer): colorize proxy logs, and update import paths
  packages/@intlayer/cli/src/liveSync.ts
  packages/@intlayer/config/src/utils/getStorageAttributes.ts
  packages/@intlayer/design-system/src/components/Steps/index.tsx
  packages/vite-intlayer/src/intlayerNitroHandler.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(app): constrain PricingCarousel width
  apps/app/src/components/PricingPage/PricingCarousel.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): update Link component
  packages/@intlayer/design-system/src/components/Link/Link.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): rename website app packages
  apps/website-tanstack/package.json
  apps/website/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(design-system): remove button variant logic from Link component
  packages/@intlayer/design-system/src/components/Link/Link.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: upgrade react-router-dom to 7.15.1 across projects
  bun.lock
  examples/react-app/package.json
  examples/vite-react-app/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: update package versions to 8.12.2 across remaining projects
  apps/app/package_mock.json
  apps/backend/package.json
  apps/website/package.json
  apps/website/package_mock.json
  bun.lock
  compat/i18next/package.json
  compat/next-i18next/package.json
  compat/next-intl/package.json
  compat/react-i18next/package.json
  compat/vue-i18n/package.json
  docs/package.json
  examples/hono-app/package.json
  plugins/sync-json-plugin/package.json
  plugins/sync-po-plugin/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(app): update Tauri configuration
  apps/app/src-tauri/tauri.conf.json
  apps/app/tauri.vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): unnecessary vite build dedupe and optimizeDeps configurations
  apps/app/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): fix dynamic import of LanguageSection
  packages/@intlayer/design-system/src/components/LanguageBackground/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): fix link design-system
  packages/@intlayer/design-system/src/components/Link/Link.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(core): formalize markdown compilation API with explicit parse and compile stages across all framework adapters
  packages/angular-intlayer/src/markdown/index.ts
  packages/angular-intlayer/src/markdown/installIntlayerMarkdown.ts
  packages/lit-intlayer/src/markdown/compiler.ts
  packages/lit-intlayer/src/markdown/index.ts
  packages/preact-intlayer/src/markdown/compiler.ts
  packages/preact-intlayer/src/markdown/index.ts
  packages/react-intlayer/src/markdown/MarkdownProvider.tsx
  packages/react-intlayer/src/markdown/MarkdownRenderer.tsx
  packages/react-intlayer/src/markdown/MarkdownRendererPlugin.tsx
  packages/react-intlayer/src/markdown/index.ts
  packages/react-intlayer/src/markdown/processor.test.tsx
  packages/react-intlayer/src/markdown/processor.tsx
  packages/solid-intlayer/src/markdown/compiler.tsx
  packages/solid-intlayer/src/markdown/index.ts
  packages/svelte-intlayer/src/markdown/compiler.ts
  packages/svelte-intlayer/src/markdown/index.ts
  packages/vanilla-intlayer/src/markdown/compiler.ts
  packages/vanilla-intlayer/src/markdown/index.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
  packages/vue-intlayer/src/markdown/MarkdownRenderer.ts
  packages/vue-intlayer/src/markdown/compiler.ts
  packages/vue-intlayer/src/markdown/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website-tanstack): move LanguageBackground component to dedicated file and export LanguageSection from index
  apps/website-tanstack/src/components/TranslationLandingPage/index.tsx
  packages/@intlayer/design-system/src/components/LanguageBackground/LanguageBackground.tsx
  packages/@intlayer/design-system/src/components/LanguageBackground/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(design-system): enhance server-side timeout in ReactQueryProvider management for query garbage collection
  packages/@intlayer/design-system/src/providers/ReactQueryProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): enable prerendering
  apps/app/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(markdown): remove redundant exports and streamline imports across markdown packages
  packages/angular-intlayer/src/markdown/index.ts
  packages/angular-intlayer/src/markdown/installIntlayerMarkdown.ts
  packages/lit-intlayer/src/markdown/compiler.ts
  packages/lit-intlayer/src/markdown/index.ts
  packages/react-intlayer/src/markdown/index.ts
  packages/react-intlayer/src/markdown/processor.tsx
  packages/vanilla-intlayer/src/markdown/compiler.ts
  packages/vanilla-intlayer/src/markdown/index.ts
  packages/vue-intlayer/src/markdown/compiler.ts
  packages/vue-intlayer/src/markdown/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(apps): fix hydration error
  apps/app/src/routes/__root.tsx
  apps/showcase/src/routes/__root.tsx
  apps/website-tanstack/src/routes/__root.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): implement user-prompted session switching in demo routes and update date formatting to use localized hook
  apps/app/src/components/Dashboard/ProjectForm/Environments/environmentsForm.content.ts
  apps/app/src/routes/demo.content.ts
  apps/app/src/routes/demo.tsx
  apps/app/src/routes/{-$locale}/_other/auth/demo.content.ts
  apps/app/src/routes/{-$locale}/_other/auth/demo.tsx
  apps/showcase/src/components/ProjectFocus/ProjectFocus.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): remove unused environment variables across web applications
  apps/website-tanstack/Dockerfile
  apps/website-tanstack/vite.config.ts
  apps/website/Dockerfile
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(docker): replace wget with bun fetch for Docker healthchecks
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/showcase/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

fix(website): improve hydration consistency, update navigation attributes, and refine device detection hooks
  apps/website-tanstack/src/components/BlogPage/BlogNavList.tsx
  apps/website-tanstack/src/components/DocPage/DocNavList.tsx
  apps/website-tanstack/src/components/ThemeSwitcherDropDown/DesktopThemeSwitcher.tsx
  apps/website-tanstack/src/components/ThemeSwitcherDropDown/MobileThemeSwitcher.tsx
  apps/website-tanstack/src/components/ThemeSwitcherDropDown/SwitchThemeSwitcher.tsx
  apps/website/src/components/BlogPage/BlogNavList.tsx
  apps/website/src/components/DocPage/DocNavList.tsx
  packages/@intlayer/design-system/src/hooks/useDevice.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(vite-intlayer): simplify static asset handling in intlayerProxy and add exclusion for API routes in vite config
  apps/app/vite.config.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): ignore unoptimized prop in LibLogo image component to prevent DOM warnings
  apps/website-tanstack/src/components/I18nBenchmark/LibLogo.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
