Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --cache"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

doc: add GitHub stars section to localization comparison articles to emphasize project popularity and community engagement
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en/react-i18next_vs_react-intl_vs_intlayer.md
  docs/blog/en/vue-i18n_vs_intlayer.md
Due: prettier --write

feat(security): add '*.star-history.com' to secureHeaders for enhanced content security policy
  apps/website/next.config.mjs
Due: none

fix(design-system): add scroll-w-auto class to CodeBlock for improved horizontal scrolling
  packages/@intlayer/design-system/src/components/IDE/Code.tsx
Due: prettier --write, eslint --fix --cache

doc(website): made right aside navigation sticky and optimized it for space
  apps/website/src/components/AsideNavigation/AsideNavigation.tsx
Due: prettier --write, eslint --fix --cache

doc(website): made aside navigation navbar rounded
  apps/website/src/components/AsideNavigation/AsideNavigation.tsx
Due: prettier --write, eslint --fix --cache

fix(blog): update blog metadata path for Intlayer with react-i18next
  apps/website/src/components/BlogPage/blogData.content.ts
Due: prettier --write, eslint --fix --cache

refactor(design-system): remove commented styles.css import from tailwind.css
  packages/@intlayer/design-system/src/tailwind.css
Due: none

fix(next-intlayer): update cache directory path from '.next' to '.intlayer' for improved organization
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

chore(doc): remove 'type' field from root package.json and update dependencies in design-system package.json
  docs/package.json
Due: prettier --write

chore(design-system): add @shikijs/transformers dependency to package.json
  packages/@intlayer/design-system/package.json
Due: prettier --write

doc(website): made aside DocNavList smaller and optimized for space
  apps/website/src/components/DocPage/DocNavList.tsx
Due: prettier --write, eslint --fix --cache

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

chore: add dependabot configuration for weekly npm updates
  .github/dependabot.yml
Due: prettier --write

feat(website): update application URLs to use environment variables and add test content files
  apps/website/intlayer.config.ts
  apps/website/src/components/Test/test.content.ts
  apps/website/src/components/Test/test.md
Due: prettier --write, eslint --fix --cache

fix(filters): increase default page size from 100 to 1000 for improved pagination
  apps/backend/src/utils/filtersAndPagination/getFiltersAndPaginationFromBody.ts
Due: prettier --write, eslint --fix --cache

fix(next-intlayer): restore cache directory path from '.intlayer' to '.next' for consistency
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

feat(website): enhance PaymentStepForm to ensure PaymentElement readiness before submission
  apps/website/src/components/OnboardPage/PaymentStep/PaymentStepForm.tsx
Due: prettier --write, eslint --fix --cache

fix(organization): correct function name from getPLanDetails to getPlanDetails and refactor email sending logic in addOrganizationMember
  apps/backend/src/controllers/organization.controller.ts
  apps/backend/src/controllers/project.controller.ts
  apps/backend/src/services/organization.service.ts
  apps/backend/src/utils/plan.ts
  apps/backend/src/utils/validation/validateOrganization.ts
Due: prettier --write, eslint --fix --cache

feat(website): reset form fields for members and admins on organization change
  apps/website/src/components/Dashboard/OrganizationForm/Members/MembersForm.tsx
Due: prettier --write, eslint --fix --cache

feat(website): localize contribution message title in multiple languages
  apps/website/src/components/DocPage/ContributionMessage/index.content.ts
  apps/website/src/components/DocPage/ContributionMessage/index.tsx
  packages/@intlayer/design-system/src/components/Popover/index.tsx
Due: prettier --write, eslint --fix --cache

refactor(website): update locale handling to use LocalesValues across components and utilities
  apps/website/src/components/DocPage/DocBreadCrumb.tsx
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
  apps/website/src/components/DocPage/docData.ts
  apps/website/src/utils/markdown.ts
  packages/@intlayer/config/src/types/locales.ts
  packages/next-intlayer/src/types/NextPage.ts
Due: prettier --write, eslint --fix --cache

chore: bump package versions to 5.8.1 across all modules
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

chore(swc): update intlayer_swc_plugin.wasm binary for wasm32-wasip1 target
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

fix(backend): enhance IP address handling by using ipKeyGenerator for improved security
  apps/backend/src/utils/rateLimiter.ts
Due: prettier --write, eslint --fix --cache

feat(design-system): add GenderTextEditor component and update node type handling in TextEditor
  packages/@intlayer/core/src/dictionaryManipulator/getNodeChildren.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/ContentEditorView/TextEditor.tsx
Due: prettier --write, eslint --fix --cache

fix(website): update Dockerfile to change ownership of the .intlayer directory for improved security
  apps/website/Dockerfile
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

fix(website): update headers configuration to use a function for dynamic header generation
  apps/website/next.config.mjs
Due: none

chore: update Next.js version to 15.5.2 in package.json files across website and example applications
  apps/website/package.json
  examples/nextjs-15-app/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(website): enhance security headers by allowing Vercel app embedding and adding dynamic header configuration for dashboard editor
  apps/website/next.config.mjs
Due: none

feat(website): refactor dashboard headers configuration for improved security and dynamic handling
  apps/website/next.config.mjs
Due: none

refactor(website): comment out previous dashboard headers configuration for future review
  apps/website/next.config.mjs
Due: none

chore(api): remove CLI binary entry from package.json
  packages/@intlayer/api/package.json
Due: prettier --write

fix(website): update application health check logic to ensure accurate status reporting
  apps/website/src/components/Dashboard/Editor/EditorProvider.tsx
Due: prettier --write, eslint --fix --cache

refactor(website): restore dashboard headers configuration for active use
  apps/website/next.config.mjs
Due: none

fix(website): update iframe source to use GitHub.dev and adjust security headers for embedding
  apps/website/next.config.mjs
  apps/website/src/components/LandingPage/DemoSection/DemoCodeSandbox/index.tsx
Due: prettier --write, eslint --fix --cache

fix(website): update file paths in test content to use correct locations
  apps/website/src/components/Test/test.content.ts
Due: prettier --write, eslint --fix --cache

Update dependabot.yml
  .github/dependabot.yml
Due: prettier --write

refactor(website): update search functionality to use React Query for improved data handling
  apps/website/src/components/DocPage/Search/SearchView.tsx
Due: prettier --write, eslint --fix --cache
