Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

refactor(app): remove unused content for tag detail page routing
  apps/app/src/routes/{-$locale}/_dashboard/_editor/_content/tags.$tagKey.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): remove unused content in .content
  apps/app/src/components/Dashboard/AdminPage/AdminProjects/projectsAdminPage.content.ts
  apps/app/src/components/TranslationStatusAside/translationStatusAside.content.ts
  apps/app/src/routes/{-$locale}/_dashboard/_editor/_content/tags.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(app): add border, neutral border color, and padding to TagDetails containers
  apps/app/src/components/Dashboard/TagForm/TagDetails.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): remove unused AdminBreadcrumb component and related content definitions
  apps/website/src/components/AdminBreadcrumb/AdminBreadcrumb.tsx
  apps/website/src/components/AdminBreadcrumb/adminBreadcrumb.content.ts
  apps/website/src/components/AdminBreadcrumb/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): standardize UI components and layouts across user and project management pages
  apps/app/src/components/Dashboard/AdminPage/AdminProjects/ProjectAdminDetailPage.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminUsers/UserAdminDetailPage.tsx
  apps/app/src/components/Dashboard/ProjectForm/ProjectForm.tsx
  apps/app/src/components/Dashboard/UserForm/UserDeleteAction.tsx
  apps/app/src/components/Dashboard/UserForm/UserEditForm/UserHeader.tsx
  apps/app/src/components/Dashboard/UserForm/UserEditForm/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): update Browser component width and adjust text alignment for sitemap links
  packages/@intlayer/design-system/src/components/Browser/Browser.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): enforce string type casting in MongoDB query predicates to ensure consistent lookups
  apps/backend/src/controllers/ai.controller.ts
  apps/backend/src/services/audit/recursiveAudit.service.ts
  apps/backend/src/services/cliSessionToken.service.ts
  apps/backend/src/services/dictionary.service.ts
  apps/backend/src/services/oAuth2.service.ts
  apps/backend/src/services/projectAccessKey.service.ts
  apps/backend/src/services/showcase/showcaseProject.service.ts
  apps/backend/src/services/user.service.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): set default pricing period to Yearly on PricingPage
  apps/app/src/components/PricingPage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): add sticky positioning to dashboard form sidebars and update route definitions
  apps/app/src/components/Dashboard/OrganizationForm/OrganizationForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/ProjectForm.tsx
  apps/app/src/components/Dashboard/UserForm/UserEditForm/index.tsx
  apps/app/src/routeTree.gen.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): expose markdown metadata
  packages/@intlayer/chokidar/src/loadDictionaries/loadMarkdownContentDeclaration.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): fix redirection issue on sign in
  apps/app/src/components/Auth/SignIn/SignInForm/SignInForm.tsx
  apps/app/src/components/Auth/SignIn/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: clarify markdown doc
  apps/app/src/routeTree.gen.ts
  docs/docs/ar/dictionary/markdown.md
  docs/docs/de/dictionary/markdown.md
  docs/docs/en-GB/dictionary/markdown.md
  docs/docs/en/dictionary/markdown.md
  docs/docs/es/dictionary/markdown.md
  docs/docs/fr/dictionary/markdown.md
  docs/docs/hi/dictionary/markdown.md
  docs/docs/id/dictionary/markdown.md
  docs/docs/it/dictionary/markdown.md
  docs/docs/ja/dictionary/markdown.md
  docs/docs/ko/dictionary/markdown.md
  docs/docs/pl/dictionary/markdown.md
  docs/docs/pt/dictionary/markdown.md
  docs/docs/ru/dictionary/markdown.md
  docs/docs/tr/dictionary/markdown.md
  docs/docs/uk/dictionary/markdown.md
  docs/docs/vi/dictionary/markdown.md
  docs/docs/zh/dictionary/markdown.md
  examples/vite-react-app/src/myContent.en.content.md
  examples/vite-react-app/src/myContent.fr.content.md
  packages/lit-intlayer/src/markdown/index.ts
  packages/preact-intlayer/src/markdown/index.ts
  packages/react-intlayer/src/markdown/index.ts
  packages/solid-intlayer/src/markdown/index.ts
  packages/svelte-intlayer/src/markdown/index.ts
  packages/vanilla-intlayer/src/markdown/index.ts
  packages/vue-intlayer/src/markdown/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(chore): prevent void HTML elements from accepting children to avoid rendering errors across all frameworks
  packages/@intlayer/core/src/transpiler/html/validateHTML.ts
  packages/preact-intlayer/src/html/HTMLRenderer.tsx
  packages/react-intlayer/src/html/HTMLRenderer.tsx
  packages/solid-intlayer/src/html/HTMLRenderer.tsx
  packages/vue-intlayer/src/html/HTMLRenderer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(core): update markdown compiler to fix nested codeblock in children MDX component
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/markdown.json
  docs/docs/en/dictionary/markdown.md
  packages/@intlayer/core/src/markdown/compiler.test.ts
  packages/@intlayer/core/src/markdown/compiler.ts
  packages/@intlayer/core/src/markdown/utils.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(app): fix app login blockage
  apps/app/src/components/Auth/SignIn/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(app): fix WithResizer border in dashboard layout
  apps/app/src/routes/{-$locale}/_dashboard/route.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): add user last active organization and project tracking to session restoration and sync logic
  apps/backend/src/controllers/organization.controller.ts
  apps/backend/src/controllers/project.controller.ts
  apps/backend/src/schemas/user.schema.ts
  apps/backend/src/types/user.types.ts
  apps/backend/src/utils/auth/getAuth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): sync editor configuration and restrict text editor locales to user selection
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/ContentEditorView/TextEditor.tsx
  packages/@intlayer/editor-react/src/EditorProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: reorder markdown tabs and add dynamic import comment for bundle optimization
  docs/docs/ar/dictionary/markdown.md
  docs/docs/de/dictionary/markdown.md
  docs/docs/en-GB/dictionary/markdown.md
  docs/docs/en/dictionary/markdown.md
  docs/docs/es/dictionary/markdown.md
  docs/docs/fr/dictionary/markdown.md
  docs/docs/hi/dictionary/markdown.md
  docs/docs/id/dictionary/markdown.md
  docs/docs/it/dictionary/markdown.md
  docs/docs/ko/dictionary/markdown.md
  docs/docs/pl/dictionary/markdown.md
  docs/docs/pt/dictionary/markdown.md
  docs/docs/ru/dictionary/markdown.md
  docs/docs/tr/dictionary/markdown.md
  docs/docs/uk/dictionary/markdown.md
  docs/docs/vi/dictionary/markdown.md
  docs/docs/zh/dictionary/markdown.md
Due: prettier --write

feat(app): enhance application health check error reporting in EditorProvider
  apps/app/src/components/Dashboard/Editor/ApplicationNotRunningView/ApplicationNotRunningView.tsx
  apps/app/src/components/Dashboard/Editor/ApplicationNotRunningView/applicationNotRunningView.content.ts
  apps/app/src/components/Dashboard/Editor/EditorProvider.tsx
  apps/website/src/components/Dashboard/Editor/ApplicationNotRunningView/ApplicationNotRunningView.tsx
  apps/website/src/components/Dashboard/Editor/ApplicationNotRunningView/applicationNotRunningView.content.ts
  apps/website/src/components/Dashboard/Editor/EditorProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(app): update editor UI styles, and remove unused icons
  apps/app/src/components/Dashboard/Editor/EditorLayout.tsx
  apps/app/src/components/Dashboard/Editor/VisualEditorDrawer.tsx
  packages/@intlayer/design-system/src/components/Browser/Browser.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add Suspense guide for lazy-loading markdown content across multiple frameworks
  docs/docs/ar/dictionary/markdown.md
  docs/docs/de/dictionary/markdown.md
  docs/docs/en-GB/dictionary/markdown.md
  docs/docs/en/dictionary/markdown.md
  docs/docs/es/dictionary/markdown.md
  docs/docs/fr/dictionary/markdown.md
  docs/docs/hi/dictionary/markdown.md
  docs/docs/id/dictionary/markdown.md
  docs/docs/it/dictionary/markdown.md
  docs/docs/ko/dictionary/markdown.md
  docs/docs/pl/dictionary/markdown.md
  docs/docs/pt/dictionary/markdown.md
  docs/docs/ru/dictionary/markdown.md
  docs/docs/tr/dictionary/markdown.md
  docs/docs/uk/dictionary/markdown.md
  docs/docs/vi/dictionary/markdown.md
  docs/docs/zh/dictionary/markdown.md
Due: prettier --write

refactor(design-system): introduce UrlPath component for breadcrumb rendering and fix dictionary content access in Browser component
  packages/@intlayer/design-system/src/components/Browser/Browser.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(ai): add @ai-sdk/mcp dependency to @intlayer/ai package
  bun.lock
  packages/@intlayer/ai/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: add MDX support information to markdown dictionary documentation across all languages
  docs/docs/ar/dictionary/markdown.md
  docs/docs/de/dictionary/markdown.md
  docs/docs/en-GB/dictionary/markdown.md
  docs/docs/en/dictionary/markdown.md
  docs/docs/es/dictionary/markdown.md
  docs/docs/fr/dictionary/markdown.md
  docs/docs/hi/dictionary/markdown.md
  docs/docs/id/dictionary/markdown.md
  docs/docs/it/dictionary/markdown.md
  docs/docs/ko/dictionary/markdown.md
  docs/docs/pl/dictionary/markdown.md
  docs/docs/pt/dictionary/markdown.md
  docs/docs/tr/dictionary/markdown.md
  docs/docs/uk/dictionary/markdown.md
  docs/docs/vi/dictionary/markdown.md
  docs/docs/zh/dictionary/markdown.md
Due: prettier --write

docs: add typesafe-i18n into Star History charts
  docs/docs/ar/interest_of_intlayer.md
  docs/docs/bn/interest_of_intlayer.md
  docs/docs/cs/interest_of_intlayer.md
  docs/docs/de/interest_of_intlayer.md
  docs/docs/en-GB/interest_of_intlayer.md
  docs/docs/en/interest_of_intlayer.md
  docs/docs/es/interest_of_intlayer.md
  docs/docs/fr/interest_of_intlayer.md
  docs/docs/hi/interest_of_intlayer.md
  docs/docs/id/interest_of_intlayer.md
  docs/docs/it/interest_of_intlayer.md
  docs/docs/ja/interest_of_intlayer.md
  docs/docs/ko/interest_of_intlayer.md
  docs/docs/nl/interest_of_intlayer.md
  docs/docs/pl/interest_of_intlayer.md
  docs/docs/pt/benchmark/solid.md
  docs/docs/pt/benchmark/svelte.md
  docs/docs/pt/interest_of_intlayer.md
  docs/docs/ru/interest_of_intlayer.md
  docs/docs/tr/interest_of_intlayer.md
  docs/docs/uk/interest_of_intlayer.md
  docs/docs/ur/interest_of_intlayer.md
  docs/docs/vi/interest_of_intlayer.md
  docs/docs/zh-TW/interest_of_intlayer.md
  docs/docs/zh/interest_of_intlayer.md
Due: prettier --write

fix(design-system): update dictionary enumeration rendering
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/ConditionWrapper.tsx
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/EnumerationWrapper.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(webaite): export LanguageSection from LanguageBackground index file
  packages/@intlayer/design-system/src/components/LanguageBackground/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add CMS2 visual asset to documentation
  docs/assets/CMS2.png
Due: none

chore: update Star History chart configuration in internationalized documentation pages
  docs/docs/ar/interest_of_intlayer.md
  docs/docs/bn/interest_of_intlayer.md
  docs/docs/cs/interest_of_intlayer.md
  docs/docs/de/interest_of_intlayer.md
  docs/docs/en-GB/interest_of_intlayer.md
  docs/docs/en/interest_of_intlayer.md
  docs/docs/es/interest_of_intlayer.md
  docs/docs/fr/interest_of_intlayer.md
  docs/docs/hi/interest_of_intlayer.md
  docs/docs/id/interest_of_intlayer.md
  docs/docs/it/interest_of_intlayer.md
  docs/docs/ja/interest_of_intlayer.md
  docs/docs/ko/interest_of_intlayer.md
  docs/docs/nl/interest_of_intlayer.md
  docs/docs/pl/interest_of_intlayer.md
  docs/docs/pt/interest_of_intlayer.md
  docs/docs/ru/interest_of_intlayer.md
  docs/docs/tr/interest_of_intlayer.md
  docs/docs/uk/interest_of_intlayer.md
  docs/docs/ur/interest_of_intlayer.md
  docs/docs/vi/interest_of_intlayer.md
  docs/docs/zh-TW/interest_of_intlayer.md
  docs/docs/zh/interest_of_intlayer.md
Due: prettier --write

fix(chore): fix dynamic pluralization with interpolated values in the content interpreter
  packages/@intlayer/core/src/interpreter/getContent/plugins.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: examples/analog-app/package.json to reduce vulnerabilities
  examples/analog-app/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: examples/nuxt-3-app/package.json to reduce vulnerabilities
  examples/nuxt-3-app/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump version to 8.10.1 across all packages and monorepo
  apps/backend/package.json
  apps/website/package.json
  bun.lock
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/types/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(backend): update embedding
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/interest_of_intlayer.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
