Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

fix(config): add NEXT_PUBLIC_BACKEND_URL to secureHeaders for improved security configuration in app and website
  apps/app/next.config.ts
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(ai): update aiSdk userApiKey and apiKey types to allow undefined values for better flexibility
  packages/@intlayer/ai/src/aiSdk.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(deps): update various dependencies in bun.lock for improved compatibility and performance
  bun.lock
Due: none

fix(ai): enhance error handling and response streaming in askDocQuestion for improved reliability
  apps/backend/src/controllers/ai.controller.ts
  apps/backend/src/utils/AI/askDocQuestion/askDocQuestion.ts
  packages/@intlayer/design-system/src/providers/ReactQueryProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(deps): update package versions in bun.lock
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_14.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_15.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_16.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(deps): update version of @intlayer/fetch-dictionaries-entry and next-intlayer to 7.5.11 in package.json and bun.lock
  bun.lock
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/next-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(react-intlayer): synchronize locale state with prop changes and improve locale resolution logic
  packages/react-intlayer/src/client/IntlayerProvider.tsx
  packages/react-intlayer/src/client/useLocale.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(examples): add Next.js example with no locale path support, including configuration, components, and styles
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_no_locale_path.json
  bun.lock
  docs/tools/translate.ts
  examples/next-no-lolale-path/.gitignore
  examples/next-no-lolale-path/app/favicon.ico
  examples/next-no-lolale-path/app/globals.css
  examples/next-no-lolale-path/app/layout.tsx
  examples/next-no-lolale-path/app/metadata.content.ts
  examples/next-no-lolale-path/app/page.content.ts
  examples/next-no-lolale-path/app/page.tsx
  examples/next-no-lolale-path/components/LocaleSwitcher/LocaleSwitcher.tsx
  examples/next-no-lolale-path/components/LocaleSwitcher/localeSwitcher.content.ts
  examples/next-no-lolale-path/components/LocaleSwitcher/useLocaleSearch.ts
  examples/next-no-lolale-path/components/clientComponentExample/ClientComponentExample.tsx
  examples/next-no-lolale-path/components/clientComponentExample/client-component-example.content.ts
  examples/next-no-lolale-path/components/serverComponentExample/ServerComponentExample.tsx
  examples/next-no-lolale-path/components/serverComponentExample/server-component-example.content.ts
  examples/next-no-lolale-path/intlayer.config.ts
  examples/next-no-lolale-path/next.config.ts
  examples/next-no-lolale-path/package.json
  examples/next-no-lolale-path/postcss.config.mjs
  examples/next-no-lolale-path/proxy.ts
  examples/next-no-lolale-path/public/file.svg
  examples/next-no-lolale-path/public/globe.svg
  examples/next-no-lolale-path/public/next.svg
  examples/next-no-lolale-path/public/vercel.svg
  examples/next-no-lolale-path/public/window.svg
  examples/next-no-lolale-path/tailwind.config.ts
  examples/next-no-lolale-path/tsconfig.json
  packages/next-intlayer/src/proxy/intlayerProxy.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(babel): fix build for react router server function
  examples/react-router-app/app/.server/data.content.ts
  examples/react-router-app/app/.server/data.ts
  examples/react-router-app/app/routes.ts
  examples/react-router-app/app/routes/server/page.content.ts
  examples/react-router-app/app/routes/server/page.tsx
  examples/react-router-app/vite.config.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-optimize.ts
  packages/@intlayer/babel/src/getOptimizePluginOptions.ts
  packages/@intlayer/chokidar/src/utils/buildFilesList.ts
  packages/@intlayer/chokidar/src/utils/getComponentTransformPattern.ts
  packages/@intlayer/core/src/utils/localeStorage.ts
  packages/next-intlayer/src/proxy/intlayerProxy.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(examples): reorganize intlayer-next-no-lolale-path example, update configuration, and improve component structure
  bun.lock
  examples/next-no-lolale-path/components/clientComponentExample/ClientComponentExample.tsx
  examples/next-no-lolale-path/components/serverComponentExample/ServerComponentExample.tsx
  examples/next-no-lolale-path/intlayer.config.ts
  examples/next-no-lolale-path/package.json
  examples/nextjs-15-app/tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(editor): add iframe controller content and integrate editor enable functionality with multilingual support
  apps/website/src/components/Dashboard/Editor/IframeController.tsx
  apps/website/src/components/Dashboard/Editor/iframeController.content.ts
  packages/intlayer-editor/client/src/components/Editor/IframeController.tsx
  packages/intlayer-editor/client/src/components/Editor/iframeController.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(docs): add multilingual documentation for Next.js 16
  docs/docs/ar/intlayer_with_nextjs_no_locale_path.md
  docs/docs/de/intlayer_with_nextjs_no_locale_path.md
  docs/docs/en-GB/intlayer_with_nextjs_no_locale_path.md
  docs/docs/es/intlayer_with_nextjs_no_locale_path.md
  docs/docs/fr/intlayer_with_nextjs_no_locale_path.md
  docs/docs/hi/intlayer_with_nextjs_no_locale_path.md
  docs/docs/id/intlayer_with_nextjs_no_locale_path.md
  docs/docs/it/intlayer_with_nextjs_no_locale_path.md
  docs/docs/ja/intlayer_with_nextjs_no_locale_path.md
  docs/docs/ko/intlayer_with_nextjs_no_locale_path.md
  docs/docs/pl/intlayer_with_nextjs_no_locale_path.md
  docs/docs/pt/intlayer_with_nextjs_no_locale_path.md
  docs/docs/ru/intlayer_with_nextjs_no_locale_path.md
  docs/docs/tr/intlayer_with_nextjs_no_locale_path.md
  docs/docs/uk/intlayer_with_nextjs_16.md
  docs/docs/uk/intlayer_with_nextjs_no_locale_path.md
  docs/docs/uk/intlayer_with_react_native+expo.md
  docs/docs/vi/intlayer_with_nextjs_no_locale_path.md
  docs/docs/zh/intlayer_with_nextjs_no_locale_path.md
Due: prettier --write

refactor(next-intlayer): simplify comments in getLocale function for clarity
  packages/next-intlayer/src/server/getLocale.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(cli): increase concurrency for file processing and enhance translation task management
  docs/tools/translate.ts
  packages/@intlayer/cli/src/reviewDoc/reviewDocBlockAware.ts
  packages/@intlayer/cli/src/translateDoc/translateDoc.ts
  packages/@intlayer/cli/src/translateDoc/translateFile.ts
  packages/@intlayer/cli/src/translateDoc/types.ts
  scripts/script-dev-package-command.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(config): rename function
  packages/@intlayer/config/src/loadExternalFile/loadExternalFile.ts
  packages/@intlayer/config/src/loadExternalFile/transpileTSToCJS.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(config): add support for JSON5 and JSONC file formats in configuration and content files
  bun.lock
  docs/docs/ar/configuration.md
  docs/docs/ar/dictionary/content_file.md
  docs/docs/de/configuration.md
  docs/docs/de/dictionary/content_file.md
  docs/docs/en-GB/configuration.md
  docs/docs/en-GB/dictionary/content_file.md
  docs/docs/en/configuration.md
  docs/docs/en/dictionary/content_file.md
  docs/docs/es/configuration.md
  docs/docs/es/dictionary/content_file.md
  docs/docs/fr/configuration.md
  docs/docs/fr/dictionary/content_file.md
  docs/docs/hi/configuration.md
  docs/docs/hi/dictionary/content_file.md
  docs/docs/id/configuration.md
  docs/docs/id/dictionary/content_file.md
  docs/docs/it/configuration.md
  docs/docs/it/dictionary/content_file.md
  docs/docs/ja/configuration.md
  docs/docs/ja/dictionary/content_file.md
  docs/docs/ko/configuration.md
  docs/docs/ko/dictionary/content_file.md
  docs/docs/pl/configuration.md
  docs/docs/pl/dictionary/content_file.md
  docs/docs/pt/configuration.md
  docs/docs/pt/dictionary/content_file.md
  docs/docs/ru/configuration.md
  docs/docs/ru/dictionary/content_file.md
  docs/docs/tr/configuration.md
  docs/docs/tr/dictionary/content_file.md
  docs/docs/vi/configuration.md
  docs/docs/vi/dictionary/content_file.md
  docs/docs/zh/configuration.md
  docs/docs/zh/dictionary/content_file.md
  packages/@intlayer/config/package.json
  packages/@intlayer/config/src/configFile/searchConfigurationFile.ts
  packages/@intlayer/config/src/defaultValues/content.ts
  packages/@intlayer/config/src/loadExternalFile/loadExternalFile.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(chokidar): implement transformJSONFile function to handle JSON, JSONC, and JSON5 formats with deep merging capabilities
  packages/@intlayer/chokidar/src/writeContentDeclaration/transformJSONFile.test.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/transformJSONFile.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): update padding values in Container and SaveForm, and change title prop type in Modal
  packages/@intlayer/design-system/src/components/Container/index.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/SaveForm/SaveForm.tsx
  packages/@intlayer/design-system/src/components/Modal/Modal.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): extend support for JSONC and JSON5 formats in content declaration and format utilities
  packages/@intlayer/chokidar/src/getContentDeclarationFileTemplate/getContentDeclarationFileTemplate.ts
  packages/@intlayer/chokidar/src/utils/getFormatFromExtension.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(dictionary-editor): add multilingual support for popover content in DictionaryEditionDrawer
  apps/website/src/components/Dashboard/Editor/DictionaryEditionDrawer/DictionaryEditionDrawer.tsx
  apps/website/src/components/Dashboard/Editor/DictionaryEditionDrawer/dictionaryEditionDrawer.content.ts
  packages/intlayer-editor/client/src/components/Editor/DictionaryEditionDrawer/DictionaryEditionDrawer.tsx
  packages/intlayer-editor/client/src/components/Editor/DictionaryEditionDrawer/dictionaryEditionDrawer.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(env): remove NEXT_PUBLIC_GITHUB_URL from environment variables in app and website configurations
  apps/app/.env.template
  apps/app/Dockerfile
  apps/website/.env.template
  apps/website/Dockerfile
  scripts/docker-build-app.sh
  scripts/docker-build-website.sh
Due: none

fix(chokidar): update import path for next-intlayer in init function to use server module
  packages/@intlayer/chokidar/src/init/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(next-intlayer): enhance IntlayerClientProvider to bridge Next.js routing with Intlayer context for improved locale management
  packages/next-intlayer/src/client/IntlayerClientProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(next-no-lolale-path): simplify locale retrieval by removing unnecessary headers and cookies handling
  examples/next-no-lolale-path/app/layout.tsx
  examples/next-no-lolale-path/app/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): optimize format command detection with caching mechanism
  apps/website/src/components/DemoPage/index.tsx
  packages/@intlayer/chokidar/src/writeContentDeclaration/detectFormatCommand.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(cli): reorganize imports for GetConfigurationOptions and getConfiguration in cli.ts
  packages/@intlayer/cli/src/cli.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(navigation): integrate useSearchParams to manage visibility state in BlogNavList, DocNavList, and AsideNavigation components
  apps/website/src/components/BlogPage/BlogNavList.tsx
  apps/website/src/components/DocPage/AsideNavigation/AsideNavigation.tsx
  apps/website/src/components/DocPage/DocNavList.tsx
  apps/website/src/components/DocPage/History/index.tsx
  apps/website/src/components/DocPage/MCPMessage/index.tsx
  apps/website/src/components/DocPage/Search/SearchTrigger.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(doc): add per-component vs centralized i18n documentation in multiple languages to enhance localization strategies
  docs/blog/ar/per-component_vs_centralized_i18n.md
  docs/blog/de/per-component_vs_centralized_i18n.md
  docs/blog/en-GB/per-component_vs_centralized_i18n.md
  docs/blog/en/per-component_vs_centralized_i18n.md
  docs/blog/es/per-component_vs_centralized_i18n.md
  docs/blog/fr/per-component_vs_centralized_i18n.md
  docs/blog/hi/per-component_vs_centralized_i18n.md
  docs/blog/id/per-component_vs_centralized_i18n.md
  docs/blog/it/per-component_vs_centralized_i18n.md
  docs/blog/ja/per-component_vs_centralized_i18n.md
  docs/blog/ko/per-component_vs_centralized_i18n.md
  docs/blog/pl/per-component_vs_centralized_i18n.md
  docs/blog/pt/per-component_vs_centralized_i18n.md
  docs/blog/ru/per-component_vs_centralized_i18n.md
  docs/blog/tr/per-component_vs_centralized_i18n.md
  docs/blog/uk/per-component_vs_centralized_i18n.md
  docs/blog/vi/per-component_vs_centralized_i18n.md
  docs/blog/zh/per-component_vs_centralized_i18n.md
  docs/src/generated/blog.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(embeddings): add per-component vs centralized i18n embeddings for enhanced localization support
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/per-component_vs_centralized_i18n.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): wrap BlogPageLayout and DocPageLayout components in Suspense for improved loading handling
  apps/website/src/components/BlogPage/BlogPageLayout.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(blog): simplify visibility state management in BlogNavList by initializing isHidden to true
  apps/website/src/components/BlogPage/BlogNavList.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(intlayer): simplify IntlayerClientProvider by removing unnecessary context bridge
  packages/next-intlayer/src/client/IntlayerClientProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(intlayer): streamline IntlayerClientProvider by directly exporting IntlayerProvider
  packages/next-intlayer/src/client/IntlayerClientProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
