Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --cache"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

refactor(chokidar): make prepareIntlayer operation asynchronous
  packages/@intlayer/chokidar/src/chokidar/watcher.ts
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_main/createDictionaryEntryPoint.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_type/createModuleAugmentation.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_type/createType.ts
Due: prettier --write, eslint --fix --cache

feat(intlayer): add logging for Intlayer preparation in runOnce function
  packages/@intlayer/chokidar/src/utils/runOnce.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: prettier --write, eslint --fix --cache

refactor(chokidar): replace dictionary filtering logic with dedicated function
  packages/@intlayer/chokidar/src/loadDictionaries/loadContentDeclaration.ts
Due: prettier --write, eslint --fix --cache

refactor(chokidar): enhance filterInvalidDictionaries to handle undefined values and improve type safety
  packages/@intlayer/chokidar/src/filterInvalidDictionaries.ts
Due: prettier --write, eslint --fix --cache

refactor(chokidar): enhance error handling and improve import structure in writeContentDeclaration
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeJSFile.ts
Due: prettier --write, eslint --fix --cache

chore: update package versions to 6.0.0-canary.0 across all modules
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

fix(next-intlayer): add missing argument to runOnce function for Intlayer prune plugin
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

fix(chokidar): safely invoke onIsCached function in runOnce to handle potential undefined case
  packages/@intlayer/chokidar/src/utils/runOnce.ts
Due: prettier --write, eslint --fix --cache

chore(swc): update intlayer_swc_plugin.wasm binary
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

feat(api): add auto-auth proxy for Intlayer API with OAuth2 token management
  packages/@intlayer/api/src/index.ts
  packages/@intlayer/api/src/proxy.ts
Due: prettier --write, eslint --fix --cache

fix(docs): update code block syntax for file references in testing documentation across multiple languages
  docs/docs/ar/testing.md
  docs/docs/de/testing.md
  docs/docs/en-GB/testing.md
  docs/docs/en/testing.md
  docs/docs/es/testing.md
  docs/docs/fr/testing.md
  docs/docs/hi/testing.md
  docs/docs/it/testing.md
  docs/docs/ja/testing.md
  docs/docs/ko/testing.md
  docs/docs/pt/testing.md
  docs/docs/ru/testing.md
  docs/docs/tr/testing.md
  docs/docs/zh/testing.md
Due: prettier --write

refactor(api): replace direct API calls with proxy for improved OAuth2 token management across multiple modules
  packages/@intlayer/api/src/distantDictionary/fetchDistantDictionaries.ts
  packages/@intlayer/api/src/distantDictionary/fetchDistantDictionary.ts
  packages/@intlayer/api/src/proxy.ts
  packages/@intlayer/chokidar/src/fetchDistantDictionaryKeysAndUpdateTimestamp.ts
  packages/@intlayer/cli/src/IntlayerEventListener.ts
  packages/@intlayer/cli/src/push.ts
  packages/@intlayer/cli/src/pushConfig.ts
  packages/@intlayer/cli/src/reviewDoc.ts
  packages/@intlayer/cli/src/translateDoc.ts
  packages/@intlayer/cli/src/utils/chunkInference.ts
Due: prettier --write, eslint --fix --cache

feat(cli): integrate parallel processing for dictionary pull and push operations with enhanced logging
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/cli/src/pull.ts
  packages/@intlayer/cli/src/pullLog.ts
  packages/@intlayer/cli/src/push.ts
  packages/@intlayer/cli/src/pushLog.ts
Due: prettier --write, eslint --fix --cache

chore: update package versions to 6.0.0-canary.1 across all modules
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

feat(cli): add support for remote dictionaries integration and enhance dictionary fetching logic
  packages/@intlayer/chokidar/src/loadDictionaries/loadRemoteDictionaries.ts
  packages/@intlayer/cli/package.json
  packages/@intlayer/cli/src/pull.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

refactor(cli): standardize dictionary status messages and improve fetching logic
  packages/@intlayer/chokidar/src/writeContentDeclaration/dictionaryStatus.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/cli/src/pull.ts
  packages/@intlayer/cli/src/pullLog.ts
  packages/intlayer-editor/server/src/controllers/dictionary.controller.ts
Due: prettier --write, eslint --fix --cache

feat(cli): enhance summary output alignment for local labels in dictionary display
  packages/@intlayer/chokidar/src/loadDictionaries/loadDictionaries.ts
Due: prettier --write, eslint --fix --cache

refactor(next-intlayer): simplify configuration merging logic in withIntlayer and enhance path resolution
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

chore(nextjs-14-app): update Next.js version from 14.2.24 to 14.2.32
  examples/nextjs-14-app/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update package versions to 6.0.0-canary.2 across all modules
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

refactor(plugin): change 'source' to 'resolve' in configuration merging
  packages/lynx-intlayer/src/plugin/pluginIntlayerLynx.ts
Due: prettier --write, eslint --fix --cache

chore: update package versions to 6.0.0-canary.3 across all modules
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

refactor(plugin): deprecate intlayerMiddlewarePlugin and intlayerPlugin, introduce intlayer and intLayerPlugin as replacements
  packages/vite-intlayer/src/intlayerMiddlewarePlugin.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: prettier --write, eslint --fix --cache

refactor(chokidar): remove deprecated dictionary output fields and restructure dictionary handling logic
  docs/docs/en/configuration.md
  packages/@intlayer/chokidar/src/chokidar/watcher.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadContentDeclaration.ts
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/i18next_dictionary/buildI18nextDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/i18next_dictionary/convertContentDeclarationInto18nDictionaries.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/i18next_dictionary/convertPluralsValues.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/i18next_dictionary/index.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/i18next_dictionary/writeDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/index.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/index.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/reactIntl_dictionary/writeDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_type/createModuleAugmentation.ts
  packages/@intlayer/chokidar/src/transpiler/intlayer_dictionary/buildIntlayerDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/intlayer_dictionary/formatDictionaryText.ts
  packages/@intlayer/chokidar/src/transpiler/intlayer_dictionary/index.ts
  packages/@intlayer/chokidar/src/transpiler/intlayer_dictionary/processContentDeclaration.ts
  packages/@intlayer/chokidar/src/transpiler/intlayer_dictionary/writeDynamicDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/intlayer_dictionary/writeFetchDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/intlayer_dictionary/writeMergedDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/intlayer_dictionary/writeRemoteDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/intlayer_dictionary/writeUnmergedDictionary.ts
  packages/@intlayer/chokidar/src/writeConfiguration/index.ts
  packages/@intlayer/chokidar/src/writeJsonIfChanged.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/defaultValues/content.ts
  packages/@intlayer/config/src/types/config.ts
Due: prettier --write, eslint --fix --cache

refactor(chokidar): remove formatDictionaryText function and update dictionary writing logic to handle raw dictionary objects
  packages/@intlayer/chokidar/src/transpiler/intlayer_dictionary/formatDictionaryText.ts
  packages/@intlayer/chokidar/src/transpiler/intlayer_dictionary/writeDynamicDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/intlayer_dictionary/writeFetchDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/intlayer_dictionary/writeMergedDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/intlayer_dictionary/writeRemoteDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/intlayer_dictionary/writeUnmergedDictionary.ts
Due: prettier --write, eslint --fix --cache

refactor(next-intlayer): update cache directory paths in withIntlayer to use '.intlayer' instead of '.next'
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

fix(website): remove unnecessary padding around avatar
  apps/website/src/components/Navbar/index.tsx
  apps/website/src/components/ProfileDropdown/ProfileDropDown/index.tsx
Due: prettier --write, eslint --fix --cache

feat(chokidar): add preparation time logging to prepareIntlayer function
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
  packages/@intlayer/chokidar/src/writeFileIfChanged.ts
Due: prettier --write, eslint --fix --cache

feat(chokidar): implement writeFileIfChanged utility for atomic file writes and update related functions
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_main/createDictionaryEntryPoint.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_type/createModuleAugmentation.ts
  packages/@intlayer/chokidar/src/transpiler/intlayer_dictionary/writeDynamicDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/intlayer_dictionary/writeFetchDictionary.ts
  packages/@intlayer/chokidar/src/writeConfiguration/index.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/chokidar/src/writeFileIfChanged.ts
  packages/@intlayer/chokidar/src/writeJsonIfChanged.ts
Due: prettier --write, eslint --fix --cache

feat(chokidar): enhance dictionary loading with detailed timing logs for local and remote dictionaries
  packages/@intlayer/chokidar/src/loadDictionaries/loadDictionaries.ts
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
Due: prettier --write, eslint --fix --cache

refactor(chokidar): update log messages for clarity and add remote dictionary checking status
  packages/@intlayer/chokidar/src/loadDictionaries/log.ts
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
Due: prettier --write, eslint --fix --cache

refactor(chokidar): improve logging format for dictionary loading times
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
Due: prettier --write, eslint --fix --cache

refactor(chokidar): replace OAuth API with Intlayer API proxy and update logging system
  packages/@intlayer/chokidar/src/fetchDistantDictionaries.ts
  packages/@intlayer/chokidar/src/fetchDistantDictionaryKeysAndUpdateTimestamp.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadDictionaries.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadRemoteDictionaries.ts
  packages/@intlayer/chokidar/src/loadDictionaries/log.ts
Due: prettier --write, eslint --fix --cache

chore: update all package versions to 6.0.0, removing canary release tag
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

chore(backend): include cross-env for environment variable handling
  apps/backend/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(intlayer-editor): improve environment variable handling in server start command
  packages/intlayer-editor/bin/intlayer-editor.mjs
Due: none

feat(cli): add visual editor start command and update documentation
  docs/docs/en/intlayer_visual_editor.md
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/editor.ts
  packages/@intlayer/cli/src/index.ts
Due: prettier --write, eslint --fix --cache

fix(design-system): fix types
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryCreationForm/DictionaryCreationForm.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/SaveForm/SaveForm.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/StructureEditor.tsx
  packages/preact-intlayer/src/client/useDictionaryAsync.ts
  packages/react-intlayer/src/client/useDictionaryAsync.ts
  packages/solid-intlayer/src/client/useDictionaryAsync.ts
  packages/svelte-intlayer/src/client/useDictionaryAsync.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

refactor(chokidar): streamline dictionary loading functions
  apps/backend/src/utils/AI/translateJSON/index.ts
  apps/website/intlayer.config.ts
  packages/@intlayer/chokidar/src/listDictionariesPath.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadRemoteDictionaries.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/cli/src/fill/index.ts
  packages/@intlayer/cli/src/getTargetDictionary.ts
  packages/@intlayer/cli/src/listContentDeclaration.ts
  packages/@intlayer/cli/src/liveSync.ts
  packages/@intlayer/cli/src/push.ts
  packages/@intlayer/cli/src/test/index.ts
  packages/@intlayer/cli/src/test/listMissingTranslations.ts
  packages/@intlayer/dictionaries-entry/src/index.ts
  packages/@intlayer/dynamic-dictionaries-entry/src/index.ts
  packages/@intlayer/fetch-dictionaries-entry/src/index.ts
  packages/@intlayer/mcp/src/tools/cli.ts
  packages/@intlayer/remote-dictionaries-entry/src/index.ts
  packages/@intlayer/unmerged-dictionaries-entry/src/index.ts
Due: prettier --write, eslint --fix --cache
