Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: add ANTROPIC_API_KEY to .env.template files for website and docs
  apps/website/.env.template
  docs/.env.template
Due: none

feat(svelte-intlayer): add setupIntlayer function for initializing context and state
  packages/svelte-intlayer/src/client/index.ts
  packages/svelte-intlayer/src/client/setupIntlayer.svelte.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: change message role from 'system' to 'user' in AI SDK calls
  apps/backend/src/utils/AI/auditDictionary/index.ts
  apps/backend/src/utils/AI/auditDictionaryField/index.ts
  apps/backend/src/utils/AI/auditDictionaryMetadata/index.ts
  apps/backend/src/utils/AI/auditTag/index.ts
  apps/backend/src/utils/AI/translateJSON/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: update AI prompts to include context and improve content handling
  apps/backend/src/utils/AI/auditDictionary/PROMPT.md
  apps/backend/src/utils/AI/auditDictionary/index.ts
  apps/backend/src/utils/AI/auditDictionaryField/PROMPT.md
  apps/backend/src/utils/AI/auditDictionaryField/index.ts
  apps/backend/src/utils/AI/auditDictionaryMetadata/PROMPT.md
  apps/backend/src/utils/AI/auditDictionaryMetadata/index.ts
  apps/backend/src/utils/AI/auditTag/PROMPT.md
  apps/backend/src/utils/AI/auditTag/index.ts
  apps/backend/src/utils/AI/translateJSON/PROMPT.md
  apps/backend/src/utils/AI/translateJSON/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(backend): change default AI model to gpt-5-mini and clean up unused configurations
  apps/backend/src/utils/AI/aiSdk.ts
  apps/backend/src/utils/AI/askDocQuestion/askDocQuestion.ts
  apps/backend/src/utils/AI/askDocQuestion/indexMarkdownFiles.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(backend): streamline model selection logic in aiSdk and enforce API key requirement for custom models
  apps/backend/src/utils/AI/aiSdk.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(next-intlayer): add option for turbopack enablement and update config options type
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: rename isTurbopackEnabled option to enableTurbopack for consistency
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: remove duplicate isTurbopackStable check and streamline turbopack enablement logic
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: remove defaultOptions from getAIConfig call in askDocQuestion function
  apps/backend/src/controllers/ai.controller.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: add Svelte logo to TechLogos component and clean up imports
  apps/website/src/components/LandingPage/LandingSection/TechLogos.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update version to 7.2.1-canary.0 across all package.json files
  apps/backend/package.json
  apps/website/package.json
  bun.lock
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: update configOptions type to WithIntlayerOptions in withIntlayer function
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update package versions to 7.2.1-canary.1 and add Rspack support in withIntlayer function
  docs/docs/en/intlayer_with_nextjs_16.md
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: excluse cursor content from ide
  .gitignore
  .vscode/settings.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: update build optimization
  examples/vite-react-app/intlayer.config.ts
  examples/vite-react-app/vite.config.ts
  examples/vite-svelte-app/intlayer.config.ts
  examples/vite-svelte-app/vite.config.ts
  examples/vite-vue-app/intlayer.config.ts
  examples/vite-vue-app/vite.config.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/defaultValues/build.ts
  packages/@intlayer/swc/src/lib.rs
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
  packages/@intlayer/types/src/config.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: remove dictionary entries from client packages
  packages/preact-intlayer/package.json
  packages/preact-intlayer/src/editor/IntlayerEditorProvider.tsx
  packages/react-intlayer/package.json
  packages/react-intlayer/src/editor/IntlayerEditorProvider.tsx
  packages/solid-intlayer/package.json
  packages/solid-intlayer/src/editor/IntlayerEditorProvider.tsx
  packages/svelte-intlayer/package.json
  packages/svelte-intlayer/src/editor/dictionariesRecord.ts
  packages/vue-intlayer/package.json
  packages/vue-intlayer/src/editor/dictionariesRecord.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: fix turbopack activation
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: restore dictionary loading and make it dynamic
  packages/preact-intlayer/package.json
  packages/preact-intlayer/src/editor/IntlayerEditorProvider.tsx
  packages/react-intlayer/package.json
  packages/react-intlayer/src/editor/IntlayerEditorProvider.tsx
  packages/solid-intlayer/package.json
  packages/solid-intlayer/src/editor/IntlayerEditorProvider.tsx
  packages/svelte-intlayer/package.json
  packages/svelte-intlayer/src/editor/dictionariesRecord.ts
  packages/vue-intlayer/package.json
  packages/vue-intlayer/src/editor/dictionariesRecord.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: restore optimization of unmerged dictionary
  bun.lock
  examples/nextjs-15-app/next.config.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer.ts
  packages/@intlayer/swc/src/lib.rs
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update bun
  .github/workflows/build_and_test.yaml
  .github/workflows/release.yaml
  CONTRIBUTING.md
  apps/backend/Dockerfile
  apps/website/Dockerfile
  bun.lock
  package.json
  packages/@intlayer/design-system/Dockerfile
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(backend): remove cjs export
  apps/backend/package.json
  apps/backend/tsdown.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(backend): fix default ai model
  apps/backend/package.json
  apps/backend/src/utils/AI/aiSdk.ts
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(cli): update translateDictionary simplify error handling and ensure dictionary processing logic
  packages/@intlayer/cli/src/fill/translateDictionary.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(svelte-intlayer): add missing dependency
  bun.lock
  packages/svelte-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(vite-intlayer): correct optimization condition for build process
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump package versions to 7.2.2 for core, dynamic-dictionaries-entry, and next-intlayer
  bun.lock
  packages/@intlayer/core/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/next-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(intlayer): wrap setupIntlayer in $effect for reactive initialization
  docs/docs/ar/intlayer_with_svelte_kit.md
  docs/docs/de/intlayer_with_svelte_kit.md
  docs/docs/en-GB/intlayer_with_svelte_kit.md
  docs/docs/en/intlayer_with_svelte_kit.md
  docs/docs/es/intlayer_with_svelte_kit.md
  docs/docs/fr/intlayer_with_svelte_kit.md
  docs/docs/hi/intlayer_with_svelte_kit.md
  docs/docs/id/intlayer_with_svelte_kit.md
  docs/docs/it/intlayer_with_svelte_kit.md
  docs/docs/ja/intlayer_with_svelte_kit.md
  docs/docs/ko/intlayer_with_svelte_kit.md
  docs/docs/pl/intlayer_with_svelte_kit.md
  docs/docs/pt/intlayer_with_svelte_kit.md
  docs/docs/ru/intlayer_with_svelte_kit.md
  docs/docs/tr/intlayer_with_svelte_kit.md
  docs/docs/vi/intlayer_with_svelte_kit.md
  docs/docs/zh/intlayer_with_svelte_kit.md
Due: prettier --write

refactor(vite-intlayer): remove step listing in intlayer proxy
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(config): move utility functions for string case conversions in dedicated folder
  packages/@intlayer/config/src/client.ts
  packages/@intlayer/config/src/index.ts
  packages/@intlayer/config/src/utils/stringFormatter/camelCaseToKebabCase.ts
  packages/@intlayer/config/src/utils/stringFormatter/camelCaseToSentence.ts
  packages/@intlayer/config/src/utils/stringFormatter/index.ts
  packages/@intlayer/config/src/utils/stringFormatter/kebabCaseToCamelCase.test.ts
  packages/@intlayer/config/src/utils/stringFormatter/kebabCaseToCamelCase.ts
  packages/@intlayer/config/src/utils/stringFormatter/toLowerCamelCase.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(cli): implement transform command
  bun.lock
  examples/vite-react-app/src/Test.tsx
  packages/@intlayer/chokidar/src/compiler/extractDictionaryKey.ts
  packages/@intlayer/chokidar/src/compiler/extractIntlayer.test.ts
  packages/@intlayer/chokidar/src/compiler/index.ts
  packages/@intlayer/chokidar/src/getContentDeclarationFileTemplate/getContentDeclarationFileTemplate.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/transformJSFile.ts
  packages/@intlayer/cli/package.json
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/transform.ts
  packages/next-intlayer/src/index.ts
  packages/preact-intlayer/src/index.ts
  packages/react-intlayer/src/index.ts
  packages/solid-intlayer/src/index.ts
  packages/svelte-intlayer/src/index.ts
  packages/vue-intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(cli): add transform command to migrate existing components
  docs/docs/ar/intlayer_cli.md
  docs/docs/de/intlayer_cli.md
  docs/docs/en-GB/intlayer_cli.md
  docs/docs/en/intlayer_cli.md
  docs/docs/es/intlayer_cli.md
  docs/docs/fr/intlayer_cli.md
  docs/docs/hi/intlayer_cli.md
  docs/docs/id/intlayer_cli.md
  docs/docs/it/intlayer_cli.md
  docs/docs/ja/intlayer_cli.md
  docs/docs/ko/intlayer_cli.md
  docs/docs/pl/intlayer_cli.md
  docs/docs/pt/intlayer_cli.md
  docs/docs/ru/intlayer_cli.md
  docs/docs/tr/intlayer_cli.md
  docs/docs/vi/intlayer_cli.md
  docs/docs/zh/intlayer_cli.md
  packages/@intlayer/chokidar/src/compiler/index.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/index.ts
  packages/@intlayer/cli/src/transform.ts
  packages/@intlayer/mcp/src/tools/cli.ts
  packages/@intlayer/mcp/src/tools/docs.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(vite-intlayer): add support for custom request ignoring in intlayer proxy plugin
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump package versions to 7.2.3 across all Intlayer packages
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/types/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/astro-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
  plugins/sync-json-plugin/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update package versions to 7.2.3 in bun.lock and export additional functions in next-intlayer
  bun.lock
  packages/next-intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): reorganize exports and integrate extractDictionaryKey function
  packages/@intlayer/chokidar/src/compiler/extractDictionaryKey.ts
  packages/@intlayer/chokidar/src/compiler/extractIntlayer.test.ts
  packages/@intlayer/chokidar/src/compiler/index.ts
  packages/@intlayer/chokidar/src/compiler/transformFiles.ts
  packages/@intlayer/chokidar/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
