Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --cache"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

refactor(docs): standardize markdown imports using ESMxCJSRequire across documentation entries
  docs/package.json
  docs/src/generated/blog.entry.ts
  docs/src/generated/docs.entry.ts
  docs/src/generated/frequentQuestions.entry.ts
  docs/src/generated/legal.entry.ts
  docs/tools/generateEntry.ts
Due: prettier --write, eslint --fix --cache

refactor(docs): restore markdown imports to use fs/promises for asynchronous reading
  docs/src/generated/blog.entry.ts
  docs/src/generated/docs.entry.ts
  docs/src/generated/frequentQuestions.entry.ts
  docs/src/generated/legal.entry.ts
  docs/tools/generateEntry.ts
Due: prettier --write, eslint --fix --cache

refactor(core): change localeMap return type definition by removing generic constraint
  packages/@intlayer/core/src/localization/localeMapper.ts
Due: prettier --write, eslint --fix --cache

refactor(workspace): remove blog package from pnpm workspace configuration
  pnpm-workspace.yaml
Due: prettier --write

refactor(backend): remove memory limit from start script in package.json
  apps/backend/package.json
Due: prettier --write

refactor(website): restructure pricing data fetching and improve error handling
  apps/website/src/app/[locale]/(landing)/pricing/page.tsx
  apps/website/src/components/PricingPage/index.tsx
Due: prettier --write, eslint --fix --cache

feat(website): enable dynamic rendering for onboarding page
  apps/website/src/app/[locale]/(landing)/onboarding/[[...details]]/page.tsx
Due: prettier --write, eslint --fix --cache

feat(docker): add Dockerfiles
  .dockerignore
  Dockerfile
  apps/backend/Dockerfile
  apps/website/Dockerfile
Due: none

feat(docker): update Dockerfiles and scripts for backend and website apps
  .dockerignore
  Dockerfile
  apps/backend/Dockerfile
  apps/website/Dockerfile
  package.json
Due: prettier --write

feat(docker): enhance build and start scripts for backend and website applications
  package.json
Due: prettier --write

refactor(docker): streamline Dockerfiles and update ignore patterns for backend and website applications
  .dockerignore
  .gitignore
  CONTRIBUTING.md
  Dockerfile
  apps/backend/Dockerfile
  apps/website/Dockerfile
  package.json
  scripts/script-package-command.mjs
Due: prettier --write

feat(website): enable dynamic rendering for authentication layout
  apps/website/src/app/[locale]/(landing)/auth/(authenticated)/layout.tsx
  apps/website/src/app/[locale]/(landing)/auth/(not-authenticated)/layout.tsx
Due: prettier --write, eslint --fix --cache

core(next-intlayer): log pruning status during build
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

feat(website): enable dynamic rendering for 404 and not found layouts
  apps/website/src/app/[locale]/(landing)/404/layout.tsx
  apps/website/src/app/[locale]/(landing)/[...not-found]/layout.tsx
Due: prettier --write, eslint --fix --cache

refactor(core): update configuration access to use optional chaining for internationalization properties
  apps/website/src/components/BlogPage/blogMetadata.content.ts
  apps/website/src/components/DocPage/docMetadata.content.ts
  packages/@intlayer/core/src/interpreter/getContent/getContent.ts
  packages/@intlayer/core/src/interpreter/getContent/getLocalisedContent.ts
  packages/@intlayer/core/src/localization/localeMapper.ts
  packages/react-intlayer/src/server/useDictionaryDynamic.ts
Due: prettier --write, eslint --fix --cache

refactor(core): enhance locale resolution in useDictionaryDynamic by incorporating default locale from configuration
  packages/angular-intlayer/src/client/useDictionaryDynamic.ts
  packages/react-intlayer/src/client/useDictionaryDynamic.ts
  packages/solid-intlayer/src/client/useDictionaryDynamic.ts
  packages/vue-intlayer/src/client/useDictionaryDynamic.ts
Due: prettier --write, eslint --fix --cache

refactor(website): remove 'force-dynamic' export from various layouts and documentation
  apps/website/src/app/[locale]/(landing)/404/layout.tsx
  apps/website/src/app/[locale]/(landing)/[...not-found]/layout.tsx
  apps/website/src/app/[locale]/(landing)/auth/(authenticated)/layout.tsx
  apps/website/src/app/[locale]/(landing)/auth/(not-authenticated)/layout.tsx
  apps/website/src/app/[locale]/(landing)/onboarding/[[...details]]/page.tsx
  docs/blog/ar/intlayer_with_next-intl.md
  docs/blog/de/intlayer_with_next-intl.md
  docs/blog/en-GB/intlayer_with_next-intl.md
  docs/blog/en/intlayer_with_next-intl.md
  docs/blog/es/intlayer_with_next-intl.md
  docs/blog/fr/intlayer_with_next-intl.md
  docs/blog/it/intlayer_with_next-intl.md
  docs/blog/ja/intlayer_with_next-intl.md
  docs/blog/ko/intlayer_with_next-intl.md
  docs/blog/pt/intlayer_with_next-intl.md
  docs/blog/ru/intlayer_with_next-intl.md
  docs/blog/zh/intlayer_with_next-intl.md
Due: prettier --write, eslint --fix --cache

refactor(website): disable dynamic import in configuration
  apps/website/intlayer.config.ts
Due: prettier --write, eslint --fix --cache

chore(next-intlayer): log intlayerConfig.build during configuration
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

refactor(docker): update Dockerfiles to remove TypeScript and map files only from src directories, preserving configuration files
  apps/backend/Dockerfile
  apps/website/Dockerfile
Due: none

fix(react-intlayer): add error handling for invalid dictionary promises in useDictionaryDynamic for both client and server
  packages/react-intlayer/src/client/useDictionaryDynamic.ts
  packages/react-intlayer/src/server/useDictionaryDynamic.ts
Due: prettier --write, eslint --fix --cache

refactor(website): restore dynamic import in configuration
  apps/website/intlayer.config.ts
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

test(website): disable build optimization in configuration
  apps/website/intlayer.config.ts
Due: prettier --write, eslint --fix --cache

feat(website) update buiding process website
  .dockerignore
  apps/website/package.json
Due: prettier --write

fix(website): prebuild intlayer dictionaries
  .dockerignore
  apps/website/package.json
Due: prettier --write

fix(website): prebuild intlayer dictionaries
  .dockerignore
  apps/website/package.json
  examples/nextjs-15-app/package.json
  package.json
  packages/next-intlayer/src/server/compareVersion.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

feat(website): add Suspense to PricingCarousel for improved loading handling
  apps/website/src/components/PricingPage/index.tsx
Due: prettier --write, eslint --fix --cache

feat(chokidar): add clean option to prepareIntlayer for conditional output directory cleanup
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
Due: prettier --write, eslint --fix --cache

fix(next-intlayer): skip Intlayer preparation in production mode during build command
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

chore(docker): update Dockerfiles to use pnpm for starting applications and adjust exposed port for website
  .dockerignore
  apps/backend/Dockerfile
  apps/website/.env.template
  apps/website/Dockerfile
Due: none

chore(docker): simplify .dockerignore by removing redundant env.template exclusions
  .dockerignore
Due: none

fix: update Instagram links in README files across all packages
  README.md
  docs/frequent_questions/en/build_error_CI_CD.md
  packages/@intlayer/api/README.md
  packages/@intlayer/babel/README.md
  packages/@intlayer/chokidar/README.md
  packages/@intlayer/cli/README.md
  packages/@intlayer/config/README.md
  packages/@intlayer/core/README.md
  packages/@intlayer/design-system/README.md
  packages/@intlayer/design-system/src/components/SocialNetworks/index.tsx
  packages/@intlayer/dictionaries-entry/README.md
  packages/@intlayer/dynamic-dictionaries-entry/README.md
  packages/@intlayer/editor-react/README.md
  packages/@intlayer/editor/README.md
  packages/@intlayer/mcp/README.md
  packages/@intlayer/unmerged-dictionaries-entry/README.md
  packages/@intlayer/webpack/README.md
  packages/angular-intlayer/README.md
  packages/express-intlayer/README.md
  packages/intlayer-cli/README.md
  packages/intlayer-editor/README.md
  packages/intlayer/README.md
  packages/lynx-intlayer/README.md
  packages/next-intlayer/README.md
  packages/nuxt-intlayer/README.md
  packages/preact-intlayer/README.md
  packages/react-intlayer/README.md
  packages/react-native-intlayer/README.md
  packages/react-scripts-intlayer/README.md
  packages/solid-intlayer/README.md
  packages/svelte-intlayer/README.md
  packages/vite-intlayer/README.md
  packages/vue-intlayer/README.md
Due: prettier --write, eslint --fix --cache

feat(docs): add build error FAQ documents in multiple languages
  docs/frequent_questions/ar/build_error_CI_CD.md
  docs/frequent_questions/de/build_error_CI_CD.md
  docs/frequent_questions/en-GB/build_error_CI_CD.md
  docs/frequent_questions/es/build_error_CI_CD.md
  docs/frequent_questions/fr/build_error_CI_CD.md
  docs/frequent_questions/hi/build_error_CI_CD.md
  docs/frequent_questions/it/build_error_CI_CD.md
  docs/frequent_questions/ja/build_error_CI_CD.md
  docs/frequent_questions/ko/build_error_CI_CD.md
  docs/frequent_questions/pt/build_error_CI_CD.md
  docs/frequent_questions/ru/build_error_CI_CD.md
  docs/frequent_questions/zh/build_error_CI_CD.md
  docs/src/generated/frequentQuestions.entry.ts
  docs/tools/translate.ts
Due: prettier --write, eslint --fix --cache

refactor(website): streamline URL renaming logic in markdown utility
  apps/website/src/utils/markdown.ts
  docs/src/common.ts
Due: prettier --write, eslint --fix --cache

chore(docs): update entry generation script to include readFile import and add prebuild script
  apps/website/Dockerfile
  docs/package.json
  docs/src/generated/blog.entry.ts
  docs/src/generated/docs.entry.ts
  docs/src/generated/frequentQuestions.entry.ts
  docs/src/generated/legal.entry.ts
  docs/tools/generateEntry.ts
Due: prettier --write, eslint --fix --cache

chore(website): enable dynamic import in build configuration
  apps/website/intlayer.config.ts
Due: prettier --write, eslint --fix --cache

docs: clarify that `withIntlayer()` is a promise based function in multiple documentation files
  docs/docs/en/intlayer_with_nextjs_14.md
  docs/docs/en/intlayer_with_nextjs_15.md
  docs/docs/en/intlayer_with_nextjs_page_router.md
Due: prettier --write

fix(website): remove target and rel attributes from ContributionMessage link
  apps/website/src/components/DocPage/ContributionMessage/index.tsx
Due: prettier --write, eslint --fix --cache
