Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website): add formatters section with multilingual titles and default metadata
  apps/website-tanstack/src/components/DocPage/docData.content.ts
  apps/website/src/components/DocPage/docData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update disavow.txt with additional domains
  apps/website/public/disavow.txt
Due: none

fix(website): increase Node.js memory limit for Next.js build process
  apps/website/Dockerfile
Due: none

refactor(website): try cacheComponents and instant nav
  apps/website-tanstack/src/components/BlogPage/RelatedPosts.tsx
  apps/website/CLAUDE.md
  apps/website/next.config.ts
  apps/website/package.json
  apps/website/src/app/.well-known/mcp/server-card.json/route.ts
  apps/website/src/app/[locale]/(docs)/doc/[[...slugs]]/layout.tsx
  apps/website/src/app/[locale]/(landing)/404/page.tsx
  apps/website/src/app/[locale]/(landing)/[...not-found]/page.tsx
  apps/website/src/app/[locale]/(landing)/cms/page.tsx
  apps/website/src/app/[locale]/(landing)/contributors/contributors.api.ts
  apps/website/src/app/[locale]/(landing)/page.tsx
  apps/website/src/app/[locale]/(landing)/tms/page.tsx
  apps/website/src/app/[locale]/markdown/page.tsx
  apps/website/src/components/BlogPage/RelatedPosts.tsx
  apps/website/src/components/LandingPage/ContributorSection/index.tsx
  apps/website/src/utils/stripe.ts
  packages/@intlayer/core/src/markdown/constants.ts
  packages/@intlayer/core/src/markdown/utils.test.ts
  packages/@intlayer/core/src/markdown/utils.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: fix eslint doc rendering
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/eslint.json
  docs/docs/ar/eslint.md
  docs/docs/bn/eslint.md
  docs/docs/cs/eslint.md
  docs/docs/de/eslint.md
  docs/docs/en-GB/eslint.md
  docs/docs/en/eslint.md
  docs/docs/es/eslint.md
  docs/docs/fr/eslint.md
  docs/docs/hi/eslint.md
  docs/docs/id/eslint.md
  docs/docs/it/eslint.md
  docs/docs/ja/eslint.md
  docs/docs/ko/eslint.md
  docs/docs/nl/eslint.md
  docs/docs/pl/eslint.md
  docs/docs/pt/eslint.md
  docs/docs/ru/eslint.md
  docs/docs/tr/eslint.md
  docs/docs/uk/eslint.md
  docs/docs/ur/eslint.md
  docs/docs/vi/eslint.md
  docs/docs/zh-TW/eslint.md
  docs/docs/zh/eslint.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website-tanstack): remove import dynamic mode to improve navigation
  apps/website-tanstack/intlayer.config.ts
  apps/website-tanstack/src/components/DocPage/DocPageNavigation/DocPageNavigation.tsx
  apps/website-tanstack/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: baseline
  bun.lock
Due: none

feat(vite-intlayer): implement intlayerChunk plugin to group dynamic dictionary imports
  packages/vite-intlayer/src/index.ts
  packages/vite-intlayer/src/intlayerChunkPlugin.test.ts
  packages/vite-intlayer/src/intlayerChunkPlugin.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(react-intlayer): enhance createSuspender and update cache handling
  packages/react-intlayer/src/client/useLoadDynamic.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(vite-intlayer): scope dictionary chunking to client build for improved code splitting
  packages/vite-intlayer/src/intlayerChunkPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: link variants
  packages/@intlayer/design-system/src/components/Link/Link.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: navbar styling
  packages/@intlayer/design-system/src/components/Navbar/DesktopNavbar.tsx
  packages/@intlayer/design-system/styles/themes.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: tweaking some styles
  apps/website-tanstack/src/components/BlogPage/template.html
  apps/website-tanstack/src/components/CMSLandingPage/ContentDeliverySection.tsx
  apps/website-tanstack/src/components/ChatBot/ChatBumble.tsx
  apps/website-tanstack/src/components/I18nBenchmark/index.tsx
  apps/website-tanstack/src/components/LandingPage/FeaturesSection/VisualEditorSection/index.tsx
  apps/website-tanstack/src/components/LandingPage/HeroSection/index.tsx
  apps/website-tanstack/src/components/LandingPage/index.tsx
  apps/website-tanstack/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/website-tanstack/src/components/ScannerPage/Analyzer/Form/AnalyzerForm.tsx
  apps/website-tanstack/src/components/ScannerPage/Analyzer/Results/AnalyzerSiteResults.tsx
  apps/website-tanstack/src/components/ScannerPage/RecursiveAuditResults.tsx
  apps/website-tanstack/src/components/ScannerPage/UrlDiscoveryList.tsx
  apps/website-tanstack/src/components/TMSLandingPage/FeaturesSection.tsx
  apps/website-tanstack/src/components/TMSLandingPage/PainPointsSection.tsx
  apps/website-tanstack/src/components/TranslationLandingPage/HeroSection.tsx
  apps/website-tanstack/src/routes/{-$locale}/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(docs): add remote content fetching examples across multiple languages
  docs/docs/ar/dictionary/function_fetching.md
  docs/docs/de/dictionary/function_fetching.md
  docs/docs/en-GB/dictionary/function_fetching.md
  docs/docs/en/dictionary/function_fetching.md
  docs/docs/es/dictionary/function_fetching.md
  docs/docs/fr/dictionary/function_fetching.md
  docs/docs/hi/dictionary/function_fetching.md
  docs/docs/id/dictionary/function_fetching.md
  docs/docs/it/dictionary/function_fetching.md
  docs/docs/ja/dictionary/function_fetching.md
  docs/docs/ko/dictionary/function_fetching.md
  docs/docs/pl/dictionary/function_fetching.md
  docs/docs/pt/dictionary/function_fetching.md
  docs/docs/ru/dictionary/function_fetching.md
  docs/docs/tr/dictionary/function_fetching.md
  docs/docs/uk/dictionary/function_fetching.md
  docs/docs/vi/dictionary/function_fetching.md
  docs/docs/zh/dictionary/function_fetching.md
Due: prettier --write

fix(website): update disavow list
  apps/website/public/disavow.txt
Due: none

chore: added light rays effect and improved hero section
  apps/website-tanstack/package.json
  apps/website-tanstack/src/components/LandingPage/HeroSection/index.tsx
  apps/website-tanstack/src/components/LightRays.tsx
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: cleaned some sections
  apps/website-tanstack/src/components/I18nBenchmark/index.tsx
  apps/website-tanstack/src/components/LandingPage/HeroSection/index.tsx
  apps/website-tanstack/src/components/LandingPage/I18nBenchmarkSection/index.tsx
  apps/website-tanstack/src/components/LandingPage/WhyToChoseIntlayerSection/index.tsx
  apps/website-tanstack/src/components/LandingPage/index.tsx
  packages/@intlayer/design-system/src/components/LanguageBackground/LanguageSection.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: implement preloading dynamic dictionaries
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/function_fetching.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/eslint.json
  bun.lock
  examples/vite-preact-app/tsconfig.tsbuildinfo
  examples/vite-solid-app/src/components/QualifiedContentDemo/test-suspense-for.tsx
  examples/vite-solid-app/src/components/QualifiedContentDemo/test-suspense.ts
  packages/@intlayer/config/package.json
  packages/@intlayer/config/src/defaultValues/dictionary.ts
  packages/@intlayer/config/src/dictionaryPreload.test.ts
  packages/@intlayer/config/src/dictionaryPreload.ts
  packages/@intlayer/core/src/dictionaryManipulator/index.ts
  packages/@intlayer/core/src/dictionaryManipulator/preloadedDynamicLoader.ts
  packages/@intlayer/core/src/dictionaryManipulator/qualifiedDynamicLoader.ts
  packages/@intlayer/core/src/localization/index.ts
  packages/@intlayer/core/src/localization/resolveBrowserLocale.ts
  packages/@intlayer/engine/src/buildIntlayerDictionary/writeDynamicDictionary.ts
  packages/angular-intlayer/src/client/useDictionaryDynamic.ts
  packages/angular-intlayer/src/esbuild/plugin.ts
  packages/lit-intlayer/src/client/useDictionaryDynamic.ts
  packages/preact-intlayer/src/client/useDictionaryDynamic.ts
  packages/react-intlayer/src/client/useDictionaryDynamic.ts
  packages/solid-intlayer/src/client/useDictionaryDynamic.ts
  packages/solid-intlayer/src/client/useLoadDynamic.ts
  packages/svelte-intlayer/src/client/useDictionaryDynamic.ts
  packages/vanilla-intlayer/src/client/useDictionaryDynamic.ts
  packages/vite-intlayer/src/index.ts
  packages/vite-intlayer/src/intlayerChunkPlugin.test.ts
  packages/vite-intlayer/src/intlayerChunkPlugin.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
  packages/vite-intlayer/src/intlayerPreloadPlugin.test.ts
  packages/vite-intlayer/src/intlayerPreloadPlugin.ts
  packages/vue-intlayer/src/client/useDictionaryAsync.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(vue-intlayer): fix rendering complex dictionaries vue
  packages/@intlayer/vue-compiler/src/extractVueFieldUsage.test.ts
  packages/@intlayer/vue-compiler/src/extractVueFieldUsage.ts
  packages/vue-intlayer/src/client/useDictionary.test.ts
  packages/vue-intlayer/src/client/useDictionary.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(example): enable dynamic import mode for dictionary and fix solid app build
  examples/vite-solid-app/package.json
  examples/vite-svelte-app/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website-tanstack): comment out unused locales and switch import mode to dynamic
  apps/website-tanstack/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(config): add option for chunk grouping and dictionaries preload
  docs/docs/ar/configuration.md
  docs/docs/bn/configuration.md
  docs/docs/cs/configuration.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/nl/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/uk/configuration.md
  docs/docs/ur/configuration.md
  docs/docs/vi/configuration.md
  docs/docs/zh/configuration.md
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/defaultValues/build.ts
  packages/@intlayer/types/src/config.ts
  packages/angular-intlayer/src/esbuild/plugin.ts
  packages/vite-intlayer/src/intlayerChunkPlugin.test.ts
  packages/vite-intlayer/src/intlayerChunkPlugin.ts
  packages/vite-intlayer/src/intlayerPreloadPlugin.test.ts
  packages/vite-intlayer/src/intlayerPreloadPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update package dependencies
  apps/app/package.json
  apps/backend/package.json
  apps/showcase/package.json
  apps/website-tanstack/package.json
  apps/website/package.json
  bun.lock
  examples/tanstack-start-app/package.json
  packages/@intlayer/design-system/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(website): update disavow list
  apps/website/public/disavow.txt
Due: none

feat(website-tanstack): optimize website perf
  apps/website-tanstack/src/components/LandingPage/FeaturesSection/index.tsx
  apps/website-tanstack/src/globals.css
  apps/website-tanstack/src/routes/__root.tsx
  apps/website-tanstack/src/routes/{-$locale}/_playground/route.tsx
  apps/website-tanstack/src/routes/{-$locale}/contributors.tsx
  apps/website-tanstack/src/routes/{-$locale}/index.tsx
  apps/website-tanstack/vite.config.ts
  apps/website/src/components/LandingPage/FeaturesSection/index.tsx
  packages/@intlayer/design-system/src/components/ExpandCollapse/ExpandCollapse.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownIframe.tsx
  packages/@intlayer/design-system/src/components/Tab/Tab.tsx
  packages/@intlayer/design-system/src/components/TextArea/AutoSizeTextArea.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): replace framer-motion with CSS animations for improved performance
  apps/website-tanstack/src/components/LandingPage/HeroSection/index.tsx
  apps/website-tanstack/src/globals.css
  apps/website/src/components/LandingPage/HeroSection/index.tsx
  apps/website/src/globals.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website-tanstack): add Geist variable font and preload optimization
  apps/app/public/Geist-VariableFont_wght.woff2
  apps/showcase/public/Geist-VariableFont_wght.woff2
  apps/website-tanstack/public/Geist-VariableFont_wght.woff2
  apps/website-tanstack/src/routes/__root.tsx
  packages/@intlayer/design-system/src/components/MaxHeightSmoother/index.tsx
  packages/@intlayer/design-system/src/components/MaxWidthSmoother/index.tsx
  packages/@intlayer/design-system/tailwind.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: fix doc parsing error
  docs/blog/ar/nextjs-multilingual-seo-comparison.md
  docs/blog/de/nextjs-multilingual-seo-comparison.md
  docs/blog/en-GB/nextjs-multilingual-seo-comparison.md
  docs/blog/en/nextjs-multilingual-seo-comparison.md
  docs/blog/es/nextjs-multilingual-seo-comparison.md
  docs/blog/fr/nextjs-multilingual-seo-comparison.md
  docs/blog/hi/nextjs-multilingual-seo-comparison.md
  docs/blog/id/nextjs-multilingual-seo-comparison.md
  docs/blog/it/nextjs-multilingual-seo-comparison.md
  docs/blog/ja/nextjs-multilingual-seo-comparison.md
  docs/blog/ko/nextjs-multilingual-seo-comparison.md
  docs/blog/pl/nextjs-multilingual-seo-comparison.md
  docs/blog/pt/nextjs-multilingual-seo-comparison.md
  docs/blog/ru/nextjs-multilingual-seo-comparison.md
  docs/blog/tr/nextjs-multilingual-seo-comparison.md
  docs/blog/uk/nextjs-multilingual-seo-comparison.md
  docs/blog/vi/nextjs-multilingual-seo-comparison.md
  docs/blog/zh/nextjs-multilingual-seo-comparison.md
  docs/docs/ar/bundle_optimization.md
  docs/docs/cs/bundle_optimization.md
  docs/docs/de/bundle_optimization.md
  docs/docs/en/bundle_optimization.md
  docs/docs/es/bundle_optimization.md
  docs/docs/fr/bundle_optimization.md
  docs/docs/it/bundle_optimization.md
  docs/docs/pl/bundle_optimization.md
  docs/docs/pt/bundle_optimization.md
  docs/docs/ru/bundle_optimization.md
  docs/docs/tr/bundle_optimization.md
  docs/docs/vi/bundle_optimization.md
  docs/docs/zh-TW/bundle_optimization.md
  docs/docs/zh/bundle_optimization.md
Due: prettier --write

feat(design-system): set up multi session client
  packages/@intlayer/design-system/src/api/hooks/auth.ts
  packages/@intlayer/design-system/src/libs/auth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(backend): set up mutli session
  apps/backend/src/utils/auth/getAuth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(design-system): build acoount switcher component
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/src/components/AccountSwitcher/accountSwitcher.stories.tsx
  packages/@intlayer/design-system/src/components/AccountSwitcher/index.tsx
  packages/@intlayer/design-system/src/components/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(app): mount the account switcher on the dashboard sidebar and build it's functionalities
  apps/app/src/components/Dashboard/DashboardSidebar/DashboardSidebarProfile.tsx
  apps/app/src/routes/{-$locale}/_other/auth/_not-authenticated/route.tsx
  apps/app/src/routes/{-$locale}/demo.tsx
  apps/app/src/utils/auth.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(app): make iterator variable more explicit
  apps/app/src/components/Dashboard/DashboardSidebar/DashboardSidebarProfile.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(design-system): use type instead of interface to maintain code structure
  packages/@intlayer/design-system/src/components/AccountSwitcher/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website-tanstack): implement DocPageAside component and optimize Tab component for better accessibility and performance
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/nextjs-multilingual-seo-comparison.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/bundle_optimization.json
  apps/website-tanstack/src/components/LandingPage/FeaturesSection/CompilerSection/Visual.tsx
  apps/website-tanstack/src/components/LandingPage/FeaturesSection/MultilingualSection/index.tsx
  apps/website-tanstack/src/providers/AnimatePresenceProvider.tsx
  apps/website-tanstack/src/routes/__root.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/route.tsx
  apps/website-tanstack/vite.config.ts
  apps/website/public/disavow.txt
  apps/website/src/app/[locale]/(docs)/blog/[...slugs]/layout.tsx
  apps/website/src/app/[locale]/(docs)/frequent-questions/[...slugs]/layout.tsx
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/Visual.tsx
  apps/website/src/components/LandingPage/FeaturesSection/MultilingualSection/index.tsx
  packages/@intlayer/core/src/dictionaryManipulator/plainDynamicLoader.ts
  packages/@intlayer/design-system/src/components/Tab/Tab.test.tsx
  packages/@intlayer/design-system/src/components/Tab/Tab.tsx
  packages/@intlayer/design-system/src/hooks/useDevice.ts
  packages/@intlayer/design-system/src/hooks/useItemSelector.test.tsx
  packages/@intlayer/design-system/src/hooks/useItemSelector.ts
  packages/@intlayer/design-system/test/setup.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
