Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(engine): update isCorrectVersion runOnce criteria in prepareIntlayer
  packages/@intlayer/engine/src/prepareIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(engine): implement retry writing file if fail
  packages/@intlayer/engine/src/utils/runOnce.test.ts
  packages/@intlayer/engine/src/utils/runOnce.ts
  packages/@intlayer/engine/src/writeFileIfChanged.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): add new domains to disavow list
  apps/website/public/disavow.txt
Due: none

fix: enhance documentation routing and fix live sync slug
  apps/website-tanstack/src/siteRoutes.ts
  apps/website/src/app/[locale]/(docs)/blog/[...slugs]/layout.tsx
  apps/website/src/app/[locale]/(docs)/doc/[[...slugs]]/layout.tsx
  apps/website/src/app/[locale]/(docs)/frequent-questions/[...slugs]/layout.tsx
  apps/website/src/app/sitemap.ts
  apps/website/src/utils/docMetadata.test.ts
  apps/website/src/utils/docMetadata.ts
  docs/docs/ar/live-sync.md
  docs/docs/de/live-sync.md
  docs/docs/en-GB/live-sync.md
  docs/docs/en/live-sync.md
  docs/docs/es/live-sync.md
  docs/docs/fr/live-sync.md
  docs/docs/hi/live-sync.md
  docs/docs/id/live-sync.md
  docs/docs/it/live-sync.md
  docs/docs/ja/live-sync.md
  docs/docs/ko/live-sync.md
  docs/docs/pl/live-sync.md
  docs/docs/pt/live-sync.md
  docs/docs/ru/live-sync.md
  docs/docs/tr/live-sync.md
  docs/docs/uk/live-sync.md
  docs/docs/vi/live-sync.md
  docs/docs/zh/live-sync.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(webste): add new domains to disavow list
  apps/website/public/disavow.txt
Due: none

fix(core): fix types getEditedContent
  packages/@intlayer/core/src/deepTransformPlugins/getEditedContent.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(engine): improve js file transformation using recast
  packages/@intlayer/engine/src/init/frameworkSetup/tanstackStart/transforms.ts
  packages/@intlayer/engine/src/writeContentDeclaration/transformJSFile.test.ts
  packages/@intlayer/engine/src/writeContentDeclaration/transformJSFile.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: fix build by restoring typescript 5 for svelte-intlayer
  bun.lock
  package.json
  packages/svelte-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(babel): implement build optimization of nested dictionaries
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/live-sync.json
  packages/@intlayer/babel/src/babel-plugin-intlayer-optimize.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-optimize.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-purge.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-usage-analyzer.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-usage-analyzer.ts
  packages/@intlayer/babel/src/getOptimizePluginOptions.ts
  packages/@intlayer/babel/src/getPurgePluginOptions.ts
  packages/@intlayer/config/src/envVars/envVars.ts
  packages/@intlayer/core/src/dictionaryManipulator/getNestedDictionaryReferences.test.ts
  packages/@intlayer/core/src/dictionaryManipulator/getNestedDictionaryReferences.ts
  packages/@intlayer/core/src/dictionaryManipulator/index.ts
  packages/@intlayer/core/src/interpreter/getContent/plugins.ts
  packages/@intlayer/core/src/interpreter/getDictionary.ts
  packages/@intlayer/core/src/interpreter/getNesting.optimized.ts
  packages/@intlayer/engine/src/buildIntlayerDictionary/buildIntlayerDictionary.ts
  packages/@intlayer/engine/src/buildIntlayerDictionary/writeDynamicDictionary.ts
  packages/@intlayer/engine/src/buildIntlayerDictionary/writeFetchDictionary.ts
  packages/@intlayer/engine/src/buildIntlayerDictionary/writeNestedDictionary.ts
  packages/@intlayer/swc/src/lib.rs
  packages/@intlayer/types/src/dictionary.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(core): optimize qualified dictionary declaration and dynamic loader functionality
  packages/@intlayer/core/src/dictionaryManipulator/index.ts
  packages/@intlayer/core/src/dictionaryManipulator/mergeQualifiedDictionaries.ts
  packages/@intlayer/core/src/dictionaryManipulator/qualifiedDictionary.test.ts
  packages/@intlayer/core/src/dictionaryManipulator/qualifiedDictionary.ts
  packages/@intlayer/core/src/dictionaryManipulator/qualifiedDictionaryDeclaration.ts
  packages/@intlayer/core/src/dictionaryManipulator/qualifiedDynamicLoader.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): fix doc date to fix build
  apps/website/package.json
  apps/website/src/app/feed.xml/route.ts
  docs/blog/ar/index.md
  docs/blog/de/index.md
  docs/blog/en-GB/index.md
  docs/blog/en/index.md
  docs/blog/es/index.md
  docs/blog/fr/index.md
  docs/blog/hi/index.md
  docs/blog/id/index.md
  docs/blog/it/index.md
  docs/blog/ja/index.md
  docs/blog/ko/index.md
  docs/blog/pl/index.md
  docs/blog/pt/index.md
  docs/blog/ru/index.md
  docs/blog/uk/index.md
  docs/blog/vi/index.md
  docs/blog/zh/index.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(website): update disavow list
  apps/website/public/disavow.txt
Due: none

feat(engine): optimize loading remote dictionaries
  apps/backend/src/controllers/dictionary.controller.ts
  apps/backend/src/routes/dictionary.routes.ts
  apps/backend/src/routes/paramsSchemas.ts
  packages/@intlayer/config/src/utils/retryManager.ts
  packages/@intlayer/engine/src/fetchDistantDictionaries.test.ts
  packages/@intlayer/engine/src/fetchDistantDictionaries.ts
  packages/@intlayer/engine/src/loadDictionaries/loadRemoteDictionaries.ts
  packages/@intlayer/engine/src/utils/chunkArray.test.ts
  packages/@intlayer/engine/src/utils/chunkArray.ts
  packages/@intlayer/engine/src/utils/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update bundle optimization documentation
  docs/docs/ar/bundle_optimization.md
  docs/docs/bn/bundle_optimization.md
  docs/docs/cs/bundle_optimization.md
  docs/docs/de/bundle_optimization.md
  docs/docs/en-GB/bundle_optimization.md
  docs/docs/en/bundle_optimization.md
  docs/docs/es/bundle_optimization.md
  docs/docs/fr/bundle_optimization.md
  docs/docs/hi/bundle_optimization.md
  docs/docs/id/bundle_optimization.md
  docs/docs/it/bundle_optimization.md
  docs/docs/ja/bundle_optimization.md
  docs/docs/ko/bundle_optimization.md
  docs/docs/nl/bundle_optimization.md
  docs/docs/pl/bundle_optimization.md
  docs/docs/pt/bundle_optimization.md
  docs/docs/ru/bundle_optimization.md
  docs/docs/tr/bundle_optimization.md
  docs/docs/uk/bundle_optimization.md
  docs/docs/ur/bundle_optimization.md
  docs/docs/vi/bundle_optimization.md
  docs/docs/zh-TW/bundle_optimization.md
  docs/docs/zh/bundle_optimization.md
Due: prettier --write

feat(next-intlayer): optimize dictionary prune and minify for nextjs
  apps/app/package.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/bundle_optimization.json
  apps/showcase/package.json
  apps/website-tanstack/intlayer.config.ts
  apps/website-tanstack/package.json
  apps/website/intlayer.config.ts
  apps/website/package.json
  bun.lock
  examples/tanstack-start-app/package.json
  examples/vite-react-app/intlayer.config.ts
  packages/@intlayer/api/src/fetcher.ts
  packages/@intlayer/api/src/getIntlayerAPI/dictionary.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-purge.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-purge.ts
  packages/@intlayer/config/src/configFile/buildBrowserConfiguration.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/configFile/editorCredentials.test.ts
  packages/@intlayer/config/src/configFile/getConfiguration.ts
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
  packages/next-intlayer/src/server/prepareSwcOptimization.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerMinifyPlugin.ts
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(engine): enable editor and configure client credentials in intlayer.config.ts
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/bundle_optimization.json
  examples/vite-react-app/intlayer.config.ts
  packages/@intlayer/engine/src/loadDictionaries/loadDictionaries.ts
  packages/@intlayer/engine/src/loadDictionaries/log.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(lsp): add canary and latest publish scripts to package.json
  packages/@intlayer/lsp/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(docs): update file extensions in usage documentation for consistency
  .agents/skills/intlayer-usage/references/why.md
  docs/docs/ar/interest_of_intlayer.md
  docs/docs/bn/interest_of_intlayer.md
  docs/docs/cs/interest_of_intlayer.md
  docs/docs/de/interest_of_intlayer.md
  docs/docs/en-GB/interest_of_intlayer.md
  docs/docs/en/interest_of_intlayer.md
  docs/docs/es/interest_of_intlayer.md
  docs/docs/fr/interest_of_intlayer.md
  docs/docs/hi/interest_of_intlayer.md
  docs/docs/id/interest_of_intlayer.md
  docs/docs/it/interest_of_intlayer.md
  docs/docs/ja/interest_of_intlayer.md
  docs/docs/ko/interest_of_intlayer.md
  docs/docs/nl/interest_of_intlayer.md
  docs/docs/pl/interest_of_intlayer.md
  docs/docs/pt/interest_of_intlayer.md
  docs/docs/ru/interest_of_intlayer.md
  docs/docs/tr/interest_of_intlayer.md
  docs/docs/uk/interest_of_intlayer.md
  docs/docs/ur/interest_of_intlayer.md
  docs/docs/vi/interest_of_intlayer.md
  docs/docs/zh-TW/interest_of_intlayer.md
  docs/docs/zh/interest_of_intlayer.md
Due: prettier --write

feat(docs): add compatibility adapters information to interest_of_intlayer documentation across multiple languages
  docs/docs/ar/interest_of_intlayer.md
  docs/docs/bn/interest_of_intlayer.md
  docs/docs/cs/interest_of_intlayer.md
  docs/docs/de/interest_of_intlayer.md
  docs/docs/en-GB/interest_of_intlayer.md
  docs/docs/en/interest_of_intlayer.md
  docs/docs/es/interest_of_intlayer.md
  docs/docs/fr/interest_of_intlayer.md
  docs/docs/hi/interest_of_intlayer.md
  docs/docs/id/interest_of_intlayer.md
  docs/docs/it/interest_of_intlayer.md
  docs/docs/ja/interest_of_intlayer.md
  docs/docs/ko/interest_of_intlayer.md
  docs/docs/nl/interest_of_intlayer.md
  docs/docs/pl/interest_of_intlayer.md
  docs/docs/pt/interest_of_intlayer.md
  docs/docs/ru/interest_of_intlayer.md
  docs/docs/tr/interest_of_intlayer.md
  docs/docs/uk/interest_of_intlayer.md
  docs/docs/ur/interest_of_intlayer.md
  docs/docs/vi/interest_of_intlayer.md
  docs/docs/zh-TW/interest_of_intlayer.md
  docs/docs/zh/interest_of_intlayer.md
Due: prettier --write

fix(vite-intlayer): disable proxy for nitro prerendering
  packages/nuxt-intlayer/src/runtime/intlayer-middleware.ts
  packages/vite-intlayer/src/intlayerNitroHandler.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.test.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): normalize JSON-LD URLs across structured data builders and tests
  packages/@intlayer/design-system/src/routes.ts
  packages/@intlayer/design-system/src/structured-data/buildAuthorJsonLd.ts
  packages/@intlayer/design-system/src/structured-data/buildBreadcrumbsJsonLd.ts
  packages/@intlayer/design-system/src/structured-data/buildCreativeWorkJsonLd.ts
  packages/@intlayer/design-system/src/structured-data/buildOrganizationJsonLd.ts
  packages/@intlayer/design-system/src/structured-data/buildProductJsonLd.ts
  packages/@intlayer/design-system/src/structured-data/buildSoftwareApplicationJsonLd.ts
  packages/@intlayer/design-system/src/structured-data/buildWebsiteJsonLd.ts
  packages/@intlayer/design-system/src/structured-data/index.ts
  packages/@intlayer/design-system/src/structured-data/normalizeJsonLdUrl.ts
  packages/@intlayer/design-system/src/structured-data/structuredData.test.ts
  packages/@intlayer/engine/src/init/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update package dependencies
  apps/app/package.json
  apps/backend/package.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/interest_of_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/readme.json
  apps/showcase/package.json
  apps/website-tanstack/package.json
  apps/website/package.json
  bun.lock
  examples/next-no-lolale-path/package.json
  examples/react-app/package.json
  examples/tanstack-start-app/package.json
  examples/vite-svelte-app/package.json
  examples/vite-vue-app/package.json
  package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/engine/package.json
  packages/@intlayer/lsp/package.json
  packages/intlayer-editor/package.json
  packages/next-intlayer/package.json
  packages/solid-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website-tanstack): remove stale time and pending state comments to clarify configuration
  apps/website-tanstack/src/router.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(design-system): update shiki codeblock
  packages/@intlayer/design-system/src/components/IDE/Code.tsx
  packages/@intlayer/design-system/src/components/IDE/CodeBlockClient.tsx
  packages/@intlayer/design-system/src/components/IDE/CodeBlockHighlight.tsx
  packages/@intlayer/design-system/src/components/IDE/CodeBlockShiki.tsx
  packages/@intlayer/design-system/src/components/IDE/MarkDownRender.tsx
  packages/@intlayer/design-system/src/components/IDE/shikiLanguages.test.ts
  packages/@intlayer/design-system/src/components/IDE/shikiLanguages.ts
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): update to use Website_ReleasesV9_Path in HeroSection component
  apps/website-tanstack/src/components/LandingPage/HeroSection/index.tsx
  apps/website/src/components/LandingPage/HeroSection/index.tsx
  packages/@intlayer/design-system/src/routes.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
