Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(design-system): fix invalid props
  packages/@intlayer/design-system/src/components/ThemeSwitcherDropDown/MobileThemeSwitcher.tsx
Due: prettier --write, eslint --fix

style(design-system): update style Popover and PressableDiv
  packages/@intlayer/design-system/src/components/Popover/index.tsx
  packages/@intlayer/design-system/src/components/PressableDiv/PressableDiv.tsx
Due: prettier --write, eslint --fix

style(website): reduce padding page mobile
  apps/website/src/components/DemoPage/index.tsx
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: prettier --write, eslint --fix

style(website): make image demo rounded
  apps/website/src/components/DemoPage/AsideImage.tsx
Due: prettier --write, eslint --fix

fix(website): fix call back buttons links
  apps/website/src/components/LandingPage/LandingSection/ActionButtons.tsx
Due: prettier --write, eslint --fix

feat(next-intlayer): export NextLayoutIntlayer
  packages/next-intlayer/src/index.ts
  packages/next-intlayer/src/types/index.ts
Due: prettier --write, eslint --fix

docs: update nextjs doc
  docs/docs/intlayer_with_nextjs_en.md
  docs/docs/intlayer_with_nextjs_es.md
  docs/docs/intlayer_with_nextjs_fr.md
Due: prettier --write

docs: update docs
  docs/docs/intlayer_with_create_react_app_en.md
  docs/docs/intlayer_with_create_react_app_es.md
  docs/docs/intlayer_with_create_react_app_fr.md
  docs/docs/intlayer_with_nextjs_en.md
  docs/docs/intlayer_with_nextjs_es.md
  docs/docs/intlayer_with_nextjs_fr.md
  docs/docs/intlayer_with_vite+react_en.md
  docs/docs/intlayer_with_vite+react_es.md
  docs/docs/intlayer_with_vite+react_fr.md
Due: prettier --write

style(website): style BlockQuote
  packages/@intlayer/design-system/src/components/MarkDownRender/index.tsx
Due: prettier --write, eslint --fix

docs: update doc name with i18next
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/doc/concept/intlayer_with_i18next/metadata.ts
  apps/website/src/app/[locale]/doc/concept/intlayer_with_i18next/page.tsx
  apps/website/src/app/[locale]/sitemap.ts
  apps/website/src/components/DocPage/doc-page.content.ts
  docs/docs/intlayer_with_i18next_en.md
  docs/docs/intlayer_with_i18next_es.md
  docs/docs/intlayer_with_i18next_fr.md
  docs/index.cjs
  docs/index.d.ts
Due: prettier --write, eslint --fix

refactor(webpage): refactor sitemap doc page
  apps/website/src/app/[locale]/(not-editable)/doc/[...doc]/sitemap.ts
  apps/website/src/app/[locale]/sitemap.ts
  apps/website/src/components/DocPage/docData.ts
Due: prettier --write, eslint --fix

feat(website): update DocPageLayout
  apps/website/src/components/DocPage/DocPageLayout.tsx
Due: prettier --write, eslint --fix

fix(webpage): fix sitemap bug
  apps/website/src/app/[locale]/(not-editable)/doc/[...doc]/sitemap.ts
  apps/website/src/app/[locale]/sitemap.ts
Due: prettier --write, eslint --fix

feat(website): implement default page doc
  apps/website/src/app/[locale]/(not-editable)/doc/[[...doc]]/layout.tsx
  apps/website/src/app/[locale]/(not-editable)/doc/[[...doc]]/page.tsx
  apps/website/src/app/[locale]/(not-editable)/doc/page.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
  apps/website/src/components/DocPage/docData.ts
Due: prettier --write, eslint --fix

docs: update doc
  docs/docs/content_declaration/declaration_watching_en.md
  docs/docs/content_declaration/declaration_watching_es.md
  docs/docs/content_declaration/declaration_watching_fr.md
  docs/docs/content_declaration/enumeration_en.md
  docs/docs/content_declaration/enumeration_es.md
  docs/docs/content_declaration/enumeration_fr.md
  docs/docs/content_declaration/function_fetching_en.md
  docs/docs/content_declaration/function_fetching_es.md
  docs/docs/content_declaration/function_fetching_fr.md
  docs/docs/content_declaration/get_started_en.md
  docs/docs/content_declaration/get_started_es.md
  docs/docs/content_declaration/get_started_fr.md
  docs/docs/content_declaration/nested_id_en.md
  docs/docs/content_declaration/nested_id_es.md
  docs/docs/content_declaration/nested_id_fr.md
  docs/docs/content_declaration/translation_en.md
  docs/docs/content_declaration/translation_es.md
  docs/docs/content_declaration/translation_fr.md
Due: prettier --write

docs: add header
  docs/docs/header.md
Due: prettier --write

feat(website): active editor permanently
  apps/website/intlayer.config.ts
Due: prettier --write, eslint --fix

docs: update doc
  apps/website/src/Routes.ts
  apps/website/src/components/DocPage/docData.ts
  docs/DocsKeys.d.ts
  docs/docs/content_declaration/content_extention_customization_en.md
  docs/docs/content_declaration/content_extention_customization_es.md
  docs/docs/content_declaration/content_extention_customization_fr.md
  docs/docs/content_declaration/get_started_en.md
  docs/docs/content_declaration/get_started_es.md
  docs/docs/content_declaration/get_started_fr.md
  docs/docs/intlayer_cli_en.md
  docs/docs/intlayer_cli_es.md
  docs/docs/intlayer_cli_fr.md
  docs/index.cjs
  docs/index.d.ts
Due: prettier --write, eslint --fix

feat: add section hash navigation doc
  packages/@intlayer/design-system/src/components/Headers/SectionScroller.tsx
  packages/@intlayer/design-system/src/components/Headers/index.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/index.tsx
Due: prettier --write, eslint --fix

feat(website): add chevron Doc menu
  apps/website/src/components/DocPage/DocPageLayout.tsx
Due: prettier --write, eslint --fix

fix: fix sitemap
  apps/website/src/app/sitemap.ts
Due: prettier --write, eslint --fix

refactor(website): remove next-sitemap.config
  apps/website/next-sitemap.config.js
Due: prettier --write, eslint --fix

feat(website): implement cdesandbox editor landing page
  apps/website/intlayer.config.ts
  apps/website/next.config.mjs
  apps/website/src/components/LandingPage/DemoCodeSandbox/index.tsx
  apps/website/src/components/LandingPage/index.tsx
Due: prettier --write, eslint --fix

docs: add doc header
  README.md
  docs/assets/logo.png
  packages/intlayer-cli/README.md
  packages/intlayer-editor/README.md
  packages/intlayer/README.md
  packages/next-intlayer/README.md
  packages/react-intlayer/README.md
Due: prettier --write

chore: add changeset
  .changeset/twenty-seas-flow.md
Due: prettier --write

chore: update docs header
  packages/next-intlayer/README.md
  packages/react-intlayer/README.md
Due: prettier --write

feat: add intlayer and i18next page
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/(not-editable)/doc/[[...doc]]/layout.tsx
  apps/website/src/components/DocPage/docData.ts
Due: prettier --write, eslint --fix

feat(navbar): make DocPageLayout scrollable
  apps/website/src/components/DocPage/DocPageLayout.tsx
Due: prettier --write, eslint --fix

feat(landing-page): add load codesanbox once its visible
  apps/website/next.config.mjs
  apps/website/src/components/LandingPage/DemoCodeSandbox/index.tsx
Due: prettier --write, eslint --fix

chore(package.json): update packages packages json
  docs/package.json
  examples/cli/package.json
  package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
Due: prettier --write

chore: add changelog
  .changeset/hungry-eggs-obey.md
Due: prettier --write

docs: update doc
  apps/website/src/app/[locale]/metadata.ts
  apps/website/src/components/LandingPage/LandingSection/landing-section.content.ts
  docs/docs/interest_of_intlayer_en.md
  docs/docs/interest_of_intlayer_es.md
  docs/docs/interest_of_intlayer_fr.md
  docs/docs/intlayer_with_create_react_app_en.md
  docs/docs/intlayer_with_create_react_app_es.md
  docs/docs/intlayer_with_create_react_app_fr.md
  docs/docs/intlayer_with_nextjs_en.md
  docs/docs/intlayer_with_nextjs_es.md
  docs/docs/intlayer_with_nextjs_fr.md
  docs/docs/intlayer_with_vite+react_en.md
  docs/docs/intlayer_with_vite+react_es.md
  docs/docs/intlayer_with_vite+react_fr.md
  docs/docs/introduction_en.md
  docs/docs/introduction_es.md
  docs/docs/introduction_fr.md
  packages/intlayer-cli/README.md
  packages/intlayer/README.md
  packages/next-intlayer/README.md
  packages/react-intlayer/README.md
Due: prettier --write, eslint --fix

feat(design-system): update IDE
  apps/website/src/components/LandingPage/LandingSection/content/client-component.md
  apps/website/src/components/LandingPage/LandingSection/content/client-content.md
  apps/website/src/components/LandingPage/LandingSection/content/config-file.md
  apps/website/src/components/LandingPage/LandingSection/content/server-component.md
  apps/website/src/components/LandingPage/LandingSection/content/server-content.md
  apps/website/src/components/LandingPage/LandingSection/index.tsx
  packages/@intlayer/design-system/src/components/IDE/CodeRender.tsx
  packages/@intlayer/design-system/src/components/IDE/FileTree.tsx
  packages/@intlayer/design-system/src/components/IDE/IDE.tsx
  packages/@intlayer/design-system/src/components/IDE/MarkDownRender.tsx
  packages/@intlayer/design-system/src/components/IDE/createFileTree.ts
  packages/@intlayer/design-system/src/components/WithResizer/index.tsx
  packages/@intlayer/design-system/src/components/index.ts
Due: prettier --write, eslint --fix

feat(design-system): adapt IDE to mobile
  packages/@intlayer/design-system/src/components/IDE/FileTree.tsx
  packages/@intlayer/design-system/src/components/WithResizer/index.tsx
Due: prettier --write, eslint --fix

docs: post react clean architecture image
  docs/assets/react_clean_architecture.png
Due: none

docs: fix file tree
  docs/docs/introduction_en.md
  packages/intlayer/README.md
  packages/next-intlayer/README.md
  packages/react-intlayer/README.md
Due: prettier --write

chore: update design system dep
  packages/@intlayer/design-system/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(website): update CodeSandbox iframe
  apps/website/src/components/LandingPage/DemoCodeSandbox/index.tsx
Due: prettier --write, eslint --fix
