Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

feat(babel): stringify extraction check
  packages/@intlayer/babel/src/extractContent/utils/generateKey.ts
  packages/@intlayer/babel/src/extractContent/utils/shouldExtract.test.ts
  packages/@intlayer/babel/src/extractContent/utils/shouldExtract.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

perf: optimize plugins lazy load tree shaking
  packages/angular-intlayer/src/plugins.ts
  packages/preact-intlayer/src/plugins.tsx
  packages/react-intlayer/src/plugins.tsx
  packages/solid-intlayer/src/plugins.tsx
  packages/svelte-intlayer/src/plugins.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(vite-intlayer): rework purge and minification
  packages/@intlayer/babel/src/babel-plugin-intlayer-field-rename.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-field-rename.ts
  packages/vite-intlayer/src/intlayerMinifyPlugin.ts
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(babel): add support for secondary destructuring in field renaming
  packages/@intlayer/babel/src/babel-plugin-intlayer-field-rename.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-field-rename.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(showcase): fix build
  apps/showcase/src/components/Link/Link.tsx
  apps/showcase/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(babel): add missing export subpackage in type
  apps/app/src/routeTree.gen.ts
  packages/@intlayer/types/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(app): fix dictionary change validation
  apps/app/src/components/Dashboard/ContentDashboard/ConfigurationProvider.tsx
  apps/app/src/components/Dashboard/ContentDashboard/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): use standalone output Dockerfile
  apps/website/Dockerfile
Due: none

fix(react-intlayer): fix test mocking
  packages/react-intlayer/src/IntlayerNode.test.tsx
  packages/react-intlayer/src/getDictionary.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): fix standalone start website
  apps/website/Dockerfile
Due: none

feat(website): fix standalone output website
  apps/website/next.config.ts
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(next-intlayer): prevent header duplication and invalid routing URLs in multipleProxies by using set instead of append for specific keys
  packages/next-intlayer/src/proxy/multipleProxies.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): fix build
  apps/website/src/app/[locale]/(docs)/doc/chat/metadata.ts
  apps/website/src/app/[locale]/(docs)/doc/search/metadata.ts
  apps/website/src/app/sitemap.ts
  apps/website/src/components/BlogPage/BlogBreadCrumb.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): update standalone start
  apps/website/Dockerfile
Due: none

feat(app): add redirection to organization on go home
  apps/app/src/routes/{-$locale}/route.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): fix minify error
  apps/app/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(babel): update minification logic
  apps/app/intlayer.config.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-field-rename.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-field-rename.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-usage-analyzer.ts
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
  packages/vite-intlayer/src/pruneContext.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): optimize components
  apps/app/src/components/Dashboard/OrganizationForm/SSO/CurrentProviderInfo.tsx
  apps/app/src/components/Dashboard/OrganizationForm/SSO/OIDCConfigForm.tsx
  apps/app/src/components/Dashboard/OrganizationForm/SSO/SAMLConfigForm.tsx
  apps/app/src/components/Dashboard/OrganizationForm/SSO/SSOSettings.tsx
  apps/app/src/components/Dashboard/UserForm/UserEditForm/UserDates.tsx
  apps/app/src/components/Dashboard/UserForm/UserEditForm/UserFormFields.tsx
  apps/app/src/components/Dashboard/UserForm/UserEditForm/UserHeader.tsx
  apps/app/src/components/Dashboard/UserForm/UserEditForm/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): remove unused content
  apps/app/src/components/Auth/PasskeyManagement/passkeyManagement.content.ts
  apps/app/src/components/Auth/SignIn/SignInForm/signIn.content.ts
  apps/app/src/components/Dashboard/AdminPage/AdminUsers/userAdminPage.content.ts
  apps/app/src/components/Dashboard/OrganizationForm/SSO/ssoSettings.content.ts
  apps/app/src/components/Dashboard/ProjectForm/AccessKey/accessKeyCreateForm.content.ts
  apps/app/src/components/Dashboard/ProjectForm/Members/useMembersForm.content.ts
  apps/app/src/components/Dashboard/UserForm/UserEditForm/index.content.ts
  apps/app/src/components/NotFoundComponent.tsx
  apps/app/src/components/OnboardPage/DefinePasswordStep/useDefinePasswordSchema.content.ts
  apps/app/src/routes/{-$locale}/404.content.ts
  packages/@intlayer/design-system/src/components/Browser/Browser.content.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryCreationForm/dictionaryCreationForm.content.ts
  packages/@intlayer/design-system/src/components/Pagination/Pagination.tsx
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): add experimental notation for purge and minify options on init intlayer
  packages/@intlayer/chokidar/src/initConfig/templates/cjs.txt
  packages/@intlayer/chokidar/src/initConfig/templates/json.txt
  packages/@intlayer/chokidar/src/initConfig/templates/mjs.txt
  packages/@intlayer/chokidar/src/initConfig/templates/ts.txt
Due: none

fix(app): fix translation dashboard
  apps/app/src/components/Dashboard/TranslateDashboard/SaveAllButton.tsx
  apps/app/src/components/Dashboard/TranslateDashboard/index.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): fix admin panel
  apps/app/src/routeTree.gen.ts
  apps/app/src/routes/{-$locale}/_dashboard/_admin/admin.tsx
  apps/app/src/routes/{-$locale}/_dashboard/_admin/route.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): copy static assets and public directory to standalone build in Dockerfile
  apps/website/Dockerfile
Due: none

chore(website): update Dockerfile to use multi-stage build and optimize standalone server deployment
  apps/website/Dockerfile
Due: none

refactor: optimize Dockerfile copy operations and implement multi-stage build for showcase app
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/doc/Dockerfile
  apps/showcase/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

chore: install wget in Dockerfile runner stages across apps and packages
  apps/showcase/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

chore: update Dockerfile runner images to use official oven/bun base image
  apps/showcase/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

fix(showcase): add @intlayer/core dependency to showcase app
  apps/showcase/package.json
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(mcp): restore Dockerfile to set working directory and adjust ownership
  packages/@intlayer/mcp/Dockerfile
Due: none

fix(chore): update insertion type
  packages/@intlayer/core/src/interpreter/getContent/plugins.ts
  packages/react-intlayer/src/plugins.tsx
  packages/svelte-intlayer/src/plugins.ts
  packages/vue-intlayer/src/plugins.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: fix dockerfiles
  apps/backend/src/index.ts
  packages/@intlayer/mcp/Dockerfile
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): add health check endpoint and update Docker healthcheck configuration
  apps/website/Dockerfile
  apps/website/src/app/api/health/route.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): fix redirection homepage
  apps/app/src/routes/{-$locale}/$.tsx
  apps/app/src/routes/{-$locale}/route.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
