Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: fix Dockerfiles build
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/showcase/Dockerfile
  apps/website-next/Dockerfile
  apps/website/Dockerfile
  docker/selfhost/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

fix(website): remove intlayer-editor from Dockerfile exclusions to streamline build process
  apps/website/Dockerfile
Due: none

fix: structured data
  apps/website-tanstack/src/components/LandingPage/CommonQuestionsSection/CommonQuestions.tsx
  apps/website-tanstack/src/components/LandingPage/ProductsSection/index.tsx
  apps/website-tanstack/src/components/LandingPage/WhyToChoseIntlayerSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): update build command to target specific workspace package for improved efficiency
  apps/website/Dockerfile
Due: none

chore(website): limit active locales, enhance SEO metadata, and reorder Navbar components
  apps/app/src/routes/__root.tsx
  apps/app/src/routes/{-$locale}/demo.tsx
  apps/app/src/routes/{-$locale}/route.tsx
  apps/website/src/components/Navbar/index.tsx
  apps/website/src/routes/__root.tsx
  apps/website/src/routes/{-$locale}/metadata.content.ts
  apps/website/src/routes/{-$locale}/route.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): optimize scroll event handling with requestAnimationFrame and update configuration and UI components
  apps/website/src/components/Navbar/GithubStarCount.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): implement frame task scheduling utility and optimize scroll/resize event performance in hooks and components
  apps/website/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

perf(website): optimize scroll and layout performance by batching DOM measurements and implementing frame-scheduled updates
  apps/website/intlayer.config.ts
  apps/website/src/components/DocPage/AsideNavigation/AsideNavigation.tsx
  apps/website/src/components/DocPage/NavTitles/NavTitles.tsx
  apps/website/src/components/DocPage/ScrollWell.tsx
  apps/website/src/components/DocPage/TOCProgressBar/TOCProgressBar.tsx
  apps/website/src/components/DocPage/useActiveSection.ts
  apps/website/src/components/DocPage/useTitlesTree.ts
  apps/website/src/components/TableOfContents/TableOfContents.tsx
  packages/@intlayer/design-system/src/components/Form/elements/OTPElement.tsx
  packages/@intlayer/design-system/src/components/Pagination/Pagination.tsx
  packages/@intlayer/design-system/src/components/TabSelector/TabSelector.tsx
  packages/@intlayer/design-system/src/hooks/useItemSelector.ts
  packages/@intlayer/design-system/src/hooks/useScrollY.ts
  packages/@intlayer/design-system/src/utils/index.ts
  packages/@intlayer/design-system/src/utils/observeScrollExtent.test.ts
  packages/@intlayer/design-system/src/utils/observeScrollExtent.ts
  packages/@intlayer/design-system/src/utils/scheduleFrameTask.test.ts
  packages/@intlayer/design-system/src/utils/scheduleFrameTask.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): reduce font size of Github star count in navbar
  apps/website/src/components/Navbar/GithubStarCount.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): fix page meta title
  apps/app/src/routes/{-$locale}/route.tsx
  apps/website/src/routes/{-$locale}/_docs/blog/$.tsx
  apps/website/src/routes/{-$locale}/_docs/doc/$.tsx
  apps/website/src/routes/{-$locale}/_docs/frequent-questions/$.tsx
  apps/website/src/routes/{-$locale}/_docs/frequent-questions/index.tsx
  apps/website/src/routes/{-$locale}/_docs/privacy-notice.tsx
  apps/website/src/routes/{-$locale}/_docs/terms-of-service.tsx
  apps/website/src/routes/{-$locale}/_playground/playground.tsx
  apps/website/src/routes/{-$locale}/cms.tsx
  apps/website/src/routes/{-$locale}/contributors.tsx
  apps/website/src/routes/{-$locale}/demo.tsx
  apps/website/src/routes/{-$locale}/route.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): enable support for all additional locales in intlayer configuration
  apps/website/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): improve CSP nonce-based script security
  apps/website/src/router.tsx
  apps/website/src/routes/__root.tsx
  apps/website/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(design-system): add className prop to Accordion component to support custom styling
  packages/@intlayer/design-system/src/components/Accordion/Accordion.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(app): update DashboardAudience container roundedSize to 3xl
  apps/app/src/components/Dashboard/DashboardOverview/DashboardAudience.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): add left border and neutral border color to RightDrawer container
  packages/@intlayer/design-system/src/components/RightDrawer/RightDrawer.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add new domains to disavow list
  apps/website/public/disavow.txt
Due: none

fix(showcase): replace URL with SITE_URL for link normalization and safety
  apps/showcase/src/components/Link/Link.tsx
  apps/showcase/src/components/ProjectFocus/ProjectFocus.tsx
  packages/@intlayer/design-system/src/components/Link/Link.tsx
  packages/@intlayer/design-system/src/components/Link/link.test.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): implement AI catalog endpoint and update related routes
  apps/website/src/components/LandingPage/ChatBotModal/index.tsx
  apps/website/src/components/Link/Link.tsx
  apps/website/src/routeTree.gen.ts
  apps/website/src/routes/[.]well-known/ai-catalog[.]json.ts
  apps/website/src/routes/__root.tsx
  apps/website/src/routes/robots[.]txt.ts
  apps/website/vite.config.ts
  packages/@intlayer/design-system/src/components/ExpandCollapse/ExpandCollapse.tsx
  packages/@intlayer/design-system/src/routes.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): add static prerendering and compression for TanStack Start
  apps/app/package.json
  apps/app/scripts/compress-static.ts
  apps/app/server/staticPages.ts
  apps/app/src/router.tsx
  apps/app/vite.config.ts
  apps/showcase/package.json
  apps/showcase/scripts/compress-static.ts
  apps/showcase/server/staticPages.ts
  apps/showcase/src/router.tsx
  apps/showcase/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

style(website): update DocNavList header class names for improved spacing
  apps/website/src/components/DocPage/DocNavList.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update MCP server documentation to group platform setup sections into tabs and update the last modified date
  docs/docs/ar/mcp_server.md
  docs/docs/de/mcp_server.md
  docs/docs/en-GB/mcp_server.md
  docs/docs/en/mcp_server.md
  docs/docs/es/mcp_server.md
  docs/docs/fr/mcp_server.md
  docs/docs/hi/mcp_server.md
  docs/docs/id/mcp_server.md
  docs/docs/it/mcp_server.md
  docs/docs/ja/mcp_server.md
  docs/docs/ko/mcp_server.md
  docs/docs/pl/mcp_server.md
  docs/docs/pt/mcp_server.md
  docs/docs/ru/mcp_server.md
  docs/docs/tr/mcp_server.md
  docs/docs/uk/mcp_server.md
  docs/docs/vi/mcp_server.md
  docs/docs/zh/mcp_server.md
Due: prettier --write

chore: update dependencies across packages
  apps/backend/package.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/mcp_server.json
  apps/website/package.json
  bun.lock
  package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/mcp/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website): enhance BlogNavList and DocNavList components with improved visibility and keyboard shortcuts
  apps/website/src/components/BlogPage/BlogNavList.tsx
  apps/website/src/components/DocPage/DocNavList.tsx
  apps/website/src/components/DocPage/Search/SearchTrigger.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): integrate SwitchSelector for range and breakdown tabs, enhance evolution chart labels
  apps/app/src/components/Dashboard/DashboardOverview/DashboardAudience.tsx
  apps/app/src/components/Dashboard/DashboardOverview/DashboardOverview.tsx
  apps/app/src/components/Dashboard/DashboardOverview/dashboardAudience.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update disavow.txt with additional domains for disavowal
  apps/website/public/disavow.txt
Due: none

fix(website): adjust margin classes for layout components in BlogPageLayout and DocPageLayout
  apps/app/src/routes/{-$locale}/_dashboard/route.tsx
  apps/website-next/src/components/BlogPage/BlogPageLayout.tsx
  apps/website-next/src/components/DocPage/DocPageLayout.tsx
  apps/website/src/components/BlogPage/BlogPageLayout.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): add whitespace-nowrap class to improve layout in range and breakdown selectors
  apps/app/src/components/Dashboard/DashboardOverview/DashboardAudience.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): refactor sidebar hooks to use scoped entries for better session management
  apps/app/src/hooks/useDictionarySidebar.ts
  apps/app/src/hooks/useEditorPagesSidebar.ts
  apps/app/src/hooks/useScopedSidebarEntries.test.ts
  apps/app/src/hooks/useScopedSidebarEntries.ts
  apps/app/src/hooks/useTagSidebar.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: update import paths to include .ts extensions for static scripts
  apps/app/vite.config.ts
  apps/showcase/vite.config.ts
  apps/website/tsconfig.json
  apps/website/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): enhance EvolutionChart layout for better responsiveness
  apps/app/src/components/Dashboard/DashboardOverview/DashboardAudience.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): enhance analytics audience reporting with new time ranges and sub-day resolution
  apps/app/src/components/Dashboard/DashboardOverview/DashboardAudience.tsx
  apps/app/src/components/Dashboard/DashboardOverview/dashboardAudience.content.ts
  apps/backend/src/controllers/analytics.controller.ts
  apps/backend/src/schemas/analyticsEvent.schema.ts
  apps/backend/src/services/analytics.service.test.ts
  apps/backend/src/services/analytics.service.ts
  apps/backend/src/types/analytics.types.ts
  apps/website/src/components/Link/Link.tsx
  packages/@intlayer/api/src/getIntlayerAPI/analytics.ts
  packages/@intlayer/design-system/src/api/hooks/analytics.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): enable analytics in configuration
  apps/website/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): improve reflow
  apps/website/src/components/ChatBot/MessagesList.tsx
  apps/website/src/components/ChatBot/index.content.ts
  apps/website/src/routes/__root.tsx
  apps/website/src/routes/{-$locale}/_docs/route.tsx
  packages/@intlayer/design-system/src/components/Popover/dynamic.tsx
  packages/@intlayer/design-system/src/hooks/index.ts
  packages/@intlayer/design-system/src/hooks/useStickToBottom.test.tsx
  packages/@intlayer/design-system/src/hooks/useStickToBottom.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): adjust positioning of navigation trigger for better responsiveness
  apps/website/src/components/BlogPage/BlogNavList.tsx
  apps/website/src/components/DocPage/DocNavList.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): remove scroll restoration option from router configuration
  apps/website/src/router.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): adjust z-index values and class syntax in EmailRegistrationToast and ProductHunt components
  apps/website-next/src/components/EmailRegistrationToast/index.tsx
  apps/website-next/src/components/ProductHunt/index.tsx
  apps/website/src/components/BlogPage/template.html
  apps/website/src/components/EmailRegistrationToast/index.tsx
  apps/website/src/components/ProductHunt/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): optimize theme logic
  apps/app/src/components/ThemeSwitcherDropDown/DesktopThemeSwitcher.tsx
  apps/app/src/components/ThemeSwitcherDropDown/MobileThemeSwitcher.tsx
  apps/website/src/components/Contributors/ContributorsList.tsx
  apps/website/src/components/DocPage/History/index.tsx
  apps/website/src/components/ThemeSwitcherDropDown/DesktopThemeSwitcher.tsx
  apps/website/src/components/ThemeSwitcherDropDown/MobileThemeSwitcher.tsx
  packages/@intlayer/design-system/src/components/Pattern/GridDistortionPattern.tsx
  packages/@intlayer/design-system/src/components/ThemeSwitcherDropDown/DesktopThemeSwitcher.tsx
  packages/@intlayer/design-system/src/components/ThemeSwitcherDropDown/MobileThemeSwitcher.test.tsx
  packages/@intlayer/design-system/src/components/ThemeSwitcherDropDown/MobileThemeSwitcher.tsx
  packages/@intlayer/design-system/src/components/ThemeSwitcherDropDown/types.ts
  packages/@intlayer/design-system/src/hooks/index.ts
  packages/@intlayer/design-system/src/hooks/useIsDarkMode.ts
  packages/@intlayer/design-system/src/providers/ThemeProvider.test.tsx
  packages/@intlayer/design-system/src/providers/ThemeProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
