Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

feat(mcp): add tools to retrieve documentation list and specific document content from Intlayer documentation
  docs/package.json
  packages/@intlayer/mcp/src/index.ts
Due: prettier --write, eslint --fix --cache

fix(docs): update Intlayer MCP server documentation to remove references to the ecosystem link for consistency across multiple languages
  docs/ar/mcp_server.md
  docs/de/mcp_server.md
  docs/en-GB/mcp_server.md
  docs/en/mcp_server.md
  docs/es/mcp_server.md
  docs/fr/mcp_server.md
  docs/hi/mcp_server.md
  docs/it/mcp_server.md
  docs/ja/mcp_server.md
  docs/ko/mcp_server.md
  docs/pt/mcp_server.md
  docs/ru/mcp_server.md
  docs/zh/mcp_server.md
Due: prettier --write

feat(release): add changeset check to release workflow for conditional publishing and improved release management
  .github/workflows/release.yaml
Due: prettier --write

refactor(release): update changeset version script to use async/await and switch to pnpm for lockfile updates
  .github/changeset-version.js
Due: prettier --write, eslint --fix --cache

fix(docs): remove extra whitespace in title tags across
  docs/ar/intlayer_with_nextjs_14.md
  docs/ar/intlayer_with_nextjs_15.md
  docs/de/intlayer_with_nextjs_14.md
  docs/de/intlayer_with_nextjs_15.md
  docs/en-GB/intlayer_with_nextjs_14.md
  docs/en-GB/intlayer_with_nextjs_15.md
  docs/en/intlayer_with_nextjs_14.md
  docs/en/intlayer_with_nextjs_15.md
  docs/es/intlayer_with_nextjs_14.md
  docs/es/intlayer_with_nextjs_15.md
  docs/fr/intlayer_with_nextjs_14.md
  docs/fr/intlayer_with_nextjs_15.md
  docs/hi/intlayer_with_nextjs_14.md
  docs/hi/intlayer_with_nextjs_15.md
  docs/it/intlayer_with_nextjs_14.md
  docs/it/intlayer_with_nextjs_15.md
  docs/ja/intlayer_with_nextjs_14.md
  docs/ja/intlayer_with_nextjs_15.md
  docs/ko/intlayer_with_nextjs_14.md
  docs/ko/intlayer_with_nextjs_15.md
  docs/pt/intlayer_with_nextjs_14.md
  docs/pt/intlayer_with_nextjs_15.md
  docs/ru/intlayer_with_nextjs_14.md
  docs/ru/intlayer_with_nextjs_15.md
  docs/zh/intlayer_with_nextjs_14.md
  docs/zh/intlayer_with_nextjs_15.md
Due: prettier --write

feat(babel, swc): enhance import handling by adding 'type' attribute for JSON imports
  packages/@intlayer/babel/src/babel-plugin-intlayer.ts
  packages/@intlayer/swc/src/lib.rs
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: prettier --write, eslint --fix --cache

fix(chokidar): integrate normalizePathForGlob to fix glob patterns on windows
  packages/@intlayer/chokidar/src/getBuiltUnmergedDictionariesPath.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_type/createModuleAugmentation.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/index.ts
  packages/@intlayer/config/src/utils/normalizePathForGlob.ts
Due: prettier --write, eslint --fix --cache

chore: bump version to 5.5.8 across all packages
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

refactor(chokidar, config): improve path handling on windows
  packages/@intlayer/chokidar/src/getBuiltDictionariesPath.ts
  packages/@intlayer/chokidar/src/getBuiltDynamicDictionariesPath.ts
  packages/@intlayer/chokidar/src/getBuiltUnmergedDictionariesPath.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_main/generateDictionaryListContent.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_type/createModuleAugmentation.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/index.ts
  packages/@intlayer/config/src/utils/normalizePath.ts
Due: prettier --write, eslint --fix --cache

chore: bump version to 5.5.9 across all packages
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

refactor(script): add normalizePath function to standardize file paths across platforms
  scripts/script-dev-package-command.mjs
Due: none

refactor(script): utilize normalizePath function for consistent file path handling in script-changed-package-command and script-pick
  scripts/script-changed-package-command.mjs
  scripts/script-pick.mjs
Due: none

chore(package): change blog package from private to public
  blog/package.json
Due: prettier --write

fix(DropDown): ensure consistent focus behavior across mobile browsers
  packages/@intlayer/design-system/src/components/DropDown/index.tsx
Due: prettier --write, eslint --fix --cache

chore(mcp): add bin to autorun the MCP server
  packages/@intlayer/mcp/package.json
  packages/@intlayer/mcp/src/index.ts
Due: prettier --write, eslint --fix --cache

feat(babel, swc): add replaceDictionaryEntry option to control dictionary entry file replacement
  packages/@intlayer/babel/src/babel-plugin-intlayer.ts
  packages/@intlayer/swc/src/lib.rs
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: prettier --write, eslint --fix --cache

fix(mcp): correct build script syntax and update permission commands to use chmod
  packages/@intlayer/mcp/package.json
Due: prettier --write

chore: update pnpm version to 10.12.1 in documentation and workflows
  .github/workflows/build_and_test.yaml
  .github/workflows/release.yaml
  CONTRIBUTING.md
  package.json
Due: prettier --write

chore(tsconfig): add forceConsistentCasingInFileNames option to TypeScript configuration files
  utils/ts-config-types/tsconfig.json
  utils/ts-config/tsconfig.json
Due: prettier --write

fix(mcp): update permission commands in package.json to use Node.js fs module for windows compatibility
  packages/@intlayer/mcp/package.json
Due: prettier --write

fix(intlayer-editor): correct build:server script syntax for windoes compatibility
  packages/intlayer-editor/package.json
Due: prettier --write

chore: restore pnpm version requirement to >=9.0.0 for vercel compatibility
  package.json
Due: prettier --write

feat(vue-intlayer): rename plugin file
  packages/vue-intlayer/src/plugins.ts
Due: prettier --write, eslint --fix --cache

feat(angular-app): continue implementation if intlayer into an angular app
  docs/en/intlayer_with_angular.md
  examples/angular-app/src/app/app.routes.ts
  examples/angular-app/src/app/components/locale-switcher.component.ts
  examples/angular-app/src/app/pages/home.component.ts
  examples/angular-app/src/app/pages/root.component.ts
  examples/angular-app/src/app/services/i18n-html-attributes.service.ts
  packages/angular-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

docs: enhance how_works_intlayer.md with details on externalized dictionaries, visual editor integration, and optimization techniques
  docs/de/how_works_intlayer.md
  docs/en-GB/how_works_intlayer.md
  docs/en/how_works_intlayer.md
  docs/es/how_works_intlayer.md
  docs/fr/how_works_intlayer.md
  docs/hi/how_works_intlayer.md
  docs/it/how_works_intlayer.md
  docs/ja/how_works_intlayer.md
  docs/ko/how_works_intlayer.md
  docs/pt/how_works_intlayer.md
  docs/ru/how_works_intlayer.md
Due: prettier --write

docs: update README.md
  README.md
  docs/assets/AI_translation.png
  docs/assets/bundle.png
  docs/assets/config_file.png
  docs/assets/content_retrieval.png
  docs/assets/file_tree.png
  docs/assets/interoperability.png
  docs/assets/javascript_content_management.png
  docs/assets/markdown.png
  docs/assets/mcp.png
  docs/assets/per_locale_content_declaration_file.png
  docs/assets/server_component.png
  docs/assets/static_rendering.png
  docs/assets/url_routing.png
  docs/assets/visual_editor.png
Due: prettier --write

feat(angular-app): update angular i18n
  examples/angular-app/README.md
  examples/angular-app/package.json
  examples/angular-app/src/app/app.component.css
  examples/angular-app/src/app/app.component.html
  examples/angular-app/src/app/app.component.spec.ts
  examples/angular-app/src/app/app.component.ts
  examples/angular-app/src/app/app.config.server.ts
  examples/angular-app/src/app/app.config.ts
  examples/angular-app/src/app/app.content.ts
  examples/angular-app/src/app/app.css
  examples/angular-app/src/app/app.routes.ts
  examples/angular-app/src/app/components/locale-switcher.component.ts
  examples/angular-app/src/app/pages/home.component.ts
  examples/angular-app/src/app/pages/root.component.ts
  examples/angular-app/src/app/services/i18n-html-attributes.service.ts
  examples/angular-app/src/index.html
  examples/angular-app/src/main.server.ts
  examples/angular-app/src/main.ts
  examples/angular-app/src/server.ts
  examples/angular-app/tsconfig.app.json
  examples/angular-app/tsconfig.json
  examples/angular-app/tsconfig.spec.json
  examples/angular-app/webpack.config.cjs
  examples/express-app/package.json
  packages/angular-intlayer/package.json
  packages/angular-intlayer/src/webpack/index.ts
  packages/angular-intlayer/src/webpack/mergeConfig.ts
  packages/vue-intlayer/src/plugins.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

doc: update per_locale_content_declaration_file doc asset
  docs/assets/per_locale_content_declaration_file.png
Due: none

fix(angular-intlayer): add @intlayer/webpack dependency to package.json
  packages/angular-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write

docs: update README.md to enhance feature descriptions and add new asset for cross-frameworks support
  README.md
  docs/assets/frameworks.png
Due: prettier --write

docs: update internationalization examples in Next.js documentation to utilize getIntlayer for metadata retrieval
  docs/en/intlayer_with_nextjs_14.md
  docs/en/intlayer_with_nextjs_15.md
  docs/en/intlayer_with_nextjs_page_router.md
  examples/nextjs-15-app/src/app/[locale]/layout.tsx
  examples/nextjs-15-app/src/app/[locale]/metadata.content.ts
Due: prettier --write, eslint --fix --cache

docs: update metadata content declaration format in Next.js documentation and add JSON example for internationalization
  docs/en/intlayer_with_nextjs_14.md
  docs/en/intlayer_with_nextjs_15.md
  docs/en/intlayer_with_nextjs_page_router.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix --cache: any of: *.{js,jsx,ts,tsx}
