Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(storybook): add @storybook/addon-themes for theme management and update tailwind configuration
  biome.json
  bun.lock
  packages/@intlayer/design-system/.storybook/main.ts
  packages/@intlayer/design-system/.storybook/preview.ts
  packages/@intlayer/design-system/.storybook/preview.tsx
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/src/components/Form/form.stories.tsx
  packages/@intlayer/design-system/src/components/Input/Input.tsx
  packages/@intlayer/design-system/src/components/Select/Multiselect.tsx
  packages/@intlayer/design-system/src/components/Select/Select.tsx
  packages/@intlayer/design-system/src/libs/auth.ts
  packages/@intlayer/design-system/tailwind.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(styles): update component styles for consistency and improve accessibility with focus rings
  apps/website/src/components/Dashboard/OrganizationForm/OrganizationList.tsx
  apps/website/src/components/Dashboard/ProfileForm/ProfileForm.tsx
  apps/website/src/components/Dashboard/ProjectForm/ProjectList.tsx
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/Container/index.tsx
  packages/@intlayer/design-system/src/components/Headers/index.tsx
  packages/@intlayer/design-system/src/components/IDE/CodeFormatSelector.tsx
  packages/@intlayer/design-system/src/components/IDE/ContentDeclarationFormatSelector.tsx
  packages/@intlayer/design-system/src/components/IDE/PackageManagerSelector.tsx
  packages/@intlayer/design-system/src/components/Input/Input.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
  packages/@intlayer/design-system/src/components/Select/Multiselect.tsx
  packages/@intlayer/design-system/src/components/Select/Select.tsx
  packages/@intlayer/design-system/tailwind.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(package): remove changeset scripts from package.json and add publish scripts; update turbo.json to include publish task dependencies
  .changeset/config.json
  package.json
  turbo.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(auth): implement two-factor authentication with email code delivery and enhance UI components for better layout and accessibility
  apps/website/intlayer.config.ts
  apps/website/src/app/[locale]/(dashboard)/dashboard/profile/page.tsx
  apps/website/src/components/Dashboard/OrganizationForm/OrganizationForm.tsx
  apps/website/src/components/Dashboard/OrganizationForm/OrganizationList.tsx
  apps/website/src/components/Dashboard/ProfileForm/ProfileForm.tsx
  apps/website/src/components/Dashboard/ProjectForm/ProjectForm.tsx
  apps/website/src/components/Dashboard/TwoFactorForm/TwoFactorForm.tsx
  apps/website/src/components/Dashboard/TwoFactorForm/index.ts
  apps/website/src/components/Dashboard/TwoFactorForm/twoFactorForm.content.ts
  apps/website/src/components/DocPage/AsideNavigation/AsideNavigation.tsx
  apps/website/src/components/DocPage/DocNavList.tsx
  apps/website/src/components/DocPage/DocPageNavigation/DocPageNavigation.tsx
  apps/website/src/components/LandingPage/ChatBotModal/index.tsx
  apps/website/src/components/LandingPage/LanguageSection/index.tsx
  apps/website/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/website/src/components/Navbar/index.tsx
  apps/website/src/components/ProfileDropdown/ProfileDropDown/index.tsx
  packages/@intlayer/design-system/src/components/Container/index.tsx
  packages/@intlayer/design-system/src/components/LocaleSwitcherContentDropDown/LocaleSwitcherContent.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(docker): update Dockerfile syntax version to 1.20.0 across multiple services
  apps/backend/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

refactor(design-system): update styles for Google login button and Checkbox component for improved accessibility and consistency
  apps/website/src/components/Auth/ExternalsLoginButtons/ExternalsLoginButtons.tsx
  packages/@intlayer/design-system/src/components/Form/layout/FormItemLayout.tsx
  packages/@intlayer/design-system/src/components/Input/Checkbox.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): update import paths for camelCaseToSentence to use client-specific configuration
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/NestedObjectWrapper.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/KeyPathBreadcrumb.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/NavigationView/NavigationViewNode.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/StructureView/StructureView.tsx
  packages/@intlayer/design-system/src/components/Toaster/Toast.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(backend): remove audit controller and model, update export paths accordingly
  apps/backend/src/controllers/audit.controller.ts
  apps/backend/src/export.ts
  apps/backend/src/models/audit.model.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): add skipLibCheck to tsconfig and update connectDB function to return MongoClient type
  apps/backend/src/utils/mongoDB/connectDB.ts
  apps/backend/tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): enhance Checkbox component styles with improved focus rings and size adjustments for better accessibility
  packages/@intlayer/design-system/src/components/Input/Checkbox.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(dependencies): remove unused @changesets packages from bun.lock and update various package versions for improved stability
  bun.lock
Due: none

feat(auth): integrate last login method tracking and enhance database ID generation in authentication middleware
  apps/backend/package.json
  apps/backend/src/utils/auth/getAuth.ts
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(dependencies): downgrade mongodb and mongoose versions for compatibility and update related package references
  apps/backend/package.json
  apps/backend/src/utils/auth/getAuth.ts
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(docker): add healthcheck to Dockerfiles for backend, website, design-system, and mcp services to ensure service availability
  apps/backend/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

fix(docker): update CMD in design-system Dockerfile to run the application instead of Storybook
  packages/@intlayer/design-system/Dockerfile
Due: none

feat(auth): implement two-factor authentication and redesign
  apps/backend/package.json
  apps/backend/src/index.ts
  apps/backend/src/schemas/user.schema.ts
  apps/backend/src/types/user.types.ts
  apps/backend/src/utils/auth/getAuth.ts
  apps/website/package.json
  apps/website/src/app/[locale]/(dashboard)/dashboard/profile/page.tsx
  apps/website/src/components/Auth/ChangePassword/ChangePasswordForm/ChangePasswordForm.tsx
  apps/website/src/components/Auth/DeleteUser/index.content.ts
  apps/website/src/components/Auth/DeleteUser/index.tsx
  apps/website/src/components/Auth/DeleteUser/useDeleteUserSchema.content.ts
  apps/website/src/components/Auth/DeleteUser/useDeleteUserSchema.ts
  apps/website/src/components/Auth/SignIn/index.tsx
  apps/website/src/components/Auth/TwoFactorAuth/index.content.ts
  apps/website/src/components/Auth/TwoFactorAuth/index.tsx
  apps/website/src/components/Auth/TwoFactorAuth/useTwoFactorAuthSchema.content.ts
  apps/website/src/components/Auth/TwoFactorAuth/useTwoFactorAuthSchema.ts
  apps/website/src/components/Dashboard/OrganizationForm/OrganizationForm.tsx
  apps/website/src/components/Dashboard/ProfileForm/ProfileForm.tsx
  apps/website/src/components/Dashboard/ProfileForm/index.content.ts
  apps/website/src/components/Dashboard/ProjectForm/AccessKey/AccessKeyForm.tsx
  apps/website/src/components/Dashboard/ProjectForm/ProjectForm.tsx
  apps/website/src/components/Dashboard/TwoFactorForm/TwoFactorForm.tsx
  apps/website/src/components/Dashboard/TwoFactorForm/index.ts
  apps/website/src/components/Dashboard/TwoFactorForm/twoFactorForm.content.ts
  bun.lock
  packages/@intlayer/design-system/src/components/Form/layout/FormItemLayout.tsx
  packages/@intlayer/design-system/src/components/Modal/Modal.tsx
  packages/@intlayer/design-system/src/hooks/reactQuery.ts
  packages/@intlayer/design-system/src/libs/auth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(dashboard): update project logout text for clarity and consistency across multiple languages
  apps/website/src/components/Dashboard/DashboardNavbar/index.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(auth): add two-factor authentication page and related metadata for improved user security
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/(landing)/auth/(not-authenticated)/2fa/metadata.content.ts
  apps/website/src/app/[locale]/(landing)/auth/(not-authenticated)/2fa/metadata.ts
  apps/website/src/app/[locale]/(landing)/auth/(not-authenticated)/2fa/page.content.ts
  apps/website/src/app/[locale]/(landing)/auth/(not-authenticated)/2fa/page.tsx
  apps/website/src/components/Auth/PassKeyButton/PassKeyButton.tsx
  apps/website/src/components/Auth/PassKeyButton/index.ts
  apps/website/src/components/Auth/TotpForm/BackupCodeTab.content.ts
  apps/website/src/components/Auth/TotpForm/BackupCodeTab.tsx
  apps/website/src/components/Auth/TotpForm/TotpForm.content.ts
  apps/website/src/components/Auth/TotpForm/TotpForm.tsx
  apps/website/src/components/Auth/TotpForm/index.ts
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/Form/Form.tsx
  packages/@intlayer/design-system/src/components/Form/elements/OTPElement.tsx
  packages/@intlayer/design-system/src/components/Form/elements/index.ts
  packages/@intlayer/design-system/src/components/Input/Input.tsx
  packages/@intlayer/design-system/src/components/Input/OTPInput/index.tsx
  packages/@intlayer/design-system/src/components/Input/index.ts
  packages/@intlayer/design-system/src/hooks/index.ts
  packages/@intlayer/design-system/src/hooks/reactQuery.ts
  packages/@intlayer/design-system/src/libs/auth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): adjust button and input focus ring styles for consistency and improved UX
  apps/website/src/components/DocPage/Search/SearchTrigger.tsx
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/Input/OTPInput/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(docker): comment out healthcheck in website Dockerfile for temporary disablement
  apps/website/Dockerfile
Due: none

chore(docker): add curl installation to Dockerfiles for backend, website, design-system, and mcp services
  apps/backend/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

docs(readme): add comment for healthcheck verification in README
  docs/docs/en/readme.md
Due: prettier --write

feat(auth): enhance backup code and TOTP forms to preserve redirect URL after verification
  apps/website/src/components/Auth/TotpForm/BackupCodeTab.tsx
  apps/website/src/components/Auth/TotpForm/TotpForm.tsx
  packages/@intlayer/design-system/src/libs/auth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(design-system): update Dockerfile to use Node base image and install bun globally; add OTPInput component and related stories for enhanced user input experience
  bun.lock
  packages/@intlayer/design-system/.storybook/main.ts
  packages/@intlayer/design-system/.storybook/preview.tsx
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/src/components/Form/form.stories.tsx
  packages/@intlayer/design-system/src/components/Input/OTPInput.tsx
  packages/@intlayer/design-system/src/components/Input/otpInput.stories.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(auth): implement passkey authentication management with modal and button components for enhanced user experience
  apps/website/src/components/Auth/PassKeyButton/PassKeyButton.tsx
  apps/website/src/components/Auth/PassKeyButton/passkeyButton.content.ts
  apps/website/src/components/Auth/PasskeyManagement/AddPasskeyModal.tsx
  apps/website/src/components/Auth/PasskeyManagement/PasskeyItem.tsx
  apps/website/src/components/Auth/PasskeyManagement/PasskeyManagement.tsx
  apps/website/src/components/Auth/PasskeyManagement/addPasskeyModal.content.ts
  apps/website/src/components/Auth/PasskeyManagement/addPasskeySchema.content.ts
  apps/website/src/components/Auth/PasskeyManagement/index.ts
  apps/website/src/components/Auth/PasskeyManagement/passkeyItem.content.ts
  apps/website/src/components/Auth/PasskeyManagement/passkeyManagement.content.ts
  apps/website/src/components/Auth/PasskeyManagement/types.ts
  apps/website/src/components/Auth/PasskeyManagement/useAddPasskeySchema.ts
  apps/website/src/components/Auth/SignIn/SignInForm/SignInForm.tsx
  apps/website/src/components/Auth/SignIn/SignInForm/signIn.content.ts
  packages/@intlayer/design-system/src/hooks/reactQuery.ts
  packages/@intlayer/design-system/src/libs/auth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(design-system): add SearchInput component and update form stories to include new input elements
  packages/@intlayer/design-system/src/components/Form/Form.tsx
  packages/@intlayer/design-system/src/components/Form/elements/AutoSizeTextAreaElement.tsx
  packages/@intlayer/design-system/src/components/Form/elements/MultiselectElement.tsx
  packages/@intlayer/design-system/src/components/Form/elements/OTPElement.tsx
  packages/@intlayer/design-system/src/components/Form/elements/SearchInputElement.tsx
  packages/@intlayer/design-system/src/components/Form/elements/SelectElement.tsx
  packages/@intlayer/design-system/src/components/Form/elements/SwitchSelectorElement.tsx
  packages/@intlayer/design-system/src/components/Form/elements/index.ts
  packages/@intlayer/design-system/src/components/Form/form.stories.tsx
  packages/@intlayer/design-system/src/components/Input/OTPInput.tsx
  packages/@intlayer/design-system/src/components/Input/searchInput.stories.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): update button, container, and input components with squircle corner shape for improved aesthetics
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/Container/index.tsx
  packages/@intlayer/design-system/src/components/Input/Input.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): update button, input, and select components to use rounded-2xl corners for enhanced visual consistency
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/Container/index.tsx
  packages/@intlayer/design-system/src/components/Input/Input.tsx
  packages/@intlayer/design-system/src/components/Input/OTPInput.tsx
  packages/@intlayer/design-system/src/components/Select/Multiselect.tsx
  packages/@intlayer/design-system/src/components/Select/Select.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): ensure consistent className formatting in OTPInput component
  packages/@intlayer/design-system/src/components/Input/OTPInput.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): enhance Checkbox component with rounded-xl corners and support for squircle shape
  packages/@intlayer/design-system/src/components/Input/Checkbox.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): update button, input, checkbox, and select components to support rounded-4xl corners for improved visual consistency
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/Container/index.tsx
  packages/@intlayer/design-system/src/components/Input/Checkbox.tsx
  packages/@intlayer/design-system/src/components/Input/Input.tsx
  packages/@intlayer/design-system/src/components/Input/OTPInput.tsx
  packages/@intlayer/design-system/src/components/Select/Multiselect.tsx
  packages/@intlayer/design-system/src/components/Select/Select.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(auth): simplify externals login buttons and update sign-in form with new separator component for improved layout
  apps/website/src/components/Auth/ExternalsLoginButtons/ExternalsLoginButtons.tsx
  apps/website/src/components/Auth/ExternalsLoginButtons/externalsLoginButtons.content.ts
  apps/website/src/components/Auth/PassKeyButton/PassKeyButton.tsx
  apps/website/src/components/Auth/PassKeyButton/passkeyButton.content.ts
  apps/website/src/components/Auth/SignIn/SignInForm/SignInForm.tsx
  apps/website/src/components/Auth/SignIn/SignInForm/signIn.content.ts
  apps/website/src/components/LandingPage/LandingSection/index.tsx
  apps/website/src/components/LandingPage/LandingSection/landing-section.content.ts
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/Container/index.tsx
  packages/@intlayer/design-system/src/components/Input/Input.tsx
  packages/@intlayer/design-system/src/components/Input/OTPInput.tsx
  packages/@intlayer/design-system/src/components/Select/Multiselect.tsx
  packages/@intlayer/design-system/src/components/Select/Select.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(design-system): implement useCopyToClipboard hook and simplify CopyToClipboard component for improved functionality
  apps/website/src/components/LandingPage/LandingSection/index.tsx
  packages/@intlayer/design-system/src/components/CopyToClipboard/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): refine button, container, input, and select components to enhance squircle corner support and improve visual consistency
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/Container/index.tsx
  packages/@intlayer/design-system/src/components/Input/Checkbox.tsx
  packages/@intlayer/design-system/src/components/Input/Input.tsx
  packages/@intlayer/design-system/src/components/Input/OTPInput.tsx
  packages/@intlayer/design-system/src/components/Select/Multiselect.tsx
  packages/@intlayer/design-system/src/components/Select/Select.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): adjust Checkbox component to use rounded-2xl corners for improved squircle shape support
  packages/@intlayer/design-system/src/components/Input/Checkbox.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(auth): implement OTP validation schema and refactor TwoFactorAuth component to utilize form handling for improved user experience
  apps/website/src/components/Auth/TwoFactorAuth/index.tsx
  apps/website/src/components/Auth/TwoFactorAuth/useTwoFactorAuthSchema.content.ts
  apps/website/src/components/Auth/TwoFactorAuth/useTwoFactorAuthSchema.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): enhance passkey management with multi-language support, improved button accessibility, and new passkey listing functionality
  apps/website/src/components/Auth/PasskeyManagement/PasskeyItem.tsx
  apps/website/src/components/Auth/PasskeyManagement/PasskeyManagement.tsx
  apps/website/src/components/Auth/PasskeyManagement/passkeyItem.content.ts
  apps/website/src/components/Auth/PasskeyManagement/passkeyManagement.content.ts
  apps/website/src/components/Dashboard/ProfileForm/ProfileForm.tsx
  apps/website/src/components/Dashboard/ProfileForm/index.content.ts
  packages/@intlayer/design-system/src/hooks/reactQuery.ts
  packages/@intlayer/design-system/src/libs/auth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): improve ProfileForm layout and enhance conditional rendering for user login methods
  apps/backend/src/types/user.types.ts
  apps/website/src/components/Dashboard/ProfileForm/ProfileForm.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
