Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(mcp): include docs directory in MCP Docker image build
  packages/@intlayer/mcp/Dockerfile
Due: none

chore: update Dockerfile to fix static file paths and replace wget with bun for healthchecks
  apps/website/Dockerfile
Due: none

fix(website): copy @intlayer/docs assets to the container to support Turbopack SSR runtime resolution
  apps/website/Dockerfile
Due: none

fix(chokidar): update init script and update client config
  packages/@intlayer/chokidar/src/init/index.ts
  packages/@intlayer/chokidar/src/writeConfiguration/generateConfigurationContent.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): implement i18n benchmark dashboard and data collection tools
  apps/website/src/components/LandingPage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update chinese domain
  apps/app/intlayer.config.ts
  apps/app/src/components/Footer/index.tsx
  apps/showcase/intlayer.config.ts
  apps/showcase/src/components/Footer/index.tsx
  apps/website/intlayer.config.ts
  apps/website/src/components/Footer/index.tsx
  packages/@intlayer/design-system/src/components/Footer/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): update SwitchSelector color prop to use string literal and remove unused import
  apps/website/src/components/i18nBenchmark/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): move Website_Benchmark_Path to the documentation route group
  packages/@intlayer/design-system/src/routes.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: remove builders.to badge from landing page
  apps/website/src/components/LandingPage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add comprehensive i18n benchmark result files and update Next.js documentation
  apps/website/src/components/LandingPage/NOTE.md
  apps/website/src/components/LandingPage/summarize-nextjs-dynamic.json
  apps/website/src/components/LandingPage/summarize-nextjs-dynamic.md
  apps/website/src/components/LandingPage/summarize-nextjs-scoped-dynamic.json
  apps/website/src/components/LandingPage/summarize-nextjs-scoped-dynamic.md
  apps/website/src/components/LandingPage/summarize-nextjs-scoped-static.json
  apps/website/src/components/LandingPage/summarize-nextjs-scoped-static.md
  apps/website/src/components/LandingPage/summarize-nextjs-static.json
  apps/website/src/components/LandingPage/summarize-nextjs-static.md
  apps/website/src/components/LandingPage/summarize-tanstack-dynamic.json
  apps/website/src/components/LandingPage/summarize-tanstack-dynamic.md
  apps/website/src/components/LandingPage/summarize-tanstack-scoped-dynamic.json
  apps/website/src/components/LandingPage/summarize-tanstack-scoped-dynamic.md
  apps/website/src/components/LandingPage/summarize-tanstack-scoped-static.json
  apps/website/src/components/LandingPage/summarize-tanstack-scoped-static.md
  apps/website/src/components/LandingPage/summarize-tanstack-static.json
  apps/website/src/components/LandingPage/summarize-tanstack-static.md
  apps/website/src/components/LandingPage/summarize-vite-dynamic.json
  apps/website/src/components/LandingPage/summarize-vite-dynamic.md
  apps/website/src/components/LandingPage/summarize-vite-scoped-dynamic.json
  apps/website/src/components/LandingPage/summarize-vite-scoped-dynamic.md
  apps/website/src/components/LandingPage/summarize-vite-scoped-static.json
  apps/website/src/components/LandingPage/summarize-vite-scoped-static.md
  apps/website/src/components/LandingPage/summarize-vite-static.json
  apps/website/src/components/LandingPage/summarize-vite-static.md
  apps/website/src/components/i18nBenchmark/index.tsx
  docs/docs/en/benchmark/nextjs.md
  packages/@intlayer/design-system/src/routes.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(website): update i18n benchmark content definitions
  apps/website/src/components/i18nBenchmark/index.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update Chinese domain suffix from .zh to .cn in intlayer configurations
  apps/app/intlayer.config.ts
  apps/showcase/intlayer.config.ts
  apps/website/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: comment out domain routing configurations in intlayer.config files
  apps/app/intlayer.config.ts
  apps/showcase/intlayer.config.ts
  apps/website/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add i18n benchmark summary JSON files for Next.js and TanStack configurations
  apps/website/src/components/i18nBenchmark/summarize-nextjs-dynamic.json
  apps/website/src/components/i18nBenchmark/summarize-nextjs-scoped-dynamic.json
  apps/website/src/components/i18nBenchmark/summarize-nextjs-scoped-static.json
  apps/website/src/components/i18nBenchmark/summarize-nextjs-static.json
  apps/website/src/components/i18nBenchmark/summarize-tanstack-dynamic.json
  apps/website/src/components/i18nBenchmark/summarize-tanstack-scoped-dynamic.json
  apps/website/src/components/i18nBenchmark/summarize-tanstack-scoped-static.json
  apps/website/src/components/i18nBenchmark/summarize-tanstack-static.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): remove static benchmark data files and introduce a dedicated I18nBenchmarkSection component
  apps/doc/src/components/DocPage/DocumentationRender.tsx
  apps/doc/src/components/i18nBenchmark/summarize-nextjs-dynamic.json
  apps/doc/src/components/i18nBenchmark/summarize-nextjs-scoped-dynamic.json
  apps/doc/src/components/i18nBenchmark/summarize-nextjs-scoped-static.json
  apps/doc/src/components/i18nBenchmark/summarize-nextjs-static.json
  apps/doc/src/components/i18nBenchmark/summarize-tanstack-dynamic.json
  apps/doc/src/components/i18nBenchmark/summarize-tanstack-scoped-dynamic.json
  apps/doc/src/components/i18nBenchmark/summarize-tanstack-scoped-static.json
  apps/doc/src/components/i18nBenchmark/summarize-tanstack-static.json
  apps/website/src/components/DocPage/DocumentationRender.tsx
  apps/website/src/components/LandingPage/I18nBenchmarkSection/index.tsx
  apps/website/src/components/LandingPage/index.tsx
  apps/website/src/components/i18nBenchmark/ChartComponent.tsx
  apps/website/src/components/i18nBenchmark/LibCard.tsx
  apps/website/src/components/i18nBenchmark/benchmarkData.ts
  apps/website/src/components/i18nBenchmark/index.tsx
  apps/website/src/components/i18nBenchmark/instruction.md
  apps/website/src/components/i18nBenchmark/summarize-nextjs-dynamic.json
  apps/website/src/components/i18nBenchmark/summarize-nextjs-scoped-dynamic.json
  apps/website/src/components/i18nBenchmark/summarize-nextjs-scoped-static.json
  apps/website/src/components/i18nBenchmark/summarize-nextjs-static.json
  apps/website/src/components/i18nBenchmark/summarize-tanstack-dynamic.json
  apps/website/src/components/i18nBenchmark/summarize-tanstack-scoped-dynamic.json
  apps/website/src/components/i18nBenchmark/summarize-tanstack-scoped-static.json
  apps/website/src/components/i18nBenchmark/summarize-tanstack-static.json
  docs/docs/en/benchmark/index.md
  docs/docs/en/benchmark/nextjs.md
  docs/docs/en/benchmark/tanstack.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website): add theme-aware library colors to support dark mode in benchmark components
  apps/website/src/components/I18nBenchmark/LibCard.tsx
  apps/website/src/components/I18nBenchmark/LibLogo.tsx
  apps/website/src/components/I18nBenchmark/constants.tsx
  apps/website/src/components/I18nBenchmark/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: remove I18nBenchmark documentation and update benchmark data and constants
  apps/website/src/components/I18nBenchmark/NOTE.md
  apps/website/src/components/I18nBenchmark/README.md
  apps/website/src/components/I18nBenchmark/benchmarkData.ts
  apps/website/src/components/I18nBenchmark/constants.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(website): update I18nBenchmark content definitions
  apps/website/src/components/I18nBenchmark/index.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): internationalize error message in I18nBenchmark component
  apps/website/src/components/I18nBenchmark/index.content.ts
  apps/website/src/components/I18nBenchmark/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update GITHUB_RAW_BASE_URL to point to the benchmark-i18n repository
  apps/website/src/components/I18nBenchmark/benchmarkData.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): internationalize I18nBenchmark labels and add configurable vertical layout prop
  apps/website/src/components/I18nBenchmark/index.content.ts
  apps/website/src/components/I18nBenchmark/index.tsx
  apps/website/src/components/LandingPage/I18nBenchmarkSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): update library selector grid to be responsive with two columns on mobile
  apps/website/src/components/I18nBenchmark/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): update I18nBenchmark labels for clarity and consistency across languages
  apps/website/src/components/I18nBenchmark/index.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): integrate Loader component for improved loading state in I18nBenchmark
  apps/website/src/components/I18nBenchmark/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): add 'htmlpreview.github.io' to secure headers for improved content security
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): update library selector layout to use flexbox for improved responsiveness
  apps/website/src/components/I18nBenchmark/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): adjust LibCard component width for improved layout consistency
  apps/website/src/components/I18nBenchmark/LibCard.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): simplify library selector layout in I18nBenchmark for better alignment
  apps/website/src/components/I18nBenchmark/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): remove unused path utility imports in next.config.ts
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(docs): correct punctuation in Lingo.dev issues section for clarity in Next.js benchmark documentation
  docs/docs/en-GB/benchmark/nextjs.md
  docs/docs/en/benchmark/nextjs.md
Due: prettier --write

fix(docs): enhance Paraglide section in Next.js benchmark documentation to clarify tree-shaking limitations and locale handling
  docs/docs/en-GB/benchmark/nextjs.md
  docs/docs/en/benchmark/nextjs.md
Due: prettier --write

fix(docs): standardize benchmark report titles and improve clarity in multiple language documentation
  docs/docs/ar/benchmark/index.md
  docs/docs/de/benchmark/index.md
  docs/docs/en-GB/benchmark/index.md
  docs/docs/en/benchmark/index.md
  docs/docs/es/benchmark/index.md
  docs/docs/fr/benchmark/index.md
  docs/docs/hi/benchmark/index.md
  docs/docs/id/benchmark/index.md
  docs/docs/it/benchmark/index.md
  docs/docs/ja/benchmark/index.md
  docs/docs/ko/benchmark/index.md
  docs/docs/pl/benchmark/index.md
  docs/docs/pt/benchmark/index.md
  docs/docs/ru/benchmark/index.md
  docs/docs/tr/benchmark/index.md
  docs/docs/uk/benchmark/index.md
  docs/docs/vi/benchmark/index.md
  docs/docs/zh/benchmark/index.md
Due: prettier --write

feat(design-system): add custom iframe component for enhanced markdown rendering
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(docs): refine language and punctuation in Next.js and TanStack benchmark documentation across multiple languages for improved clarity
  docs/docs/ar/benchmark/nextjs.md
  docs/docs/ar/benchmark/tanstack.md
  docs/docs/de/benchmark/nextjs.md
  docs/docs/de/benchmark/tanstack.md
  docs/docs/en-GB/benchmark/nextjs.md
  docs/docs/en-GB/benchmark/tanstack.md
  docs/docs/en/benchmark/nextjs.md
  docs/docs/en/benchmark/tanstack.md
  docs/docs/fr/benchmark/nextjs.md
  docs/docs/fr/benchmark/tanstack.md
  docs/docs/hi/benchmark/nextjs.md
  docs/docs/hi/benchmark/tanstack.md
  docs/docs/id/benchmark/nextjs.md
  docs/docs/id/benchmark/tanstack.md
  docs/docs/it/benchmark/nextjs.md
  docs/docs/it/benchmark/tanstack.md
  docs/docs/pl/benchmark/nextjs.md
  docs/docs/pl/benchmark/tanstack.md
  docs/docs/pt/benchmark/nextjs.md
  docs/docs/pt/benchmark/tanstack.md
  docs/docs/tr/benchmark/nextjs.md
  docs/docs/tr/benchmark/tanstack.md
  docs/docs/uk/benchmark/nextjs.md
  docs/docs/uk/benchmark/tanstack.md
  docs/docs/vi/benchmark/nextjs.md
  docs/docs/vi/benchmark/tanstack.md
  docs/docs/zh/benchmark/nextjs.md
  docs/docs/zh/benchmark/tanstack.md
Due: prettier --write

fix(docs): correct punctuation in multilingual Next.js benchmark documentation for improved readability
  docs/docs/en-GB/benchmark/nextjs.md
  docs/docs/en/benchmark/nextjs.md
Due: prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
