Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: remove example Nuxt 3 application files
  bun.lock
  examples/nuxt-3-app/.gitignore
  examples/nuxt-3-app/app.vue
  examples/nuxt-3-app/components/Links.vue
  examples/nuxt-3-app/components/LocaleSwitcher.vue
  examples/nuxt-3-app/components/RouterLink.vue
  examples/nuxt-3-app/components/helloWorld/HelloWorld.vue
  examples/nuxt-3-app/components/helloWorld/helloWorld.content.ts
  examples/nuxt-3-app/composables/useI18nHTMLAttributes.ts
  examples/nuxt-3-app/intlayer.config.ts
  examples/nuxt-3-app/nuxt.config.ts
  examples/nuxt-3-app/package.json
  examples/nuxt-3-app/pages/home/index.content.ts
  examples/nuxt-3-app/pages/home/index.vue
  examples/nuxt-3-app/pages/home/meta.content.ts
  examples/nuxt-3-app/pages/index.content.ts
  examples/nuxt-3-app/pages/index.vue
  examples/nuxt-3-app/pages/meta.content.ts
  examples/nuxt-3-app/public/favicon.ico
  examples/nuxt-3-app/public/intlayer.svg
  examples/nuxt-3-app/public/nuxt.svg
  examples/nuxt-3-app/public/robots.txt
  examples/nuxt-3-app/server/tsconfig.json
  examples/nuxt-3-app/tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(lsp): implement lsp package
  packages/@intlayer/lsp/.env.template
  packages/@intlayer/lsp/.npmignore
  packages/@intlayer/lsp/README.md
  packages/@intlayer/lsp/package.json
  packages/@intlayer/lsp/src/index.ts
  packages/@intlayer/lsp/tsconfig.json
  packages/@intlayer/lsp/tsconfig.types.json
  packages/@intlayer/lsp/tsdown.config.ts
  packages/@intlayer/lsp/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

reactor(website): update seo issues
  apps/app/package_mock.json
  apps/app/src/components/Link/Link.tsx
  apps/app/src/routes/{-$locale}/_dashboard/route.tsx
  apps/showcase/package_mock.json
  apps/showcase/src/components/Link/Link.tsx
  apps/website-tanstack/package_mock.json
  apps/website-tanstack/src/components/DocPage/docData.content.ts
  apps/website-tanstack/src/components/Link/Link.tsx
  apps/website/package_mock.json
  apps/website/src/app/[locale]/(docs)/frequent-questions/[...slugs]/layout.tsx
  apps/website/src/app/[locale]/(docs)/frequent-questions/raw/[...slugs]/route.ts
  apps/website/src/app/sitemapResult.xml
  apps/website/src/components/DocPage/docData.content.ts
  apps/website/src/components/Link/Link.tsx
  apps/website/src/components/getImageWithMetadata.ts
  apps/website/testpageSize.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add init lsp
  .claude-plugin/marketplace.json
  claude-plugins/intlayer-lsp/LICENSE
  claude-plugins/intlayer-lsp/README.md
  packages/@intlayer/chokidar/src/cli.ts
  packages/@intlayer/chokidar/src/init/index.ts
  packages/@intlayer/chokidar/src/installLSP.ts
  packages/@intlayer/lsp/package.json
  packages/@intlayer/lsp/src/findKeyAtOffset.ts
  packages/@intlayer/lsp/src/index.test.ts
  packages/@intlayer/lsp/src/index.ts
  packages/@intlayer/mcp/package.json
  packages/@intlayer/mcp/src/server/server.ts
  packages/@intlayer/mcp/src/server/sse.ts
  packages/@intlayer/mcp/src/tools/index.ts
  packages/@intlayer/mcp/src/tools/installLSP.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(design-system): update checkIsExternalLink
  packages/@intlayer/design-system/src/components/Link/Link.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update ts config
  utils/ts-config-types/tsconfig.json
  utils/ts-config/tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update repository documentation, SEO skills, agents, and automation scripts for version 2.0.0 release
  docs/docs/cs/interest_of_intlayer.md
  docs/docs/de/interest_of_intlayer.md
  docs/docs/en-GB/interest_of_intlayer.md
  docs/docs/en/interest_of_intlayer.md
  docs/docs/es/interest_of_intlayer.md
  docs/docs/fr/interest_of_intlayer.md
  docs/docs/it/interest_of_intlayer.md
  docs/docs/ja/interest_of_intlayer.md
  docs/docs/ko/interest_of_intlayer.md
  docs/docs/nl/interest_of_intlayer.md
  docs/docs/pl/interest_of_intlayer.md
  docs/docs/pt/interest_of_intlayer.md
  docs/docs/ru/interest_of_intlayer.md
  docs/docs/tr/interest_of_intlayer.md
  docs/docs/ur/interest_of_intlayer.md
  docs/docs/zh-TW/interest_of_intlayer.md
  docs/docs/zh/interest_of_intlayer.md
Due: prettier --write

feat: update schema.json
  apps/app/public/schema.json
  apps/showcase/public/schema.json
  apps/website-tanstack/public/schema.json
  apps/website/public/schema.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(intlayer): fix intlayerConfig type
  packages/intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(backend): update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/interest_of_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_analog.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_angular_19.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_angular_21.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_lit.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_preact.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_react.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_svelte.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_vanilla.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_vue.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_create_react_app.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_lynx+react.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_14.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_15.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_16.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_no_locale_path.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_page_router.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nuxt.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_react_native+expo.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_react_router_v7.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_react_router_v7_fs_routes.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_storybook.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_svelte_kit.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_tanstack+solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_tanstack.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vanilla.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+lit.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+preact.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+react.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+svelte.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+vanilla.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+vue.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/introduction.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(docs): remove interactive iframes from docs
  docs/docs/ar/intlayer_with_nestjs.md
  docs/docs/de/intlayer_with_nestjs.md
  docs/docs/en-GB/intlayer_with_nestjs.md
  docs/docs/en/intlayer_with_nestjs.md
  docs/docs/es/intlayer_with_nestjs.md
  docs/docs/fr/intlayer_with_nestjs.md
  docs/docs/hi/intlayer_with_nestjs.md
  docs/docs/id/intlayer_with_nestjs.md
  docs/docs/it/intlayer_with_nestjs.md
  docs/docs/ja/intlayer_with_nestjs.md
  docs/docs/ko/intlayer_with_nestjs.md
  docs/docs/pl/intlayer_with_nestjs.md
  docs/docs/pt/intlayer_with_nestjs.md
  docs/docs/ru/intlayer_with_nestjs.md
  docs/docs/tr/intlayer_with_nestjs.md
  docs/docs/uk/intlayer_with_nestjs.md
  docs/docs/vi/intlayer_with_nestjs.md
  docs/docs/zh/intlayer_with_nestjs.md
Due: prettier --write

fix(website): fix doc layout md size
  apps/website-tanstack/src/components/BlogPage/BlogPageLayout.tsx
  apps/website-tanstack/src/components/DocPage/DocPageLayout.tsx
  apps/website/src/components/BlogPage/BlogPageLayout.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
  packages/@intlayer/design-system/src/components/Steps/index.tsx
  packages/@intlayer/design-system/src/components/Tab/Tab.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update nextjs
  apps/website/package.json
  bun.lock
  examples/next-no-lolale-path/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: correct spelling of "Extracter" in French documentation steps and update deployment script
  docs/docs/fr/intlayer_with_astro.md
  docs/docs/fr/intlayer_with_astro_lit.md
  docs/docs/fr/intlayer_with_astro_preact.md
  docs/docs/fr/intlayer_with_astro_react.md
  docs/docs/fr/intlayer_with_astro_solid.md
  docs/docs/fr/intlayer_with_astro_svelte.md
  docs/docs/fr/intlayer_with_astro_vanilla.md
  docs/docs/fr/intlayer_with_astro_vue.md
  docs/docs/fr/intlayer_with_tanstack.md
Due: prettier --write

chore(apps): replace website-react-router with website-tanstack in Docker build exclusion lists
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/showcase/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

fix(intlayer): fix CustomIntlayerConfig and IntlayerConfig types export
  packages/intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: wrap benefits section in AccordionGroup across all introduction documentation
  docs/docs/ar/introduction.md
  docs/docs/bn/introduction.md
  docs/docs/cs/introduction.md
  docs/docs/de/introduction.md
  docs/docs/en-GB/introduction.md
  docs/docs/en/introduction.md
  docs/docs/es/introduction.md
  docs/docs/fr/introduction.md
  docs/docs/hi/introduction.md
  docs/docs/id/introduction.md
  docs/docs/it/introduction.md
  docs/docs/ja/introduction.md
  docs/docs/ko/introduction.md
  docs/docs/nl/introduction.md
  docs/docs/pl/introduction.md
  docs/docs/pt/introduction.md
  docs/docs/ru/introduction.md
  docs/docs/tr/introduction.md
  docs/docs/uk/introduction.md
  docs/docs/ur/introduction.md
  docs/docs/vi/introduction.md
  docs/docs/zh-TW/introduction.md
  docs/docs/zh/introduction.md
Due: prettier --write

style: standardize spacing values to top-25 and top-15 classes
  apps/website-tanstack/src/components/DocPage/AsideNavigation/AsideNavigation.tsx
  apps/website-tanstack/src/components/DocPage/DocNavList.tsx
  apps/website/src/components/DocPage/AsideNavigation/AsideNavigation.tsx
  apps/website/src/components/DocPage/DocNavList.tsx
  packages/@intlayer/design-system/src/components/Loader/loader.stories.tsx
  packages/@intlayer/design-system/src/components/TextArea/TextArea.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(lsp): update lsp
  packages/@intlayer/lsp/src/findKeyInContentFile.test.ts
  packages/@intlayer/lsp/src/findKeyInContentFile.ts
  packages/@intlayer/lsp/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: improve semantic HTML for Steps and document metadata
  packages/@intlayer/design-system/src/components/Steps/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: simplify scroll offset calculation, update navigation linking, and adjust Link component props for hash support
  apps/website-tanstack/src/components/DocPage/NavTitles/NavTitles.tsx
  apps/website-tanstack/src/components/DocPage/useActiveSection.ts
  apps/website-tanstack/src/components/Link/Link.tsx
  apps/website-tanstack/src/structuredData/BreadcrumbsHeader.tsx
  apps/website-tanstack/src/structuredData/CreativeWorkHeader.tsx
  apps/website/src/components/DocPage/useActiveSection.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(core): improve type safety for markdown rules and restrict performance logs to development environment
  packages/@intlayer/core/src/markdown/parser.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: fix tests
  apps/app/src/styles.css
  packages/@intlayer/core/src/markdown/compiler.test.ts
  packages/@intlayer/design-system/src/components/TextArea/contentEditable.test.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): fix step subsection DocNavList nav
  apps/website-tanstack/src/components/DocPage/useActiveSection.ts
  apps/website-tanstack/src/components/DocPage/useTitlesTree.ts
  apps/website/src/components/DocPage/DocNavList.tsx
  apps/website/src/components/DocPage/useActiveSection.ts
  apps/website/src/components/DocPage/useTitlesTree.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): update doc active nav
  apps/website-tanstack/src/components/DocPage/useActiveSection.ts
  apps/website/src/components/DocPage/useActiveSection.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): remove unused types import
  apps/app/src/components/Link/Link.tsx
  packages/@intlayer/design-system/src/components/Badge/badge.stories.tsx
  packages/@intlayer/design-system/src/components/Breadcrumb/breadcrumb.stories.tsx
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/Button/button.stories.tsx
  packages/@intlayer/design-system/src/components/Container/container.stories.tsx
  packages/@intlayer/design-system/src/components/ContentEditor/contentEditor.stories.tsx
  packages/@intlayer/design-system/src/components/CopyButton/copybutton.stories.tsx
  packages/@intlayer/design-system/src/components/DropDown/dropdown.stories.tsx
  packages/@intlayer/design-system/src/components/EditableField/editableFieldInput.stories.tsx
  packages/@intlayer/design-system/src/components/EditableField/editableFieldTextArea.stories.tsx
  packages/@intlayer/design-system/src/components/Input/checkbox.stories.tsx
  packages/@intlayer/design-system/src/components/Input/input.stories.tsx
  packages/@intlayer/design-system/src/components/Modal/modal.stories.tsx
  packages/@intlayer/design-system/src/components/Navbar/navbar.stories.tsx
  packages/@intlayer/design-system/src/components/Pagination/pagination.stories.tsx
  packages/@intlayer/design-system/src/components/Popover/popover.stories.tsx
  packages/@intlayer/design-system/src/components/RightDrawer/RightDrawer.stories.tsx
  packages/@intlayer/design-system/src/components/Select/select.stories.tsx
  packages/@intlayer/design-system/src/components/SwitchSelector/SwitchSelector.tsx
  packages/@intlayer/design-system/src/components/SwitchSelector/switchSelector.stories.tsx
  packages/@intlayer/design-system/src/components/TabSelector/tabSelector.stories.tsx
  packages/@intlayer/design-system/src/components/Tag/tag.stories.tsx
  packages/@intlayer/design-system/src/components/TextArea/TextArea.tsx
  packages/@intlayer/design-system/src/components/TextArea/autocompleteTextarea.stories.tsx
  packages/@intlayer/design-system/src/components/TextArea/autosizedTextarea.stories.tsx
  packages/@intlayer/design-system/src/components/TextArea/textarea.stories.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(design-system): update step title using h3
  packages/@intlayer/design-system/src/components/Steps/index.tsx
  packages/@intlayer/design-system/src/components/Steps/steps.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: update core package.json with default field configuration for ./file
  packages/@intlayer/core/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: point default to the non-browser build
  packages/@intlayer/core/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(lsp): update lsp
  packages/@intlayer/lsp/src/findFieldInFile.test.ts
  packages/@intlayer/lsp/src/findFieldInFile.ts
  packages/@intlayer/lsp/src/findKeyAtOffset.ts
  packages/@intlayer/lsp/src/findKeyInContentFile.test.ts
  packages/@intlayer/lsp/src/findKeyInContentFile.ts
  packages/@intlayer/lsp/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
