Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(config): add configuration validation
  bun.lock
  packages/@intlayer/chokidar/src/logConfigDetails.ts
  packages/@intlayer/config/package.json
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/configFile/configurationSchema.ts
  packages/@intlayer/config/src/configFile/getConfiguration.ts
  packages/@intlayer/config/src/configFile/index.ts
  packages/@intlayer/config/src/configFile/loadConfigurationFile.ts
  packages/@intlayer/config/src/configFile/validation.test.ts
  packages/@intlayer/config/src/defaultValues/editor.ts
  packages/@intlayer/config/src/node.ts
  packages/@intlayer/types/src/config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(backend): fix showcase submission
  apps/backend/src/controllers/showcaseProject.controller.ts
  apps/backend/src/services/showcase/showcaseScan.service.ts
  apps/backend/src/services/showcase/showcaseVerifyBundle.service.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(cli): fix extract command
  bun.lock
  packages/@intlayer/cli/src/extract.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(babel): remove Target dictionary path log
  packages/@intlayer/babel/src/extractContent/extractContent.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add showcase app link in navbar
  apps/website/src/Routes.ts
  apps/website/src/components/Navbar/navbar.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(backend): remove whitelisted origin log
  apps/backend/src/utils/cors.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(showcase): fix build
  packages/@intlayer/api/src/getIntlayerAPI/ai.ts
  packages/@intlayer/api/src/getIntlayerAPI/audit.ts
  packages/@intlayer/api/src/getIntlayerAPI/bitbucket.ts
  packages/@intlayer/api/src/getIntlayerAPI/dictionary.ts
  packages/@intlayer/api/src/getIntlayerAPI/github.ts
  packages/@intlayer/api/src/getIntlayerAPI/gitlab.ts
  packages/@intlayer/api/src/getIntlayerAPI/newsletter.ts
  packages/@intlayer/api/src/getIntlayerAPI/oAuth.ts
  packages/@intlayer/api/src/getIntlayerAPI/organization.ts
  packages/@intlayer/api/src/getIntlayerAPI/project.ts
  packages/@intlayer/api/src/getIntlayerAPI/search.ts
  packages/@intlayer/api/src/getIntlayerAPI/showcaseProject.ts
  packages/@intlayer/api/src/getIntlayerAPI/stripe.ts
  packages/@intlayer/api/src/getIntlayerAPI/tag.ts
  packages/@intlayer/api/src/getIntlayerAPI/user.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadDictionaries.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadLocalDictionaries.ts
  packages/@intlayer/chokidar/src/loadDictionaries/logTypeScriptErrors.ts
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/config/src/configFile/configurationSchema.ts
  packages/@intlayer/config/src/utils/parseFilePathPattern.ts
  packages/@intlayer/design-system/src/libs/auth.ts
  packages/@intlayer/mcp/src/tools/cli.ts
  packages/@intlayer/types/src/config.ts
  plugins/sync-json-plugin/src/loadJSON.ts
  plugins/sync-json-plugin/src/syncJSON.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(sync-json): fix handling of array
  apps/showcase/intlayer.config.ts
  examples/json-sync/locales/en/array.json
  examples/json-sync/locales/es/array.json
  examples/json-sync/locales/fr/array.json
  packages/@intlayer/chokidar/src/writeContentDeclaration/transformJSONFile.ts
  packages/@intlayer/config/src/loadExternalFile/loadExternalFile.ts
  packages/@intlayer/core/src/dictionaryManipulator/orderDictionaries.test.ts
  packages/@intlayer/core/src/messageFormat/ICU.test.ts
  packages/@intlayer/core/src/messageFormat/ICU.ts
  packages/@intlayer/core/src/messageFormat/i18next.test.ts
  packages/@intlayer/core/src/messageFormat/i18next.ts
  packages/@intlayer/core/src/messageFormat/vue-i18n.test.ts
  packages/@intlayer/core/src/messageFormat/vue-i18n.ts
  plugins/sync-json-plugin/src/loadJSON.ts
  plugins/sync-json-plugin/src/syncJSON.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(showcase): change navbar section order
  apps/showcase/src/components/Navbar/navbar.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update configuration doc
  docs/docs/ar/configuration.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/uk/configuration.md
  docs/docs/vi/configuration.md
  docs/docs/zh/configuration.md
Due: prettier --write

feat(showcase): update hreflang
  .agents/skills/intlayer-react/references/environment_tanstack-start.md
  apps/showcase/intlayer.config.ts
  apps/showcase/src/routes/{-$locale}/app.content.ts
  apps/showcase/src/routes/{-$locale}/index.tsx
  apps/showcase/src/routes/{-$locale}/project.$projectId.tsx
  apps/showcase/src/routes/{-$locale}/submit.tsx
  docs/docs/ar/intlayer_with_tanstack.md
  docs/docs/de/intlayer_with_tanstack.md
  docs/docs/en-GB/intlayer_with_tanstack.md
  docs/docs/en/intlayer_with_tanstack.md
  docs/docs/es/intlayer_with_tanstack.md
  docs/docs/fr/intlayer_with_tanstack.md
  docs/docs/hi/intlayer_with_tanstack.md
  docs/docs/id/intlayer_with_tanstack.md
  docs/docs/it/intlayer_with_tanstack.md
  docs/docs/ja/intlayer_with_tanstack.md
  docs/docs/ko/intlayer_with_tanstack.md
  docs/docs/pl/intlayer_with_tanstack.md
  docs/docs/pt/intlayer_with_tanstack.md
  docs/docs/ru/intlayer_with_tanstack.md
  docs/docs/tr/intlayer_with_tanstack.md
  docs/docs/uk/intlayer_with_tanstack.md
  docs/docs/vi/intlayer_with_tanstack.md
  docs/docs/zh/intlayer_with_tanstack.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(showcase): update MoreProject and carousel
  apps/showcase/src/components/ProjectCard.tsx
  apps/showcase/src/components/ProjectFocus/MoreProjects.tsx
  packages/@intlayer/design-system/src/components/Carousel/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(backend): update ask doc question
  apps/backend/src/utils/AI/askDocQuestion/PROMPT.md
  apps/backend/src/utils/AI/askDocQuestion/askDocQuestion.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(mcp): update dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

chore(mcp): restore start see command
  packages/@intlayer/mcp/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(config): fix fallback url
  bun.lock
  packages/@intlayer/api/package.json
  packages/@intlayer/api/src/getIntlayerAPI/ai.ts
  packages/@intlayer/api/src/getIntlayerAPI/audit.ts
  packages/@intlayer/api/src/getIntlayerAPI/bitbucket.ts
  packages/@intlayer/api/src/getIntlayerAPI/dictionary.ts
  packages/@intlayer/api/src/getIntlayerAPI/editor.ts
  packages/@intlayer/api/src/getIntlayerAPI/github.ts
  packages/@intlayer/api/src/getIntlayerAPI/gitlab.ts
  packages/@intlayer/api/src/getIntlayerAPI/index.ts
  packages/@intlayer/api/src/getIntlayerAPI/newsletter.ts
  packages/@intlayer/api/src/getIntlayerAPI/oAuth.ts
  packages/@intlayer/api/src/getIntlayerAPI/organization.ts
  packages/@intlayer/api/src/getIntlayerAPI/project.ts
  packages/@intlayer/api/src/getIntlayerAPI/search.ts
  packages/@intlayer/api/src/getIntlayerAPI/showcaseProject.ts
  packages/@intlayer/api/src/getIntlayerAPI/stripe.ts
  packages/@intlayer/api/src/getIntlayerAPI/tag.ts
  packages/@intlayer/api/src/getIntlayerAPI/user.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(compiler): ignore config files in compiler
  packages/@intlayer/config/src/defaultValues/build.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(mcp): fix build
  packages/@intlayer/mcp/Dockerfile
Due: none

feat(editor): render editor and selector conditionally
  packages/@intlayer/chokidar/src/createType/createModuleAugmentation.ts
  packages/@intlayer/config/src/defaultValues/editor.ts
  packages/@intlayer/types/src/module_augmentation.ts
  packages/@intlayer/types/tsdown.config.ts
  packages/@intlayer/types/types/index.d.ts
  packages/angular-intlayer/src/plugins.ts
  packages/angular-intlayer/src/renderIntlayerNode.test.ts
  packages/angular-intlayer/src/renderIntlayerNode.ts
  packages/intlayer/src/index.ts
  packages/preact-intlayer/src/IntlayerNode.test.tsx
  packages/preact-intlayer/src/IntlayerNode.tsx
  packages/preact-intlayer/src/plugins.tsx
  packages/react-intlayer/src/IntlayerNode.test.tsx
  packages/react-intlayer/src/IntlayerNode.tsx
  packages/react-intlayer/src/plugins.tsx
  packages/solid-intlayer/src/IntlayerNode.test.tsx
  packages/solid-intlayer/src/IntlayerNode.tsx
  packages/solid-intlayer/src/plugins.tsx
  packages/solid-intlayer/vitest.config.ts
  packages/svelte-intlayer/src/plugins.ts
  packages/svelte-intlayer/src/renderIntlayerNode.test.ts
  packages/svelte-intlayer/src/renderIntlayerNode.ts
  packages/svelte-intlayer/vitest.config.ts
  packages/vue-intlayer/src/plugins.ts
  packages/vue-intlayer/src/renderIntlayerNode.test.ts
  packages/vue-intlayer/src/renderIntlayerNode.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chore): fix log in markdown renderer
  packages/@intlayer/core/src/markdown/utils.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

test(react-intlayer): add test getDictionary
  packages/react-intlayer/src/getDictionary.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): simplify code rendering by removing context and creating factory functions
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): update init command to add dictionary watcher
  packages/@intlayer/chokidar/src/init/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(intlayer): make routing object partial for locales
  packages/intlayer/src/routing/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): update init config file template
  packages/@intlayer/chokidar/src/initConfig/templates/cjs.txt
  packages/@intlayer/chokidar/src/initConfig/templates/json.txt
  packages/@intlayer/chokidar/src/initConfig/templates/mjs.txt
  packages/@intlayer/chokidar/src/initConfig/templates/ts.txt
Due: none

docs: update default values
  .agents/skills/intlayer-config/references/concept_configuration.md
  apps/website/intlayer.config.ts
  docs/docs/ar/configuration.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/uk/configuration.md
  docs/docs/vi/configuration.md
  docs/docs/zh/configuration.md
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/types/src/config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(chore): add test html
  packages/@intlayer/core/src/interpreter/getHTML.test.ts
  packages/@intlayer/core/src/interpreter/getHTML.ts
  packages/react-intlayer/src/getDictionary.test.ts
  packages/react-intlayer/src/getDictionary.ts
  packages/react-intlayer/src/markdown/processor.test.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): add output
  apps/website/intlayer.config.ts
  examples/vite-react-app/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): change importMode from build to dictioanry setting in init command
  packages/@intlayer/chokidar/src/initConfig/templates/cjs.txt
  packages/@intlayer/chokidar/src/initConfig/templates/json.txt
  packages/@intlayer/chokidar/src/initConfig/templates/mjs.txt
Due: none

docs: remove deprecated importMode
  docs/docs/ar/configuration.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/uk/configuration.md
  docs/docs/vi/configuration.md
  docs/docs/zh/configuration.md
Due: prettier --write

refactor(design-system): restore ExpandCollapse
  packages/@intlayer/design-system/src/components/ExpandCollapse/ExpandCollapse.tsx
  packages/@intlayer/design-system/src/components/MaxHeightSmoother/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(design-system): add support for jsonc and json5 languages in CodeBlockShiki
  packages/@intlayer/design-system/src/components/IDE/CodeBlockShiki.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
