Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(website): finish bento features
  apps/website-tanstack/src/components/LandingPage/NEW/IDESection/index.tsx
  apps/website-tanstack/src/components/LandingPage/NEW/RedesignedFeatures.tsx
  apps/website-tanstack/src/components/LandingPage/NEW/TestSection/index.content.ts
  apps/website-tanstack/src/components/LandingPage/NEW/TestSection/index.tsx
  apps/website-tanstack/src/components/LandingPage/NEW/VisualEditorSection/index.content.ts
  apps/website-tanstack/src/components/LandingPage/NEW/VisualEditorSection/index.tsx
  apps/website-tanstack/src/components/LandingPage/index.tsx
  packages/@intlayer/design-system/src/components/IDE/IDE.tsx
  packages/@intlayer/design-system/src/components/IDE/MarkDownRender.tsx
  packages/@intlayer/design-system/src/components/LanguageBackground/LanguageSection.tsx
  packages/@intlayer/design-system/src/components/Terminal/Terminal.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): improve documentation table and add footer status badge
  apps/website-tanstack/src/components/DocPage/DocPageLayout.tsx
  apps/website-tanstack/src/components/LandingPage/index.tsx
  packages/@intlayer/design-system/src/components/Badge/index.tsx
  packages/@intlayer/design-system/src/components/Browser/Browser.tsx
  packages/@intlayer/design-system/src/components/Carousel/index.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/ContentEditorView/TextEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryFieldEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/SaveForm/SaveForm.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/StructureView/StructureView.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/VersionSwitcherDropDown/VersionSwitcher.tsx
  packages/@intlayer/design-system/src/components/Footer/index.tsx
  packages/@intlayer/design-system/src/components/IDE/Code.tsx
  packages/@intlayer/design-system/src/components/IDE/FileList.tsx
  packages/@intlayer/design-system/src/components/Input/Checkbox.tsx
  packages/@intlayer/design-system/src/components/Link/Link.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownIframe.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
  packages/@intlayer/design-system/src/components/Modal/Modal.tsx
  packages/@intlayer/design-system/src/components/Navbar/DesktopNavbar.tsx
  packages/@intlayer/design-system/src/components/RightDrawer/RightDrawer.tsx
  packages/@intlayer/design-system/src/components/Table/SmartTable.tsx
  packages/@intlayer/design-system/src/components/Table/Table.tsx
  packages/@intlayer/design-system/src/components/Terminal/Terminal.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): add new domains to disavow list
  apps/website/public/disavow.txt
Due: none

docs: remove redundant sections on `plural` usage across multiple language dictionaries
  docs/docs/ar/dictionary/plurial.md
  docs/docs/de/dictionary/plurial.md
  docs/docs/en-GB/dictionary/plurial.md
  docs/docs/es/dictionary/plurial.md
  docs/docs/fr/dictionary/plurial.md
  docs/docs/hi/dictionary/plurial.md
  docs/docs/id/dictionary/plurial.md
  docs/docs/it/dictionary/plurial.md
  docs/docs/ja/dictionary/plurial.md
  docs/docs/ko/dictionary/plurial.md
  docs/docs/pl/dictionary/plurial.md
  docs/docs/pt/dictionary/plurial.md
  docs/docs/ru/dictionary/plurial.md
  docs/docs/tr/dictionary/plurial.md
  docs/docs/uk/dictionary/plurial.md
  docs/docs/vi/dictionary/plurial.md
  docs/docs/zh/dictionary/plurial.md
Due: prettier --write

docs: add hreflang blog
  docs/blog/ar/hreflang_guide_multilingual_seo.md
  docs/blog/de/hreflang_guide_multilingual_seo.md
  docs/blog/en-GB/hreflang_guide_multilingual_seo.md
  docs/blog/en/hreflang_guide_multilingual_seo.md
  docs/blog/es/hreflang_guide_multilingual_seo.md
  docs/blog/fr/hreflang_guide_multilingual_seo.md
  docs/blog/hi/hreflang_guide_multilingual_seo.md
  docs/blog/id/hreflang_guide_multilingual_seo.md
  docs/blog/it/hreflang_guide_multilingual_seo.md
  docs/blog/ja/hreflang_guide_multilingual_seo.md
  docs/blog/ko/hreflang_guide_multilingual_seo.md
  docs/blog/pl/hreflang_guide_multilingual_seo.md
  docs/blog/pt/hreflang_guide_multilingual_seo.md
  docs/blog/ru/hreflang_guide_multilingual_seo.md
  docs/blog/tr/hreflang_guide_multilingual_seo.md
  docs/blog/uk/hreflang_guide_multilingual_seo.md
  docs/blog/vi/hreflang_guide_multilingual_seo.md
  docs/blog/zh/hreflang_guide_multilingual_seo.md
  docs/src/generated/blog.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: clarify AI translation usage in documentation
  docs/CLAUDE.md
Due: prettier --write

docs: update AI translation guidelines for clarity
  docs/CLAUDE.md
Due: prettier --write

chore: update dependencies to latest versions across all packages
  apps/app/package.json
  apps/backend/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  examples/vite-react-app/package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/engine/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/types/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(docs): add metadata handling for @intlayer/babel and improve slug matching logic
  apps/website/src/components/DocPage/docData.content.ts
  docs/src/common.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): replace nextjsRewrite with tanstackRouterRewrite for routing updates
  apps/website/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): resolve localized path matching for percent-encoded URLs and update canonical slug handling for splat routes
  apps/website/intlayer.config.ts
  apps/website/src/routes/{-$locale}/_docs/blog/$.tsx
  apps/website/src/routes/{-$locale}/_docs/doc/$.tsx
  apps/website/src/routes/{-$locale}/_docs/frequent-questions/$.tsx
  apps/website/src/routes/{-$locale}/blog/raw/$.tsx
  apps/website/src/routes/{-$locale}/doc/raw/$.tsx
  apps/website/src/routes/{-$locale}/frequent-questions/raw/$.tsx
  apps/website/src/utils/canonicalSlugs.ts
  apps/website/vite.config.ts
  packages/@intlayer/core/src/localization/rewriteUtils.test.ts
  packages/@intlayer/core/src/localization/rewriteUtils.ts
  packages/intlayer/src/routing/index.test.ts
  packages/intlayer/src/routing/index.ts
  packages/vite-intlayer/src/intlayerProxyHandler.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): restore previously commented-out locales in configuration
  apps/website/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): enhance postbuild script and improve compression settings for static assets
  apps/website/package.json
  apps/website/scripts/compress-static.ts
  apps/website/scripts/inline-critical-css.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(chore): optimize markdown parsing performance and enhance regex handling for HTML and custom components
  packages/@intlayer/core/src/markdown/compiler.ts
  packages/@intlayer/core/src/markdown/constants.ts
  packages/@intlayer/core/src/markdown/parser.ts
  packages/@intlayer/core/src/markdown/renderer.ts
  packages/@intlayer/core/src/markdown/types.ts
  packages/@intlayer/core/src/markdown/utils.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(demo): add multilingual support for demo page content and enhance session handling
  apps/app/src/routes/{-$locale}/demo.content.ts
  apps/app/src/routes/{-$locale}/demo.tsx
  apps/backend/src/controllers/demo.controller.ts
  apps/backend/src/schemas/account.schema.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

perf(chore): optimize markdown parsing performance and enhance regex handling for HTML and custom components
  packages/@intlayer/core/src/markdown/compiler.ts
  packages/@intlayer/core/src/markdown/constants.ts
  packages/@intlayer/core/src/markdown/parser.ts
  packages/@intlayer/core/src/markdown/utils.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

perf(website): refine Brotli quality settings for improved performance on HTML and assets
  apps/website/scripts/compress-static.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): update style demo page
  apps/app/src/routes/{-$locale}/demo.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): override broken TanStack dev stylesheet links with production CSS asset during SSR prerender
  apps/website/scripts/inline-critical-css.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(design-system): prevent external links and malformed URLs from causing SSR errors
  apps/website/src/components/Link/Link.tsx
  packages/@intlayer/design-system/src/components/Link/link.test.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): remake faq component
  apps/website/src/components/LandingPage/CommonQuestionsSection/CommonQuestions.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): add main landing switcher
  apps/website/src/components/LandingSwitcher.tsx
  apps/website/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/website/src/routes/{-$locale}/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): tweak layout and component styles
  apps/website/src/components/BlogPage/template.html
  apps/website/src/components/CMSLandingPage/ContentDeliverySection.tsx
  apps/website/src/components/ChatBot/ChatBumble.tsx
  apps/website/src/components/I18nBenchmark/index.tsx
  apps/website/src/components/LandingPage/FeaturesSection/VisualEditorSection/index.tsx
  apps/website/src/components/LandingPage/HeroSection/index.tsx
  apps/website/src/components/LandingPage/index.tsx
  apps/website/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/website/src/components/ScannerPage/Analyzer/Form/AnalyzerForm.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerSiteResults.tsx
  apps/website/src/components/ScannerPage/RecursiveAuditResults.tsx
  apps/website/src/components/ScannerPage/UrlDiscoveryList.tsx
  apps/website/src/components/TMSLandingPage/FeaturesSection.tsx
  apps/website/src/components/TMSLandingPage/PainPointsSection.tsx
  apps/website/src/components/TranslationLandingPage/HeroSection.tsx
  apps/website/src/routes/{-$locale}/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): add light rays effect and improve hero section
  apps/website/src/components/LandingPage/HeroSection/index.tsx
  apps/website/src/components/LightRays.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): navbar styling and theme fixes
  packages/@intlayer/design-system/src/components/Navbar/DesktopNavbar.tsx
  packages/@intlayer/design-system/styles/themes.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
