Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(design-system): replace textarea with contentEditable for inline autocomplete
  packages/@intlayer/design-system/src/components/TextArea/AutocompleteTextArea.tsx
  packages/@intlayer/design-system/src/components/TextArea/ContentEditableTextArea.tsx
  packages/@intlayer/design-system/src/components/TextArea/contentEditable.test.tsx
  packages/@intlayer/design-system/src/components/TextArea/contentEditableTextarea.stories.tsx
  packages/@intlayer/design-system/src/components/TextArea/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(core): add unclosed tag validation on html
  docs/blog/ar/i18n_using_next-i18next.md
  docs/blog/en-GB/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/uk/internationalization_and_SEO.md
  docs/docs/ar/intlayer_with_nextjs_no_locale_path.md
  docs/docs/ar/vs_code_extension.md
  docs/docs/de/vs_code_extension.md
  docs/docs/en-GB/vs_code_extension.md
  docs/docs/en/vs_code_extension.md
  docs/docs/es/vs_code_extension.md
  docs/docs/fr/vs_code_extension.md
  docs/docs/hi/vs_code_extension.md
  docs/docs/id/vs_code_extension.md
  docs/docs/it/vs_code_extension.md
  docs/docs/ja/vs_code_extension.md
  docs/docs/ko/vs_code_extension.md
  docs/docs/pl/vs_code_extension.md
  docs/docs/pt/vs_code_extension.md
  docs/docs/ru/vs_code_extension.md
  docs/docs/tr/intlayer_with_nextjs_no_locale_path.md
  docs/docs/tr/vs_code_extension.md
  docs/docs/uk/intlayer_with_nextjs_no_locale_path.md
  docs/docs/uk/vs_code_extension.md
  docs/docs/update_docs.py
  docs/docs/vi/vs_code_extension.md
  docs/docs/zh/vs_code_extension.md
  docs/tools/markdownFormatting.test.ts
  docs/tools/markdownFormatting.ts
  packages/@intlayer/core/src/transpiler/html/getHTMLCustomComponents.ts
  packages/@intlayer/core/src/transpiler/html/index.ts
  packages/@intlayer/core/src/transpiler/html/validateHTML.ts
  packages/@intlayer/core/src/transpiler/markdown/index.ts
  packages/@intlayer/core/src/transpiler/markdown/markdown.ts
  packages/@intlayer/core/src/transpiler/markdown/validateMarkdown.test.ts
  packages/@intlayer/core/src/transpiler/markdown/validateMarkdown.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(app): add translation for "Add a translation" in multiple languages
  apps/app/src/components/Dashboard/TranslateDashboard/index.content.ts
  apps/app/src/components/Dashboard/TranslateDashboard/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update lint-staged to version 16.4.0 and esbuild to version 0.27.4
  package.json
  packages/@intlayer/config/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(chokidar): update init intlayer default config file
  packages/@intlayer/chokidar/src/initConfig/templates/cjs.txt
  packages/@intlayer/chokidar/src/initConfig/templates/json.txt
  packages/@intlayer/chokidar/src/initConfig/templates/mjs.txt
  packages/@intlayer/chokidar/src/initConfig/templates/ts.txt
Due: none

fix(website): fix github images
  apps/app/next.config.ts
  apps/website/next.config.ts
  docs/assets/CMS.png
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): update landing with centralized i18n
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/content/config-file.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/client-component-i18n-en.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/client-component-i18n-es.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/client-component-i18n-fr.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/client-component.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/server-component-i18n-en.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/server-component-i18n-es.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/server-component-i18n-fr.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/index.tsx
  bun.lock
  packages/@intlayer/design-system/src/components/IDE/IDE.tsx
  packages/@intlayer/design-system/src/components/SwitchSelector/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website): add centralized and per-component config files for internationalization
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/config-file-centralized.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/config-file-per-component.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(design-system): resolve contentEditable input bugs and review feedback
  packages/@intlayer/design-system/src/components/TextArea/AutocompleteTextArea.tsx
  packages/@intlayer/design-system/src/components/TextArea/ContentEditableTextArea.tsx
  packages/@intlayer/design-system/src/components/TextArea/contentEditable.test.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(MaxHeightSmoother): fix animation "dead time" and improve a11y
  packages/@intlayer/design-system/src/components/MaxHeightSmoother/index.tsx
  packages/@intlayer/design-system/src/components/MaxHeightSmoother/maxheightsmoother.stories.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(MaxHeightSmoother): convert to pure CSS and restore JSDocs
  packages/@intlayer/design-system/src/components/MaxHeightSmoother/index.tsx
  packages/@intlayer/design-system/src/components/MaxHeightSmoother/maxheightsmoother.stories.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(vite-intlayer): deprecate intlayerPlugin usage
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): update init command
  .agents/skills/intlayer-cli/references/concept_cli_init.md
  docs/docs/ar/cli/init.md
  docs/docs/en-GB/cli/init.md
  docs/docs/en/cli/init.md
  docs/docs/hi/cli/init.md
  docs/docs/ja/cli/init.md
  docs/docs/uk/cli/init.md
  docs/docs/vi/cli/init.md
  docs/docs/zh/cli/init.md
  packages/@intlayer/chokidar/src/init/index.ts
  packages/@intlayer/chokidar/src/initConfig/index.ts
  packages/@intlayer/chokidar/src/installSkills/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(core): integrate HTML validation and improve error reporting
  packages/@intlayer/core/src/transpiler/html/getHTMLCustomComponents.ts
  packages/@intlayer/core/src/transpiler/html/html.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(config): add build output format configuration
  apps/showcase/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): remove useCallback/memo and displayName per review
  packages/@intlayer/design-system/src/components/TextArea/AutocompleteTextArea.tsx
  packages/@intlayer/design-system/src/components/TextArea/ContentEditableTextArea.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar): fix intlayer build
  examples/vite-react-app/intlayer.config.ts
  examples/vite-react-app/package.json
  packages/@intlayer/chokidar/src/filterInvalidDictionaries.ts
  packages/@intlayer/core/src/interpreter/getContent/deepTransform.ts
  packages/@intlayer/core/src/utils/localeStorage.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: resolve invalid regex on Windows in exclusionList.ts
  packages/react-native-intlayer/src/exclusionList.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(react-native): fix pattern exclusion
  bun.lock
  packages/react-native-intlayer/package.json
  packages/react-native-intlayer/src/configMetroIntlayer.ts
  packages/react-native-intlayer/src/exclusionList.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: fix mispelling
  .agents/skills/intlayer-remote-content/references/concept_cms.md
  docs/docs/en/intlayer_CMS.md
Due: prettier --write

fix(chokidar): build unmerged dictionaries in dev
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/buildIntlayerDictionary.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeUnmergedDictionary.ts
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
  packages/@intlayer/config/src/loadExternalFile/loadExternalFile.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: remove the requirement to add the useIntlayerEditor in Svelte applications across
  .agents/skills/intlayer-svelte/references/environment_vite-and-svelte.md
  bun.lock
  docs/docs/ar/intlayer_with_vite+svelte.md
  docs/docs/de/intlayer_with_vite+svelte.md
  docs/docs/en-GB/intlayer_with_vite+svelte.md
  docs/docs/en/intlayer_with_vite+svelte.md
  docs/docs/es/intlayer_with_vite+svelte.md
  docs/docs/fr/intlayer_with_vite+svelte.md
  docs/docs/hi/intlayer_with_vite+svelte.md
  docs/docs/id/intlayer_with_vite+svelte.md
  docs/docs/it/intlayer_with_vite+svelte.md
  docs/docs/ja/intlayer_with_vite+svelte.md
  docs/docs/ko/intlayer_with_vite+svelte.md
  docs/docs/pl/intlayer_with_vite+svelte.md
  docs/docs/pt/intlayer_with_vite+svelte.md
  docs/docs/ru/intlayer_with_vite+svelte.md
  docs/docs/tr/intlayer_with_vite+svelte.md
  docs/docs/uk/intlayer_with_vite+svelte.md
  docs/docs/vi/intlayer_with_vite+svelte.md
  docs/docs/zh/intlayer_with_vite+svelte.md
Due: prettier --write

fix(website): add 'use client' directive to MarkdownRenderer and MarkdownRendererPlugin
  packages/react-intlayer/src/markdown/MarkdownRenderer.tsx
  packages/react-intlayer/src/markdown/MarkdownRendererPlugin.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(react-intlayer): update import syntax in MarkdownRendererPlugin for consistency
  packages/react-intlayer/src/markdown/MarkdownRendererPlugin.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(astro-intlayer): add keywords to package.json
  packages/astro-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: update svelte doc
  .agents/skills/intlayer-svelte/references/environment_sveltekit.md
  docs/docs/ar/intlayer_with_svelte_kit.md
  docs/docs/de/intlayer_with_svelte_kit.md
  docs/docs/en-GB/intlayer_with_svelte_kit.md
  docs/docs/en/intlayer_with_svelte_kit.md
  docs/docs/es/intlayer_with_svelte_kit.md
  docs/docs/fr/intlayer_with_svelte_kit.md
  docs/docs/hi/intlayer_with_svelte_kit.md
  docs/docs/id/intlayer_with_svelte_kit.md
  docs/docs/it/intlayer_with_svelte_kit.md
  docs/docs/ko/intlayer_with_svelte_kit.md
  docs/docs/pl/intlayer_with_svelte_kit.md
  docs/docs/pt/intlayer_with_svelte_kit.md
  docs/docs/ru/intlayer_with_svelte_kit.md
  docs/docs/tr/intlayer_with_svelte_kit.md
  docs/docs/uk/intlayer_with_svelte_kit.md
  docs/docs/vi/intlayer_with_svelte_kit.md
  docs/docs/zh/intlayer_with_svelte_kit.md
Due: prettier --write

fix(doc): update AdonisJS template URL
  docs/docs/ar/intlayer_with_adonisjs.md
  docs/docs/de/intlayer_with_adonisjs.md
  docs/docs/en-GB/intlayer_with_adonisjs.md
  docs/docs/en/intlayer_with_adonisjs.md
  docs/docs/es/intlayer_with_adonisjs.md
  docs/docs/fr/intlayer_with_adonisjs.md
  docs/docs/hi/intlayer_with_adonisjs.md
  docs/docs/id/intlayer_with_adonisjs.md
  docs/docs/it/intlayer_with_adonisjs.md
  docs/docs/ja/intlayer_with_adonisjs.md
  docs/docs/ko/intlayer_with_adonisjs.md
  docs/docs/pt/intlayer_with_adonisjs.md
  docs/docs/ru/intlayer_with_adonisjs.md
  docs/docs/tr/intlayer_with_adonisjs.md
  docs/docs/uk/intlayer_with_adonisjs.md
  docs/docs/vi/intlayer_with_adonisjs.md
  docs/docs/zh/intlayer_with_adonisjs.md
Due: prettier --write

refactor: remove call of * as Locales in packages to avoid side effects
  packages/@intlayer/ai/src/translateJSON/index.ts
  packages/@intlayer/chokidar/src/utils/formatter.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/processContentDeclarationContent.ts
  packages/@intlayer/cli/src/reviewDoc/reviewDocBlockAware.ts
  packages/@intlayer/config/src/defaultValues/internationalization.ts
  packages/@intlayer/core/src/localization/getBrowserLocale.tsx
  packages/@intlayer/core/src/localization/getHTMLTextDir.ts
  packages/@intlayer/core/src/localization/localeMapper.ts
  packages/@intlayer/core/src/utils/intl.ts
  packages/@intlayer/design-system/intlayer.config.ts
  packages/@intlayer/design-system/src/components/LocaleSwitcherContentDropDown/LocaleSwitcherContent.tsx
  packages/@intlayer/design-system/src/components/LocaleSwitcherDropDown/LocaleSwitcher.tsx
  packages/solid-intlayer/src/client/getBrowserLocale.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): remove unused config option for client side to make it lighter
  packages/@intlayer/chokidar/src/writeConfiguration/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update package version
  .github/workflows/build_and_test.yaml
  .github/workflows/release.yaml
  apps/app/Dockerfile
  apps/app/package.json
  apps/backend/Dockerfile
  apps/showcase/Dockerfile
  apps/showcase/package.json
  apps/website/Dockerfile
  apps/website/package.json
  bun.lock
  examples/analog-app/package.json
  examples/astro-react-app/package.json
  examples/next-no-lolale-path/package.json
  examples/nextjs-14-app/package.json
  examples/nextjs-15-app/package.json
  examples/react-router-app/package.json
  examples/react-router-fs-app/package.json
  examples/tanstack-start-app/package.json
  examples/vite-preact-app/package.json
  examples/vite-react-app/package.json
  package.json
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/design-system/package.json
  packages/@intlayer/mcp/Dockerfile
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(backend): update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_svelte_kit.json
  examples/vite-preact-app/intlayer.config.ts
  examples/vite-preact-app/src/app.tsx
  examples/vite-preact-app/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
