Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

refactor(website): update LandingSection and Navbar components for improved layout and styling; enhance Link component behavior
  apps/website/src/components/LandingPage/LandingSection/index.tsx
  apps/website/src/components/Link/Link.tsx
  apps/website/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/website/src/components/Navbar/index.tsx
  apps/website/src/components/ProfileDropdown/ProfileDropDown/index.tsx
  packages/@intlayer/design-system/src/components/Avatar/index.tsx
  packages/@intlayer/design-system/src/components/Badge/index.tsx
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/Container/index.tsx
  packages/@intlayer/design-system/src/components/DropDown/index.tsx
  packages/@intlayer/design-system/src/components/Link/Link.tsx
  packages/@intlayer/design-system/src/components/SwitchSelector/index.tsx
  packages/@intlayer/design-system/src/components/Tag/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): integrate Workbox for service worker generation and caching; update build script to automate SW generation
  apps/website/.gitignore
  apps/website/next.config.ts
  apps/website/package.json
  apps/website/public/workbox-dba00f51.js.map
  apps/website/scripts/generate-sw.ts
  apps/website/src/components/ServiceWorker/useServiceWorker.ts
  apps/website/src/sw-template.ts
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(core): enhance ICU and i18next format handling; add verification script for format conversion
  packages/@intlayer/core/src/messageFormat/ICU.test.ts
  packages/@intlayer/core/src/messageFormat/ICU.ts
  packages/@intlayer/core/src/messageFormat/i18next.test.ts
  packages/@intlayer/core/src/messageFormat/verify-icu-format.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): update PasskeyButton component to use signInPasskey with loading state and timeout for session revalidation
  apps/website/src/components/Auth/PassKeyButton/PassKeyButton.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): adjust mainClassName in DashboardLayoutContent for responsive design
  apps/website/src/app/[locale]/(dashboard)/layout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): remove unused service worker template and update service worker registration logic
  apps/website/next.config.ts
  apps/website/scripts/generate-sw.ts
  apps/website/src/components/ServiceWorker/useServiceWorker.ts
  apps/website/src/sw-template.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update build scripts to use bun for improved performance and consistency
  apps/website/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(website): simplify user avatar rendering in ProjectCard component by removing duplicate user mapping
  apps/website/src/components/Dashboard/ProjectForm/ProjectCard.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): fix lighthouse errors
  apps/website/next.config.ts
  apps/website/package.json
  apps/website/src/app/[locale]/(landing)/layout.tsx
  apps/website/src/app/layout.tsx
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/Visual.tsx
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/demo.content.ts
  apps/website/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  bun.lock
  examples/astro-react-app/package.json
  examples/react-router-app/package.json
  examples/react-router-fs-app/package.json
  examples/tanstack-start-app/package.json
  examples/vite-preact-app/package.json
  examples/vite-react-app/package.json
  examples/vite-solid-app/package.json
  examples/vite-svelte-app/package.json
  examples/vite-vue-app/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/src/components/Terminal/Terminal.tsx
  packages/@intlayer/design-system/src/components/Terminal/terminal.content.ts
  packages/@intlayer/design-system/tsdown.config.ts
  packages/intlayer-editor/package.json
  packages/solid-intlayer/package.json
  packages/vue-intlayer/package.json
  utils/tsdown-config/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): update Dockerfile CMD to use 'bun run --bun start' for improved command execution
  apps/website/Dockerfile
Due: none

fix(website): restore Dockerfile to use 'bun x' for building and starting Next.js application
  apps/website/Dockerfile
Due: none

refactor(website): consolidate global headers and improve caching strategy in next.config.ts
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

build(website): enhance Dockerfile to include service worker generation during Next.js build process
  apps/website/Dockerfile
Due: none

refactor(website): remove console log from service worker registration for cleaner output
  apps/website/src/components/ServiceWorker/useServiceWorker.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update Cache-Control header to extend max-age for improved caching
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(react-native): add defaultLocale prop for react-native provider
  packages/react-native-intlayer/src/intlayerProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar): remove unnecessary assertion in dynamic import for ESM format
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/createDictionaryEntryPoint.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/generateDictionaryListContent.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(config): add `buildMode` option to control build behavior
  docs/docs/ar/configuration.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/vi/configuration.md
  docs/docs/zh/configuration.md
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/defaultValues/build.ts
  packages/@intlayer/types/src/config.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(website): separate service worker generation into postbuild script for cleaner build process
  apps/website/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(react-native): update IntlayerProviderProps to use Omit for cleaner prop management
  packages/react-native-intlayer/src/intlayerProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): update LocaleSwitcher to use dynamic locale switching and improve accessibility
  apps/website/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/website/src/components/LocaleSwitcher/localeSwitcher.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): add aria-current attribute to LocaleSwitcher for improved accessibility
  apps/website/src/components/LocaleSwitcher/LocaleSwitcher.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): update theme handling to use resolvedTheme for consistent dark mode detection across components
  apps/website/src/components/LandingPage/FeaturesSection/TestSection/index.tsx
  apps/website/src/components/LandingPage/LandingSection/index.tsx
  apps/website/src/components/OnboardPage/PaymentStep/PaymentStepForm.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/FieldItem.tsx
  apps/website/src/providers/IntlayerMarkdownProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): integrate Inter font across layouts for improved typography consistency
  apps/website/src/app/[locale]/(audit)/layout.tsx
  apps/website/src/app/[locale]/(dashboard)/layout.tsx
  apps/website/src/app/[locale]/(docs)/layout.tsx
  apps/website/src/app/[locale]/(landing)/layout.tsx
  apps/website/src/app/[locale]/(playground)/layout.tsx
  apps/website/src/components/LandingPage/DemoSection/DemoYoutube/index.tsx
  apps/website/src/layouts/RootHTMLLayout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): update secure headers configuration and enhance image caching for improved performance
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): implement dynamic imports for flag assets and streamline flag component rendering
  packages/@intlayer/design-system/src/components/Flags/Flag.tsx
  packages/@intlayer/design-system/src/components/Flags/flags.ts
  packages/@intlayer/design-system/src/components/Flags/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(tsdown-config): simplify external dependency handling by consolidating checks for built-in modules and dependencies
  bun.lock
  packages/@intlayer/design-system/package.json
  utils/tsdown-config/tsdown-config.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(design-system): add accessibility labels for code format selectors and implement content management for improved usability
  packages/@intlayer/design-system/src/components/IDE/CodeFormatSelector.tsx
  packages/@intlayer/design-system/src/components/IDE/ContentDeclarationFormatSelector.tsx
  packages/@intlayer/design-system/src/components/IDE/PackageManagerSelector.tsx
  packages/@intlayer/design-system/src/components/IDE/selectors.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): rename MaxHeightSmootherProps to MaxWidthSmootherProps and enhance accessibility with inert attribute
  packages/@intlayer/design-system/src/components/MaxWidthSmoother/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(design-system): update @better-auth/passkey dependency to version 1.4.7
  bun.lock
  packages/@intlayer/design-system/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(website): update aspect ratio classes for DemoCodeSandbox and DemoYoutube components to use aspect-video for better responsiveness
  apps/website/src/components/LandingPage/DemoSection/DemoCodeSandbox/index.tsx
  apps/website/src/components/LandingPage/DemoSection/DemoYoutube/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(dependencies): upgrade bun to version 1.3.5 across all relevant files and workflows
  .github/workflows/build_and_test.yaml
  .github/workflows/release.yaml
  CONTRIBUTING.md
  apps/backend/Dockerfile
  apps/website/Dockerfile
  package.json
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/swc/Cargo.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(blog): add margin-top to blog search page title for improved layout
  apps/website/src/app/[locale]/(docs)/blog/search/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): optimize lcp
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): update initialScale in viewport metadata for improved scaling on mobile devices
  apps/website/src/app/[locale]/metadata.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
