Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(babel): update extraction rules
  packages/@intlayer/babel/src/extractContent/babelProcessor.ts
  packages/@intlayer/babel/src/extractContent/extractContent.test.ts
  packages/@intlayer/babel/src/extractContent/utils/shouldExtract.test.ts
  packages/@intlayer/babel/src/extractContent/utils/shouldExtract.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(config): disable compiler by default and add user warning for configuration migration
  apps/showcase/intlayer.config.ts
  apps/website/intlayer.config.ts
  apps/website/next.config.ts
  examples/tanstack-start-app/intlayer.config.ts
  packages/@intlayer/chokidar/src/init/index.ts
  packages/@intlayer/chokidar/src/logConfigDetails.ts
  packages/@intlayer/config/src/defaultValues/compiler.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): remove deprecation notice for compiler.enabled configuration
  packages/@intlayer/chokidar/src/logConfigDetails.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs(design-system): fix code block styling in MarkdownRender
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update v9 release documentation to reflect that the compiler is now disabled by default
  docs/docs/ar/releases/v9.md
  docs/docs/de/releases/v9.md
  docs/docs/en-GB/releases/v9.md
  docs/docs/en/releases/v9.md
  docs/docs/es/releases/v9.md
  docs/docs/fr/releases/v9.md
  docs/docs/hi/releases/v9.md
  docs/docs/id/releases/v9.md
  docs/docs/it/releases/v9.md
  docs/docs/ja/releases/v9.md
  docs/docs/ko/releases/v9.md
  docs/docs/pl/releases/v9.md
  docs/docs/pt/releases/v9.md
  docs/docs/ru/releases/v9.md
  docs/docs/tr/releases/v9.md
  docs/docs/uk/releases/v9.md
  docs/docs/vi/releases/v9.md
  docs/docs/zh/releases/v9.md
Due: prettier --write

style(design-system): adjust negative horizontal margin for inline code component in MarkDownRender
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update disavow list
  apps/website/public/disavow.txt
Due: none

chore: update nextjs to preview
  apps/website/next.config.ts
  apps/website/package.json
  bun.lock
  examples/compat-next-i18next/package.json
  examples/compat-next-intl/package.json
  examples/next-no-lolale-path/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(compat): support multiple namespaced dictionaries in lingui adapter and prevent locale identifier collisions in TanStack Start injection
  compat/lingui/src/I18nClass.test.ts
  compat/lingui/src/I18nClass.ts
  compat/lingui/src/linguiCatalog.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/tanstackStart/adapter.test.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/tanstackStart/transforms.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: restore next dependency to version 16.2.9 across all packages
  apps/website/package.json
  bun.lock
  examples/compat-next-i18next/package.json
  examples/compat-next-intl/package.json
  examples/next-no-lolale-path/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: remove dynamic records reference and update custom selector documentation in v9 release notes
  docs/docs/ar/releases/v9.md
  docs/docs/de/releases/v9.md
  docs/docs/en-GB/releases/v9.md
  docs/docs/en/releases/v9.md
  docs/docs/es/releases/v9.md
  docs/docs/fr/releases/v9.md
  docs/docs/hi/releases/v9.md
  docs/docs/id/releases/v9.md
  docs/docs/it/releases/v9.md
  docs/docs/ja/releases/v9.md
  docs/docs/ko/releases/v9.md
  docs/docs/pl/releases/v9.md
  docs/docs/pt/releases/v9.md
  docs/docs/ru/releases/v9.md
  docs/docs/tr/releases/v9.md
  docs/docs/uk/releases/v9.md
  docs/docs/vi/releases/v9.md
  docs/docs/zh/releases/v9.md
Due: prettier --write

feat(chokidar): implement interactive compat i18n library selection and dependency hinting during init
  packages/@intlayer/chokidar/src/init/index.ts
  packages/@intlayer/chokidar/src/init/utils/packageManager.ts
  packages/@intlayer/cli/src/init.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(i18next): add support for flat dot-separated keys in i18next translation resolution
  compat/i18next/src/createInstance.test.ts
  compat/i18next/src/resolveTranslation.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(use-intl): add fallback logic to search all dictionaries when a key is not found in the identified scope
  compat/use-intl/src/shared/namespaceTranslator.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add spam domains to disavow list
  apps/website/public/disavow.txt
Due: none

feat(vue-i18n): fix compat package
  compat/vue-i18n/src/createI18n.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(design-system): update code block styling for improved readability
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add new domains to disavow list
  apps/website/public/disavow.txt
Due: none

chore(website): add new domains to disavow list
  apps/website/public/disavow.txt
Due: none

fix(app): fix dictionary update
  apps/backend/src/utils/validation/validateDictionary.ts
  packages/@intlayer/design-system/src/api/hooks/dictionary.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/ContentEditor.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(config): add environment variable fallbacks for editor credentials
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/config/src/configFile/buildBrowserConfiguration.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/configFile/editorCredentials.test.ts
  packages/@intlayer/config/src/configFile/getConfiguration.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: packages/@intlayer/webpack/package.json to reduce vulnerabilities
  packages/@intlayer/webpack/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: packages/react-scripts-intlayer/package.json to reduce vulnerabilities
  packages/react-scripts-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update packages dependencies
  apps/app/package.json
  apps/backend/package.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/releases/v9.json
  apps/showcase/package.json
  apps/website-tanstack/package.json
  apps/website/package.json
  examples/analog-app/package.json
  examples/astro-react-app/package.json
  examples/compat-next-intl/package.json
  examples/fastify-app/package.json
  examples/next-no-lolale-path/package.json
  examples/nextjs-14-app/package.json
  examples/nextjs-15-app/package.json
  examples/react-app/package.json
  examples/react-router-app/package.json
  examples/react-router-fs-app/package.json
  examples/tanstack-start-app/package.json
  examples/tanstack-start-solid-app/package.json
  examples/vite-preact-app/package.json
  examples/vite-react-app/package.json
  package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/mcp/package.json
  packages/fastify-intlayer/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(docs): update product fetching structure to use variant and collection object
  docs/docs/ar/releases/v9.md
  docs/docs/de/releases/v9.md
  docs/docs/en-GB/releases/v9.md
  docs/docs/en/releases/v9.md
  docs/docs/es/releases/v9.md
  docs/docs/fr/releases/v9.md
  docs/docs/hi/releases/v9.md
  docs/docs/id/releases/v9.md
  docs/docs/it/releases/v9.md
  docs/docs/ja/releases/v9.md
  docs/docs/ko/releases/v9.md
  docs/docs/pl/releases/v9.md
  docs/docs/pt/releases/v9.md
  docs/docs/ru/releases/v9.md
  docs/docs/tr/releases/v9.md
  docs/docs/uk/releases/v9.md
  docs/docs/vi/releases/v9.md
  docs/docs/zh/releases/v9.md
  docs/tsconfig.types.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(@intlayer/api): move createEndpoint imports to top of files
  docs/docs/en/intlayer_CMS.md
  packages/@intlayer/api/package.json
  packages/@intlayer/api/src/cms/createAuthManager.ts
  packages/@intlayer/api/src/cms/createIntlayerCMS.test.ts
  packages/@intlayer/api/src/cms/createIntlayerCMS.ts
  packages/@intlayer/api/src/cms/index.ts
  packages/@intlayer/api/src/distantDictionary/fetchDistantDictionaries.ts
  packages/@intlayer/api/src/distantDictionary/fetchDistantDictionary.ts
  packages/@intlayer/api/src/getIntlayerAPI/ai.ts
  packages/@intlayer/api/src/getIntlayerAPI/asset.ts
  packages/@intlayer/api/src/getIntlayerAPI/audit.ts
  packages/@intlayer/api/src/getIntlayerAPI/bitbucket.ts
  packages/@intlayer/api/src/getIntlayerAPI/dictionary.ts
  packages/@intlayer/api/src/getIntlayerAPI/editor.ts
  packages/@intlayer/api/src/getIntlayerAPI/environment.ts
  packages/@intlayer/api/src/getIntlayerAPI/github.ts
  packages/@intlayer/api/src/getIntlayerAPI/gitlab.ts
  packages/@intlayer/api/src/getIntlayerAPI/newsletter.ts
  packages/@intlayer/api/src/getIntlayerAPI/organization.ts
  packages/@intlayer/api/src/getIntlayerAPI/project.ts
  packages/@intlayer/api/src/getIntlayerAPI/reviewer.ts
  packages/@intlayer/api/src/getIntlayerAPI/search.ts
  packages/@intlayer/api/src/getIntlayerAPI/showcaseProject.ts
  packages/@intlayer/api/src/getIntlayerAPI/stripe.ts
  packages/@intlayer/api/src/getIntlayerAPI/tag.ts
  packages/@intlayer/api/src/getIntlayerAPI/translate.ts
  packages/@intlayer/api/src/getIntlayerAPI/user.ts
  packages/@intlayer/api/src/index.ts
  packages/@intlayer/api/src/proxy.ts
  packages/@intlayer/chokidar/src/fetchDistantDictionaries.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadRemoteDictionaries.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: add note for @intlayer/api release in intlayer v9 doc
  docs/docs/ar/releases/v9.md
  docs/docs/de/releases/v9.md
  docs/docs/en-GB/releases/v9.md
  docs/docs/en/releases/v9.md
  docs/docs/es/releases/v9.md
  docs/docs/fr/releases/v9.md
  docs/docs/hi/releases/v9.md
  docs/docs/id/releases/v9.md
  docs/docs/it/releases/v9.md
  docs/docs/ja/releases/v9.md
  docs/docs/ko/releases/v9.md
  docs/docs/pl/releases/v9.md
  docs/docs/pt/releases/v9.md
  docs/docs/ru/releases/v9.md
  docs/docs/tr/releases/v9.md
  docs/docs/uk/releases/v9.md
  docs/docs/vi/releases/v9.md
  docs/docs/zh/releases/v9.md
Due: prettier --write

chore(website): update disavow list with additional spam domains
  apps/website/public/disavow.txt
Due: none

chore(website): add additional spam domains to disavow list
  apps/website/public/disavow.txt
Due: none

style(app): add border and neutral color to password reset container
  apps/app/src/routes/{-$locale}/_other/auth/password/ask-reset.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add single-image Docker self-hosting support with s6-overlay supervision
  .github/workflows/selfhost-container-release.yaml
  docker/selfhost/Dockerfile
  docker/selfhost/README.md
  docker/selfhost/rootfs/etc/s6-overlay/s6-rc.d/app/run
  docker/selfhost/rootfs/etc/s6-overlay/s6-rc.d/app/type
  docker/selfhost/rootfs/etc/s6-overlay/s6-rc.d/backend/run
  docker/selfhost/rootfs/etc/s6-overlay/s6-rc.d/backend/type
  docker/selfhost/rootfs/etc/s6-overlay/s6-rc.d/init-minio/type
  docker/selfhost/rootfs/etc/s6-overlay/s6-rc.d/init-minio/up
  docker/selfhost/rootfs/etc/s6-overlay/s6-rc.d/init-mongo/type
  docker/selfhost/rootfs/etc/s6-overlay/s6-rc.d/init-mongo/up
  docker/selfhost/rootfs/etc/s6-overlay/s6-rc.d/minio/run
  docker/selfhost/rootfs/etc/s6-overlay/s6-rc.d/minio/type
  docker/selfhost/rootfs/etc/s6-overlay/s6-rc.d/mongod/run
  docker/selfhost/rootfs/etc/s6-overlay/s6-rc.d/mongod/type
  docker/selfhost/rootfs/etc/s6-overlay/s6-rc.d/redis/run
  docker/selfhost/rootfs/etc/s6-overlay/s6-rc.d/redis/type
  docker/selfhost/rootfs/etc/s6-overlay/scripts/init-minio.sh
  docker/selfhost/rootfs/etc/s6-overlay/scripts/init-mongo.sh
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add unzip to Dockerfile and make Docker Hub registry push optional in release workflow
  .github/workflows/selfhost-container-release.yaml
  docker/selfhost/Dockerfile
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(react-native-intlayer): fix document.createElement is not a function error on web
  packages/react-native-intlayer/src/intlayerPolyfill.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update publish workflows
  .github/workflows/selfhost-container-release.yaml
  .github/workflows/tauri-app-release.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
