Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

chore(vscode-extension): add .env template for marketplace publication tokens
  apps/vscode-extension/.env.template
Due: none

fix(docs): update links in Chinese documentation to point to the correct paths
  .github/workflows/deploy-website-china.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): remove responsive size and margin utility classes from LinkPreviewCard and I18nBenchmark
  apps/website/src/components/DocPage/LinkPreviewCard/LinkPreviewCard.tsx
  apps/website/src/components/I18nBenchmark/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: remove hook links from Next.js 16 documentation and update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/how_works_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_CMS.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_16.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/vs_code_extension.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/frequent_questions/en/build_dictionaries.json
  docs/docs/ar/intlayer_with_nextjs_16.md
  docs/docs/de/intlayer_with_nextjs_16.md
  docs/docs/en-GB/intlayer_with_nextjs_16.md
  docs/docs/en/intlayer_with_nextjs_16.md
  docs/docs/es/intlayer_with_nextjs_16.md
  docs/docs/fr/intlayer_with_nextjs_16.md
  docs/docs/hi/intlayer_with_nextjs_16.md
  docs/docs/id/intlayer_with_nextjs_16.md
  docs/docs/it/intlayer_with_nextjs_16.md
  docs/docs/ja/intlayer_with_nextjs_16.md
  docs/docs/ko/intlayer_with_nextjs_16.md
  docs/docs/pl/intlayer_with_nextjs_16.md
  docs/docs/pt/intlayer_with_nextjs_16.md
  docs/docs/ru/intlayer_with_nextjs_16.md
  docs/docs/tr/intlayer_with_nextjs_16.md
  docs/docs/uk/intlayer_with_nextjs_16.md
  docs/docs/vi/intlayer_with_nextjs_16.md
  docs/docs/zh/intlayer_with_nextjs_16.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

style(website): restore gradient mask to language section
  apps/app/src/routes/{-$locale}/route.tsx
  packages/@intlayer/design-system/src/components/LanguageBackground/LanguageSection.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(cli): remove evidence from scan command output
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/scan.json
  docs/docs/ar/cli/scan.md
  docs/docs/bn/cli/scan.md
  docs/docs/cs/cli/scan.md
  docs/docs/de/cli/scan.md
  docs/docs/en-GB/cli/scan.md
  docs/docs/en/cli/scan.md
  docs/docs/es/cli/scan.md
  docs/docs/fr/cli/scan.md
  docs/docs/hi/cli/scan.md
  docs/docs/id/cli/scan.md
  docs/docs/it/cli/scan.md
  docs/docs/ja/cli/scan.md
  docs/docs/ko/cli/scan.md
  docs/docs/nl/cli/scan.md
  docs/docs/pl/cli/scan.md
  docs/docs/pt/cli/scan.md
  docs/docs/ru/cli/scan.md
  docs/docs/tr/cli/scan.md
  docs/docs/uk/cli/scan.md
  docs/docs/ur/cli/scan.md
  docs/docs/vi/cli/scan.md
  docs/docs/zh/cli/scan.md
  packages/@intlayer/cli/src/scan.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

ci: enable automatic deployments on push to main for website
  .github/workflows/deploy-website-china.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): replace motion with m for framer-motion components
  apps/website/src/components/CMSLandingPage/FinalCTASection.tsx
  apps/website/src/components/I18nBenchmark/index.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/index.tsx
  apps/website/src/components/LandingPage/FeaturesSection/MultilingualSection/index.tsx
  apps/website/src/components/LandingPage/FeaturesSection/index.tsx
  apps/website/src/components/LandingPage/HeroSection/BlurInText.tsx
  apps/website/src/components/MarkdownLandingPage/HeroSection.tsx
  apps/website/src/components/TranslationLandingPage/CommandsSection.tsx
  apps/website/src/components/TranslationLandingPage/HeroSection.tsx
  apps/website/src/components/TranslationLandingPage/HowItWorksSection.tsx
  apps/website/src/components/TranslationLandingPage/KeyPointsSection.tsx
  apps/website/src/components/TranslationLandingPage/LocalVsServerSection.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryCreationForm/DictionaryCreationForm.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryDetails/DictionaryDetailsForm.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

perf(engine): optimize prepare intlayer time
  apps/website/intlayer.config.ts
  docs/src/common.ts
  docs/src/generated/blog.entry.ts
  docs/src/generated/docs.entry.ts
  docs/src/generated/frequentQuestions.entry.ts
  docs/src/generated/legal.entry.ts
  docs/src/readMarkdownHead.test.ts
  docs/src/readMarkdownHead.ts
  docs/tools/generateEntry.ts
  docs/vitest.config.ts
  packages/@intlayer/api/src/cms/createAuthManager.ts
  packages/@intlayer/api/src/cms/createIntlayerCMS.test.ts
  packages/@intlayer/cli/package.json
  packages/@intlayer/cli/src/build.ts
  packages/@intlayer/config/src/configFile/getConfiguration.ts
  packages/@intlayer/config/src/loadExternalFile/transpileTSToCJS.test.ts
  packages/@intlayer/config/src/loadExternalFile/transpileTSToCJS.ts
  packages/@intlayer/core/src/localization/rewriteMatch.test.ts
  packages/@intlayer/core/src/localization/rewriteMatch.ts
  packages/@intlayer/core/src/transpiler/markdown/getMarkdownMetadata.test.ts
  packages/@intlayer/core/src/transpiler/markdown/getMarkdownMetadata.ts
  packages/@intlayer/engine/src/loadDictionaries/loadContentDeclaration.ts
  packages/@intlayer/engine/src/loadDictionaries/loadDictionaries.ts
  packages/@intlayer/engine/src/loadDictionaries/loadRemoteDictionaries.ts
  packages/@intlayer/engine/src/loadDictionaries/remoteDictionaryClient.ts
  packages/@intlayer/engine/src/watcher.ts
  packages/intlayer-cli/src/index.ts
  packages/intlayer/src/cli/script.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(publish): enhance publish process with retry logic and verification script
  .github/workflows/publish.yaml
  package.json
  scripts/verify-published-packages.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: update Next.js and related dependencies to version 16.3.6 across examples
  .github/workflows/deploy-chrome-extension.yaml
  bun.lock
  docs/tools/generateEntry.ts
  examples/compat-next-i18next/package.json
  examples/compat-next-intl/package.json
  examples/next-no-lolale-path/package.json
  examples/nextjs-16-app/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website): integrate structured data for GitHub commits and npm downloads, enhance benchmark reporting
  apps/website/src/components/DocPage/RepositoryComparison/GithubCommitsComparison.tsx
  apps/website/src/components/DocPage/RepositoryComparison/NpmDownloadsComparison.tsx
  apps/website/src/components/DocPage/RepositoryComparison/repositoryComparison.content.ts
  apps/website/src/components/I18nBenchmark/benchmarkData.ts
  apps/website/src/components/I18nBenchmark/index.tsx
  apps/website/src/serverFunctions/repositoryStats.ts
  packages/@intlayer/design-system/src/structured-data/buildDatasetJsonLd.ts
  packages/@intlayer/design-system/src/structured-data/index.ts
  packages/@intlayer/design-system/src/structured-data/structuredData.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(disavow): add new domains to disavow list
  apps/website/public/disavow.txt
Due: none

fix(website): adjust I18n Benchmark component
  apps/website/src/components/I18nBenchmark/AdaptiveSwitchSelector.tsx
  apps/website/src/components/I18nBenchmark/FrameworkSelector.tsx
  apps/website/src/components/I18nBenchmark/index.content.ts
  apps/website/src/components/I18nBenchmark/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add select content functionality across multiple languages and update documentation
  .agents/skills/intlayer-content/SKILL.md
  .agents/skills/intlayer-content/references/concept_content_plural.md
  .agents/skills/intlayer-content/references/concept_content_select.md
  docs/docs/ar/dictionary/content_file.md
  docs/docs/de/dictionary/content_file.md
  docs/docs/en-GB/dictionary/content_file.md
  docs/docs/en/dictionary/content_file.md
  docs/docs/es/dictionary/content_file.md
  docs/docs/fr/dictionary/content_file.md
  docs/docs/hi/dictionary/content_file.md
  docs/docs/id/dictionary/content_file.md
  docs/docs/it/dictionary/content_file.md
  docs/docs/ja/dictionary/content_file.md
  docs/docs/ko/dictionary/content_file.md
  docs/docs/pl/dictionary/content_file.md
  docs/docs/pt/dictionary/content_file.md
  docs/docs/ru/dictionary/content_file.md
  docs/docs/tr/dictionary/content_file.md
  docs/docs/uk/dictionary/content_file.md
  docs/docs/vi/dictionary/content_file.md
  docs/docs/zh/dictionary/content_file.md
  packages/@intlayer/engine/src/installSkills/skills/content.md
Due: prettier --write

fix(website): add domains to disavow list
  apps/website/public/disavow.txt
Due: none

fix(website): update disavow list with additional domains
  apps/website/public/disavow.txt
Due: none

feat(website): enhance mobile responsiveness by conditionally rendering DemoSection
  apps/website/src/components/LandingPage/FeaturesSection/index.tsx
  apps/website/src/components/LandingPage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): improve lading page layout for tall mobile devices
  apps/website/src/components/I18nBenchmark/index.tsx
  apps/website/src/components/LandingPage/CommonQuestionsSection/CommonQuestions.tsx
  apps/website/src/components/LandingPage/CommonQuestionsSection/CommonQuestionsOld.tsx
  apps/website/src/components/LandingPage/HeroSection/TechLogos.tsx
  apps/website/src/components/LandingPage/HeroSection/hero-section.content.ts
  apps/website/src/components/LandingPage/HeroSection/index.tsx
  apps/website/src/components/LandingPage/ProductsSection/index.tsx
  apps/website/src/components/LandingPage/WhyToChoseIntlayerSection/index.tsx
  apps/website/src/globals.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): remove padding from LibCard component for improved layout
  apps/website/src/components/I18nBenchmark/LibCard.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

perf(website): enhance service worker update mechanism and caching strategy
  apps/app/scripts/generate-sw.ts
  apps/app/src/components/ServiceWorker/useServiceWorker.ts
  apps/app/vite.config.ts
  apps/website/scripts/generate-sw.ts
  apps/website/server/middleware/2.staticServerFnCache.ts
  apps/website/server/staticServerFnCache.test.ts
  apps/website/src/components/ServiceWorker/useServiceWorker.ts
  apps/website/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): remove Cloudflare cache purge scripts and related configurations
  apps/app/package.json
  apps/app/scripts/purge-cloudflare-cache.ts
  apps/app/vite.config.ts
  apps/showcase/package.json
  apps/showcase/scripts/purge-cloudflare-cache.ts
  apps/showcase/vite.config.ts
  apps/website/.env.template
  apps/website/package.json
  apps/website/scripts/purge-cloudflare-cache.ts
  docker/selfhost/Dockerfile
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

perf(hooks): add useAreTransitionsReady hook for managing transition readiness in doc sidebar
  apps/website/src/components/DocPage/NavDrawer.tsx
  packages/@intlayer/design-system/src/hooks/index.ts
  packages/@intlayer/design-system/src/hooks/useAreTransitionsReady.test.tsx
  packages/@intlayer/design-system/src/hooks/useAreTransitionsReady.ts
  packages/@intlayer/design-system/src/hooks/usePersistedStore.test.tsx
  packages/@intlayer/design-system/src/hooks/usePersistedStore.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(design-system): implement description completion for Google Dataset Search compliance
  packages/@intlayer/design-system/src/structured-data/buildDatasetJsonLd.ts
  packages/@intlayer/design-system/src/structured-data/structuredData.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): update useIntlayer calls to destructure specific properties for minification
  apps/app/src/components/AdminTabBar/AdminTabBar.tsx
  apps/app/src/components/AffiliateInvitationPage/index.tsx
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/hooks/useProviderLink.ts
  apps/app/src/components/PricingPage/PricingCarousel.tsx
  apps/app/src/components/PricingPage/data.content.ts
  apps/app/src/hooks/useDemoBootstrap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(engine): add Bundle Optimization skill and related documentation
  packages/@intlayer/engine/src/installSkills/index.test.ts
  packages/@intlayer/engine/src/installSkills/index.ts
  packages/@intlayer/engine/src/installSkills/skills/bundle-optimization.md
  packages/@intlayer/engine/src/installSkills/skills/content.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: add gender content in content_file doc code example
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/content_file.json
  docs/docs/ar/dictionary/content_file.md
  docs/docs/de/dictionary/content_file.md
  docs/docs/en-GB/dictionary/content_file.md
  docs/docs/en/dictionary/content_file.md
  docs/docs/es/dictionary/content_file.md
  docs/docs/fr/dictionary/content_file.md
  docs/docs/hi/dictionary/content_file.md
  docs/docs/id/dictionary/content_file.md
  docs/docs/it/dictionary/content_file.md
  docs/docs/ja/dictionary/content_file.md
  docs/docs/ko/dictionary/content_file.md
  docs/docs/pl/dictionary/content_file.md
  docs/docs/pt/dictionary/content_file.md
  docs/docs/ru/dictionary/content_file.md
  docs/docs/tr/dictionary/content_file.md
  docs/docs/uk/dictionary/content_file.md
  docs/docs/vi/dictionary/content_file.md
  docs/docs/zh/dictionary/content_file.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(babel): add transparent wrapper handling and content root resolution and improve perf
  packages/@intlayer/babel/src/analyzeContentUsage.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-field-rename.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-field-rename.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-purge.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-usage-analyzer.test.ts
  packages/@intlayer/babel/src/staticAstReaders.ts
  packages/@intlayer/babel/src/transformers.test.ts
  packages/@intlayer/babel/src/transformers.ts
  packages/@intlayer/swc/Cargo.lock
  packages/@intlayer/swc/Cargo.toml
  packages/@intlayer/swc/src/field_rename.rs
  packages/@intlayer/swc/src/logger.rs
  packages/@intlayer/swc/src/pre_pass.rs
  packages/@intlayer/swc/src/tests/field_rename_tests.rs
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(engine): update content declaration and bundle-optimization skills
  packages/@intlayer/engine/src/installSkills/skills/bundle-optimization.md
  packages/@intlayer/engine/src/installSkills/skills/usage.md
Due: prettier --write

feat(website): enhance AsideNavigation with chat visibility logic and active link tracking
  apps/website/src/components/DocPage/AsideNavigation/AsideNavigation.tsx
  apps/website/src/components/DocPage/NavTitles/NavTitles.tsx
  packages/@intlayer/design-system/src/components/HeightResizer/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add fallback prop for loading state and improve SSR handling
  apps/website/src/components/DocPage/FrameworkFilter/index.tsx
  packages/@intlayer/design-system/src/components/TechLogo/TechLogo.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): enhance ChartComponent layout with dynamic height and improved tick settings
  apps/website/src/components/I18nBenchmark/ChartComponent.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): enhance styling for documentation components with improved class names and dark mode support
  apps/website/src/components/DocPage/DocumentationRender.tsx
  apps/website/src/components/DocPage/NavTitles/NavTitles.tsx
  apps/website/src/components/DocPage/TOCProgressBar/TOCProgressBar.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): reduce initial hold time and enhance letter fade-in effect in TypewriterTitle component
  apps/website/src/components/LandingPage/HeroSection/TypewriterTitle.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): improve layout of OptionalLink and NavAccordion for better text overflow handling
  apps/website/src/components/DocPage/NavSectionItem.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
