Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(types): fix dictioanry schema type
  examples/vite-react-app/src/user.content.ts
  packages/@intlayer/types/src/dictionary.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update title readme
  README.md
Due: prettier --write

docs: remove generic schema
  .agents/skills/intlayer-content/references/concept_content.md
  docs/docs/ar/dictionary/content_file.md
  docs/docs/ar/releases/v8.md
  docs/docs/de/dictionary/content_file.md
  docs/docs/de/releases/v8.md
  docs/docs/en-GB/dictionary/content_file.md
  docs/docs/en-GB/releases/v8.md
  docs/docs/en/dictionary/content_file.md
  docs/docs/en/releases/v8.md
  docs/docs/es/dictionary/content_file.md
  docs/docs/es/releases/v8.md
  docs/docs/fr/dictionary/content_file.md
  docs/docs/fr/releases/v8.md
  docs/docs/hi/dictionary/content_file.md
  docs/docs/hi/releases/v8.md
  docs/docs/id/dictionary/content_file.md
  docs/docs/id/releases/v8.md
  docs/docs/it/dictionary/content_file.md
  docs/docs/it/releases/v8.md
  docs/docs/ja/dictionary/content_file.md
  docs/docs/ja/releases/v8.md
  docs/docs/ko/dictionary/content_file.md
  docs/docs/ko/releases/v8.md
  docs/docs/pl/dictionary/content_file.md
  docs/docs/pl/releases/v8.md
  docs/docs/pt/dictionary/content_file.md
  docs/docs/pt/releases/v8.md
  docs/docs/ru/dictionary/content_file.md
  docs/docs/ru/releases/v8.md
  docs/docs/tr/dictionary/content_file.md
  docs/docs/tr/releases/v8.md
  docs/docs/uk/dictionary/content_file.md
  docs/docs/uk/releases/v8.md
  docs/docs/vi/dictionary/content_file.md
  docs/docs/vi/releases/v8.md
  docs/docs/zh/dictionary/content_file.md
  docs/docs/zh/releases/v8.md
Due: prettier --write

fix(core): fix getLocalizedPath
  packages/@intlayer/core/src/localization/rewriteUtils.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(next-intlayer): remove log in intlayerProxy
  packages/next-intlayer/src/proxy/intlayerProxy.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

test(core): add test getLocalizedUrl
  packages/@intlayer/core/src/localization/getLocalizedUrl.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): add watch config file and rebuild
  packages/@intlayer/chokidar/src/watcher.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update packages version
  .github/workflows/build_and_test.yaml
  .github/workflows/release.yaml
  CONTRIBUTING.md
  apps/app/Dockerfile
  apps/app/package.json
  apps/backend/Dockerfile
  apps/website/Dockerfile
  apps/website/package.json
  bun.lock
  examples/analog-app/package.json
  examples/astro-react-app/package.json
  examples/next-no-lolale-path/package.json
  examples/nextjs-14-app/package.json
  examples/nextjs-15-app/package.json
  examples/react-app/package.json
  examples/react-router-app/package.json
  examples/react-router-fs-app/package.json
  examples/tanstack-start-app/package.json
  examples/vite-preact-app/package.json
  examples/vite-react-app/package.json
  package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/design-system/Dockerfile
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(app): fix discutions
  apps/app/src/components/ChatBot/index.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminDiscussions/DiscussionsAdminPage.tsx
  apps/backend/src/controllers/ai.controller.ts
  apps/backend/src/schemas/discussion.schema.ts
  apps/backend/src/types/discussion.types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(mcp): refactor platform selection to use constant array
  packages/@intlayer/mcp/src/tools/installSkills.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): fix discussions
  apps/app/src/components/ChatBot/index.tsx
  apps/backend/src/controllers/ai.controller.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(config): page resolution in intlayer.config.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(app): restore Ahrefs
  apps/app/.env.template
  apps/app/src/providers/AppProviders.tsx
  apps/website/.env.template
  apps/website/src/providers/AppProviders.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(vite-vue-app): fix router rewrite
  examples/vite-vue-app/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update package version
  bun.lock
  examples/next-15-next-intl-app/package.json
  examples/next-no-lolale-path/package.json
  examples/nextjs-15-app/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(backend): fix discussionId
  apps/backend/src/utils/mongoDB/connectDB.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: update rss handling
  apps/website/src/app/[locale]/metadata.ts
  apps/website/src/app/feed.xml/route.ts
  apps/website/src/app/posts.json/route.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: fix no-locale-path logic
  examples/next-no-lolale-path/components/LocaleSwitcher/LocaleSwitcher.tsx
  examples/next-no-lolale-path/intlayer.config.ts
  packages/@intlayer/core/src/localization/getBrowserLocale.tsx
  packages/next-intlayer/src/client/useLocale.ts
  packages/next-intlayer/src/proxy/intlayerProxy.ts
  packages/react-intlayer/src/client/useLocale.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: remove onChange on useLocale on doc
  .agents/skills/intlayer-next-js/references/environment_nextjs_no-locale-path.md
  docs/docs/ar/intlayer_with_nextjs_compiler.md
  docs/docs/ar/intlayer_with_nextjs_no_locale_path.md
  docs/docs/de/intlayer_with_nextjs_compiler.md
  docs/docs/de/intlayer_with_nextjs_no_locale_path.md
  docs/docs/en-GB/intlayer_with_nextjs_compiler.md
  docs/docs/en-GB/intlayer_with_nextjs_no_locale_path.md
  docs/docs/en/intlayer_with_nextjs_compiler.md
  docs/docs/en/intlayer_with_nextjs_no_locale_path.md
  docs/docs/es/intlayer_with_nextjs_compiler.md
  docs/docs/es/intlayer_with_nextjs_no_locale_path.md
  docs/docs/fr/intlayer_with_nextjs_compiler.md
  docs/docs/fr/intlayer_with_nextjs_no_locale_path.md
  docs/docs/hi/intlayer_with_nextjs_compiler.md
  docs/docs/hi/intlayer_with_nextjs_no_locale_path.md
  docs/docs/id/intlayer_with_nextjs_compiler.md
  docs/docs/id/intlayer_with_nextjs_no_locale_path.md
  docs/docs/it/intlayer_with_nextjs_compiler.md
  docs/docs/it/intlayer_with_nextjs_no_locale_path.md
  docs/docs/ja/intlayer_with_nextjs_compiler.md
  docs/docs/ja/intlayer_with_nextjs_no_locale_path.md
  docs/docs/ko/intlayer_with_nextjs_compiler.md
  docs/docs/ko/intlayer_with_nextjs_no_locale_path.md
  docs/docs/pl/intlayer_with_nextjs_compiler.md
  docs/docs/pl/intlayer_with_nextjs_no_locale_path.md
  docs/docs/pt/intlayer_with_nextjs_compiler.md
  docs/docs/pt/intlayer_with_nextjs_no_locale_path.md
  docs/docs/ru/intlayer_with_nextjs_compiler.md
  docs/docs/ru/intlayer_with_nextjs_no_locale_path.md
  docs/docs/tr/intlayer_with_nextjs_compiler.md
  docs/docs/tr/intlayer_with_nextjs_no_locale_path.md
  docs/docs/uk/intlayer_with_nextjs_compiler.md
  docs/docs/uk/intlayer_with_nextjs_no_locale_path.md
  docs/docs/vi/intlayer_with_nextjs_compiler.md
  docs/docs/vi/intlayer_with_nextjs_no_locale_path.md
  docs/docs/zh/intlayer_with_nextjs_compiler.md
  docs/docs/zh/intlayer_with_nextjs_no_locale_path.md
Due: prettier --write

feat(design-system): apply 'text-xs' class to Checkbox label when size prop is 'xs'
  packages/@intlayer/design-system/src/components/Input/Checkbox.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(config): fix module resolution in config file
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(config): fix watcher on tanstack
  packages/@intlayer/config/src/defaultValues/content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(design-system): fix errors in design system
  packages/@intlayer/design-system/src/components/Container/index.tsx
  packages/@intlayer/design-system/src/components/Pagination/NumberItemsSelector.tsx
  packages/@intlayer/design-system/src/components/Pagination/ShowingResultsNumberItems.tsx
  packages/@intlayer/design-system/src/components/Popover/static.tsx
  packages/@intlayer/design-system/src/hooks/useScrollBlockage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): fix seo scanner FieldItem layout
  apps/website/src/components/ScannerPage/Analyzer/Results/RobotsSection.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/SitemapSection.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(next-intlayer): fix wrong url
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: remove wrong content in agent skill doc
  docs/docs/ar/agent_skills.md
  docs/docs/de/agent_skills.md
  docs/docs/en-GB/agent_skills.md
  docs/docs/en/agent_skills.md
  docs/docs/es/agent_skills.md
  docs/docs/fr/agent_skills.md
  docs/docs/hi/agent_skills.md
  docs/docs/id/agent_skills.md
  docs/docs/it/agent_skills.md
  docs/docs/ja/agent_skills.md
  docs/docs/ko/agent_skills.md
  docs/docs/pl/agent_skills.md
  docs/docs/pt/agent_skills.md
  docs/docs/ru/agent_skills.md
  docs/docs/tr/agent_skills.md
  docs/docs/uk/agent_skills.md
  docs/docs/vi/agent_skills.md
  docs/docs/zh/agent_skills.md
Due: prettier --write

refactor(cli): update skills
  packages/@intlayer/chokidar/src/installSkills/index.ts
  packages/@intlayer/cli/src/initSkills.ts
  packages/@intlayer/mcp/src/tools/installSkills.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar): fix watcher log and duplication
  packages/@intlayer/chokidar/src/watcher.ts
  packages/@intlayer/cli/src/watch.ts
  packages/vite-intlayer/src/IntlayerCompilerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(vite-intlayer): update configureServer to watch only in development mode
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(api): fix proxy
  packages/@intlayer/api/src/proxy.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: rework fill dictionary
  bun.lock
  examples/json-sync/intlayer.config.ts
  examples/json-sync/locales/es/large-json.json
  examples/json-sync/locales/fr/large-json.json
  examples/json-sync/locales/zh/about.json
  examples/json-sync/locales/zh/common.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/ai/src/translateJSON/index.ts
  packages/@intlayer/cli/src/utils/checkAccess.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add debug log for env var and config file
  packages/@intlayer/chokidar/src/loadDictionaries/log.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/config/src/configFile/getConfiguration.ts
  packages/@intlayer/config/src/loadEnvFile.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
