Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(config): optimize logger
  packages/@intlayer/config/src/logger.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(core): optimize splitInsertionTemplate
  packages/@intlayer/core/src/interpreter/splitAndJoinInsertion.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(core): update intl
  packages/@intlayer/core/src/utils/intl.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(config): remove getStorageAttributes from core
  packages/@intlayer/config/src/utils/getStorageAttributes.test.ts
  packages/@intlayer/core/src/getStorageAttributes.ts
  packages/@intlayer/core/src/localization/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(core): fix intl
  packages/@intlayer/core/src/formatters/list.ts
  packages/@intlayer/core/src/formatters/number.ts
  packages/@intlayer/core/src/formatters/percentage.ts
  packages/@intlayer/core/src/utils/intl.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: optimize html
  packages/@intlayer/core/src/transpiler/html/getHTMLCustomComponents.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(core): update html in framework
  packages/lit-intlayer/src/html/types.ts
  packages/lit-intlayer/src/plugins.ts
  packages/preact-intlayer/src/html/HTMLRenderer.tsx
  packages/preact-intlayer/src/plugins.tsx
  packages/react-intlayer/src/html/HTMLRenderer.tsx
  packages/react-intlayer/src/html/HTMLRendererPlugin.tsx
  packages/react-intlayer/src/plugins.tsx
  packages/solid-intlayer/src/html/HTMLRenderer.tsx
  packages/solid-intlayer/src/plugins.tsx
  packages/svelte-intlayer/src/html/index.ts
  packages/svelte-intlayer/src/plugins.ts
  packages/vanilla-intlayer/src/plugins.ts
  packages/vue-intlayer/src/html/HTMLRenderer.ts
  packages/vue-intlayer/src/plugins.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(vite-intlayer): remove mergeConfig
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: rework vite app example to test and fix framework packages
  bun.lock
  examples/vite-lit-app/src/benchmark.content.ts
  examples/vite-lit-app/src/custom-component.ts
  examples/vite-lit-app/src/main.ts
  examples/vite-lit-app/src/my-element.ts
  examples/vite-preact-app/src/app.content.tsx
  examples/vite-preact-app/src/app.tsx
  examples/vite-preact-app/src/benchmark.content.ts
  examples/vite-preact-app/tsconfig.tsbuildinfo
  examples/vite-react-app/src/App.tsx
  examples/vite-react-app/src/app.content.tsx
  examples/vite-react-app/src/benchmark.content.ts
  examples/vite-solid-app/intlayer.config.ts
  examples/vite-solid-app/src/App.tsx
  examples/vite-solid-app/src/app.content.ts
  examples/vite-solid-app/src/benchmark.content.ts
  examples/vite-svelte-app/src/App.svelte
  examples/vite-svelte-app/src/app.content.ts
  examples/vite-svelte-app/src/benchmark.content.ts
  examples/vite-vanilla-app/src/app.content.ts
  examples/vite-vanilla-app/src/benchmark.content.ts
  examples/vite-vanilla-app/src/main.ts
  examples/vite-vue-app/compiler/comp-home-view.content.json
  examples/vite-vue-app/compiler/comp-test.content.json
  examples/vite-vue-app/compiler/comp-test2.content.json
  examples/vite-vue-app/intlayer.config.ts
  examples/vite-vue-app/public/vue.svg
  examples/vite-vue-app/src/app.content.ts
  examples/vite-vue-app/src/benchmark.content.ts
  examples/vite-vue-app/src/components/example.content.ts
  examples/vite-vue-app/src/views/home/HomeView.vue
  examples/vite-vue-app/src/views/home/home.content.ts
  examples/vite-vue-app/src/views/root/root.content.ts
  packages/@intlayer/config/src/logger.ts
  packages/@intlayer/core/src/localization/getLocale.test.ts
  packages/lit-intlayer/src/plugins.ts
  packages/lit-intlayer/src/renderIntlayerNode.ts
  packages/preact-intlayer/src/IntlayerNode.test.tsx
  packages/react-intlayer/src/IntlayerNode.test.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add support lit and angular in compiler
  packages/@intlayer/babel/src/babel-plugin-intlayer-extract.test.ts
  packages/@intlayer/babel/src/extractContent/processTsxFile.ts
  packages/@intlayer/babel/src/extractContent/utils/constants.ts
  packages/@intlayer/svelte-compiler/src/svelte-intlayer-extract.test.ts
  packages/@intlayer/vue-compiler/src/vue-intlayer-extract.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(apps): move tech icons in design system
  apps/app/src/components/Auth/ExternalsLoginButtons/ExternalsLoginButtons.tsx
  apps/app/src/components/Dashboard/DashboardFooter/index.tsx
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/ProviderSelector.tsx
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/RepositoryItem.tsx
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/index.tsx
  apps/app/src/components/Navbar/index.tsx
  apps/app/src/components/logos/GithubLogo.tsx
  apps/showcase/src/components/Navbar/index.tsx
  apps/showcase/src/components/ProjectFocus/ProjectReadme.tsx
  apps/showcase/src/components/logo/GithubLogo.tsx
  apps/website/src/components/DocPage/ApplicationTemplateMessage/GithubLogo.tsx
  apps/website/src/components/DocPage/ApplicationTemplateMessage/index.tsx
  apps/website/src/components/Navbar/index.tsx
  packages/@intlayer/design-system/src/components/SocialNetworks/BitbucketLogo.tsx
  packages/@intlayer/design-system/src/components/SocialNetworks/GitHubLogo.tsx
  packages/@intlayer/design-system/src/components/SocialNetworks/GitLabLogo.tsx
  packages/@intlayer/design-system/src/components/SocialNetworks/GoogleLogo.tsx
  packages/@intlayer/design-system/src/components/SocialNetworks/LinkedInLogo.tsx
  packages/@intlayer/design-system/src/components/SocialNetworks/index.tsx
  packages/@intlayer/design-system/src/components/TechLogo/TechLogo.tsx
  packages/@intlayer/design-system/src/components/TechLogo/logos/Bitbucket.tsx
  packages/@intlayer/design-system/src/components/TechLogo/logos/GitHub.tsx
  packages/@intlayer/design-system/src/components/TechLogo/logos/GitLab.tsx
  packages/@intlayer/design-system/src/components/TechLogo/logos/Google.tsx
  packages/@intlayer/design-system/src/components/TechLogo/logos/LinkedIn.tsx
  packages/@intlayer/design-system/src/components/TechLogo/techLogos.ts
  packages/@intlayer/design-system/src/components/TechLogo/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): update Compiler and IDE section multi framwork
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/content/component-angular.md
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/content/component-lit.md
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/content/component-preact.md
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/content/component-solid.md
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/content/component-svelte.md
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/content/component-vanilla.md
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/content/component-vue.md
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/index.tsx
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/component-angular.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/component-lit.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/component-preact.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/component-solid.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/component-svelte.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/component-vanilla.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/component-vue.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/index.tsx
  apps/website/src/components/LandingPage/FeaturesSection/VisualEditorSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: update feature section
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/content/component-react.md
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/index.tsx
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/component-next-client.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/component-next-server.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/component-react.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add svelte ide highlighting
  packages/@intlayer/design-system/src/components/IDE/CodeBlockShiki.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): fix file list in ide section
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): adjust components IDE section
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/component-lit.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/component-next-client.md
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/content/component-vue.md
Due: prettier --write

fix(svelte-intlayer): fix deprecated svelte component syntax
  docs/docs/ar/intlayer_with_svelte_kit.md
  docs/docs/ar/intlayer_with_vite+svelte.md
  docs/docs/de/intlayer_with_svelte_kit.md
  docs/docs/de/intlayer_with_vite+svelte.md
  docs/docs/en-GB/intlayer_with_svelte_kit.md
  docs/docs/en-GB/intlayer_with_vite+svelte.md
  docs/docs/en/intlayer_with_svelte_kit.md
  docs/docs/en/intlayer_with_vite+svelte.md
  docs/docs/es/intlayer_with_svelte_kit.md
  docs/docs/es/intlayer_with_vite+svelte.md
  docs/docs/fr/intlayer_with_svelte_kit.md
  docs/docs/fr/intlayer_with_vite+svelte.md
  docs/docs/hi/intlayer_with_svelte_kit.md
  docs/docs/hi/intlayer_with_vite+svelte.md
  docs/docs/id/intlayer_with_svelte_kit.md
  docs/docs/id/intlayer_with_vite+svelte.md
  docs/docs/it/intlayer_with_svelte_kit.md
  docs/docs/it/intlayer_with_vite+svelte.md
  docs/docs/ja/intlayer_with_vite+svelte.md
  docs/docs/ko/intlayer_with_svelte_kit.md
  docs/docs/ko/intlayer_with_vite+svelte.md
  docs/docs/pl/intlayer_with_svelte_kit.md
  docs/docs/pl/intlayer_with_vite+svelte.md
  docs/docs/pt/intlayer_with_svelte_kit.md
  docs/docs/pt/intlayer_with_vite+svelte.md
  docs/docs/ru/intlayer_with_svelte_kit.md
  docs/docs/ru/intlayer_with_vite+svelte.md
  docs/docs/tr/intlayer_with_svelte_kit.md
  docs/docs/tr/intlayer_with_vite+svelte.md
  docs/docs/uk/intlayer_with_svelte_kit.md
  docs/docs/uk/intlayer_with_vite+svelte.md
  docs/docs/vi/intlayer_with_svelte_kit.md
  docs/docs/vi/intlayer_with_vite+svelte.md
  docs/docs/zh/intlayer_with_svelte_kit.md
  docs/docs/zh/intlayer_with_vite+svelte.md
  examples/vite-svelte-app/src/App.svelte
  packages/svelte-intlayer/src/IntlayerNodeWrapper.svelte
Due: prettier --write

feat: comment out posthog for performance
  apps/website/src/instrumentation-client.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(frameworks): remove isEnable to render selector in plugin because of SSR
  packages/angular-intlayer/src/plugins.ts
  packages/lit-intlayer/src/plugins.ts
  packages/preact-intlayer/src/plugins.tsx
  packages/react-intlayer/src/plugins.tsx
  packages/solid-intlayer/src/plugins.tsx
  packages/svelte-intlayer/src/plugins.ts
  packages/vanilla-intlayer/src/plugins.ts
  packages/vanilla-intlayer/src/renderIntlayerNode.ts
  packages/vue-intlayer/src/plugins.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add var list in config file template
  packages/@intlayer/chokidar/src/initConfig/templates/cjs.txt
  packages/@intlayer/chokidar/src/initConfig/templates/json.txt
  packages/@intlayer/chokidar/src/initConfig/templates/mjs.txt
  packages/@intlayer/chokidar/src/initConfig/templates/ts.txt
Due: none

feat(website): update IDE and Compiler section
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/index.tsx
  apps/website/src/components/LandingPage/FeaturesSection/FrameworkContext.tsx
  apps/website/src/components/LandingPage/FeaturesSection/FrameworkSelector.tsx
  apps/website/src/components/LandingPage/FeaturesSection/IDESection/index.tsx
  apps/website/src/components/LandingPage/FeaturesSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(core): add sitemap generator
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_tanstack+solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_tanstack.json
  apps/showcase/src/routes/sitemap[.]xml.ts
  docs/docs/de/intlayer_with_tanstack+solid.md
  docs/docs/de/intlayer_with_tanstack.md
  docs/docs/en-GB/intlayer_with_tanstack+solid.md
  docs/docs/en-GB/intlayer_with_tanstack.md
  docs/docs/en/intlayer_with_tanstack+solid.md
  docs/docs/en/intlayer_with_tanstack.md
  docs/docs/es/intlayer_with_tanstack+solid.md
  docs/docs/es/intlayer_with_tanstack.md
  docs/docs/fr/intlayer_with_tanstack+solid.md
  docs/docs/fr/intlayer_with_tanstack.md
  docs/docs/it/intlayer_with_tanstack+solid.md
  docs/docs/it/intlayer_with_tanstack.md
  docs/docs/ja/intlayer_with_tanstack+solid.md
  docs/docs/ja/intlayer_with_tanstack.md
  docs/docs/ko/intlayer_with_tanstack+solid.md
  docs/docs/ko/intlayer_with_tanstack.md
  docs/docs/pt/intlayer_with_tanstack+solid.md
  docs/docs/pt/intlayer_with_tanstack.md
  docs/docs/ru/intlayer_with_tanstack+solid.md
  docs/docs/ru/intlayer_with_tanstack.md
  docs/docs/zh/intlayer_with_tanstack+solid.md
  docs/docs/zh/intlayer_with_tanstack.md
  docs/package.json
  examples/tanstack-start-app/src/routes/sitemap[.]xml.ts
  examples/tanstack-start-solid-app/src/routes/sitemap[.]xml.ts
  examples/vite-react-app/intlayer.config.ts
  packages/@intlayer/core/src/localization/generateSitemap.ts
  packages/@intlayer/core/src/localization/index.ts
  packages/intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website): update links
  apps/app/src/components/Link/Link.tsx
  apps/doc/src/components/Link/index.tsx
  apps/showcase/src/components/Link.tsx
  apps/website/src/components/LandingPage/AvailableTechnoSection/index.tsx
  apps/website/src/components/Link/Link.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(core): filter unused plugins
  packages/@intlayer/chokidar/src/utils/getUsedNodeTypes.ts
  packages/@intlayer/chokidar/src/utils/index.ts
  packages/@intlayer/core/src/interpreter/getContent/getContent.ts
  packages/@intlayer/webpack/src/webpack-plugin.ts
  packages/lynx-intlayer/src/plugin/pluginIntlayerLynx.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/react-intlayer/src/plugins.tsx
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add change tag script
  scripts/change-tag.sh
Due: none

fix(webpack): fix webpack package
  bun.lock
  packages/@intlayer/webpack/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: implement env var filtering for all frameworks
  packages/angular-intlayer/src/plugins.ts
  packages/lit-intlayer/src/plugins.ts
  packages/preact-intlayer/src/plugins.tsx
  packages/react-intlayer/src/plugins.tsx
  packages/solid-intlayer/src/plugins.tsx
  packages/svelte-intlayer/src/plugins.ts
  packages/vanilla-intlayer/src/plugins.ts
  packages/vue-intlayer/src/plugins.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(vite-react-app): fix render markdown function
  examples/vite-react-app/src/Router.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(vite-intlayer): fix tree-shaking plugins
  bun.lock
  examples/vite-preact-app/intlayer.config.ts
  examples/vite-preact-app/vite.config.ts
  examples/vite-solid-app/tsconfig.tsbuildinfo
  packages/@intlayer/chokidar/src/utils/getUsedNodeTypes.ts
  packages/@intlayer/core/src/interpreter/getContent/getContent.ts
  packages/@intlayer/core/src/interpreter/getContent/plugins.ts
  packages/@intlayer/editor/src/isEnabled.ts
  packages/@intlayer/types/src/nodeType.ts
  packages/@intlayer/webpack/src/webpack-plugin.ts
  packages/angular-intlayer/src/plugins.ts
  packages/lit-intlayer/src/plugins.ts
  packages/lynx-intlayer/package.json
  packages/lynx-intlayer/src/plugin/pluginIntlayerLynx.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/preact-intlayer/src/plugins.tsx
  packages/react-intlayer/src/plugins.tsx
  packages/solid-intlayer/src/plugins.tsx
  packages/svelte-intlayer/src/plugins.ts
  packages/vanilla-intlayer/src/plugins.ts
  packages/vite-intlayer/src/intlayerEditorPlugin.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
  packages/vue-intlayer/src/plugins.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(next-intlayer): fix build optimization log
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(next-intlayer): fix withIntlayer INTLAYER_EDITOR_ENABLED
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar): fix formatter
  packages/@intlayer/chokidar/src/utils/formatter.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
