Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

chore: make work angular example apps
  bun.lock
  examples/angular-19-app/package.json
  examples/angular-19-app/src/app/app.component.html
  examples/angular-19-app/tsconfig.json
  examples/angular-21-app/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(react-native-intlayer): fix issues with expo
  packages/react-native-intlayer/src/configMetroIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add mention to move out .content files of /app for web react-native
  docs/docs/ar/intlayer_with_react_native+expo.md
  docs/docs/de/intlayer_with_react_native+expo.md
  docs/docs/en-GB/intlayer_with_react_native+expo.md
  docs/docs/en/intlayer_with_react_native+expo.md
  docs/docs/es/intlayer_with_react_native+expo.md
  docs/docs/fr/intlayer_with_react_native+expo.md
  docs/docs/hi/intlayer_with_react_native+expo.md
  docs/docs/id/intlayer_with_react_native+expo.md
  docs/docs/it/intlayer_with_react_native+expo.md
  docs/docs/ja/intlayer_with_react_native+expo.md
  docs/docs/ko/intlayer_with_react_native+expo.md
  docs/docs/pl/intlayer_with_react_native+expo.md
  docs/docs/pt/intlayer_with_react_native+expo.md
  docs/docs/ru/intlayer_with_react_native+expo.md
  docs/docs/tr/intlayer_with_react_native+expo.md
  docs/docs/uk/intlayer_with_react_native+expo.md
  docs/docs/vi/intlayer_with_react_native+expo.md
  docs/docs/zh/CI_CD.md
  docs/docs/zh/intlayer_with_react_native+expo.md
Due: prettier --write

fix(webpack): fix env var for angular 19
  packages/@intlayer/webpack/src/webpack-plugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(react-native-intlayer): remove unused exclusionList utility from metro configuration
  packages/react-native-intlayer/src/configMetroIntlayer.ts
  packages/react-native-intlayer/src/exclusionList.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): add support for configuring routing mode and enabling visual editor via Intlayer CLI initialization
  packages/@intlayer/chokidar/src/cli.ts
  packages/@intlayer/chokidar/src/init/cms.test.ts
  packages/@intlayer/chokidar/src/init/cms.ts
  packages/@intlayer/chokidar/src/init/index.ts
  packages/@intlayer/chokidar/src/init/utils/configManipulation.test.ts
  packages/@intlayer/chokidar/src/init/utils/configManipulation.ts
  packages/@intlayer/cli/src/auth/login.ts
  packages/@intlayer/cli/src/init.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update package version
  .claude-plugin/marketplace.json
  apps/backend/package.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_react_native+expo.json
  apps/showcase/package_mock.json
  apps/website-tanstack/package.json
  apps/website-tanstack/package_mock.json
  bun.lock
  compat-comming/i18n-js/package.json
  compat-comming/ngx-translate/package.json
  compat-comming/nuxtjs-i18n/package.json
  compat/next-i18next/package.json
  compat/react-i18next/package.json
  compat/vue-i18n/package.json
  docs/package.json
  package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/types/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/angular-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  plugins/sync-json-plugin/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(chokidar): add support for React Native and Expo projects by injecting Metro configuration
  packages/@intlayer/chokidar/src/init/index.ts
  packages/@intlayer/chokidar/src/init/utils/configManipulation.test.ts
  packages/@intlayer/chokidar/src/init/utils/configManipulation.ts
  packages/@intlayer/chokidar/src/init/utils/packageManager.test.ts
  packages/@intlayer/chokidar/src/init/utils/packageManager.ts
  packages/@intlayer/cli/src/init.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update disavow list
  apps/website/public/disavow.txt
Due: none

fix(react-native-intlayer): deduplicate react-intlayer instances in Metro and add in-memory browser API polyfills for React Native
  packages/react-native-intlayer/package.json
  packages/react-native-intlayer/src/configMetroIntlayer.ts
  packages/react-native-intlayer/src/intlayerPolyfill.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump project version to 9.0.0-canary.6
  .claude-plugin/marketplace.json
  apps/backend/package.json
  apps/showcase/package_mock.json
  apps/website-tanstack/package.json
  apps/website-tanstack/package_mock.json
  bun.lock
  compat-comming/i18n-js/package.json
  compat-comming/ngx-translate/package.json
  compat-comming/nuxtjs-i18n/package.json
  compat/next-i18next/package.json
  compat/react-i18next/package.json
  compat/vue-i18n/package.json
  docs/package.json
  package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/types/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/angular-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  plugins/sync-json-plugin/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(backend): regenerate AI embedding files for documentation updates
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_react_native+expo.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/react-native-intlayer/exports.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add React Native single-package import guide and update release documentation metadata
  docs/docs/ar/releases/v9.md
  docs/docs/de/releases/v9.md
  docs/docs/en-GB/releases/v9.md
  docs/docs/en/releases/v9.md
  docs/docs/es/releases/v9.md
  docs/docs/fr/releases/v9.md
  docs/docs/hi/releases/v9.md
  docs/docs/id/releases/v9.md
  docs/docs/it/releases/v9.md
  docs/docs/ja/releases/v9.md
  docs/docs/ko/releases/v9.md
  docs/docs/pl/releases/v9.md
  docs/docs/pt/releases/v9.md
  docs/docs/ru/releases/v9.md
  docs/docs/tr/releases/v9.md
  docs/docs/uk/releases/v9.md
  docs/docs/vi/releases/v9.md
  docs/docs/zh/releases/v9.md
Due: prettier --write

docs: update content declaration file extensions list in documentation and skills references
  .agents/skills/intlayer-react/references/environment_lynx-and-react.md
  .agents/skills/intlayer-react/references/environment_react-native-and-expo.md
  docs/docs/ar/intlayer_with_lynx+react.md
  docs/docs/ar/intlayer_with_react_native+expo.md
  docs/docs/de/intlayer_with_lynx+react.md
  docs/docs/de/intlayer_with_react_native+expo.md
  docs/docs/en-GB/intlayer_with_lynx+react.md
  docs/docs/en-GB/intlayer_with_react_native+expo.md
  docs/docs/en/intlayer_with_lynx+react.md
  docs/docs/en/intlayer_with_react_native+expo.md
  docs/docs/es/intlayer_with_lynx+react.md
  docs/docs/es/intlayer_with_react_native+expo.md
  docs/docs/fr/intlayer_with_lynx+react.md
  docs/docs/fr/intlayer_with_react_native+expo.md
  docs/docs/hi/intlayer_with_lynx+react.md
  docs/docs/hi/intlayer_with_react_native+expo.md
  docs/docs/id/intlayer_with_lynx+react.md
  docs/docs/id/intlayer_with_react_native+expo.md
  docs/docs/it/intlayer_with_lynx+react.md
  docs/docs/it/intlayer_with_react_native+expo.md
  docs/docs/ja/intlayer_with_lynx+react.md
  docs/docs/ja/intlayer_with_react_native+expo.md
  docs/docs/ko/intlayer_with_lynx+react.md
  docs/docs/ko/intlayer_with_react_native+expo.md
  docs/docs/pl/intlayer_with_lynx+react.md
  docs/docs/pl/intlayer_with_react_native+expo.md
  docs/docs/pt/intlayer_with_lynx+react.md
  docs/docs/pt/intlayer_with_react_native+expo.md
  docs/docs/ru/intlayer_with_lynx+react.md
  docs/docs/ru/intlayer_with_react_native+expo.md
  docs/docs/tr/intlayer_with_lynx+react.md
  docs/docs/tr/intlayer_with_react_native+expo.md
  docs/docs/uk/intlayer_with_lynx+react.md
  docs/docs/uk/intlayer_with_react_native+expo.md
  docs/docs/vi/intlayer_with_lynx+react.md
  docs/docs/vi/intlayer_with_react_native+expo.md
  docs/docs/zh/intlayer_with_react_native+expo.md
Due: prettier --write

chore(cli): reflect compiler integration changes in cli documentation
  packages/@intlayer/cli/src/initCompiler.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): add domain:4jwdsa.asia to disavow list
  apps/website/public/disavow.txt
Due: none

fix(chokidar): prevent conflicting locale segment creation by detecting existing locale-aware routing patterns
  packages/@intlayer/chokidar/src/init/frameworkSetup/nextAppRouter/index.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/nextAppRouter/restructure.test.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/nextAppRouter/restructure.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/tanstackStart/adapter.test.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/tanstackStart/index.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/tanstackStart/restructure.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): remove debug console log from useSwitchSelector hook
  packages/@intlayer/design-system/src/components/SwitchSelector/useSwitchSelector.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): replace next/dynamic with React.lazy for GridDistortionPattern component loading
  apps/app/src/components/BackgroundLayout/index.tsx
  apps/showcase/src/components/BackgroundLayout/index.tsx
  apps/website-tanstack/src/components/BackgroundLayout/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): add routing mode configuration to framework setup of init script
  packages/@intlayer/chokidar/src/init/frameworkSetup/nextAppRouter/adapter.test.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/tanstackStart/adapter.test.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/tanstackStart/index.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/tanstackStart/restructure.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/tanstackStart/templates.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/types.ts
  packages/@intlayer/chokidar/src/init/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(babel): prevent extraction of condition of switch
  packages/@intlayer/babel/src/extractContent/babelProcessor.ts
  packages/@intlayer/babel/src/extractContent/extractContent.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): disable compiler and proxy by default in config template
  packages/@intlayer/chokidar/src/initConfig/templates/cjs.txt
  packages/@intlayer/chokidar/src/initConfig/templates/json.txt
  packages/@intlayer/chokidar/src/initConfig/templates/mjs.txt
  packages/@intlayer/chokidar/src/initConfig/templates/ts.txt
Due: none

chore(backend): update doc embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compiler.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/custom_domains.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/custom_url_rewrites.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_analog.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_lit.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_preact.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_react.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_svelte.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_vanilla.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_vue.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_lynx+react.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_16.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_compiler.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_react_native+expo.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_react_router_v7.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_react_router_v7_fs_routes.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_storybook.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_svelte_kit.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_tanstack+solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_tanstack.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+lit.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+preact.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+react.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+react_compiler.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+svelte.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+vanilla.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+vue.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/@intlayer_babel/export.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/vite-intlayer/exports.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/vite-intlayer/intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/vite-intlayer/intlayerCompiler.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/vite-intlayer/intlayerMinify.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/vite-intlayer/intlayerProxy.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/vite-intlayer/intlayerPrune.json
  docs/src/generated/docs.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): update pricing page to use periodSwitchLabel for period selector choices
  apps/app/src/components/PricingPage/data.content.ts
  apps/app/src/components/PricingPage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(lingui): add Vite plugin import rewriting to init tool and implement Lingui catalog fallback support in I18nClass
  compat/lingui/src/I18nClass.test.ts
  compat/lingui/src/I18nClass.ts
  compat/lingui/src/linguiCatalog.test.ts
  compat/lingui/src/linguiCatalog.ts
  compat/lingui/src/plugin/index.ts
  packages/@intlayer/chokidar/src/init/index.ts
  packages/@intlayer/chokidar/src/init/utils/configManipulation.test.ts
  packages/@intlayer/chokidar/src/init/utils/configManipulation.ts
  packages/@intlayer/chokidar/src/init/utils/packageManager.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): remove gitignore from init script --interactive step
  packages/@intlayer/cli/src/init.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(doc): remove duplicated arg i18next format syncJSON doc
  docs/docs/ar/plugins/sync-json.md
  docs/docs/de/plugins/sync-json.md
  docs/docs/en-GB/plugins/sync-json.md
  docs/docs/en/plugins/sync-json.md
  docs/docs/es/plugins/sync-json.md
  docs/docs/fr/plugins/sync-json.md
  docs/docs/hi/plugins/sync-json.md
  docs/docs/id/plugins/sync-json.md
  docs/docs/it/plugins/sync-json.md
  docs/docs/ja/plugins/sync-json.md
  docs/docs/ko/plugins/sync-json.md
  docs/docs/pl/plugins/sync-json.md
  docs/docs/pt/plugins/sync-json.md
  docs/docs/ru/plugins/sync-json.md
  docs/docs/tr/plugins/sync-json.md
  docs/docs/uk/plugins/sync-json.md
  docs/docs/vi/plugins/sync-json.md
  docs/docs/zh/plugins/sync-json.md
Due: prettier --write

feat(compat): update lingui compat
  compat/lingui/src/plugin/index.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-usage-analyzer.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-usage-analyzer.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/nextAppRouter/transforms.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/tanstackStart/adapter.test.ts
  packages/@intlayer/chokidar/src/init/frameworkSetup/tanstackStart/transforms.ts
  packages/@intlayer/chokidar/src/init/index.ts
  packages/@intlayer/chokidar/src/init/utils/astImports.test.ts
  packages/@intlayer/chokidar/src/init/utils/astImports.ts
  packages/@intlayer/chokidar/src/init/utils/configManipulation.test.ts
  packages/@intlayer/chokidar/src/init/utils/configManipulation.ts
  packages/@intlayer/chokidar/src/init/utils/fileSystem.test.ts
  packages/@intlayer/chokidar/src/init/utils/fileSystem.ts
  packages/@intlayer/chokidar/src/init/utils/index.ts
  packages/@intlayer/chokidar/src/init/utils/packageManager.test.ts
  packages/@intlayer/chokidar/src/init/utils/packageManager.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(desgn-system): adjust inline code styling with negative horizontal margin and reduced scale
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
