Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: fix doc module error
  apps/website/src/components/DocPage/DocumentationRender.tsx
  docs/DocsKeys.d.ts
  docs/index.d.ts
  docs/index_en.d.ts
  docs/index_es.d.ts
  docs/index_fr.d.ts
Due: prettier --write, eslint --fix

fix(webpage): fix webpage build
  apps/website/src/app/[locale]/doc/environment/intlayer_with_vite_and_react/page.tsx
  apps/website/src/components/DocPage/doc-page.content.ts
Due: prettier --write, eslint --fix

fix: fix CodeRender size
  packages/@intlayer/design-system/src/components/IDE/CodeRender.tsx
Due: prettier --write, eslint --fix

fix: update pnpm lock
  pnpm-lock.yaml
Due: prettier --write

feat: update intlayer documentation
  apps/website/src/app/[locale]/demo/metadata.ts
  apps/website/src/app/[locale]/doc/concept/configuration/metadata.ts
  apps/website/src/app/[locale]/doc/concept/content_declaration/enumeration/metadata.ts
  apps/website/src/app/[locale]/doc/concept/content_declaration/function_fetching/metadata.ts
  apps/website/src/app/[locale]/doc/concept/content_declaration/get_started/metadata.ts
  apps/website/src/app/[locale]/doc/concept/content_declaration/nested_id/metadata.ts
  apps/website/src/app/[locale]/doc/concept/content_declaration/translation/metadata.ts
  apps/website/src/app/[locale]/doc/concept/interest_of_intlayer/metadata.ts
  apps/website/src/app/[locale]/doc/concept/intlayer_editor/metadata.ts
  apps/website/src/app/[locale]/doc/concept/intlayer_with_i18n/metadata.ts
  apps/website/src/app/[locale]/doc/environment/intlayer_with_create_react_app/metadata.ts
  apps/website/src/app/[locale]/doc/environment/intlayer_with_nextjs/metadata.ts
  apps/website/src/app/[locale]/doc/environment/intlayer_with_vite_and_react/metadata.ts
  apps/website/src/app/[locale]/doc/get_started/metadata.ts
  apps/website/src/app/[locale]/doc/metadata.ts
  apps/website/src/app/[locale]/doc/page.tsx
  docs/DocsKeys.d.ts
  docs/docs/intlayer_with_create_react_app_en.md
  docs/docs/intlayer_with_create_react_app_es.md
  docs/docs/intlayer_with_create_react_app_fr.md
  docs/docs/intlayer_with_nextjs_en.md
  docs/docs/intlayer_with_nextjs_es.md
  docs/docs/intlayer_with_nextjs_fr.md
  docs/docs/intlayer_with_vite+react_en.md
  docs/docs/intlayer_with_vite+react_es.md
  docs/docs/intlayer_with_vite+react_fr.md
  docs/docs/introduction_en.md
  docs/docs/introduction_es.md
  docs/docs/introduction_fr.md
  docs/index.cjs
  docs/index.d.ts
  packages/@intlayer/design-system/src/components/MarkDownRender/index.tsx
Due: prettier --write, eslint --fix

feat: update documentation
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/doc/concept/content_declaration/declaration_watching/metadata.ts
  apps/website/src/app/[locale]/doc/concept/content_declaration/declaration_watching/page.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
  apps/website/src/components/DocPage/doc-page.content.ts
  docs/index.cjs
  packages/next-intlayer/src/index.ts
  packages/react-intlayer/src/index.ts
Due: prettier --write, eslint --fix

feat: update packages
  .changeset/hungry-pumas-do.md
Due: prettier --write

feat: update packages
  apps/website/package.json
  examples/nextjs-app/package.json
  examples/react-app/package.json
  examples/vite-app/package.json
  package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(example): fix example
  apps/website/src/components/DocPage/doc-page.content.ts
  apps/website/src/components/LandingPage/LandingSection/tab1.md
  docs/docs/intlayer_with_vite+react_en.md
  docs/docs/intlayer_with_vite+react_es.md
  docs/docs/intlayer_with_vite+react_fr.md
  examples/nextjs-app/src/components/DropDown/index.tsx
  examples/nextjs-app/src/components/LangSwitcherDropDown/LangSwitcher.tsx
  examples/react-app/package.json
  examples/react-app/src/App.tsx
  examples/react-app/src/components/DropDown/index.tsx
  examples/react-app/src/components/LangSwitcherDropDown/LangSwitcher.tsx
  examples/vite-app/src/App.tsx
  examples/vite-app/src/components/LangSwitcherDropDown/LangSwitcher.tsx
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_type/createType.ts
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/EnumerationWrapper.tsx
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/TranslationWrapper.tsx
  packages/@intlayer/design-system/src/components/DropDown/index.tsx
  packages/@intlayer/design-system/src/components/IDE/CodeRender.tsx
  packages/@intlayer/design-system/src/components/RightDrawer/RightDrawer.tsx
  packages/@intlayer/design-system/src/components/ThemeSwitcherDropDown/MobileThemeSwitcher.tsx
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/react-intlayer/src/client/useLocaleCookie.ts
  packages/react-intlayer/src/useIntlayerBase.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(website): fix lighthouse errors
  apps/website/next.config.mjs
  apps/website/package.json
  apps/website/src/components/LandingPage/LandingSection/index.tsx
  apps/website/src/components/LandingPage/WhyToChoseIntlayerSection/index.tsx
  examples/nextjs-app/src/components/LangSwitcherDropDown/LangSwitcher.tsx
  examples/react-app/src/components/LangSwitcherDropDown/LangSwitcher.tsx
  examples/vite-app/src/components/LangSwitcherDropDown/LangSwitcher.tsx
  packages/@intlayer/design-system/src/components/Footer/index.tsx
  packages/@intlayer/design-system/src/components/IDE/CodeRender.tsx
  packages/@intlayer/design-system/src/components/IDE/IDE.tsx
  packages/@intlayer/design-system/src/components/LocaleSwitcherDropDown/LocaleSwitcher.tsx
  packages/@intlayer/design-system/src/components/ThemeSwitcherDropDown/DesktopThemeSwitcher.tsx
  packages/@intlayer/design-system/src/components/ThemeSwitcherDropDown/MobileThemeSwitcher.tsx
  packages/@intlayer/design-system/tailwind.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: fix changeset
  .changeset/hungry-pumas-do.md
Due: prettier --write

fix: fix edition panel
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/EnumerationWrapper.tsx
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/TranslationWrapper.tsx
Due: prettier --write, eslint --fix

fix: fix home page
  apps/website/src/components/DemoPage/index.tsx
  apps/website/src/components/LandingPage/LandingSection/index.tsx
  apps/website/src/components/LandingPage/LandingSection/tab1.md
  apps/website/src/components/Navbar/index.tsx
  apps/website/src/components/Navbar/navbar.content.ts
Due: prettier --write, eslint --fix

feat(website): add google analytics
  apps/website/src/app/layout.tsx
  apps/website/src/components/GoogleAnalytics/index.tsx
  apps/website/src/layouts/RootHTMLLayout.tsx
Due: prettier --write, eslint --fix

fix(design-system): fix unkown attribute mobile navbar
  packages/@intlayer/design-system/src/components/Navbar/MobileNavbar.tsx
Due: prettier --write, eslint --fix

fix: fix doc tranlation
  apps/website/src/components/Footer/footer.content.ts
  docs/docs/introduction_en.md
  docs/docs/introduction_es.md
  docs/docs/introduction_fr.md
Due: prettier --write, eslint --fix

style(website): make DocPageLayout responsive
  apps/website/src/components/DocPage/DocPageLayout.tsx
Due: prettier --write, eslint --fix

fix: fix footer
  apps/website/src/Routes.ts
  apps/website/src/components/Footer/footer.content.ts
  packages/@intlayer/design-system/src/components/Footer/index.tsx
Due: prettier --write, eslint --fix

docs: add doc, how intlayer works
  CONTRIBUTING.md
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/doc/concept/how_works_intlayer/metadata.ts
  apps/website/src/app/[locale]/doc/concept/how_works_intlayer/page.tsx
  apps/website/src/components/DocPage/doc-page.content.ts
  apps/website/src/components/LandingPage/AvailableTechnoSection/index.tsx
  apps/website/src/components/LandingPage/LandingSection/ActionButtons.tsx
  docs/assets/pacakges_depency_graph.svg
  docs/assets/packages_dependency_graph.txt
  docs/assets/project_stucture_18n_vs_intlayer.png
  docs/assets/server_vs_client_component_implementation.png
  docs/docs/configuration_en.md
  docs/docs/configuration_es.md
  docs/docs/configuration_fr.md
  docs/docs/how_works_intlayer_en.md
  docs/docs/how_works_intlayer_es.md
  docs/docs/how_works_intlayer_fr.md
  docs/index.cjs
  docs/index.d.ts
  packages/@intlayer/design-system/src/components/Footer/index.tsx
Due: prettier --write, eslint --fix

fix: fix packages_dependency_graph picture path
  docs/assets/packages_dependency_graph.svg
Due: none

fix: fix image doc how_works_intlayer_fr
  docs/docs/how_works_intlayer_fr.md
Due: prettier --write

style: style ol markdown
  packages/@intlayer/design-system/src/components/MarkDownRender/index.tsx
Due: prettier --write, eslint --fix

docs: fix intlayer with CRA doc link
  docs/docs/intlayer_with_create_react_app_en.md
  docs/docs/intlayer_with_create_react_app_es.md
  docs/docs/intlayer_with_create_react_app_fr.md
Due: prettier --write

style: add border radius image markdown
  packages/@intlayer/design-system/src/components/MarkDownRender/index.tsx
Due: prettier --write, eslint --fix

docs: fix content declaration doc link
  docs/docs/content_declaration/get_started_en.md
  docs/docs/content_declaration/get_started_es.md
  docs/docs/content_declaration/get_started_fr.md
Due: prettier --write

docs(website): restore content declaration get_started section
  apps/website/src/components/DocPage/doc-page.content.ts
Due: prettier --write, eslint --fix

fix: fix usage of next-intlayer without intlayer-editor
  docs/docs/intlayer_with_nextjs_en.md
  docs/docs/intlayer_with_nextjs_es.md
  docs/docs/intlayer_with_nextjs_fr.md
  examples/nextjs-app/next.config.mjs
  packages/@intlayer/design-system/package.json
  packages/next-intlayer/README.md
  packages/react-intlayer/src/client/ContentEditionLayout.tsx
  packages/react-intlayer/src/renderIntlayerEditor.tsx
  packages/react-intlayer/src/useIntlayerBase.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

docs: add changeset
  .changeset/stupid-pianos-happen.md
Due: prettier --write

refactor(nextjs-app): remove unused line in next.config.mjs
  examples/nextjs-app/next.config.mjs
Due: none

fix(website): fix content declaration DeclareYourContent page
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/doc/concept/content_declaration/declare_your_content/metadata.ts
  apps/website/src/app/[locale]/doc/concept/content_declaration/declare_your_content/page.tsx
  apps/website/src/components/DocPage/doc-page.content.ts
Due: prettier --write, eslint --fix

fix(website): fix declare_your_content page
  apps/website/src/app/[locale]/doc/concept/content_declaration/declare_your_content/page.tsx
Due: prettier --write, eslint --fix

fix(react-intlayer): add craco
  packages/react-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add changeset
  .changeset/beige-shirts-crash.md
Due: prettier --write

fix(@intlayer/chokidar): add react peer dependency
  packages/@intlayer/chokidar/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add changeset
  .changeset/poor-bears-wait.md
Due: prettier --write

fix(@intlayer/chokidar): add react peer dependency
  .changeset/poor-bears-wait.md
  packages/@intlayer/chokidar/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: fix import react in content declaration
  apps/website/package.json
  docs/docs/intlayer_with_create_react_app_en.md
  docs/docs/intlayer_with_create_react_app_es.md
  docs/docs/intlayer_with_create_react_app_fr.md
  docs/docs/intlayer_with_vite+react_en.md
  docs/docs/intlayer_with_vite+react_es.md
  docs/docs/intlayer_with_vite+react_fr.md
  packages/@intlayer/chokidar/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add changeset
  .changeset/pink-glasses-beam.md
Due: prettier --write

docs: update declaration file name tsx react
  docs/docs/intlayer_with_create_react_app_en.md
  docs/docs/intlayer_with_create_react_app_es.md
  docs/docs/intlayer_with_create_react_app_fr.md
  docs/docs/intlayer_with_vite+react_en.md
  docs/docs/intlayer_with_vite+react_es.md
  docs/docs/intlayer_with_vite+react_fr.md
Due: prettier --write
