Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

fix(doc): fix app build
  apps/doc/src/routes/sitemap[.]xml.ts
  apps/doc/src/routes/{-$locale}/$.tsx
  apps/doc/src/routes/{-$locale}/blog/$.tsx
  apps/doc/src/routes/{-$locale}/blog/raw/$.ts
  apps/doc/src/routes/{-$locale}/frequent-questions/$.tsx
  apps/doc/src/routes/{-$locale}/frequent-questions/raw/$.ts
  apps/doc/src/routes/{-$locale}/raw/$.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: update tanstack apps
  apps/_app/Dockerfile
  apps/app/Dockerfile
  apps/app/package.json
  apps/app/scripts/generate-sw.ts
  apps/app/src/components/ServiceWorker/ServiceWorkerSubscriber.tsx
  apps/app/src/components/ServiceWorker/useServiceWorker.ts
  apps/app/src/routes/__root.tsx
  apps/app/vite.config.ts
  apps/doc/Dockerfile
  apps/doc/package.json
  apps/doc/scripts/generate-sw.ts
  apps/doc/src/routes/__root.tsx
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: update dockerfiles
  apps/_app/Dockerfile
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/doc/Dockerfile
  apps/showcase/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

fix(app): fix dockerfile
  apps/_app/Dockerfile
Due: none

feat: remove intlayer from unnecessary dependencies
  bun.lock
  examples/hono-app/package.json
  packages/adonis-intlayer/package.json
  packages/express-intlayer/package.json
  packages/fastify-intlayer/package.json
  packages/hono-intlayer/package.json
  packages/react-intlayer/package.json
  packages/vite-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(vite-intlayer): update minification and purge for vue and svelte
  packages/@intlayer/svelte-compiler/src/extractSvelteFieldUsage.ts
  packages/@intlayer/svelte-compiler/src/index.ts
  packages/@intlayer/vue-compiler/src/extractVueFieldUsage.ts
  packages/@intlayer/vue-compiler/src/index.ts
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
  packages/vite-intlayer/src/pruneContext.ts
  packages/vue-intlayer/src/markdown/compiler.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update bundle doc
  docs/docs/ar/bundle_optimization.md
  docs/docs/de/bundle_optimization.md
  docs/docs/en-GB/bundle_optimization.md
  docs/docs/en/bundle_optimization.md
  docs/docs/es/bundle_optimization.md
  docs/docs/fr/bundle_optimization.md
  docs/docs/hi/bundle_optimization.md
  docs/docs/id/bundle_optimization.md
  docs/docs/it/bundle_optimization.md
  docs/docs/ja/bundle_optimization.md
  docs/docs/ko/bundle_optimization.md
  docs/docs/pl/bundle_optimization.md
  docs/docs/pt/bundle_optimization.md
  docs/docs/ru/bundle_optimization.md
  docs/docs/tr/bundle_optimization.md
  docs/docs/uk/bundle_optimization.md
  docs/docs/vi/bundle_optimization.md
  docs/docs/zh/bundle_optimization.md
  packages/@intlayer/chokidar/src/initConfig/templates/cjs.txt
  packages/@intlayer/chokidar/src/initConfig/templates/json.txt
  packages/@intlayer/chokidar/src/initConfig/templates/mjs.txt
  packages/@intlayer/chokidar/src/initConfig/templates/ts.txt
Due: prettier --write

feat: fix missing packages versions
  docs/package.json
  plugins/sync-json-plugin/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: clean purge and minify
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/bundle_optimization.json
  bun.lock
  examples/vite-lit-app/intlayer.config.ts
  examples/vite-preact-app/intlayer.config.ts
  examples/vite-react-app/intlayer.config.ts
  examples/vite-solid-app/intlayer.config.ts
  examples/vite-svelte-app/intlayer.config.ts
  examples/vite-vanilla-app/intlayer.config.ts
  examples/vite-vue-app/intlayer.config.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-field-rename.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-field-rename.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-usage-analyzer.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-usage-analyzer.ts
  packages/@intlayer/babel/src/index.ts
  packages/@intlayer/babel/src/transformers.ts
  packages/vite-intlayer/package.json
  packages/vite-intlayer/src/index.ts
  packages/vite-intlayer/src/intlayerMinifyPlugin.ts
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
  packages/vite-intlayer/src/intlayerProxyPlugin.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
  packages/vite-intlayer/src/pruneContext.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(chokidar): fix init config files templates
  packages/@intlayer/chokidar/src/initConfig/templates/cjs.txt
  packages/@intlayer/chokidar/src/initConfig/templates/json.txt
  packages/@intlayer/chokidar/src/initConfig/templates/mjs.txt
  packages/@intlayer/chokidar/src/initConfig/templates/ts.txt
Due: none

chore: update package dependencies
  apps/_app/package.json
  apps/app/package.json
  apps/backend/package.json
  apps/doc/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  examples/analog-app/package.json
  examples/astro-react-app/package.json
  examples/next-15-next-intl-app/package.json
  examples/next-no-lolale-path/package.json
  examples/nextjs-14-app/package.json
  examples/nextjs-15-app/package.json
  examples/react-app/package.json
  examples/react-router-app/package.json
  examples/react-router-fs-app/package.json
  examples/tanstack-start-app/package.json
  examples/vite-react-app/package.json
  package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

style(app): add css animation
  apps/app/src/styles.css
Due: none

docs: add bundle_optimization doc translations
  docs/docs/ar/bundle_optimization.md
  docs/docs/bn/bundle_optimization.md
  docs/docs/cs/bundle_optimization.md
  docs/docs/de/bundle_optimization.md
  docs/docs/en-GB/bundle_optimization.md
  docs/docs/es/bundle_optimization.md
  docs/docs/fr/bundle_optimization.md
  docs/docs/hi/bundle_optimization.md
  docs/docs/id/bundle_optimization.md
  docs/docs/it/bundle_optimization.md
  docs/docs/ja/bundle_optimization.md
  docs/docs/ko/bundle_optimization.md
  docs/docs/nl/bundle_optimization.md
  docs/docs/pl/bundle_optimization.md
  docs/docs/pt/bundle_optimization.md
  docs/docs/ru/bundle_optimization.md
  docs/docs/tr/bundle_optimization.md
  docs/docs/uk/bundle_optimization.md
  docs/docs/ur/bundle_optimization.md
  docs/docs/vi/bundle_optimization.md
  docs/docs/zh/bundle_optimization.md
Due: prettier --write

fix: fix sitemap tanstack app
  apps/app/vite.config.ts
  apps/doc/vite.config.ts
  apps/showcase/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): fix app errors
  apps/app/intlayer.config.ts
  apps/app/src/components/Dashboard/OrganizationForm/SSO/SSOSettings.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): update app
  apps/app/src/components/Auth/AuthenticationBarrier/AuthenticationBarrierClient.tsx
  apps/app/src/components/Auth/AuthenticationBarrier/AuthenticationBarrierServer.tsx
  apps/app/src/components/Dashboard/DashboardSidebar/DashboardSidebar.tsx
  apps/app/src/components/Dashboard/DashboardSkeleton.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryListSkeleton.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/FiltersModal.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.tsx
  apps/app/src/components/Dashboard/Editor/ApplicationNotRunningView/ApplicationNotRunningView.tsx
  apps/app/src/components/Dashboard/Editor/ApplicationNotRunningView/applicationNotRunningView.content.ts
  apps/app/src/components/Dashboard/Editor/EditorProvider.tsx
  apps/app/src/components/Dashboard/OrganizationForm/OrganizationSkeleton.tsx
  apps/app/src/components/Dashboard/ProjectForm/ProjectDetailsSkeleton.tsx
  apps/app/src/components/Dashboard/ProjectForm/ProjectList.tsx
  apps/app/src/hooks/useSessionRouterListener.ts
  apps/app/src/routeTree.gen.ts
  apps/app/src/routes/{-$locale}/_dashboard/_admin/route.tsx
  apps/app/src/routes/{-$locale}/_dashboard/_editor/_content/route.tsx
  apps/app/src/routes/{-$locale}/_dashboard/projects.tsx
  apps/app/src/routes/{-$locale}/_dashboard/route.tsx
  apps/app/src/routes/{-$locale}/_other/route.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryCreationForm/DictionaryCreationForm.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: update link component tanstack app
  apps/app/src/components/AdminTabBar/AdminTabBar.tsx
  apps/app/src/components/ChatBot/index.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminDiscussions/DiscussionsAdminPage.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminUsers/UserAdminPage.tsx
  apps/app/src/components/Dashboard/DashboardFooter/index.tsx
  apps/app/src/components/Dashboard/DashboardNavbar/DashboardNavbar.tsx
  apps/app/src/components/Dashboard/DashboardSidebar/DashboardSidebar.tsx
  apps/app/src/components/Dashboard/Editor/ApplicationNotRunningView/ApplicationNotRunningView.tsx
  apps/app/src/components/Dashboard/Editor/NoApplicationURLView/NoApplicationURLView.tsx
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/CIWorkflowModal.tsx
  apps/app/src/components/Dashboard/ProjectForm/Config/ConfigDetails.tsx
  apps/app/src/components/Link/Link.tsx
  apps/app/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/app/src/components/Navbar/index.tsx
  apps/app/src/components/PricingPage/PricingColumn.tsx
  apps/app/src/providers/IntlayerMarkdownProvider.tsx
  apps/doc/src/components/Link/index.tsx
  apps/showcase/src/components/Link.tsx
  packages/@intlayer/design-system/src/components/Link/Link.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): update header directives
  apps/app/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: rework env var vite app
  apps/app/.env.template
  apps/app/src/components/Auth/AskResetPassword/index.tsx
  apps/app/src/components/Dashboard/Editor/ApplicationNotRunningView/ApplicationNotRunningView.tsx
  apps/app/src/components/Link/Link.tsx
  apps/app/src/structuredData/WebsiteHeader.tsx
  apps/app/vite.config.ts
  apps/doc/src/components/Link/index.tsx
  apps/showcase/src/components/Link.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): add structured data
  apps/app/src/routes/__root.tsx
  apps/app/src/routes/{-$locale}/_dashboard/_editor/_content/dictionary.$dictionaryKey.tsx
  apps/app/src/routes/{-$locale}/_dashboard/_editor/_content/editor.tsx
  apps/app/src/routes/{-$locale}/_dashboard/organization.tsx
  apps/app/src/routes/{-$locale}/_dashboard/profile.tsx
  apps/app/src/routes/{-$locale}/_dashboard/projects.tsx
  apps/app/src/routes/{-$locale}/_other/pricing.tsx
  apps/app/src/structuredData/BreadcrumbsHeader.tsx
  apps/app/src/structuredData/CreativeWorkHeader.tsx
  apps/app/src/structuredData/ProductHeader.tsx
  apps/app/src/structuredData/SoftwareApplication.tsx
  apps/app/src/structuredData/WebsiteHeader.tsx
  apps/website/src/structuredData/ProductHeader.tsx
  apps/website/src/structuredData/SoftwareApplication.tsx
  apps/website/src/structuredData/WebsiteHeader.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(doc): add structured data
  apps/doc/src/routes/__root.tsx
  apps/doc/src/routes/{-$locale}/$.tsx
  apps/doc/src/routes/{-$locale}/blog/$.tsx
  apps/doc/src/structuredData/BreadcrumbsHeader.tsx
  apps/doc/src/structuredData/CreativeWorkHeader.tsx
  apps/doc/src/structuredData/ProductHeader.tsx
  apps/doc/src/structuredData/SoftwareApplication.tsx
  apps/doc/src/structuredData/WebsiteHeader.tsx
  apps/doc/src/structuredData/creativeWorkHeader.content.ts
  apps/doc/src/structuredData/productHeader.content.ts
  apps/doc/src/structuredData/softwareApplication.content.ts
  apps/doc/src/structuredData/website.content.ts
  apps/showcase/src/routes/__root.tsx
  apps/showcase/src/routes/{-$locale}/index.tsx
  apps/showcase/src/routes/{-$locale}/project.$projectId.tsx
  apps/showcase/src/structuredData/BreadcrumbsHeader.tsx
  apps/showcase/src/structuredData/CreativeWorkHeader.tsx
  apps/showcase/src/structuredData/ProductHeader.tsx
  apps/showcase/src/structuredData/SoftwareApplication.tsx
  apps/showcase/src/structuredData/WebsiteHeader.tsx
  apps/showcase/src/structuredData/creativeWorkHeader.content.ts
  apps/showcase/src/structuredData/productHeader.content.ts
  apps/showcase/src/structuredData/softwareApplication.content.ts
  apps/showcase/src/structuredData/website.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update metadata section tanstack page
  .agents/skills/intlayer-react/references/environment_tanstack-start.md
  docs/docs/ar/intlayer_with_tanstack+solid.md
  docs/docs/ar/intlayer_with_tanstack.md
  docs/docs/de/intlayer_with_tanstack+solid.md
  docs/docs/de/intlayer_with_tanstack.md
  docs/docs/en-GB/intlayer_with_tanstack+solid.md
  docs/docs/en-GB/intlayer_with_tanstack.md
  docs/docs/en/intlayer_with_tanstack+solid.md
  docs/docs/en/intlayer_with_tanstack.md
  docs/docs/es/intlayer_with_tanstack+solid.md
  docs/docs/es/intlayer_with_tanstack.md
  docs/docs/fr/intlayer_with_tanstack+solid.md
  docs/docs/fr/intlayer_with_tanstack.md
  docs/docs/hi/intlayer_with_tanstack+solid.md
  docs/docs/hi/intlayer_with_tanstack.md
  docs/docs/id/intlayer_with_tanstack+solid.md
  docs/docs/id/intlayer_with_tanstack.md
  docs/docs/it/intlayer_with_tanstack+solid.md
  docs/docs/it/intlayer_with_tanstack.md
  docs/docs/ja/intlayer_with_tanstack+solid.md
  docs/docs/ja/intlayer_with_tanstack.md
  docs/docs/ko/intlayer_with_tanstack+solid.md
  docs/docs/ko/intlayer_with_tanstack.md
  docs/docs/pl/intlayer_with_tanstack+solid.md
  docs/docs/pl/intlayer_with_tanstack.md
  docs/docs/pt/intlayer_with_tanstack+solid.md
  docs/docs/pt/intlayer_with_tanstack.md
  docs/docs/ru/intlayer_with_tanstack+solid.md
  docs/docs/ru/intlayer_with_tanstack.md
  docs/docs/tr/intlayer_with_tanstack+solid.md
  docs/docs/tr/intlayer_with_tanstack.md
  docs/docs/uk/intlayer_with_tanstack+solid.md
  docs/docs/uk/intlayer_with_tanstack.md
  docs/docs/vi/intlayer_with_tanstack+solid.md
  docs/docs/vi/intlayer_with_tanstack.md
  docs/docs/zh/intlayer_with_tanstack+solid.md
  docs/docs/zh/intlayer_with_tanstack.md
Due: prettier --write

refactor: review CSP
  apps/app/vite.config.ts
  apps/doc/vite.config.ts
  apps/showcase/vite.config.ts
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update bundle optimization doc
  docs/docs/ar/bundle_optimization.md
  docs/docs/bn/bundle_optimization.md
  docs/docs/cs/bundle_optimization.md
  docs/docs/de/bundle_optimization.md
  docs/docs/en-GB/bundle_optimization.md
  docs/docs/en/bundle_optimization.md
  docs/docs/es/bundle_optimization.md
  docs/docs/fr/bundle_optimization.md
  docs/docs/hi/bundle_optimization.md
  docs/docs/id/bundle_optimization.md
  docs/docs/it/bundle_optimization.md
  docs/docs/ja/bundle_optimization.md
  docs/docs/ko/bundle_optimization.md
  docs/docs/nl/bundle_optimization.md
  docs/docs/pl/bundle_optimization.md
  docs/docs/pt/bundle_optimization.md
  docs/docs/ru/bundle_optimization.md
  docs/docs/tr/bundle_optimization.md
  docs/docs/uk/bundle_optimization.md
  docs/docs/ur/bundle_optimization.md
  docs/docs/vi/bundle_optimization.md
  docs/docs/zh/bundle_optimization.md
Due: prettier --write

refactor: update links types
  apps/app/src/components/Auth/AuthenticationBarrier/AuthenticationBarrier.tsx
  apps/app/src/components/Auth/AuthenticationBarrier/AuthenticationBarrierClient.tsx
  apps/app/src/components/Link/Link.tsx
  apps/app/src/components/OnboardPage/useStep.ts
  apps/app/src/routes/{-$locale}/_dashboard/_admin/admin.tsx
  apps/doc/src/components/DocPage/Search/SearchView.tsx
  apps/doc/src/hooks/useLocalizedNavigate.ts
  apps/showcase/src/components/SubmitProjectForm/SubmitProjectForm.tsx
  docs/docs/ar/intlayer_with_tanstack.md
  docs/docs/de/intlayer_with_tanstack.md
  docs/docs/en-GB/intlayer_with_tanstack.md
  docs/docs/en/intlayer_with_tanstack.md
  docs/docs/es/intlayer_with_tanstack.md
  docs/docs/fr/intlayer_with_tanstack.md
  docs/docs/hi/intlayer_with_tanstack.md
  docs/docs/id/intlayer_with_tanstack.md
  docs/docs/it/intlayer_with_tanstack.md
  docs/docs/ja/intlayer_with_tanstack.md
  docs/docs/ko/intlayer_with_tanstack.md
  docs/docs/pl/intlayer_with_tanstack.md
  docs/docs/pt/intlayer_with_tanstack.md
  docs/docs/ru/intlayer_with_tanstack.md
  docs/docs/tr/intlayer_with_tanstack.md
  docs/docs/uk/intlayer_with_tanstack.md
  docs/docs/vi/intlayer_with_tanstack.md
  docs/docs/zh/intlayer_with_tanstack.md
  examples/tanstack-start-app/src/components/localized-link.tsx
  examples/tanstack-start-app/src/hooks/useLocalizedNavigate.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(app): remove beforeLoad validateAuth check
  apps/app/src/routes/{-$locale}/_dashboard/_admin/route.tsx
  apps/app/src/routes/{-$locale}/_dashboard/index.tsx
  apps/app/src/routes/{-$locale}/_dashboard/projects.tsx
  apps/app/src/routes/{-$locale}/_dashboard/route.tsx
  apps/doc/src/routes/{-$locale}/blog/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: fix astro purge plugin
  packages/astro-intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

perf(chokidar): optimize dynamic dictionary loading
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeDynamicDictionary.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeFetchDictionary.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeRemoteDictionary.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeUnmergedDictionary.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
