Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

ci: remove automatic push triggers from mirror workflow
  .github/workflows/mirror.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: fix dependencies
  apps/app/package.json
  apps/marketplace/package.json
  apps/showcase/package.json
  bun.lock
  examples/nextjs-14-app/package.json
  examples/react-app/package.json
  examples/vite-react-app/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(marketplace): fix build
  apps/marketplace/Dockerfile
  apps/marketplace/package.json
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(backend): make Redis connection optional and gracefully disable live translations when REDIS_URL is missing
  apps/backend/.env.template
  apps/backend/src/controllers/dictionary.controller.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/translate.routes.ts
  apps/backend/src/services/audit/auditCache.service.ts
  apps/backend/src/services/audit/auditCache.test.ts
  apps/backend/src/utils/errors/common.errors.ts
  apps/backend/src/utils/redis/connectRedis.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(marketplace): enhance Open Graph image metadata across apps
  apps/marketplace/src/routes/__root.tsx
  apps/marketplace/src/routes/{-$locale}/$reviewerId.tsx
  apps/marketplace/src/routes/{-$locale}/dashboard/index.tsx
  apps/marketplace/src/routes/{-$locale}/dashboard/mission.$missionId.tsx
  apps/marketplace/src/routes/{-$locale}/index.tsx
  apps/marketplace/src/routes/{-$locale}/metadata.content.ts
  apps/marketplace/src/routes/{-$locale}/route.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: migrate sitemap and robots.txt generation to dynamic file-based routes across apps
  apps/app/src/routes/sitemap[.]xml.ts
  apps/app/vite.config.ts
  apps/marketplace/src/routes/robots[.]txt.ts
  apps/marketplace/src/routes/sitemap[.]xml.ts
  apps/marketplace/src/utils/ogImage.ts
  apps/marketplace/vite.config.ts
  apps/showcase/public/robots.txt
  apps/showcase/src/routeTree.gen.ts
  apps/showcase/src/routes/robots[.]txt.ts
  apps/showcase/src/routes/sitemap[.]xml.ts
  apps/showcase/vite.config.ts
  apps/website/src/routes/robots[.]txt.ts
  apps/website/src/siteRoutes.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

ci: add Codeberg to repository mirroring workflow
  .github/workflows/mirror.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): add sitemap pagination, sitemap path aliases, and route locale validation
  apps/website/server/middleware/1.redirects.ts
  apps/website/src/routes/sitemap[.]xml.ts
  apps/website/src/routes/{-$locale}/route.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): update text color classes for heading levels
  apps/website/src/components/TableOfContents/TableOfContents.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): optimize performance and state sharing with a document title context, lazy-loaded WebMCP tools, and image dimension attributes
  apps/website/src/components/DocPage/AsideNavigation/AsideNavigation.tsx
  apps/website/src/components/DocPage/DocPageLayoutShell.tsx
  apps/website/src/components/DocPage/DocTitlesContext.tsx
  apps/website/src/components/DocPage/LinkPreviewCard/LinkPreviewCard.tsx
  apps/website/src/components/DocPage/NavTitles/NavTitles.tsx
  apps/website/src/components/DocPage/ScrollWell.tsx
  apps/website/src/components/DocPage/TOCProgressBar/TOCProgressBar.tsx
  apps/website/src/components/DocPage/useActiveSection.ts
  apps/website/src/components/DocPage/useTitlesTree.ts
  apps/website/src/components/WebMCP/WebMCPTools.tsx
  apps/website/src/components/WebMCP/WebMCPToolsInner.tsx
  apps/website/src/layouts/RootHTMLLayout.tsx
  apps/website/src/routes/__root.tsx
  packages/@intlayer/design-system/src/components/Flags/Flag.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add FAQ entry for composing multiple plurals in one sentence
  apps/backend/src/utils/AI/askDocQuestion/embeddings/frequent_questions/en/multiple_plurals_in_one_sentence.json
  docs/frequent_questions/ar/multiple_plurals_in_one_sentence.md
  docs/frequent_questions/de/multiple_plurals_in_one_sentence.md
  docs/frequent_questions/en-GB/multiple_plurals_in_one_sentence.md
  docs/frequent_questions/en/multiple_plurals_in_one_sentence.md
  docs/frequent_questions/es/multiple_plurals_in_one_sentence.md
  docs/frequent_questions/fr/multiple_plurals_in_one_sentence.md
  docs/frequent_questions/hi/multiple_plurals_in_one_sentence.md
  docs/frequent_questions/id/multiple_plurals_in_one_sentence.md
  docs/frequent_questions/it/multiple_plurals_in_one_sentence.md
  docs/frequent_questions/ja/multiple_plurals_in_one_sentence.md
  docs/frequent_questions/ko/multiple_plurals_in_one_sentence.md
  docs/frequent_questions/pl/multiple_plurals_in_one_sentence.md
  docs/frequent_questions/pt/multiple_plurals_in_one_sentence.md
  docs/frequent_questions/ru/multiple_plurals_in_one_sentence.md
  docs/frequent_questions/tr/multiple_plurals_in_one_sentence.md
  docs/frequent_questions/uk/multiple_plurals_in_one_sentence.md
  docs/frequent_questions/vi/multiple_plurals_in_one_sentence.md
  docs/frequent_questions/zh/multiple_plurals_in_one_sentence.md
  docs/src/generated/frequentQuestions.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

perf(website): eliminate forced reflows and optimize component rendering performance using requestAnimationFrame
  apps/website/src/components/DocPage/NavTitles/NavTitles.tsx
  apps/website/src/components/DocPage/useActiveSection.ts
  apps/website/src/components/I18nBenchmark/ChartComponent.tsx
  apps/website/src/components/LandingPage/HeroSection/index.tsx
  apps/website/src/globals.css
  apps/website/src/hooks/useScrollPositionPersistence.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update i18n benchmarks with new translation libraries
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/benchmark/nextjs.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/benchmark/tanstack.json
  apps/website/src/components/I18nBenchmark/constants.tsx
  docs/docs/ar/benchmark/nextjs.md
  docs/docs/ar/benchmark/tanstack.md
  docs/docs/de/benchmark/nextjs.md
  docs/docs/de/benchmark/tanstack.md
  docs/docs/en-GB/benchmark/nextjs.md
  docs/docs/en-GB/benchmark/tanstack.md
  docs/docs/en/benchmark/nextjs.md
  docs/docs/en/benchmark/tanstack.md
  docs/docs/es/benchmark/nextjs.md
  docs/docs/es/benchmark/tanstack.md
  docs/docs/fr/benchmark/nextjs.md
  docs/docs/fr/benchmark/tanstack.md
  docs/docs/hi/benchmark/nextjs.md
  docs/docs/hi/benchmark/tanstack.md
  docs/docs/id/benchmark/nextjs.md
  docs/docs/id/benchmark/tanstack.md
  docs/docs/it/benchmark/nextjs.md
  docs/docs/it/benchmark/tanstack.md
  docs/docs/ja/benchmark/nextjs.md
  docs/docs/ja/benchmark/tanstack.md
  docs/docs/ko/benchmark/nextjs.md
  docs/docs/ko/benchmark/tanstack.md
  docs/docs/pl/benchmark/nextjs.md
  docs/docs/pl/benchmark/tanstack.md
  docs/docs/pt/benchmark/nextjs.md
  docs/docs/pt/benchmark/tanstack.md
  docs/docs/ru/benchmark/nextjs.md
  docs/docs/ru/benchmark/tanstack.md
  docs/docs/tr/benchmark/nextjs.md
  docs/docs/tr/benchmark/tanstack.md
  docs/docs/uk/benchmark/nextjs.md
  docs/docs/uk/benchmark/tanstack.md
  docs/docs/vi/benchmark/nextjs.md
  docs/docs/vi/benchmark/tanstack.md
  docs/docs/zh/benchmark/nextjs.md
  docs/docs/zh/benchmark/tanstack.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

perf(website): improve rendering performance and layout stability across components
  apps/website/src/components/LandingPage/HeroSection/TypewriterTitle.tsx
  apps/website/src/components/LandingPage/index.tsx
  packages/@intlayer/design-system/src/components/Carousel/index.tsx
  packages/@intlayer/design-system/src/hooks/useItemSelector.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update formatter documentation for locale handling
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/formatters.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/frequent_questions/en/use_without_provider.json
  docs/docs/ar/formatters.md
  docs/docs/de/formatters.md
  docs/docs/en-GB/formatters.md
  docs/docs/en/formatters.md
  docs/docs/es/formatters.md
  docs/docs/fr/formatters.md
  docs/docs/hi/formatters.md
  docs/docs/id/formatters.md
  docs/docs/it/formatters.md
  docs/docs/ja/formatters.md
  docs/docs/ko/formatters.md
  docs/docs/pl/formatters.md
  docs/docs/pt/formatters.md
  docs/docs/ru/formatters.md
  docs/docs/tr/formatters.md
  docs/docs/uk/formatters.md
  docs/docs/vi/formatters.md
  docs/docs/zh/formatters.md
  docs/frequent_questions/ar/use_without_provider.md
  docs/frequent_questions/de/use_without_provider.md
  docs/frequent_questions/en-GB/use_without_provider.md
  docs/frequent_questions/en/use_without_provider.md
  docs/frequent_questions/es/use_without_provider.md
  docs/frequent_questions/fr/use_without_provider.md
  docs/frequent_questions/hi/use_without_provider.md
  docs/frequent_questions/id/use_without_provider.md
  docs/frequent_questions/it/use_without_provider.md
  docs/frequent_questions/ja/use_without_provider.md
  docs/frequent_questions/ko/use_without_provider.md
  docs/frequent_questions/pl/use_without_provider.md
  docs/frequent_questions/pt/use_without_provider.md
  docs/frequent_questions/ru/use_without_provider.md
  docs/frequent_questions/tr/use_without_provider.md
  docs/frequent_questions/uk/use_without_provider.md
  docs/frequent_questions/vi/use_without_provider.md
  docs/frequent_questions/zh/use_without_provider.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(website): simplify ChartComponent by removing logo handling and related logic
  apps/website/src/components/I18nBenchmark/ChartComponent.tsx
  apps/website/src/components/I18nBenchmark/constants.tsx
  apps/website/src/components/I18nBenchmark/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(disavow): add new domains to disavow list
  apps/website/public/disavow.txt
Due: none

feat(website): enable draggable avatars in ContributorCloud on pointer enter
  apps/website/src/components/LandingPage/ContributorSection/ContributorCloud.tsx
  apps/website/src/components/LandingPage/FeaturesSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update Dockerfiles to exclude unnecessary directories and files for slim images
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/marketplace/Dockerfile
  apps/showcase/Dockerfile
  apps/website/Dockerfile
  docker/selfhost/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

fix: add documentation and metadata for why ICU MessageFormat is not ideal for JavaScript
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/icu_message_format.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/why_icu_is_not_made_for_js.json
  apps/website/src/components/BlogPage/blogData.content.ts
  docs/blog/ar/icu_message_format.md
  docs/blog/ar/why_icu_is_not_made_for_js.md
  docs/blog/de/icu_message_format.md
  docs/blog/de/why_icu_is_not_made_for_js.md
  docs/blog/en-GB/icu_message_format.md
  docs/blog/en-GB/why_icu_is_not_made_for_js.md
  docs/blog/en/icu_message_format.md
  docs/blog/en/why_icu_is_not_made_for_js.md
  docs/blog/es/icu_message_format.md
  docs/blog/es/why_icu_is_not_made_for_js.md
  docs/blog/fr/icu_message_format.md
  docs/blog/fr/why_icu_is_not_made_for_js.md
  docs/blog/hi/icu_message_format.md
  docs/blog/hi/why_icu_is_not_made_for_js.md
  docs/blog/id/icu_message_format.md
  docs/blog/id/why_icu_is_not_made_for_js.md
  docs/blog/it/icu_message_format.md
  docs/blog/it/why_icu_is_not_made_for_js.md
  docs/blog/ja/icu_message_format.md
  docs/blog/ja/why_icu_is_not_made_for_js.md
  docs/blog/ko/icu_message_format.md
  docs/blog/ko/why_icu_is_not_made_for_js.md
  docs/blog/pl/icu_message_format.md
  docs/blog/pl/why_icu_is_not_made_for_js.md
  docs/blog/pt/icu_message_format.md
  docs/blog/pt/why_icu_is_not_made_for_js.md
  docs/blog/ru/icu_message_format.md
  docs/blog/ru/why_icu_is_not_made_for_js.md
  docs/blog/tr/icu_message_format.md
  docs/blog/tr/why_icu_is_not_made_for_js.md
  docs/blog/uk/icu_message_format.md
  docs/blog/uk/why_icu_is_not_made_for_js.md
  docs/blog/vi/icu_message_format.md
  docs/blog/vi/why_icu_is_not_made_for_js.md
  docs/blog/zh/icu_message_format.md
  docs/blog/zh/why_icu_is_not_made_for_js.md
  docs/src/generated/blog.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(docs): repair broken links in english docs
  docs/docs/en/dictionary/content_file.md
  docs/docs/en/how_works_intlayer.md
  docs/docs/en/intlayer_with_adonisjs.md
  docs/docs/en/intlayer_with_elysia.md
  docs/docs/en/intlayer_with_express.md
  docs/docs/en/intlayer_with_fastify.md
  docs/docs/en/intlayer_with_hono.md
  docs/docs/en/intlayer_with_nextjs_14.md
  docs/docs/en/intlayer_with_nextjs_15.md
  docs/docs/en/intlayer_with_nextjs_page_router.md
  docs/docs/en/packages/react-intlayer/exports.md
  docs/docs/en/readme.md
  docs/docs/en/releases/v7.md
Due: prettier --write

chore(backend): update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/content_file.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/how_works_intlayer.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_adonisjs.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_elysia.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_express.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_fastify.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_hono.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_14.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_15.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_page_router.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/react-intlayer/exports.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/readme.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/releases/v7.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): add test for unquoted array attribute value in fenced code block
  packages/@intlayer/core/src/markdown/compiler.test.ts
  packages/@intlayer/core/src/markdown/constants.ts
  packages/@intlayer/design-system/src/components/IDE/Code.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(cli): re-translate keys whose source value changed in fill
  docs/docs/en/cli/fill.md
  packages/@intlayer/cli/src/fill/fill.ts
  packages/@intlayer/cli/src/fill/fillSourceSnapshot.test.ts
  packages/@intlayer/cli/src/fill/fillSourceSnapshot.ts
  packages/@intlayer/cli/src/fill/listTranslationsTasks.test.ts
  packages/@intlayer/cli/src/fill/listTranslationsTasks.ts
  packages/@intlayer/cli/src/fill/translateDictionary.test.ts
  packages/@intlayer/cli/src/fill/translateDictionary.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(cli): detect changed source values in fill with git, drop the journal
  docs/docs/en/cli/fill.md
  packages/@intlayer/cli/src/fill/fill.ts
  packages/@intlayer/cli/src/fill/fillSourceSnapshot.test.ts
  packages/@intlayer/cli/src/fill/fillSourceSnapshot.ts
  packages/@intlayer/cli/src/fill/listTranslationsTasks.test.ts
  packages/@intlayer/cli/src/fill/listTranslationsTasks.ts
  packages/@intlayer/cli/src/fill/sourceChanges.test.ts
  packages/@intlayer/cli/src/fill/sourceChanges.ts
  packages/@intlayer/cli/src/fill/translateDictionary.test.ts
  packages/@intlayer/cli/src/fill/translateDictionary.ts
  packages/@intlayer/config/src/loadExternalFile/loadExternalFile.ts
  packages/@intlayer/engine/src/listGitFiles.ts
  packages/@intlayer/engine/src/loadDictionaries/loadContentDeclaration.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(website): add additional domains to disavow list
  apps/website/public/disavow.txt
Due: none

chore: update package dependencies
  apps/app/package.json
  apps/backend/package.json
  apps/marketplace/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  examples/tanstack-start-app/package.json
  examples/vite-react-app/package.json
  package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chrome-extension/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/lsp/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): update playground locale handling and improve application URL generation
  apps/website/src/routes/{-$locale}/_playground/playground.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(cli): log why fill skips source change detection when git is unavailable
  docs/docs/en/cli/fill.md
  packages/@intlayer/cli/src/fill/fill.ts
  packages/@intlayer/cli/src/fill/sourceChanges.test.ts
  packages/@intlayer/cli/src/fill/sourceChanges.ts
  packages/@intlayer/engine/src/listGitFiles.test.ts
  packages/@intlayer/engine/src/listGitFiles.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(backend): implement reset functionality for demo resources on server start
  apps/backend/src/controllers/demo.controller.ts
  apps/backend/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(backend): enhance dictionary synchronization and content declaration rendering
  apps/app/src/components/Dashboard/DictionaryListDashboard/SourceSyncStatus.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.content.ts
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.tsx
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/BuildSettings.tsx
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/buildSettings.content.ts
  apps/backend/src/controllers/dictionary.controller.ts
  apps/backend/src/index.ts
  apps/backend/src/schemas/dictionary.schema.ts
  apps/backend/src/schemas/project.schema.ts
  apps/backend/src/services/bitbucket.service.ts
  apps/backend/src/services/ci.service.ts
  apps/backend/src/services/dictionary.service.ts
  apps/backend/src/services/sourceSync/commitMessage.test.ts
  apps/backend/src/services/sourceSync/commitMessage.ts
  apps/backend/src/services/sourceSync/gitRepository.ts
  apps/backend/src/services/sourceSync/sourceSync.test.ts
  apps/backend/src/services/sourceSync/sourceSyncQueue.ts
  apps/backend/src/services/sourceSync/syncDictionariesToSource.test.ts
  apps/backend/src/services/sourceSync/syncDictionariesToSource.ts
  apps/backend/src/services/translationWorker.service.ts
  apps/backend/src/services/webhook.service.ts
  apps/backend/src/types/dictionary.types.ts
  apps/backend/src/types/project.types.ts
  packages/@intlayer/backend-contract/src/dictionary.ts
  packages/@intlayer/backend-contract/src/project.ts
  packages/@intlayer/engine/package.json
  packages/@intlayer/engine/src/writeContentDeclaration/index.ts
  packages/@intlayer/engine/src/writeContentDeclaration/processContentDeclarationContent.ts
  packages/@intlayer/engine/src/writeContentDeclaration/renderContentDeclaration.test.ts
  packages/@intlayer/engine/src/writeContentDeclaration/renderContentDeclaration.ts
  packages/@intlayer/engine/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/engine/src/writeContentDeclaration/writeMarkdownFile.ts
  packages/@intlayer/engine/src/writeContentDeclaration/writeYamlFile.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(intlayer-editor): integrate Bearer authentication and enhance editor login flow
  bun.lock
  packages/@intlayer/api/src/types.ts
  packages/@intlayer/cli/src/auth/login.ts
  packages/@intlayer/cli/src/index.ts
  packages/@intlayer/design-system/src/api/hooks/utils.ts
  packages/@intlayer/design-system/src/api/useAuth/BearerAuthProvider.tsx
  packages/@intlayer/design-system/src/api/useAuth/index.ts
  packages/@intlayer/design-system/src/api/useAuth/useAuth.ts
  packages/@intlayer/design-system/src/api/useIntlayerAPI.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/SaveForm/SaveForm.tsx
  packages/intlayer-editor/client/src/App.tsx
  packages/intlayer-editor/client/src/components/AppProvider.tsx
  packages/intlayer-editor/client/src/components/Editor/HostFrameBridge.tsx
  packages/intlayer-editor/client/src/components/EditorAuthProvider.tsx
  packages/intlayer-editor/package.json
  packages/intlayer-editor/server/src/controllers/auth.controller.test.ts
  packages/intlayer-editor/server/src/controllers/auth.controller.ts
  packages/intlayer-editor/server/src/controllers/configuration.controller.ts
  packages/intlayer-editor/server/src/index.ts
  packages/intlayer-editor/server/src/routes/auth.routes.ts
  packages/intlayer-editor/server/src/services/editorAuth.service.test.ts
  packages/intlayer-editor/server/src/services/editorAuth.service.ts
  packages/intlayer-editor/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write
