Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

feat(github): integrate GitHub repository management features including authentication, configuration checks, and file retrieval
  apps/backend/package.json
  apps/backend/src/controllers/ai.controller.ts
  apps/backend/src/controllers/github.controller.ts
  apps/backend/src/controllers/project.controller.ts
  apps/backend/src/export.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/github.routes.ts
  apps/backend/src/schemas/project.schema.ts
  apps/backend/src/services/github.service.ts
  apps/backend/src/types/project.types.ts
  apps/backend/src/utils/errors/errorCodes.ts
  apps/backend/src/utils/mapper/project.ts
  apps/website/intlayer.config.ts
  apps/website/src/components/Dashboard/ProjectForm/GithubRepository/ConfigPreviewModal.tsx
  apps/website/src/components/Dashboard/ProjectForm/GithubRepository/ConfigSelectionModal.tsx
  apps/website/src/components/Dashboard/ProjectForm/GithubRepository/RepositoryItem.tsx
  apps/website/src/components/Dashboard/ProjectForm/GithubRepository/RepositoryList.tsx
  apps/website/src/components/Dashboard/ProjectForm/GithubRepository/githubRepositoryLink.content.ts
  apps/website/src/components/Dashboard/ProjectForm/GithubRepository/index.tsx
  apps/website/src/components/Dashboard/ProjectForm/GithubRepository/types.ts
  apps/website/src/components/Dashboard/ProjectForm/GithubRepository/useGithubRepository.ts
  apps/website/src/components/Dashboard/ProjectForm/ProjectForm.tsx
  apps/website/src/components/Dashboard/ProjectForm/githubRepositoryLink.content.ts
  bun.lock
  packages/@intlayer/ai/src/aiSdk.ts
  packages/@intlayer/api/package.json
  packages/@intlayer/api/src/getIntlayerAPI/github.ts
  packages/@intlayer/api/src/getIntlayerAPI/index.ts
  packages/@intlayer/api/src/index.ts
  packages/@intlayer/api/src/proxy.ts
  packages/@intlayer/design-system/src/components/KeyboardShortcut/KeyboardShortcut.tsx
  packages/@intlayer/design-system/src/hooks/reactQuery.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(backend): log dotenv configuration details during server startup for improved debugging
  apps/backend/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: fix auth
  apps/backend/package.json
  apps/backend/src/index.ts
  apps/backend/src/utils/auth/getAuth.ts
  apps/website/src/components/Auth/ExternalsLoginButtons/ExternalsLoginButtons.tsx
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(intlayer): comment out environment variable URLs for clarity and future configuration
  apps/app/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(backend): exclude apps/app from Docker build context to streamline image creation
  apps/backend/Dockerfile
Due: none

feat(app): enhance LandingLayout to include a dynamic DashboardFooter with formatted footer links
  apps/app/src/app/[locale]/(other)/layout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(auth): add alternative login methods with Bitbucket and GitLab support, enhance externals login buttons, and update sign-in form integration
  apps/app/src/components/Auth/AlternativeLoginMethods.tsx
  apps/app/src/components/Auth/ExternalsLoginButtons/ExternalsLoginButtons.tsx
  apps/app/src/components/Auth/ExternalsLoginButtons/assets/BitbucketLogo.tsx
  apps/app/src/components/Auth/ExternalsLoginButtons/assets/GitLabLogo.tsx
  apps/app/src/components/Auth/ExternalsLoginButtons/externalsLoginButtons.content.ts
  apps/app/src/components/Auth/SignIn/SignInForm/SignInForm.tsx
  apps/backend/.env.template
  apps/backend/src/utils/auth/getAuth.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: update applicationNotRunningView content to reflect new cmsUrl for local and remote server configurations
  apps/app/src/components/Dashboard/Editor/ApplicationNotRunningView/applicationNotRunningView.content.ts
  apps/website/src/components/Dashboard/Editor/ApplicationNotRunningView/applicationNotRunningView.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(cms): add CMS landing page with multilingual support, update routing, and enhance sitemap integration
  apps/website/package.json
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/(landing)/cms/metadata.content.ts
  apps/website/src/app/[locale]/(landing)/cms/metadata.ts
  apps/website/src/app/[locale]/(landing)/cms/page.tsx
  apps/website/src/app/[locale]/(landing)/contributors/contributors.api.ts
  apps/website/src/app/[locale]/(landing)/contributors/page.tsx
  apps/website/src/app/sitemap.ts
  apps/website/src/components/CMSLandingPage/cms-landing.content.ts
  apps/website/src/components/CMSLandingPage/index.tsx
  apps/website/src/components/LandingPage/ContributorSection/ContributorCloud.tsx
  apps/website/src/components/LandingPage/ContributorSection/index.tsx
  packages/@intlayer/design-system/src/components/Link/Link.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website): add TMS landing page with multilingual metadata, update routing, and enhance design system links
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/(landing)/tms/metadata.content.ts
  apps/website/src/app/[locale]/(landing)/tms/metadata.ts
  apps/website/src/app/[locale]/(landing)/tms/page.tsx
  apps/website/src/components/TMSLandingPage/index.tsx
  apps/website/src/components/TMSLandingPage/tms-landing.content.ts
  packages/@intlayer/design-system/src/components/Link/Link.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add missing line breaks in various files for consistency and readability
  apps/website/src/app/sitemap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): move cn import to correct path for improved modularity
  packages/@intlayer/design-system/src/components/LanguageBackground/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(gitattributes): update line ending settings and explicitly define binary file types for images
  .gitattributes
Due: none

chore(assets): update multiple image files for improved visual consistency and add new javascript_content_management.png for documentation
  apps/website/public/cover.png
  apps/website/public/github-social-preview.png
  apps/website/public/manifest-icon-192.maskable.png
  apps/website/public/manifest-icon-512.maskable.png
  docs/assets/javascript_content_management.png
  docs/assets/logo.png
Due: none

feat(website): implement CMS and TMS landing pages with modular sections for improved user experience and maintainability
  apps/website/src/components/CMSLandingPage/ComingSoonSection.tsx
  apps/website/src/components/CMSLandingPage/ContentDeliverySection.tsx
  apps/website/src/components/CMSLandingPage/FeaturesSection.tsx
  apps/website/src/components/CMSLandingPage/FinalCTASection.tsx
  apps/website/src/components/CMSLandingPage/HeroSection.tsx
  apps/website/src/components/CMSLandingPage/IntegrationSection.tsx
  apps/website/src/components/CMSLandingPage/ValuePropsSection.tsx
  apps/website/src/components/CMSLandingPage/index.tsx
  apps/website/src/components/TMSLandingPage/ComparisonSection.tsx
  apps/website/src/components/TMSLandingPage/FeaturesSection.tsx
  apps/website/src/components/TMSLandingPage/FinalCTASection.tsx
  apps/website/src/components/TMSLandingPage/HeroSection.tsx
  apps/website/src/components/TMSLandingPage/PainPointsSection.tsx
  apps/website/src/components/TMSLandingPage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): enhance landing pages with new Products and Feature Flags sections, update metadata content for CMS and TMS, and refactor component imports for improved modularity
  apps/website/src/app/[locale]/(landing)/cms/metadata.content.ts
  apps/website/src/app/[locale]/(landing)/tms/metadata.content.ts
  apps/website/src/components/CMSLandingPage/index.tsx
  apps/website/src/components/LandingPage/AIABTestingSection/index.tsx
  apps/website/src/components/LandingPage/AuditSection/index.tsx
  apps/website/src/components/LandingPage/ProductsSection/AIABTestingSection/ai-ab-testing-section.content.ts
  apps/website/src/components/LandingPage/ProductsSection/AIABTestingSection/index.tsx
  apps/website/src/components/LandingPage/ProductsSection/CMSSection/cms-section.content.ts
  apps/website/src/components/LandingPage/ProductsSection/CMSSection/index.tsx
  apps/website/src/components/LandingPage/ProductsSection/FeatureFlagsSection/feature-flags-section.content.ts
  apps/website/src/components/LandingPage/ProductsSection/FeatureFlagsSection/index.tsx
  apps/website/src/components/LandingPage/ProductsSection/I18nCodebaseSection/i18n-codebase-section.content.ts
  apps/website/src/components/LandingPage/ProductsSection/I18nCodebaseSection/index.tsx
  apps/website/src/components/LandingPage/ProductsSection/TMSSection/index.tsx
  apps/website/src/components/LandingPage/ProductsSection/TMSSection/tms-section.content.ts
  apps/website/src/components/LandingPage/ProductsSection/index.tsx
  apps/website/src/components/LandingPage/index.tsx
  apps/website/src/components/TMSLandingPage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): update metadata content for i18n solutions across multiple languages to enhance clarity and consistency
  apps/website/src/app/[locale]/metadata.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): update metadata content for TMS and i18n solutions to include "Intlayer" branding and improve clarity across multiple languages
  apps/website/src/app/[locale]/(landing)/tms/metadata.content.ts
  apps/website/src/app/[locale]/metadata.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs(readme): add links to contribute on GitHub, GitLab, and Bitbucket for improved accessibility
  README.md
Due: prettier --write

fix(website): set initial index for Carousel in ProductsSection to improve user experience
  apps/website/src/components/LandingPage/ProductsSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(core): implement safe fallback proxy for missing dictionaries to enhance error handling and prevent application crashes
  packages/@intlayer/core/src/interpreter/getIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(core): modify getIntlayer to log warnings for missing dictionaries in development and return safe fallback proxy conditionally
  packages/@intlayer/core/src/interpreter/getIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

build(swc): update intlayer_swc_plugin.wasm binary for wasm32-wasip1 target
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

fix(website): add 'app.intlayer.org' to frameAncestors in security headers for improved content security policy
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): fix frameSrc directive in content security policy to allow all sources
  apps/app/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add CORS headers to next.config.ts for improved API access
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): refactor ProductsSection to use ProductSectionLayout for improved code organization and maintainability
  apps/website/src/components/LandingPage/ProductsSection/AIABTestingSection/index.tsx
  apps/website/src/components/LandingPage/ProductsSection/CMSSection/index.tsx
  apps/website/src/components/LandingPage/ProductsSection/FeatureFlagsSection/index.tsx
  apps/website/src/components/LandingPage/ProductsSection/I18nCodebaseSection/index.tsx
  apps/website/src/components/LandingPage/ProductsSection/ProductSectionLayout.tsx
  apps/website/src/components/LandingPage/ProductsSection/TMSSection/index.tsx
  apps/website/src/components/LandingPage/ProductsSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(robots): update sitemap configuration to support multiple domains for improved SEO
  apps/app/src/app/robots.ts
  apps/website/src/app/robots.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(footer): update copyright year in footer to 2026 for accuracy
  packages/@intlayer/design-system/src/components/Footer/footer.stories.tsx
  packages/@intlayer/design-system/src/components/Footer/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
