Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

fix(next-intlayer): add helper process detection to content watcher
  packages/next-intlayer/src/server/startContentWatcher.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update disavow list
  apps/website/public/disavow.txt
Due: none

fix(intlayer): improve type safety for internationalization and routing configurations
  packages/@intlayer/config/src/built.ts
  packages/@intlayer/core/src/localization/getPrefix.ts
  packages/intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(react-intlayer): move locale const out of useLocale hook
  packages/angular-intlayer/src/client/useLocale.ts
  packages/next-intlayer/src/server/useLocale.ts
  packages/preact-intlayer/src/client/useLocale.ts
  packages/react-intlayer/src/client/useLocale.ts
  packages/react-intlayer/src/server/useLocale.ts
  packages/solid-intlayer/src/client/useLocale.ts
  packages/svelte-intlayer/src/client/useLocale.ts
  packages/vanilla-intlayer/src/client/useLocale.ts
  packages/vue-intlayer/src/client/useLocale.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(cli): improve type safety in pushConfig
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/pushConfig.ts
  packages/@intlayer/mcp/src/tools/api.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(docs): update references to next-intlayer in content watcher documentation
  docs/docs/ar/intlayer_with_nextjs_15.md
  docs/docs/ar/intlayer_with_nextjs_16.md
  docs/docs/de/intlayer_with_nextjs_15.md
  docs/docs/de/intlayer_with_nextjs_16.md
  docs/docs/en-GB/intlayer_with_nextjs_15.md
  docs/docs/en-GB/intlayer_with_nextjs_16.md
  docs/docs/en/intlayer_with_nextjs_15.md
  docs/docs/en/intlayer_with_nextjs_16.md
  docs/docs/es/intlayer_with_nextjs_15.md
  docs/docs/es/intlayer_with_nextjs_16.md
  docs/docs/fr/intlayer_with_nextjs_15.md
  docs/docs/fr/intlayer_with_nextjs_16.md
  docs/docs/hi/intlayer_with_nextjs_15.md
  docs/docs/hi/intlayer_with_nextjs_16.md
  docs/docs/id/intlayer_with_nextjs_15.md
  docs/docs/id/intlayer_with_nextjs_16.md
  docs/docs/it/intlayer_with_nextjs_15.md
  docs/docs/it/intlayer_with_nextjs_16.md
  docs/docs/ja/intlayer_with_nextjs_15.md
  docs/docs/ja/intlayer_with_nextjs_16.md
  docs/docs/pl/intlayer_with_nextjs_15.md
  docs/docs/pl/intlayer_with_nextjs_16.md
  docs/docs/pt/intlayer_with_nextjs_15.md
  docs/docs/pt/intlayer_with_nextjs_16.md
  docs/docs/ru/intlayer_with_nextjs_15.md
  docs/docs/ru/intlayer_with_nextjs_16.md
  docs/docs/tr/intlayer_with_nextjs_15.md
  docs/docs/tr/intlayer_with_nextjs_16.md
  docs/docs/uk/intlayer_with_nextjs_15.md
  docs/docs/uk/intlayer_with_nextjs_16.md
  docs/docs/vi/intlayer_with_nextjs_15.md
  docs/docs/vi/intlayer_with_nextjs_16.md
  docs/docs/zh/intlayer_with_nextjs_15.md
  docs/docs/zh/intlayer_with_nextjs_16.md
Due: prettier --write

refactor(next-intlayer): clean watcher in next-intlayer
  bun.lock
  packages/@intlayer/cli/src/build.ts
  packages/@intlayer/cli/src/watch.ts
  packages/@intlayer/engine/src/init/utils/devScript.ts
  packages/@intlayer/engine/src/utils/contentWatcherLock.test.ts
  packages/@intlayer/engine/src/utils/contentWatcherLock.ts
  packages/next-intlayer/package.json
  packages/next-intlayer/src/rsc/index.ts
  packages/next-intlayer/src/server/startContentWatcher.ts
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website): implement dynamic Open Graph image generation and integrate SEO metadata across site routes
  apps/website/package.json
  apps/website/public/thumbnail.jpeg
  apps/website/src/routeTree.gen.ts
  apps/website/src/routes/__root.tsx
  apps/website/src/routes/api/og.ts
  apps/website/src/routes/{-$locale}/_docs/blog/$.tsx
  apps/website/src/routes/{-$locale}/_docs/doc/$.tsx
  apps/website/src/routes/{-$locale}/index.tsx
  apps/website/src/routes/{-$locale}/route.tsx
  apps/website/src/utils/generateOgImage.tsx
  apps/website/src/utils/seo.ts
  apps/website/vite.config.ts
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(babel): restore editor in bundle optimization
  packages/@intlayer/babel/src/babel-plugin-intlayer-optimize.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-optimize.ts
  packages/@intlayer/babel/src/getOptimizePluginOptions.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(swc): restore editor in bundle optimization
  packages/@intlayer/swc/src/tests/optimize_tests.rs
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

fix(website): fix og image
  apps/website/public/assets/logo.png
  apps/website/src/routes/__root.tsx
  apps/website/src/routes/api/og.ts
  apps/website/src/routes/{-$locale}/_docs/blog/$.tsx
  apps/website/src/routes/{-$locale}/_docs/doc/$.tsx
  apps/website/src/routes/{-$locale}/index.tsx
  apps/website/src/routes/{-$locale}/route.tsx
  apps/website/src/utils/generateOgImage.test.ts
  apps/website/src/utils/generateOgImage.tsx
  apps/website/src/utils/ogAssets.ts
  apps/website/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add remix implementation
  apps/website/public/logo.png
  apps/website/src/components/DocPage/FrameworkFilter/index.tsx
  apps/website/src/components/DocPage/docData.content.ts
  apps/website/src/components/LandingPage/HeroSection/TechLogos.tsx
  bun.lock
  docs/docs/en/intlayer_with_remix_3.md
  docs/src/generated/docs.entry.ts
  examples/remix-3-app/.gitignore
  examples/remix-3-app/intlayer.config.ts
  examples/remix-3-app/package.json
  examples/remix-3-app/src/middleware/intlayer.ts
  examples/remix-3-app/src/routes.ts
  examples/remix-3-app/src/server.ts
  examples/remix-3-app/src/views/about.content.ts
  examples/remix-3-app/src/views/about.ts
  examples/remix-3-app/src/views/common.content.ts
  examples/remix-3-app/src/views/home.content.ts
  examples/remix-3-app/src/views/home.ts
  examples/remix-3-app/src/views/layout.ts
  examples/remix-3-app/tsconfig.json
  packages/@intlayer/core/src/utils/getCookie.ts
  packages/@intlayer/design-system/src/routes.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: remove styles from remix doc
  docs/docs/en/intlayer_with_remix_3.md
Due: prettier --write

chore(backend): update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_15.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_16.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_remix_3.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add Remix 3 example with updated dev script using intlayer watch
  examples/remix-3-app/README.md
  examples/remix-3-app/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: update Remix 3 guide with interactive embeds and simplify middleware logic
  docs/docs/en/intlayer_with_remix_3.md
  examples/remix-3-app/src/middleware/intlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: fix build
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_remix_3.json
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(mcp): update @ai-sdk/mcp dependency to version 2.0.46
  bun.lock
  packages/@intlayer/mcp/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): update Remix section to simplify structure and enhance clarity
  apps/website/src/components/DocPage/docData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): replace div with Container component for improved layout in CommonQuestionsSection
  apps/website/src/components/LandingPage/CommonQuestionsSection/CommonQuestions.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): implement i18n benchmarking component with library comparisons and performance metrics
  apps/website/src/components/I18nBenchmark/ChartComponent.tsx
  apps/website/src/components/I18nBenchmark/LibLogo.tsx
  apps/website/src/components/I18nBenchmark/constants.tsx
  apps/website/src/components/I18nBenchmark/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add blog post on i18n history and initialize related multilingual documentation entries
  apps/website/src/components/BlogPage/blogData.content.ts
  docs/assets/cloud_i18n_logo.png
  docs/assets/history_i18n.png
  docs/blog/en-GB/history_of_i18n.md
  docs/blog/en/history_of_i18n.md
  docs/blog/es/history_of_i18n.md
  docs/blog/fr/history_of_i18n.md
  docs/docs/ar/intlayer_with_remix_3.md
  docs/docs/de/intlayer_with_remix_3.md
  docs/docs/en-GB/intlayer_with_remix_3.md
  docs/docs/es/intlayer_with_remix_3.md
  docs/docs/fr/intlayer_with_remix_3.md
  docs/docs/hi/intlayer_with_remix_3.md
  docs/docs/id/intlayer_with_remix_3.md
  docs/docs/it/intlayer_with_remix_3.md
  docs/docs/ja/intlayer_with_remix_3.md
  docs/docs/ko/intlayer_with_remix_3.md
  docs/docs/pl/intlayer_with_remix_3.md
  docs/docs/pt/intlayer_with_remix_3.md
  docs/docs/ru/intlayer_with_remix_3.md
  docs/docs/tr/intlayer_with_remix_3.md
  docs/docs/uk/intlayer_with_remix_3.md
  docs/docs/vi/intlayer_with_remix_3.md
  docs/docs/zh/intlayer_with_remix_3.md
  docs/src/generated/blog.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: add history of i18n blog post in multiple languages
  docs/blog/ar/history_of_i18n.md
  docs/blog/de/history_of_i18n.md
  docs/blog/hi/history_of_i18n.md
  docs/blog/id/history_of_i18n.md
  docs/blog/it/history_of_i18n.md
  docs/blog/ja/history_of_i18n.md
  docs/blog/ko/history_of_i18n.md
  docs/blog/pl/history_of_i18n.md
  docs/blog/pt/history_of_i18n.md
  docs/blog/ru/history_of_i18n.md
  docs/blog/tr/history_of_i18n.md
  docs/blog/uk/history_of_i18n.md
  docs/blog/vi/history_of_i18n.md
  docs/blog/zh/history_of_i18n.md
Due: prettier --write

fix(website): add vite plugin to manually resolve and copy missing hb.wasm for @vercel/og
  apps/website/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update disavow.txt with additional domains for SEO management
  apps/website/public/disavow.txt
Due: none

docs: update Remix 3 integration guide to reflect transition from HTML templates to JSX-based UI components
  docs/docs/ar/intlayer_with_remix_3.md
  docs/docs/de/intlayer_with_remix_3.md
  docs/docs/en-GB/intlayer_with_remix_3.md
  docs/docs/en/intlayer_with_remix_3.md
  docs/docs/es/intlayer_with_remix_3.md
  docs/docs/fr/intlayer_with_remix_3.md
  docs/docs/hi/intlayer_with_remix_3.md
  docs/docs/id/intlayer_with_remix_3.md
  docs/docs/it/intlayer_with_remix_3.md
  docs/docs/ja/intlayer_with_remix_3.md
  docs/docs/ko/intlayer_with_remix_3.md
  docs/docs/pl/intlayer_with_remix_3.md
  docs/docs/pt/intlayer_with_remix_3.md
  docs/docs/ru/intlayer_with_remix_3.md
  docs/docs/tr/intlayer_with_remix_3.md
  docs/docs/uk/intlayer_with_remix_3.md
  docs/docs/vi/intlayer_with_remix_3.md
  docs/docs/zh/intlayer_with_remix_3.md
Due: prettier --write

fix(website): replace @vercel/og by @resvg/resvg-wasm
  apps/website/package.json
  apps/website/src/routes/api/og.ts
  apps/website/src/utils/generateOgImage.test.ts
  apps/website/src/utils/generateOgImage.tsx
  apps/website/vite.config.ts
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(compat): replace resolveMessage with resolveMessageNodeToString for improved performance and clarity
  compat/i18next/src/createInstance.ts
  compat/i18next/src/index.ts
  compat/i18next/src/resolveTranslation.ts
  compat/lingui/src/I18nClass.ts
  compat/next-i18next/src/appWithTranslation.tsx
  compat/next-intl/src/client/NextIntlClientProvider.tsx
  compat/react-i18next/src/createTranslationApi.ts
  compat/react-intl/src/createIntlObject.tsx
  compat/use-intl/src/shared/namespaceTranslator.test.ts
  compat/use-intl/src/shared/namespaceTranslator.tsx
  packages/@intlayer/core/src/messageFormat/resolveMessage.test.ts
  packages/@intlayer/core/src/messageFormat/resolveMessage.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(backend): update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/history_of_i18n.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/i18n-js.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/i18next.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/lingui.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/next-i18next.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/next-intl.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/next-translate.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/ngx-translate.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/nuxtjs-i18n.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/polyglot.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/react-i18next.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/react-intl.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/svelte-i18n.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/transloco.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/compat/vue-i18n.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_remix_3.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): improve youtube iframe
  apps/website/vite.config.ts
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownIframe.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/index.ts
  packages/@intlayer/design-system/src/components/MarkDownRender/youtubeUrl.test.ts
  packages/@intlayer/design-system/src/components/MarkDownRender/youtubeUrl.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): update blog nav list order
  apps/website/src/components/BlogPage/blogData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(lingui): improve compat optimization for Lingui integration
  compat/lingui/src/I18nClass.test.ts
  compat/lingui/src/I18nClass.ts
  compat/lingui/src/Trans.tsx
  compat/lingui/src/index.ts
  compat/lingui/src/registryLookup.ts
  compat/lingui/src/useDictionary.ts
  compat/lingui/src/useDictionaryDynamic.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-optimize.compat.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-optimize.ts
  packages/@intlayer/babel/src/compat/optimizePass.ts
  packages/@intlayer/config/src/callers/compat/lingui.ts
  packages/@intlayer/config/src/callers/transform.ts
  packages/@intlayer/config/src/callers/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add support for Vue I18n compatibility logos
  apps/website/src/components/I18nBenchmark/constants.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(vue-intlayer): add vue devtools inspector for dictionaries
  bun.lock
  packages/vue-intlayer/package.json
  packages/vue-intlayer/src/client/installIntlayer.ts
  packages/vue-intlayer/src/devtools/formatDictionaryForInspector.test.ts
  packages/vue-intlayer/src/devtools/formatDictionaryForInspector.ts
  packages/vue-intlayer/src/devtools/index.test.ts
  packages/vue-intlayer/src/devtools/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website): animate the navbar GitHub star count
  apps/website/src/components/Navbar/GithubStarCount.test.tsx
  apps/website/src/components/Navbar/GithubStarCount.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
