Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

feat: rename newsletter subscription function to 'stuffFromServer' and update logging to reflect current locale usage
  docs/blog/en/i18n_using_next-i18next.md
Due: prettier --write

feat: update DemoCodeSandbox to use a constant for the repository path and enhance blog documentation with best practices for internationalization
  apps/website/src/components/LandingPage/DemoSection/DemoCodeSandbox/index.tsx
  docs/blog/en/i18n_using_next-i18next.md
  docs/blog/en/i18n_using_with_next-intl.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: remove redundant importance explanations in i18n documentation for clarity and conciseness
  docs/blog/en/i18n_using_next-i18next.md
  docs/blog/en/i18n_using_with_next-intl.md
Due: prettier --write

feat: enhance i18n documentation with updated project structure, new locale handling functions, and improved component organization for better clarity and usability
  docs/blog/en/i18n_using_next-i18next.md
  docs/blog/en/i18n_using_with_next-intl.md
Due: prettier --write

feat: add multilingual blog entries for i18n using next-i18next and next-intl, enhancing documentation across various languages
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/i18n_using_next-i18next.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/i18n_using_next-intl.json
  docs/blog/ar/i18n_using_next-i18next.md
  docs/blog/ar/i18n_using_next-intl.md
  docs/blog/de/i18n_using_next-i18next.md
  docs/blog/de/i18n_using_next-intl.md
  docs/blog/en-GB/i18n_using_next-i18next.md
  docs/blog/en-GB/i18n_using_next-intl.md
  docs/blog/en/i18n_using_next-intl.md
  docs/blog/es/i18n_using_next-i18next.md
  docs/blog/es/i18n_using_next-intl.md
  docs/blog/fr/i18n_using_next-i18next.md
  docs/blog/fr/i18n_using_next-intl.md
  docs/blog/hi/i18n_using_next-i18next.md
  docs/blog/hi/i18n_using_next-intl.md
  docs/blog/id/i18n_using_next-i18next.md
  docs/blog/id/i18n_using_next-intl.md
  docs/blog/it/i18n_using_next-i18next.md
  docs/blog/it/i18n_using_next-intl.md
  docs/blog/ja/i18n_using_next-i18next.md
  docs/blog/ja/i18n_using_next-intl.md
  docs/blog/ko/i18n_using_next-i18next.md
  docs/blog/ko/i18n_using_next-intl.md
  docs/blog/pl/i18n_using_next-i18next.md
  docs/blog/pl/i18n_using_next-intl.md
  docs/blog/pt/i18n_using_next-i18next.md
  docs/blog/pt/i18n_using_next-intl.md
  docs/blog/ru/i18n_using_next-i18next.md
  docs/blog/ru/i18n_using_next-intl.md
  docs/blog/tr/i18n_using_next-i18next.md
  docs/blog/tr/i18n_using_next-intl.md
  docs/blog/vi/i18n_using_next-i18next.md
  docs/blog/vi/i18n_using_next-intl.md
  docs/blog/zh/i18n_using_next-i18next.md
  docs/blog/zh/i18n_using_next-intl.md
  docs/src/generated/blog.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add demo iframes and update application template links across various Intlayer setup guides for enhanced user experience and accessibility
  docs/docs/en/intlayer_with_astro.md
  docs/docs/en/intlayer_with_create_react_app.md
  docs/docs/en/intlayer_with_lynx+react.md
  docs/docs/en/intlayer_with_nestjs.md
  docs/docs/en/intlayer_with_nextjs_14.md
  docs/docs/en/intlayer_with_nextjs_15.md
  docs/docs/en/intlayer_with_nextjs_16.md
  docs/docs/en/intlayer_with_nuxt.md
  docs/docs/en/intlayer_with_react_native+expo.md
  docs/docs/en/intlayer_with_react_router_v7.md
  docs/docs/en/intlayer_with_tanstack.md
  docs/docs/en/intlayer_with_vite+preact.md
  docs/docs/en/intlayer_with_vite+react.md
  docs/docs/en/intlayer_with_vite+vue.md
Due: prettier --write

feat: update AI embeddings JSON files with new data structures for improved performance and accuracy in document question answering
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nuxt.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_tanstack.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+react.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: correct file paths in blog metadata and update alternative guide links for consistency across multiple languages
  apps/website/src/components/BlogPage/blogData.content.ts
  docs/blog/ar/i18n_using_next-i18next.md
  docs/blog/de/i18n_using_next-i18next.md
  docs/blog/en-GB/i18n_using_next-i18next.md
  docs/blog/en/i18n_using_next-i18next.md
  docs/blog/es/i18n_using_next-i18next.md
  docs/blog/fr/i18n_using_next-i18next.md
  docs/blog/hi/i18n_using_next-i18next.md
  docs/blog/id/i18n_using_next-i18next.md
  docs/blog/it/i18n_using_next-i18next.md
  docs/blog/ja/i18n_using_next-i18next.md
  docs/blog/ko/i18n_using_next-i18next.md
  docs/blog/pl/i18n_using_next-i18next.md
  docs/blog/pt/i18n_using_next-i18next.md
  docs/blog/ru/i18n_using_next-i18next.md
  docs/blog/tr/i18n_using_next-i18next.md
  docs/blog/vi/i18n_using_next-i18next.md
  docs/blog/zh/i18n_using_next-i18next.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add audit page and related components for multilingual i18n scanning functionality
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/(audit)/audit/metadata.content.ts
  apps/website/src/app/[locale]/(audit)/audit/metadata.ts
  apps/website/src/app/[locale]/(audit)/audit/page.content.ts
  apps/website/src/app/[locale]/(audit)/audit/page.tsx
  apps/website/src/app/[locale]/(audit)/layout.tsx
  apps/website/src/app/sitemap.ts
  apps/website/src/components/AuditPage/index.tsx
  apps/website/src/components/LandingPage/AuditSection.tsx
  apps/website/src/components/LandingPage/audit-section.content.ts
  apps/website/src/components/LandingPage/index.tsx
  src/app/[locale]/about/layout.tsx
  src/app/[locale]/about/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add tsx dependency to bun.lock and docs/package.json for improved TypeScript support
  bun.lock
  docs/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

Add components audit et api
  apps/website/package.json
  apps/website/src/app/[locale]/(audit)/audit/page.tsx
  apps/website/src/app/api/analyze/route.ts
  apps/website/src/components/AuditPage/Analyzer/AnalyzerForm.tsx
  apps/website/src/components/AuditPage/Analyzer/AnalyzerLoading.tsx
  apps/website/src/components/AuditPage/Analyzer/AnalyzerResults.tsx
  apps/website/src/components/AuditPage/LocalizationAnalyzer.tsx
  apps/website/src/components/AuditPage/index.tsx
  apps/website/src/components/LandingPage/AuditSection.tsx
  bun.lock
  package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

add dicitonnary
  apps/website/src/components/AuditPage/Analyzer/Form/AnalyzerForm.tsx
  apps/website/src/components/AuditPage/Analyzer/Form/analyzerForm.content.ts
  apps/website/src/components/AuditPage/Analyzer/Results/AnalyzerResults.tsx
  apps/website/src/components/AuditPage/Analyzer/Results/analyzerResults.content.ts
  apps/website/src/components/AuditPage/LocalizationAnalyzer.tsx
  apps/website/src/components/AuditPage/localizationAnalyzer.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

layout
  apps/website/src/components/AuditPage/LocalizationAnalyzer.tsx
  apps/website/src/components/AuditPage/localizationAnalyzer.content.ts
  apps/website/src/components/LandingPage/AIABTestingSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: remove About page and layout components for localization, streamlining i18n structure
  src/app/[locale]/about/layout.tsx
  src/app/[locale]/about/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: prevent rendering of empty headings in Table of Contents component
  apps/website/src/components/TableOfContents/TableOfContents.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: rename Audit page to Scanner and implement new localization features
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/(audit)/audit/metadata.content.ts
  apps/website/src/app/[locale]/(audit)/i18n-seo-scanner/metadata.content.ts
  apps/website/src/app/[locale]/(audit)/i18n-seo-scanner/metadata.ts
  apps/website/src/app/[locale]/(audit)/i18n-seo-scanner/page.content.ts
  apps/website/src/app/[locale]/(audit)/i18n-seo-scanner/page.tsx
  apps/website/src/app/api/analyze/route.ts
  apps/website/src/app/sitemap.ts
  apps/website/src/components/AuditPage/Analyzer/AnalyzerLoading.tsx
  apps/website/src/components/AuditPage/Analyzer/Form/AnalyzerForm.tsx
  apps/website/src/components/AuditPage/Analyzer/Form/analyzerForm.content.ts
  apps/website/src/components/AuditPage/Analyzer/Results/AnalyzerResults.tsx
  apps/website/src/components/AuditPage/Analyzer/Results/analyzerResults.content.ts
  apps/website/src/components/AuditPage/LocalizationAnalyzer.tsx
  apps/website/src/components/AuditPage/index.tsx
  apps/website/src/components/LandingPage/AuditSection.tsx
  apps/website/src/components/LandingPage/AuditSection/audit-section.content.ts
  apps/website/src/components/LandingPage/AuditSection/index.tsx
  apps/website/src/components/LandingPage/audit-section.content.ts
  apps/website/src/components/LandingPage/index.tsx
  apps/website/src/components/ScannerPage/Analyzer/AnalyzerLoading.tsx
  apps/website/src/components/ScannerPage/Analyzer/Form/AnalyzerForm.tsx
  apps/website/src/components/ScannerPage/Analyzer/Form/analyzerForm.content.ts
  apps/website/src/components/ScannerPage/Analyzer/Form/useAnalyzerUrlSchema.ts
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerResults.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/analyzerResults.content.ts
  apps/website/src/components/ScannerPage/LocalizationAnalyzer.tsx
  apps/website/src/components/ScannerPage/index.tsx
  apps/website/src/components/ScannerPage/localizationAnalyzer.content.ts
  docs/docs/en-GB/intlayer_with_angular.md
  docs/docs/en-GB/intlayer_with_express.md
  docs/docs/en-GB/intlayer_with_lynx+react.md
  docs/docs/en-GB/packages/next-intlayer/t.md
  packages/@intlayer/chokidar/src/handleContentDeclarationFileChange.ts
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/SocialNetworks/index.tsx
  packages/@intlayer/design-system/src/components/Tag/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: enhance SEO scanner with multilingual support and new analysis features
  apps/website/src/app/[locale]/(audit)/i18n-seo-scanner/page.content.ts
  apps/website/src/app/api/analyze/route.ts
  apps/website/src/components/LandingPage/AuditSection/audit-section.content.ts
  apps/website/src/components/LandingPage/AuditSection/index.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerPageResults.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerResults.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerSiteResults.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/BatchResults.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/PageGroupsList.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/RobotsSection.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/SitemapSection.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/analyzerResults.content.ts
  apps/website/src/components/ScannerPage/Analyzer/Results/types.ts
  apps/website/src/components/ScannerPage/Analyzer/Results/utils.ts
  apps/website/src/components/ScannerPage/LocalizationAnalyzer.tsx
  apps/website/src/providers/IntlayerMarkdownProvider.tsx
  packages/@intlayer/design-system/src/components/Input/Checkbox.tsx
  packages/@intlayer/design-system/src/components/Popover/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add audit data saving functionality to SEO analysis
  apps/website/.env.template
  apps/website/src/app/api/analyze/route.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: integrate audit functionality across backend and API layers
  apps/backend/src/controllers/audit.controller.ts
  apps/backend/src/export.ts
  apps/backend/src/index.ts
  apps/backend/src/models/audit.model.ts
  apps/backend/src/routes/audit.routes.ts
  apps/backend/src/schemas/audit.schema.ts
  apps/backend/src/services/audit.service.ts
  apps/backend/src/types/audit.types.ts
  apps/website/Dockerfile
  packages/@intlayer/api/src/getIntlayerAPI/audit.ts
  packages/@intlayer/api/src/getIntlayerAPI/index.ts
  packages/@intlayer/api/src/index.ts
  packages/@intlayer/api/src/proxy.ts
  packages/@intlayer/api/src/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: wrap LocalizationAnalyzer in Suspense for improved loading handling
  apps/website/src/app/[locale]/(audit)/i18n-seo-scanner/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: install Chrome browser for Puppeteer in Dockerfile
  apps/website/Dockerfile
Due: none

feat: update audit page content with new titles and descriptions for improved localization analysis
  apps/website/src/app/[locale]/(audit)/i18n-seo-scanner/page.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: enhance Dockerfile for Puppeteer by adding system dependencies and configuring Chromium usage
  apps/website/Dockerfile
Due: none

feat: configure Puppeteer to use a custom executable path and additional launch arguments for improved compatibility
  apps/website/src/app/api/analyze/route.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: update AuditSection to utilize localized URLs for improved navigation
  apps/website/src/components/LandingPage/AuditSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: move out puppeter and fix doc
  apps/backend/package.json
  apps/backend/src/index.ts
  apps/backend/src/routes/audit.routes.ts
  apps/backend/src/schemas/audit.schema.ts
  apps/backend/src/services/audit.service.ts
  apps/backend/src/types/audit.types.ts
  apps/website/.env.template
  apps/website/Dockerfile
  apps/website/src/app/api/analyze/route.ts
  apps/website/src/components/DocPage/ContributionMessage/index.tsx
  apps/website/src/components/DocPage/CopyMarkdownMessage/index.tsx
  apps/website/src/components/DocPage/History/index.tsx
  apps/website/src/components/DocPage/MCPMessage/index.tsx
  apps/website/src/components/DocPage/YoutubeVideoMessage/index.tsx
  apps/website/src/components/LandingPage/AIABTestingSection/index.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerPageResults.tsx
  apps/website/src/components/ScannerPage/LocalizationAnalyzer.tsx
  package.json
  packages/@intlayer/design-system/src/components/Popover/dynamic.tsx
  packages/@intlayer/design-system/src/components/Popover/index.tsx
  packages/@intlayer/design-system/src/components/Popover/static.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: remove unused localizationAnalyzer content and update layout structure for improved component organization
  apps/website/src/components/AuditPage/localizationAnalyzer.content.ts
  apps/website/src/components/LandingPage/AuditSection/index.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerPageResults.tsx
  apps/website/src/layouts/PageLayout.tsx
  apps/website/src/providers/IntlayerMarkdownProvider.tsx
  packages/@intlayer/design-system/src/components/SwitchSelector/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: initialize fileContent with import statement for module augmentation
  packages/@intlayer/chokidar/src/createType/createModuleAugmentation.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add scanner API URL to secure headers and enhance localization analyzer with new result components
  apps/website/next.config.ts
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerPageResults.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerResults.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerSiteResults.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/BatchResults.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/FieldItem.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/PageGroupsList.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/RobotsSection.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/SitemapSection.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/analyzerResults.content.ts
  apps/website/src/components/ScannerPage/Analyzer/Results/types.ts
  apps/website/src/components/ScannerPage/Analyzer/Results/utils.ts
  apps/website/src/components/ScannerPage/LocalizationAnalyzer.tsx
  apps/website/src/components/ScannerPage/localizationAnalyzer.content.ts
  apps/website/src/layouts/PageLayout.tsx
  packages/@intlayer/design-system/src/components/IDE/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump version to 7.0.6 across all packages for consistency and updates
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/types/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/astro-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
  plugins/sync-json-plugin/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump version to 7.0.7 across all packages for consistency and updates
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/types/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/astro-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
  plugins/sync-json-plugin/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: log global error in LocalizationAnalyzer and update error message for better user feedback
  apps/website/src/components/ScannerPage/LocalizationAnalyzer.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): adjust heading width and center alignment for improved layout in i18n-seo-scanner
  apps/website/src/app/[locale]/(audit)/i18n-seo-scanner/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): enhance LocalizationAnalyzer and Analyzer components for better loading state handling and error messaging
  apps/website/next.config.ts
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerSiteResults.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/FieldItem.tsx
  apps/website/src/components/ScannerPage/LocalizationAnalyzer.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
