Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

fix(website): center no content text when there are no search results SearchView
  apps/website/src/components/DocPage/Search/SearchView.tsx
Due: prettier --write, eslint --fix --cache

Docs: add quira dictionary
  docs/en/frequent_questions/quira_questionary.md
Due: prettier --write

feat(next-intlayer): integrate SWC plugin for improved internationalization and build process
  examples/nextjs-15-app/intlayer.config.ts
  examples/nextjs-15-app/next.config.ts
  examples/nextjs-15-app/package.json
  packages/@intlayer/babel/src/babel-plugin-intlayer.ts
  packages/@intlayer/swc/.cargo/config.toml
  packages/@intlayer/swc/.gitignore
  packages/@intlayer/swc/Cargo.lock
  packages/@intlayer/swc/Cargo.toml
  packages/@intlayer/swc/package.json
  packages/@intlayer/swc/src/lib.rs
  packages/next-intlayer/package.json
  packages/next-intlayer/src/server/withIntlayer.ts
  pnpm-lock.yaml
  scripts/package-build-order.mjs
Due: prettier --write, eslint --fix --cache

feat(babel): add 'intlayer' and '@intlayer/core' to PACKAGE_LIST for enhanced plugin functionality
  packages/@intlayer/babel/src/babel-plugin-intlayer.ts
Due: prettier --write, eslint --fix --cache

fix(next-intlayer): streamline getPruneConfig by removing unused baseDir and change required by ESMxCJSRequire
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

refactor(swc): disable DEBUG_LOG and update useIntlayer condition for improved function handling
  packages/@intlayer/swc/src/lib.rs
Due: none

refactor(babel): simplify useIntlayer call and enhance Babel plugin for dictionary optimization
  examples/vite-react-app/src/App.tsx
  packages/@intlayer/babel/src/babel-plugin-intlayer.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: prettier --write, eslint --fix --cache

refactor(next-15-app): remove unused isExternalLinkProp from Link component
  examples/nextjs-15-app/src/components/Link/Link.tsx
Due: prettier --write, eslint --fix --cache

chore(website): add @intlayer/swc to devDependencies in package.json
  apps/website/package.json
Due: prettier --write

refactor(vite-intlayer): remove console log from IntlayerPrunePlugin for cleaner output
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: prettier --write, eslint --fix --cache

chore(swc): bump version to 5.5.2 in package.json
  packages/@intlayer/swc/package.json
Due: prettier --write

core: update packages lockfile
  pnpm-lock.yaml
Due: prettier --write

refactor(editor): optimize dictionary loading for editor and bundle size
  packages/@intlayer/api/src/getIntlayerAPI/editor.ts
  packages/@intlayer/api/src/getIntlayerAPI/index.ts
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
  packages/intlayer-editor/client/src/components/Editor/DictionaryListDrawer/DictionaryListDrawer.tsx
  packages/intlayer-editor/client/src/components/Editor/EditorLayout.tsx
  packages/intlayer-editor/server/src/controllers/dictionary.controller.ts
  packages/intlayer-editor/server/src/routes/dictionary.routes.ts
  packages/react-intlayer/src/editor/IntlayerEditorProvider.tsx
Due: prettier --write, eslint --fix --cache

refactor: add type wrapper
  apps/backend/src/controllers/ai.controller.ts
  apps/backend/src/utils/AI/aiSdk.ts
  apps/backend/src/utils/AI/askDocQuestion/askDocQuestion.ts
  packages/@intlayer/api/src/getIntlayerAPI/ai.ts
  packages/@intlayer/api/src/getIntlayerAPI/auth.ts
  packages/@intlayer/api/src/getIntlayerAPI/dictionary.ts
  packages/@intlayer/api/src/getIntlayerAPI/editor.ts
  packages/@intlayer/api/src/getIntlayerAPI/organization.ts
  packages/@intlayer/api/src/getIntlayerAPI/project.ts
  packages/@intlayer/api/src/getIntlayerAPI/search.ts
  packages/@intlayer/api/src/getIntlayerAPI/stripe.ts
  packages/@intlayer/api/src/getIntlayerAPI/tag.ts
  packages/@intlayer/api/src/getIntlayerAPI/user.ts
  packages/@intlayer/api/src/types.ts
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
  packages/@intlayer/swc/package.json
  packages/intlayer-editor/package.json
  packages/intlayer-editor/server/src/controllers/configuration.controller.ts
  packages/intlayer-editor/server/src/controllers/dictionary.controller.ts
  packages/intlayer-editor/server/src/export.ts
  packages/intlayer-editor/server/tsconfig.types.json
  packages/intlayer-editor/server/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

feat(website): add missing generateStaticParams
  apps/website/src/app/[locale]/layout.tsx
  examples/nextjs-15-app/src/app/[locale]/layout.tsx
Due: prettier --write, eslint --fix --cache

feat(website): fix editor playground load dictionary
  apps/website/package.json
  apps/website/src/components/Dashboard/Editor/DictionaryListDrawer/DictionaryListDrawer.tsx
  apps/website/src/components/Dashboard/Editor/EditorLayout.tsx
  packages/intlayer-editor/client/src/components/Editor/DictionaryListDrawer/DictionaryListDrawer.tsx
  packages/intlayer-editor/client/src/components/Editor/EditorLayout.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

refactor(next-intlayer): change getIsSwcPluginAvailable from autoexecute function to classic function
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

fix(api): fix editor type
  packages/@intlayer/api/src/getIntlayerAPI/editor.ts
Due: prettier --write, eslint --fix --cache

refactor(config): make isESMModule reusable and add with { type: 'json' } to esm dictionaries
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_main/generateDictionaryListContent.ts
  packages/@intlayer/config/src/index.ts
  packages/@intlayer/config/src/utils/ESMxCJSRequire.ts
  packages/@intlayer/dictionaries-entry/src/index.ts
  packages/@intlayer/unmerged-dictionaries-entry/src/index.ts
  packages/@intlayer/webpack/src/utils.ts
Due: prettier --write, eslint --fix --cache

refactor(chokidar): enhance filterTranslationsPlugin to support single locale input
  packages/@intlayer/chokidar/src/filterDictionaryLocales.ts
Due: prettier --write, eslint --fix --cache

feat(chokidar): add autoFill property for dynamic content loading
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/writeDictionary.ts
Due: prettier --write, eslint --fix --cache

fix(unmerged-dictionaries): fix import path
  packages/@intlayer/unmerged-dictionaries-entry/src/index.ts
Due: prettier --write, eslint --fix --cache

feat(cli): enhance authentication flow by integrating OAuth2 access token retrieval and updating API calls
  apps/backend/src/utils/AI/translateJSON/PROMPT.md
  apps/backend/src/utils/AI/translateJSON/index.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/fill.ts
  packages/@intlayer/cli/src/push.ts
Due: prettier --write, eslint --fix --cache

fix(chokidar): restore 'with { type: 'json' }' by security
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_main/generateDictionaryListContent.ts
Due: prettier --write, eslint --fix --cache

feat(docs): add optional step for optimizing bundle size with SWC plugin in multiple language guides
  docs/ar/intlayer_with_nextjs_14.md
  docs/ar/intlayer_with_nextjs_15.md
  docs/ar/intlayer_with_nextjs_page_router.md
  docs/de/intlayer_with_nextjs_14.md
  docs/de/intlayer_with_nextjs_15.md
  docs/de/intlayer_with_nextjs_page_router.md
  docs/en-GB/intlayer_with_nextjs_14.md
  docs/en-GB/intlayer_with_nextjs_15.md
  docs/en-GB/intlayer_with_nextjs_page_router.md
  docs/en/intlayer_with_nextjs_14.md
  docs/en/intlayer_with_nextjs_15.md
  docs/en/intlayer_with_nextjs_page_router.md
  docs/es/intlayer_with_nextjs_14.md
  docs/es/intlayer_with_nextjs_15.md
  docs/es/intlayer_with_nextjs_page_router.md
  docs/fr/intlayer_with_nextjs_14.md
  docs/fr/intlayer_with_nextjs_15.md
  docs/fr/intlayer_with_nextjs_page_router.md
  docs/hi/intlayer_with_nextjs_14.md
  docs/hi/intlayer_with_nextjs_15.md
  docs/hi/intlayer_with_nextjs_page_router.md
  docs/it/intlayer_with_nextjs_14.md
  docs/it/intlayer_with_nextjs_15.md
  docs/it/intlayer_with_nextjs_page_router.md
  docs/ja/intlayer_with_nextjs_14.md
  docs/ja/intlayer_with_nextjs_15.md
  docs/ja/intlayer_with_nextjs_page_router.md
  docs/ko/intlayer_with_nextjs_14.md
  docs/ko/intlayer_with_nextjs_15.md
  docs/ko/intlayer_with_nextjs_page_router.md
  docs/pt/intlayer_with_nextjs_14.md
  docs/pt/intlayer_with_nextjs_15.md
  docs/pt/intlayer_with_nextjs_page_router.md
  docs/ru/intlayer_with_nextjs_14.md
  docs/ru/intlayer_with_nextjs_15.md
  docs/ru/intlayer_with_nextjs_page_router.md
  docs/zh/intlayer_with_nextjs_14.md
  docs/zh/intlayer_with_nextjs_15.md
  docs/zh/intlayer_with_nextjs_page_router.md
Due: prettier --write

fix(chokidar): re restore ESM import syntax to include 'with { type: 'json' }'
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_main/generateDictionaryListContent.ts
Due: prettier --write, eslint --fix --cache

feat(website): integrate SWC and unmerged dictionaries entry into the project
  apps/website/package.json
  apps/website/src/components/Dashboard/Editor/EditorLayout.tsx
  apps/website/src/components/Dashboard/Editor/mergeDictionaries.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

fix(website): reimplmement missing useDefineNewPassword
  apps/website/src/components/Auth/DefineNewPasswordForm/index.tsx
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
Due: prettier --write, eslint --fix --cache

feat(docs): add notes on SWC plugin availability for Next.js 13 and above in multiple language guides
  docs/ar/intlayer_with_nextjs_14.md
  docs/ar/intlayer_with_nextjs_15.md
  docs/ar/intlayer_with_nextjs_page_router.md
  docs/de/intlayer_with_nextjs_14.md
  docs/de/intlayer_with_nextjs_15.md
  docs/de/intlayer_with_nextjs_page_router.md
  docs/en-GB/intlayer_with_nextjs_14.md
  docs/en-GB/intlayer_with_nextjs_15.md
  docs/en-GB/intlayer_with_nextjs_page_router.md
  docs/en/intlayer_with_nextjs_14.md
  docs/en/intlayer_with_nextjs_15.md
  docs/en/intlayer_with_nextjs_page_router.md
  docs/es/intlayer_with_nextjs_14.md
  docs/es/intlayer_with_nextjs_15.md
  docs/es/intlayer_with_nextjs_page_router.md
  docs/fr/intlayer_with_nextjs_14.md
  docs/fr/intlayer_with_nextjs_15.md
  docs/fr/intlayer_with_nextjs_page_router.md
  docs/hi/intlayer_with_nextjs_14.md
  docs/hi/intlayer_with_nextjs_15.md
  docs/hi/intlayer_with_nextjs_page_router.md
  docs/it/intlayer_with_nextjs_14.md
  docs/it/intlayer_with_nextjs_15.md
  docs/it/intlayer_with_nextjs_page_router.md
  docs/ja/intlayer_with_nextjs_14.md
  docs/ja/intlayer_with_nextjs_15.md
  docs/ja/intlayer_with_nextjs_page_router.md
  docs/ko/intlayer_with_nextjs_14.md
  docs/ko/intlayer_with_nextjs_15.md
  docs/ko/intlayer_with_nextjs_page_router.md
  docs/pt/intlayer_with_nextjs_14.md
  docs/pt/intlayer_with_nextjs_15.md
  docs/pt/intlayer_with_nextjs_page_router.md
  docs/ru/intlayer_with_nextjs_14.md
  docs/ru/intlayer_with_nextjs_15.md
  docs/ru/intlayer_with_nextjs_page_router.md
  docs/zh/intlayer_with_nextjs_14.md
  docs/zh/intlayer_with_nextjs_15.md
  docs/zh/intlayer_with_nextjs_page_router.md
Due: prettier --write

feat(chokidar): enhance cleanOutputDir to remove additional directories and log output
  packages/@intlayer/chokidar/src/cleanOutputDir.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: prettier --write, eslint --fix --cache

chore(vite-vue-app): remove unused example content file for localization
  examples/vite-vue-app/messages/{{locale}}/example.content.cjs
Due: none

chore: bump version to 5.5.3 across all packages
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

fix(swc): update package.json to specify the exact path for the SWC plugin WASM file
  packages/@intlayer/swc/package.json
Due: prettier --write

chore(next-intlayer): remove dependency on @intlayer/swc from package.json
  packages/next-intlayer/package.json
Due: prettier --write

chore(pnpm-lock): standardize resolution format and remove unused dependencies
  pnpm-lock.yaml
Due: prettier --write

refactor(next-15-app): move LocaleSwitcher header inside the body for improved layout structure
  examples/nextjs-15-app/src/app/[locale]/layout.tsx
Due: prettier --write, eslint --fix --cache

fix(website): center form and set button to full width for improved usability on DictionaryCreationForm
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryCreationForm/DictionaryCreationForm.tsx
Due: prettier --write, eslint --fix --cache

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix --cache: any of: *.{js,jsx,ts,tsx}
