Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --cache"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore: bump version to 5.3.0 for all packages
  .changeset/lucky-cobras-return.md
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/vite-intlayer/package.json
Due: prettier --write

feat: add aria-label attributes for improved accessibility in various components
  apps/website/src/components/LandingPage/FeaturesSection/MarkdownSection/index.content.ts
  apps/website/src/components/LandingPage/FeaturesSection/MarkdownSection/index.tsx
  apps/website/src/components/LandingPage/FeaturesSection/MultilingualSection/index.content.ts
  apps/website/src/components/LandingPage/FeaturesSection/MultilingualSection/index.tsx
  apps/website/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/website/src/components/LocaleSwitcher/localeSwitcher.content.ts
  packages/@intlayer/design-system/src/components/ContentEditor/ContentEditorInput.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/EnumKeyInput.tsx
  packages/@intlayer/design-system/src/components/Input/Input.tsx
  packages/@intlayer/design-system/src/components/Input/InputPassword.tsx
  packages/@intlayer/design-system/src/components/LocaleSwitcherContentDropDown/LocaleSwitcherContent.tsx
  packages/@intlayer/design-system/src/components/LocaleSwitcherContentDropDown/localeSwitcher.content.ts
  packages/@intlayer/design-system/src/components/LocaleSwitcherDropDown/LocaleSwitcher.tsx
  packages/@intlayer/design-system/src/components/LocaleSwitcherDropDown/localeSwitcher.content.ts
  packages/@intlayer/design-system/src/components/TextArea/TextArea.tsx
Due: prettier --write, eslint --fix --cache

feat(website): add visual editor video assets and update FeaturesSection to use video element
  apps/website/public/assets/visual_editor.mp4
  apps/website/public/assets/visual_editor.png
  apps/website/public/assets/visual_editor.webm
  apps/website/src/components/LandingPage/FeaturesSection/VisualEditorSection/index.tsx
Due: prettier --write, eslint --fix --cache

feat(website): enhance accessibility by adding role attributes to FeaturesSection components
  apps/website/src/components/LandingPage/FeaturesSection/index.tsx
Due: prettier --write, eslint --fix --cache

feat(website): add subtitles track to VisualEditorSection for enhanced accessibility
  apps/website/public/assets/visual_editor.vtt
  apps/website/src/components/LandingPage/FeaturesSection/VisualEditorSection/index.tsx
Due: prettier --write, eslint --fix --cache

feat(website): add aria-label for AutocompletionSection to improve accessibility
  apps/website/src/components/LandingPage/FeaturesSection/AutocompletionSection/index.content.ts
  apps/website/src/components/LandingPage/FeaturesSection/AutocompletionSection/index.tsx
Due: prettier --write, eslint --fix --cache

feat(website): add visual editor image in webp format and update captions track kind
  apps/website/public/assets/visual_editor.webp
  apps/website/src/components/LandingPage/FeaturesSection/VisualEditorSection/index.tsx
Due: prettier --write, eslint --fix --cache

feat(website): enable production source maps for better debugging
  apps/website/next.config.mjs
Due: none

feat(website): add preconnect and dns-prefetch links for improved performance
  apps/website/src/layouts/RootHTMLLayout.tsx
Due: prettier --write, eslint --fix --cache

feat(react-scripts-intlayer): fix usage of react-scripts-intlayer
  examples/react-app/src/Router.tsx
  packages/react-scripts-intlayer/src/intlayerCracoPlugin.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

fix(react-scripts-intlayer): add example craco configuration and export as CJS
  examples/react-app/craco.config.cjs
  packages/react-scripts-intlayer/src/craco.config.ts
  packages/react-scripts-intlayer/src/intlayerCracoPlugin.ts
Due: prettier --write, eslint --fix --cache

fix(markdown): streamline metadata extraction and enhance content handling
  docs/en/dictionary/markdown.md
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/processContentDeclaration.ts
  packages/@intlayer/core/src/transpiler/markdown/getMarkdownMetadata.ts
  packages/@intlayer/core/src/transpiler/markdown/markdown.ts
Due: prettier --write, eslint --fix --cache

fix(chokidar): update watch condition to include persistent option
  packages/@intlayer/chokidar/src/chokidar/watcher.ts
Due: prettier --write, eslint --fix --cache

chore: bump version to 5.3.1 for all packages
  .changeset/wicked-zebras-march.md
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/vite-intlayer/package.json
Due: prettier --write

feat(react-intlayer): enhance ContentNode as markdown children
  packages/@intlayer/core/src/interpreter/getContent/plugins.ts
  packages/@intlayer/core/src/transpiler/markdown/getMarkdownMetadata.ts
  packages/@intlayer/core/src/transpiler/markdown/markdown.ts
  packages/react-intlayer/src/plugins.tsx
Due: prettier --write, eslint --fix --cache

feat(vite): configure Rollup build options for external dependencies
  packages/intlayer-editor/client/vite.config.ts
Due: prettier --write, eslint --fix --cache

feat: add insertion and file handling functionalities with corresponding types and utilities
  docs/en/dictionary/insertion.md
  packages/@intlayer/config/src/getSandboxContext.ts
  packages/@intlayer/config/src/loadExternalFile.ts
  packages/@intlayer/core/src/interpreter/getContent/plugins.ts
  packages/@intlayer/core/src/interpreter/getInsertion.ts
  packages/@intlayer/core/src/transpiler/file/file.ts
  packages/@intlayer/core/src/transpiler/file/index.ts
  packages/@intlayer/core/src/transpiler/index.ts
  packages/@intlayer/core/src/transpiler/insertion/getInsertionValues.ts
  packages/@intlayer/core/src/transpiler/insertion/index.ts
  packages/@intlayer/core/src/transpiler/insertion/insertion.ts
  packages/@intlayer/core/src/types/keyPath.ts
  packages/@intlayer/core/src/types/nodeType.ts
  packages/intlayer/src/index.ts
Due: prettier --write, eslint --fix --cache

chore: update esbuild-fix-imports-plugin to version 1.0.19
  pnpm-lock.yaml
  utils/tsup-config/package.json
Due: prettier --write

feat(core): add insertion and file plugins to enhance content transformation capabilities
  packages/@intlayer/core/src/interpreter/getContent/getContent.ts
  packages/@intlayer/core/src/interpreter/getContent/plugins.ts
Due: prettier --write, eslint --fix --cache

fix(core): fix build
  packages/@intlayer/chokidar/src/chokidar/watcher.ts
  packages/@intlayer/core/src/dictionaryManipulator/getNodeChildren.ts
  packages/@intlayer/core/src/dictionaryManipulator/getNodeType.ts
  packages/@intlayer/core/src/interpreter/getContent/getContent.ts
  packages/@intlayer/core/src/interpreter/getContent/plugins.ts
  packages/@intlayer/core/src/interpreter/getTranslation.ts
  packages/@intlayer/core/src/transpiler/file/file.ts
  packages/@intlayer/core/src/transpiler/index.ts
  packages/@intlayer/core/src/transpiler/translation/index.ts
  packages/@intlayer/core/src/transpiler/translation/translation.ts
  packages/@intlayer/core/src/types/dictionary.ts
  packages/@intlayer/core/src/types/index.ts
  packages/@intlayer/core/src/types/translation.ts
  packages/intlayer-editor/client/vite.config.ts
  packages/intlayer/src/index.ts
  packages/react-intlayer/src/plugins.tsx
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: prettier --write, eslint --fix --cache

chore: bump version to 5.3.2 for all packages
  .changeset/green-stingrays-switch.md
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  examples/vite-app/src/test.md
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/vite-intlayer/package.json
Due: prettier --write

feat(core): implement file plugin for content transformation and add browser compatibility
  packages/@intlayer/core/package.json
  packages/@intlayer/core/src/interpreter/getContent/getContent.ts
  packages/@intlayer/core/src/interpreter/getContent/plugins.ts
  packages/@intlayer/core/src/transpiler/file/file.ts
  packages/@intlayer/core/src/transpiler/file/fileBrowser.ts
  packages/@intlayer/core/src/transpiler/index.ts
  packages/intlayer/src/index.ts
Due: prettier --write, eslint --fix --cache

chore: bump version to 5.3.3 for all packages
  .changeset/honest-camels-search.md
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/vite-intlayer/package.json
Due: prettier --write

feat(ci): add GitHub Actions workflow for Vercel app deployment on release
  .github/workflows/deploy_template_app.yaml
Due: prettier --write

chore: update pnpm version to 10.6.3 in workflows and package.json
  .github/workflows/build_and_test.yaml
  .github/workflows/release.yaml
  package.json
Due: prettier --write

ci: increase Node.js memory limit for eslint in build and test workflow
  .github/workflows/build_and_test.yaml
Due: prettier --write

ci: comment out eslint step in build and test workflow
  .github/workflows/build_and_test.yaml
Due: prettier --write

ci: update eslint step to use lint-staged in build and test workflow
  .github/workflows/build_and_test.yaml
Due: prettier --write

ci: comment out test step in build and test workflow
  .github/workflows/build_and_test.yaml
  apps/backend/package.json
  apps/website/package.json
  examples/express-app/package.json
  examples/nextjs-14-app/package.json
  examples/nextjs-15-app/package.json
  examples/vite-app/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer/package.json
Due: prettier --write

refactor: update intlayerAPI type imports in hooks to use new IntlayerAPI type definition
  packages/@intlayer/api/src/getIntlayerAPI/index.ts
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
Due: prettier --write, eslint --fix --cache

feat(intlayer-editor): add support for Insertion and File node types, and refactor related functions for improved handling
  packages/@intlayer/core/src/dictionaryManipulator/editDictionaryByKeyPath.ts
  packages/@intlayer/core/src/dictionaryManipulator/getContentNodeByKeyPath.ts
  packages/@intlayer/core/src/dictionaryManipulator/getDefaultNode.ts
  packages/@intlayer/core/src/dictionaryManipulator/getEmptyNode.ts
  packages/@intlayer/core/src/dictionaryManipulator/removeContentNodeByKeyPath.ts
  packages/@intlayer/core/src/dictionaryManipulator/renameContentNodeByKeyPath.ts
  packages/@intlayer/core/src/transpiler/markdown/markdown.ts
  packages/@intlayer/core/src/types/dictionary.ts
  packages/@intlayer/core/src/types/keyPath.ts
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/FileWrapper.tsx
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/InsertionWrapper.tsx
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/StringWrapper.tsx
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/index.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/ContentEditorView/TextEditor.tsx
Due: prettier --write, eslint --fix --cache

feat(intlayer-editor): enhance support for Insertion and File node types, improve content handling, and update related components
  examples/vite-app/src/app.content.tsx
  packages/@intlayer/core/src/interpreter/getContent/plugins.ts
  packages/@intlayer/core/src/interpreter/getInsertion.ts
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/FileWrapper.tsx
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/MarkdownWrapper.tsx
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/StringWrapper.tsx
  packages/@intlayer/design-system/src/components/DictionaryEditor/NodeWrapper/index.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/ContentEditorView/TextEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/NavigationView/NavigationViewNode.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/NavigationView/navigationViewNode.content.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/NodeTypeSelector.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/getIsEditableSection.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/nodeTypeSelector.content.ts
  packages/@intlayer/design-system/src/utils/camelCase.ts
Due: prettier --write, eslint --fix --cache

feat(schema): update JSON schema for Dictionary
  apps/website/public/schema.json
Due: prettier --write

feat(writeDictionary): enhance JSON stringification for development environment
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/writeDictionary.ts
Due: prettier --write, eslint --fix --cache

feat(chokidar): add functions to list and get built dictionaries paths, refactor watcher to utilize new methods
  packages/@intlayer/chokidar/src/chokidar/watcher.ts
  packages/@intlayer/chokidar/src/getBuiltDictionariesPath.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/listDictionariesPath.ts
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_main/createDictionaryEntryPoint.ts
  packages/@intlayer/config/src/defaultValues/content.ts
  packages/@intlayer/config/src/loadExternalFile.ts
  packages/@intlayer/editor/src/server/writeContentDeclaration.ts
Due: prettier --write, eslint --fix --cache

refactor(desgin-system): update form element components to improve accessibility by adding aria-label and aria-labelledby attributes
  packages/@intlayer/design-system/src/components/ContentEditor/ContentEditor.tsx
  packages/@intlayer/design-system/src/components/Form/elements/EditableFieldInputElement.tsx
  packages/@intlayer/design-system/src/components/Form/elements/EditableFieldTextAreaElement.tsx
  packages/@intlayer/design-system/src/components/Form/elements/InputElement.tsx
  packages/@intlayer/design-system/src/components/Form/elements/InputPasswordElement.tsx
  packages/@intlayer/design-system/src/components/Form/elements/TextAreaElement.tsx
  packages/@intlayer/design-system/src/components/Form/layout/FormLabelLayout.tsx
  packages/@intlayer/design-system/src/components/Input/Input.tsx
  packages/@intlayer/design-system/src/components/TextArea/TextArea.tsx
Due: prettier --write, eslint --fix --cache

feat(intlayer-editor): enhance environment configuration support by adding flags for specifying environment files and improving server startup logic
  docs/en/intlayer_visual_editor.md
  examples/vite-app/package.json
  packages/@intlayer/api/src/getIntlayerAPI/editor.ts
  packages/@intlayer/config/src/envVariables/index.ts
  packages/@intlayer/config/src/envVariables/loadEnvFile.ts
  packages/@intlayer/config/src/index.ts
  packages/@intlayer/editor/src/dictionaryStatus.ts
  packages/intlayer-editor/bin/intlayer-editor.mjs
  packages/intlayer-editor/package.json
  packages/intlayer-editor/server/src/controllers/dictionary.controller.ts
  packages/intlayer-editor/server/src/index.ts
  packages/intlayer-editor/server/src/utils/checkPortAvailability.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache
