Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(website): update disavow.txt with additional domains
  apps/website/public/disavow.txt
Due: none

fix: examples/astro-react-app/package.json to reduce vulnerabilities
  examples/astro-react-app/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(website): add additional domains to disavow list
  apps/website/public/disavow.txt
Due: none

docs: update doc inconsistency
  docs/docs/ar/live-sync.md
  docs/docs/ar/releases/v9.md
  docs/docs/de/live-sync.md
  docs/docs/de/releases/v9.md
  docs/docs/en-GB/live-sync.md
  docs/docs/en-GB/releases/v9.md
  docs/docs/es/live-sync.md
  docs/docs/es/releases/v9.md
  docs/docs/fr/live-sync.md
  docs/docs/fr/releases/v9.md
  docs/docs/hi/live-sync.md
  docs/docs/hi/releases/v9.md
  docs/docs/id/live-sync.md
  docs/docs/id/releases/v9.md
  docs/docs/it/live-sync.md
  docs/docs/it/releases/v9.md
  docs/docs/ja/live-sync.md
  docs/docs/ja/releases/v9.md
  docs/docs/ko/live-sync.md
  docs/docs/ko/releases/v9.md
  docs/docs/pl/live-sync.md
  docs/docs/pl/releases/v9.md
  docs/docs/pt/live-sync.md
  docs/docs/pt/releases/v9.md
  docs/docs/ru/live-sync.md
  docs/docs/ru/releases/v9.md
  docs/docs/tr/live-sync.md
  docs/docs/tr/releases/v9.md
  docs/docs/uk/live-sync.md
  docs/docs/uk/releases/v9.md
  docs/docs/vi/live-sync.md
  docs/docs/vi/releases/v9.md
  docs/docs/zh/live-sync.md
  docs/docs/zh/releases/v9.md
Due: prettier --write

chore(website): update disavow list
  apps/website/public/disavow.txt
Due: none

chore(backend): update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/configuration.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): fix reviewing for app build
  apps/app/src/components/ReviewerDashboardPage/ReviewerOnboarding.tsx
  apps/app/src/components/ReviewerMarketplacePage/ReviewerFilters.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chrome): initialize chrome-extension package and update Docker configurations
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/showcase/Dockerfile
  apps/website-tanstack/Dockerfile
  apps/website/Dockerfile
  bun.lock
  docker/selfhost/Dockerfile
  packages/@intlayer/chrome-extension/README.md
  packages/@intlayer/chrome-extension/package.json
  packages/@intlayer/chrome-extension/popup.html
  packages/@intlayer/chrome-extension/public/icons/icon-128.png
  packages/@intlayer/chrome-extension/public/icons/icon-16.png
  packages/@intlayer/chrome-extension/public/icons/icon-32.png
  packages/@intlayer/chrome-extension/public/icons/icon-48.png
  packages/@intlayer/chrome-extension/public/manifest.json
  packages/@intlayer/chrome-extension/src/detector/detectPage.ts
  packages/@intlayer/chrome-extension/src/detector/types.ts
  packages/@intlayer/chrome-extension/src/popup/App.tsx
  packages/@intlayer/chrome-extension/src/popup/components/AuditSection.tsx
  packages/@intlayer/chrome-extension/src/popup/components/I18nTagsSection.tsx
  packages/@intlayer/chrome-extension/src/popup/components/LocalesSection.tsx
  packages/@intlayer/chrome-extension/src/popup/components/ScoreRing.tsx
  packages/@intlayer/chrome-extension/src/popup/components/StatusIcon.tsx
  packages/@intlayer/chrome-extension/src/popup/components/TechnologyList.tsx
  packages/@intlayer/chrome-extension/src/popup/main.tsx
  packages/@intlayer/chrome-extension/src/popup/popup.css
  packages/@intlayer/chrome-extension/src/popup/useActiveTabDetection.ts
  packages/@intlayer/chrome-extension/src/popup/useAuditScan.ts
  packages/@intlayer/chrome-extension/src/scan/checkLabels.ts
  packages/@intlayer/chrome-extension/src/scan/scanClient.ts
  packages/@intlayer/chrome-extension/src/scan/types.ts
  packages/@intlayer/chrome-extension/tsconfig.json
  packages/@intlayer/chrome-extension/vite.config.ts
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
  scripts/package-build-order.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(design-system): restore max-height strategy for MaxHeightSmoother when minHeight > 0
  packages/@intlayer/design-system/src/components/MaxHeightSmoother/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website-tanstack): stop the pending flash and make intent preloading effective
  apps/website-tanstack/src/router.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(babel): consolidate dictionary pruning logic and optimize Babel plugin visitor implementations
  packages/@intlayer/babel/src/babel-plugin-intlayer-field-rename.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-minify.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-purge.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): simplify MarkdownEditor implementation
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/ContentEditorView/TextEditor.tsx
  packages/@intlayer/design-system/src/components/MarkdownEditor/MarkdownEditor.tsx
  packages/@intlayer/design-system/src/components/MarkdownEditor/markdown-editor.css
  packages/@intlayer/design-system/src/components/MarkdownEditor/markdownEditor.test.tsx
  packages/@intlayer/design-system/src/components/MarkdownEditor/novel/components/editor.tsx
  packages/@intlayer/design-system/src/components/MarkdownEditor/novel/extensions/image-resizer.tsx
  packages/@intlayer/design-system/src/components/MarkdownEditor/novel/extensions/slash-command.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: move intlayer analytics and editor packages to optionalDependencies
  apps/website-tanstack/package.json
  apps/website/package.json
  bun.lock
  packages/@intlayer/design-system/package.json
  packages/angular-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vue-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(app): prevent redirect loops by adding unauthenticated-specific redirection handling to AuthenticationBarrier
  apps/app/src/components/Auth/AuthenticationBarrier/AuthenticationBarrier.tsx
  apps/app/src/components/Auth/AuthenticationBarrier/AuthenticationBarrierClient.tsx
  apps/app/src/components/Auth/AuthenticationBarrier/accessValidation.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): promote @intlayer/editor from optional to mandatory dependency
  bun.lock
Due: none

chore: add google-analytics and google domains to content security policy directives
  apps/app/vite.config.ts
  apps/showcase/vite.config.ts
  apps/website-tanstack/vite.config.ts
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update dep packages
  apps/app/package.json
  apps/showcase/package.json
  apps/website-tanstack/package.json
  apps/website/package.json
  bun.lock
  examples/analog-app/package.json
  examples/nextjs-14-app/package.json
  examples/nextjs-15-app/package.json
  package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
  packages/react-native-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: correct line endings in Dockerfile exclude directives
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/showcase/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

feat(cli): enhance CI command handling for monorepos and improve project selection logic
  packages/@intlayer/cli/src/ci.test.ts
  packages/@intlayer/cli/src/ci.ts
  packages/@intlayer/cli/src/init.ts
  packages/@intlayer/engine/src/init/index.ts
  packages/@intlayer/engine/src/init/utils/githubActions.test.ts
  packages/@intlayer/engine/src/init/utils/githubActions.ts
  packages/@intlayer/engine/src/listProjects.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): add @intlayer/editor as a dependency
  apps/website/package.json
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(config): remove wrong browser build file from package configuration
  packages/@intlayer/config/package.json
  packages/@intlayer/config/src/built.browser.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(next-intlayer): restore withIntlayer
  packages/next-intlayer/src/server/withIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): add new domains to disavow list
  apps/website/public/disavow.txt
Due: none

feat(analytics): add README.md for Intlayer analytics package
  packages/@intlayer/analytics/README.md
Due: prettier --write

docs: add section on using Sanity as a CMS for RAG implementation
  docs/blog/en/rag_powered_documentation_assistant.md
Due: prettier --write

chore: update package dep
  apps/app/package.json
  apps/backend/package.json
  apps/showcase/package.json
  apps/website-tanstack/package.json
  apps/website/package.json
  bun.lock
  compat-comming/i18n-js/package.json
  compat-comming/next-translate/package.json
  compat-comming/ngx-translate/package.json
  compat-comming/nuxtjs-i18n/package.json
  compat-comming/polyglot/package.json
  compat-comming/svelte-i18n/package.json
  compat-comming/transloco/package.json
  compat/i18next/package.json
  compat/lingui/package.json
  compat/react-i18next/package.json
  compat/react-intl/package.json
  compat/use-intl/package.json
  compat/vue-i18n/package.json
  examples/analog-app/package.json
  examples/next-no-lolale-path/package.json
  examples/nextjs-15-app/package.json
  examples/react-router-app/package.json
  examples/react-router-fs-app/package.json
  examples/tanstack-start-app/package.json
  examples/tanstack-start-solid-app/package.json
  examples/vite-lit-app/package.json
  examples/vite-preact-app/package.json
  examples/vite-react-app/package.json
  examples/vite-solid-app/package.json
  examples/vite-svelte-app/package.json
  examples/vite-vue-app/package.json
  package.json
  packages/@intlayer/chrome-extension/package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
  packages/lit-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vue-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(backend): update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/rag_powered_documentation_assistant.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(editor): add warning for rejected origins and improve allowed origins configuration
  packages/@intlayer/editor/src/core/CrossFrameMessenger.ts
  packages/@intlayer/editor/src/core/initEditorClient.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(babel): improve field renaming
  packages/@intlayer/babel/src/babel-plugin-intlayer-field-rename.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-field-rename.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-purge.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-usage-analyzer.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-usage-analyzer.ts
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
  packages/vite-intlayer/src/pruneContext.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(backend): implement global mailer configuration and parsing functions
  apps/backend/src/services/email.service.test.ts
  apps/backend/src/services/email.service.tsx
  docs/docs/en/self_hosting.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(react-native-intlayer): improve React Native compatibility by polyfilling window.location and updating Intl cache keys to strings
  packages/@intlayer/core/src/formatters/compact.ts
  packages/@intlayer/core/src/formatters/currency.ts
  packages/@intlayer/core/src/formatters/date.ts
  packages/@intlayer/core/src/formatters/list.ts
  packages/@intlayer/core/src/formatters/number.ts
  packages/@intlayer/core/src/formatters/percentage.ts
  packages/@intlayer/core/src/formatters/relativeTime.ts
  packages/@intlayer/core/src/formatters/units.ts
  packages/@intlayer/core/src/interpreter/getPlural.ts
  packages/@intlayer/core/src/localization/getBrowserLocale.tsx
  packages/@intlayer/core/src/messageFormat/resolveMessage.ts
  packages/@intlayer/core/src/utils/intl.test.ts
  packages/@intlayer/core/src/utils/intl.ts
  packages/react-native-intlayer/package.json
  packages/react-native-intlayer/src/applyIntlayerPolyfill.ts
  packages/react-native-intlayer/src/index.ts
  packages/react-native-intlayer/src/intlayerPolyfill.ts
  packages/react-native-intlayer/src/intlayerProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
