Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

chore: update packages
  apps/app/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  examples/analog-app/package.json
  examples/astro-react-app/package.json
  examples/next-no-lolale-path/package.json
  examples/nextjs-14-app/package.json
  examples/react-app/package.json
  examples/react-router-app/package.json
  examples/react-router-fs-app/package.json
  examples/tanstack-start-app/package.json
  examples/vite-preact-app/package.json
  examples/vite-react-app/package.json
  examples/vite-solid-app/package.json
  examples/vite-svelte-app/package.json
  examples/vite-vue-app/package.json
  package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vue-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(design-system): address PR #394 review feedback
  packages/@intlayer/design-system/src/components/TextArea/AutocompleteTextArea.tsx
  packages/@intlayer/design-system/src/components/TextArea/ContentEditableTextArea.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(backend): update chat prompt
  apps/backend/src/utils/AI/askDocQuestion/PROMPT.md
Due: prettier --write

fix(design-system): resolve TypeScript errors and formatting
  packages/@intlayer/design-system/src/components/TextArea/AutocompleteTextArea.tsx
  packages/@intlayer/design-system/src/components/TextArea/ContentEditableTextArea.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(design-system): replace emdash with hyphen in comment
  packages/@intlayer/design-system/src/components/TextArea/ContentEditableTextArea.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): fix chat
  apps/backend/src/controllers/ai.controller.ts
  apps/backend/src/utils/AI/askDocQuestion/askDocQuestion.ts
  packages/@intlayer/ai/src/aiSdk.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: restore bun lock
  bun.lock
Due: none

fix(app): fix profile dropdown
  apps/app/src/components/ProfileDropdown/ProfileDropDown/index.tsx
  apps/app/src/components/ProfileDropdown/ProfileDropdown.tsx
  apps/website/src/components/ProfileDropdown/ProfileDropDown/index.tsx
  apps/website/src/components/ProfileDropdown/ProfileDropdown.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(cli): fix missing translations test command
  packages/@intlayer/cli/src/cli.test.ts
  packages/@intlayer/cli/src/test/listMissingTranslations.test.ts
  packages/@intlayer/cli/src/test/listMissingTranslations.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar): fix prepareIntlayer
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): remove removed providers to fix build
  apps/app/src/app/[locale]/(dashboard)/(dashboard)/(editor)/layout.tsx
  packages/@intlayer/editor-react/src/FocusDictionaryContext.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: update schema.json
  apps/website/public/schema.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add storybook doc
  docs/docs/ar/intlayer_with_storybook.md
  docs/docs/de/intlayer_with_storybook.md
  docs/docs/en-GB/intlayer_with_storybook.md
  docs/docs/en/intlayer_with_storybook.md
  docs/docs/es/intlayer_with_storybook.md
  docs/docs/fr/intlayer_with_storybook.md
  docs/docs/hi/intlayer_with_storybook.md
  docs/docs/id/intlayer_with_storybook.md
  docs/docs/it/intlayer_with_storybook.md
  docs/docs/ja/intlayer_with_storybook.md
  docs/docs/ko/intlayer_with_storybook.md
  docs/docs/pl/intlayer_with_storybook.md
  docs/docs/pt/intlayer_with_storybook.md
  docs/docs/ru/intlayer_with_storybook.md
  docs/docs/tr/intlayer_with_storybook.md
  docs/docs/uk/intlayer_with_storybook.md
  docs/docs/vi/intlayer_with_storybook.md
  docs/docs/zh/intlayer_with_storybook.md
Due: prettier --write

fix(cli): fix fill output
  packages/@intlayer/cli/src/fill/fill.ts
  packages/@intlayer/cli/src/fill/translateDictionary.ts
  packages/@intlayer/cli/src/fill/writeFill.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: update compiler output
  docs/docs/ar/configuration.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/uk/configuration.md
  docs/docs/vi/configuration.md
  docs/docs/zh/configuration.md
  packages/@intlayer/babel/src/extractContent/utils/extractDictionaryInfo.ts
  packages/@intlayer/cli/src/fill/formatFillData.ts
  packages/@intlayer/cli/src/fill/writeFill.ts
  packages/@intlayer/cli/src/utils/getOutputFilePath.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/logger.ts
  packages/@intlayer/types/src/config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: update plugin to lazy load markdown and html
  packages/angular-intlayer/src/plugins.ts
  packages/preact-intlayer/src/plugins.tsx
  packages/react-intlayer/src/plugins.tsx
  packages/solid-intlayer/src/plugins.tsx
  packages/svelte-intlayer/src/plugins.ts
  packages/vue-intlayer/src/plugins.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update config doc to use table
  docs/docs/ar/configuration.md
  docs/docs/bn/configuration.md
  docs/docs/bn/intlayer_with_hono.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/uk/configuration.md
  docs/docs/ur/configuration.md
  docs/docs/ur/intlayer_with_hono.md
  docs/docs/vi/configuration.md
  docs/docs/zh/configuration.md
  docs/intlayer.config.ts
  docs/src/generated/docs.entry.ts
  docs/tools/translate.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: update intlayer size
  docs/blog/en-GB/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/es/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/id/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/it/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ja/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ko/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/uk/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/vi/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/zh/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

feat(website): update doc
  docs/docs/ar/configuration.md
  docs/docs/bn/configuration.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/uk/configuration.md
  docs/docs/ur/configuration.md
  docs/docs/vi/configuration.md
  docs/docs/zh/configuration.md
  packages/@intlayer/api/src/getIntlayerAPI/stripe.ts
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(chokidar, dictionaries-entry): fix memory leak in intlayer watch
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/generateDictionaryListContent.ts
  packages/@intlayer/chokidar/src/watcher.ts
  packages/@intlayer/config/src/utils/cacheDisk.ts
  packages/@intlayer/dictionaries-entry/src/index.ts
  packages/@intlayer/unmerged-dictionaries-entry/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar, cli): fix orphaned child processes on intlayer watch exit
  packages/@intlayer/chokidar/src/utils/runParallel/index.ts
  packages/@intlayer/chokidar/src/utils/runParallel/spawnPosix.ts
  packages/@intlayer/cli/src/watch.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): memo code in markdown render
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(dictionary-entry): restore using import
  packages/@intlayer/dictionaries-entry/src/index.ts
  packages/@intlayer/unmerged-dictionaries-entry/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(dictionaries-entry): use readdir instead of vm.runInThisContext for ESM compat
  packages/@intlayer/dictionaries-entry/src/index.ts
  packages/@intlayer/unmerged-dictionaries-entry/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(preact-app): update intlayer config
  examples/vite-preact-app/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update package version
  apps/app/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  examples/next-no-lolale-path/package.json
  examples/tanstack-start-app/package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs(fastify-intlayer): add package doc on gituhb
  docs/docs/ar/intlayer_with_fastify.md
  docs/docs/bn/intlayer_with_fastify.md
  docs/docs/cs/intlayer_with_fastify.md
  docs/docs/de/intlayer_with_fastify.md
  docs/docs/en-GB/intlayer_with_fastify.md
  docs/docs/en/intlayer_with_fastify.md
  docs/docs/es/intlayer_with_fastify.md
  docs/docs/fr/intlayer_with_fastify.md
  docs/docs/hi/intlayer_with_fastify.md
  docs/docs/id/intlayer_with_fastify.md
  docs/docs/it/intlayer_with_fastify.md
  docs/docs/ja/intlayer_with_fastify.md
  docs/docs/ko/intlayer_with_fastify.md
  docs/docs/nl/intlayer_with_fastify.md
  docs/docs/pl/intlayer_with_fastify.md
  docs/docs/pt/intlayer_with_fastify.md
  docs/docs/ru/intlayer_with_fastify.md
  docs/docs/tr/intlayer_with_fastify.md
  docs/docs/uk/intlayer_with_fastify.md
  docs/docs/ur/intlayer_with_fastify.md
  docs/docs/vi/intlayer_with_fastify.md
Due: prettier --write

refactor(fastify-intlayer): update logger management
  packages/fastify-intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(adonis-intlayer): update logger
  packages/adonis-intlayer/package.json
  packages/adonis-intlayer/src/index.ts
  packages/express-intlayer/src/index.ts
  packages/hono-intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(dictionary-entry): remove cleanModuleCache
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/generateDictionaryListContent.ts
  packages/@intlayer/dictionaries-entry/src/index.ts
  packages/@intlayer/dynamic-dictionaries-entry/src/index.ts
  packages/@intlayer/fetch-dictionaries-entry/src/index.ts
  packages/intlayer-editor/server/src/controllers/dictionary.controller.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(design-system): fix rendering of html code chars
  packages/@intlayer/core/src/markdown/compiler.ts
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): remove .md extension ask do question docs link
  apps/backend/src/utils/AI/askDocQuestion/PROMPT.md
Due: prettier --write

fix(backend): fix seo scanner
  apps/backend/Dockerfile
  apps/backend/src/utils/puppeteer/launchBrowser.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): fix link map keys in navbar
  apps/website/src/components/Navbar/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): fix rate limit error on chatbot
  apps/app/src/components/ChatBot/index.tsx
  apps/website/src/components/ChatBot/index.tsx
  packages/@intlayer/api/src/getIntlayerAPI/ai.ts
  packages/@intlayer/design-system/src/providers/ReactQueryProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): minor fix scanner
  apps/backend/src/services/audit/analysis/analyzeUrlStructure.ts
  apps/showcase/src/components/Scanner/Analyzer/Results/AnalyzerPageResults.tsx
  apps/showcase/src/components/Scanner/Analyzer/Results/RobotsSection.tsx
  apps/showcase/src/components/Scanner/Analyzer/Results/SitemapSection.tsx
  apps/website/src/components/ChatBot/index.tsx
  apps/website/src/components/EmailRegistrationToast/index.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerPageResults.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/RobotsSection.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/SitemapSection.tsx
  apps/website/src/components/ScannerPage/LocalizationAnalyzer.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
