Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

refactor(design-system): restore Switch selector
  packages/@intlayer/design-system/src/components/SwitchSelector/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): enhance LocalizationAnalyzer with persisted state management and improve auto-start conditions
  apps/website/src/components/ScannerPage/Analyzer/Results/analyzerResults.content.ts
  apps/website/src/components/ScannerPage/LocalizationAnalyzer.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): improve loading state handling in LocalizationAnalyzer and adjust FieldItem component for better status display
  apps/website/src/components/ScannerPage/Analyzer/Results/FieldItem.tsx
  apps/website/src/components/ScannerPage/LocalizationAnalyzer.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): update image rendering logic in AnalyzerSiteResults to prevent empty image display during loading
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerSiteResults.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): replace Popover with PopoverStatic in ApplicationTemplateMessage for improved static rendering
  apps/website/src/components/DocPage/ApplicationTemplateMessage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(design-system): update DiscordLogo height to 800px for consistent rendering
  apps/website/src/components/Navbar/index.tsx
  packages/@intlayer/design-system/src/components/SocialNetworks/DiscordLogo.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): adjust margin and padding in BlogPageLayout and DocPageLayout for improved layout consistency
  apps/website/src/components/BlogPage/BlogPageLayout.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(docs): add video and code tabs with embedded content for Next.js 16 internationalization guide
  docs/docs/ar/intlayer_with_nextjs_16.md
  docs/docs/de/intlayer_with_nextjs_16.md
  docs/docs/en-GB/intlayer_with_nextjs_16.md
  docs/docs/es/intlayer_with_nextjs_16.md
  docs/docs/fr/intlayer_with_nextjs_16.md
  docs/docs/hi/intlayer_with_nextjs_16.md
  docs/docs/id/intlayer_with_nextjs_16.md
  docs/docs/it/intlayer_with_nextjs_16.md
  docs/docs/ja/intlayer_with_nextjs_16.md
  docs/docs/ko/intlayer_with_nextjs_16.md
  docs/docs/pl/intlayer_with_nextjs_16.md
  docs/docs/pt/intlayer_with_nextjs_16.md
  docs/docs/ru/intlayer_with_nextjs_16.md
  docs/docs/tr/intlayer_with_nextjs_16.md
  docs/docs/vi/intlayer_with_nextjs_16.md
  docs/docs/zh/intlayer_with_nextjs_16.md
Due: prettier --write

fix(design-system): update Vietnamese translations for improved accuracy and standardization across navbar content
  apps/website/src/components/Navbar/navbar.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): prevent rendering of empty headings in TableOfContents component
  apps/website/src/components/TableOfContents/TableOfContents.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(docs): add Table of Contents to multiple language documentation for Intlayer integration with Tanstack Start and Vite
  docs/docs/ar/intlayer_with_tanstack.md
  docs/docs/ar/intlayer_with_vite+react.md
  docs/docs/de/intlayer_with_tanstack.md
  docs/docs/de/intlayer_with_vite+react.md
  docs/docs/en-GB/intlayer_with_tanstack.md
  docs/docs/en-GB/intlayer_with_vite+react.md
  docs/docs/es/intlayer_with_tanstack.md
  docs/docs/es/intlayer_with_vite+react.md
  docs/docs/fr/intlayer_with_tanstack.md
  docs/docs/fr/intlayer_with_vite+react.md
  docs/docs/hi/intlayer_with_tanstack.md
  docs/docs/hi/intlayer_with_vite+react.md
  docs/docs/it/intlayer_with_tanstack.md
  docs/docs/it/intlayer_with_vite+react.md
  docs/docs/ja/intlayer_with_tanstack.md
  docs/docs/ja/intlayer_with_vite+react.md
  docs/docs/ko/intlayer_with_tanstack.md
  docs/docs/ko/intlayer_with_vite+react.md
  docs/docs/pt/intlayer_with_tanstack.md
  docs/docs/pt/intlayer_with_vite+react.md
  docs/docs/ru/intlayer_with_tanstack.md
  docs/docs/ru/intlayer_with_vite+react.md
  docs/docs/tr/intlayer_with_tanstack.md
  docs/docs/tr/intlayer_with_vite+react.md
  docs/docs/zh/intlayer_with_tanstack.md
  docs/docs/zh/intlayer_with_vite+react.md
Due: prettier --write

feat(docs): add Table of Contents to configuration documentation in German, Spanish, French, and Russian
  docs/docs/ar/configuration.md
  docs/docs/ar/intlayer_cli.md
  docs/docs/de/configuration.md
  docs/docs/de/intlayer_cli.md
  docs/docs/en-GB/configuration.md
  docs/docs/en-GB/intlayer_cli.md
  docs/docs/es/configuration.md
  docs/docs/es/intlayer_cli.md
  docs/docs/fr/configuration.md
  docs/docs/fr/intlayer_cli.md
  docs/docs/hi/configuration.md
  docs/docs/hi/intlayer_cli.md
  docs/docs/it/configuration.md
  docs/docs/it/intlayer_cli.md
  docs/docs/ja/configuration.md
  docs/docs/ja/intlayer_cli.md
  docs/docs/ko/configuration.md
  docs/docs/ko/intlayer_cli.md
  docs/docs/pt/configuration.md
  docs/docs/pt/intlayer_cli.md
  docs/docs/ru/configuration.md
  docs/docs/ru/intlayer_cli.md
  docs/docs/tr/configuration.md
  docs/docs/tr/intlayer_cli.md
  docs/docs/zh/configuration.md
  docs/docs/zh/intlayer_cli.md
Due: prettier --write

feat(docs): add Table of Contents to various language documentation for Next.js internationalization comparisons
  docs/blog/ar/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/de/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en-GB/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en-GB/react-i18next_vs_react-intl_vs_intlayer.md
  docs/blog/en-GB/vue-i18n_vs_intlayer.md
  docs/blog/en/react-i18next_vs_react-intl_vs_intlayer.md
  docs/blog/en/vue-i18n_vs_intlayer.md
  docs/blog/es/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/fr/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/hi/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/it/react-i18next_vs_react-intl_vs_intlayer.md
  docs/blog/it/vue-i18n_vs_intlayer.md
  docs/blog/ja/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ko/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/pt/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ru/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/tr/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/tr/react-i18next_vs_react-intl_vs_intlayer.md
  docs/blog/tr/vue-i18n_vs_intlayer.md
  docs/blog/zh/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/zh/react-i18next_vs_react-intl_vs_intlayer.md
Due: prettier --write

feat(cli): add --skip-if-exists option to translate command and update documentation
  docs/docs/en/intlayer_cli.md
  docs/tools/translate.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/reviewDoc.ts
  packages/@intlayer/cli/src/translateDoc.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(backend): update e embedding
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/react-i18next_vs_react-intl_vs_intlayer.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(cli): implement block-aware translation alignment for improved document review process
  packages/@intlayer/cli/src/reviewDoc.ts
  packages/@intlayer/cli/src/reviewDocBlockAware.ts
  packages/@intlayer/cli/src/translation-alignment/alignBlocks.ts
  packages/@intlayer/cli/src/translation-alignment/computeSimilarity.ts
  packages/@intlayer/cli/src/translation-alignment/fingerprintBlock.ts
  packages/@intlayer/cli/src/translation-alignment/index.ts
  packages/@intlayer/cli/src/translation-alignment/mapChangedLinesToBlocks.ts
  packages/@intlayer/cli/src/translation-alignment/normalizeBlock.ts
  packages/@intlayer/cli/src/translation-alignment/pipeline.ts
  packages/@intlayer/cli/src/translation-alignment/planActions.ts
  packages/@intlayer/cli/src/translation-alignment/rebuildDocument.ts
  packages/@intlayer/cli/src/translation-alignment/segmentDocument.ts
  packages/@intlayer/cli/src/translation-alignment/types.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(docs): update Intlayer CLI documentation with new commands, options, and examples
  docs/docs/ru/intlayer_cli.md
Due: prettier --write

feat(docs): enhance guides for integrating Intlayer with various i18n solutions, highlighting advanced features and migration strategies
  docs/blog/en-GB/intlayer_with_i18next.md
  docs/blog/en-GB/intlayer_with_next-i18next.md
  docs/blog/en-GB/intlayer_with_next-intl.md
  docs/blog/en-GB/intlayer_with_react-i18next.md
  docs/blog/en-GB/intlayer_with_react-intl.md
  docs/blog/en-GB/intlayer_with_vue-i18n.md
  docs/blog/en/intlayer_with_i18next.md
  docs/blog/en/intlayer_with_next-i18next.md
  docs/blog/en/intlayer_with_next-intl.md
  docs/blog/en/intlayer_with_react-i18next.md
  docs/blog/en/intlayer_with_react-intl.md
  docs/blog/en/intlayer_with_vue-i18n.md
Due: prettier --write

chore(cli): add new block aware review
  packages/@intlayer/cli/src/translation-alignment/alignBlocks.ts
  packages/@intlayer/cli/src/translation-alignment/rebuildDocument.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(docs): add AI provider setup documentation for Intlayer integration across various i18n frameworks
  docs/blog/en/intlayer_with_i18next.md
  docs/blog/en/intlayer_with_next-i18next.md
  docs/blog/en/intlayer_with_next-intl.md
  docs/blog/en/intlayer_with_react-i18next.md
  docs/blog/en/intlayer_with_react-intl.md
  docs/blog/en/intlayer_with_vue-i18n.md
Due: prettier --write

fix(chokidar): clean up stale dictionaries on key changes
  packages/@intlayer/chokidar/src/handleContentDeclarationFileChange.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add background in doc page layout
  apps/website/src/components/BlogPage/BlogPageLayout.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): fix background doc page for mobile view
  apps/website/src/components/BlogPage/BlogPageLayout.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs(doc): correct formatting of the --new-dictionaries-path option in cli documentation
  docs/docs/en/intlayer_cli.md
Due: prettier --write

refactor(editor): remove debug console logs from useFocusUnmergedDictionary.tsx
  packages/@intlayer/editor-react/src/useFocusUnmergedDictionary.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(cli): update MongoDB connection method and add trailing newlines for consistency
  apps/backend/src/utils/mongoDB/connectDB.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/SaveForm/SaveForm.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(preact-intlayer): update preact dependency to allow versions >=8.0.0
  packages/preact-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(mcp): fix MCP
  bun.lock
  packages/@intlayer/config/src/configFile/getConfiguration.ts
  packages/@intlayer/core/src/localization/getLocalizedUrl.ts
  packages/@intlayer/mcp/package.json
  packages/@intlayer/mcp/src/server/server.ts
  packages/@intlayer/mcp/src/tools/cli.ts
  packages/@intlayer/mcp/src/tools/docs.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(backend): update AI embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/intlayer_with_i18next.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/intlayer_with_next-i18next.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/intlayer_with_next-intl.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/intlayer_with_react-i18next.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/intlayer_with_react-intl.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/intlayer_with_vue-i18n.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump version to 7.0.8 across all packages
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/types/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/astro-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
  plugins/sync-json-plugin/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): fix headers for custom paths
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update version to 7.0.8 in bun.lock for all packages
  bun.lock
Due: none

fix(website): add null check for data in DictionaryLoaderDashboard component
  apps/website/src/components/Dashboard/Editor/DictionaryLoaderDashboard.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
