Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

feat(analytics): integrate Google Analytics and PostHog tracking
  apps/app/.env.template
  apps/app/next.config.ts
  apps/app/package.json
  apps/app/src/instrumentation-client.ts
  apps/app/src/providers/AppProviders.tsx
  apps/website/.env.template
  apps/website/next.config.ts
  apps/website/package.json
  apps/website/src/instrumentation-client.ts
  apps/website/src/providers/AppProviders.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add support for saving transformed components and enhance extraction logic
  bun.lock
  packages/@intlayer/babel/src/babel-plugin-intlayer-extract.ts
  packages/@intlayer/babel/src/getExtractPluginOptions.ts
  packages/@intlayer/chokidar/src/cli.ts
  packages/@intlayer/chokidar/src/detectFormatCommand.ts
  packages/@intlayer/chokidar/src/transformFiles/transformFiles.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/index.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeJSFile.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/defaultValues/compiler.ts
  packages/@intlayer/types/src/config.ts
  packages/vite-intlayer/src/IntlayerCompilerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: replace setLocaleInStorage by setLocale in tanstack start app
  examples/tanstack-start-app/src/components/locale-switcher.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update dockerfile version
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

fix(chokidar): fix skills
  packages/@intlayer/chokidar/src/installSkills/skills/astro.md
  packages/@intlayer/chokidar/src/installSkills/skills/cli.md
  packages/@intlayer/chokidar/src/installSkills/skills/next-js.md
  packages/@intlayer/chokidar/src/installSkills/skills/remote-content.md
Due: prettier --write

feat(chokidar): add extension to recommended in init command
  packages/@intlayer/chokidar/src/init/index.ts
  packages/@intlayer/chokidar/src/init/utils/fileSystem.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update vue framwork doc
  docs/blog/ar/list_i18n_technologies/frameworks/vue.md
  docs/blog/de/list_i18n_technologies/frameworks/vue.md
  docs/blog/en-GB/list_i18n_technologies/frameworks/vue.md
  docs/blog/es/list_i18n_technologies/frameworks/vue.md
  docs/blog/fr/list_i18n_technologies/frameworks/vue.md
  docs/blog/hi/list_i18n_technologies/frameworks/vue.md
  docs/blog/id/list_i18n_technologies/frameworks/vue.md
  docs/blog/it/list_i18n_technologies/frameworks/vue.md
  docs/blog/ja/list_i18n_technologies/frameworks/vue.md
  docs/blog/ko/list_i18n_technologies/frameworks/vue.md
  docs/blog/pl/list_i18n_technologies/frameworks/vue.md
  docs/blog/pt/list_i18n_technologies/frameworks/vue.md
  docs/blog/ru/list_i18n_technologies/frameworks/vue.md
  docs/blog/tr/list_i18n_technologies/frameworks/vue.md
  docs/blog/vi/list_i18n_technologies/frameworks/vue.md
  docs/blog/zh/list_i18n_technologies/frameworks/vue.md
Due: prettier --write

docs: update terms of service title
  docs/legal/de/terms_of_service.md
  docs/legal/fr/terms_of_service.md
  docs/legal/ja/terms_of_service.md
  docs/legal/pl/terms_of_service.md
  docs/legal/ru/terms_of_service.md
  docs/legal/uk/terms_of_service.md
Due: prettier --write

refactor(design-system): uptimize Shiki loading
  packages/@intlayer/design-system/src/components/IDE/CodeBlockShiki.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add new blog i18n meaning
  docs/blog/ar/i18n_meaning.md
  docs/blog/de/i18n_meaning.md
  docs/blog/en-GB/i18n_meaning.md
  docs/blog/en/i18n_meaning.md
  docs/blog/es/i18n_meaning.md
  docs/blog/fr/i18n_meaning.md
  docs/blog/hi/i18n_meaning.md
  docs/blog/id/i18n_meaning.md
  docs/blog/it/i18n_meaning.md
  docs/blog/ja/i18n_meaning.md
  docs/blog/ko/i18n_meaning.md
  docs/blog/pl/i18n_meaning.md
  docs/blog/pt/i18n_meaning.md
  docs/blog/ru/i18n_meaning.md
  docs/blog/tr/i18n_meaning.md
  docs/blog/uk/i18n_meaning.md
  docs/blog/vi/i18n_meaning.md
  docs/blog/zh/i18n_meaning.md
  docs/src/generated/blog.entry.ts
  docs/tools/translate.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: update react native and expo doc
  docs/docs/ar/intlayer_with_react_native+expo.md
  docs/docs/de/intlayer_with_react_native+expo.md
  docs/docs/en-GB/intlayer_with_react_native+expo.md
  docs/docs/en/intlayer_with_react_native+expo.md
  docs/docs/es/intlayer_with_react_native+expo.md
  docs/docs/fr/intlayer_with_react_native+expo.md
  docs/docs/hi/intlayer_with_react_native+expo.md
  docs/docs/id/intlayer_with_react_native+expo.md
  docs/docs/it/intlayer_with_react_native+expo.md
  docs/docs/ja/intlayer_with_react_native+expo.md
  docs/docs/ko/intlayer_with_react_native+expo.md
  docs/docs/pl/intlayer_with_react_native+expo.md
  docs/docs/pt/intlayer_with_react_native+expo.md
  docs/docs/ru/intlayer_with_react_native+expo.md
  docs/docs/tr/intlayer_with_react_native+expo.md
  docs/docs/uk/intlayer_with_react_native+expo.md
  docs/docs/vi/intlayer_with_react_native+expo.md
  docs/docs/zh/intlayer_with_react_native+expo.md
Due: prettier --write

chore: fix dependency loop
  packages/@intlayer/config/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add scrollable property to DiscussionsAdminPage modal
  apps/app/src/components/Dashboard/AdminPage/AdminDiscussions/DiscussionsAdminPage.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: fix circular dependency in @intlayer/api
  docs/docs/ar/intlayer_with_next-i18next.md
  docs/docs/en/intlayer_with_next-i18next.md
  docs/docs/en/intlayer_with_next-intl.md
  packages/@intlayer/api/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: remove footer from doc layout
  apps/website/src/app/[locale]/(docs)/layout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): fix style landing
  apps/website/src/components/LandingPage/FeaturesSection/TestSection/index.tsx
  apps/website/src/components/LandingPage/FeaturesSection/index.tsx
  packages/@intlayer/design-system/src/components/Carousel/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: fix links in get-started
  .agents/skills/intlayer-usage/references/get-started.md
  docs/docs/ar/index.md
  docs/docs/ar/introduction.md
  docs/docs/de/index.md
  docs/docs/de/introduction.md
  docs/docs/en-GB/index.md
  docs/docs/en-GB/introduction.md
  docs/docs/en/index.md
  docs/docs/en/introduction.md
  docs/docs/es/index.md
  docs/docs/es/introduction.md
  docs/docs/fr/index.md
  docs/docs/fr/introduction.md
  docs/docs/hi/index.md
  docs/docs/hi/introduction.md
  docs/docs/id/index.md
  docs/docs/id/introduction.md
  docs/docs/it/index.md
  docs/docs/it/introduction.md
  docs/docs/ja/index.md
  docs/docs/ja/introduction.md
  docs/docs/ko/index.md
  docs/docs/ko/introduction.md
  docs/docs/pl/index.md
  docs/docs/pl/introduction.md
  docs/docs/pt/index.md
  docs/docs/pt/introduction.md
  docs/docs/ru/index.md
  docs/docs/ru/introduction.md
  docs/docs/tr/index.md
  docs/docs/tr/introduction.md
  docs/docs/uk/index.md
  docs/docs/uk/introduction.md
  docs/docs/vi/index.md
  docs/docs/vi/introduction.md
  docs/docs/zh/index.md
  docs/docs/zh/introduction.md
Due: prettier --write

style(website): update doc style
  apps/app/src/components/Link/Link.tsx
  apps/website/src/components/DocPage/DocPageNavigation/DocPageNavigation.tsx
  apps/website/src/components/DocPage/DocumentationRender.tsx
  apps/website/src/components/Link/Link.tsx
  packages/@intlayer/design-system/src/components/Link/Link.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: fix content declaration format in doc
  .agents/skills/intlayer-next-js/references/environment_nextjs_no-locale-path.md
  docs/docs/ar/intlayer_with_nextjs_no_locale_path.md
  docs/docs/de/intlayer_with_nextjs_no_locale_path.md
  docs/docs/en-GB/intlayer_with_nextjs_no_locale_path.md
  docs/docs/en/intlayer_with_nextjs_no_locale_path.md
  docs/docs/es/intlayer_with_nextjs_no_locale_path.md
  docs/docs/fr/intlayer_with_nextjs_no_locale_path.md
  docs/docs/hi/intlayer_with_nextjs_no_locale_path.md
  docs/docs/id/intlayer_with_nextjs_no_locale_path.md
  docs/docs/it/intlayer_with_nextjs_no_locale_path.md
  docs/docs/ja/intlayer_with_nextjs_no_locale_path.md
  docs/docs/ko/intlayer_with_nextjs_no_locale_path.md
  docs/docs/pl/intlayer_with_nextjs_no_locale_path.md
  docs/docs/pt/intlayer_with_nextjs_no_locale_path.md
  docs/docs/ru/intlayer_with_nextjs_no_locale_path.md
  docs/docs/tr/intlayer_with_nextjs_no_locale_path.md
  docs/docs/uk/intlayer_with_nextjs_no_locale_path.md
  docs/docs/vi/intlayer_with_nextjs_no_locale_path.md
  docs/docs/zh/intlayer_with_nextjs_no_locale_path.md
Due: prettier --write

chore: fix dep loop mcp
  bun.lock
  packages/@intlayer/mcp/package.json
  packages/@intlayer/mcp/src/tools/installSkills.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(backend): update embedding
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/i18n_meaning.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+react_compiler.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): remove border bottom doc
  apps/website/src/components/BlogPage/BlogPageLayout.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: fix doc
  docs/blog/en/intlayer_with_i18next.md
  docs/blog/en/intlayer_with_next-i18next.md
  docs/blog/en/intlayer_with_next-intl.md
  docs/blog/en/intlayer_with_react-i18next.md
  docs/blog/en/intlayer_with_react-intl.md
  docs/blog/en/intlayer_with_vue-i18n.md
Due: prettier --write

refactor(api): update imports and types
  apps/backend/src/controllers/ai.controller.ts
  apps/backend/src/export.ts
  packages/@intlayer/api/package.json
  packages/@intlayer/api/src/distantDictionary/fetchDistantDictionaries.ts
  packages/@intlayer/api/src/distantDictionary/fetchDistantDictionary.ts
  packages/@intlayer/api/src/getIntlayerAPI/ai.ts
  packages/@intlayer/api/src/getIntlayerAPI/audit.ts
  packages/@intlayer/api/src/getIntlayerAPI/dictionary.ts
  packages/@intlayer/api/src/getIntlayerAPI/editor.ts
  packages/@intlayer/api/src/getIntlayerAPI/index.ts
  packages/@intlayer/api/src/getIntlayerAPI/newsletter.ts
  packages/@intlayer/api/src/getIntlayerAPI/oAuth.ts
  packages/@intlayer/api/src/getIntlayerAPI/organization.ts
  packages/@intlayer/api/src/getIntlayerAPI/project.ts
  packages/@intlayer/api/src/getIntlayerAPI/search.ts
  packages/@intlayer/api/src/getIntlayerAPI/stripe.ts
  packages/@intlayer/api/src/getIntlayerAPI/tag.ts
  packages/@intlayer/api/src/getIntlayerAPI/user.ts
  packages/@intlayer/api/src/index.ts
  packages/@intlayer/api/src/types.ts
  packages/@intlayer/api/tsconfig.json
  packages/@intlayer/api/tsconfig.types.json
  packages/intlayer-editor/server/src/controllers/dictionary.controller.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(mcp): replace chokidar import by cli
  packages/@intlayer/mcp/src/tools/cli.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): implement rss
  apps/website/package.json
  apps/website/src/app/[locale]/metadata.ts
  apps/website/src/app/feed.xml/route.ts
  apps/website/src/app/posts.json/route.ts
  bun.lock
  examples/analog-app/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/tw-source.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(design-system): minor design system update
  packages/@intlayer/design-system/src/components/Badge/index.tsx
  packages/@intlayer/design-system/src/components/Pagination/NumberItemsSelector.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: fix usage oh header storage in routing
  bun.lock
  examples/next-no-lolale-path/app/proxy.ts
  examples/next-no-lolale-path/components/LocaleSwitcher/LocaleSwitcher.tsx
  examples/next-no-lolale-path/intlayer.config.ts
  examples/next-no-lolale-path/package.json
  packages/next-intlayer/src/proxy/intlayerProxy.ts
  packages/next-intlayer/src/proxy/multipleProxies.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(types): fix dictionary type error schema
  packages/@intlayer/types/src/dictionary.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): remove usued fields in navbar content
  apps/app/src/components/Navbar/navbar.content.ts
  apps/website/src/components/Navbar/navbar.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
