Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

chore(app): remove unused astro-intlayer documentation files
  apps/app/astro-intlayer-doc.html
  apps/app/astro-intlayer-doc1.html
Due: none

feat(website-react-router): migrate website tor react router v7
  apps/website-react-router/.env.template
  apps/website-react-router/Dockerfile
  apps/website-react-router/intlayer.config.ts
  apps/website-react-router/next.config.ts
  apps/website-react-router/scripts/baidu-push.ts
  apps/website-react-router/scripts/purge-cloudflare-cache.ts
  apps/website-react-router/src/app/api/baidu-push/route.ts
  apps/website-react-router/src/app/feed.xml/route.ts
  apps/website-react-router/src/app/robots.ts
  apps/website-react-router/src/app/root.tsx
  apps/website-react-router/src/app/routes/i18n-seo-scanner.tsx
  apps/website-react-router/src/app/routes/playground-page.tsx
  apps/website-react-router/src/app/security-headers.ts
  apps/website-react-router/src/app/sitemap.ts
  apps/website-react-router/src/components/Dashboard/Editor/ApplicationNotRunningView/ApplicationNotRunningView.tsx
  apps/website-react-router/src/components/DocPage/Search/SearchView.tsx
  apps/website-react-router/src/components/Link/Link.tsx
  apps/website-react-router/src/components/ProductHunt/index.tsx
  apps/website-react-router/src/components/ScannerPage/useLocalizationScan.ts
  apps/website-react-router/src/components/ScannerPage/useRecursiveScan.ts
  apps/website-react-router/src/components/ServiceWorker/useServiceWorker.ts
  apps/website-react-router/src/instrumentation-client.ts
  apps/website-react-router/src/layouts/RootHTMLLayout.tsx
  apps/website-react-router/src/providers/AppProviders.tsx
  apps/website-react-router/src/utils/markdown.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website-react-router): migrate Dockerfile to support React Router
  apps/website-react-router/Dockerfile
Due: none

refactor(website-react-router): remove redundant structured data components and update Vite env loading configuration
  apps/website-react-router/src/structuredData/TranslateSoftwareApplicationHeader.tsx
  packages/@intlayer/design-system/src/structuredData/ScannerSoftwareApplicationHeader.tsx
  packages/@intlayer/design-system/src/structuredData/TranslateSoftwareApplicationHeader.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): restrict loadEnv prefix to VITE_ in vite configuration files
  apps/app/vite.config.ts
  apps/showcase/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add PostYourStartup badge to 404 landing page
  apps/website/src/app/[locale]/(landing)/[...not-found]/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website-react-router): fix migration
  apps/website-react-router/Dockerfile
  apps/website-react-router/fix-images.mjs
  apps/website-react-router/fix-scripts.mjs
  apps/website-react-router/package.json
  apps/website-react-router/replace-dynamic.mjs
  apps/website-react-router/src/app/layout.tsx
  apps/website-react-router/src/app/manifest.ts
  apps/website-react-router/src/app/robots.ts
  apps/website-react-router/src/app/root.tsx
  apps/website-react-router/src/app/routes.ts
  apps/website-react-router/src/app/routes/playground-page.tsx
  apps/website-react-router/src/app/sitemap.ts
  apps/website-react-router/src/components/CMSLandingPage/index.tsx
  apps/website-react-router/src/components/DocPage/DocumentationRender.tsx
  apps/website-react-router/src/components/LandingPage/FeaturesSection/index.tsx
  apps/website-react-router/src/components/LandingPage/HeroSection/ActionButtons.tsx
  apps/website-react-router/src/components/LandingPage/HeroSection/AnimatedDescription.tsx
  apps/website-react-router/src/components/LandingPage/HeroSection/BlurInText.tsx
  apps/website-react-router/src/components/LandingPage/HeroSection/ChevronDown.tsx
  apps/website-react-router/src/components/LandingPage/HeroSection/TechLogos.tsx
  apps/website-react-router/src/components/LandingPage/HeroSection/action-button.content.ts
  apps/website-react-router/src/components/LandingPage/HeroSection/index.tsx
  apps/website-react-router/src/components/LandingPage/HeroSection/landing-section.content.ts
  apps/website-react-router/src/components/LandingPage/I18nBenchmarkSection/index.tsx
  apps/website-react-router/src/components/LandingPage/index.tsx
  apps/website-react-router/src/components/Link/Link.tsx
  apps/website-react-router/src/components/Navbar/index.tsx
  apps/website-react-router/src/components/TMSLandingPage/index.tsx
  apps/website-react-router/src/components/TranslationLandingPage/index.tsx
  apps/website-react-router/src/instrumentation-client.ts
  apps/website-react-router/src/providers/IntlayerMarkdownProvider.tsx
  apps/website-react-router/src/utils/dynamic.tsx
  apps/website-react-router/vite.config.ts
  apps/website/src/components/LandingPage/index.tsx
  bun.lock
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownIframe.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(website-react-router): restrict service worker precache glob patterns to essential application assets
  apps/website-react-router/scripts/generate-sw.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website-react-router): migrate prerender to configuration object and implement concurrent path resolution
  apps/website-react-router/react-router.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add documentation for Markdown AST pre-parsing to support optimized SSR and hydration across multiple frameworks
  docs/docs/ar/dictionary/markdown.md
  docs/docs/de/dictionary/markdown.md
  docs/docs/en-GB/dictionary/markdown.md
  docs/docs/en/dictionary/markdown.md
  docs/docs/es/dictionary/markdown.md
  docs/docs/fr/dictionary/markdown.md
  docs/docs/hi/dictionary/markdown.md
  docs/docs/id/dictionary/markdown.md
  docs/docs/it/dictionary/markdown.md
  docs/docs/ko/dictionary/markdown.md
  docs/docs/pl/dictionary/markdown.md
  docs/docs/pt/dictionary/markdown.md
  docs/docs/ru/dictionary/markdown.md
  docs/docs/tr/dictionary/markdown.md
  docs/docs/uk/dictionary/markdown.md
  docs/docs/vi/dictionary/markdown.md
  docs/docs/zh/dictionary/markdown.md
Due: prettier --write

refactor(website): update Docker base image to Node 26
  apps/website/Dockerfile
Due: none

fix(website-react-router): enable source maps, filter invalid language attributes, remove GTM preconnect links, and update documentation link component import
  apps/website-react-router/Dockerfile
  apps/website-react-router/react-router.config.ts
  apps/website-react-router/src/app/root.tsx
  apps/website-react-router/src/components/DocPage/DocPageNavigation/DocPageNavigation.tsx
  apps/website-react-router/vite.config.ts
  packages/@intlayer/design-system/src/components/IDE/Code.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(ai): update AI system prompts to include Intlayer branding
  packages/@intlayer/ai/src/translateJSON/PROMPT_JSON.md
  packages/@intlayer/ai/src/translateJSON/PROMPT_TOON.md
Due: prettier --write

fix(website-react-router): enable path generation by replacing empty array return with allPaths in react-router config
  apps/website-react-router/react-router.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(mcp): restrict root GET endpoint to 405 Method Not Allowed and remove session validation
  packages/@intlayer/mcp/src/server/sse.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): replace header components with semantic elements, update security headers, and improve documentation metadata consistency
  apps/website-react-router/src/app/root.tsx
  apps/website-react-router/src/app/security-headers.ts
  apps/website-react-router/src/components/DocPage/History/index.tsx
  apps/website-react-router/src/components/I18nBenchmark/index.tsx
  apps/website-react-router/vite.config.ts
  apps/website/next.config.ts
  apps/website/src/components/I18nBenchmark/index.tsx
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/Visual.tsx
  apps/website/src/layouts/RootHTMLLayout.tsx
  docs/docs/ar/dictionary/markdown.md
  docs/docs/de/dictionary/markdown.md
  docs/docs/en-GB/dictionary/markdown.md
  docs/docs/es/dictionary/markdown.md
  docs/docs/fr/dictionary/markdown.md
  docs/docs/hi/dictionary/markdown.md
  docs/docs/id/dictionary/markdown.md
  docs/docs/it/dictionary/markdown.md
  docs/docs/ko/dictionary/markdown.md
  docs/docs/pl/dictionary/markdown.md
  docs/docs/pt/dictionary/markdown.md
  docs/docs/ru/dictionary/markdown.md
  docs/docs/tr/dictionary/markdown.md
  docs/docs/uk/dictionary/markdown.md
  docs/docs/vi/dictionary/markdown.md
  docs/docs/zh/dictionary/markdown.md
  packages/@intlayer/core/src/markdown/compiler.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

build(website): update runner image to bun and add test documentation page
  apps/website/Dockerfile
Due: none

feat(app): add method support to Form component, enhance ProjectForm UI, optimize network connectivity in root, and update component imports
  apps/app/src/components/Auth/SignIn/SignInForm/SignInForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/Config/ConfigDetails.tsx
  apps/app/src/components/Dashboard/ProjectForm/ProjectForm.tsx
  apps/website-react-router/src/app/root.tsx
  apps/website-react-router/src/components/DocPage/DocPageNavigation/DocPageNavigation.tsx
  packages/@intlayer/design-system/src/components/Form/FormBase.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: resolve formatting error in Dockerfile exclude list
  apps/app/Dockerfile
Due: none

feat(app): implement dashboard localization scanner with audit and sitemap analysis tools
  apps/app/src/components/AppInstallModal/AppInstallModal.tsx
  apps/app/src/components/Dashboard/DashboardSidebar/DashboardSidebar.tsx
  apps/app/src/components/Dashboard/DashboardSidebar/dashboardSidebar.content.ts
  apps/app/src/components/Dashboard/ProjectForm/ProjectForm.tsx
  apps/app/src/components/IntlayerMarkdownProvider.tsx
  apps/app/src/components/ScannerPage/Analyzer/AnalyzerLoading.tsx
  apps/app/src/components/ScannerPage/Analyzer/Results/AnalyzerPageResults.tsx
  apps/app/src/components/ScannerPage/Analyzer/Results/AnalyzerSiteResults.tsx
  apps/app/src/components/ScannerPage/Analyzer/Results/BundleContentField.tsx
  apps/app/src/components/ScannerPage/Analyzer/Results/FieldItem.tsx
  apps/app/src/components/ScannerPage/Analyzer/Results/RobotsSection.tsx
  apps/app/src/components/ScannerPage/Analyzer/Results/SitemapSection.tsx
  apps/app/src/components/ScannerPage/Analyzer/Results/analyzerResults.content.ts
  apps/app/src/components/ScannerPage/Analyzer/Results/types.ts
  apps/app/src/components/ScannerPage/AnalyzerResultsSection.tsx
  apps/app/src/components/ScannerPage/DashboardLocalizationScanner.tsx
  apps/app/src/components/ScannerPage/RecursiveAuditResults.tsx
  apps/app/src/components/ScannerPage/UrlDiscoveryList.tsx
  apps/app/src/components/ScannerPage/dashboardLocalizationScanner.content.ts
  apps/app/src/components/ScannerPage/index.tsx
  apps/app/src/components/ScannerPage/localizationAnalyzer.content.ts
  apps/app/src/components/ScannerPage/recursiveAuditResults.content.ts
  apps/app/src/components/ScannerPage/urlDiscoveryList.content.ts
  apps/app/src/components/ScannerPage/useLocalizationScan.ts
  apps/app/src/components/ScannerPage/useRecursiveScan.ts
  apps/app/src/routeTree.gen.ts
  apps/app/src/routes/{-$locale}/_dashboard/_admin/admin/promo-code/index.tsx
  apps/app/src/routes/{-$locale}/_dashboard/ide.tsx
  apps/app/src/routes/{-$locale}/_dashboard/route.tsx
  apps/app/src/routes/{-$locale}/_dashboard/scanner.content.ts
  apps/app/src/routes/{-$locale}/_dashboard/scanner.tsx
  apps/app/src/routes/{-$locale}/_other/affiliation/index.tsx
  apps/app/src/routes/{-$locale}/_other/find-reviewer/index.tsx
  apps/backend/src/controllers/ai.controller.ts
  packages/@intlayer/design-system/src/components/Browser/Browser.tsx
  packages/@intlayer/design-system/src/routes.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(backend): fix formatting of exclude list in backend Dockerfile
  apps/backend/Dockerfile
Due: none

chore(website-react-router): disable blog and FAQ route generation and increase concurrency limit in react-router config
  apps/website-react-router/react-router.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: update ICP license number in footer components across all applications
  apps/app/src/components/Footer/index.tsx
  apps/showcase/src/components/Footer/index.tsx
  apps/website-react-router/src/components/Footer/index.tsx
  apps/website/src/components/Footer/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add 5s timeout to contributor fetch and include RSC documentation
  apps/website-react-router/src/api/contributors.api.ts
  apps/website-react-router/src/app/routes/contributors.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): remove EmailRegistrationToast
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/markdown.json
  apps/website-react-router/src/app/routes/docs-layout.tsx
  apps/website-react-router/src/app/routes/landing.tsx
  apps/website-react-router/src/components/DocPage/DocPageLayout.tsx
  apps/website-react-router/src/routes/{-$locale}/_docs/route.tsx
  apps/website-react-router/src/routes/{-$locale}/index.tsx
  apps/website/src/app/[locale]/(docs)/layout.tsx
  apps/website/src/app/[locale]/(landing)/layout.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(app): increase ProjectForm gap header
  apps/app/src/components/Dashboard/ProjectForm/ProjectForm.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(config): remove usage of default import for built config
  apps/app/src/components/Auth/CliLogin/CliLoginFlow.tsx
  apps/website/src/app/[locale]/(playground)/playground/page.tsx
  apps/website/src/components/Dashboard/Editor/EditorProvider.tsx
  packages/@intlayer/api/src/getIntlayerAPI/ai.ts
  packages/@intlayer/api/src/getIntlayerAPI/audit.ts
  packages/@intlayer/api/src/getIntlayerAPI/bitbucket.ts
  packages/@intlayer/api/src/getIntlayerAPI/dictionary.ts
  packages/@intlayer/api/src/getIntlayerAPI/editor.ts
  packages/@intlayer/api/src/getIntlayerAPI/github.ts
  packages/@intlayer/api/src/getIntlayerAPI/gitlab.ts
  packages/@intlayer/api/src/getIntlayerAPI/index.ts
  packages/@intlayer/api/src/getIntlayerAPI/newsletter.ts
  packages/@intlayer/api/src/getIntlayerAPI/oAuth.ts
  packages/@intlayer/api/src/getIntlayerAPI/organization.ts
  packages/@intlayer/api/src/getIntlayerAPI/project.ts
  packages/@intlayer/api/src/getIntlayerAPI/reviewer.ts
  packages/@intlayer/api/src/getIntlayerAPI/search.ts
  packages/@intlayer/api/src/getIntlayerAPI/showcaseProject.ts
  packages/@intlayer/api/src/getIntlayerAPI/stripe.ts
  packages/@intlayer/api/src/getIntlayerAPI/tag.ts
  packages/@intlayer/api/src/getIntlayerAPI/translate.ts
  packages/@intlayer/api/src/getIntlayerAPI/user.ts
  packages/@intlayer/api/src/proxy.ts
  packages/@intlayer/chokidar/src/loadDictionaries/log.ts
  packages/@intlayer/chokidar/src/writeConfiguration/generateConfigurationContent.ts
  packages/@intlayer/cli/src/IntlayerEventListener.ts
  packages/@intlayer/config/src/built.ts
  packages/@intlayer/design-system/src/api/useAuth/useOAuth2.ts
  packages/@intlayer/design-system/src/api/useAuth/useSession.ts
  packages/@intlayer/design-system/src/libs/auth.ts
  packages/@intlayer/dictionaries-entry/src/index.ts
  packages/@intlayer/dynamic-dictionaries-entry/src/index.ts
  packages/@intlayer/editor-react/src/EditorProvider.tsx
  packages/@intlayer/editor/src/core/EditorStateManager.ts
  packages/@intlayer/editor/src/core/initEditorClient.ts
  packages/@intlayer/fetch-dictionaries-entry/src/index.ts
  packages/@intlayer/mcp/src/tools/api.ts
  packages/@intlayer/remote-dictionaries-entry/src/index.ts
  packages/@intlayer/unmerged-dictionaries-entry/src/index.ts
  packages/intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website-react-router): centralize route imports
  apps/website-react-router/intlayer.config.ts
  apps/website-react-router/scripts/generate-sw.ts
  apps/website-react-router/src/routeTree.gen.ts
  apps/website-react-router/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): update seo
  apps/app/src/routeTree.gen.ts
  apps/website-tanstack/src/routeTree.gen.ts
  apps/website-tanstack/src/structuredData/BreadcrumbsHeader.tsx
  apps/website-tanstack/src/structuredData/CreativeWorkHeader.tsx
  apps/website-tanstack/src/structuredData/FAQPageHeader.tsx
  apps/website-tanstack/src/structuredData/OrganizationHeader.tsx
  apps/website-tanstack/src/structuredData/ProductHeader.tsx
  apps/website-tanstack/src/structuredData/ScannerSoftwareApplicationHeader.tsx
  apps/website-tanstack/src/structuredData/SoftwareApplication.tsx
  apps/website-tanstack/src/structuredData/TMSProductHeader.tsx
  apps/website-tanstack/src/structuredData/TranslateProductHeader.tsx
  apps/website-tanstack/src/structuredData/TranslateSoftwareApplicationHeader.tsx
  apps/website-tanstack/src/structuredData/WebsiteHeader.tsx
  apps/website/src/app/[locale]/(docs)/doc/[[...slugs]]/layout.tsx
  apps/website/src/app/[locale]/metadata.ts
  apps/website/src/structuredData/BreadcrumbsHeader.tsx
  apps/website/src/structuredData/CreativeWorkHeader.tsx
  apps/website/src/structuredData/FAQPageHeader.tsx
  apps/website/src/structuredData/OrganizationHeader.tsx
  apps/website/src/structuredData/ProductHeader.tsx
  apps/website/src/structuredData/ScannerSoftwareApplicationHeader.tsx
  apps/website/src/structuredData/SoftwareApplication.tsx
  apps/website/src/structuredData/TMSProductHeader.tsx
  apps/website/src/structuredData/TranslateProductHeader.tsx
  apps/website/src/structuredData/TranslateSoftwareApplicationHeader.tsx
  apps/website/src/structuredData/WebsiteHeader.tsx
  examples/tanstack-start-app/src/routeTree.gen.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: examples/nuxt-3-app/package.json to reduce vulnerabilities
  examples/nuxt-3-app/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: examples/nuxt-4-app/package.json to reduce vulnerabilities
  examples/nuxt-4-app/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update dep package version
  apps/app/package.json
  apps/backend/package.json
  apps/showcase/package.json
  apps/website-tanstack/package.json
  apps/website/package.json
  bun.lock
  examples/next-no-lolale-path/package.json
  examples/nextjs-15-app/package.json
  examples/nuxt-3-app/package.json
  examples/nuxt-4-app/package.json
  examples/vite-vue-app/package.json
  package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write
