Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --cache"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: add MCP server configuration for intlayer in mcp.json
  .cursor/mcp.json
Due: prettier --write

docs: add social media links to README.md for enhanced visibility
  README.md
Due: prettier --write

docs: update all README.md files to include social media links
  packages/@intlayer/api/README.md
  packages/@intlayer/babel/README.md
  packages/@intlayer/chokidar/README.md
  packages/@intlayer/cli/README.md
  packages/@intlayer/config/README.md
  packages/@intlayer/core/README.md
  packages/@intlayer/design-system/README.md
  packages/@intlayer/dictionaries-entry/README.md
  packages/@intlayer/dynamic-dictionaries-entry/README.md
  packages/@intlayer/editor-react/README.md
  packages/@intlayer/editor/README.md
  packages/@intlayer/mcp/README.md
  packages/@intlayer/unmerged-dictionaries-entry/README.md
  packages/@intlayer/webpack/README.md
  packages/angular-intlayer/README.md
  packages/express-intlayer/README.md
  packages/intlayer-cli/README.md
  packages/intlayer-editor/README.md
  packages/intlayer/README.md
  packages/lynx-intlayer/README.md
  packages/next-intlayer/README.md
  packages/preact-intlayer/README.md
  packages/react-intlayer/README.md
  packages/react-native-intlayer/README.md
  packages/react-scripts-intlayer/README.md
  packages/solid-intlayer/README.md
  packages/svelte-intlayer/README.md
  packages/vite-intlayer/README.md
  packages/vue-intlayer/README.md
Due: prettier --write

docs: refine Vite and Vue documentation
  docs/zh/intlayer_with_vite+vue.md
Due: prettier --write

fix: change overflow-scroll to overflow-auto in website
  apps/website/src/components/LandingPage/FeaturesSection/AutocompletionSection/index.tsx
  apps/website/src/components/LandingPage/FeaturesSection/MarkdownSection/index.tsx
  apps/website/src/layouts/RootHTMLLayout.tsx
Due: prettier --write, eslint --fix --cache

style(design-system): update overflow properties to overflow-auto for better scrolling behavior in multiple components
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/StructureView/StructureView.tsx
  packages/@intlayer/design-system/src/components/IDE/FileList.tsx
  packages/@intlayer/design-system/src/components/KeyboardScreenAdapter/index.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/index.tsx
  packages/@intlayer/design-system/src/components/TextArea/AutoSizeTextArea.tsx
Due: prettier --write, eslint --fix --cache

feat(nuxt-intlayer): introduce Nuxt module for internationalization with Intlayer, including plugin setup and example usage
  examples/nuxt-app/middleware/locale.global.ts
  examples/nuxt-app/nuxt.config.ts
  examples/nuxt-app/package.json
  examples/nuxt-app/pages/[[locale]]/index.vue
  examples/nuxt-app/plugins/intlayer.ts
  packages/nuxt-intlayer/.npmignore
  packages/nuxt-intlayer/.prettierignore
  packages/nuxt-intlayer/README.md
  packages/nuxt-intlayer/eslint.config.mjs
  packages/nuxt-intlayer/package.json
  packages/nuxt-intlayer/src/index.ts
  packages/nuxt-intlayer/src/module.ts
  packages/nuxt-intlayer/tsconfig.json
  packages/nuxt-intlayer/tsconfig.types.json
  packages/nuxt-intlayer/tsup.config.ts
  pnpm-lock.yaml
  scripts/package-build-order.mjs
Due: prettier --write, eslint --fix --cache

fix(vite-intlayer): renderIntlayerNode for nuxt compatibility
  packages/vue-intlayer/src/client/useIntlayer.ts
  packages/vue-intlayer/src/renderIntlayerNode.ts
Due: prettier --write, eslint --fix --cache

docs: improve clarity in README.md by refining Static Rendering description
  README.md
Due: prettier --write

feat(nuxt-intlayer): enhance internationalization support by adding runtime plugins and updating package dependencies
  examples/nuxt-app/components/LocaleSwitcher.vue
  examples/nuxt-app/package.json
  examples/nuxt-app/plugins/intlayer.ts
  packages/nuxt-intlayer/package.json
  packages/nuxt-intlayer/src/module.ts
  packages/nuxt-intlayer/src/runtime/html-lang.ts
  packages/nuxt-intlayer/src/runtime/intlayer-plugin.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

docs(nuxt-intlayer): update README.md
  packages/nuxt-intlayer/README.md
Due: prettier --write

feat(nuxt-app): add multilingual support with new content and components for home and index pages
  examples/nuxt-app/pages/home/index.content.ts
  examples/nuxt-app/pages/home/index.vue
  examples/nuxt-app/pages/index.content.ts
  examples/nuxt-app/pages/index.vue
  packages/nuxt-intlayer/src/module.ts
Due: prettier --write, eslint --fix --cache

fix(nuxt-app): update postinstall script to use _postinstall for Nuxt preparation
  examples/nuxt-app/package.json
Due: prettier --write

feat(nuxt-app): integrate SEO metadata handling with Intlayer for home and index pages
  docs/ar/intlayer_with_nuxt.md
  docs/de/intlayer_with_nuxt.md
  docs/en-GB/intlayer_with_nuxt.md
  docs/en/intlayer_with_nuxt.md
  docs/es/intlayer_with_nuxt.md
  docs/fr/intlayer_with_nuxt.md
  docs/hi/intlayer_with_nuxt.md
  docs/it/intlayer_with_nuxt.md
  docs/ja/intlayer_with_nuxt.md
  docs/ko/intlayer_with_nuxt.md
  docs/pt/intlayer_with_nuxt.md
  docs/ru/intlayer_with_nuxt.md
  docs/zh/intlayer_with_nuxt.md
  examples/nuxt-app/pages/home/index.vue
  examples/nuxt-app/pages/home/meta.content.ts
  examples/nuxt-app/pages/index.vue
  examples/nuxt-app/pages/meta.content.ts
Due: prettier --write, eslint --fix --cache

core(script): dev script extend file watcher to include .vue
  scripts/script-dev-package-command.mjs
Due: none

docs(intlayer): update Intlayer nodes and destructuring
  docs/ar/intlayer_with_nuxt.md
  docs/ar/intlayer_with_vite+vue.md
  docs/de/intlayer_with_nuxt.md
  docs/de/intlayer_with_vite+vue.md
  docs/en-GB/intlayer_with_nuxt.md
  docs/en-GB/intlayer_with_vite+vue.md
  docs/en/intlayer_with_nuxt.md
  docs/en/intlayer_with_vite+vue.md
  docs/es/intlayer_with_nuxt.md
  docs/es/intlayer_with_vite+vue.md
  docs/fr/intlayer_with_nuxt.md
  docs/fr/intlayer_with_vite+vue.md
  docs/hi/intlayer_with_vite+vue.md
  docs/it/intlayer_with_nuxt.md
  docs/it/intlayer_with_vite+vue.md
  docs/ja/intlayer_with_nuxt.md
  docs/ja/intlayer_with_vite+vue.md
  docs/ko/intlayer_with_vite+vue.md
  docs/pt/intlayer_with_nuxt.md
  docs/pt/intlayer_with_vite+vue.md
  docs/ru/intlayer_with_nuxt.md
  docs/ru/intlayer_with_vite+vue.md
  docs/zh/intlayer_with_vite+vue.md
Due: prettier --write

fix(vue-editor): fix vue-intlayer usage of editor in nuxt
  packages/vue-intlayer/src/editor/ContentSelectorWrapper.vue
  packages/vue-intlayer/src/editor/useCrossFrameMessageListener.ts
Due: prettier --write, eslint --fix --cache

feat(nuxt-intlayer): add IntlayerPrunePlugin support and optimize Vite configuration handling
  packages/nuxt-intlayer/src/module.ts
  packages/vite-intlayer/src/index.ts
Due: prettier --write, eslint --fix --cache

refactor(nuxt-app): replace intlayer.svg SVG
  examples/nuxt-app/public/intlayer.svg
Due: none

feat(nuxt-app): add intlayer-editor and nuxt-intlayer as devDependencies, update package.json scripts
  examples/nuxt-app/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(vue-intlayer): update editor to work on nuxt
  packages/vue-intlayer/src/editor/ContentSelectorWrapper.vue
  packages/vue-intlayer/src/editor/editorEnabled.ts
Due: prettier --write, eslint --fix --cache

chore: bump version to 5.5.10 across all packages
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

chore: remove outdated changelog files across all packages
  apps/website/CHANGELOG.md
  blog/CHANGELOG.md
  docs/CHANGELOG.md
  examples/cli/CHANGELOG.md
  examples/nextjs-14-app/CHANGELOG.md
  examples/react-app/CHANGELOG.md
  examples/vite-react-app/CHANGELOG.md
  packages/@intlayer/api/CHANGELOG.md
  packages/@intlayer/chokidar/CHANGELOG.md
  packages/@intlayer/cli/CHANGELOG.md
  packages/@intlayer/config/CHANGELOG.md
  packages/@intlayer/core/CHANGELOG.md
  packages/@intlayer/design-system/CHANGELOG.md
  packages/@intlayer/dictionaries-entry/CHANGELOG.md
  packages/@intlayer/dynamic-dictionaries-entry/CHANGELOG.md
  packages/@intlayer/editor-react/CHANGELOG.md
  packages/@intlayer/editor/CHANGELOG.md
  packages/@intlayer/mcp/CHANGELOG.md
  packages/@intlayer/unmerged-dictionaries-entry/CHANGELOG.md
  packages/@intlayer/webpack/CHANGELOG.md
  packages/express-intlayer/CHANGELOG.md
  packages/intlayer-cli/CHANGELOG.md
  packages/intlayer/CHANGELOG.md
  packages/next-intlayer/CHANGELOG.md
  packages/react-intlayer/CHANGELOG.md
  packages/react-scripts-intlayer/CHANGELOG.md
  packages/vite-intlayer/CHANGELOG.md
  utils/eslint-config/CHANGELOG.md
  utils/ts-config/CHANGELOG.md
  utils/tsup-config/CHANGELOG.md
Due: prettier --write

chore(nuxt-app): add .intlayer to .gitignore
  examples/nuxt-app/.gitignore
Due: none

chore(swc): update intlayer_swc_plugin.wasm binary
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

feat(docs): add FAQ entry for using Intlayer with Next.js without locale in page path
  docs/en/frequent_questions/SSR_Next_no_[locale].md
  docs/index.cjs
Due: prettier --write

refactor(backend): dynamically list model type definitions from AI SDKs
  apps/backend/src/utils/AI/aiSdk.ts
Due: prettier --write, eslint --fix --cache

chore(backend): update package dependencies and CSRF utility functions
  apps/backend/package.json
  apps/backend/src/utils/CSRF.ts
  apps/backend/src/webhooks/stripe.webhook.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

feat(design-system): enhance SearchView component with isOpen prop for focus management
  apps/website/src/components/DocPage/Search/SearchTrigger.tsx
  apps/website/src/components/DocPage/Search/SearchView.tsx
Due: prettier --write, eslint --fix --cache

chore(solid-intlayer): remove 'use client' directive package
  packages/solid-intlayer/src/UI/ContentSelector.tsx
  packages/solid-intlayer/src/client/IntlayerProvider.tsx
  packages/solid-intlayer/src/client/t.ts
  packages/solid-intlayer/src/client/useDictionary.ts
  packages/solid-intlayer/src/client/useDictionaryDynamic.ts
  packages/solid-intlayer/src/client/useIntlayer.ts
  packages/solid-intlayer/src/client/useLocale.ts
  packages/solid-intlayer/src/client/useLocaleBase.ts
  packages/solid-intlayer/src/editor/ContentSelectorWrapper.tsx
  packages/solid-intlayer/src/editor/IntlayerEditorProvider.tsx
  packages/solid-intlayer/src/editor/contexts/CommunicatorContext.tsx
  packages/solid-intlayer/src/editor/contexts/ConfigurationContext.tsx
  packages/solid-intlayer/src/editor/contexts/DictionariesRecordContext.tsx
  packages/solid-intlayer/src/editor/contexts/EditedContentContext.tsx
  packages/solid-intlayer/src/editor/contexts/EditorEnabledContext.tsx
  packages/solid-intlayer/src/editor/contexts/EditorProvider.tsx
  packages/solid-intlayer/src/editor/contexts/FocusDictionaryContext.tsx
  packages/solid-intlayer/src/editor/contexts/useCrossFrameMessageListener.tsx
  packages/solid-intlayer/src/editor/contexts/useCrossFrameState.tsx
  packages/solid-intlayer/src/editor/contexts/useCrossURLPathState.tsx
  packages/solid-intlayer/src/editor/contexts/useIframeClickInterceptor.tsx
  packages/solid-intlayer/src/editor/useEditedContentRenderer.tsx
  packages/solid-intlayer/src/markdown/MarkdownProvider.tsx
  packages/solid-intlayer/src/markdown/MarkdownRenderer.tsx
Due: prettier --write, eslint --fix --cache

chore(vue-intlayer): remove 'use client' directive from useDictionaryDynamic and useCrossFrameMessageListener files
  packages/vue-intlayer/src/client/useDictionaryDynamic.ts
  packages/vue-intlayer/src/editor/useCrossFrameMessageListener.ts
Due: prettier --write, eslint --fix --cache

chore(solid-intlayer): update pnpm-lock.yaml and package.json to include @intlayer/api dependency
  packages/solid-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(nuxt-app): update alt attributes to use reactive values for logos and title
  examples/nuxt-app/pages/index.vue
Due: none

doc: change npm command in CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

feat(docs): add content configuration to Intlayer setup across multiple language files
  docs/ar/intlayer_with_nuxt.md
  docs/de/intlayer_with_nuxt.md
  docs/en-GB/intlayer_with_nuxt.md
  docs/en/intlayer_with_nuxt.md
  docs/es/intlayer_with_nuxt.md
  docs/fr/intlayer_with_nuxt.md
  docs/hi/intlayer_with_nuxt.md
  docs/it/intlayer_with_nuxt.md
  docs/ja/intlayer_with_nuxt.md
  docs/ko/intlayer_with_nuxt.md
  docs/pt/intlayer_with_nuxt.md
  docs/ru/intlayer_with_nuxt.md
  docs/zh/intlayer_with_nuxt.md
Due: prettier --write

Improve Hindi documentation for Intlayer CMS
  docs/hi/intlayer_CMS.md
Due: prettier --write
