Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

feat(vue-app): add vueDocs to Intlayer usage in HelloWorld component
  examples/vite-vue-app/src/components/helloWorld/HelloWorld.vue
Due: none

chore: update version to 5.4.2 across all packages
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

fix(website): refine visibility logic in ProductHunt component to prevent unnecessary updates
  apps/website/src/components/ProductHunt/index.tsx
Due: prettier --write, eslint --fix --cache

fix(website): update LinkedIn URL to correct organization link
  packages/@intlayer/design-system/src/components/SocialNetworks/index.tsx
Due: prettier --write, eslint --fix --cache

fix(website): update ProductHunt slug for improved localization support
  apps/website/src/components/ProductHunt/index.tsx
Due: prettier --write, eslint --fix --cache

fix(website): update persisted store key for ProductHunt component to include slug
  apps/website/src/components/ProductHunt/index.tsx
Due: prettier --write, eslint --fix --cache

docs(README): add link to Per-Locale Content Declaration File in documentation
  README.md
Due: prettier --write

feat(cli): add support for unmerged dictionaries in CLI and introduce getLocalisedContent function for localized content transformation
  packages/@intlayer/cli/package.json
  packages/@intlayer/core/src/interpreter/getContent/getLocalisedContent.ts
  packages/@intlayer/core/src/interpreter/getContent/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

feat(backend): implement TranslateJSON function
  apps/backend/src/controllers/ai.controller.ts
  apps/backend/src/routes/ai.routes.ts
  apps/backend/src/utils/AI/translateJSON/PROMPT.md
  apps/backend/src/utils/AI/translateJSON/index.ts
  apps/backend/src/utils/auditTag/index.ts
  apps/backend/src/utils/extractJSON.ts
  apps/backend/src/utils/retryManager.ts
  packages/@intlayer/api/src/getIntlayerAPI/ai.ts
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
Due: prettier --write, eslint --fix --cache

feat(config): add ahrefs.com to secure headers for improved security
  apps/website/next.config.mjs
Due: none

fix(website): remove unnecessary metadata and optimize SVG logo for improved performance
  apps/website/public/objects/Dice/FullDice.fbx
  apps/website/src/components/Dashboard/DashboardFooter/index.tsx
  apps/website/src/components/Dashboard/DashboardNavbar/DashboardNavbar.tsx
  apps/website/src/components/Navbar/index.tsx
  packages/@intlayer/design-system/src/components/Footer/index.tsx
  packages/@intlayer/design-system/src/components/Logo/Logo.tsx
  packages/@intlayer/design-system/src/components/Logo/LogoCircle.tsx
  packages/@intlayer/design-system/src/components/Logo/LogoNoFrame.tsx
  packages/@intlayer/design-system/src/components/Logo/LogoSquare.tsx
  packages/@intlayer/design-system/src/components/Logo/LogoSquircle.tsx
  packages/@intlayer/design-system/src/components/Logo/LogoTextOnly.tsx
  packages/@intlayer/design-system/src/components/Logo/LogoWithText.tsx
  packages/@intlayer/design-system/src/components/Logo/LogoWithTextBelow.tsx
  packages/@intlayer/design-system/src/components/Logo/LogoWithTextBelowCircle.tsx
  packages/@intlayer/design-system/src/components/Logo/LogoWithTextBelowNoFrame.tsx
  packages/@intlayer/design-system/src/components/Logo/LogoWithTextBelowSquircle.tsx
  packages/@intlayer/design-system/src/components/Logo/LogoWithTextCircle.tsx
  packages/@intlayer/design-system/src/components/Logo/LogoWithTextNoFrame.tsx
  packages/@intlayer/design-system/src/components/Logo/LogoWithTextSquircle.tsx
  packages/@intlayer/design-system/src/components/Logo/index.tsx
  packages/@intlayer/design-system/src/components/Logo/logo.svg
  packages/@intlayer/design-system/src/components/Logo/logo_circle.svg
  packages/@intlayer/design-system/src/components/Logo/logo_circle_wite.svg
  packages/@intlayer/design-system/src/components/Logo/logo_no_frame.svg
  packages/@intlayer/design-system/src/components/Logo/logo_square.svg
  packages/@intlayer/design-system/src/components/Logo/logo_squircle.svg
  packages/@intlayer/design-system/src/components/Logo/logo_text_only.svg
  packages/@intlayer/design-system/src/components/Logo/logo_with_text.svg
  packages/@intlayer/design-system/src/components/Logo/logo_with_text_below.svg
  packages/@intlayer/design-system/src/components/Logo/logo_with_text_below_circle_frame.svg
  packages/@intlayer/design-system/src/components/Logo/logo_with_text_below_no_frame.svg
  packages/@intlayer/design-system/src/components/Logo/logo_with_text_below_squircle_frame.svg
  packages/@intlayer/design-system/src/components/Logo/logo_with_text_circle.svg
  packages/@intlayer/design-system/src/components/Logo/logo_with_text_no_frame.svg
  packages/@intlayer/design-system/src/components/Logo/logo_with_text_squircle.svg
Due: prettier --write, eslint --fix --cache

feat(backend): add auditContentDeclaration function to enhance AI route capabilities
  apps/backend/src/routes/ai.routes.ts
Due: prettier --write, eslint --fix --cache

feat(website): add Cache-Control header for improved caching strategy
  apps/website/next.config.mjs
Due: none

refactor(api): refactor API imports to use getAuthAPI and getDictionaryAPI for improved modularity
  apps/backend/src/export.ts
  apps/website/src/app/[locale]/(landing)/pricing/page.tsx
  apps/website/src/components/Auth/getServerSession.ts
  apps/website/src/components/OnboardPage/VerifyEmailStep/VerifyEmailStepForm.tsx
  packages/@intlayer/api/src/IntlayerEventListener.ts
  packages/@intlayer/api/src/distantDictionary/fetchDistantDictionaries.ts
  packages/@intlayer/api/src/distantDictionary/fetchDistantDictionary.ts
  packages/@intlayer/api/src/getIntlayerAPI/ai.ts
  packages/@intlayer/api/src/index.ts
  packages/@intlayer/chokidar/src/fetchDistantDictionaries.ts
  packages/@intlayer/cli/src/audit.ts
Due: prettier --write, eslint --fix --cache

fix(api): change AIOptions import to type export for better type safety
  packages/@intlayer/api/src/index.ts
Due: prettier --write, eslint --fix --cache

fix(pricing): update API import from getPricingAPI to getStripeAPI for pricing data retrieval
  apps/website/src/app/[locale]/(landing)/pricing/page.tsx
Due: prettier --write, eslint --fix --cache

fix(website): adjust SVG logos to preserve aspect ratio and update Navbar logo styling for better responsiveness
  apps/website/src/components/Navbar/index.tsx
  packages/@intlayer/design-system/src/components/Logo/Logo.tsx
  packages/@intlayer/design-system/src/components/Logo/LogoTextOnly.tsx
  packages/@intlayer/design-system/src/components/Logo/LogoWithText.tsx
  packages/@intlayer/design-system/src/components/Logo/LogoWithTextBelow.tsx
  packages/@intlayer/design-system/src/components/Logo/logo.svg
Due: prettier --write, eslint --fix --cache

feat(website): add ahrefs.com to secure headers for enhanced security
  apps/website/next.config.mjs
Due: none

feat(website): add revalidation interval to layout for improved caching
  apps/website/src/app/[locale]/layout.tsx
Due: prettier --write, eslint --fix --cache

refactor(website): change revalidation strategy to force-static for improved performance
  apps/website/src/app/[locale]/layout.tsx
Due: prettier --write, eslint --fix --cache

feat(website): enhance ProductHunt component to fetch detailed data and manage launch visibility
  apps/website/src/components/ProductHunt/index.tsx
Due: prettier --write, eslint --fix --cache

refactor(website): remove unused ProductHunt import and adjust class order for improved layout consistency
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: prettier --write, eslint --fix --cache

refactor(docs): simplify language tag structure for improved readability and accessibility
  docs/en/intlayer_with_vite+vue.md
Due: prettier --write

fix(design-system): update cursor style for choice variant to ensure pointer interaction
  packages/@intlayer/design-system/src/components/SwitchSelector/index.tsx
Due: prettier --write, eslint --fix --cache

fix(design-system): update export statement of logo
  packages/@intlayer/design-system/src/components/Logo/index.tsx
Due: prettier --write, eslint --fix --cache

feat(dictionary): implement delete functionality for dictionaries with UI updates and internationalization support
  apps/backend/src/controllers/dictionary.controller.ts
  apps/backend/src/services/dictionary.service.ts
  apps/website/src/components/Dashboard/ContentDashboard/index.tsx
  apps/website/src/components/Dashboard/Editor/DictionaryEditionDrawer/DictionaryEditionDrawer.tsx
  packages/@intlayer/api/src/getIntlayerAPI/dictionary.ts
  packages/@intlayer/design-system/src/components/DictionaryEditor/DictionaryEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryFieldEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/SaveForm/SaveForm.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/SaveForm/saveForm.content.tsx
  packages/intlayer-editor/client/src/components/Editor/DictionaryEditionDrawer/DictionaryEditionDrawer.tsx
Due: prettier --write, eslint --fix --cache

feat(cli): add root command aliases for dictionary operations and refactor command structure for improved usability
  docs/en/intlayer_cli.md
  packages/@intlayer/cli/src/cli.ts
Due: prettier --write, eslint --fix --cache

feat(cli): enhance audit command with additional options for provider configuration and refactor command structure
  packages/@intlayer/cli/src/cli.ts
Due: prettier --write, eslint --fix --cache

fix(api): add missing type import for UpdateDictionaryResult from @intlayer/backend
  packages/@intlayer/api/src/getIntlayerAPI/dictionary.ts
Due: prettier --write, eslint --fix --cache

feat(chokidar): integrate AI translation options and enhance dictionary processing with new filtering and writing capabilities
  apps/backend/src/controllers/ai.controller.ts
  apps/backend/src/utils/AI/aiSdk.ts
  apps/backend/src/utils/AI/askDocQuestion/askDocQuestion.ts
  apps/backend/src/utils/AI/translateJSON/PROMPT.md
  apps/backend/src/utils/AI/translateJSON/index.ts
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/chokidar/src/filterDictionaryLocales.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/reduceDictionaryContent/applyMask.ts
  packages/@intlayer/chokidar/src/reduceDictionaryContent/buildMask.ts
  packages/@intlayer/chokidar/src/reduceDictionaryContent/reduceDictionaryContent.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/formatCode.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeJSFile.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/fill.ts
  packages/@intlayer/cli/src/index.ts
  packages/@intlayer/core/src/types/dictionary.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

feat(chokidar): add content declaration file templates and enhance writeJSFile functionality for locale-specific handling
  apps/backend/src/utils/AI/translateJSON/PROMPT.md
  packages/@intlayer/chokidar/src/getContentDeclarationFileTemplate/cjsTemplate.md
  packages/@intlayer/chokidar/src/getContentDeclarationFileTemplate/esmTemplate.md
  packages/@intlayer/chokidar/src/getContentDeclarationFileTemplate/getContentDeclarationFileTemplate.ts
  packages/@intlayer/chokidar/src/getContentDeclarationFileTemplate/tsTemplate.md
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeJSFile.ts
  packages/@intlayer/chokidar/tsup.config.ts
  packages/@intlayer/cli/src/fill.ts
Due: prettier --write, eslint --fix --cache

feat(schema): add locale and autoFill properties to enhance localization support
  apps/website/public/schema.json
Due: prettier --write

feat(chokidar): enhance content declaration templates and improve writeJSFile functionality with autoFill support and type handling
  packages/@intlayer/chokidar/src/getContentDeclarationFileTemplate/cjsTemplate.md
  packages/@intlayer/chokidar/src/getContentDeclarationFileTemplate/esmTemplate.md
  packages/@intlayer/chokidar/src/getContentDeclarationFileTemplate/getContentDeclarationFileTemplate.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeJSFile.ts
  packages/@intlayer/cli/src/fill.ts
  packages/@intlayer/config/src/logger.ts
  packages/@intlayer/core/src/interpreter/getContent/getLocalisedContent.ts
  packages/@intlayer/core/src/interpreter/getContent/plugins.ts
  packages/@intlayer/core/src/interpreter/getTranslation.ts
  packages/@intlayer/core/src/types/dictionary.ts
Due: prettier --write, eslint --fix --cache

feat(config): introduce AI configuration options and refactor related structures for enhanced integration
  apps/backend/src/utils/AI/aiSdk.ts
  examples/vite-vue-app/intlayer.config.ts
  packages/@intlayer/cli/src/audit.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/index.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/defaultValues/editor.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/next.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/react_app.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/types.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/undefined_platform.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/vite.ts
  packages/@intlayer/config/src/envVariables/getConfiguration.ts
  packages/@intlayer/config/src/types/config.ts
Due: prettier --write, eslint --fix --cache

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix --cache: any of: *.{js,jsx,ts,tsx}
