Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(sync-json-plugin): dynamically import formatDictionaryOutput and parallelize for improved performance
  plugins/sync-json-plugin/src/syncJSON.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar): ensure sentinel file creation is robust with retry logic and await for proper execution
  packages/@intlayer/chokidar/src/utils/runOnce.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(sync-json-plugin): enhance key extraction and globbing for improved directory matching
  plugins/sync-json-plugin/src/syncJSON.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): update version to 7.5.14 for all packages in bun.lock
  bun.lock
Due: none

feat(website): import AppRoutes for improved navigation; enhance SearchTrigger with scrollable prop
  apps/website/src/components/AdminTabBar/AdminTabBar.tsx
  apps/website/src/components/DocPage/Search/SearchTrigger.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(docs): update year in internationalization guides and SvelteKit documentation from 2025 to 2026
  docs/blog/ar/i18n_using_next-i18next.md
  docs/blog/ar/i18n_using_next-intl.md
  docs/blog/en-GB/i18n_using_next-i18next.md
  docs/blog/en-GB/i18n_using_next-intl.md
  docs/blog/en/i18n_using_next-i18next.md
  docs/blog/en/i18n_using_next-intl.md
  docs/blog/es/i18n_using_next-i18next.md
  docs/blog/es/i18n_using_next-intl.md
  docs/blog/fr/i18n_using_next-i18next.md
  docs/blog/fr/i18n_using_next-intl.md
  docs/blog/id/i18n_using_next-i18next.md
  docs/blog/id/i18n_using_next-intl.md
  docs/blog/it/i18n_using_next-i18next.md
  docs/blog/it/i18n_using_next-intl.md
  docs/blog/pt/i18n_using_next-i18next.md
  docs/blog/pt/i18n_using_next-intl.md
  docs/blog/vi/i18n_using_next-i18next.md
  docs/blog/vi/i18n_using_next-intl.md
  docs/docs/ar/intlayer_with_svelte_kit.md
  docs/docs/de/intlayer_with_svelte_kit.md
  docs/docs/en-GB/intlayer_with_svelte_kit.md
  docs/docs/es/intlayer_with_svelte_kit.md
  docs/docs/fr/intlayer_with_svelte_kit.md
  docs/docs/hi/intlayer_with_svelte_kit.md
  docs/docs/id/intlayer_with_svelte_kit.md
  docs/docs/it/intlayer_with_svelte_kit.md
  docs/docs/ja/intlayer_with_svelte_kit.md
  docs/docs/ko/intlayer_with_svelte_kit.md
  docs/docs/pl/intlayer_with_svelte_kit.md
  docs/docs/pt/intlayer_with_svelte_kit.md
  docs/docs/ru/intlayer_with_svelte_kit.md
  docs/docs/tr/intlayer_with_svelte_kit.md
  docs/docs/vi/intlayer_with_svelte_kit.md
  packages/@intlayer/design-system/src/components/Terminal/terminal.stories.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): rename scrollable prop to isScrollable in SearchTrigger
  apps/website/src/components/DocPage/Search/SearchTrigger.tsx
  packages/@intlayer/design-system/src/components/Modal/Modal.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add Translate page and related components for AI CLI translation functionality
  apps/website/src/Routes.ts
  apps/website/src/app/[locale]/(landing)/translate/metadata.content.ts
  apps/website/src/app/[locale]/(landing)/translate/metadata.ts
  apps/website/src/app/[locale]/(landing)/translate/page.tsx
  apps/website/src/components/LandingPage/ProductsSection/TranslateSection/index.tsx
  apps/website/src/components/LandingPage/ProductsSection/TranslateSection/translate-section.content.ts
  apps/website/src/components/LandingPage/ProductsSection/index.tsx
  apps/website/src/components/Link/Link.tsx
  apps/website/src/components/TranslationLandingPage/CTASection.tsx
  apps/website/src/components/TranslationLandingPage/Claude.tsx
  apps/website/src/components/TranslationLandingPage/CommandsSection.tsx
  apps/website/src/components/TranslationLandingPage/DeepSeek.tsx
  apps/website/src/components/TranslationLandingPage/HeroSection.tsx
  apps/website/src/components/TranslationLandingPage/HowItWorksSection.tsx
  apps/website/src/components/TranslationLandingPage/KeyPointsSection.tsx
  apps/website/src/components/TranslationLandingPage/LocalVsServerSection.tsx
  apps/website/src/components/TranslationLandingPage/Mistral.tsx
  apps/website/src/components/TranslationLandingPage/Ollama.tsx
  apps/website/src/components/TranslationLandingPage/OpenAI.tsx
  apps/website/src/components/TranslationLandingPage/ProvidersCarousel.tsx
  apps/website/src/components/TranslationLandingPage/index.tsx
  packages/@intlayer/design-system/src/components/Container/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): implement localized content sections for Translation Landing Page, enhancing user experience with dynamic content
  apps/website/intlayer.config.ts
  apps/website/src/components/TranslationLandingPage/CTASection.tsx
  apps/website/src/components/TranslationLandingPage/CommandsSection.tsx
  apps/website/src/components/TranslationLandingPage/HeroSection.tsx
  apps/website/src/components/TranslationLandingPage/HowItWorksSection.tsx
  apps/website/src/components/TranslationLandingPage/KeyPointsSection.tsx
  apps/website/src/components/TranslationLandingPage/LocalVsServerSection.tsx
  apps/website/src/components/TranslationLandingPage/commandsSection.content.ts
  apps/website/src/components/TranslationLandingPage/ctaSection.content.ts
  apps/website/src/components/TranslationLandingPage/heroSection.content.ts
  apps/website/src/components/TranslationLandingPage/howItWorksSection.content.ts
  apps/website/src/components/TranslationLandingPage/keyPointsSection.content.ts
  apps/website/src/components/TranslationLandingPage/localVsServerSection.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): enhance Translation Landing Page with Intlayer support and update section styles for improved layout
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/doc-translate.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/fill.json
  apps/website/src/app/[locale]/(landing)/translate/page.tsx
  apps/website/src/components/TranslationLandingPage/CTASection.tsx
  apps/website/src/components/TranslationLandingPage/CommandsSection.tsx
  apps/website/src/components/TranslationLandingPage/HeroSection.tsx
  apps/website/src/components/TranslationLandingPage/HowItWorksSection.tsx
  apps/website/src/components/TranslationLandingPage/KeyPointsSection.tsx
  apps/website/src/components/TranslationLandingPage/LocalVsServerSection.tsx
  apps/website/src/components/TranslationLandingPage/ctaSection.content.ts
  apps/website/src/components/TranslationLandingPage/heroSection.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): update styles and layout for Translation Landing Page sections, including spacing adjustments and content alignment improvements
  apps/website/src/components/TranslationLandingPage/CTASection.tsx
  apps/website/src/components/TranslationLandingPage/CommandsSection.tsx
  apps/website/src/components/TranslationLandingPage/HeroSection.tsx
  apps/website/src/components/TranslationLandingPage/HowItWorksSection.tsx
  apps/website/src/components/TranslationLandingPage/KeyPointsSection.tsx
  apps/website/src/components/TranslationLandingPage/LocalVsServerSection.tsx
  apps/website/src/components/TranslationLandingPage/ProvidersCarousel.tsx
  apps/website/src/components/TranslationLandingPage/howItWorksSection.content.ts
  apps/website/src/components/TranslationLandingPage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(assets): update various PNG assets for improved visual quality and consistency
  apps/app/public/android-chrome-192x192.png
  apps/app/public/android-chrome-512x512.png
  apps/app/public/apple-touch-icon.png
  apps/app/public/cover.png
  apps/app/public/favicon-16x16.png
  apps/app/public/favicon-32x32.png
  apps/app/public/github-social-preview.png
  apps/app/public/manifest-icon-192.maskable.png
  apps/app/public/manifest-icon-512.maskable.png
  apps/app/public/mstile-150x150.png
Due: none

feat(website): update hero section description to use markdown formatting for improved styling and readability
  apps/website/src/components/TranslationLandingPage/heroSection.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): reorganize AI provider logos into a dedicated directory and remove unused logo components
  apps/website/src/components/TranslationLandingPage/AIProvidersLogo/Claude.tsx
  apps/website/src/components/TranslationLandingPage/AIProvidersLogo/DeepSeek.tsx
  apps/website/src/components/TranslationLandingPage/AIProvidersLogo/Mistral.tsx
  apps/website/src/components/TranslationLandingPage/AIProvidersLogo/Ollama.tsx
  apps/website/src/components/TranslationLandingPage/AIProvidersLogo/OpenAI.tsx
  apps/website/src/components/TranslationLandingPage/HowItWorksSection.tsx
  apps/website/src/components/TranslationLandingPage/ProvidersCarousel.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): enhance DemoPage with additional content and improved layout for landing paragraph
  apps/website/src/components/DemoPage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chatbot): add multilingual disclaimer note to ChatBot component
  apps/website/src/components/ChatBot/index.content.ts
  apps/website/src/components/ChatBot/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(dictionary): add location property to dictionary configuration and update related logic
  packages/@intlayer/cli/src/pull.ts
  packages/@intlayer/cli/src/push/push.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/defaultValues/dictionary.ts
  packages/@intlayer/types/src/config.ts
  packages/@intlayer/types/src/dictionary.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(docs): update CMS iframe URL in Content Security Policy instructions across multiple languages
  docs/docs/ar/intlayer_CMS.md
  docs/docs/en-GB/intlayer_CMS.md
  docs/docs/en/intlayer_CMS.md
  docs/docs/es/intlayer_CMS.md
  docs/docs/fr/intlayer_CMS.md
  docs/docs/id/intlayer_CMS.md
  docs/docs/it/intlayer_CMS.md
  docs/docs/pt/intlayer_CMS.md
  docs/docs/uk/intlayer_CMS.md
Due: prettier --write

chore(deps): update Next.js version to 16.1.2 across multiple package.json files and remove deprecated overrides
  apps/app/package.json
  apps/website/package.json
  bun.lock
  package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

style(design-system): update default link variant styles to include text decoration for better visibility
  packages/@intlayer/design-system/src/components/Link/Link.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(deps): update @next/third-parties and related dependencies to version 16.1.2 across multiple package.json and bun.lock files
  apps/app/package.json
  apps/website/package.json
  bun.lock
  examples/next-no-lolale-path/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(app): update build-settings French translation for 'Test Trigger Now' and adjust layout for button alignment
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/BuildSettings.tsx
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/buildSettings.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(deps): update @better-auth and @tanstack dependencies
  apps/app/package.json
  apps/backend/package.json
  apps/website/package.json
  bun.lock
  examples/tanstack-start-app/package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(app): implement delete dictionary modal and detail modal components with multilingual support
  apps/app/src/components/Dashboard/DictionaryListDashboard/DeleteDictionaryModal.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryDetailModal.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/deleteDictionaryModal.content.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.content.ts
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.tsx
  apps/app/src/components/Dashboard/OrganizationForm/SSO/SSOSettings.tsx
  apps/app/src/components/Dashboard/OrganizationForm/SSO/ssoSettings.content.ts
  bun.lock
  packages/@intlayer/design-system/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(design-system): expand invisible hit area by 0.5rem on all sides for checkbox
  packages/@intlayer/design-system/src/components/Input/Checkbox.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(deps): update Next.js and related dependencies to version 16.1.3 across multiple package.json and bun.lock files
  apps/app/package.json
  apps/website/package.json
  bun.lock
  examples/next-no-lolale-path/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(app): add FiltersModal component for enhanced dictionary filtering options and update DictionaryDetailModal for improved layout and loading states
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryDetailModal.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/FiltersModal.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.content.ts
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.tsx
  apps/app/src/hooks/useSearchParamState.ts
  apps/backend/src/services/dictionary.service.ts
  apps/backend/src/types/dictionary.types.ts
  apps/backend/src/utils/filtersAndPagination/getDictionaryFiltersAndPagination.ts
  apps/backend/src/utils/mapper/dictionary.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryDetails/DictionaryDetailsForm.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryDetails/dictionaryDetails.content.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryDetails/useDictionaryDetailsSchema.content.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryDetails/useDictionaryDetailsSchema.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryFieldEditor.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): enhance DictionaryDetailModal layout with new size and scrollable options; update Modal component for larger width support
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryDetailModal.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryDetails/DictionaryDetailsForm.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryDetails/dictionaryDetails.content.tsx
  packages/@intlayer/design-system/src/components/Modal/Modal.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): improve layout and responsiveness of dictionary components; enhance DictionaryFieldEditor with tabbed navigation and adjustable return button visibility
  apps/app/src/app/[locale]/(dashboard)/(dashboard)/(editor)/(content)/dictionary/[dictionaryKey]/page.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryDetailModal.tsx
  apps/app/src/components/Dashboard/Editor/DictionaryEditionDrawer/DictionaryEditionDrawer.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryDetails/DictionaryDetailsForm.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryFieldEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/JSONEditor.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
  packages/@intlayer/design-system/src/components/Modal/Modal.tsx
  packages/@intlayer/design-system/src/components/Tab/Tab.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(design-system): handle non-string children in CodeBlock and MonacoCode components to prevent errors
  packages/@intlayer/design-system/src/components/IDE/CodeBlockClient.tsx
  packages/@intlayer/design-system/src/components/IDE/CodeBlockServer.tsx
  packages/@intlayer/design-system/src/components/IDE/MonacoCode.tsx
  packages/@intlayer/design-system/src/components/Terminal/Terminal.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): remove unnecessary empty div from AccessKeyForm component for cleaner layout
  apps/app/src/components/Dashboard/ProjectForm/AccessKey/AccessKeyForm.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): increase default page size in DictionaryListDashboard from 10 to 20 for improved data display
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): adjust DictionaryDetailsForm padding and margin for improved layout and spacing in the dictionary details form
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryDetails/DictionaryDetailsForm.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): correct Chinese translation for playground title
  apps/website/src/app/[locale]/(playground)/playground/page.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add cloudflare opennext deployment guide
  docs/docs/en/index.md
  docs/docs/en/intlayer_with_cloudflare_opennext.md
  docs/docs/zh/index.md
  docs/docs/zh/intlayer_with_cloudflare_opennext.md
Due: prettier --write

style(design-system): remove unnecessary padding from DictionaryFieldEditor for cleaner layout
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryFieldEditor.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
