Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --cache"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

refactor(design-system): add Footer component with comprehensive documentation, accessibility features, and organized link groups
  packages/@intlayer/design-system/src/components/Footer/footer.stories.tsx
  packages/@intlayer/design-system/src/components/Footer/index.tsx
Due: prettier --write, eslint --fix --cache

feat(design-system): add KeyboardScreenAdapter component with comprehensive documentation and usage examples
  packages/@intlayer/design-system/src/components/KeyboardScreenAdapter/index.tsx
  packages/@intlayer/design-system/src/components/KeyboardScreenAdapter/keyboardScreenAdapter.stories.tsx
Due: prettier --write, eslint --fix --cache

feat(design-system): enhance Loader and Spinner components with detailed documentation, accessibility features, and usage examples
  packages/@intlayer/design-system/src/components/Loader/index.tsx
  packages/@intlayer/design-system/src/components/Loader/loader.stories.tsx
  packages/@intlayer/design-system/src/components/Loader/spinner.tsx
Due: prettier --write, eslint --fix --cache

feat(design-system): add MarkdownRenderer component with comprehensive documentation, examples, and accessibility features
  packages/@intlayer/design-system/src/components/MarkDownRender/index.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/markdownRenderer.stories.tsx
Due: prettier --write, eslint --fix --cache

feat(design-system): enhance MaxHeightSmoother component with detailed documentation, interaction modes, and accessibility features
  packages/@intlayer/design-system/src/components/MaxHeightSmoother/index.tsx
  packages/@intlayer/design-system/src/components/MaxHeightSmoother/maxheightsmoother.stories.tsx
Due: prettier --write, eslint --fix --cache

style(website): add background color to style
  packages/@intlayer/design-system/src/components/Table/Table.tsx
Due: prettier --write, eslint --fix --cache

refactor(design-system): simplify TabItem usage and restructure Tab component for better clarity
  packages/@intlayer/design-system/src/components/Tab/Tab.tsx
  packages/@intlayer/design-system/src/components/Tab/index.tsx
  packages/@intlayer/design-system/src/components/Tab/tab.stories.tsx
Due: prettier --write, eslint --fix --cache

refactor(backend): remove debug logs from validateOrganization function
  apps/backend/src/utils/validation/validateOrganization.ts
Due: prettier --write, eslint --fix --cache

refactor(website): hide unused i18n library sections and clean up blog data structure
  apps/website/src/components/BlogPage/blogData.content.ts
Due: prettier --write, eslint --fix --cache

refactor(docs): remove unused bundle_no_optimization image and clean up blog content
  docs/assets/bundle_no_optimization.png
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

feat(design-system): move MarkdownRenderer component for in named file
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/index.ts
Due: prettier --write, eslint --fix --cache

feat(design-system): add addon-a11y for Accessibility
  packages/@intlayer/design-system/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(design-system): enhance Modal component with detailed documentation, size enumeration, and accessibility features
  packages/@intlayer/design-system/src/components/Modal/Modal.tsx
  packages/@intlayer/design-system/src/components/Modal/modal.stories.tsx
Due: prettier --write, eslint --fix --cache

feat(design-system): enhance Navbar components with detailed documentation, accessibility features, and new stories for better usability
  packages/@intlayer/design-system/src/components/Navbar/Burger.tsx
  packages/@intlayer/design-system/src/components/Navbar/DesktopNavbar.tsx
  packages/@intlayer/design-system/src/components/Navbar/MobileNavbar.tsx
  packages/@intlayer/design-system/src/components/Navbar/index.tsx
  packages/@intlayer/design-system/src/components/Navbar/navbar.stories.tsx
  packages/@intlayer/design-system/src/components/Navbar/useNavigation.ts
Due: prettier --write, eslint --fix --cache

feat(design-system): add comprehensive documentation and examples for DotPattern, GridPattern, and Spotlight components in pattern stories
  packages/@intlayer/design-system/src/components/Pattern/DotPattern.tsx
  packages/@intlayer/design-system/src/components/Pattern/GridPattern.tsx
  packages/@intlayer/design-system/src/components/Pattern/SpotLight.tsx
  packages/@intlayer/design-system/src/components/Pattern/pattern.stories.tsx
Due: prettier --write, eslint --fix --cache

feat(design-system): enhance Popover component with detailed documentation, accessibility features, and new positioning options
  packages/@intlayer/design-system/src/components/Popover/index.tsx
  packages/@intlayer/design-system/src/components/Popover/popover.stories.tsx
Due: prettier --write, eslint --fix --cache

feat(design-system): enhance RightDrawer component with comprehensive documentation, accessibility features, and improved state management
  packages/@intlayer/design-system/src/components/RightDrawer/RightDrawer.stories.tsx
  packages/@intlayer/design-system/src/components/RightDrawer/RightDrawer.tsx
  packages/@intlayer/design-system/src/components/RightDrawer/isElementAtTopAndNotCovered.tsx
  packages/@intlayer/design-system/src/components/RightDrawer/useRightDrawerStore.ts
Due: prettier --write, eslint --fix --cache

feat(design-system): enhance MultiSelect and Select components with comprehensive documentation, accessibility features, and improved examples in stories
  packages/@intlayer/design-system/src/components/Select/Multiselect.tsx
  packages/@intlayer/design-system/src/components/Select/Select.tsx
  packages/@intlayer/design-system/src/components/Select/multiselect.stories.tsx
  packages/@intlayer/design-system/src/components/Select/select.stories.tsx
Due: prettier --write, eslint --fix --cache

feat(website): add Turkish translations for dictionary list and editor
  apps/website/src/components/Dashboard/Editor/DictionaryListDrawer/dictionaryListDrawer.content.ts
  apps/website/src/components/Dashboard/TagForm/deleteTagModal.content.tsx
  packages/intlayer-editor/client/src/components/Editor/DictionaryListDrawer/dictionaryListDrawer.content.ts
Due: prettier --write, eslint --fix --cache

doc(blog): enhance comparison of localization solutions with new insights on Intlayer, next-intl, and next-i18next
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

refactor(design-system): remove unused TabSelector and Tag exports from index file
  packages/@intlayer/design-system/src/components/index.ts
Due: prettier --write, eslint --fix --cache

fix(chokidar): correct timing calculation for configuration written log
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
Due: prettier --write, eslint --fix --cache

Update layout and order
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

add (docs): add a new blog about SEO and i18n
  docs/blog/en/nextjs-multilingual-seo-comparison
Due: none

doc: add guidelines for adding and translating documentation using AI
  CONTRIBUTING.md
Due: prettier --write

feat(design-system): enhance MarkdownRenderer with new processor and tests, add TabSelector and Tag components
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/processer.test.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/processer.tsx
  packages/@intlayer/design-system/src/components/Tab/Tab.tsx
  packages/@intlayer/design-system/src/components/Tab/index.tsx
  packages/@intlayer/design-system/src/components/TabSelector/TabSelector.tsx
  packages/@intlayer/design-system/src/components/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

refactor(website): update localization handling in blog and doc layouts, and adjust BlogBreadCrumb component types
  apps/website/src/app/[locale]/(docs)/blog/[[...slugs]]/layout.tsx
  apps/website/src/app/[locale]/(docs)/doc/[[...slugs]]/layout.tsx
  apps/website/src/components/BlogPage/BlogBreadCrumb.tsx
  apps/website/src/components/BlogPage/BlogPageLayout.tsx
Due: prettier --write, eslint --fix --cache

feat(doc): implement new blog page
  docs/assets/bundle_no_optimization.png
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
  packages/@intlayer/design-system/src/components/Headers/index.tsx
  packages/@intlayer/design-system/src/components/IDE/Code.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/processer.test.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/processer.tsx
  packages/@intlayer/design-system/src/components/Tab/Tab.tsx
  packages/@intlayer/design-system/src/components/Tab/TabContext.tsx
  packages/@intlayer/design-system/src/components/TabSelector/TabSelector.tsx
  packages/@intlayer/design-system/src/components/Table/Table.tsx
  packages/@intlayer/design-system/vite.config.ts
Due: prettier --write, eslint --fix --cache

fix(design-system): adjust sticky positioning in Code component for improved layout
  packages/@intlayer/design-system/src/components/IDE/Code.tsx
Due: prettier --write, eslint --fix --cache

chore(dependencies): update pnpm-lock.yaml to remove unnecessary version details and clean up dependency specifications
  pnpm-lock.yaml
Due: prettier --write

fix(blog): correct syntax in code block for next-intl example in localization comparison article
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

chore(editor): remove server entry from package.json exports
  packages/@intlayer/editor/package.json
Due: prettier --write

fix(website): change overflow property from 'overflow-auto' to 'overflow-clip' for improved layout handling
  apps/website/src/layouts/RootHTMLLayout.tsx
Due: prettier --write, eslint --fix --cache

feat(design-system): add horizontal swipe functionality to Tab component and create useHorizontalSwipe hook
  packages/@intlayer/design-system/src/components/Tab/Tab.tsx
  packages/@intlayer/design-system/src/hooks/index.ts
  packages/@intlayer/design-system/src/hooks/useHorizontalSwipe.ts
Due: prettier --write, eslint --fix --cache

fix(doc): streamline localizedPath and abs functions for improved readability and consistency
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

fix(design-system): remove shadow from Tab component header for cleaner appearance
  packages/@intlayer/design-system/src/components/Tab/Tab.tsx
Due: prettier --write, eslint --fix --cache

fix(intlayer): export Locales and LocalesValues from @intlayer/config/client for moduleResolution = node
  packages/intlayer/src/index.ts
Due: prettier --write, eslint --fix --cache

chore(package): update typesVersions in multiple packages to include additional type definitions for improved module resolution
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/mcp/package.json
  packages/angular-intlayer/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

chore(package): bump version to 6.1.4 across all packages for consistency and updates
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

fix(website): add 'img.shields.io' to secureHeaders for enhanced security policy
  apps/website/next.config.mjs
Due: none
