Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

feat: refactor TranslateRow component to handle multiple nodes and improve translation content rendering
  apps/app/src/components/Dashboard/TranslateDashboard/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add support for missing translation detection and reporting in CLI
  packages/@intlayer/cli/src/test/test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add background translation
  apps/app/src/app/[locale]/(dashboard)/layout.tsx
  apps/app/src/components/TranslationStatusAside/TranslationStatusAside.tsx
  apps/app/src/components/TranslationStatusAside/index.tsx
  apps/app/src/components/TranslationStatusAside/translationStatusAside.content.ts
  apps/backend/.env.template
  apps/backend/package.json
  apps/backend/src/controllers/translation.controller.ts
  apps/backend/src/export.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/translate.routes.ts
  apps/backend/src/services/translationQueue.service.ts
  apps/backend/src/services/translationWorker.service.ts
  apps/backend/src/utils/AI/translateDictionaryDB.ts
  bun.lock
  packages/fastify-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: update organization and project flows
  apps/app/src/components/Dashboard/DashboardNavbar/OrganizationDropdown.tsx
  apps/app/src/components/Dashboard/DashboardNavbar/ProjectDropdown.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/DeleteDictionaryModal.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.tsx
  apps/app/src/components/Dashboard/OrganizationForm/DeleteOrganizationModal.tsx
  apps/app/src/components/Dashboard/OrganizationForm/Members/RemoveMemberModal.tsx
  apps/app/src/components/Dashboard/OrganizationForm/OrganizationForm.tsx
  apps/app/src/components/Dashboard/OrganizationForm/OrganizationList.tsx
  apps/app/src/components/Dashboard/ProjectForm/DeleteProjectModal.tsx
  apps/app/src/components/Dashboard/ProjectForm/ProjectList.tsx
  apps/app/src/components/Dashboard/UserForm/UserDeleteAction.tsx
  apps/app/src/components/OnboardPage/SetUpOrganizationStep/SetUpOrganizationStepForm.tsx
  apps/backend/src/controllers/organization.controller.ts
  apps/backend/src/controllers/project.controller.ts
  apps/backend/src/utils/access.ts
  apps/backend/src/utils/auth/getAuth.ts
  packages/@intlayer/design-system/src/hooks/reactQuery.ts
  packages/@intlayer/design-system/src/hooks/useAuth/useSession.ts
  packages/@intlayer/design-system/src/providers/ReactQueryProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): move TranslationStatusAside component into DashboardNavbar and update layout structure and update right drawer
  apps/app/src/app/[locale]/(dashboard)/layout.tsx
  apps/app/src/components/Dashboard/DashboardNavbar/DashboardNavbar.tsx
  apps/app/src/components/TranslationStatusAside/TranslationStatusAside.tsx
  packages/@intlayer/design-system/src/components/RightDrawer/RightDrawer.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(types): export Platform type for better accessibility in installSkills module
  packages/@intlayer/chokidar/src/installSkills/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): restructure imports and add new modules for build, cli, and utils
  apps/backend/src/utils/AI/translateDictionaryDB.ts
  docs/src/generated/docs.entry.ts
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/chokidar/src/build.ts
  packages/@intlayer/chokidar/src/cli.ts
  packages/@intlayer/chokidar/src/utils/index.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/extract.ts
  packages/@intlayer/cli/src/init.ts
  packages/@intlayer/cli/src/listProjects.ts
  packages/@intlayer/cli/src/test/test.ts
  packages/@intlayer/mcp/src/tools/cli.ts
  packages/@intlayer/mcp/src/tools/installSkills.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(app): enhance button with real-time translation job status description and update layout
  apps/app/src/components/TranslationStatusAside/TranslationStatusAside.tsx
  apps/app/src/components/TranslationStatusAside/translationStatusAside.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(docs): remove version number from multiple skill documentation files
  packages/@intlayer/chokidar/src/installSkills/skills/angular.md
  packages/@intlayer/chokidar/src/installSkills/skills/astro.md
  packages/@intlayer/chokidar/src/installSkills/skills/cli.md
  packages/@intlayer/chokidar/src/installSkills/skills/config.md
  packages/@intlayer/chokidar/src/installSkills/skills/content.md
  packages/@intlayer/chokidar/src/installSkills/skills/next_js.md
  packages/@intlayer/chokidar/src/installSkills/skills/preact.md
  packages/@intlayer/chokidar/src/installSkills/skills/react.md
  packages/@intlayer/chokidar/src/installSkills/skills/remote_content.md
  packages/@intlayer/chokidar/src/installSkills/skills/solid.md
  packages/@intlayer/chokidar/src/installSkills/skills/svelte.md
  packages/@intlayer/chokidar/src/installSkills/skills/usage.md
  packages/@intlayer/chokidar/src/installSkills/skills/vue.md
Due: prettier --write

fix(docs): update CLI documentation links and remove outdated references
  apps/website/public/llms.txt
  packages/@intlayer/chokidar/src/installSkills/skills/cli.md
  packages/@intlayer/chokidar/src/installSkills/skills/preact.md
Due: prettier --write

fix(app): update change stale color by neutral
  apps/app/src/components/TranslationStatusAside/TranslationStatusAside.tsx
  packages/@intlayer/design-system/src/components/CollapsibleTable/CollapsibleTable.tsx
  packages/@intlayer/design-system/src/components/Pattern/pattern.stories.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(docs): update configuration file paths in agent skills documentation
  docs/docs/ar/agent_skills.md
  docs/docs/de/agent_skills.md
  docs/docs/en-GB/agent_skills.md
  docs/docs/en/agent_skills.md
  docs/docs/es/agent_skills.md
  docs/docs/fr/agent_skills.md
  docs/docs/hi/agent_skills.md
  docs/docs/id/agent_skills.md
  docs/docs/it/agent_skills.md
  docs/docs/ja/agent_skills.md
  docs/docs/ko/agent_skills.md
  docs/docs/pl/agent_skills.md
  docs/docs/pt/agent_skills.md
  docs/docs/ru/agent_skills.md
  docs/docs/tr/agent_skills.md
  docs/docs/uk/agent_skills.md
  docs/docs/vi/agent_skills.md
  docs/docs/zh/agent_skills.md
Due: prettier --write

fix(docs): add website and documentation links to various skill markdown files
  packages/@intlayer/chokidar/src/installSkills/skills/angular.md
  packages/@intlayer/chokidar/src/installSkills/skills/astro.md
  packages/@intlayer/chokidar/src/installSkills/skills/cli.md
  packages/@intlayer/chokidar/src/installSkills/skills/config.md
  packages/@intlayer/chokidar/src/installSkills/skills/content.md
  packages/@intlayer/chokidar/src/installSkills/skills/next_js.md
  packages/@intlayer/chokidar/src/installSkills/skills/preact.md
  packages/@intlayer/chokidar/src/installSkills/skills/react.md
  packages/@intlayer/chokidar/src/installSkills/skills/solid.md
  packages/@intlayer/chokidar/src/installSkills/skills/svelte.md
  packages/@intlayer/chokidar/src/installSkills/skills/usage.md
  packages/@intlayer/chokidar/src/installSkills/skills/vue.md
Due: prettier --write

refactor: update import path for getConfiguration in pushConfig.ts
  packages/@intlayer/cli/src/pushConfig.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: fix intlayer build
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/loadDictionaries/getIntlayerBundle.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadDictionaries.ts
  packages/@intlayer/config/package.json
  packages/@intlayer/config/src/index.ts
  packages/@intlayer/config/src/node.ts
  packages/@intlayer/core/src/index.ts
  packages/intlayer-editor/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: update entry points in package.json for chokidar
  packages/@intlayer/chokidar/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: restructure docDataContent to nest agent-related documentation
  apps/website/src/components/DocPage/docData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: fix wrong import in useLocaleStorage
  packages/angular-intlayer/src/client/useLocaleStorage.ts
  packages/preact-intlayer/src/client/useLocaleStorage.ts
  packages/solid-intlayer/src/client/useLocaleStorage.ts
  packages/svelte-intlayer/src/client/useLocaleStorage.ts
  packages/vue-intlayer/src/client/useLocaleStorage.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: mimify dist folders
  utils/tsdown-config/tsdown-config.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add React Doctor agent and related documentation; refactor Dictionary components for better organization
  apps/app/src/components/Auth/AskResetPassword/AskResetPasswordForm/AskResetPasswordForm.tsx
  apps/app/src/components/ChatBot/FormSection.tsx
  apps/app/src/components/Dashboard/DashboardSidebar/DashboardSidebar.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryModals.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryTable.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryToolbar.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.tsx
  apps/app/src/components/Dashboard/Editor/EditorProvider.tsx
  apps/app/src/components/Dashboard/OrganizationForm/SSO/CurrentProviderInfo.tsx
  apps/app/src/components/Dashboard/OrganizationForm/SSO/OIDCConfigForm.tsx
  apps/app/src/components/Dashboard/OrganizationForm/SSO/SAMLConfigForm.tsx
  apps/app/src/components/Dashboard/OrganizationForm/SSO/SSOSettings.tsx
  apps/app/src/components/Dashboard/TagForm/TagEditionForm.tsx
  apps/app/src/components/Dashboard/UserForm/UserEditForm.tsx
  apps/app/src/components/Dashboard/UserForm/UserEditForm/UserDates.tsx
  apps/app/src/components/Dashboard/UserForm/UserEditForm/UserFormFields.tsx
  apps/app/src/components/Dashboard/UserForm/UserEditForm/UserHeader.tsx
  apps/app/src/components/Dashboard/UserForm/UserEditForm/index.content.ts
  apps/app/src/components/Dashboard/UserForm/UserEditForm/index.tsx
  apps/website/src/app/[locale]/(docs)/blog/search/page.tsx
  apps/website/src/components/CMSLandingPage/HeroSection.tsx
  apps/website/src/components/ChatBot/FormSection.tsx
  apps/website/src/components/Dashboard/Editor/EditorProvider.tsx
  apps/website/src/components/DocPage/Search/SearchView.tsx
  apps/website/src/components/DocPage/SectionScroller.tsx
  apps/website/src/components/EmailRegistrationToast/index.tsx
  apps/website/src/components/LandingPage/CommonQuestionsSection/CommonQuestions.tsx
  apps/website/src/components/LandingPage/FeaturesSection/AutocompletionSection/index.tsx
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/Visual.tsx
  apps/website/src/components/ScannerPage/AnalyzerResultsSection.tsx
  apps/website/src/components/ScannerPage/LocalizationAnalyzer.tsx
  apps/website/src/components/ScannerPage/useLocalizationScan.ts
  apps/website/src/components/ScannerPage/useRecursiveScan.ts
  apps/website/src/components/TMSLandingPage/HeroSection.tsx
  packages/@intlayer/design-system/src/components/CopyToClipboard/index.test.tsx
  packages/@intlayer/design-system/src/components/IDE/MonacoCode.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: migrate docs scripts from tsx to bun
  bun.lock
  docs/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: standardize cache control headers across Next.js applications
  apps/app/next.config.ts
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update dockerfile to limite DNS issue
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

chore: replace equirer autocomplete
  packages/@intlayer/cli/src/init.ts
  packages/@intlayer/cli/src/initSkills.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: refactor initSkills CLI
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/index.ts
  packages/@intlayer/cli/src/initSkills.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(app): add cloudflare CDN in CSP
  apps/app/next.config.ts
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(design-system): remove console log
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(translation): implement Redis connection and translation worker; refactor translation queue service
  apps/backend/package.json
  apps/backend/src/controllers/translation.controller.ts
  apps/backend/src/index.ts
  apps/backend/src/services/translationQueue.service.ts
  apps/backend/src/services/translationWorker.service.ts
  apps/backend/src/utils/redis/connectRedis.ts
  bun.lock
  packages/@intlayer/design-system/src/hooks/usePersistedStore.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: add mergeChunks utility and update translation services to utilize new functionality
  apps/backend/package.json
  apps/backend/src/services/translationWorker.service.ts
  apps/backend/src/utils/AI/translateDictionaryDB.ts
  packages/@intlayer/chokidar/src/utils/index.ts
  packages/@intlayer/chokidar/src/utils/mergeChunks.ts
  packages/@intlayer/cli/src/fill/translateDictionary.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: add @intlayer/chokidar dependency to workspace
  bun.lock
Due: none
