Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

feat(vscode-extension): add visual editor panel and CMS synchronization
  apps/vscode-extension/README.md
  apps/vscode-extension/editor-icon-dark.svg
  apps/vscode-extension/editor-icon-light.svg
  apps/vscode-extension/package.json
  apps/vscode-extension/src/cms/cmsSync.ts
  apps/vscode-extension/src/cms/cmsSyncPolicy.test.ts
  apps/vscode-extension/src/cms/cmsSyncPolicy.ts
  apps/vscode-extension/src/cms/syncProjectConfiguration.ts
  apps/vscode-extension/src/editorPanel/editorPanel.ts
  apps/vscode-extension/src/editorPanel/getEditorPanelHtml.ts
  apps/vscode-extension/src/editorPanel/keyPathToFieldPath.test.ts
  apps/vscode-extension/src/editorPanel/keyPathToFieldPath.ts
  apps/vscode-extension/src/editorPanel/revealFocusedField.ts
  apps/vscode-extension/src/extension.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(vscode-extension): enhance usage tracking with untracked fields and improve decoration labels
  apps/vscode-extension/src/providers/intlayerContentDefinitionProvider.ts
  apps/vscode-extension/src/providers/intlayerUnusedDecoration.ts
  apps/vscode-extension/src/utils/findUsages.ts
  apps/website/src/components/BlogPage/blogData.ts
  apps/website/src/components/DocPage/docData.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(vscode-extension): enhance editor server management and improve status handling in the panel
  apps/vscode-extension/README.md
  apps/vscode-extension/src/editorPanel/editorPanel.ts
  apps/vscode-extension/src/editorPanel/editorServerProcess.ts
  apps/vscode-extension/src/editorPanel/getEditorPanelHtml.test.ts
  apps/vscode-extension/src/editorPanel/getEditorPanelHtml.ts
  packages/@intlayer/cli/src/editor.ts
  packages/intlayer-editor/bin/intlayer-editor.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update package dependencies
  apps/app/package.json
  apps/marketplace/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  compat/i18next/package.json
  compat/lingui/package.json
  compat/ngx-translate/package.json
  compat/react-i18next/package.json
  compat/react-intl/package.json
  compat/svelte-i18n/package.json
  compat/use-intl/package.json
  compat/vue-i18n/package.json
  examples/analog-app/package.json
  examples/angular-22-app/package.json
  examples/compat-ngx-translate-app/package.json
  examples/nextjs-14-app/package.json
  examples/nextjs-15-app/package.json
  examples/nextjs-16-app/package.json
  examples/react-router-app/package.json
  examples/react-router-fs-app/package.json
  examples/tanstack-start-app/package.json
  examples/tanstack-start-solid-app/package.json
  examples/vite-lit-app/package.json
  examples/vite-preact-app/package.json
  examples/vite-react-app/package.json
  examples/vite-solid-app/package.json
  examples/vite-svelte-app/package.json
  examples/vite-vue-app/package.json
  packages/@intlayer/chrome-extension/package.json
  packages/@intlayer/design-system/package.json
  packages/eslint-plugin-intlayer/package.json
  packages/intlayer-editor/package.json
  packages/lit-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vue-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: improve clarity and consistency in documentation guidelines
  docs/CLAUDE.md
Due: prettier --write

feat(docs): add ICU message formatter editor link and usage instructions
  docs/blog/ar/icu_message_format.md
  docs/blog/de/icu_message_format.md
  docs/blog/en-GB/icu_message_format.md
  docs/blog/en/icu_message_format.md
  docs/blog/es/icu_message_format.md
  docs/blog/fr/icu_message_format.md
  docs/blog/hi/icu_message_format.md
  docs/blog/id/icu_message_format.md
  docs/blog/it/icu_message_format.md
  docs/blog/ja/icu_message_format.md
  docs/blog/ko/icu_message_format.md
  docs/blog/pl/icu_message_format.md
  docs/blog/pt/icu_message_format.md
  docs/blog/ru/icu_message_format.md
  docs/blog/tr/icu_message_format.md
  docs/blog/uk/icu_message_format.md
  docs/blog/vi/icu_message_format.md
  docs/blog/zh/icu_message_format.md
Due: prettier --write

feat(vscode-extension): enhance editor server management with version alignment and improved port handling
  apps/vscode-extension/src/editorPanel/editorPanel.ts
  apps/vscode-extension/src/editorPanel/editorServerProcess.ts
  apps/vscode-extension/src/editorPanel/parseEditorServerUrl.test.ts
  apps/vscode-extension/src/editorPanel/parseEditorServerUrl.ts
  packages/intlayer-editor/server/src/index.ts
  packages/intlayer-editor/server/src/utils/checkPortAvailability.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(vscode-extension): ensure version support with editor and intlayer cli
  apps/vscode-extension/src/utils/getInstalledIntlayerVersion.ts
  apps/vscode-extension/src/utils/runIntlayerCli.test.ts
  apps/vscode-extension/src/utils/runIntlayerCli.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): update i18n-seo-scanner seo metadata
  apps/website/src/routes/{-$locale}/audit-page.content.ts
  apps/website/src/routes/{-$locale}/i18n-SEO-scanner.content.ts
  apps/website/src/routes/{-$locale}/i18n-seo-scanner.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(cli): implement remote editor runners and version alignment
  packages/@intlayer/cli/src/editor.test.ts
  packages/@intlayer/cli/src/editor.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(engine): improve directory exclusion logic
  packages/@intlayer/engine/src/listDictionariesPath.ts
  packages/@intlayer/engine/src/utils/buildComponentFilesList.test.ts
  packages/@intlayer/engine/src/utils/buildComponentFilesList.ts
  packages/@intlayer/engine/src/utils/index.ts
  packages/@intlayer/engine/src/utils/isDirectoryExcluded.test.ts
  packages/@intlayer/engine/src/utils/isDirectoryExcluded.ts
  packages/@intlayer/engine/src/watcher.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(intlayer-editor): migrate from React to Preact and optimize component performance using useMemo useCallback
  bun.lock
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/NodeEditor.tsx
  packages/@intlayer/design-system/src/components/KeyboardShortcut/KeyboardShortcut.tsx
  packages/@intlayer/design-system/src/components/LocaleSwitcherContentDropDown/LocaleSwitcherContentContext.tsx
  packages/@intlayer/design-system/src/components/Tab/Tab.tsx
  packages/@intlayer/design-system/src/components/Tab/TabContext.test.tsx
  packages/@intlayer/design-system/src/components/Tab/TabContext.tsx
  packages/@intlayer/editor-react/src/EditedContentContext.tsx
  packages/@intlayer/editor-react/src/EditorEnabledContext.tsx
  packages/intlayer-editor/client/src/App.tsx
  packages/intlayer-editor/client/src/components/AnimatePresenceProvider.tsx
  packages/intlayer-editor/client/src/components/AppProvider.tsx
  packages/intlayer-editor/client/src/components/AppRouter.tsx
  packages/intlayer-editor/client/src/components/Editor/DictionaryEditionDrawer/DictionaryEditionDrawer.tsx
  packages/intlayer-editor/client/src/components/Editor/DictionaryEditionDrawer/useDictionaryEditionDrawer.ts
  packages/intlayer-editor/client/src/components/Editor/DictionaryListDrawer/DictionaryListDrawer.tsx
  packages/intlayer-editor/client/src/components/Editor/EditorLayout.tsx
  packages/intlayer-editor/client/src/components/Editor/EditorProvider.tsx
  packages/intlayer-editor/client/src/components/Editor/HostFrameBridge.tsx
  packages/intlayer-editor/client/src/components/Editor/IframeController.tsx
  packages/intlayer-editor/client/src/components/Editor/LongPressMessage/index.tsx
  packages/intlayer-editor/client/src/components/Editor/NoApplicationURLView/NoApplicationURLView.tsx
  packages/intlayer-editor/client/src/components/EditorAuthProvider.tsx
  packages/intlayer-editor/client/src/hooks/useIntlayerConfig.ts
  packages/intlayer-editor/client/src/main.tsx
  packages/intlayer-editor/client/vite.config.ts
  packages/intlayer-editor/intlayer.config.ts
  packages/intlayer-editor/package.json
  packages/intlayer-editor/server/tsdown.config.ts
  packages/intlayer-editor/tsconfig.app.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(design-system): optimize sitemap loading logic and improve state management
  packages/@intlayer/design-system/src/components/Browser/Browser.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(editor): implement local editor origin handling in client initialization
  packages/@intlayer/editor/src/core/getLocalEditorParentOrigin.test.ts
  packages/@intlayer/editor/src/core/getLocalEditorParentOrigin.ts
  packages/@intlayer/editor/src/core/initEditorClient.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): efactor dashboard right panel management and improve panel registration
  apps/app/src/components/Dashboard/DashboardChatBot/index.tsx
  apps/app/src/components/Dashboard/DashboardSidebar/AccountSwitcher/index.tsx
  apps/app/src/components/Dashboard/DashboardSidebar/DashboardSidebar.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/useDictionaryDashboard.ts
  apps/app/src/components/Dashboard/Editor/DictionaryEditionDrawer/DictionaryEditionDrawer.tsx
  apps/app/src/components/Dashboard/Editor/DictionaryEditionDrawer/useDictionaryEditionDrawer.ts
  apps/app/src/components/Dashboard/Editor/DictionaryListDrawer/DictionaryListDrawer.tsx
  apps/app/src/components/Dashboard/Editor/DictionaryListDrawer/dictionaryListDrawerIdentifier.ts
  apps/app/src/components/Dashboard/Editor/EditorLayout.tsx
  apps/app/src/components/Dashboard/Editor/VisualEditorDrawer.tsx
  apps/app/src/components/Dashboard/TranslateDashboard/index.tsx
  apps/app/src/components/TranslationStatusAside/TranslationStatusAside.tsx
  apps/app/src/components/TranslationStatusBar/TranslationStatusBar.tsx
  apps/app/src/hooks/useDashboardRightPanel.test.ts
  apps/app/src/hooks/useDashboardRightPanel.ts
  apps/app/src/hooks/useDemoBootstrap.ts
  apps/app/src/routes/{-$locale}/_dashboard/route.content.ts
  apps/app/src/routes/{-$locale}/_dashboard/route.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): replace GroupedVirtuoso with Virtuoso and optimize group start index calculation
  apps/app/src/components/Dashboard/TranslateDashboard/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(editor): implement pending reveal logic for content wrappers on focus change
  packages/@intlayer/editor/src/components/ContentSelectorWrapper.test.ts
  packages/@intlayer/editor/src/components/ContentSelectorWrapper.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(intlayer-editor): add useLastDefinedValue hook to manage last defined value state
  packages/intlayer-editor/client/src/components/Editor/DictionaryEditionDrawer/DictionaryEditionDrawer.tsx
  packages/intlayer-editor/client/src/hooks/useLastDefinedValue.test.ts
  packages/intlayer-editor/client/src/hooks/useLastDefinedValue.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(editor): fix long press on same dictionary that close edition drawer
  packages/@intlayer/editor/src/core/IframeClickInterceptor.test.ts
  packages/@intlayer/editor/src/core/IframeClickInterceptor.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(intlayer-editor): enhance long press message with modifier click instructions and improve content selection hint
  apps/app/src/components/Dashboard/Editor/LongPressMessage/index.content.ts
  apps/app/src/components/Dashboard/Editor/LongPressMessage/index.tsx
  apps/website/src/components/Dashboard/Editor/LongPressMessage/index.content.ts
  apps/website/src/components/Dashboard/Editor/LongPressMessage/index.tsx
  packages/@intlayer/editor/src/components/ContentSelector.test.ts
  packages/@intlayer/editor/src/components/ContentSelector.ts
  packages/@intlayer/editor/src/components/isInteractiveClickTarget.ts
  packages/@intlayer/editor/src/core/IframeClickInterceptor.test.ts
  packages/@intlayer/editor/src/core/IframeClickInterceptor.ts
  packages/@intlayer/editor/src/core/selectionClick.ts
  packages/intlayer-editor/client/src/components/Editor/LongPressMessage/index.content.ts
  packages/intlayer-editor/client/src/components/Editor/LongPressMessage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): exclude intlayer-editor package from build context
  apps/website/Dockerfile
Due: none

feat(website): make it website agent ready
  apps/app/src/components/Dashboard/DashboardOverview/DashboardAudience.tsx
  apps/app/src/routeTree.gen.ts
  apps/app/src/routes/openapi[.]json.ts
  apps/app/src/routes/robots[.]txt.ts
  apps/backend/.env.template
  apps/backend/package.json
  apps/backend/src/controllers/machinePayment.controller.test.ts
  apps/backend/src/controllers/machinePayment.controller.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/machinePayment.routes.test.ts
  apps/backend/src/routes/machinePayment.routes.ts
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/icu_message_format.json
  apps/backend/src/utils/machinePayment.ts
  apps/marketplace/src/routes/robots[.]txt.ts
  apps/showcase/src/routes/robots[.]txt.ts
  apps/website/package.json
  apps/website/server/htmlToMarkdown.ts
  apps/website/server/markdownForAgents.test.ts
  apps/website/server/markdownRewrite.ts
  apps/website/server/middleware/0.markdownForAgents.ts
  apps/website/src/components/WebMCP/WebMCPTools.tsx
  apps/website/src/routes/robots[.]txt.ts
  bun.lock
  packages/@intlayer/design-system/src/structured-data/buildRobotsTxt.test.ts
  packages/@intlayer/design-system/src/structured-data/buildRobotsTxt.ts
  packages/@intlayer/design-system/src/structured-data/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

style(intlayer-editor): adjust padding for improved layout
  apps/app/src/components/Dashboard/Editor/LongPressMessage/index.tsx
  apps/website/src/components/Dashboard/Editor/LongPressMessage/index.tsx
  packages/intlayer-editor/client/src/components/Editor/LongPressMessage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(vscode-extension): add script to package extension without dependencies
  apps/vscode-extension/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): update editor command to use bun x and remove intlayer-editor from optional dependencies
  apps/website/package.json
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(intlayer-editor): update content security policy frame ancestors to support VS Code webviews and local environments
  packages/intlayer-editor/server/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): fix build
  apps/website/src/components/BlogPage/blogData.ts
  apps/website/src/serverFunctions/blog.ts
  apps/website/src/serverFunctions/docs.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(design-system): handle form submission and button states for improved user experience
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/SaveForm/SaveForm.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(vscode-extension): add application status handling and button update
  apps/vscode-extension/create-file-icon-dark.svg
  apps/vscode-extension/create-file-icon-light.svg
  apps/vscode-extension/extract-icon-dark.svg
  apps/vscode-extension/extract-icon-light.svg
  apps/vscode-extension/package.json
  apps/vscode-extension/src/editorPanel/applicationProcess.ts
  apps/vscode-extension/src/editorPanel/editorPanel.ts
  apps/vscode-extension/src/editorPanel/getEditorPanelHtml.test.ts
  apps/vscode-extension/src/editorPanel/getEditorPanelHtml.ts
  packages/intlayer-editor/client/src/components/Editor/ApplicationNotRunningView/ApplicationNotRunningView.tsx
  packages/intlayer-editor/client/src/components/Editor/ApplicationNotRunningView/applicationNotRunningView.content.ts
  packages/intlayer-editor/client/src/components/Editor/EditorProvider.tsx
  packages/intlayer-editor/client/src/hooks/useApplicationStatus.test.ts
  packages/intlayer-editor/client/src/hooks/useApplicationStatus.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(intlayer-editor): update LongPressMessage component for improved message wrapping and styling
  apps/app/src/components/Dashboard/Editor/LongPressMessage/index.tsx
  apps/website/src/components/Dashboard/Editor/LongPressMessage/index.tsx
  apps/website/src/components/DocPage/DocPageNavigation/DocPageNavigation.tsx
  packages/@intlayer/design-system/src/components/TextArea/ContentEditableTextArea.tsx
  packages/intlayer-editor/client/src/components/Editor/LongPressMessage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): implement API relay for MPP discovery document and add tests
  apps/app/src/routes/openapi[.]json.ts
  apps/app/src/utils/machinePaymentDiscovery.test.ts
  apps/app/src/utils/machinePaymentDiscovery.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): update dotenv and AWS SDK client versions
  apps/backend/package.json
  bun.lock
  packages/@intlayer/config/package.json
  packages/@intlayer/mcp/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(cli): add content layout and format options to init command
  docs/docs/ar/cli/init.md
  docs/docs/bn/cli/init.md
  docs/docs/cs/cli/init.md
  docs/docs/de/cli/init.md
  docs/docs/en-GB/cli/init.md
  docs/docs/en/cli/init.md
  docs/docs/es/cli/init.md
  docs/docs/fr/cli/init.md
  docs/docs/hi/cli/init.md
  docs/docs/id/cli/init.md
  docs/docs/it/cli/init.md
  docs/docs/ja/cli/init.md
  docs/docs/ko/cli/init.md
  docs/docs/nl/cli/init.md
  docs/docs/pl/cli/init.md
  docs/docs/pt/cli/init.md
  docs/docs/ru/cli/init.md
  docs/docs/tr/cli/init.md
  docs/docs/uk/cli/init.md
  docs/docs/ur/cli/init.md
  docs/docs/vi/cli/init.md
  docs/docs/zh/cli/init.md
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/init.test.ts
  packages/@intlayer/cli/src/init.ts
  packages/@intlayer/engine/src/cli.ts
  packages/@intlayer/engine/src/init/cms.ts
  packages/@intlayer/engine/src/init/index.ts
  packages/@intlayer/engine/src/init/utils/configManipulation.test.ts
  packages/@intlayer/engine/src/init/utils/configManipulation.ts
  packages/@intlayer/engine/src/init/utils/contentLayout.test.ts
  packages/@intlayer/engine/src/init/utils/contentLayout.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(docker): implement dynamic S3 credentials handling for MinIO
  apps/website/Dockerfile
  docker/selfhost/Dockerfile
  docker/selfhost/README.md
  docker/selfhost/rootfs/etc/s6-overlay/s6-rc.d/backend/run
  docker/selfhost/rootfs/etc/s6-overlay/s6-rc.d/minio/run
  docker/selfhost/rootfs/etc/s6-overlay/scripts/init-minio.sh
  docker/selfhost/rootfs/etc/s6-overlay/scripts/s3-credentials.sh
  docs/docs/ar/self_hosting.md
  docs/docs/de/self_hosting.md
  docs/docs/en-GB/self_hosting.md
  docs/docs/en/self_hosting.md
  docs/docs/es/self_hosting.md
  docs/docs/fr/self_hosting.md
  docs/docs/hi/self_hosting.md
  docs/docs/id/self_hosting.md
  docs/docs/it/self_hosting.md
  docs/docs/ja/self_hosting.md
  docs/docs/ko/self_hosting.md
  docs/docs/pl/self_hosting.md
  docs/docs/pt/self_hosting.md
  docs/docs/ru/self_hosting.md
  docs/docs/tr/self_hosting.md
  docs/docs/uk/self_hosting.md
  docs/docs/vi/self_hosting.md
  docs/docs/zh/self_hosting.md
Due: prettier --write

feat(website): implement revalidated value hooks and memoization for GitHub stars and latest version
  apps/website/src/components/LandingPage/HeroSection/hero-section.content.ts
  apps/website/src/components/LandingPage/HeroSection/index.tsx
  apps/website/src/components/Navbar/GithubStarCount.tsx
  apps/website/src/components/Navbar/useRevalidatedGithubStars.ts
  apps/website/src/hooks/useRevalidatedValue.ts
  apps/website/src/serverFunctions/githubStars.ts
  apps/website/src/serverFunctions/latestVersion.ts
  apps/website/src/utils/createRevalidatedMemo.test.ts
  apps/website/src/utils/createRevalidatedMemo.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(cli): add --message-format option for JSON catalogs
  docs/docs/ar/cli/init.md
  docs/docs/bn/cli/init.md
  docs/docs/cs/cli/init.md
  docs/docs/de/cli/init.md
  docs/docs/en-GB/cli/init.md
  docs/docs/en/cli/init.md
  docs/docs/es/cli/init.md
  docs/docs/fr/cli/init.md
  docs/docs/hi/cli/init.md
  docs/docs/id/cli/init.md
  docs/docs/it/cli/init.md
  docs/docs/ja/cli/init.md
  docs/docs/ko/cli/init.md
  docs/docs/nl/cli/init.md
  docs/docs/pl/cli/init.md
  docs/docs/pt/cli/init.md
  docs/docs/ru/cli/init.md
  docs/docs/tr/cli/init.md
  docs/docs/uk/cli/init.md
  docs/docs/ur/cli/init.md
  docs/docs/vi/cli/init.md
  docs/docs/zh/cli/init.md
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/init.test.ts
  packages/@intlayer/cli/src/init.ts
  packages/@intlayer/engine/src/init/index.ts
  packages/@intlayer/engine/src/init/utils/contentLayout.test.ts
  packages/@intlayer/engine/src/init/utils/contentLayout.ts
  packages/@intlayer/engine/src/init/utils/packageManager.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump version to 9.7.0 for all packages
  bun.lock
  packages/@intlayer/babel/package.json
  packages/@intlayer/backend-contract/package.json
  packages/@intlayer/chrome-extension/package.json
  packages/@intlayer/chrome-extension/public/manifest.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/svelte-compiler/package.json
  packages/@intlayer/webpack/package.json
  packages/adonis-intlayer/package.json
  packages/angular-intlayer/package.json
  packages/astro-intlayer/package.json
  packages/elysia-intlayer/package.json
  packages/eslint-plugin-intlayer/package.json
  packages/express-intlayer/package.json
  packages/fastify-intlayer/package.json
  packages/hono-intlayer/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lit-intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/remix-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vanilla-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(config): restore editorURL to correct localhost port
  examples/vite-react-app/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
