Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(app): improve modal props typing and CI template handling while disabling build minification
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/CIWorkflowModal.tsx
  apps/app/src/utils/auth.tsx
  apps/app/vite.config.ts
  bun.lock
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/StructureView/StructureView.tsx
  packages/@intlayer/design-system/src/components/Modal/Modal.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): update HEALTHCHECK start period to 35 seconds for improved reliability
  apps/app/Dockerfile
Due: none

feat(app): add health check endpoint and update Dockerfile healthcheck command
  apps/app/Dockerfile
  apps/app/src/routes/healthz.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): make session optional and add timeout to prevent SSR failures on auth service timeouts
  apps/app/src/routes/{-$locale}/_dashboard/index.tsx
  apps/app/src/utils/auth.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): reorder table columns in dictionary list and add healthz route definition
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.tsx
  apps/app/src/routeTree.gen.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): reorder generated route imports and remove trailing semicolons in routeTree.gen.ts
  packages/@intlayer/chokidar/src/utils/getPathHash.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): restore simple hash function with cyrb53 algorithm for improved collision resistance
  packages/@intlayer/chokidar/src/utils/getPathHash.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): improve dev experience by adding optimization warnings, throttling dictionary missing logs, and delaying artifact cleanup
  packages/@intlayer/chokidar/src/cleanRemovedContentDeclaration.ts
  packages/@intlayer/chokidar/src/watcher.ts
  packages/@intlayer/core/src/interpreter/getIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar): replace mutex-based task queue with sequential array queue and update cache eviction logic in watcher
  packages/@intlayer/chokidar/src/watcher.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add plural node nesting limitation documentation to all locales
  docs/docs/ar/dictionary/plurial.md
  docs/docs/de/dictionary/plurial.md
  docs/docs/en-GB/dictionary/plurial.md
  docs/docs/en/dictionary/plural.md
  docs/docs/en/dictionary/plurial.md
  docs/docs/es/dictionary/plurial.md
  docs/docs/fr/dictionary/plurial.md
  docs/docs/hi/dictionary/plurial.md
  docs/docs/id/dictionary/plurial.md
  docs/docs/it/dictionary/plurial.md
  docs/docs/ja/dictionary/plurial.md
  docs/docs/ko/dictionary/plurial.md
  docs/docs/pl/dictionary/plurial.md
  docs/docs/pt/dictionary/plurial.md
  docs/docs/ru/dictionary/plurial.md
  docs/docs/tr/dictionary/plurial.md
  docs/docs/uk/dictionary/plurial.md
  docs/docs/vi/dictionary/plurial.md
  docs/docs/zh/dictionary/plurial.md
Due: prettier --write

fix(website): update DocHeader responsive layout styling
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: enhance proxy objects to support native string methods and primitive coercion across react, solid, and preact packages
  packages/preact-intlayer/src/IntlayerNode.tsx
  packages/preact-intlayer/src/plugins.tsx
  packages/react-intlayer/src/IntlayerNode.tsx
  packages/react-intlayer/src/plugins.tsx
  packages/solid-intlayer/src/IntlayerNode.tsx
  packages/solid-intlayer/src/plugins.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): increase navigation z-index for mobile layout and correct plural documentation file reference
  apps/website/src/components/BlogPage/BlogNavList.tsx
  apps/website/src/components/BlogPage/BlogPageLayout.tsx
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
  apps/website/src/components/DocPage/DocNavList.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
  apps/website/src/components/DocPage/docData.content.ts
  docs/src/generated/docs.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(vanilla-intlayer): switch vanilla-intlayer build configuration from Vite to tsdown and improve example reactivity
  examples/vite-vanilla-app/src/main.ts
  packages/angular-intlayer/src/renderIntlayerNode.ts
  packages/svelte-intlayer/src/renderIntlayerNode.ts
  packages/vanilla-intlayer/package.json
  packages/vanilla-intlayer/tsdown.config.ts
  packages/vanilla-intlayer/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(chokidar): replace hardcoded ignore patterns with dynamic excludedPath and remove build optimization flag
  examples/vite-vanilla-app/intlayer.config.ts
  packages/@intlayer/chokidar/src/watcher.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(chokidar): upgrade chokidar to v5 and update watcher calls to use async/await patterns
  bun.lock
  package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/chokidar/src/watcher.ts
  packages/@intlayer/cli/src/watch.ts
  packages/astro-intlayer/src/index.ts
  packages/lynx-intlayer/src/plugin/pluginIntlayerLynx.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
  scripts/script-dev-package-command.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update nextjs dependency
  apps/website/package.json
  bun.lock
  examples/next-no-lolale-path/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): update and standardize documentation across multiple languages and frameworks
  apps/website/src/components/I18nBenchmark/ChartComponent.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump react, react-dom, zod, and workbox-build dependencies across the monorepo
  apps/app/package.json
  apps/backend/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  examples/astro-react-app/package.json
  examples/next-15-next-intl-app/package.json
  examples/next-no-lolale-path/package.json
  examples/nextjs-15-app/package.json
  examples/react-app/package.json
  examples/react-router-app/package.json
  examples/react-router-fs-app/package.json
  examples/tanstack-start-app/package.json
  examples/vite-react-app/package.json
  package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/types/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): replace Map with Record in benchmark charts
  apps/website/src/components/I18nBenchmark/ChartComponent.tsx
  apps/website/src/components/I18nBenchmark/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: improve IntlayerNode flexibility by broadening supported types and enabling generic native method delegation across all frameworks
  packages/angular-intlayer/src/renderIntlayerNode.ts
  packages/lit-intlayer/src/renderIntlayerNode.ts
  packages/preact-intlayer/src/IntlayerNode.tsx
  packages/react-intlayer/src/IntlayerNode.tsx
  packages/solid-intlayer/src/IntlayerNode.tsx
  packages/solid-intlayer/src/client/useDictionary.ts
  packages/solid-intlayer/src/client/useIntlayer.ts
  packages/solid-intlayer/tsdown.config.ts
  packages/solid-intlayer/vite.config.ts
  packages/svelte-intlayer/src/renderIntlayerNode.ts
  packages/vanilla-intlayer/src/renderIntlayerNode.ts
  packages/vue-intlayer/src/renderIntlayerNode.ts
  packages/vue-intlayer/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump package versions to 8.9.0
  bun.lock
  docs/package.json
  plugins/sync-json-plugin/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(chokidar): optimize esbuild resource management, implement global scope isolation for VM sandboxes, and add preloaded globals support
  packages/@intlayer/chokidar/src/loadDictionaries/loadContentDeclaration.ts
  packages/@intlayer/config/src/loadExternalFile/loadExternalFile.ts
  packages/@intlayer/config/src/loadExternalFile/parseFileContent.ts
  packages/@intlayer/config/src/loadExternalFile/transpileTSToCJS.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add documentation for IntlayerNode type across all supported languages
  docs/frequent_questions/ar/intlayerNode.md
  docs/frequent_questions/de/intlayerNode.md
  docs/frequent_questions/en-GB/intlayerNode.md
  docs/frequent_questions/en/intlayerNode.md
  docs/frequent_questions/es/intlayerNode.md
  docs/frequent_questions/fr/intlayerNode.md
  docs/frequent_questions/hi/intlayerNode.md
  docs/frequent_questions/id/intlayerNode.md
  docs/frequent_questions/it/intlayerNode.md
  docs/frequent_questions/ja/intlayerNode.md
  docs/frequent_questions/ko/intlayerNode.md
  docs/frequent_questions/pl/intlayerNode.md
  docs/frequent_questions/pt/intlayerNode.md
  docs/frequent_questions/ru/intlayerNode.md
  docs/frequent_questions/tr/intlayerNode.md
  docs/frequent_questions/uk/intlayerNode.md
  docs/frequent_questions/vi/intlayerNode.md
  docs/frequent_questions/zh/intlayerNode.md
Due: prettier --write

refactor("sync-json-plugin"): improve CLI file path handling and extend sync-json-plugin support
  examples/next-15-next-intl-app/messages_ICU/en.json
  examples/next-15-next-intl-app/messages_ICU/es.json
  examples/next-15-next-intl-app/messages_ICU/fr.json
  examples/vite-react-app/intlayer.config.ts
  examples/vite-react-app/locales/en.json
  examples/vite-react-app/locales/es.json
  examples/vite-react-app/locales/fr.json
  examples/vite-react-app/src/app.content.tsx
  examples/vite-react-app/src/newTest.en.content.tsx
  examples/vite-react-app/src/newTest.es.content.ts
  examples/vite-react-app/src/newTest.fr.content.ts
  packages/@intlayer/cli/src/fill/fill.ts
  packages/@intlayer/cli/src/fill/formatAutoFilledFilePath.ts
  packages/@intlayer/cli/src/fill/formatFillData.ts
  packages/@intlayer/cli/src/fill/translateDictionary.ts
  packages/@intlayer/cli/src/fill/writeFill.ts
  plugins/sync-json-plugin/src/loadJSON.ts
  plugins/sync-json-plugin/src/syncJSON.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add intlayerNode frequent question embeddings and register in documentation
  apps/backend/src/utils/AI/askDocQuestion/embeddings/frequent_questions/en/intlayerNode.json
  docs/src/generated/frequentQuestions.entry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(webpack): remove unused synchronous node type utility and await watch initialization in webpack plugin
  packages/@intlayer/webpack/src/webpack-plugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: wrap plural content objects in t() function calls across dictionary documentation
  docs/docs/ar/dictionary/plurial.md
  docs/docs/de/dictionary/plurial.md
  docs/docs/en-GB/dictionary/plurial.md
  docs/docs/en/dictionary/plurial.md
  docs/docs/es/dictionary/plurial.md
  docs/docs/fr/dictionary/plurial.md
  docs/docs/hi/dictionary/plurial.md
  docs/docs/id/dictionary/plurial.md
  docs/docs/it/dictionary/plurial.md
  docs/docs/ja/dictionary/plurial.md
  docs/docs/ko/dictionary/plurial.md
  docs/docs/pl/dictionary/plurial.md
  docs/docs/pt/dictionary/plurial.md
  docs/docs/ru/dictionary/plurial.md
  docs/docs/tr/dictionary/plurial.md
  docs/docs/uk/dictionary/plurial.md
  docs/docs/vi/dictionary/plurial.md
  docs/docs/zh/dictionary/plurial.md
Due: prettier --write

feat(backend): implement token fallback for CI operations and improve subscription cancellation logic
  apps/app/src/components/Dashboard/OrganizationForm/OrganizationList.tsx
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/CIWorkflowModal.tsx
  apps/app/src/components/OnboardPage/PaymentStep/PaymentStepForm.tsx
  apps/app/src/components/OnboardPage/PaymentStep/index.content.ts
  apps/app/src/components/OnboardPage/SetUpOrganizationStep/SetUpOrganizationStepForm.tsx
  apps/app/src/hooks/useHotDataLoading.tsx
  apps/backend/src/controllers/project.controller.ts
  apps/backend/src/controllers/stripe.controller.ts
  apps/backend/src/schemas/project.schema.ts
  apps/backend/src/services/ci.service.ts
  apps/backend/src/services/subscription.service.ts
  apps/backend/src/types/project.types.ts
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/autoFill.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/init.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/list_projects.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/cli/watch.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_CMS.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/testing.json
  apps/backend/src/webhooks/stripe.webhook.ts
  packages/@intlayer/design-system/src/components/Input/Checkbox.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(backend): reformat route tree imports and apply backend cleanup
  apps/backend/src/controllers/dictionary.controller.ts
  apps/backend/src/controllers/newsletter.controller.ts
  apps/backend/src/controllers/organization.controller.ts
  apps/backend/src/controllers/project.controller.ts
  apps/backend/src/controllers/showcaseProject.controller.ts
  apps/backend/src/controllers/stripe.controller.ts
  apps/backend/src/controllers/tag.controller.ts
  apps/backend/src/controllers/user.controller.ts
  apps/backend/src/services/oAuth2.service.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
