Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

refactor: provide default browser storage implementations for locale management
  packages/@intlayer/core/src/utils/localeStorage.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add documentation subsections for Astro integration with various frameworks
  apps/website/src/components/DocPage/docData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(design-system): add double-click functionality to reset height and width in HeightResizer and WithResizer components
  packages/@intlayer/design-system/src/components/HeightResizer/index.tsx
  packages/@intlayer/design-system/src/components/WithResizer/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(deps): update @commitlint/cli and related dependencies to version 20.5.2 in bun.lock and package.json
  bun.lock
  package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(design-system): update MarkDownIframe
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownIframe.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(config): add '*.vercel.app' to frame-ancestors for enhanced security
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(design-system): wrap iframe in a Container for improved styling in MarkDownIframe component
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownIframe.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): implement auto-fill translation feature with configurable mode and project-level settings
  apps/app/src/components/Dashboard/ProjectForm/AutoFillSettings/AutoFillSettings.tsx
  apps/app/src/components/Dashboard/ProjectForm/AutoFillSettings/autoFillSettings.content.ts
  apps/app/src/components/Dashboard/ProjectForm/ProjectForm.tsx
  apps/app/src/components/TranslationStatusAside/TranslationStatusAside.tsx
  apps/app/src/components/TranslationStatusAside/translationStatusAside.content.ts
  apps/backend/src/controllers/dictionary.controller.ts
  apps/backend/src/controllers/translation.controller.ts
  apps/backend/src/schemas/project.schema.ts
  apps/backend/src/services/translationQueue.service.ts
  apps/backend/src/services/translationWorker.service.ts
  apps/backend/src/types/project.types.ts
  packages/@intlayer/design-system/src/hooks/reactQuery.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update dependencies across apps and packages
  apps/app/package.json
  apps/backend/package.json
  apps/doc/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  examples/tanstack-start-app/package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(backend): update documentation header component and regenerate AI embedding chunks
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_lit.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_preact.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_react.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_svelte.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_vanilla.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_astro_vue.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_nextjs_page_router.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+lit.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+preact.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+react.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+react_compiler.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+svelte.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+vanilla.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_vite+vue.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(doc): increase z-index of DocHeader container to ensure proper layering
  apps/doc/src/components/DocPage/DocHeader/DocHeader.tsx
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add baidu-push script and update environment variable references
  apps/website/package.json
  apps/website/scripts/baidu-push.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: make default locale configurable via environment variable in intlayer config
  apps/website/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style: add overflow-x-auto to DocHeader container for improved responsiveness
  apps/doc/src/components/DocPage/DocHeader/DocHeader.tsx
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: replace native buttons with Button component in TranslationStatusAside
  apps/app/src/components/TranslationStatusAside/TranslationStatusAside.tsx
  apps/backend/src/controllers/translation.controller.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: allow string and number types for interpolation values in vue-intlayer plugin definition
  packages/vue-intlayer/src/plugins.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(astro-intlayer): add support for .astro files and enhance getIntlayer iterator functionality
  packages/@intlayer/babel/src/babel-plugin-intlayer-optimize.test.ts
  packages/@intlayer/babel/src/extractScriptBlocks.test.ts
  packages/@intlayer/babel/src/extractScriptBlocks.ts
  packages/@intlayer/babel/src/transformers.ts
  packages/@intlayer/config/src/defaultValues/build.ts
  packages/@intlayer/core/src/interpreter/getIntlayer.ts
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(vite-intlayer): remove debug logging from intlayerOptimizePlugin
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add support for content extraction Astro
  packages/@intlayer/babel/src/babel-plugin-intlayer-usage-analyzer.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-usage-analyzer.ts
  packages/@intlayer/babel/src/extractContent/extractContent.test.ts
  packages/@intlayer/babel/src/extractContent/extractContent.ts
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: enable component key inheritance for inner functions during content extraction
  examples/astro-react-app/intlayer.config.ts
  packages/@intlayer/babel/src/extractContent/babelProcessor.ts
  packages/@intlayer/babel/src/extractContent/extractContent.test.ts
  packages/@intlayer/babel/src/extractContent/extractContent.ts
  packages/@intlayer/babel/src/extractContent/processTsxFile.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(babel): enable optional code injection in extraction compilers and add Astro support to build patterns
  packages/@intlayer/babel/src/extractContent/extractContent.ts
  packages/@intlayer/config/src/defaultValues/build.ts
  packages/@intlayer/svelte-compiler/src/svelte-intlayer-extract.ts
  packages/@intlayer/vue-compiler/src/vue-intlayer-extract.ts
  packages/vite-intlayer/src/IntlayerCompilerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump version to 8.7.10 and update dependencies in @intlayer/ai package
  bun.lock
  packages/@intlayer/ai/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: enhance localization support in Astro files by adding LocaleSwitcher and dynamic HTML attributes
  .agents/skills/intlayer-astro/references/environment_astro.md
  bun.lock
  docs/docs/ar/intlayer_with_astro.md
  docs/docs/de/intlayer_with_astro.md
  docs/docs/en-GB/intlayer_with_astro.md
  docs/docs/en/intlayer_with_astro.md
  docs/docs/es/intlayer_with_astro.md
  docs/docs/fr/intlayer_with_astro.md
  docs/docs/hi/intlayer_with_astro.md
  docs/docs/id/intlayer_with_astro.md
  docs/docs/it/intlayer_with_astro.md
  docs/docs/ja/intlayer_with_astro.md
  docs/docs/ko/intlayer_with_astro.md
  docs/docs/pl/intlayer_with_astro.md
  docs/docs/pt/intlayer_with_astro.md
  docs/docs/ru/intlayer_with_astro.md
  docs/docs/tr/intlayer_with_astro.md
  docs/docs/uk/intlayer_with_astro.md
  docs/docs/vi/intlayer_with_astro.md
  docs/docs/zh/intlayer_with_astro.md
Due: prettier --write

chore: update project dependencies across all apps and packages
  apps/app/package.json
  apps/backend/package.json
  apps/doc/package.json
  apps/showcase/package.json
  apps/website/package.json
  examples/tanstack-start-app/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write
