Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

fix(website-tanstack): stop the pending flash and make intent preloading effective
  apps/website-tanstack/src/router.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website-tanstack): enhance error handling and reload logic for dynamic imports
  apps/website-tanstack/intlayer.config.ts
  apps/website-tanstack/src/components/ChunkErrorListener/ChunkErrorListener.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website-tanstack): enhance static asset handling and authentication flow
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_svelte_kit.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/readme.json
  apps/website-tanstack/package.json
  apps/website-tanstack/scripts/compress-static.ts
  apps/website-tanstack/server/staticPages.test.ts
  apps/website-tanstack/server/staticPages.ts
  apps/website-tanstack/src/routes/__root.tsx
  apps/website-tanstack/vite.config.ts
  packages/@intlayer/design-system/src/api/useAuth/useOAuth2.ts
  packages/@intlayer/design-system/src/api/useAuth/useSession.ts
  packages/@intlayer/design-system/src/providers/DeferredAuthProvider.tsx
  packages/@intlayer/design-system/src/providers/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(webpack): prevent conflicting process.env definitions in CRA
  packages/@intlayer/webpack/src/webpack-plugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update lsp doc
  docs/docs/ar/lsp.md
  docs/docs/de/lsp.md
  docs/docs/en-GB/lsp.md
  docs/docs/en/lsp.md
  docs/docs/es/lsp.md
  docs/docs/fr/lsp.md
  docs/docs/hi/lsp.md
  docs/docs/id/lsp.md
  docs/docs/it/lsp.md
  docs/docs/ja/lsp.md
  docs/docs/ko/lsp.md
  docs/docs/pl/lsp.md
  docs/docs/pt/lsp.md
  docs/docs/ru/lsp.md
  docs/docs/tr/lsp.md
  docs/docs/uk/lsp.md
  docs/docs/vi/lsp.md
  docs/docs/zh/lsp.md
Due: prettier --write

refactor(app): migrate tanstack table from v8 to v9
  apps/app/src/components/Dashboard/AdminPage/AdminAffiliates/AffiliatesAdminPage.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminDiscussions/DiscussionsAdminPage.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminOrganizations/OrganizationsAdminPage.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminProjects/ProjectsAdminPage.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminPromoCodes/PromoCodesAdminPage.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminUsers/UserAdminPage.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryTable.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryToolbar.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/useDictionaryDashboard.ts
  apps/app/src/components/Dashboard/TagForm/TagList.tsx
  apps/app/src/utils/reactTable.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: set build optimization for undefined to do not process in dev
  apps/showcase/intlayer.config.ts
  apps/website-tanstack/intlayer.config.ts
  examples/next-no-lolale-path/intlayer.config.ts
  examples/vite-lit-app/intlayer.config.ts
  examples/vite-preact-app/intlayer.config.ts
  examples/vite-solid-app/intlayer.config.ts
  examples/vite-svelte-app/intlayer.config.ts
  examples/vite-vue-app/intlayer.config.ts
  packages/intlayer-editor/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update dependencies across multiple packages
  apps/app/package.json
  apps/backend/package.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_tanstack+solid.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_tanstack.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/lsp.json
  apps/showcase/package.json
  apps/website-tanstack/package.json
  apps/website/package.json
  bun.lock
  package.json
  packages/@intlayer/design-system/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update dependencies across examples and packages
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  examples/compat-next-i18next/package.json
  examples/compat-next-intl/package.json
  examples/react-app/package.json
  examples/vite-preact-app/package.json
  package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/mcp/package.json
  packages/preact-intlayer/package.json
  packages/solid-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(ai): add MoonshotAI provider support and update documentation
  bun.lock
  docs/docs/ar/configuration.md
  docs/docs/bn/configuration.md
  docs/docs/cs/configuration.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/nl/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/uk/configuration.md
  docs/docs/ur/configuration.md
  docs/docs/vi/configuration.md
  docs/docs/zh/configuration.md
  packages/@intlayer/ai/package.json
  packages/@intlayer/ai/src/aiSdk.ts
  packages/@intlayer/ai/src/index.ts
  packages/@intlayer/engine/src/initConfig/templates/cjs.txt
  packages/@intlayer/engine/src/initConfig/templates/mjs.txt
  packages/@intlayer/engine/src/initConfig/templates/ts.txt
  packages/@intlayer/types/src/config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: fix conflicts
  apps/backend/package.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/configuration.json
  bun.lock
  examples/compat-next-i18next/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): fix build by downgrading nextjs
  apps/website-tanstack/intlayer.config.ts
  apps/website/intlayer.config.ts
  apps/website/package.json
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: fix tests
  apps/backend/src/controllers/showcaseProject.controller.ts
  apps/backend/src/utils/validation/validateDictionary.ts
  apps/backend/src/utils/validation/validateOrganization.ts
  apps/backend/src/utils/validation/validateProject.ts
  apps/backend/src/utils/validation/validateTag.ts
  apps/backend/src/utils/validation/validateUser.ts
  packages/@intlayer/ai/src/auditDictionaryMetadata/index.ts
  packages/@intlayer/ai/src/translateJSON/index.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-purge.test.ts
  packages/@intlayer/chrome-extension/vitest.config.ts
  packages/@intlayer/core/src/markdown/compiler.ts
  packages/@intlayer/core/src/transpiler/markdown/getMarkdownMetadata.test.ts
  packages/@intlayer/svelte-compiler/src/svelte-intlayer-extract.ts
  packages/@intlayer/vue-compiler/src/vue-intlayer-extract.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: harmonize docs
  docs/docs/ar/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/en-GB/intlayer_with_create_react_app.md
  docs/docs/en-GB/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/hi/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/hi/intlayer_with_vite+svelte.md
  docs/docs/ja/intlayer_with_react_router_v7.md
  docs/docs/ja/intlayer_with_vite+react.md
  docs/docs/ko/intlayer_with_lynx+react.md
  docs/docs/ko/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/ko/intlayer_with_storybook.md
  docs/docs/pl/intlayer_with_astro.md
  docs/docs/pl/migration_from_i18next_to_intlayer.md
  docs/docs/pl/migration_from_next-i18next_to_intlayer.md
  docs/docs/pl/migration_from_next-intl_to_intlayer.md
  docs/docs/pl/migration_from_nuxtjs_i18n_to_intlayer.md
  docs/docs/pl/migration_from_react-i18next_to_intlayer.md
  docs/docs/pl/migration_from_vue-i18n_to_intlayer.md
  docs/docs/pt/intlayer_with_astro.md
  docs/docs/uk/packages/angular-intlayer/exports.md
  docs/docs/zh/intlayer_with_create_react_app.md
  docs/docs/zh/intlayer_with_lynx+react.md
  docs/docs/zh/intlayer_with_nextjs_14.md
  docs/docs/zh/intlayer_with_nextjs_15.md
  docs/docs/zh/intlayer_with_nextjs_page_router.md
  docs/docs/zh/intlayer_with_nuxt.md
  docs/docs/zh/intlayer_with_react_router_v7.md
  docs/docs/zh/intlayer_with_react_router_v7_fs_routes.md
  docs/docs/zh/intlayer_with_solid_start.md
  docs/docs/zh/intlayer_with_vite+vue.md
Due: prettier --write

refactor: add catch to failable dyn imports
  packages/angular-intlayer/src/editor/useEditor.ts
  packages/angular-intlayer/src/plugins.ts
  packages/lit-intlayer/src/editor/useEditor.ts
  packages/preact-intlayer/src/editor/ContentSelector.tsx
  packages/preact-intlayer/src/editor/useEditor.tsx
  packages/preact-intlayer/src/plugins.tsx
  packages/react-intlayer/src/editor/useEditor.tsx
  packages/react-intlayer/src/markdown/processor.test.tsx
  packages/react-intlayer/src/plugins.tsx
  packages/solid-intlayer/src/editor/useEditor.tsx
  packages/solid-intlayer/src/plugins.tsx
  packages/svelte-intlayer/src/editor/useEditor.ts
  packages/svelte-intlayer/src/plugins.ts
  packages/vanilla-intlayer/src/editor/useEditor.ts
  packages/vue-intlayer/src/client/installIntlayer.ts
  packages/vue-intlayer/src/editor/useEditor.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update claude.md to reduce synthetize jsdoc
  CLAUDE.md
Due: prettier --write

chore(website): update disavow.txt with additional domains
  apps/website/public/disavow.txt
Due: none

chore(backend): update embeddings eslint doc
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/eslint.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(babel): improve rename field for vanilla-inlayer
  packages/@intlayer/babel/src/babel-plugin-intlayer-field-rename.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-field-rename.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-usage-analyzer.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-usage-analyzer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(eslint): add noUnusedContent rule to ESLint plugin for Intlayer
  bun.lock
  docs/docs/ar/eslint.md
  docs/docs/bn/eslint.md
  docs/docs/cs/eslint.md
  docs/docs/de/eslint.md
  docs/docs/en-GB/eslint.md
  docs/docs/en-GB/intlayer_with_create_react_app.md
  docs/docs/en/eslint.md
  docs/docs/es/eslint.md
  docs/docs/fr/eslint.md
  docs/docs/hi/eslint.md
  docs/docs/id/eslint.md
  docs/docs/it/eslint.md
  docs/docs/ja/eslint.md
  docs/docs/ko/eslint.md
  docs/docs/nl/eslint.md
  docs/docs/pl/eslint.md
  docs/docs/pl/migration_from_next-i18next_to_intlayer.md
  docs/docs/pl/migration_from_next-intl_to_intlayer.md
  docs/docs/pl/migration_from_nuxtjs_i18n_to_intlayer.md
  docs/docs/pl/migration_from_react-i18next_to_intlayer.md
  docs/docs/pt/eslint.md
  docs/docs/ru/eslint.md
  docs/docs/tr/eslint.md
  docs/docs/uk/eslint.md
  docs/docs/ur/eslint.md
  docs/docs/vi/eslint.md
  docs/docs/zh-TW/eslint.md
  docs/docs/zh/eslint.md
  docs/tools/review.ts
  packages/@intlayer/lsp/package.json
  packages/eslint-plugin-intlayer/README.md
  packages/eslint-plugin-intlayer/package.json
  packages/eslint-plugin-intlayer/src/index.ts
  packages/eslint-plugin-intlayer/src/preset.ts
  packages/eslint-plugin-intlayer/src/rules/noUnusedContent.test.ts
  packages/eslint-plugin-intlayer/src/rules/noUnusedContent.ts
  packages/eslint-plugin-intlayer/src/utils/contentDeclaration.ts
  packages/eslint-plugin-intlayer/src/utils/projectUsage.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update package dependencies
  apps/app/package.json
  apps/backend/package.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/eslint.json
  apps/showcase/package.json
  apps/website-tanstack/package.json
  apps/website/package.json
  bun.lock
  examples/tanstack-start-app/package.json
  package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/mcp/package.json
  packages/fastify-intlayer/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(website): add new domains to disavow list
  apps/website/public/disavow.txt
Due: none

chore(website): update @next/third-parties and next to 16.3.1-canary.15
  apps/website/package.json
  bun.lock
  examples/next-15-next-intl-app/package.json
  examples/nextjs-15-app/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update Dockerfile syntax version to 1.26.0 across multiple applications
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/showcase/Dockerfile
  apps/website-tanstack/Dockerfile
  apps/website/Dockerfile
  docker/selfhost/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

fix: provide default localhost URL for metadata and feed generation when environment variables are missing
  apps/website/src/app/[locale]/(docs)/doc/[[...slugs]]/layout.tsx
  apps/website/src/app/[locale]/metadata.ts
  apps/website/src/app/feed.xml/route.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(lsp): add notification for missing built dictionaries
  packages/@intlayer/lsp/src/index.ts
  packages/@intlayer/lsp/src/protocol.ts
  packages/@intlayer/lsp/src/utils.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(eslint): update ESLint dependencies and add new test cases for adapter imports
  apps/backend/intlayer-backend-9.3.2.tgz
  bun.lock
  docs/docs/ar/eslint.md
  docs/docs/bn/eslint.md
  docs/docs/cs/eslint.md
  docs/docs/de/eslint.md
  docs/docs/en-GB/eslint.md
  docs/docs/en/eslint.md
  docs/docs/es/eslint.md
  docs/docs/fr/eslint.md
  docs/docs/hi/eslint.md
  docs/docs/id/eslint.md
  docs/docs/it/eslint.md
  docs/docs/ja/eslint.md
  docs/docs/ko/eslint.md
  docs/docs/nl/eslint.md
  docs/docs/pl/eslint.md
  docs/docs/pt/eslint.md
  docs/docs/ru/eslint.md
  docs/docs/tr/eslint.md
  docs/docs/uk/eslint.md
  docs/docs/ur/eslint.md
  docs/docs/vi/eslint.md
  docs/docs/zh-TW/eslint.md
  docs/docs/zh/eslint.md
  packages/eslint-plugin-intlayer/src/rules/enforceAdapterImport.test.ts
  packages/eslint-plugin-intlayer/src/rules/enforceAdapterImport.ts
  packages/eslint-plugin-intlayer/src/rules/staticDictionaryKey.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: fix test preact-intlayer & solid-intlayer
  packages/preact-intlayer/src/htmlNodeRendering.test.tsx
  packages/preact-intlayer/src/markdownNodeRendering.test.tsx
  packages/solid-intlayer/src/htmlNodeRendering.integration.test.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update package dependencies across multiple applications
  apps/app/package.json
  apps/backend/package.json
  apps/showcase/package.json
  apps/website-tanstack/package.json
  apps/website/package.json
  bun.lock
  examples/tanstack-start-app/package.json
  package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/mcp/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: edit Dockerfiles to streamline builds and improve caching
  .dockerignore
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/backend/package.json
  apps/showcase/Dockerfile
  apps/website-tanstack/Dockerfile
  apps/website/Dockerfile
  bun.lock
  docker/scripts/linkWorkspacePackages.sh
  docker/scripts/prepareStandaloneWorkspace.test.ts
  docker/scripts/prepareStandaloneWorkspace.ts
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: remove outdated README content for webpack package
  packages/@intlayer/webpack/README.md
Due: prettier --write

fix(backend): update bson resolution to version 7.2.0 in package.json
  bun.lock
  package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write
