Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

feat(core): implement getMaskContent function and update related tests
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/createDictionaryEntryPoint.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/getBuiltDictionariesPath.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/getBuiltDynamicDictionariesPath.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/getBuiltFetchDictionariesPath.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/getBuiltRemoteDictionariesPath.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/getBuiltUnmergedDictionariesPath.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/index.ts
  packages/@intlayer/chokidar/src/handleContentDeclarationFileChange.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/reduceDictionaryContent/applyMask.test.ts
  packages/@intlayer/chokidar/src/reduceDictionaryContent/reduceDictionaryContent.ts
  packages/@intlayer/core/src/deepTranformPlugins/getMaskContent.test.ts
  packages/@intlayer/core/src/deepTranformPlugins/getMaskContent.ts
  packages/@intlayer/core/src/deepTranformPlugins/index.ts
Due: prettier --write, eslint --fix --cache

chore: exclude test files from type checking in all packages tsconfig
  packages/@intlayer/core/tsconfig.types.json
  packages/angular-intlayer/tsconfig.types.json
  packages/lynx-intlayer/tsconfig.types.json
  packages/nuxt-intlayer/tsconfig.types.json
  packages/preact-intlayer/tsconfig.types.json
  packages/react-intlayer/tsconfig.types.json
  packages/react-native-intlayer/tsconfig.types.json
  packages/react-scripts-intlayer/tsconfig.types.json
  packages/solid-intlayer/tsconfig.types.json
  packages/svelte-intlayer/tsconfig.types.json
  packages/vite-intlayer/tsconfig.types.json
  packages/vue-intlayer/tsconfig.types.json
Due: prettier --write

fix(website): adjust priority for Admin page in sitemap and clean up robots configuration
  apps/website/src/app/robots.ts
  apps/website/src/app/sitemap.ts
Due: prettier --write, eslint --fix --cache

chore: update README files across all packages to include rel attributes for links
  README.md
  apps/backend/README.md
  docs/README.md
  packages/@intlayer/api/README.md
  packages/@intlayer/babel/README.md
  packages/@intlayer/chokidar/README.md
  packages/@intlayer/cli/README.md
  packages/@intlayer/config/README.md
  packages/@intlayer/core/README.md
  packages/@intlayer/design-system/README.md
  packages/@intlayer/dictionaries-entry/README.md
  packages/@intlayer/dynamic-dictionaries-entry/README.md
  packages/@intlayer/editor-react/README.md
  packages/@intlayer/editor/README.md
  packages/@intlayer/fetch-dictionaries-entry/README.md
  packages/@intlayer/mcp/README.md
  packages/@intlayer/remote-dictionaries-entry/README.md
  packages/@intlayer/unmerged-dictionaries-entry/README.md
  packages/@intlayer/webpack/README.md
  packages/angular-intlayer/README.md
  packages/express-intlayer/README.md
  packages/intlayer-cli/README.md
  packages/intlayer/README.md
  packages/lynx-intlayer/README.md
  packages/next-intlayer/README.md
  packages/nuxt-intlayer/README.md
  packages/preact-intlayer/README.md
  packages/react-intlayer/README.md
  packages/react-native-intlayer/README.md
  packages/react-scripts-intlayer/README.md
  packages/solid-intlayer/README.md
  packages/svelte-intlayer/README.md
  packages/vite-intlayer/README.md
  packages/vue-intlayer/README.md
Due: prettier --write

chore: remove dependency on build step in prepublish configuration
  turbo.json
Due: prettier --write

chore: update README to include link explaining the importance of GitHub Stars
  README.md
  apps/backend/README.md
  docs/README.md
  packages/@intlayer/api/README.md
  packages/@intlayer/babel/README.md
  packages/@intlayer/chokidar/README.md
  packages/@intlayer/cli/README.md
  packages/@intlayer/config/README.md
  packages/@intlayer/core/README.md
  packages/@intlayer/design-system/README.md
  packages/@intlayer/dictionaries-entry/README.md
  packages/@intlayer/dynamic-dictionaries-entry/README.md
  packages/@intlayer/editor-react/README.md
  packages/@intlayer/editor/README.md
  packages/@intlayer/fetch-dictionaries-entry/README.md
  packages/@intlayer/mcp/README.md
  packages/@intlayer/remote-dictionaries-entry/README.md
  packages/@intlayer/unmerged-dictionaries-entry/README.md
  packages/@intlayer/webpack/README.md
  packages/angular-intlayer/README.md
  packages/express-intlayer/README.md
  packages/intlayer-cli/README.md
  packages/intlayer/README.md
  packages/lynx-intlayer/README.md
  packages/next-intlayer/README.md
  packages/nuxt-intlayer/README.md
  packages/preact-intlayer/README.md
  packages/react-intlayer/README.md
  packages/react-native-intlayer/README.md
  packages/react-scripts-intlayer/README.md
  packages/solid-intlayer/README.md
  packages/svelte-intlayer/README.md
  packages/vite-intlayer/README.md
  packages/vue-intlayer/README.md
Due: prettier --write

chore: set CI environment variable and update Dockerfile commands to prune dev dependencies
  apps/backend/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

chore: comment out dev dependency pruning in Dockerfiles for backend, website, and mcp
  apps/backend/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

fix: updated svelte docs
  docs/docs/en/intlayer_with_vite+svelte.md
  examples/vite-svelte-app/src/App.svelte
Due: prettier --write

fix(website): fix path handling in Navbar component
  apps/website/src/components/Navbar/index.tsx
  packages/@intlayer/design-system/src/components/Navbar/DesktopNavbar.tsx
Due: prettier --write, eslint --fix --cache

fix(intlayer-editor): fix type import in mjs scrip
  packages/intlayer-editor/bin/intlayer-editor.mjs
Due: none

refactor(chokidar): replace Babel by ts-morph
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/test.content.test.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/transformJSFile.test.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/transformJSFile.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeJSFile.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

fix(intlayer-editor): fix DictionaryListDrawer
  apps/website/src/components/Dashboard/Editor/DictionaryListDrawer/DictionaryListDrawer.tsx
  packages/intlayer-editor/client/src/components/Editor/DictionaryListDrawer/DictionaryListDrawer.tsx
Due: prettier --write, eslint --fix --cache

fix(website): restore Turkish locale to intlayer configuration
  apps/website/intlayer.config.ts
Due: prettier --write, eslint --fix --cache

doc(next-intlayer): restore deleted documentation in Korean and Portuguese
  docs/docs/ko/packages/next-intlayer/t.md
  docs/docs/ko/packages/next-intlayer/useDictionary.md
  docs/docs/ko/packages/next-intlayer/useIntlayer.md
  docs/docs/ko/packages/next-intlayer/useLocale.md
  docs/docs/pt/packages/next-intlayer/t.md
  docs/docs/pt/packages/next-intlayer/useDictionary.md
  docs/docs/pt/packages/next-intlayer/useIntlayer.md
  docs/docs/pt/packages/next-intlayer/useLocale.md
Due: prettier --write

fix(website): restore Polish locale to intlayer configuration
  apps/website/intlayer.config.ts
Due: prettier --write, eslint --fix --cache

doc: update configuration documentation to reflect default verbose logging behavior in CLI
  docs/docs/en/configuration.md
  docs/docs/en/intlayer_cli.md
  packages/@intlayer/cli/src/cli.ts
Due: prettier --write, eslint --fix --cache

feat(website): add Turkish translations for various components and update locale configurations
  apps/website/intlayer.config.ts
  apps/website/src/components/Dashboard/OrganizationForm/Members/removeMemberModal.content.tsx
  apps/website/src/components/Dashboard/OrganizationForm/deleteOrganizationModal.content.tsx
  apps/website/src/components/Dashboard/ProjectForm/deleteProjectModal.content.tsx
  apps/website/src/components/Dashboard/TagForm/deleteTagModal.content.tsx
  apps/website/src/components/OnboardPage/DefinePasswordStep/useDefinePasswordSchema.content.ts
  apps/website/src/components/ProductHunt/index.content.tsx
  apps/website/src/components/Test/test.content.ts
  packages/@intlayer/cli/src/fill/index.ts
  packages/@intlayer/cli/src/test/index.ts
Due: prettier --write, eslint --fix --cache

chore(vite-intlayer): add fast-glob dependency to package.json
  packages/vite-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bump version to 6.1.1 across all packages
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

fix(vite-intlayer): add @babel/core dependency to package.json
  packages/vite-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bump version to 6.1.2 across all packages
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

doc(intlayer_cli): add CLI version check commands and update documentation
  docs/docs/en/intlayer_cli.md
  packages/@intlayer/cli/src/cli.ts
Due: prettier --write, eslint --fix --cache

chore: update pnpm-lock.yaml with dependency version bumps and remove CLI bin entry from express-intlayer package.json
  packages/express-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bump version to 6.1.3 across all packages
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

refactor(design-system): enhance EditableFieldTextArea and EditableFieldInput component with detailed props documentation, accessibility features, and interactive stories
  packages/@intlayer/design-system/src/components/EditableField/EditableFieldInput.tsx
  packages/@intlayer/design-system/src/components/EditableField/EditableFieldLayout.tsx
  packages/@intlayer/design-system/src/components/EditableField/EditableFieldTextArea.tsx
  packages/@intlayer/design-system/src/components/EditableField/editableFieldInput.stories.tsx
  packages/@intlayer/design-system/src/components/EditableField/editableFieldTextArea.stories.tsx
Due: prettier --write, eslint --fix --cache

refactor(design-system): enhance ExpandCollapse component with detailed documentation, accessibility features, and improved props descriptions
  packages/@intlayer/design-system/src/components/ExpandCollapse/ExpandCollapse.stories.tsx
  packages/@intlayer/design-system/src/components/ExpandCollapse/ExpandCollapse.tsx
Due: prettier --write, eslint --fix --cache

refactor(design-system): enhance HeightResizer component with detailed documentation, accessibility improvements, and height constraints
  packages/@intlayer/design-system/src/components/HeightResizer/heightresizer.stories.tsx
  packages/@intlayer/design-system/src/components/HeightResizer/index.tsx
Due: prettier --write, eslint --fix --cache

refactor(design-system): enhance Link component with detailed documentation, accessibility features, and interactive stories
  packages/@intlayer/design-system/src/components/Link/Link.tsx
  packages/@intlayer/design-system/src/components/Link/link.stories.tsx
Due: prettier --write, eslint --fix --cache

feat(cli): restructure fill module and add new file templates for content declaration
  apps/website/src/components/Dashboard/ProjectForm/AccessKey/accessKeyForm.content.ts
  packages/@intlayer/chokidar/src/getContentDeclarationFileTemplate/cjsTemplate.txt
  packages/@intlayer/chokidar/src/getContentDeclarationFileTemplate/esmTemplate.txt
  packages/@intlayer/chokidar/src/getContentDeclarationFileTemplate/getContentDeclarationFileTemplate.ts
  packages/@intlayer/chokidar/src/getContentDeclarationFileTemplate/jsonTemplate.txt
  packages/@intlayer/chokidar/src/getContentDeclarationFileTemplate/tsTemplate.txt
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/utils/getFormatFromExtension.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/detectExportedComponentName.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/index.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeJSFile.ts
  packages/@intlayer/chokidar/tsup.config.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/fill/fill.ts
  packages/@intlayer/cli/src/fill/index.ts
  packages/@intlayer/cli/src/getTargetDictionary.ts
  packages/@intlayer/cli/src/index.ts
Due: prettier --write, eslint --fix --cache

refactor(website): remove suppressHydrationWarning prop
  apps/website/src/layouts/RootHTMLLayout.tsx
Due: prettier --write, eslint --fix --cache

Test rewriting doc comparison
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

Update next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

doc: add example of bundle size optimization in next-i18next vs next-intl vs intlayer documentation
  docs/assets/bundle_no_optimization.png
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
  packages/@intlayer/design-system/src/components/MarkDownRender/index.tsx
  packages/@intlayer/design-system/src/components/Tab/Tab.tsx
  packages/@intlayer/design-system/src/components/Tab/index.tsx
  packages/@intlayer/design-system/src/components/Tab/tab.stories.tsx
  packages/@intlayer/design-system/src/components/index.ts
Due: prettier --write, eslint --fix --cache

doc: update next-i18next vs next-intl vs Intlayer doc
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
  docs/docs/en/interest_of_intlayer.md
Due: prettier --write

feat(website): add German, Japanese, Korean, Chinese, and Italian translations to access key form
  apps/website/src/components/Dashboard/ProjectForm/AccessKey/accessKeyForm.content.ts
Due: prettier --write, eslint --fix --cache

refactor(chokidar): reorganize imports and remove redundant import of getContentDeclarationFileTemplate
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeJSFile.ts
Due: prettier --write, eslint --fix --cache

feat: strongify yaml parsing
  packages/@intlayer/core/src/index.ts
  packages/@intlayer/core/src/transpiler/markdown/getMarkdownMetadata.ts
  packages/@intlayer/core/src/utils/parseYaml.test.ts
  packages/@intlayer/core/src/utils/parseYaml.ts
Due: prettier --write, eslint --fix --cache

refactor(design-system): update InformationTag component with detailed documentation, accessibility features, and interactive stories
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/src/components/InformationTag/index.tsx
  packages/@intlayer/design-system/src/components/InformationTag/informationTag.stories.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix --cache: any of: *.{js,jsx,ts,tsx}
