Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

fix(compiler): fix errors
  packages/@intlayer/svelte-compiler/src/SvelteIntlayerCompiler.ts
  packages/@intlayer/svelte-compiler/src/index.ts
  packages/@intlayer/svelte-compiler/src/svelte-intlayer-extract.ts
  packages/@intlayer/vue-compiler/src/VueIntlayerCompiler.ts
  packages/@intlayer/vue-compiler/src/index.ts
  packages/@intlayer/vue-compiler/src/vue-intlayer-extract.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(core): add fallback in getDictionary
  packages/@intlayer/core/src/interpreter/getDictionary.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): remove babel package exclusion from Dockerfile
  apps/backend/Dockerfile
Due: none

fix(chokidar): fix eslint formating error
  bun.lock
  packages/@intlayer/chokidar/src/detectFormatCommand.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(config): fix formatPath
  packages/@intlayer/config/src/configFile/getConfiguration.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: extract and separate logger from config/client
  packages/@intlayer/babel/src/babel-plugin-intlayer-extract.ts
  packages/@intlayer/babel/src/extractContent/extractContent.ts
  packages/@intlayer/babel/src/getExtractPluginOptions.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/processContentDeclaration.ts
  packages/@intlayer/chokidar/src/cleanOutputDir.ts
  packages/@intlayer/chokidar/src/cleanRemovedContentDeclaration.ts
  packages/@intlayer/chokidar/src/filterInvalidDictionaries.ts
  packages/@intlayer/chokidar/src/loadDictionaries/getIntlayerBundle.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadDictionaries.ts
  packages/@intlayer/chokidar/src/loadDictionaries/log.ts
  packages/@intlayer/chokidar/src/loadDictionaries/logTypeScriptErrors.ts
  packages/@intlayer/cli/src/IntlayerEventListener.ts
  packages/@intlayer/config/src/client.ts
  packages/@intlayer/core/src/dictionaryManipulator/mergeDictionaries.ts
  packages/@intlayer/core/src/interpreter/getIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add json5 support syncJSON and check null types
  packages/@intlayer/cli/src/fill/getFilterMissingContentPerLocale.test.ts
  packages/@intlayer/cli/src/fill/getFilterMissingContentPerLocale.ts
  packages/@intlayer/core/src/deepTransformPlugins/getMissingLocalesContent.ts
  plugins/sync-json-plugin/src/loadJSON.ts
  plugins/sync-json-plugin/src/syncJSON.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(config): remove main export config package
  packages/@intlayer/chokidar/src/loadDictionaries/log.ts
  packages/@intlayer/config/package.json
  packages/@intlayer/config/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: remove console log
  plugins/sync-json-plugin/src/syncJSON.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: add null management in fill command
  examples/json-sync/intlayer.config.ts
  examples/json-sync/locales/en/common.json
  examples/json-sync/locales/es/common.json
  examples/json-sync/locales/fr/common.json
  packages/@intlayer/cli/src/fill/deepMergeContent.ts
  packages/@intlayer/cli/src/fill/getFilterMissingContentPerLocale.ts
  packages/@intlayer/cli/src/fill/translateDictionary.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(babel): update log compiler
  packages/@intlayer/babel/src/extractContent/extractContent.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(config): refactor log config details
  packages/@intlayer/chokidar/src/cli.ts
  packages/@intlayer/chokidar/src/logConfigDetails.ts
  packages/@intlayer/cli/src/auth/login.ts
  packages/@intlayer/cli/src/build.ts
  packages/@intlayer/cli/src/ci.ts
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/config.ts
  packages/@intlayer/cli/src/extract.ts
  packages/@intlayer/cli/src/fill/fill.ts
  packages/@intlayer/cli/src/pull.ts
  packages/@intlayer/cli/src/push/push.ts
  packages/@intlayer/cli/src/pushConfig.ts
  packages/@intlayer/cli/src/reviewDoc/reviewDoc.ts
  packages/@intlayer/cli/src/searchDoc.ts
  packages/@intlayer/cli/src/test/listMissingTranslations.ts
  packages/@intlayer/cli/src/translateDoc/translateDoc.ts
  packages/@intlayer/cli/src/watch.ts
  packages/@intlayer/config/src/configFile/getConfiguration.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(design-system): restore popover
  packages/@intlayer/design-system/src/components/Popover/static.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(api): update api sdk
  apps/backend/src/controllers/recursiveAudit.controller.ts
  apps/backend/src/export.ts
  packages/@intlayer/api/src/getIntlayerAPI/audit.ts
  packages/@intlayer/api/src/getIntlayerAPI/index.ts
  packages/@intlayer/api/src/index.ts
  packages/@intlayer/design-system/src/hooks/reactQuery.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): adapt website to resuse backend for scan
  apps/website/.env.template
  apps/website/src/components/ScannerPage/useLocalizationScan.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): fix backend heathcheck
  apps/backend/Dockerfile
Due: none

fix(next-intlayer): restore next-intlayer server function
  packages/next-intlayer/src/server/useDictionary.ts
  packages/next-intlayer/src/server/useDictionaryAsync.ts
  packages/next-intlayer/src/server/useDictionaryDynamic.ts
  packages/next-intlayer/src/server/useIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): fix build
  apps/showcase/package.json
  apps/website/src/components/ScannerPage/useLocalizationScan.ts
  apps/website/src/components/ScannerPage/useRecursiveScan.ts
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update tsdown config to change deprecated option
  packages/nuxt-intlayer/tsdown.config.ts
  utils/tsdown-config/tsdown-config.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): fix build
  apps/backend/Dockerfile
Due: none

chore: update dockerfile version
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/showcase/Dockerfile
  apps/website/Dockerfile
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

chore: update packages
  apps/app/package.json
  apps/backend/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  packages/@intlayer/design-system/package.json
  packages/fastify-intlayer/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(showcase): fix build app
  .dockerignore
  apps/showcase/Dockerfile
  apps/showcase/package.json
  apps/showcase/vite.config.ts
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(react-intlayer): restore react types
  packages/next-intlayer/src/server/index.ts
  packages/next-intlayer/src/server/useDictionary.ts
  packages/next-intlayer/src/server/useDictionaryAsync.ts
  packages/next-intlayer/src/server/useDictionaryDynamic.ts
  packages/next-intlayer/src/server/useIntlayer.ts
  packages/react-intlayer/src/server/t.ts
  packages/react-intlayer/src/server/useDictionary.ts
  packages/react-intlayer/src/server/useDictionaryAsync.ts
  packages/react-intlayer/src/server/useDictionaryDynamic.ts
  packages/react-intlayer/src/server/useIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: change git ignored files
  .dockerignore
  .gitignore
  apps/showcase/src/routeTree.gen.ts
  apps/showcase/src/routes/__root.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(showcase): update app
  apps/backend/.env.template
  apps/backend/src/controllers/showcaseProject.controller.ts
  apps/backend/src/services/showcase/showcaseProject.service.ts
  apps/backend/src/utils/auth/getAuth.ts
  apps/showcase/public/robots.txt
  apps/showcase/src/Routes.ts
  apps/showcase/src/components/Link.tsx
  apps/showcase/src/components/ProjectCard.tsx
  apps/showcase/src/components/SubmitProjectForm/useProjectSubmit.ts
  apps/showcase/src/routes/{-$locale}/404.tsx
  apps/showcase/src/routes/{-$locale}/index.tsx
  apps/showcase/src/routes/{-$locale}/project.$projectId.tsx
  apps/showcase/src/server/projectActions/projectActions.ts
  apps/showcase/src/server/projectActions/types.ts
  apps/showcase/vite.config.ts
  apps/website/next.config.ts
  bun.lock
  package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(design-system): improve ExpandCollapse transition and button layout
  packages/@intlayer/design-system/src/components/ExpandCollapse/ExpandCollapse.tsx
  packages/@intlayer/design-system/src/components/MaxHeightSmoother/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(shwocase): make 404 i18n
  apps/showcase/src/routes/{-$locale}/404.content.ts
  apps/showcase/src/routes/{-$locale}/404.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(showcase): fix host sitemap
  apps/showcase/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(cli): update extract command
  packages/@intlayer/cli/src/extract.ts
  packages/@intlayer/cli/src/fill/writeFill.ts
  packages/@intlayer/config/src/defaultValues/content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
