Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

fix: fix tests
  package.json
  packages/@intlayer/chokidar/src/transformFiles/extractIntlayer.test.ts
  packages/@intlayer/config/src/retryManager.test.ts
  packages/@intlayer/design-system/src/components/MarkDownRender/processor.test.tsx
  packages/vue-intlayer/src/client/useIntlayer.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(design-system): add global error messages in multiple languages for site analysis and improve layout responsiveness
  apps/website/src/app/[locale]/(audit)/i18n-seo-scanner/page.tsx
  apps/website/src/components/ScannerPage/Analyzer/Form/AnalyzerForm.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerPageResults.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerSiteResults.tsx
  apps/website/src/components/ScannerPage/LocalizationAnalyzer.tsx
  apps/website/src/components/ScannerPage/localizationAnalyzer.content.ts
  packages/@intlayer/design-system/src/components/Form/layout/FormItemLayout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): remove PWA integration and add custom headers for service worker script
  apps/website/next.config.ts
  apps/website/package.json
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(website): enhance service worker registration checks, and modify security headers in Next.js config
  apps/website/next.config.ts
  apps/website/src/components/ServiceWorker/useServiceWorker.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(markdown): extract framework-agnostic core + add React/Vue adapters; wire design-system to adapter
  bun.lock
  package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/core/src/markdown/processor.ts
  packages/@intlayer/core/tsconfig.json
  packages/@intlayer/design-system/src/components/IDE/MarkDownRender.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
  packages/@intlayer/design-system/tsconfig.json
  packages/@intlayer/design-system/types/ambient.d.ts
  packages/react-intlayer/package.json
  packages/react-intlayer/src/markdown/index.ts
  packages/react-intlayer/src/markdown/processor.ts
  packages/react-intlayer/tsconfig.json
  packages/vue-intlayer/src/markdown/index.ts
  packages/vue-intlayer/src/markdown/processor.ts
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: SSR-safe markdown adapter, remove ambient types, restore workspace tsconfig paths, clean deps and exports
  packages/@intlayer/core/tsconfig.json
  packages/@intlayer/design-system/tsconfig.json
  packages/@intlayer/design-system/types/ambient.d.ts
  packages/react-intlayer/package.json
  packages/react-intlayer/src/markdown/processor.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(docs): remove Intlayer section from Flutter i18n documentation across multiple languages
  docs/blog/ar/list_i18n_technologies/frameworks/flutter.md
  docs/blog/de/list_i18n_technologies/frameworks/flutter.md
  docs/blog/en-GB/list_i18n_technologies/frameworks/flutter.md
  docs/blog/en/list_i18n_technologies/frameworks/flutter.md
  docs/blog/es/list_i18n_technologies/frameworks/flutter.md
  docs/blog/fr/list_i18n_technologies/frameworks/flutter.md
  docs/blog/hi/list_i18n_technologies/frameworks/flutter.md
  docs/blog/id/list_i18n_technologies/frameworks/flutter.md
  docs/blog/it/list_i18n_technologies/frameworks/flutter.md
  docs/blog/ja/list_i18n_technologies/frameworks/flutter.md
  docs/blog/ko/list_i18n_technologies/frameworks/flutter.md
  docs/blog/pl/list_i18n_technologies/frameworks/flutter.md
  docs/blog/pt/list_i18n_technologies/frameworks/flutter.md
  docs/blog/ru/list_i18n_technologies/frameworks/flutter.md
  docs/blog/tr/list_i18n_technologies/frameworks/flutter.md
  docs/blog/vi/list_i18n_technologies/frameworks/flutter.md
  docs/blog/zh/list_i18n_technologies/frameworks/flutter.md
Due: prettier --write

feat(docs): add Intlayer i18n solution to Svelte and Vue documentation with key features
  docs/blog/en/list_i18n_technologies/frameworks/svelte.md
  docs/blog/en/list_i18n_technologies/frameworks/vue.md
Due: prettier --write

test: add unit tests for getMissingLocalesContent to handle various locale scenarios
  packages/@intlayer/core/src/deepTransformPlugins/getMissingLocalesContent.test.ts
  packages/@intlayer/core/src/deepTransformPlugins/getMissingLocalesContent.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add 'en-GB' locale support for various labels and messages in analyzer results content
  apps/website/src/components/ScannerPage/Analyzer/Results/analyzerResults.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

test: add unit test for fallback to English when locale value is undefined in getPerLocaleDictionary
  packages/@intlayer/core/src/deepTransformPlugins/getLocalizedContent.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

test: enhance unit tests for getPerLocaleDictionary to cover fallback scenarios and deep merging of undefined values
  packages/@intlayer/core/src/deepTransformPlugins/getLocalizedContent.test.ts
  packages/@intlayer/core/src/interpreter/getContent/getContent.ts
  packages/@intlayer/core/src/interpreter/getContent/plugins.ts
  packages/@intlayer/core/src/interpreter/getTranslation.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(core): simplify getTranslation retrieval logic and integrate deepmerge for fallback handling
  packages/@intlayer/core/src/interpreter/getTranslation.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update package versions to 7.3.2-canary.0 and adjust dependencies for workspace resolution
  apps/website/package.json
  bun.lock
  packages/@intlayer/cli/package.json
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website): add localized support for 'Compiler' section in documentation
  apps/website/src/components/DocPage/docData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): enhance layout structure in SearchView and optimize Modal component variants
  apps/website/src/components/DocPage/Search/SearchView.tsx
  packages/@intlayer/design-system/src/components/Modal/Modal.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update package versions to 7.3.2 and bump Next.js and related dependencies to 16.0.5
  apps/website/package.json
  bun.lock
  package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): handle potential undefined value in link href for locale links in Footer component
  apps/website/src/components/Footer/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update next-rspack version to 16.0.5 and refine Tailwind CSS source paths for better organization
  bun.lock
  packages/@intlayer/core/src/interpreter/getTranslation.ts
  packages/@intlayer/design-system/tailwind.css
  packages/@intlayer/design-system/tw-source.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: remove AI SDK export from backend export module
  apps/backend/src/export.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: enhance package.json exports and update intlayer.config.ts for build optimization
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/intlayer.config.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(core): add logging for dictionary purging during build optimization
  packages/@intlayer/core/src/interpreter/getIntlayer.ts
  packages/intlayer-editor/intlayer.config.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add Compiler feature to FeaturesSection with multilingual support
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/Visual.tsx
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/content/component-content.md
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/content/config-file.md
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/content/vite-config.md
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/demo.content.ts
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/index.tsx
  apps/website/src/components/LandingPage/FeaturesSection/index.content.ts
  apps/website/src/components/LandingPage/FeaturesSection/index.tsx
  packages/@intlayer/design-system/src/components/IDE/IDE.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(website): reorganize logo items into separate rows for better layout in AvailableTechnoSection
  apps/website/src/components/LandingPage/AvailableTechnoSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(design-system): implement enhanced resizing functionality in WithResizer component
  packages/@intlayer/design-system/src/components/WithResizer/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): adjust initial width of WithResizer in CompilerSection for improved layout
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: update gradient classes to use bg-linear-to- for consistency across components
  apps/website/src/components/BlogPage/BlogNavList.tsx
  apps/website/src/components/DocPage/AsideNavigation/AsideNavigation.tsx
  apps/website/src/components/DocPage/DocNavList.tsx
  apps/website/src/components/DocPage/Search/SearchView.tsx
  examples/nextjs-14-app/src/app/[locale]/page.tsx
  examples/tanstack-start-app/src/demo/start.server-funcs.tsx
  examples/tanstack-start-app/src/demo/start.ssr.data-only.tsx
  examples/tanstack-start-app/src/demo/start.ssr.full-ssr.tsx
  examples/tanstack-start-app/src/demo/start.ssr.index.tsx
  examples/tanstack-start-app/src/demo/start.ssr.spa-mode.tsx
  packages/@intlayer/design-system/src/components/Container/container.stories.tsx
  packages/@intlayer/design-system/src/components/KeyboardScreenAdapter/keyboardScreenAdapter.stories.tsx
  packages/@intlayer/design-system/src/components/Loader/loader.stories.tsx
  packages/@intlayer/design-system/src/components/MaxHeightSmoother/maxheightsmoother.stories.tsx
  packages/@intlayer/design-system/src/components/Modal/Modal.tsx
  packages/@intlayer/design-system/src/components/Pattern/pattern.stories.tsx
  packages/@intlayer/design-system/src/components/Tag/tag.stories.tsx
  packages/@intlayer/design-system/src/components/WithResizer/withresizer.stories.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: simplify Form component usage in OrganizationCreationForm and ProjectCreationForm by removing redundant className prop
  apps/website/src/components/Dashboard/OrganizationForm/OrganizationCreationForm.tsx
  apps/website/src/components/Dashboard/ProjectForm/ProjectCreationForm.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): adjust max height of CompilerSection for improved responsiveness
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): correct spelling of "Intlayer" in WhyToChoseIntlayerSection content
  apps/website/src/components/LandingPage/WhyToChoseIntlayerSection/why-to-chose-intlayer.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): remove unused import of useIntlayer in CompilerSection content
  apps/website/src/components/LandingPage/FeaturesSection/CompilerSection/content/component-content.md
Due: prettier --write

feat(doc): add Compiler feature image and update README with Compiler section
  README.md
  docs/assets/compiler.jpg
Due: prettier --write

docs: update interest_of_intlayer.md with Compiler release history and feature image
  docs/docs/en/interest_of_intlayer.md
Due: prettier --write

fix(website): update href in SearchResultItem to remove base URL for cleaner links
  apps/website/src/components/DocPage/Search/SearchView.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add global configuration section for per-locale files and update history
  docs/docs/en/per_locale_file.md
Due: prettier --write
