Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --cache"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(design-system): update class name in MarkdownRenderer for responsive layout adjustment
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
Due: prettier --write, eslint --fix --cache

fix(website): enhance pricing data fetching with error handling and notFound response
  apps/website/src/app/[locale]/(landing)/pricing/page.tsx
Due: prettier --write, eslint --fix --cache

fix(website): improve error handling for pricing data fetching in production environment
  apps/website/src/app/[locale]/(landing)/pricing/page.tsx
Due: prettier --write, eslint --fix --cache

refactor(website): remove unused .env.template file and update pricing page error handling logic
  apps/website/.env.template
  apps/website/src/app/[locale]/(landing)/pricing/page.tsx
Due: prettier --write, eslint --fix --cache

fix(website): add 'raw.githubusercontent.com' to imgSrc in secureHeaders for enhanced security policy
  apps/website/next.config.mjs
Due: none

fix(blog): correct indentation for 'next-intl' TabItem in i18next vs intl vs intlayer documentation
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

fix(blog): update updatedAt date in next-i18next vs next-intl vs Intlayer documentation
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

fix(blog): add clarification on content loading behavior for locale-specific pages in next-i18next vs next-intl vs intlayer documentation
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

refactor(blog): updatte doc next-i18next, next-intl, and intlayer
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

refactor(blog): reorganize and enhance comparison section for next-i18next, next-intl, and Intlayer
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

feat(user): add role field to user schema with default value and enum validation
  apps/backend/src/schemas/user.schema.ts
Due: prettier --write, eslint --fix --cache

refactor(design-system): defer pointer capture in useHorizontalSwipe until horizontal gesture is confirmed
  packages/@intlayer/design-system/src/hooks/useHorizontalSwipe.ts
Due: prettier --write, eslint --fix --cache

test(design-system): enhance Markdown processor tests for code block rendering and newline preservation
  packages/@intlayer/design-system/src/components/MarkDownRender/processer.test.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/processer.tsx
Due: prettier --write, eslint --fix --cache

refactor(design-system): remove markdown-to-jsx dependency and optimize Markdown processor with performance logging
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/processer.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

fix(design-system): correct import path for Markdown processor and update related test files
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/processor.test.tsx
  packages/@intlayer/design-system/src/components/MarkDownRender/processor.tsx
Due: prettier --write, eslint --fix --cache

refactor(design-system): replace markdown-to-jsx with MarkdownProcessor and enhance code block handling
  packages/@intlayer/design-system/src/components/IDE/MarkDownRender.tsx
Due: prettier --write, eslint --fix --cache

refactor(blog): gen trad documentation for next-i18next, next-intl, and Intlayer with improved comparisons and updated metadata
  docs/blog/ar/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/de/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en-GB/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/es/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/fr/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/it/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ja/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ko/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/pt/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ru/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/zh/next-i18next_vs_next-intl_vs_intlayer.md
  docs/docs/en/interest_of_intlayer.md
Due: prettier --write

doc(blog): introduce new article on SEO and internationalization in Next.js, covering best practices and implementation examples
  docs/blog/ar/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ar/nextjs-multilingual-seo-comparison.md
  docs/blog/de/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/de/nextjs-multilingual-seo-comparison.md
  docs/blog/en-GB/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en-GB/nextjs-multilingual-seo-comparison.md
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en/nextjs-multilingual-seo-comparison.md
  docs/blog/es/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/es/nextjs-multilingual-seo-comparison.md
  docs/blog/fr/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/fr/nextjs-multilingual-seo-comparison.md
  docs/blog/hi/nextjs-multilingual-seo-comparison.md
  docs/blog/it/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/it/nextjs-multilingual-seo-comparison.md
  docs/blog/ja/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ja/nextjs-multilingual-seo-comparison.md
  docs/blog/ko/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ko/nextjs-multilingual-seo-comparison.md
  docs/blog/pt/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/pt/nextjs-multilingual-seo-comparison.md
  docs/blog/ru/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ru/nextjs-multilingual-seo-comparison.md
  docs/blog/tr/nextjs-multilingual-seo-comparison.md
  docs/blog/zh/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/zh/nextjs-multilingual-seo-comparison.md
Due: prettier --write

refactor(blog): update server component examples in internationalization documentation to use formatted output and remove unnecessary props
  docs/blog/ar/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/de/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en-GB/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/es/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/fr/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/it/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ja/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ko/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/pt/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ru/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/zh/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

chore(blog): add 'blog' slug to multilingual SEO comparison articles for improved categorization
  docs/blog/ar/nextjs-multilingual-seo-comparison.md
  docs/blog/de/nextjs-multilingual-seo-comparison.md
  docs/blog/en-GB/nextjs-multilingual-seo-comparison.md
  docs/blog/en/nextjs-multilingual-seo-comparison.md
  docs/blog/es/nextjs-multilingual-seo-comparison.md
  docs/blog/fr/nextjs-multilingual-seo-comparison.md
  docs/blog/hi/nextjs-multilingual-seo-comparison.md
  docs/blog/it/nextjs-multilingual-seo-comparison.md
  docs/blog/ja/nextjs-multilingual-seo-comparison.md
  docs/blog/ko/nextjs-multilingual-seo-comparison.md
  docs/blog/pt/nextjs-multilingual-seo-comparison.md
  docs/blog/ru/nextjs-multilingual-seo-comparison.md
  docs/blog/tr/nextjs-multilingual-seo-comparison.md
  docs/blog/zh/nextjs-multilingual-seo-comparison.md
Due: prettier --write

refactor(blog): consolidate slugs in multilingual SEO comparison articles for better SEO optimization
  docs/blog/ar/nextjs-multilingual-seo-comparison.md
  docs/blog/de/nextjs-multilingual-seo-comparison.md
  docs/blog/en-GB/nextjs-multilingual-seo-comparison.md
  docs/blog/en/nextjs-multilingual-seo-comparison.md
  docs/blog/es/nextjs-multilingual-seo-comparison.md
  docs/blog/fr/nextjs-multilingual-seo-comparison.md
  docs/blog/hi/nextjs-multilingual-seo-comparison.md
  docs/blog/it/nextjs-multilingual-seo-comparison.md
  docs/blog/ja/nextjs-multilingual-seo-comparison.md
  docs/blog/ko/nextjs-multilingual-seo-comparison.md
  docs/blog/pt/nextjs-multilingual-seo-comparison.md
  docs/blog/ru/nextjs-multilingual-seo-comparison.md
  docs/blog/tr/nextjs-multilingual-seo-comparison.md
  docs/blog/zh/nextjs-multilingual-seo-comparison.md
Due: prettier --write

feat(chokidar): add type exports for Extension and Format from getFormatFromExtension utility
  packages/@intlayer/chokidar/src/index.ts
Due: prettier --write, eslint --fix --cache

doc(blog): enhance missing translation handling section with build-time detection details for intlayer
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

refactor(blog): update ClientComponentExample function syntax to arrow function across multiple language documentation files
  docs/blog/ar/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/de/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en-GB/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/es/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/fr/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/it/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ja/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ko/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/pt/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ru/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/zh/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

chore(package): add optional peerDependenciesMeta for 'intlayer' and update package.json files across multiple packages
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/express-intlayer/package.json
  packages/intlayer-editor/package.json
  packages/react-intlayer/package.json
  packages/vue-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(package): update version to 6.1.5 across all packages in the Intlayer monorepo
  apps/backend/package.json
  apps/website/package.json
  docs/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

doc: translate vs_code_extension documentation with new features and environment selection details
  docs/docs/ar/vs_code_extension.md
  docs/docs/de/vs_code_extension.md
  docs/docs/en-GB/vs_code_extension.md
  docs/docs/en/vs_code_extension.md
  docs/docs/es/vs_code_extension.md
  docs/docs/fr/vs_code_extension.md
  docs/docs/hi/vs_code_extension.md
  docs/docs/it/vs_code_extension.md
  docs/docs/ja/vs_code_extension.md
  docs/docs/ko/vs_code_extension.md
  docs/docs/pt/vs_code_extension.md
  docs/docs/ru/vs_code_extension.md
  docs/docs/tr/vs_code_extension.md
  docs/docs/zh/vs_code_extension.md
Due: prettier --write

fix(doc): change H1 heading error to warning in markdown formatting validation
  docs/tools/markdownFormatting.ts
  docs/tools/outdatedDocs.test.ts
Due: prettier --write, eslint --fix --cache

doc: update README files across multiple packages to enhance AI-powered translation and MCP server integration features
  docs/blog/ar/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/de/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en-GB/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/en/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/es/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/fr/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/it/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ja/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ko/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/pt/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/ru/next-i18next_vs_next-intl_vs_intlayer.md
  docs/blog/zh/next-i18next_vs_next-intl_vs_intlayer.md
Due: prettier --write

doc: add multilingual component guide for React and Next.js in various languages
  docs/docs/ar/component_i18n.md
  docs/docs/de/component_i18n.md
  docs/docs/en-GB/component_i18n.md
  docs/docs/en/component_i18n.md
  docs/docs/es/component_i18n.md
  docs/docs/fr/component_i18n.md
  docs/docs/hi/component_i18n.md
  docs/docs/it/component_i18n.md
  docs/docs/ja/component_i18n.md
  docs/docs/ko/component_i18n.md
  docs/docs/pt/component_i18n.md
  docs/docs/ru/component_i18n.md
  docs/docs/tr/component_i18n.md
  docs/docs/zh/component_i18n.md
  docs/src/generated/docs.entry.ts
Due: prettier --write, eslint --fix --cache

refactor(design-system): enhance Accordion component with controlled/uncontrolled modes, keyboard navigation, and improved accessibility
  packages/@intlayer/design-system/src/components/Accordion/Accordion.tsx
  packages/@intlayer/design-system/src/components/Accordion/accordion.stories.tsx
Due: prettier --write, eslint --fix --cache

refactor(design-system): enhance Badge component with size variants, accessibility features, and interactive props
  packages/@intlayer/design-system/src/components/Badge/badge.stories.tsx
  packages/@intlayer/design-system/src/components/Badge/index.tsx
Due: prettier --write, eslint --fix --cache

refactor(design-system): enhance Avatar component with improved accessibility, loading states, and customizable size variants
  packages/@intlayer/design-system/src/components/Accordion/accordion.stories.tsx
  packages/@intlayer/design-system/src/components/Avatar/avatar.stories.tsx
  packages/@intlayer/design-system/src/components/Avatar/index.tsx
  packages/@intlayer/design-system/src/utils/capitalize.ts
  packages/@intlayer/design-system/src/utils/image.ts
  packages/@intlayer/design-system/src/utils/isEmpty.ts
Due: prettier --write, eslint --fix --cache

refactor(design-system): enhance Breadcrumb component with improved accessibility, customizable size and spacing variants, and support for truncation
  packages/@intlayer/design-system/src/components/Breadcrumb/breadcrumb.stories.tsx
  packages/@intlayer/design-system/src/components/Breadcrumb/index.tsx
Due: prettier --write, eslint --fix --cache

refactor(design-system): implement ClickOutsideDiv component with event handling for clicks and Escape key, enhancing accessibility
  packages/@intlayer/design-system/src/components/ClickOutsideDiv/ClickOutsideDiv.stories.tsx
  packages/@intlayer/design-system/src/components/ClickOutsideDiv/index.tsx
Due: prettier --write, eslint --fix --cache

feat(design-system): add Command component stories showcasing functionality, accessibility, and usage examples
  packages/@intlayer/design-system/src/components/Command/command.stories.tsx
Due: prettier --write, eslint --fix --cache

refactor(design-system): enhance Button component with controlled/uncontrolled modes, keyboard navigation, and improved accessibility
  packages/@intlayer/design-system/src/components/Button/Button.tsx
  packages/@intlayer/design-system/src/components/Button/button.stories.tsx
Due: prettier --write, eslint --fix --cache

feat(design-system): add ContentEditor stories with comprehensive examples and accessibility features
  packages/@intlayer/design-system/src/components/ContentEditor/ContentEditor.tsx
  packages/@intlayer/design-system/src/components/ContentEditor/ContentEditorInput.tsx
  packages/@intlayer/design-system/src/components/ContentEditor/ContentEditorTextArea.tsx
  packages/@intlayer/design-system/src/components/ContentEditor/contentEditor.stories.tsx
  packages/@intlayer/design-system/src/components/ContentEditor/index.ts
Due: prettier --write, eslint --fix --cache

refactor(design-system): enhance Container component with detailed documentation, accessibility features, and improved props structure
  packages/@intlayer/design-system/src/components/Container/container.stories.tsx
  packages/@intlayer/design-system/src/components/Container/index.tsx
Due: prettier --write, eslint --fix --cache
