Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --cache"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: update NEXT_PUBLIC_EDITOR_URL to use HTTP instead of HTTPS
  apps/website/.env.template
Due: none

fix(editor): fix writeContentDeclaration
  packages/@intlayer/core/src/types/declarationContent.ts
  packages/@intlayer/core/src/types/dictionary.ts
  packages/@intlayer/design-system/src/components/DictionaryEditor/ValidDictionaryChangeButtons.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/SaveForm/SaveForm.tsx
  packages/@intlayer/editor/src/server/writeContentDeclaration.ts
  packages/intlayer-editor/client/src/components/Editor/IframeController.tsx
  packages/intlayer-editor/server/src/controllers/dictionary.controller.ts
Due: prettier --write, eslint --fix --cache

refactor(website): remove useCrossURLPathState hook from IframeController
  apps/website/src/components/Dashboard/Editor/IframeController.tsx
Due: prettier --write, eslint --fix --cache

fix(config): remove process package to fix NextJS middleware error
  packages/@intlayer/config/src/defaultValues/content.ts
  packages/@intlayer/config/src/envVariables/detectPlatform.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/next.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/react_app.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/undefined_platform.ts
  packages/@intlayer/config/src/envVariables/loadEnvFile.ts
  packages/@intlayer/design-system/src/hooks/intlayerAPIHooks.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: prettier --write, eslint --fix --cache

chore: bump version to 4.1.7 across all packages
  .changeset/wicked-lemons-love.md
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/vite-intlayer/package.json
Due: prettier --write

fix(config): improve environment variable loading and platform detection
  packages/@intlayer/config/src/configFile/loadConfigurationFile.ts
  packages/@intlayer/config/src/envVariables/detectPlatform.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/index.ts
  packages/@intlayer/config/src/envVariables/loadEnvFile.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: prettier --write, eslint --fix --cache

fix(vite-intlayer): remove unused mode storage in vite intlayerPlugin configuration
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: prettier --write, eslint --fix --cache

fix(config): refactor environment variable loading to avoid environment pollution
  packages/@intlayer/config/src/configFile/loadConfigurationFile.ts
  packages/@intlayer/config/src/envVariables/loadEnvFile.ts
Due: prettier --write, eslint --fix --cache

docs: add cmsURL configuration option for Intlayer CMS
  docs/en/configuration.md
  docs/en/intlayer_CMS.md
Due: prettier --write

docs: format code blocks in Intlayer CMS documentation for better readability
  docs/en/intlayer_CMS.md
Due: prettier --write

docs: update Intlayer CMS and visual editor documentation with application, CMS, and backend URL configuration details
  docs/en/intlayer_CMS.md
  docs/en/intlayer_visual_editor.md
Due: prettier --write

docs(locale-switcher): simplify locale display by removing duplicate language entries
  blog/en-GB/internationalization_and_SEO.md
  blog/en/internationalization_and_SEO.md
  docs/en/intlayer_with_create_react_app.md
  docs/en/intlayer_with_nextjs_14.md
  docs/en/intlayer_with_nextjs_15.md
  docs/en/intlayer_with_nextjs_page_router.md
  docs/en/intlayer_with_vite+react.md
Due: prettier --write

feat(config): enhance configuration commands with environment options and improve loading logic
  docs/en/intlayer_CMS.md
  docs/en/intlayer_cli.md
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/config.ts
  packages/@intlayer/cli/src/pushConfig.ts
  packages/@intlayer/config/src/appLoggerServer.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/configFile/getConfiguration.ts
  packages/@intlayer/config/src/configFile/loadConfigurationFile.ts
  packages/@intlayer/config/src/envVariables/loadEnvFile.ts
  packages/@intlayer/config/src/index.ts
Due: prettier --write, eslint --fix --cache

feat(core): update monorepo script to manage packages builds
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/config/src/configFile/getConfiguration.ts
  packages/@intlayer/core/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/vite-intlayer/package.json
  pnpm-lock.yaml
  scripts/dev-pick.mjs
  scripts/package-build-order.mjs
  scripts/script-changed-package-command.mjs
  scripts/script-dev-package-command.mjs
  scripts/script-package-command.mjs
  scripts/script-pick.mjs
Due: prettier --write, eslint --fix --cache

chore: bump version to 4.1.8 for all packages
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/vite-intlayer/package.json
Due: prettier --write

feat: add missing clean and reset scripts to packages
  apps/backend/package.json
  package.json
  packages/@intlayer/design-system/package.json
  packages/intlayer-editor/package.json
  pnpm-lock.yaml
Due: prettier --write

core: add changeset
  .changeset/rotten-hats-beam.md
Due: prettier --write

docs: update CONTRIBUTING.md to reflect pnpm usage and improve clarity
  CONTRIBUTING.md
Due: prettier --write

fix(core): fix changeset
  .github/workflows/build_and_test.yaml
  .github/workflows/release.yaml
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: update build commands to use pnpm build instead of pnpm build:packages
  .github/workflows/build_and_test.yaml
  .github/workflows/release.yaml
  package.json
Due: prettier --write

feat: update workspace configuration with new package entries and rename existing ones
  monorepo.code-workspace
Due: none

fix(webpack): fix IntlayerPlugin to build dictionaries before the app build
  packages/@intlayer/webpack/src/webpack-plugin.ts
Due: prettier --write, eslint --fix --cache

chore: bump version to 4.1.9 for all packages
  .changeset/stale-forks-judge.md
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/vite-intlayer/package.json
Due: prettier --write

fix(editor): prevent event listener initialization if hot reload is disabled
  packages/react-intlayer/src/editor/IntlayerEditorProvider.tsx
Due: prettier --write, eslint --fix --cache

fix(backend): fix build
  packages/@intlayer/api/src/IntlayerEventListener.ts
  packages/@intlayer/chokidar/src/checkDictionaryChanges.ts
Due: prettier --write, eslint --fix --cache

feat(editor): add ChangedContent context for managing dictionary hotReload changes
  packages/@intlayer/editor-react/src/ChangedContentContext.tsx
  packages/@intlayer/editor-react/src/EditedContentContext.tsx
  packages/@intlayer/editor-react/src/index.ts
  packages/react-intlayer/src/client/IntlayerProvider.tsx
  packages/react-intlayer/src/client/useIntlayer.ts
  packages/react-intlayer/src/editor/IntlayerEditorProvider.tsx
Due: prettier --write, eslint --fix --cache

fix(pricing): remove hot reloading mention from plan details
  apps/website/src/components/PricingPage/data.content.ts
Due: prettier --write, eslint --fix --cache

chore: update esbuild-fix-imports-plugin to version 1.0.12
  apps/backend/package.json
  pnpm-lock.yaml
  utils/tsup-config/package.json
Due: prettier --write

chore: update .gitignore to include logs directory
  apps/backend/.gitignore
Due: none

chore: update esbuild-fix-imports-plugin to version 1.0.14 and disable minification in tsup config
  apps/backend/package.json
  pnpm-lock.yaml
  utils/tsup-config/package.json
  utils/tsup-config/tsup-config.mjs
Due: prettier --write

fix(webpack-plugin): prevent infinite reloading on CRA and next by adding isWatching flag
  packages/@intlayer/webpack/src/webpack-plugin.ts
Due: prettier --write, eslint --fix --cache

chore: bump version to 4.1.10 for all packages
  .changeset/sixty-jeans-prove.md
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/vite-intlayer/package.json
Due: prettier --write

fix(webpack-plugin): enhance watch mode by integrating configuration and improving build process
  packages/@intlayer/webpack/src/webpack-plugin.ts
Due: prettier --write, eslint --fix --cache

chore: bump version to 4.1.11 for all packages
  .changeset/wild-llamas-bathe.md
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/webpack/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/next-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/vite-intlayer/package.json
Due: prettier --write

feat(core): implement nesting
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/chokidar/src/chokidar/watcher.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_type/createModuleAugmentation.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_type/createType.ts
  packages/@intlayer/core/src/interpreter/getContent/deepTransform.ts
  packages/@intlayer/core/src/interpreter/getContent/getContent.ts
  packages/@intlayer/core/src/interpreter/getContent/plugins.ts
  packages/@intlayer/core/src/interpreter/getDictionary.ts
  packages/@intlayer/core/src/interpreter/getIntlayer.ts
  packages/@intlayer/core/src/interpreter/getNesting.ts
  packages/@intlayer/core/src/transpiler/nesting/nesting.ts
  packages/react-intlayer/src/plugins.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

fix(transpiler): enhance key formatting in TypeScript type generation
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_type/createType.ts
Due: prettier --write, eslint --fix --cache

fix(transpiler): remove quote conversion in TypeScript type generation to fix escaping issue
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_type/createType.ts
Due: prettier --write, eslint --fix --cache
