Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

refactor(app): update link preload strategy to viewport and adjust dashboard sidebar container width
  apps/app/src/components/Dashboard/DashboardSidebar/DashboardSidebar.tsx
  apps/website-tanstack/src/components/Navbar/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website-tanstack): fix transparency property from navigation containers
  packages/@intlayer/design-system/src/components/Navbar/DesktopNavbar.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): remove motion animation from landing page title component
  apps/website-tanstack/src/components/LandingPage/HeroSection/index.tsx
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website-tanstack): optimize SEO
  apps/app/src/routeTree.gen.ts
  apps/website-tanstack/src/components/I18nBenchmark/LibCard.tsx
  apps/website-tanstack/src/components/I18nBenchmark/constants.tsx
  apps/website-tanstack/src/globals.css
  apps/website-tanstack/src/providers/AppProviders.tsx
  apps/website-tanstack/src/routeTree.gen.ts
  apps/website-tanstack/src/routes/__root.tsx
  apps/website-tanstack/src/routes/api/proxy/ahrefs-analytics.ts
  apps/website-tanstack/vite.config.ts
  apps/website/src/components/I18nBenchmark/LibCard.tsx
  bun.lock
  package.json
  packages/@intlayer/design-system/src/components/Footer/index.tsx
  packages/@intlayer/design-system/src/components/Tab/tab.stories.tsx
  packages/@intlayer/design-system/src/components/TextArea/AutoSizeTextArea.tsx
  packages/@intlayer/design-system/src/components/TextArea/TextArea.tsx
  packages/@intlayer/design-system/src/components/TextArea/autocompleteTextarea.stories.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(website-tanstack): remove unused Loader component and pending component configuration from router
  apps/website-tanstack/src/router.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website-tanstack): update Inter italic font import path to resolve module resolution error
  apps/website-tanstack/src/globals.css
Due: none

perf(website-tanstack): implement babel plugins for intlayer dictionary pruning and field minification
  apps/website-tanstack/src/components/DocPage/DocumentationRender.tsx
  apps/website-tanstack/src/components/DocPage/SectionScroller.tsx
  apps/website-tanstack/src/router.tsx
  apps/website-tanstack/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(apps): introduce babel plugins for dictionary minification and purging with utility configuration helpers, and update site analyzer UI components
  apps/app/src/components/ScannerPage/Analyzer/Results/AnalyzerSiteResults.tsx
  apps/showcase/src/components/FiltersBar.tsx
  apps/showcase/src/components/Scanner/Analyzer/Results/AnalyzerSiteResults.tsx
  apps/website-tanstack/src/components/LandingPage/WhyToChoseIntlayerSection/index.tsx
  apps/website-tanstack/src/components/ScannerPage/Analyzer/Results/AnalyzerSiteResults.tsx
  apps/website/src/components/LandingPage/WhyToChoseIntlayerSection/index.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerSiteResults.tsx
  examples/nextjs-14-app/src/app/[locale]/page.tsx
  packages/@intlayer/design-system/src/components/Command/index.tsx
  packages/@intlayer/design-system/src/components/Headers/index.tsx
  packages/@intlayer/design-system/src/components/Loader/loader.stories.tsx
  packages/@intlayer/design-system/src/components/Tab/tab.stories.tsx
  packages/@intlayer/design-system/src/components/TextArea/autocompleteTextarea.stories.tsx
  packages/@intlayer/design-system/src/components/TextArea/autosizedTextarea.stories.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(babel): introduce babel plugins for dictionary minification and purging with utility configuration helpers, and update site analyzer UI components
  docs/docs/ar/bundle_optimization.md
  docs/docs/bn/bundle_optimization.md
  docs/docs/cs/bundle_optimization.md
  docs/docs/de/bundle_optimization.md
  docs/docs/en-GB/bundle_optimization.md
  docs/docs/en/bundle_optimization.md
  docs/docs/es/bundle_optimization.md
  docs/docs/fr/bundle_optimization.md
  docs/docs/hi/bundle_optimization.md
  docs/docs/id/bundle_optimization.md
  docs/docs/it/bundle_optimization.md
  docs/docs/ja/bundle_optimization.md
  docs/docs/ko/bundle_optimization.md
  docs/docs/nl/bundle_optimization.md
  docs/docs/pl/bundle_optimization.md
  docs/docs/pt/bundle_optimization.md
  docs/docs/ru/bundle_optimization.md
  docs/docs/tr/bundle_optimization.md
  docs/docs/uk/bundle_optimization.md
  docs/docs/ur/bundle_optimization.md
  docs/docs/vi/bundle_optimization.md
  docs/docs/zh-TW/bundle_optimization.md
  docs/docs/zh/bundle_optimization.md
  packages/@intlayer/babel/src/babel-plugin-intlayer-field-rename.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-minify.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-purge.ts
  packages/@intlayer/babel/src/getPurgePluginOptions.ts
  packages/@intlayer/babel/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(app): implement granular permission checks for dashboard actions and forms based on user session roles
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryModals.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/DictionaryToolbar.tsx
  apps/app/src/components/Dashboard/DictionaryListDashboard/index.tsx
  apps/app/src/components/Dashboard/ProjectForm/AccessKey/AccessKeyForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/ProviderSelector.tsx
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/index.tsx
  apps/app/src/components/Dashboard/TagForm/TagForm.tsx
  apps/app/src/components/Dashboard/TagForm/TagList.tsx
  apps/app/src/components/ScannerPage/Analyzer/Results/AnalyzerPageResults.tsx
  apps/app/src/components/ScannerPage/Analyzer/Results/AnalyzerSiteResults.tsx
  apps/app/src/components/ScannerPage/Analyzer/Results/BundleContentField.tsx
  apps/app/src/components/ScannerPage/Analyzer/Results/RobotsSection.tsx
  apps/app/src/components/ScannerPage/Analyzer/Results/SitemapSection.tsx
  apps/website-tanstack/src/components/LandingPage/HeroSection/index.tsx
  apps/website/src/components/LandingPage/LandingSection/index.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/SaveForm/SaveForm.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): move editor drawer into portail
  apps/app/src/components/Dashboard/Editor/DictionaryEditionDrawer/DictionaryEditionDrawer.tsx
  apps/app/src/components/Dashboard/Editor/DictionaryEditionDrawer/useDictionaryEditionDrawer.ts
  apps/app/src/components/Dashboard/Editor/DictionaryListDrawer/DictionaryListDrawer.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): update redirection using params
  apps/app/src/routes/index.tsx
  apps/app/src/routes/{-$locale}/$.tsx
  apps/app/src/routes/{-$locale}/404.tsx
  apps/app/src/routes/{-$locale}/_dashboard/index.tsx
  apps/app/src/routes/{-$locale}/_dashboard/route.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): update sitemap alternate link formatting, and adjust page meta structure
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/bundle_optimization.json
  apps/website-tanstack/src/routes/__root.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/frequent-questions/$.tsx
  apps/website-tanstack/src/routes/{-$locale}/index.tsx
  packages/@intlayer/core/src/localization/generateSitemap.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(app): improve admin dashboard layout responsiveness and consistency across pages and skeletons
  apps/app/src/components/Dashboard/AdminPage/AdminAffiliates/AffiliatesAdminSkeleton.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminDiscussions/DiscussionsAdminSkeleton.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminOrganizations/OrganizationsAdminPage.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminOrganizations/OrganizationsAdminSkeleton.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminProjects/ProjectsAdminPage.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminProjects/ProjectsAdminSkeleton.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminPromoCodes/PromoCodesAdminSkeleton.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminUsers/UserAdminPage.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminUsers/UsersAdminSkeleton.tsx
  apps/website-tanstack/src/components/LandingPage/WhyToChoseIntlayerSection/index.tsx
  apps/website/src/components/LandingPage/WhyToChoseIntlayerSection/index.tsx
  packages/@intlayer/design-system/src/components/Loader/index.tsx
  packages/@intlayer/design-system/src/components/Loader/loader.stories.tsx
  packages/@intlayer/design-system/src/components/Tab/tab.stories.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): fix build by adding missing structed data .content
  apps/app/src/structuredData/organization.content.ts
  apps/showcase/src/structuredData/organization.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): add optional chaining to prevent runtime errors on null fields and update file tree background color
  apps/website-tanstack/src/components/ScannerPage/Analyzer/Results/AnalyzerPageResults.tsx
  apps/website-tanstack/src/components/ScannerPage/Analyzer/Results/AnalyzerSiteResults.tsx
  apps/website-tanstack/src/components/ScannerPage/Analyzer/Results/BundleContentField.tsx
  apps/website-tanstack/src/components/ScannerPage/Analyzer/Results/RobotsSection.tsx
  apps/website-tanstack/src/components/ScannerPage/Analyzer/Results/SitemapSection.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerPageResults.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/AnalyzerSiteResults.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/BundleContentField.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/RobotsSection.tsx
  apps/website/src/components/ScannerPage/Analyzer/Results/SitemapSection.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): update dark mode background color for active file tree items
  packages/@intlayer/design-system/src/components/IDE/FileTree.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: update LocaleSwitcher preload property and improve next-intl plugin alias resolution for Turbopack compatibility
  apps/app/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/showcase/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  apps/website-tanstack/src/components/LocaleSwitcher/LocaleSwitcher.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website-tanstack): fix migration step control
  apps/website-tanstack/server/middleware/0.mdRawRewrite.ts
  apps/website-tanstack/server/middleware/1.redirects.ts
  apps/website-tanstack/src/routes/{-$locale}/_docs/blog/$.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/doc/$.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/frequent-questions/$.tsx
  apps/website-tanstack/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(solid-intlayer): support dynamic dictionaries under SSR and hydration
  examples/tanstack-start-solid-app/intlayer.config.ts
  packages/solid-intlayer/src/IntlayerNode.test.tsx
  packages/solid-intlayer/src/IntlayerNode.tsx
  packages/solid-intlayer/src/client/useDictionaryDynamic.test.ts
  packages/solid-intlayer/src/client/useDictionaryDynamic.ts
  packages/solid-intlayer/src/client/useLoadDynamic.integration.test.tsx
  packages/solid-intlayer/src/client/useLoadDynamic.test.ts
  packages/solid-intlayer/src/client/useLoadDynamic.ts
  packages/solid-intlayer/src/proxyKeys.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(react-native): delegate metro fallback resolution
  packages/react-native-intlayer/package.json
  packages/react-native-intlayer/src/configMetroIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website-tanstack): implement next-intl navigation compatibility layer and enhance i18n middleware and plugin resolution
  apps/website-tanstack/server/middleware/0.mdRawRewrite.ts
  apps/website-tanstack/server/middleware/1.redirects.ts
  compat/next-i18next/src/plugin/index.ts
  compat/next-intl/package.json
  compat/next-intl/src/middleware.ts
  compat/next-intl/src/navigation/Link.tsx
  compat/next-intl/src/navigation/createNavigation.ts
  compat/next-intl/src/navigation/hooks.ts
  compat/next-intl/src/navigation/index.ts
  compat/next-intl/src/navigation/localizeHref.ts
  compat/next-intl/src/plugin/index.ts
  compat/react-i18next/src/initReactI18next.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(example): update dictionary import mode to dynamic and correct config structure in example apps
  examples/tanstack-start-solid-app/intlayer.config.ts
  examples/vite-solid-app/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update packages dependencies
  apps/app/package.json
  apps/backend/package.json
  apps/showcase/package.json
  apps/website-tanstack/package.json
  apps/website/package.json
  bun.lock
  examples/tanstack-start-app/package.json
  packages/@intlayer/ai/package.json
  packages/@intlayer/design-system/package.json
  packages/react-native-intlayer/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(react-native-intlayer): prevent infinite recursion in metro resolver by delegating to bundled metro-resolver instance
  packages/react-native-intlayer/src/configMetroIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(backend): normalize cookie expiry configuration and centralize cookie utility logic
  apps/backend/src/utils/cors.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(config): allow cookie expiry to be defined as a string and add helper utilities
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/configuration.json
  docs/docs/ar/configuration.md
  docs/docs/bn/configuration.md
  docs/docs/cs/configuration.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/nl/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/uk/configuration.md
  docs/docs/ur/configuration.md
  docs/docs/vi/configuration.md
  docs/docs/zh/configuration.md
  packages/@intlayer/config/src/configFile/configurationSchema.ts
  packages/@intlayer/config/src/configFile/validation.test.ts
  packages/@intlayer/config/src/utils/getStorageAttributes.test.ts
  packages/@intlayer/config/src/utils/getStorageAttributes.ts
  packages/@intlayer/core/src/utils/cookieExpiry.test.ts
  packages/@intlayer/core/src/utils/cookieExpiry.ts
  packages/@intlayer/core/src/utils/localeStorage.ts
  packages/@intlayer/types/src/config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: bump posthog-js from 1.381.1
  apps/app/package.json
  apps/showcase/package.json
  apps/website-tanstack/package.json
  apps/website/package.json
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website-tanstack): implement lazy loading for SearchTrigger and SearchView components to optimize performance
  apps/website-tanstack/src/components/DocPage/Search/SearchTrigger.tsx
  apps/website/src/components/DocPage/Search/SearchTrigger.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(react-native-intlayer): bump version to 8.12.4 and enhance metro-resolver fallback handling to prevent infinite recursion
  packages/react-native-intlayer/src/configMetroIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): update regex to allow intlayer domains for CORS origin validation
  apps/backend/src/utils/cors.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(windows): normalize paths to POSIX separators for glob and module-id matching
  packages/@intlayer/babel/src/babel-plugin-intlayer-optimize.ts
  packages/@intlayer/chokidar/src/utils/buildComponentFilesList.ts
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website-tanstack): remove overflow-scroll from various admin skeleton components for improved layout
  apps/app/src/components/Dashboard/AdminPage/AdminAffiliates/AffiliatesAdminSkeleton.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminDiscussions/DiscussionsAdminSkeleton.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminOrganizations/OrganizationsAdminPage.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminOrganizations/OrganizationsAdminSkeleton.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminProjects/ProjectsAdminPage.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminProjects/ProjectsAdminSkeleton.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminPromoCodes/PromoCodesAdminSkeleton.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminUsers/UserAdminPage.tsx
  apps/app/src/components/Dashboard/AdminPage/AdminUsers/UsersAdminSkeleton.tsx
  apps/website-tanstack/src/components/I18nBenchmark/index.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/doc/$.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(babel): render solid SSR with a static dictionary in dynamic mode
  packages/@intlayer/babel/src/babel-plugin-intlayer-optimize.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-optimize.ts
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(windows): normalize paths in compiler, extract and vue-async plugins
  packages/@intlayer/babel/src/babel-plugin-intlayer-extract.test.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer-extract.ts
  packages/vite-intlayer/src/IntlayerCompilerPlugin.ts
  packages/vite-intlayer/src/intlayerOptimizePlugin.ts
  packages/vite-intlayer/src/intlayerVueAsyncPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website-tanstack): update input validation to use .validator method in server functions and remove unnecessary Suspense components for improved performance
  apps/website-tanstack/src/components/Dashboard/Editor/EditorProvider.tsx
  apps/website-tanstack/src/components/DocPage/NavListSkeleton.tsx
  apps/website-tanstack/src/router.tsx
  apps/website-tanstack/src/routes/__root.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/blog/$.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/blog/search.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/doc/$.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/doc/chat.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/doc/search.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/frequent-questions/$.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/frequent-questions/index.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/privacy-notice.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/privacy-notice[.]md.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/route.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/terms-of-service.tsx
  apps/website-tanstack/src/routes/{-$locale}/_docs/terms-of-service[.]md.tsx
  apps/website-tanstack/src/routes/{-$locale}/_playground/playground.tsx
  apps/website-tanstack/src/routes/{-$locale}/blog/raw/$.tsx
  apps/website-tanstack/src/routes/{-$locale}/cms.tsx
  apps/website-tanstack/src/routes/{-$locale}/contributors.tsx
  apps/website-tanstack/src/routes/{-$locale}/demo.tsx
  apps/website-tanstack/src/routes/{-$locale}/doc/raw/$.tsx
  apps/website-tanstack/src/routes/{-$locale}/frequent-questions/raw/$.tsx
  apps/website-tanstack/src/routes/{-$locale}/i18n-seo-scanner.tsx
  apps/website-tanstack/src/routes/{-$locale}/index.tsx
  apps/website-tanstack/src/routes/{-$locale}/tms.tsx
  apps/website-tanstack/src/routes/{-$locale}/translate.tsx
  apps/website-tanstack/src/serverFunctions/blog.ts
  apps/website-tanstack/src/serverFunctions/docs.ts
  apps/website-tanstack/src/serverFunctions/faq.ts
  apps/website-tanstack/src/serverFunctions/legal.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(next-intl-template): add @intlayer/swc to devDependencies for improved build support
  bun.lock
  examples/next-intl-template/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(babel): update getOptimizePluginOptions for improved clarity and maintainability
  packages/@intlayer/babel/src/getOptimizePluginOptions.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
