Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

docs: update useLocale documentation to set default onLocaleChange to 'replace' and enhance parameter descriptions
  docs/docs/ar/packages/next-intlayer/useLocale.md
  docs/docs/de/packages/next-intlayer/useLocale.md
  docs/docs/en-GB/packages/next-intlayer/useLocale.md
  docs/docs/en/packages/next-intlayer/useLocale.md
  docs/docs/en/releases/v6.md
  docs/docs/en/releases/v7.md
  docs/docs/en/releases/v8.md
  docs/docs/es/packages/next-intlayer/useLocale.md
  docs/docs/fr/packages/next-intlayer/useLocale.md
  docs/docs/hi/packages/next-intlayer/useLocale.md
  docs/docs/id/packages/next-intlayer/useLocale.md
  docs/docs/it/packages/next-intlayer/useLocale.md
  docs/docs/ja/packages/next-intlayer/useLocale.md
  docs/docs/ko/packages/next-intlayer/useLocale.md
  docs/docs/pl/packages/next-intlayer/useLocale.md
  docs/docs/pt/packages/next-intlayer/useLocale.md
  docs/docs/ru/packages/next-intlayer/useLocale.md
  docs/docs/tr/packages/next-intlayer/useLocale.md
  docs/docs/uk/packages/next-intlayer/useLocale.md
  docs/docs/vi/packages/next-intlayer/useLocale.md
  docs/docs/zh/packages/next-intlayer/useLocale.md
  docs/src/generated/blog.entry.ts
  packages/intlayer/src/routing/index.ts
  packages/next-intlayer/src/client/useLocale.ts
  packages/next-intlayer/src/proxy/intlayerProxy.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: adjust Tab component styling for better overflow handling and update MarkdownRender header class for improved layout
  docs/docs/en/dictionary/markdown.md
  docs/docs/en/releases/v6.md
  docs/docs/en/releases/v7.md
  docs/docs/en/releases/v8.md
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownRender.tsx
  packages/@intlayer/design-system/src/components/Tab/Tab.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: simplify props handling in DocumentationRender component and enhance TableOfContents integration
  apps/website/src/components/DocPage/DocumentationRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: update custom URL rewrite documentation to standardize framework terminology and enhance examples for better clarity
  docs/docs/en/custom_url_rewrites.md
  docs/docs/en/releases/v8.md
  packages/@intlayer/core/src/localization/rewriteUtils.test.ts
  packages/@intlayer/core/src/localization/rewriteUtils.ts
  packages/@intlayer/types/src/config.ts
  packages/intlayer/src/routing/index.test.ts
  packages/intlayer/src/routing/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: format compiler package installation instructions for Vue and Svelte for improved readability
  docs/docs/en/releases/v8.md
Due: prettier --write

chore: remove redirects for specific blog pages related to CMS technologies
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: swap logo positions and adjust initial post properties in AvailableTechnoSection for better layout
  apps/website/src/components/LandingPage/AvailableTechnoSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update AI embeddings for various documentation files to improve accuracy and consistency across frameworks
  apps/backend/src/utils/AI/askDocQuestion/embeddings/blog/en/list_i18n_technologies/frameworks/angular.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/html.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/markdown.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/intlayer_with_angular.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/next-intlayer/exports.json
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/packages/react-intlayer/exports.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: fix bundling transformation
  apps/app/intlayer.config.ts
  apps/website/intlayer.config.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/buildIntlayerDictionary.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeUnmergedDictionary.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/swc/Cargo.toml
  packages/@intlayer/swc/src/lib.rs
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
  packages/@intlayer/types/src/config.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
  packages/vite-intlayer/src/intlayerVueAsyncPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: normalize path separators in import path computation to ensure cross-platform compatibility
  packages/@intlayer/swc/src/lib.rs
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

test: add unit tests for babel-plugin-intlayer-optimize to validate import transformations across React, Svelte, and Vue
  packages/@intlayer/babel/src/babel-plugin-intlayer-optimize.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update release notes for version 8
  docs/docs/ar/releases/v8.md
  docs/docs/de/releases/v8.md
  docs/docs/en-GB/releases/v8.md
  docs/docs/en/releases/v8.md
  docs/docs/es/releases/v8.md
  docs/docs/fr/releases/v8.md
  docs/docs/hi/releases/v8.md
  docs/docs/id/releases/v8.md
  docs/docs/it/releases/v8.md
  docs/docs/ja/releases/v8.md
  docs/docs/ko/releases/v8.md
  docs/docs/pl/releases/v8.md
  docs/docs/pt/releases/v8.md
  docs/docs/ru/releases/v8.md
  docs/docs/tr/releases/v8.md
  docs/docs/uk/releases/v8.md
  docs/docs/vi/releases/v8.md
  docs/docs/zh/releases/v8.md
Due: prettier --write

fix(core): improve markdown indentation detection for custom/HTML components
  docs/docs/ar/dictionary/html.md
  docs/docs/ar/dictionary/markdown.md
  docs/docs/de/dictionary/html.md
  docs/docs/de/dictionary/markdown.md
  docs/docs/en-GB/dictionary/html.md
  docs/docs/en-GB/dictionary/markdown.md
  docs/docs/en/dictionary/html.md
  docs/docs/en/dictionary/markdown.md
  docs/docs/es/dictionary/html.md
  docs/docs/es/dictionary/markdown.md
  docs/docs/fr/dictionary/html.md
  docs/docs/fr/dictionary/markdown.md
  docs/docs/hi/dictionary/html.md
  docs/docs/hi/dictionary/markdown.md
  docs/docs/id/dictionary/html.md
  docs/docs/id/dictionary/markdown.md
  docs/docs/it/dictionary/html.md
  docs/docs/it/dictionary/markdown.md
  docs/docs/ja/dictionary/html.md
  docs/docs/ja/dictionary/markdown.md
  docs/docs/ko/dictionary/html.md
  docs/docs/ko/dictionary/markdown.md
  docs/docs/pl/dictionary/html.md
  docs/docs/pl/dictionary/markdown.md
  docs/docs/pt/dictionary/html.md
  docs/docs/pt/dictionary/markdown.md
  docs/docs/ru/dictionary/html.md
  docs/docs/ru/dictionary/markdown.md
  docs/docs/tr/dictionary/html.md
  docs/docs/tr/dictionary/markdown.md
  docs/docs/uk/dictionary/html.md
  docs/docs/uk/dictionary/markdown.md
  docs/docs/vi/dictionary/html.md
  docs/docs/vi/dictionary/markdown.md
  docs/docs/zh/dictionary/html.md
  docs/docs/zh/dictionary/markdown.md
  packages/@intlayer/core/src/markdown/compiler.test.ts
  packages/@intlayer/core/src/markdown/constants.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: add `html` content node type and update documentation across multiple languages
  docs/docs/ar/dictionary/content_file.md
  docs/docs/de/dictionary/content_file.md
  docs/docs/en-GB/dictionary/content_file.md
  docs/docs/en/dictionary/content_file.md
  docs/docs/es/dictionary/content_file.md
  docs/docs/fr/dictionary/content_file.md
  docs/docs/hi/dictionary/content_file.md
  docs/docs/id/dictionary/content_file.md
  docs/docs/it/dictionary/content_file.md
  docs/docs/ja/dictionary/content_file.md
  docs/docs/ko/dictionary/content_file.md
  docs/docs/pl/dictionary/content_file.md
  docs/docs/pt/dictionary/content_file.md
  docs/docs/ru/dictionary/content_file.md
  docs/docs/tr/dictionary/content_file.md
  docs/docs/uk/dictionary/content_file.md
  docs/docs/vi/dictionary/content_file.md
  docs/docs/zh/dictionary/content_file.md
Due: prettier --write

docs: add instruction about the new html() node in v8
  docs/docs/ar/dictionary/html.md
  docs/docs/de/dictionary/html.md
  docs/docs/en-GB/dictionary/html.md
  docs/docs/en/dictionary/html.md
  docs/docs/es/dictionary/html.md
  docs/docs/fr/dictionary/html.md
  docs/docs/hi/dictionary/html.md
  docs/docs/id/dictionary/html.md
  docs/docs/it/dictionary/html.md
  docs/docs/ja/dictionary/html.md
  docs/docs/ko/dictionary/html.md
  docs/docs/pl/dictionary/html.md
  docs/docs/pt/dictionary/html.md
  docs/docs/ru/dictionary/html.md
  docs/docs/tr/dictionary/html.md
  docs/docs/uk/dictionary/html.md
  docs/docs/vi/dictionary/html.md
  docs/docs/zh/dictionary/html.md
Due: prettier --write

refactor: update embeddings
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/html.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat: implement path normalization for cross-platform compatibility
  packages/@intlayer/swc/src/lib.rs
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

feat: enhance insertion plugin to handle enumeration and condition node types
  packages/react-intlayer/src/plugins.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: reorder CMSSection in ProductsSection for correct rendering
  apps/website/src/components/LandingPage/ProductsSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add YouTube demo video link and iframe to release notes for version 8 across multiple languages
  docs/docs/ar/releases/v8.md
  docs/docs/de/releases/v8.md
  docs/docs/en-GB/releases/v8.md
  docs/docs/en/releases/v8.md
  docs/docs/es/releases/v8.md
  docs/docs/fr/releases/v8.md
  docs/docs/hi/releases/v8.md
  docs/docs/id/releases/v8.md
  docs/docs/it/releases/v8.md
  docs/docs/ja/releases/v8.md
  docs/docs/ko/releases/v8.md
  docs/docs/pl/releases/v8.md
  docs/docs/pt/releases/v8.md
  docs/docs/ru/releases/v8.md
  docs/docs/tr/releases/v8.md
  docs/docs/uk/releases/v8.md
  docs/docs/vi/releases/v8.md
  docs/docs/zh/releases/v8.md
Due: prettier --write

refactor: simplify Router component and enhance locale handling with new routing structure
  examples/vite-preact-app/src/Router.tsx
  packages/preact-intlayer/src/client/IntlayerProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: update localization documentation for Vite and Preact, enhancing clarity and adding routing configuration details
  docs/docs/ar/intlayer_with_vite+preact.md
  docs/docs/de/intlayer_with_vite+preact.md
  docs/docs/en-GB/intlayer_with_vite+preact.md
  docs/docs/en/intlayer_with_vite+preact.md
  docs/docs/es/intlayer_with_vite+preact.md
  docs/docs/fr/intlayer_with_vite+preact.md
  docs/docs/hi/intlayer_with_vite+preact.md
  docs/docs/id/intlayer_with_vite+preact.md
  docs/docs/it/intlayer_with_vite+preact.md
  docs/docs/ja/intlayer_with_vite+preact.md
  docs/docs/ko/intlayer_with_vite+preact.md
  docs/docs/pl/intlayer_with_vite+preact.md
  docs/docs/pt/intlayer_with_vite+preact.md
  docs/docs/ru/intlayer_with_vite+preact.md
  docs/docs/tr/intlayer_with_vite+preact.md
  docs/docs/uk/intlayer_with_vite+preact.md
  docs/docs/vi/intlayer_with_vite+preact.md
  docs/docs/zh/intlayer_with_vite+preact.md
Due: prettier --write

chore: remove outdated documentation comments from markdown processing files
  packages/@intlayer/core/src/markdown/compiler.ts
  packages/@intlayer/core/src/markdown/constants.ts
  packages/@intlayer/core/src/markdown/parser.ts
  packages/@intlayer/core/src/markdown/renderer.ts
  packages/@intlayer/core/src/markdown/types.ts
  packages/@intlayer/core/src/markdown/utils.ts
  packages/react-intlayer/src/markdown/processor.tsx
  packages/react-intlayer/src/markdown/runtime.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update GitHub social preview images for both app and website
  apps/app/public/github-social-preview.png
  apps/website/public/github-social-preview.png
Due: none

chore: remove tsx dependency from devDependencies in bun.lock
  bun.lock
Due: none

chore: update bun version to 1.3.8 in package.json, Dockerfiles, and workflows
  .github/workflows/build_and_test.yaml
  .github/workflows/release.yaml
  CONTRIBUTING.md
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/website/Dockerfile
  bun.lock
  package.json
  packages/@intlayer/design-system/Dockerfile
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: remove 'insertion' type from IInterpreterPluginState in multiple packages to streamline type definitions
  packages/angular-intlayer/src/plugins.ts
  packages/preact-intlayer/src/plugins.tsx
  packages/react-intlayer/src/plugins.tsx
  packages/solid-intlayer/src/plugins.tsx
  packages/svelte-intlayer/src/plugins.ts
  packages/vue-intlayer/src/plugins.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: enable quiet mode in dotenv configuration for loadEnvFile function
  packages/@intlayer/config/src/loadEnvFile.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
