Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}": [
    "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "**/package.json": ["prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

fix(website): change heading element to span for question title in FAQ component
  apps/website/src/components/DocPage/FAQ.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

perf(website): improve perf
  apps/app/public/Geist-VariableFont_wght.ttf
  apps/app/vite.config.ts
  apps/showcase/public/Geist-VariableFont_wght.ttf
  apps/showcase/vite.config.ts
  apps/website/public/Geist-VariableFont_wght.ttf
  apps/website/vite.config.ts
  packages/@intlayer/design-system/src/components/MarkDownRender/MarkDownIframe.tsx
  packages/@intlayer/design-system/styles/fonts.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(docs): remove outdated iframe demo for Vite and Svelte integration
  .agents/skills/intlayer-svelte/references/environment_vite-and-svelte.md
  docs/docs/ar/intlayer_with_vite+svelte.md
  docs/docs/de/intlayer_with_vite+svelte.md
  docs/docs/en-GB/intlayer_with_vite+svelte.md
  docs/docs/en/intlayer_with_vite+svelte.md
  docs/docs/es/intlayer_with_vite+svelte.md
  docs/docs/fr/intlayer_with_vite+svelte.md
  docs/docs/hi/intlayer_with_vite+svelte.md
  docs/docs/id/intlayer_with_vite+svelte.md
  docs/docs/it/intlayer_with_vite+svelte.md
  docs/docs/ja/intlayer_with_vite+svelte.md
  docs/docs/ko/intlayer_with_vite+svelte.md
  docs/docs/pl/intlayer_with_vite+svelte.md
  docs/docs/pt/intlayer_with_vite+svelte.md
  docs/docs/ru/intlayer_with_vite+svelte.md
  docs/docs/tr/intlayer_with_vite+svelte.md
  docs/docs/uk/intlayer_with_vite+svelte.md
  docs/docs/vi/intlayer_with_vite+svelte.md
  docs/docs/zh/intlayer_with_vite+svelte.md
Due: prettier --write

chore(website): add new domains to disavow list
  apps/website/public/disavow.txt
Due: none

docs: update guidelines for documentation and blog content
  docs/CLAUDE.md
Due: prettier --write

feat(app): ask users before redirecting to demo
  apps/app/src/components/Demo/DemoPageUI.tsx
  apps/app/src/hooks/useDemoBootstrap.ts
  apps/app/src/routes/{-$locale}/_other/auth/demo.content.ts
  apps/app/src/routes/{-$locale}/_other/auth/demo.tsx
  apps/app/src/routes/{-$locale}/demo.content.ts
  apps/app/src/routes/{-$locale}/demo.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): replace third-party Shiki extension with custom implementation to optimize bundle size and resolve dependency issues
  apps/app/vite.config.ts
  apps/website/stats.html
  apps/website/vite.config.ts
  bun.lock
  packages/@intlayer/design-system/package.json
  packages/@intlayer/design-system/src/components/MarkdownEditor/extensions.ts
  packages/@intlayer/design-system/src/components/MarkdownEditor/markdown-editor.css
  packages/@intlayer/design-system/src/components/MarkdownEditor/markdownEditor.test.tsx
  packages/@intlayer/design-system/src/components/MarkdownEditor/novel/extensions/code-block-shiki.ts
  packages/@intlayer/design-system/src/components/MarkdownEditor/novel/extensions/index.ts
  packages/@intlayer/design-system/src/components/MarkdownEditor/novel/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

style(app): add border and neutral border color to DemoPageUI container
  apps/app/src/components/Demo/DemoPageUI.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): remove unused language loaders and aliases from grammarLoaders and grammarAliases
  packages/@intlayer/design-system/src/components/IDE/shikiLanguages.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): fix HeroSection double border
  apps/website/src/components/LandingPage/HeroSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: fix large link fastify and elysia docs
  docs/docs/ar/intlayer_with_elysia.md
  docs/docs/ar/intlayer_with_fastify.md
  docs/docs/bn/intlayer_with_fastify.md
  docs/docs/cs/intlayer_with_fastify.md
  docs/docs/de/intlayer_with_elysia.md
  docs/docs/de/intlayer_with_fastify.md
  docs/docs/en-GB/intlayer_with_elysia.md
  docs/docs/en-GB/intlayer_with_fastify.md
  docs/docs/en/intlayer_with_elysia.md
  docs/docs/en/intlayer_with_fastify.md
  docs/docs/es/intlayer_with_elysia.md
  docs/docs/es/intlayer_with_fastify.md
  docs/docs/fr/intlayer_with_elysia.md
  docs/docs/fr/intlayer_with_fastify.md
  docs/docs/hi/intlayer_with_elysia.md
  docs/docs/hi/intlayer_with_fastify.md
  docs/docs/id/intlayer_with_elysia.md
  docs/docs/id/intlayer_with_fastify.md
  docs/docs/it/intlayer_with_elysia.md
  docs/docs/it/intlayer_with_fastify.md
  docs/docs/ja/intlayer_with_elysia.md
  docs/docs/ja/intlayer_with_fastify.md
  docs/docs/ko/intlayer_with_elysia.md
  docs/docs/ko/intlayer_with_fastify.md
  docs/docs/nl/intlayer_with_fastify.md
  docs/docs/pl/intlayer_with_elysia.md
  docs/docs/pl/intlayer_with_fastify.md
  docs/docs/pt/intlayer_with_elysia.md
  docs/docs/pt/intlayer_with_fastify.md
  docs/docs/ru/intlayer_with_elysia.md
  docs/docs/ru/intlayer_with_fastify.md
  docs/docs/tr/intlayer_with_elysia.md
  docs/docs/tr/intlayer_with_fastify.md
  docs/docs/uk/intlayer_with_elysia.md
  docs/docs/uk/intlayer_with_fastify.md
  docs/docs/ur/intlayer_with_fastify.md
  docs/docs/vi/intlayer_with_elysia.md
  docs/docs/vi/intlayer_with_fastify.md
  docs/docs/zh/intlayer_with_elysia.md
  docs/docs/zh/intlayer_with_fastify.md
Due: prettier --write

chore(docs): update claude.md
  docs/CLAUDE.md
Due: prettier --write

fix(cli): update react-native-intlayer installation logic for Expo and bare projects
  packages/@intlayer/engine/src/init/utils/packageManager.test.ts
  packages/@intlayer/engine/src/init/utils/packageManager.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(cli): fix import of intlayer in init script
  packages/@intlayer/engine/src/init/utils/configManipulation.test.ts
  packages/@intlayer/engine/src/init/utils/configManipulation.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(astro-intlayer): add default exports for astro-intlayer integration
  packages/astro-intlayer/src/index.test.ts
  packages/astro-intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(backend): implement CSRF protection middleware and related tests
  apps/backend/src/controllers/showcaseProject.controller.ts
  apps/backend/src/index.ts
  apps/backend/src/middlewares/csrf.middleware.test.ts
  apps/backend/src/middlewares/csrf.middleware.ts
  apps/backend/src/utils/cors.ts
  apps/backend/src/utils/csrf.test.ts
  apps/backend/src/utils/csrf.ts
  apps/backend/src/utils/errors/common.errors.ts
  apps/backend/src/utils/trustedOrigins.test.ts
  apps/backend/src/utils/trustedOrigins.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(website): adjust padding in BlogNavList, DocNavList, and layout components for better spacing
  apps/website/src/components/BlogPage/BlogNavList.tsx
  apps/website/src/components/BlogPage/BlogPageLayout.tsx
  apps/website/src/components/DocPage/DocNavList.tsx
  apps/website/src/components/DocPage/DocPageLayout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(design-system): update polygon fill color to use currentColor in HTMX logo
  packages/@intlayer/design-system/src/components/TechLogo/logos/HTMX.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): streamline locale configuration and update default locale to Chinese
  apps/website/src/components/LandingPage/HeroSection/TechLogos.tsx
  apps/website/src/siteRoutes.ts
  packages/@intlayer/design-system/src/routes.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add support for Chinese domain and disable visualizer plugin
  apps/website/vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): implement daily GitHub stars revalidation and caching mechanism
  apps/website/src/components/Navbar/GithubStarCount.tsx
  apps/website/src/components/Navbar/useRevalidatedGithubStars.ts
  apps/website/src/serverFunctions/githubStars.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): implement markdown landing page with modular sections and framework integration
  apps/website/src/components/LandingPage/HeroSection/LandingList.tsx
  apps/website/src/components/LandingPage/HeroSection/index.tsx
  apps/website/src/components/LandingPage/HeroSection/landing-list.content.ts
  apps/website/src/components/MarkdownLandingPage/BenchmarkSection.tsx
  apps/website/src/components/MarkdownLandingPage/ComparisonSection.tsx
  apps/website/src/components/MarkdownLandingPage/CustomizationSection.tsx
  apps/website/src/components/MarkdownLandingPage/FinalCTASection.tsx
  apps/website/src/components/MarkdownLandingPage/FrameworksSection.tsx
  apps/website/src/components/MarkdownLandingPage/FrontmatterSection.tsx
  apps/website/src/components/MarkdownLandingPage/HeroSection.tsx
  apps/website/src/components/MarkdownLandingPage/SSRSection.tsx
  apps/website/src/components/MarkdownLandingPage/benchmark-section.content.ts
  apps/website/src/components/MarkdownLandingPage/comparison-section.content.ts
  apps/website/src/components/MarkdownLandingPage/customization-section.content.ts
  apps/website/src/components/MarkdownLandingPage/final-cta-section.content.ts
  apps/website/src/components/MarkdownLandingPage/frameworks-section.content.ts
  apps/website/src/components/MarkdownLandingPage/frontmatter-section.content.ts
  apps/website/src/components/MarkdownLandingPage/hero-section.content.ts
  apps/website/src/components/MarkdownLandingPage/index.tsx
  apps/website/src/components/MarkdownLandingPage/ssr-section.content.ts
  apps/website/src/components/MarkdownLandingPage/useTabTimer.ts
  apps/website/src/routeTree.gen.ts
  apps/website/src/routes/{-$locale}/markdown-metadata.content.ts
  apps/website/src/routes/{-$locale}/markdown.tsx
  apps/website/src/siteRoutes.ts
  apps/website/src/structuredData/markdownSoftware.content.ts
  packages/@intlayer/design-system/src/routes.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add spam domains to disavow list
  apps/website/public/disavow.txt
Due: none

style(website): update final CTA section text colors and remove unused link imports
  apps/website/src/components/CMSLandingPage/FinalCTASection.tsx
  apps/website/src/components/TMSLandingPage/FinalCTASection.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add interactive I18n message converter tool with dialect translation, live preview, and preset management
  apps/website/src/components/MessageConverterPage/ConverterCheatSheet.tsx
  apps/website/src/components/MessageConverterPage/ConverterEditor.tsx
  apps/website/src/components/MessageConverterPage/constants.ts
  apps/website/src/components/MessageConverterPage/converterUtils.test.ts
  apps/website/src/components/MessageConverterPage/converterUtils.ts
  apps/website/src/components/MessageConverterPage/index.tsx
  apps/website/src/components/MessageConverterPage/messageConverter.content.ts
  apps/website/src/components/MessageConverterPage/types.ts
  apps/website/src/routeTree.gen.ts
  apps/website/src/routes/{-$locale}/i18n-message-converter.content.ts
  apps/website/src/routes/{-$locale}/i18n-message-converter.tsx
  apps/website/src/siteRoutes.ts
  packages/@intlayer/cli/src/fill/writeFill.ts
  packages/@intlayer/design-system/src/routes.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): implement message formatter page with support for ICU, i18next, PO, and Vue i18n formats
  apps/website/src/components/MessageConverterPage/index.tsx
  apps/website/src/components/MessageFormatterPage/FormatterCheatSheet.tsx
  apps/website/src/components/MessageFormatterPage/FormatterEditor.tsx
  apps/website/src/components/MessageFormatterPage/formatter.test.ts
  apps/website/src/components/MessageFormatterPage/index.tsx
  apps/website/src/components/MessageFormatterPage/messageFormatter.content.ts
  apps/website/src/components/MessageFormatterPage/snippets.ts
  apps/website/src/components/MessageFormatterPage/templates/i18nextTemplates.ts
  apps/website/src/components/MessageFormatterPage/templates/icuTemplates.ts
  apps/website/src/components/MessageFormatterPage/templates/index.ts
  apps/website/src/components/MessageFormatterPage/templates/poTemplates.ts
  apps/website/src/components/MessageFormatterPage/templates/vueI18nTemplates.ts
  apps/website/src/components/MessageFormatterPage/types.ts
  apps/website/src/components/MessageFormatterPage/validation.ts
  apps/website/src/routeTree.gen.ts
  apps/website/src/routes/{-$locale}/i18next-message-formatter.content.ts
  apps/website/src/routes/{-$locale}/i18next-message-formatter.tsx
  apps/website/src/routes/{-$locale}/icu-message-formatter.content.ts
  apps/website/src/routes/{-$locale}/icu-message-formatter.tsx
  apps/website/src/routes/{-$locale}/po-file-message-formatter.content.ts
  apps/website/src/routes/{-$locale}/po-file-message-formatter.tsx
  apps/website/src/routes/{-$locale}/vue-i18n-message-formatter.content.ts
  apps/website/src/routes/{-$locale}/vue-i18n-message-formatter.tsx
  apps/website/src/siteRoutes.ts
  packages/@intlayer/design-system/src/routes.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add Intlayer dialect support to the message formatter with new templates and routing
  apps/website/src/components/MessageConverterPage/converterUtils.ts
  apps/website/src/components/MessageConverterPage/index.tsx
  apps/website/src/components/MessageFormatterPage/FormatterCheatSheet.tsx
  apps/website/src/components/MessageFormatterPage/formatter.test.ts
  apps/website/src/components/MessageFormatterPage/index.tsx
  apps/website/src/components/MessageFormatterPage/messageFormatter.content.ts
  apps/website/src/components/MessageFormatterPage/snippets.ts
  apps/website/src/components/MessageFormatterPage/templates/index.ts
  apps/website/src/components/MessageFormatterPage/templates/intlayerTemplates.ts
  apps/website/src/components/MessageFormatterPage/types.ts
  apps/website/src/components/MessageFormatterPage/validation.ts
  apps/website/src/routeTree.gen.ts
  apps/website/src/routes/{-$locale}/intlayer-message-formatter.content.ts
  apps/website/src/routes/{-$locale}/intlayer-message-formatter.tsx
  apps/website/src/siteRoutes.ts
  packages/@intlayer/design-system/src/routes.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: fix build
  packages/@intlayer/core/src/formatters/list.ts
  packages/@intlayer/design-system/tsdown.config.ts
  packages/@intlayer/dictionaries-entry/tsdown.config.ts
  packages/@intlayer/dynamic-dictionaries-entry/tsdown.config.ts
  packages/@intlayer/fetch-dictionaries-entry/tsdown.config.ts
  packages/@intlayer/lsp/tsdown.config.ts
  packages/@intlayer/mcp/tsdown.config.ts
  packages/@intlayer/remote-dictionaries-entry/tsdown.config.ts
  packages/@intlayer/types/tsdown.config.ts
  packages/next-intlayer/src/index.ts
  packages/react-intlayer/src/markdown/MarkdownProvider.tsx
  utils/tsdown-config/tsdown-config.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): enhance device detection and improve mobile navbar behavior
  apps/app/src/components/Dashboard/DashboardNavbar/DashboardNavbar.tsx
  apps/website/src/components/DocPage/DocNavList.tsx
  packages/@intlayer/design-system/src/components/Navbar/MobileNavbar.tsx
  packages/@intlayer/design-system/src/components/Navbar/index.tsx
  packages/@intlayer/design-system/src/hooks/useDevice.test.tsx
  packages/@intlayer/design-system/src/hooks/useDevice.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): replace react-spring with @react-spring/web and update optional dependencies
  apps/app/package.json
  apps/website/package.json
  apps/website/src/components/Globe/Globe.tsx
  bun.lock
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): improve post filtering and date handling in RSS feed generation
  apps/website/src/routes/feed[.]xml.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(astro-react-app): remove unused app
  bun.lock
  examples/astro-react-app/.gitignore
  examples/astro-react-app/astro.config.mjs
  examples/astro-react-app/intlayer.config.ts
  examples/astro-react-app/package.json
  examples/astro-react-app/public/favicon.svg
  examples/astro-react-app/src/components/Button.astro
  examples/astro-react-app/src/components/MultilingualCard.tsx
  examples/astro-react-app/src/layouts/main.astro
  examples/astro-react-app/src/pages/[locale]/index.astro
  examples/astro-react-app/src/pages/[locale]/markdown-page.md
  examples/astro-react-app/src/pages/index.astro
  examples/astro-react-app/src/pages/markdown-page.md
  examples/astro-react-app/src/styles/global.css
  examples/astro-react-app/tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write
