Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(vite-intlayer): disable intlayer plugin during preview command unless liveSync is enabled
  packages/@intlayer/config/src/defaultValues/editor.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): add dictionary details navigation and update IDE iframe title dynamic binding
  apps/app/src/components/Dashboard/TranslateDashboard/index.content.ts
  apps/app/src/components/Dashboard/TranslateDashboard/index.tsx
  apps/app/src/routes/{-$locale}/_dashboard/ide.content.ts
  apps/app/src/routes/{-$locale}/_dashboard/ide.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: rename view details to go to dictionary and move translate button to header end
  apps/app/src/components/Dashboard/TranslateDashboard/index.content.ts
  apps/app/src/components/Dashboard/TranslateDashboard/index.tsx
  apps/app/src/components/SwitchThemeSwitcher.tsx
  packages/@intlayer/design-system/tailwind.css
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

style(app): update button sizes to icon-xl and adjust navbar layout for dashboard components
  apps/app/src/components/Dashboard/DashboardChatBot/index.tsx
  apps/app/src/components/Dashboard/DashboardNavbar/DashboardNavbar.tsx
  apps/app/src/components/Dashboard/Editor/VisualEditorDrawer.tsx
  apps/app/src/components/TranslationStatusAside/TranslationStatusAside.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add syncPO plugin documentation entry to docData configuration
  apps/website/src/components/DocPage/docData.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): optimize module imports and reformat bundled code in index.js
  apps/app/out/main/index.js
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(app): rename IDE_URL to VITE_IDE_URL and update IDE navigation icon
  apps/app/.env.template
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/index.tsx
  apps/app/src/routes/{-$locale}/_dashboard/ide.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): update ConfigSelectionModal layout and styling using container variants
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/ConfigSelectionModal.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add ShowMeBestAI badge to landing page and implement secure server-side configuration parsing utility
  apps/website/src/components/LandingPage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): implement secure configuration parsing via sandboxed child processes
  apps/website/src/components/LandingPage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): implement secure sandboxed JS execution for configuration parsing and lock Bun dependencies
  apps/app/Dockerfile
Due: none

feat(app): implement secure, sandboxed JS execution for configuration parsing
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/parseConfigContent.ts
  apps/app/src/utils/safeParseJS.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): correct logo animation positioning for RTL languages
  apps/website/src/components/LandingPage/AvailableTechnoSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: upgrade Docker base images from node:22-alpine to node:26-alpine across all projects
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/showcase/Dockerfile
  apps/website/Dockerfile
  bun.lock
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

feat: add landing page template with hero section and feature badges
  temp.html
Due: none

chore(website): remove featured-on product badges from landing page
  apps/website/src/components/LandingPage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update dependencies including better-auth, commitlint, posthog, and TanStack packages
  apps/app/package.json
  apps/backend/package.json
  apps/showcase/package.json
  apps/website/package.json
  bun.lock
  examples/tanstack-start-app/package.json
  examples/tanstack-start-solid-app/package.json
  package.json
  packages/@intlayer/design-system/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(next-intlayer): allow proxy continuation on redirects and correctly merge headers in multipleProxies middleware
  packages/next-intlayer/src/proxy/multipleProxies.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

docs: add plural content documentation and update sync-po plugin configuration examples
  docs/docs/ar/dictionary/content_file.md
  docs/docs/ar/plugins/sync-po.md
  docs/docs/de/dictionary/content_file.md
  docs/docs/de/plugins/sync-po.md
  docs/docs/en-GB/dictionary/content_file.md
  docs/docs/en-GB/plugins/sync-po.md
  docs/docs/en/dictionary/content_file.md
  docs/docs/en/plugins/sync-po.md
  docs/docs/es/dictionary/content_file.md
  docs/docs/es/plugins/sync-po.md
  docs/docs/fr/dictionary/content_file.md
  docs/docs/fr/plugins/sync-po.md
  docs/docs/hi/dictionary/content_file.md
  docs/docs/hi/plugins/sync-po.md
  docs/docs/id/dictionary/content_file.md
  docs/docs/id/plugins/sync-po.md
  docs/docs/it/dictionary/content_file.md
  docs/docs/it/plugins/sync-po.md
  docs/docs/ja/dictionary/content_file.md
  docs/docs/ja/plugins/sync-po.md
  docs/docs/ko/dictionary/content_file.md
  docs/docs/ko/plugins/sync-po.md
  docs/docs/pl/dictionary/content_file.md
  docs/docs/pl/plugins/sync-po.md
  docs/docs/pt/dictionary/content_file.md
  docs/docs/pt/plugins/sync-po.md
  docs/docs/ru/dictionary/content_file.md
  docs/docs/ru/plugins/sync-po.md
  docs/docs/tr/dictionary/content_file.md
  docs/docs/tr/plugins/sync-po.md
  docs/docs/uk/dictionary/content_file.md
  docs/docs/uk/plugins/sync-po.md
  docs/docs/vi/dictionary/content_file.md
  docs/docs/vi/plugins/sync-po.md
  docs/docs/zh/dictionary/content_file.md
  docs/docs/zh/plugins/sync-po.md
Due: prettier --write

feat(ai): add LM Studio provider support to AI configuration
  bun.lock
  docs/docs/ar/configuration.md
  docs/docs/bn/configuration.md
  docs/docs/cs/configuration.md
  docs/docs/de/configuration.md
  docs/docs/en-GB/configuration.md
  docs/docs/en/configuration.md
  docs/docs/es/configuration.md
  docs/docs/fr/configuration.md
  docs/docs/hi/configuration.md
  docs/docs/id/configuration.md
  docs/docs/it/configuration.md
  docs/docs/ja/configuration.md
  docs/docs/ko/configuration.md
  docs/docs/nl/configuration.md
  docs/docs/pl/configuration.md
  docs/docs/pt/configuration.md
  docs/docs/ru/configuration.md
  docs/docs/tr/configuration.md
  docs/docs/uk/configuration.md
  docs/docs/ur/configuration.md
  docs/docs/vi/configuration.md
  docs/docs/zh/configuration.md
  packages/@intlayer/ai/package.json
  packages/@intlayer/ai/src/aiSdk.ts
  packages/@intlayer/ai/src/index.ts
  packages/@intlayer/types/src/config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: escape angle brackets in IntlayerNode type references across documentation translations
  docs/docs/ja/intlayer_with_nextjs_no_locale_path.md
  docs/docs/ko/intlayer_with_nextjs_no_locale_path.md
  docs/docs/vi/intlayer_with_nextjs_15.md
  docs/frequent_questions/ar/intlayerNode.md
  docs/frequent_questions/de/intlayerNode.md
  docs/frequent_questions/en-GB/intlayerNode.md
  docs/frequent_questions/en/intlayerNode.md
  docs/frequent_questions/es/intlayerNode.md
  docs/frequent_questions/fr/intlayerNode.md
  docs/frequent_questions/hi/intlayerNode.md
  docs/frequent_questions/id/intlayerNode.md
  docs/frequent_questions/it/intlayerNode.md
  docs/frequent_questions/ja/intlayerNode.md
  docs/frequent_questions/ko/intlayerNode.md
  docs/frequent_questions/pl/intlayerNode.md
  docs/frequent_questions/pt/intlayerNode.md
  docs/frequent_questions/ru/intlayerNode.md
  docs/frequent_questions/tr/intlayerNode.md
  docs/frequent_questions/uk/intlayerNode.md
  docs/frequent_questions/vi/intlayerNode.md
  docs/frequent_questions/zh/intlayerNode.md
  docs/tools/markdownFormatting.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(app): consolidate repository link logic into reusable hooks and shared display components
  apps/app/package.json
  apps/app/src/components/Auth/SSOButton/SSOButton.tsx
  apps/app/src/components/Dashboard/ProjectForm/Config/ConfigEditionForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/ProjectForm.tsx
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/ConfigPreviewModal.tsx
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/ConfigSelectionModal.tsx
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/RepositoryItem.tsx
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/RepositoryList.tsx
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/hooks/useProjectConfigActions.ts
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/hooks/useProviderLink.ts
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/hooks/useRepositoryList.ts
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/index.tsx
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/parseConfigContent.ts
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/repositoryLink.content.ts
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/useRepositoryLink.ts
  apps/app/src/routes/{-$locale}/_dashboard/ide.tsx
  apps/backend/src/index.ts
  apps/backend/src/services/github.service.ts
  apps/backend/src/services/project.service.ts
  apps/backend/src/services/showcase/showcaseVerifyGithub.service.ts
  apps/backend/src/services/webhook.service.ts
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/dictionary/content_file.json
  apps/backend/src/utils/github/connectGithub.ts
  apps/backend/src/utils/validation/validateProject.ts
  apps/website/src/components/TranslationLandingPage/CTASection.tsx
  bun.lock
  packages/@intlayer/design-system/src/hooks/reactQuery.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: upgrade to Bun 1.3.14
  .github/workflows/build_and_test.yaml
  .github/workflows/release.yaml
  apps/app/Dockerfile
  apps/backend/Dockerfile
  apps/showcase/Dockerfile
  apps/website/Dockerfile
  bun.lock
  package.json
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website): replace YouTube demo with multiple framework-specific CodeSandbox templates and update CSP policy
  apps/website/next.config.ts
  apps/website/src/components/LandingPage/DemoSection/DemoCodeSandbox/index.content.ts
  apps/website/src/components/LandingPage/DemoSection/DemoCodeSandbox/index.tsx
  apps/website/src/components/LandingPage/DemoSection/index.content.ts
  apps/website/src/components/LandingPage/DemoSection/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): add optional chaining to configuration properties and update EditorProvider validation logic
  apps/app/src/components/Dashboard/Editor/EditorProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): localize repository list UI and update project configuration merging logic
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/RepositoryList.tsx
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/hooks/useProjectConfigActions.ts
  apps/app/src/components/Dashboard/ProjectForm/RepositoryLink/repositoryLink.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): remove redundant buttons in BuildSettings and update CI template installation command
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/BuildSettings.tsx
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/CI_GITHUB_TEMPLATE.yaml
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/buildSettings.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(app): update message mapping, add debug logs, and fix container dimensions and null safety in DiscussionAdminDetail
  apps/app/src/components/Dashboard/AdminPage/AdminDiscussions/DiscussionAdminDetail.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(app): remove webhook trigger functionality and update error component navigation to force page reload
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/BuildSettings.tsx
  apps/app/src/components/Dashboard/ProjectForm/BuildSettings/buildSettings.content.ts
  apps/app/src/components/ErrorComponent.tsx
  apps/showcase/src/components/ErrorComponent.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(app): display application and editor URLs in the application not running view
  apps/app/src/components/Dashboard/Editor/NoApplicationURLView/NoApplicationURLView.tsx
  apps/website/src/components/Dashboard/Editor/ApplicationNotRunningView/ApplicationNotRunningView.tsx
  apps/website/src/components/Dashboard/Editor/ApplicationNotRunningView/applicationNotRunningView.content.ts
  apps/website/src/components/Dashboard/Editor/EditorProvider.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar): lazy-load zod-to-ts to support projects without TypeScript peer dependency
  packages/@intlayer/chokidar/src/createType/createModuleAugmentation.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: fix dev script
  scripts/script-dev-package-command.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(next-intlayer): chain proxies by passing results and merging headers to preserve routing instructions
  packages/next-intlayer/src/proxy/multipleProxies.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(backend): remove obsolete nextjs benchmark embedding file
  apps/backend/src/utils/AI/askDocQuestion/embeddings/docs/en/benchmark/nextjs.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update ai and @ai-sdk/deepseek dependencies to latest versions
  bun.lock
  packages/@intlayer/ai/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

perf(app): optimize DictionaryFieldEditor performance using concurrent transitions, deferred state updates, lazy-loaded components, and mount-on-demand accordion rendering
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/ContentEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/ContentEditorView/TextEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryFieldEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/NavigationView/NavigationViewNode.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/StructureView/StructureView.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: (any of: **/package.json) or (any of: *.{md,mdx})
