Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache

feat(react-intlayer): add useLoadDynamic hook for dynamic promise loading and update exports across modules
  packages/next-intlayer/src/index.ts
  packages/next-intlayer/src/server/index.ts
  packages/react-intlayer/src/client/index.ts
  packages/react-intlayer/src/client/useLoadDynamic.ts
  packages/react-intlayer/src/index.ts
  packages/react-intlayer/src/server/index.ts
  packages/react-intlayer/src/server/useLoadDynamic.ts
Due: prettier --write, eslint --fix --cache

refactor(chokidar): replace writeDictionary with separate writeUnmergedDictionaries and writeMergedDictionaries functions for improved modularity
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/buildIntlayerDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/writeDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/writeMergedDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/writeUnmergedDictionary.ts
Due: prettier --write, eslint --fix --cache

feat(chokidar): implement dynamic dictionary generation and improve dictionary handling with new utility functions
  packages/@intlayer/chokidar/src/chokidar/watcher.ts
  packages/@intlayer/chokidar/src/filterDictionaryLocales.ts
  packages/@intlayer/chokidar/src/getBuiltDynamicDictionariesPath.ts
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/index.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/buildIntlayerDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/formatDictionaryText.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/writeDynamicDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/writeMergedDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/writeUnmergedDictionary.ts
  packages/@intlayer/chokidar/src/transpiler/dictionary_to_main/createDictionaryEntryPoint.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/defaultValues/content.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/next.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/react_app.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/undefined_platform.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/vite.ts
  packages/@intlayer/config/src/envVariables/getConfiguration.ts
  packages/@intlayer/config/src/types/config.ts
Due: prettier --write, eslint --fix --cache

feat(dynamic-dictionaries-entry): implement dynamic-dictionaries-entry pacakge
  packages/@intlayer/dynamic-dictionaries-entry/.npmignore
  packages/@intlayer/dynamic-dictionaries-entry/.prettierignore
  packages/@intlayer/dynamic-dictionaries-entry/CHANGELOG.md
  packages/@intlayer/dynamic-dictionaries-entry/README.md
  packages/@intlayer/dynamic-dictionaries-entry/eslint.config.mjs
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/src/index.ts
  packages/@intlayer/dynamic-dictionaries-entry/tsconfig.json
  packages/@intlayer/dynamic-dictionaries-entry/tsconfig.types.json
  packages/@intlayer/dynamic-dictionaries-entry/tsup.config.ts
Due: prettier --write, eslint --fix --cache

feat(build): implement build optimization
  examples/nextjs-15-app/intlayer.config.ts
  examples/vite-react-app/intlayer.config.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer.ts
  packages/@intlayer/chokidar/src/filterDictionaryLocales.ts
  packages/@intlayer/chokidar/src/getBuiltDynamicDictionariesPath.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/writeDynamicDictionary.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/defaultValues/build.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/next.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/react_app.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/undefined_platform.ts
  packages/@intlayer/config/src/envVariables/extractEnvVariable/vite.ts
  packages/@intlayer/config/src/envVariables/getConfiguration.ts
  packages/@intlayer/config/src/types/config.ts
  packages/@intlayer/swc/src/lib.rs
  packages/next-intlayer/src/index.ts
  packages/next-intlayer/src/server/index.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/react-intlayer/src/client/index.ts
  packages/react-intlayer/src/client/useDictionaryDynamic.ts
  packages/react-intlayer/src/index.ts
  packages/react-intlayer/src/server/index.ts
  packages/react-intlayer/src/server/useDictionaryDynamic.ts
  packages/vite-intlayer/src/intlayerPlugin.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: prettier --write, eslint --fix --cache

chore(swc): update .gitignore to exclude all target files except for the wasm32-wasip1 release plugin
  packages/@intlayer/swc/.gitignore
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

feat(website): add build configuration for optimization and dynamic imports
  apps/website/intlayer.config.ts
Due: prettier --write, eslint --fix --cache

chore: update dependencies
  pnpm-lock.yaml
Due: prettier --write

fix(website): fix build optimization
  apps/website/intlayer.config.ts
  examples/nextjs-15-app/intlayer.config.ts
  packages/next-intlayer/src/server/withIntlayer.ts
Due: prettier --write, eslint --fix --cache

fix(chokidar): correct locale string formatting in dynamic dictionary generation
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/writeDynamicDictionary.ts
Due: prettier --write, eslint --fix --cache

chore(swc): update wasm32-wasip1 release plugin binary
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

fix: fix style on socialNetworks for safari
  packages/@intlayer/design-system/src/components/SocialNetworks/index.tsx
Due: prettier --write, eslint --fix --cache

docs(configuration): update default traversePattern to include vue and svelte file types
  docs/ar/configuration.md
  docs/de/configuration.md
  docs/en-GB/configuration.md
  docs/es/configuration.md
  docs/fr/configuration.md
  docs/hi/configuration.md
  docs/it/configuration.md
  docs/ja/configuration.md
  docs/ko/configuration.md
  docs/pt/configuration.md
  docs/ru/configuration.md
  docs/zh/configuration.md
  packages/@intlayer/config/src/defaultValues/build.ts
Due: prettier --write, eslint --fix --cache

fix: make prune plugin works on vue
  examples/vite-react-app/intlayer.config.ts
  examples/vite-vue-app/vite.config.ts
  packages/@intlayer/babel/src/babel-plugin-intlayer.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
Due: prettier --write, eslint --fix --cache

feat(website): update external links and footer content for new example projects
  apps/website/src/Routes.ts
  apps/website/src/components/Footer/footer.content.ts
Due: prettier --write, eslint --fix --cache

fix(chokidar): update dynamic dictionary with fallback if no translation is present
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/writeDynamicDictionary.ts
  packages/@intlayer/core/src/interpreter/getContent/getLocalisedContent.ts
Due: prettier --write, eslint --fix --cache

feat(website): add footer content for Intlayer setup with Vite and Vue
  apps/website/src/components/Footer/footer.content.ts
Due: prettier --write, eslint --fix --cache

feat(configuration): enhance configuration files with new editor, AI, and build settings
  docs/de/configuration.md
  docs/en/configuration.md
  docs/es/configuration.md
  docs/hi/configuration.md
  docs/it/configuration.md
  docs/ja/configuration.md
  docs/ko/configuration.md
  docs/pt/configuration.md
  docs/ru/configuration.md
Due: prettier --write

docs(configuration): remove outdated dynamic import details from multiple language configuration files
  docs/ar/configuration.md
  docs/de/configuration.md
  docs/en-GB/configuration.md
  docs/en/configuration.md
  docs/es/configuration.md
  docs/fr/configuration.md
  docs/hi/configuration.md
  docs/it/configuration.md
  docs/ja/configuration.md
  docs/ko/configuration.md
  docs/pt/configuration.md
  docs/ru/configuration.md
  docs/zh/configuration.md
Due: prettier --write

fix(intlayer-editor): restore intlayer-editor set up
  packages/intlayer-editor/package.json
  packages/intlayer-editor/server/tsconfig.json
  packages/intlayer-editor/server/tsconfig.types.json
  packages/intlayer-editor/server/tsup.config.ts
  packages/intlayer-editor/types/intlayer.d.ts
Due: prettier --write, eslint --fix --cache

fix(react-intlayer): add return type to useLoadDynamic function for better type safety
  packages/react-intlayer/src/client/useLoadDynamic.ts
  packages/react-intlayer/src/server/useLoadDynamic.ts
Due: prettier --write, eslint --fix --cache

feat(vue-intlayer): add dynamic dictionary and loading functionality with useDictionaryDynamic and useLoadDynamic
  packages/vue-intlayer/src/client/index.ts
  packages/vue-intlayer/src/client/useDictionary.ts
  packages/vue-intlayer/src/client/useDictionaryDynamic.ts
  packages/vue-intlayer/src/client/useLoadDynamic.ts
Due: prettier --write, eslint --fix --cache

fix(chokidar): prevent structured clone of non-serializable values in dynamic dictionary content
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/writeDynamicDictionary.ts
Due: prettier --write, eslint --fix --cache

chore: bump version to 5.5.4 for all Intlayer packages
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

refactor(swc): remove debug print statement from transform function
  packages/@intlayer/swc/src/lib.rs
  packages/@intlayer/swc/target/wasm32-wasip1/release/intlayer_swc_plugin.wasm
Due: none

refactor(chokidar): replace filterDictionaryLocales by getFilteredLocalesContent and update logic
  packages/@intlayer/chokidar/src/filterDictionaryLocales.ts
  packages/@intlayer/chokidar/src/getFilteredLocalesContent.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/transpiler/declaration_file_to_dictionary/intlayer_dictionary/writeDynamicDictionary.ts
  packages/@intlayer/cli/src/fill.ts
Due: prettier --write, eslint --fix --cache

refactor(website): update locales list order in intlayer.config
  apps/website/intlayer.config.ts
Due: prettier --write, eslint --fix --cache

feat(angular-app): initialize Angular application with basic structure, routing, and internationalization support
  examples/angular-app/.editorconfig
  examples/angular-app/.gitignore
  examples/angular-app/README.md
  examples/angular-app/angular.json
  examples/angular-app/intlayer.config.ts
  examples/angular-app/package.json
  examples/angular-app/public/favicon.ico
  examples/angular-app/src/app/app.config.server.ts
  examples/angular-app/src/app/app.config.ts
  examples/angular-app/src/app/app.content.ts
  examples/angular-app/src/app/app.css
  examples/angular-app/src/app/app.html
  examples/angular-app/src/app/app.routes.server.ts
  examples/angular-app/src/app/app.routes.ts
  examples/angular-app/src/app/app.spec.ts
  examples/angular-app/src/app/app.ts
  examples/angular-app/src/index.html
  examples/angular-app/src/main.server.ts
  examples/angular-app/src/main.ts
  examples/angular-app/src/server.ts
  examples/angular-app/src/styles.css
  examples/angular-app/tsconfig.app.json
  examples/angular-app/tsconfig.json
  examples/angular-app/tsconfig.spec.json
  packages/angular-intlayer/package.json
  packages/angular-intlayer/src/client/dictionary.service.ts
  packages/angular-intlayer/src/client/getBrowserLocale.ts
  packages/angular-intlayer/src/client/getDictionary.ts
  packages/angular-intlayer/src/client/getLocale.ts
  packages/angular-intlayer/src/client/index.ts
  packages/angular-intlayer/src/client/intlayer.service.ts
  packages/angular-intlayer/src/client/locale.service.ts
  packages/angular-intlayer/src/client/t.ts
  packages/angular-intlayer/src/getDictionary.ts
  packages/angular-intlayer/src/getIntlayer.ts
  packages/angular-intlayer/src/index.ts
  packages/angular-intlayer/src/markdown/index.ts
  packages/angular-intlayer/src/plugins.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --cache

chore: bump version to 5.5.5 for all Intlayer packages
  apps/backend/package.json
  apps/website/package.json
  blog/package.json
  docs/package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/swc/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
Due: prettier --write

chore: move vite-intlayer to devDependencies in multiple example apps
  examples/nuxt-app/package.json
  examples/vite-preact-app/package.json
  examples/vite-react-app/package.json
  examples/vite-solid-app/package.json
  examples/vite-svelte-app/package.json
  examples/vite-vue-app/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(vite-solid-app): add intLayerMiddlewarePlugin and intlayerPlugin imports to Vite config
  examples/vite-solid-app/vite.config.ts
Due: prettier --write, eslint --fix --cache

feat(website): add ChevronDown component for smooth scrolling in LandingSection
  apps/website/src/components/LandingPage/LandingSection/ChevronDown.tsx
  apps/website/src/components/LandingPage/LandingSection/index.tsx
Due: prettier --write, eslint --fix --cache

fix: fix react 18 build with ts ignore
  packages/react-intlayer/src/server/useLoadDynamic.ts
Due: prettier --write, eslint --fix --cache

feat(website): enhance LandingLayout to display special frame for specific IP
  apps/website/src/app/[locale]/(landing)/layout.tsx
Due: prettier --write, eslint --fix --cache

feat(svelte-intlayer): add Svelte-specific dictionary and locale management functionalities
  packages/svelte-intlayer/src/client/getBrowserLocale.ts
  packages/svelte-intlayer/src/client/index.ts
  packages/svelte-intlayer/src/client/intlayerContext.ts
  packages/svelte-intlayer/src/client/intlayerStore.ts
  packages/svelte-intlayer/src/client/useDictionary.ts
  packages/svelte-intlayer/src/client/useDictionaryDynamic.ts
  packages/svelte-intlayer/src/client/useIntlayer.ts
  packages/svelte-intlayer/src/client/useIntlayerAsync.ts
  packages/svelte-intlayer/src/client/useLocale.ts
  packages/svelte-intlayer/src/getDictionary.ts
  packages/svelte-intlayer/src/getIntlayer.ts
  packages/svelte-intlayer/src/index.ts
  packages/svelte-intlayer/src/markdown/index.ts
  packages/svelte-intlayer/src/plugins.ts
Due: prettier --write, eslint --fix --cache

fix(react-intlayer): resolve TypeScript error by implementing cache fallback in useLoadDynamic
  packages/react-intlayer/src/server/useLoadDynamic.ts
Due: prettier --write, eslint --fix --cache

feat(solid-intlayer): add initial implementation and update build order for Solid integration
  packages/solid-intlayer/src/client/index.ts
  packages/solid-intlayer/src/client/installIntlayer.ts
  packages/solid-intlayer/src/client/useDictionary.ts
  packages/solid-intlayer/src/client/useIntlayer.ts
  packages/solid-intlayer/src/client/useLocale.ts
  packages/solid-intlayer/src/getDictionary.ts
  packages/solid-intlayer/src/getIntlayer.ts
  packages/solid-intlayer/src/index.ts
  packages/solid-intlayer/src/markdown/index.ts
  packages/solid-intlayer/src/plugins.tsx
  scripts/package-build-order.mjs
Due: prettier --write, eslint --fix --cache

feat: add '@intlayer/editor' dependency to Solid, Svelte, and Vue Intlayer packages
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vue-intlayer/package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  eslint --fix --cache: any of: *.{js,jsx,ts,tsx}
